[2018-08-07 03:04] Theisha-Marie opened #4958 "won't download- getting an error message."

[2018-08-07 03:50] SvenMeyer commented on #4949
I wasn't aware that there is such a difference between MM generated accounts and imported accounts

Anyway, especially when in comes to mainnet accounts, I would not be keen to use the same address on another network (ie. for testing), that is even more prone to errors. I would always want to use a different account (number) across various networks. I would even argue that any account should actua

[2018-08-07 03:59] 26000 commented on #1000
@bdresser yup, different. A few (from one to five, random) windows open simultaneously and all show 5/5. But the [dapptester](https://rstormsf.github.io/Dapptester/) mentioned in that discussion works for me, though it uses web3 >=1.0. Will experiment a bit more, maybe the new library is the way.

[2018-08-07 03:59] idotial opened #4959 "blank screen and blink"
Bug Reports:

  Briefly describe the issue you've encountered
  *  Expected Behavior
open metamask successfully
  *  Actual Behavior
blank and blink
  *  Browser Used
brave
  *  Operating System Used
osx

![2deceae8-cffc-4698-b8ca-3146a2cd5127](https://user-images.githubusercontent.com/15015597/43753607-38a54c5e-9a39-11e8-92ba-44fcc9e26644.png)
![d70742af-f133-439c-a647-15e48f174160](https://user-

[2018-08-07 05:07] #4931 closed

[2018-08-07 05:13] hackmod commented on #1820
no other web wallets even support EIP155 disabled blockchian.
without optional EIP155 support, Multi-chain support is much simpler than we expected.

[2018-08-07 05:27] whymarrh commented on #4768
@TrejGun thanks for reporting this. Clearly these scripts have fallen to the wayside as we focus on the new UI—I think long term we're going to remove these in favour of different/better devtools.

[2018-08-07 05:27] #4768 closed

[2018-08-07 14:17] dpazdan commented on #4924
Proposed Revision:
Title: MetaMask: Ethereum Blockchain wallet and browser extension
Section: Productivity
Description:
MetaMask is an extension for accessing Ethereum enabled distributed applications, or "Dapps" in your browser!

The extension injects the Ethereum web3 API into every website's javascript context, so that dapps can read from the blockchain.

MetaMask also lets the user create and

[2018-08-07 14:55] renaud12 commented on #4959
im having the same issue and i cant reinstall cuz i didnt save seed phrase help pz

[2018-08-07 15:22] cjeria opened #4963 "Make Dialogs (Modals) Styles Consistent"
### Only modals should get an "X"
Dialogs come in two main types. First type are attention seeking **modal dialogs** which force a user to interact with them before continuing. Second type is **non-modal dialog** which allow users to click or tap outside of them to dismiss them. There's a third type, which I'm calling **Form Modal Dialog** which should use the same general design styles as the fir

[2018-08-07 16:24] danfinlay opened #4964 "Do not log incorrect password errors to sentry"
We are on track to slightly exceed our sentry quota at our current price tier.

We currently log a sentry event for incorrect password events.

We should catch this error and not log it to sentry, to maintain uninterrupted sentry service.

[2018-08-07 16:39] bdresser commented on #4958
@Theisha-Marie what browser are you using? And what's the error you see? A screenshot might be helpful.

[2018-08-07 17:40] enolan opened #4966 "Firefox: transaction confirmation popup is blank until resized"
This was reported in the #4502 thread by @mallapurbharat [here](https://github.com/MetaMask/metamask-extension/issues/4502#issuecomment-404720596) but is a separate problem from the ibus issue. When I make a transaction, the popup window is blank. If I grab one of the handles and drag it to resize the window, it draws the contents properly and I can confirm the transaction. There are screenshots i

[2018-08-07 17:42] enolan commented on #4966
Apparently I can't read. There's already an issue for this at #4796. My bad.

[2018-08-07 17:42] #4966 closed

[2018-08-07 18:32] jfdelgad opened #4967 "Metamask crashing after update august 07 2018"
Just after update, metamask crash after 5 seconds of clicking on it. Restating the browser (chrome) generates the same pattern once an again.

[2018-08-07 18:34] bdresser commented on #4967
@jfdelgad anything in your browser console or background logs? You can view the extension logs by following instructions [here](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue).

cc @danfinlay @tmashuang

[2018-08-07 18:34] tmashuang commented on #4967
https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue

[2018-08-07 18:38] jfdelgad commented on #4967
Can't get the logs because even if I do not click on metamask it closes after 5seconds of opening the browser (chrome)

[2018-08-07 18:43] tmashuang commented on #4967
The background logs should always show even when the extension is not operating correctly. What about when you navigate to the extension url in a new tab?

[2018-08-07 18:43] jfdelgad commented on #4967
I just saw that chrome is disabling it each time. I force it to re-enable it. Metamask is now requesting to modify the data that I copy and paste, is this correct?

[2018-08-07 18:45] bdresser commented on #4967
Yep, this is required to allow us to let you copy your address from within the extension to your clipboard. Thread [here](https://www.reddit.com/r/ethereum/comments/566pot/are_the_new_metamask_permission_safe/).

Any clues why Chrome is disabling it?

[2018-08-07 18:48] jfdelgad commented on #4967
Nope,but after going through the extensions settings in chrome and turning and re-anable it, it is working.

[2018-08-07 18:48] #4967 closed

[2018-08-07 18:50] danfinlay commented on #4967
I sure hope that's a rare issue! Thanks for sharing it with us.

[2018-08-07 18:51] bdresser commented on #4959
Thanks for reporting @idotial. If you could share a bit more information it'll help us debug.

1. could you visit `chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/home.html` to load the extension full-screen, right click the page and click "Inspect Element" -- do you see any errors in the console?

2. from the console, enter `logState(true)` which will copy your state log to your clipboard. Co

[2018-08-07 19:30] bdresser commented on #4956
@danjm check out #4963

[2018-08-07 19:31] galturok opened #4968 "will not start in firefox after update. Removing key file."
after a few weeks of not using metamask I was unable to get the program to launch the popup.html.

The window would just stay blank then disappear on any click out.

Debugging showed a undefined H error

I did not have my words to remake the den in another computer, but i still had the password so I needed a way to recover my vault data. Lots on online info on where to find the vault in chrome, bu

[2018-08-07 19:46] bdresser commented on #4957
thanks for reporting @TimTinkers. I've been unable to reproduce this, so let me make sure we're doing the same thing:

1. go to full-screen MetaMask, beta UI
2. switch to Account 2
3. click "Details" then "Export Private Key" then type password
4. get private key

When I do this, the UI shows the avatar & public address for Account 2 the whole time. The private key I receive in (4) corresponds to

[2018-08-07 19:59] TimTinkers commented on #4957
Yes, that's exactly correct. Here's a gif with some sacrificial accounts.

![Account changes.](https://i.imgur.com/zgsNM8C.gif)

[2018-08-07 20:05] tmashuang commented on #4957
Some leading questions about `Do Not Use 2`, was it imported as JSON or Priv key? If it was JSON are you using the password created it along with it?

[2018-08-07 20:08] bdresser commented on #4957
Thanks for the GIF, exactly as you described. Not good!

Does this happen in the extension view as well, or just full-screen?

And could I trouble you to email your state logs to support@metamask.io. [Here's how](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-Old-Ui).

@danjm or @alextsg could you take a look?

[2018-08-07 20:18] bdresser commented on #4959
@renaud12 looks from your screenshot like you're on Chrome, check #4894 / #4817 and perhaps try restarting the process in Chrome Task Manager as described in https://github.com/MetaMask/metamask-extension/issues/4817#issuecomment-409717110

[2018-08-07 20:19] bdresser commented on #4817
we've placed a bounty on this issue. Looks like it's not OS-specific so closing this as it duplicates #4894

[2018-08-07 20:19] #4817 closed

[2018-08-07 20:39] danfinlay opened #4970 "NewUI: Add "Reject all" button to all confirmation screens"
Just for cases where users have far too many actions built up.

[2018-08-07 20:39] bdresser commented on #3578
may want to add a "reject all" button

will also be related to #4803

[2018-08-07 20:41] #3885 closed

[2018-08-07 20:42] bdresser commented on #3768
In the old UI, hovering over the error message shows details - let's add this in to new UI

short term: can include the error message where it says `Failed` - long term, this will be handled nicely in the transaction detail view #4786

[2018-08-07 20:43] bdresser commented on #3768
can just do a simple hover-tooltip, no design necessary

[2018-08-07 20:45] bdresser commented on #3214
Not going to have this block removing the old UI, moved out of epic~

[2018-08-07 20:56] bdresser commented on #3385
epic is empty, closing

[2018-08-07 20:56] #3385 closed

[2018-08-07 21:06] bdresser opened #4971 "Display New UI by default"
Once https://github.com/MetaMask/metamask-extension/issues/3386 is completed, we should put all users in the New UI by default.

* For users who were still on the old UI, we should display a welcome screen in the New UI. We can re-use the screen in https://github.com/MetaMask/metamask-extension/issues/4811 with some updated copy
* The option to switch to "Old UI" should remain in settings (for now

[2018-08-07 21:08] TimTinkers commented on #4957
Both of these accounts were imported as private key. This happens in the extension view as well as full-screen. I've emailed my state logs.

[2018-08-07 21:11] bdresser commented on #4968
thanks @galturok this is definitely helpful for someone out there.

@alacrity26 @rdymac could we get this in the Support Center?

[2018-08-07 22:11] danfinlay opened #4973 "UI - Error: [ethjs-rpc] rpc error with payload {"id":6744058272094,"jsonrpc":"2.0","params":[{"to":"0xe1892f9..."
https://sentry.io/metamask/metamask/issues/580570061/

[code]

[2018-08-07 23:31] devenoges opened #4974 "Unable to resend tx with higher gas in v4.9.0"
After the update to 4.9.0 I tried to send some transactions with a low gas. Normally MetaMask displays a text/link like "Taking too long? Resend the transaction here" after a few seconds. But this link isn't displayed anymore.

To be sure I waited some hours and restarted Chrome/Metamask several times, but the link does not show up.

This means: Currently my transactions are stuck because I cannot

[2018-08-07 23:55] bdresser commented on #4974
@devenoges thanks for reporting - are you using the old UI or the new/beta UI?

[2018-08-07 23:58] Maxxi opened #4975 "eth_signTypedData(): callback function is no longer called in v 4.9.0 on 'SIGN' button"
The following code worked fine in <=v 4.8.0:

[code]
But it stopped working in version 4.9.0.
_(err, result) => {}_
callback function is not called anymore after confirming Signature Request (SIGN button)

However, the callback function is still called on 'CANCEL' button as before.

[2018-08-08 00:53] Netherdrake commented on #4975
+1

[2018-08-08 01:12] devenoges commented on #4974
Did not see in old UI after update, then switched to new UI, no change. Tx gone through now so can not check atm.

Where should the 'reprice' link appear?
After how long or how many blocks until the reprice option is shown?

(btw using Chrome on linux)

[2018-08-08 01:46] devenoges commented on #4974
Tried another TX, the current pending tx has nonce around 500, the "Taking too long? Increase the gas price on your transaction" link does appear but its at the bottom of the list of shown transactions below  an earlier dropped transaction from months ago with a nonce around 20 rather then the current pending tx.

I can try grabbing a screenshot next time if that helps.

[2018-08-08 01:49] idotial commented on #4959
@bdresser I use it in brave not chrome, it seems like the blank screen keep changing and i couldn't right click the page to inspect it, you can see the two screenshot are different, it's like switch a thousand times per second

[2018-08-08 01:55] idotial commented on #4959
![etasfasd](https://user-images.githubusercontent.com/15015597/43811784-ecf356c6-9af0-11e8-937c-64be298d2b64.png)
@bdresser here is the screenshot of "Inspect Element" in the way you say, is it right that i use `chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/home.html` in brave?

[2018-08-08 01:56] bdresser commented on #4974
Ok thanks for the extra detail.

"below" as in, it's asking you to retry the dropped transaction? or it's included on a pending transaction that's further back in the history than this old dropped transaction? Trying to determine if it's an issue with history ordering, or with which tx we're asking to retry.

Heads up @danjm @estebanmino

[2018-08-08 01:58] danfinlay commented on #4974
@devenoges actually what would be perfect for this would be your state logs:
https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI-

You can email them to support@metamask.io for increased confidentiality (only addresses are disclosed, no private keys).

Sounds like there was an issue with https://github.com/MetaMask/metamask-extension/pull/4885 @estebanmin

[2018-08-08 02:14] prevuelta opened #4976 "Blurry on retina screens"
![image](https://user-images.githubusercontent.com/4637801/43812429-5e60c3ec-9b15-11e8-8518-b104eadad75a.png)

[2018-08-08 02:16] devenoges commented on #4974
I recall using MEW to fix some stuck transactions a while ago, possibly related.

Have emailed state log, thanks!

[2018-08-08 02:58] devenoges opened #4977 "Token balance display with non standard Decimals eg DGD DGX RHOC"
Automatically added tokens with decimals != 18 appear to display wrong balance in both old and new UI with version 4.9.0

e.g. DGD balance of 0.000002942 shows as 2942 DGD
(DGD has 9 decimals)

[2018-08-08 03:29] nnkken commented on #4975
+1
BTW, when will the current `eth_signTypedData` be deprecated and replaced by the merged EIP-712 behaviour?

[2018-08-08 04:48] bobbyvinon opened #4978 "Updated metamask asks for additional permissions"
After updating this morning, metamask is disabled and asks for additional permissions:

* read and change your data on all eth sites and all test sites

what is this? i want to use it only for purse management and i don't want give this permissions to metamask.

[2018-08-08 04:53] 26000 commented on #1315
Seems like this has been implemented in the latest version. But when i looked at Portal Network's website, it said something about its proprietary services, not a word about how to make my domain resolvable to my own IPFS website hash. Are there any docs? If not, they IMO should be added to @MetaMask/faq. I don't think we want yet another integration with a proprietary vendor-locked service, do we

[2018-08-08 05:21] zmaglica opened #4979 "Metamask .test domain (or any other non TLD) triggers search from Portal Network"
Bug Reports:

  I am using .test domain for local development and when I type URL in the browser, Metamask redirects me to Portal Network search. I am not sure why you guys using that search engine in first place...
  *  Expected Behavior
  When I type URL in browser it actually redirects you to URL you typed
  *  Actual Behavior
  If you type any non-TLD domain in browser, Metamask will redirects

[2018-08-08 07:02] ngtuna commented on #4978
Same concern here

[2018-08-08 07:12] simonk1234 commented on #4979
I've also had this message and would like to know if it's safe to accept.

[2018-08-08 07:17] simonk1234 commented on #4978
Same here. How do I know it can be trusted?

[2018-08-08 08:16] Twibap opened #4980 "Confirm button is not clickable"
![2018-08-08 4 45 07](https://user-images.githubusercontent.com/26022935/43823768-1e8876d2-9b2b-11e8-8f89-1575e812b253.png)

i cannot send ether to my contract
is it relation with "MetaMask: web3 will be deprecated in the near future in favor of the ethereumProvider"??

if i change 'web3' to 'ethjs' in my dApp, not work "require()'

is there way to my contract user send ether to my contract method

[2018-08-08 08:55] jmigdelacruz commented on #4979
Same issue, same specs except:

Operating system used

- MacOS Sierra

[2018-08-08 10:09] turshija commented on #4975
I can confirm this too ...
When user clicks cancel - callback is called with first parameter null and second one contains this object:
[code]

But when user clicks "Sign" - nothing happens - callback doesn't trigger
It works in 4.8.0, but stops working in 4.9.0

[2018-08-08 10:57] consaltus opened #4981 "Why does MetaMask 4.9 ask for new permissions?"
Hi! Why do you need this permission
Changing the copied and pasted data ?
![image](https://user-images.githubusercontent.com/30024675/43833306-f6d6ee60-9b12-11e8-8f5a-00dc0c1fdcfe.png)

[2018-08-08 10:58] safareli commented on #4225
For reference this is was just merged in web3.js
https://github.com/ethereum/web3.js/pull/1618

[2018-08-08 13:03] williamchong007 commented on #4980
Do the client have enough ETH to pay for the transaction?

[2018-08-08 13:35] bitpshr commented on #4975
Hi @Maxxi. This was caused by a premature version bump and will be fixed by #4982. We plan to do a patch release shortly thereafter. Thanks for the issue report and for your patience!

[2018-08-08 13:59] weichain opened #4984 "Metamask doesn't respect token decimals when calling approve on ERC20"
*  Expected Behavior: If I want to approve 120 tokens I should confirm a transaction with 120 tokens
  *  Actual Behavior: I sign a transaction with 120000000000000000000.
  *  Browser Used: Mozilla Firefox, Chrome
  *  Operating System Used: Windows 10/Ubuntu 18

![image](https://user-images.githubusercontent.com/39411116/43841656-56736c54-9b2c-11e8-97b2-dc555aece2be.png)

[2018-08-08 14:07] Dimazsever commented on #4980
I have a similar problem.

[2018-08-08 14:38] bdresser commented on #4980
thanks for reporting @Twibap.

Do you have enough ETH in Account 1 to cover the transaction? Also, what browser are you using?

This is a standard warning, doesn't affect your UI. Are there any other errors you see in the console?

[2018-08-08 14:41] bdresser commented on #4981
hey @consaltus - those permissions are for two new features we've added in 4.9.0

The permission to "change data on `.eth` and `.test` sites is so we can reroute you to the content hash of sites hosted on IPFS / ENs.

The permission to show browser notifications is so we can notify you when your transactions mine.

You can read more about what's new in this most recent version (and more on why we

[2018-08-08 14:44] bdresser commented on #4978
Hi @bobbyvinon and others - those permissions are for two new features we've added in 4.9.0

The permission to "change data on .eth and .test sites" is so we can reroute you to the content hash of sites hosted on IPFS / ENS. (https://github.com/MetaMask/metamask-extension/pull/4405)

The permission to show browser notifications is so we can notify you when your transactions mine. (https://github.c

[2018-08-08 14:46] bdresser commented on #4977
thanks for reporting @devenoges. @danjm @estebanmino could you take a look?

[2018-08-08 14:49] bdresser commented on #4984
thanks for reporting @weichain

@alextsg same as what was reported via Slack

[2018-08-08 14:59] Maxxi commented on #4975
Hi @bitpshr . Thanks for your quick reaction on that problem.

[2018-08-08 15:26] #4975 closed

[2018-08-08 15:38] steve310572 opened #4987 "Trying to install metamask extension, after i have removed it bu mistake. but it wouldn't allow to to add to the chrome, please help"

[2018-08-08 15:58] bdresser commented on #4987
@steve310572 can you say more about why it wouldn't allow you to add it to chrome? Screenshots may be helpful.

Try visiting `chrome://extensions` and making sure the extension is "enabled."

[2018-08-08 15:58] danjm commented on #4977
@devenoges Can you confirm that the incorrect balance shows up for DGX and RHOC as well?

The DGD error makes sense given our current method of finding decimals, as the DGD token contract does not have a decimal method https://etherscan.io/address/0xe0b7927c4af23765cb51314a0e0521a9645f0e2a#code

I'll investigate what we might be able to do about the DGD error, but if you can confirm whether the er

[2018-08-08 16:09] bdresser commented on #4964
@jennypollack that sounds good to me. i'll make sure we include a "incorrect password" event in the metrics spec.

[2018-08-08 16:25] bdresser commented on #4577
ignore! ^ we'll get back shortly, sorry for the wait.

[2018-08-08 16:32] hbeckeri opened #4990 "problems with eth_signTypedData"
I have been using message signing for authentication in my app. To authenticate I generate a challenge on my server, and then metamask users will sign that challenge and send it back to the server to sign in.

client code:
<img width="459" alt="screen shot 2018-08-08 at 12 18 23 pm" src="https://user-images.githubusercontent.com/8557965/43850165-30f86a6e-9b05-11e8-8a39-c10d903dd6e1.png">

I unders

[2018-08-08 16:46] bdresser commented on #4980
sounds like this could related to #4955

[2018-08-08 16:48] steve310572 commented on #4987
All sorted, thank you

[2018-08-08 16:57] #4987 closed

[2018-08-08 16:59] bdresser commented on #4990
@hbeckeri this is a known issue, fix should be out today.

duplicates #4975

[2018-08-08 16:59] #4990 closed

[2018-08-08 17:08] #4981 closed

[2018-08-08 17:11] bdresser opened #4991 "Investigate high gas prices on 4.9.0"
https://twitter.com/crypt0rico/status/1027030251790991360

sent state logs via support, will drop in Slack

[2018-08-08 17:44] bdresser commented on #4979
@zmaglica thanks for the question. We're not routing your request through portal.network - we're loading the ENS info from the blockchain via Infura, and the IPFS content via infura as well.

You can read a full summary of the feature here: https://consensys.zendesk.com/hc/en-us/articles/360012782931

I'll leave this open for a couple days in case other folks have the same question.

[2018-08-08 17:54] bdresser commented on #1315
@26000 some folks from Portal.network built the feature, so the splash page is sort of a shoutout. We're loading ENS data from the blockchain via Infura and IPFS content via Infura as well.

Read more on how the feature is implemented in MetaMask here: https://consensys.zendesk.com/hc/en-us/articles/360012782931.

And you can find some simple guides on how to host [here](https://gist.github.com/Ph

[2018-08-08 18:01] codyborn opened #4992 "Export Private Key: entering incorrect password crashes MetaMask"
Bug Reports:

  Briefly describe the issue you've encountered
  *  Expected Behavior: Entering incorrect password on export private keys screen should allow password retry.
  *  Actual Behavior: Entering incorrect password prevents future attempts with correct password from working.  MetaMask client shows blank screen after re-opening.
  *  Browser Used: Chrome Version 68.0.3440.84
  *  Operating

[2018-08-08 18:02] 1blockologist opened #4993 "eth_signTypedData not sending result to browser"
www.pareto.network not accessible with Metamask with today's version

The console log mentions that "This experimental version of eth_signTypedData will be deprecated", is there a new function we should be using, or is it the same method name with different logic inside? Since this message is still there and not actually deprecated yet, then this is a bug that needs a hot fix

anything I can help

[2018-08-08 18:03] bitpshr commented on #4979
@zmaglica @jmigdelacruz some additional context: URLs in the form of both `<some_domain>.eth` and `<some_domain>.test` are considered valid ENS URLs on certain networks (with `.test` TLDs being specific to testnets like Rinkeby and Ropsten.) You can read more about the difference between these two TLDs [here](http://docs.ens.domains/en/latest/introduction.html#ens-on-ethereum).

This means that Me

[2018-08-08 18:05] renaud12 commented on #4959
@bdresser  i did that alredy many times but doesnt work is say i have a new update if i update metamask will ask me for seed phrase later? cuz i dont have them sadly

[2018-08-08 18:05] indie-rok opened #4994 "Getting metamask version from console"
I was expecting to do `web.currentProvider.metamask_version` or something similar but I can't find the correct command.

Worth saying that I don't need `web3`version. I need `metamask version` (4.8,4.9, etc)

[2018-08-08 18:08] renaud12 commented on #4959
@bdresser yeah im ussing crhone and window 10 should i do this ? or i will ened to type ty seed phrase after the update? https://gyazo.com/56de3f942a03e770dbf56163a911afba

[2018-08-08 18:09] renaud12 commented on #4959
if i click no thanks it goes blank again

[2018-08-08 18:10] 1blockologist commented on #4993
I feel like a unit test would have noticed this

[2018-08-08 18:16] renaud12 commented on #4959
@bdresser  https://gyazo.com/48511199010ab3a58d094db352d4c615?token=85f182097ef2a6058de88c9696659b57 this is what i get on console

[2018-08-08 18:48] greenkeeper[bot] opened #4996 "An in-range update of multihashes is breaking the build 🚨"
## Version **0.4.14** of **multihashes** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fmultihashes-0.4.14">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/

[2018-08-08 18:56] evansjohnson commented on #4993
I am also having this issue. For me, just before the MM UI updates to reflect a spinner that never resolves, the message `"cannot read property EIP712Domain of undefined"` shows on the UI.

I found the same message in a failed test of `eth-sig-util`:
https://circleci.com/gh/MetaMask/eth-sig-util/48#config/containers/0
https://github.com/MetaMask/eth-sig-util/pull/20
which was resolved by using the

[2018-08-08 18:56] #4984 closed

[2018-08-08 19:00] devenoges commented on #4977
Sorry should have checked more thoroughly. Address holds RHOC but appears that is not added automatically. Do not have any DGX so can not check that.

[2018-08-08 19:00] bdresser commented on #4993
hey @1blockologist @evansjohnson - fix was merged for this issue (https://github.com/MetaMask/metamask-extension/issues/4975), should be out later today or tomorrow morning. sorry for the trouble!

[2018-08-08 19:00] #4993 closed

[2018-08-08 19:06] bdresser commented on #4992
thanks for the report @codyborn, I can reproduce reliably.

Was able to get the extension working again by ending the process in the Chrome Task Manager
(`...` --> More Tools --> Chrome Task Manager)

Couple errors in the UI console:

[code]

[2018-08-08 19:14] #4977 closed

[2018-08-08 19:18] estebanmino commented on #4977
@devenoges thank you very much for the feedback. As you said RHOC is not auto detected, neither DGX. In DGD case it should be fixed.

[2018-08-08 19:27] jeffscottward commented on #4980
When swithcing back to the old UI in the settings menu - I see
`Transaction Error. Exception thrown in contract code.`

A demo of ours that uses `truffle-contract` to create the contract object, is able to submit.

I think this may explain "Unknown Function" at the top of the new UI

@danfinlay / @bdresser

[2018-08-08 19:55] frankiebee commented on #4974
after talking with @danjm it's clear what the problem is:
when a transaction is retried and succeeds outside of metamask the transaction in metamask is not marked dropped:

some solutions and actions moving forward:
background: i can put guards for pending transaction to check if the known nonce has exceeded the pending transaction in metamask and if so transition the status to dropped.

ui: inste

[2018-08-08 19:59] bdresser commented on #4994
you can use something like

[code]

Curious: why do you want to detect users' versions? Are you trying to workaround one of the recent issues in 4.9?

[2018-08-08 19:59] #4994 closed

[2018-08-08 20:02] bdresser commented on #4980
@jeffscottward are you experiencing the same error as OP? are you sure you have enough ETH to send?

the "Unknown Function" is expected behavior - we'll show this when we can't lookup the function name in the [method registry](https://github.com/danfinlay/eth-method-registry) we're using.

[2018-08-08 20:56] schmijos commented on #4022
This would also be helpful for me to develop Dapps. I made a mistake and I've now 300 pending transactions 😢

[2018-08-08 21:04] jeffscottward commented on #4980
@bdresser - yes same issue. yes have enough ETH. understood re: UF

[2018-08-08 21:15] bdresser commented on #4022
will probably be handled in https://github.com/MetaMask/Design/issues/25

[2018-08-08 21:29] whymarrh commented on #4750
@vbresan thanks for reporting this. There are a lot of global functions provided to JavaScript applications by the runtime,<sup>[\[1\]](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope)[\[2\]](https://developer.mozilla.org/en-US/docs/Web/API/Window)[\[3\]](https://developer.mozilla.org/en-US/docs/Web/API/WorkerGlobalScope)</sup> `setTimeout` being one of them—unfortunatel

[2018-08-08 21:29] #4750 closed

[2018-08-08 22:08] mryellow commented on #4978
Is that what the message was saying!!

Chrome just says "eth" without a dot, making it not very obvious that they're talking about a TLD. Had me wondering, "What the hell is an 'eth' site".

Seems Chrome might need a UX issue opened.

[2018-08-08 22:35] jeffscottward commented on #4980
MM @4.5.5 - submission works!
Still see that error though in the MM UI `Execption thrown in contract code`

[2018-08-08 22:41] writeprovidence commented on #4577
ok

[2018-08-08 22:42] writeprovidence commented on #4577
still waiting.

[2018-08-08 22:44] JaceHensley opened #4998 "Detect if Metamask is installed"
Since [web3 will no longer be injected by the extension](https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8) there isn't really a way to detect if Metamask is installed.

What would be the best way of detecting if the extension is installed or not going forward?

[2018-08-08 22:58] bdresser commented on #4998
hey @JaceHensley - you're right, and that's sort of the point. But this definitely poses some interesting UX challenges. There's an open discussion on Ethereum Magicians on the same topic [here](https://ethereum-magicians.org/t/the-ux-of-eip-1102/814). From that thread:

Suggestions for a smooth UX are welcome! We're working on this on our end as well, feel free to check out our proposed implement

[2018-08-08 23:04] jennypollack commented on #4980
hey @jeffscottward does the tx succeed after you submit from the older version of mm? would you mind linking the tx here?
The `Transaction Error. Exception thrown in contract code.` is from `estimateGas` and iirc in the old-ui we present this to the user but still allow them to submit (which is inline with what you're reporting from the older version) - sounds like in the new-ui that error is bloc

[2018-08-08 23:10] danfinlay commented on #4577
Hi @writeprovidence, sorry for the wait, I was out last week and only saw this now! Your article is great, does what it claims, thank you so much.

Next up:
- I'm going to invite you to the MetaMask publication
- I'm going to add some changes to the article to punch it up.

I'm happy paying out though, because we can just copy and paste this article already, you've done the hard part of figuring o

[2018-08-08 23:34] indie-rok commented on #4994
Thank you @bdresser .  Works great. Yes, have some informative screenshots for our users to use metamask. Since v.8 and 4.9 UI does not match. We would need to detect metamask version and render the appropriate image.

[2018-08-08 23:39] #4974 closed

[2018-08-08 23:42] JaceHensley commented on #4998
So our flow currently allows detection of install while the user remains on our dapp's signin page. What we do is inject an iframe that refreshes until it detects `web3` (since extensions can't inject into already loaded pages). This allows the user to come to our site without MM installed and either be instructed to install MM or continue. And the page only refreshes once the iframe has detected

[2018-08-08 23:59] qcdll opened #5001 "4.9.0 broke eth_signTypedData"
verified that 4.8.0 worked.

To reproduce: https://danfinlay.github.io/js-eth-personal-sign-examples/
Click "sign typed data"
NOTE that if you cancel, it still works, but actually signing will not close the popup, and further clicking "sign typed data" does not prompt anything (except warning message from https://github.com/MetaMask/metamask-extension/pull/4905 in console)

[2018-08-09 00:10] ninjaahhh commented on #5001
seems both *sign typed data* and *sign typed data with ethjs* would fail

[2018-08-09 00:31] bdresser commented on #5001
this is fixed in develop, should be out in production tomorrow morning. see https://github.com/MetaMask/metamask-extension/issues/4975

going to leave this issue open for now since it keeps getting reported 😄

[2018-08-09 00:33] qcdll commented on #5001
Thanks @bdresser !

[2018-08-09 00:43] #4980 closed

[2018-08-09 00:50] bdresser commented on #4998
Part of the purpose of [EIP 1102](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1102.md) is to prevent sites from knowing if the user has any sort of web3 extension installed. Even this basic info can be used to identify the user's browser fingerprint.

We're aware that adding this layer of privacy makes for a more open-ended experience, where you're not sure whether the user doesn't have

[2018-08-09 00:51] bdresser commented on #4994
Makes sense. Could you share a link? I'd love to improve our documentation and it's good insight to see what other sites find they need to explain

[2018-08-09 02:01] cjeria commented on #3776
This issue has been reported many times and a simple yet effective solution would be to timeout the spinner after a ~20 seconds and throw a message like “Something went wrong, please try switching networks or try again” with a "try again" button.

[2018-08-09 03:04] cjeria commented on #3776
Here's a mockup of the suggest timeout screen with updates per @bdresser suggestion to add a "switch network" button that pops open the network drop down.

<img width="761" alt="image" src="https://user-images.githubusercontent.com/597770/43874850-f4cd98d2-9b5b-11e8-930b-19bdf0fee587.png">

[2018-08-09 03:48] 26000 commented on #1315
@bdresser

But the first link is what i needed, was looking for a hash converter. Thanks a lot!

[2018-08-09 03:53] bdresser commented on #1315
re-published the support article, you should be able to access now.

closing this, released in 4.9.0!

[2018-08-09 03:53] #1315 closed

[2018-08-09 04:47] cjeria commented on #4789
Reworked the speed up components a bit here and made two options. Left option is **Time** focused and right is **Price** focused. Updated the labeling per options as well. @bdresser @snreynolds Thoughts?

<img width="971" alt="image" src="https://user-images.githubusercontent.com/597770/43878416-018af720-9b6d-11e8-9add-3eabca3cceb0.png">

[2018-08-09 08:22] goatcash opened #5004 "Goat Cash (GOAT) Icon"
Hi,

How do we get our token logo so that it appears in metamask?

Thanks.

[2018-08-09 08:26] goatcash commented on #5004
We'd also love to be added to the metamask token search as well, instead of using the custom token addition menu.

[2018-08-09 08:50] jmigdelacruz commented on #4979
@bitpshr Thanks for clarifying. Just curious, why do we need Metamask to resolve ENS domains? Can't we leave that functionality to the browser or let users decide to enable/disable this feature?

As a user, i'm coming from the fact that i'm using Metamask primarily, apologies for the simple term, as a "wallet." I am not interested in ENS domains.

[2018-08-09 08:56] cryprohippo commented on #4281
Hi,

This issue is still not resolved.
I collected an update for brave this morning - 0.23.77
metamask extension is 4.3.0

Is there anything else I need to do? Metamask has been totally non functional for a long time now.

[2018-08-09 08:59] cryprohippo opened #5005 "metamask in brave doesn't render (always blank)"
this is reopening of:
metamask in brave doesn't render (always blank) #4281
as the issue is still exactly the same. Please let me know if there is a way for me to update a closed ticket instead.

Hi,
expected behaviour - metamask opens and prompts for login.
actual behaviour -
My metamask extension in brave browser has not worked for a month or two.
When I click on the extension icon, the popup wi

[2018-08-09 11:06] rudza opened #5006 "Local *.test domains not working anymore after the latest Metamask update"
![screenshot_20180809_140356](https://user-images.githubusercontent.com/2692283/43895261-5b90f416-9bdd-11e8-935a-4c24af0625d4.png)

[2018-08-09 11:13] adnoan opened #5007 "meu metamask sumil"
Good morning, my name is Adnoan Majori, I have problems in my metamask wallet, two days ago I was asked to update so I did and my metamask disappeared from my pc. I'm not having any kind of access to it, I'd like to know the What can I do ? my email adnoan40@gmail.com

[2018-08-09 11:16] snezanasucurovic opened #5008 "Metamask icon suddenly disappeared. 'metamask is not enabled' i use chrome browser on windows10"
Metamask icon suddenly disappeared. 'metamask is not enabled'
 i use chrome browser on windows10
however when i start to install again 'it has been added' appears i expect bounty.

[2018-08-09 12:26] eduadiez opened #5009 "Loading ENS pages (.eth) overwrites DNS results and doesn't work on Firefox"
The functionality introduced in v4.9.0 to resolve .eth domains doesn't check if the user's DNS is able to resolve a .eth or .test address. Therefore the extension prevents the user to access these sites even though the DNS is returning an IP address.

Also, the current implementation doesn't work in Firefox (tested on version 61.0.1) as it relies on a deprecated method: `tabs.getSelected` [mozilla

[2018-08-09 12:53] lukaszGrynasz opened #5011 "Token amount is displayed in wei"
When I want to user ERC20.approve metamask display token amount in wei.
![capture](https://user-images.githubusercontent.com/40950183/43899985-d9c3100c-9be3-11e8-919e-d8ecbdbdf2a1.PNG)

[2018-08-09 13:24] greenkeeper[bot] opened #5012 "An in-range update of node-sass is breaking the build 🚨"
## Version **4.9.3** of **node-sass** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fnode-sass-4.9.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/sass/n

[2018-08-09 15:05] JohnAllen commented on #4978
Just to be clear, Chrome does not say "change data on .eth and .test sites". It says this:

<img width="437" alt="screen shot 2018-08-09 at 8 04 42 am" src="https://user-images.githubusercontent.com/2800641/43907715-f7c86e5a-9baa-11e8-8b84-e116a2569219.png">

[2018-08-09 15:31] eduadiez commented on #4979
@bdresser I've reported an issue #5009 related to this and a PR #5010 to fix it, I hope you can review it.

[2018-08-09 15:32] eduadiez commented on #5006
I think this is related to #5009

[2018-08-09 15:54] shaharsol opened #5014 "v4.9.0 breaks eth_signTypedData"
my code that used to work:
[code]
now I get this message in the console but nothing happens:

![screen shot 2018-08-09 at 6 52 37 pm](https://user-images.githubusercontent.com/672778/43910470-94787650-9c05-11e8-91e0-bdbe8f3d8788.png)

[2018-08-09 15:58] shaharsol commented on #4752
with v4.9.0 it breaks my dapp #5014

[2018-08-09 16:04] shaharsol commented on #5014
It's sporadic, but in some cases after I click the button that fires this function and then explicitly click the metamask fox on the toolbar, I get this window, which I'd expected to pop up:

![screen shot 2018-08-09 at 7 02 45 pm](https://user-images.githubusercontent.com/672778/43911034-0e6f0fae-9c07-11e8-8928-19a9bf3eaaf2.png)

yet, even after I sign, the callback is not called within my js cod

[2018-08-09 16:23] shaharsol commented on #5014
on another desktop, when i click "sign" i see an endless loading gif, and I managed to grab this from the "old ui" dev tools:

![metamask1](https://user-images.githubusercontent.com/672778/43912006-a8a28162-9c09-11e8-916a-eba18cd9a328.png)

I bet the undefined EIP712Domain has something to do with the error?

[2018-08-09 16:27] bitpshr commented on #5014
Hi @shaharsol. This was caused by a premature version bump of a few of our dependencies and will be fixed by #4989. We plan to do a patch release shortly thereafter. Your existing dapp code should begin to work again at that time. Thanks for the issue report and for your patience!

[2018-08-09 16:27] #5014 closed

[2018-08-09 16:47] #5009 closed

[2018-08-09 16:49] ebaizel commented on #3776
i like the proposed design.

i'd like to propose one alternative...what about keeping the drop down displayed and active, and moving the spinner either to the left of it, or removing it completely as there's already a spinner on the main window.  then it's very intuitive how to change the network.  there may be a reason why the dropdown needs to be disabled, in which case you can ignore this sugge

[2018-08-09 17:05] Legitimate commented on #4952
Is this just an error resulting in using the latest web3 library?

[2018-08-09 17:08] bdresser commented on #5004
hey @goatcash - you can open a pull request on our [contract metadata repo](https://github.com/MetaMask/eth-contract-metadata), it'll take care of both requests

[2018-08-09 17:08] #5004 closed

[2018-08-09 17:11] bdresser commented on #5011
@lukaszGrynasz this was fixed in https://github.com/MetaMask/metamask-extension/pull/4986, should be out in the next couple hours!

[2018-08-09 17:11] #5011 closed

[2018-08-09 17:13] bdresser commented on #5007
hey @adnoan, please reach out to support@metamask.io and they'll be able to help answer your questions!

[2018-08-09 17:13] #5007 closed

[2018-08-09 17:15] bdresser commented on #5008
@snezanasucurovic are you saying you had to re-install to get the extension to appear?

If you're still having trouble, try heading to `chrome://extensions` and making sure the extension is enabled.

[2018-08-09 17:26] bdresser commented on #3776
@ebaizel that's a solid idea, but sometimes users try to join a network from the Settings page, rather than the drop-down menu. Using the overlay lets us give the same experience regardless of where the user is coming from.

I'll re-post a bounty on this today with the timeout functionality included.

[2018-08-09 17:34] danfinlay commented on #4577
@writeprovidence you'll need to submit your work on Gitcoin:
https://github.com/MetaMask/metamask-extension/issues/%7Babsolute_url%7D

Do you mind if we re-publish under our own names, so we can more freely edit the content? I think I'll wrap up some of it in a new module.

[2018-08-09 17:49] 1blockologist opened #5018 "User initiated sign arbitrary messages within Metamask GUI"
feature request

Some wallets make it easy to sign messages within the wallet, instead of going to an external service.

Given that Ethereum libraries in particular offer a variety of signing methods. Having a full service wallet allow the user to initiate a signing request within its own GUI would be a nice feature to explore.

The desired outcome is that was a menu option or button to sign a mes

[2018-08-09 17:51] goatcash commented on #5004
Thanks and will do.

[2018-08-09 17:58] Kyrrui opened #5019 ""Connect Hardware Wallet" not translated when changing languages."
**Describe the bug**
"Connect Hardware Wallet" menu option is not translated to regional language.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Metamask
2. Go to options menu
3. Change language
4. Open options and see option "connect hardware wallet" in english

**Expected behavior**
"Connect Hardware Wallet" should be in each language.

**Screenshots**
<img width="303" alt="screen s

[2018-08-09 18:10] bdresser commented on #4789
I actually like the initial version with Cheap / Average / Fast. Including the price makes it obvious that speed costs more, and there's something good about any choice.

I do like this visual treatment, sneakily adding in the new typeface 😉

On the extension-sized Confirm screen, I'm assuming the "Advanced options" opens right to the graph? Could you mock what this would look like? We may have to

[2018-08-09 18:39] bdresser commented on #4789
If I click "edit" from the Confirm screen, what edit view do I see?

[2018-08-09 20:05] writeprovidence commented on #4577
@Do  you mind if we re-publish under our own names, so we can more freely  edit the content? I think I'll wrap up some of it in a new module.
--
ofcourse you can re-publish it under your own names.

[2018-08-09 20:33] dconroy opened #5021 "Model T not working with web3.eth.sign()"
**Describe the bug**
When using hardware wallet, Model T Trezor, I am able to send /receive ether as expected. However, when using a dApp that requires web3.eth.sign(), after clicking the sign transaction button in meta mask, there is never any subsequent popups in chrome or any confirmation prompted on the hardware device.

**To Reproduce**
Steps to reproduce the behavior:
1. Plug in Model T
2. U

[2018-08-09 20:52] bdresser commented on #5018
@1blockologist thanks, sounds like it relates to https://github.com/MetaMask/metamask-extension/issues/2532, but that describes a pattern initiated by a dapp.

Could you describe your usecase?

[2018-08-09 20:57] JohnAllen commented on #4978
For me it says `read and change all data on the websites` I visit.  So is it all or just `.eth`?

[2018-08-09 20:59] 1blockologist commented on #5018
My use cases:

- When someone asks me to sign an address to prove ownership, with no further instructions. Then I can sign the address with arbitrary text inside of the wallet, and tell them the address and text I used and the signature so they can verify.

- When a chat bot asks me to verify my address by signing it. The byteball chatbot asked this of bitcoin users for their airdrop, and over 1 b

[2018-08-09 21:03] tmashuang commented on #4952
Would like the code being ran, the Ganache version, and a link to the tutorial your following to reproduce.

[2018-08-09 21:37] bdresser commented on #4978
@JohnAllen it's all

As described in the reddit post above, the initial permissions on download look like this:

<img width="490" alt="screen shot 2018-08-09 at 2 03 57 pm" src="https://user-images.githubusercontent.com/1016190/43927012-f3075c10-9be0-11e8-846a-9b339902d865.png">

The permission to "read and change all your data on the websites you visit" is what allows us to inject an Ethereum pro

[2018-08-09 21:52] brunobar79 commented on #5021
Hi @dconroy,  you are right about that method not working with TREZOR via metamask.
The main reason is that the TREZOR connect API only supports one signing method (See https://github.com/trezor/connect/blob/develop/docs/methods.md#ethereum), which uses personalSign under the hood and this is what most dApps use (for ex. CryptoKitties).

You can open an issue on the TREZOR connect repo asking them

[2018-08-09 21:52] #5021 closed

[2018-08-09 22:00] owocki opened #5026 ""Error: insufficient funds for gas * price + value" when there are sufficient funds"
**Describe the bug**
`Error: insufficient funds for gas * price + value` with Raw Transaction when there are sufficient funds

**To Reproduce**
Steps to reproduce the behavior:

1. open a new html file and make sure you `<script src='https://gitcoin.co/static/onepager/js/tx.js'>` on the page
2. generate a new account with metamask, copy its private key
open up on your console and set

[code]

3. f

[2018-08-09 22:25] bdresser commented on #4971
@CruzMolina I don't think you can detect which UI they're on, but you can check their version with

[code]

[2018-08-09 22:29] CruzMolina commented on #4971
That returns `MetaMask/v4.9.0` for both the old and new UI.

[2018-08-09 22:59] danfinlay commented on #5026
Yeah, the string `insufficient funds for gas * price + value` does not appear in our codebase, but it does seem to be in Geth, so it definitely begs the question of what's wrong.

Next time it happens, grab the `sendRawTransaction` request off the background network tab, (`copy as cURL`), and post it in the Infura slack, they are great at debugging weird geth behavior like this.

[2018-08-09 23:13] owocki commented on #5026
curl to repro

[code]

[2018-08-09 23:16] leafcutterant commented on #2028
I propose being able to delete seed phrase accounts as well (=accounts which were generated with "Create account").

For this, we have to decide what happens when someone creates an account after deleting one. The simple and safe option is that the previously deleted account becomes regenerated. It probably won't do what some people (including me) want it to do, but it's still better than not bein

[2018-08-09 23:57] danfinlay commented on #5026
We figured this out. Use BNs not JS numbers!

[2018-08-09 23:57] #5026 closed

[2018-08-09 23:58] owocki commented on #5026
@danfinlay  sorry to be a pest, but i do think i found an example that is not related to JS math.. as i am using BigNumber.js (and am sure i’m casting all my variables correctly here)

here is the CURL for it

[code]

[2018-08-10 02:07] leafcutterant opened #5027 "Allow importing BIP39 mnemonics as accounts"
Let "Import account" accept BIP39 mnemonic seeds. Right now, using another seed is possible only by logging out and importing that, thus overwriting the existing accounts.

[2018-08-10 06:41] Desposyniunchained opened #5028 "Token vanishing from display after reloading Metamask"
Two days ago I added all token from my account to the metamask "dashboard". After reloading Metamask today only four tokens are visible any longer, the rest is not displayed any longer.

 OS: WIN10
 Browser: Chrome Version 67.0.3396.99 (Offizieller Build) (64-Bit)
 MetaMask Version 4.9.2

[2018-08-10 07:02] Legitimate commented on #4952
This is the tutorial I was following:
https://www.youtube.com/watch?v=3681ZYbDSSk&t=2537s

This is my code base:
https://github.com/Legitimate/election

My Ganache version is 1.2.1

My dApp works as expected in chrome. It's just in Firefox where I get stuck at "Loading...", seemingly because it doesn't connect to my local ethereum network.

[2018-08-10 07:14] devenoges commented on #4974
Did the fix for this get merged into 4.9.2?

I still see the same behavior, do you want an updated state log?

[2018-08-10 08:46] gala1956 commented on #4958
Не открывается Метамаск
![met](https://user-images.githubusercontent.com/33600339/43948239-277015de-9cac-11e8-9d5a-1456cbec1106.png)

[2018-08-10 09:06] iamonuwa commented on #3776
@cjeria @ebaizel @bdresser @johnweldon I've set up the deps but I get this error anytime I run npm start

![image](https://user-images.githubusercontent.com/6551094/43949292-06e05b66-9c85-11e8-8cc6-a142f9cd97d2.png)

[2018-08-10 11:00] SvenMeyer opened #5029 "account import from json file not working"
Metamask 4.9.2
Ubuntu 16.04 / Linux Mint 18.3

I want to import an account from a json file, but after selecting the json file , the MM window is gone and I can not enter the password for that file

[2018-08-10 11:42] SvenMeyer commented on #5029
Looks like as if this issue is know since quite a while, but still has not been resolved:

Problems with the popup closing?
We're aware that on some browser-system combinations, the extension popup will collapse on you when trying to select a file. The solution to this problem is to open MetaMask in a full tab. We will make this easier in the future.

On Chrome:

Visit chrome-extension://nkbihfbeo

[2018-08-10 12:19] dsilberschmidt commented on #4978
i have this message:
MetaMask is disabled
To re-enable it, accept the new permissions:
.Read and change your data on all eth sites and all test sites
.Display notifications

                                         Remove    Accept permissions

Same concern as previous users. Is this a new permission YOU ask for?

[2018-08-10 13:08] writeprovidence commented on #4577
hello@danfinlay i have submitted on gitcoin.

[2018-08-10 13:09] jeevan-shikaram opened #5030 "Address / Contact Book"
# Problem
At the moment, transacting with an "unknown" address will lead to the address being displayed across the application. When this address is shown, the user will have to verify the address manually. If the "unknown" address is an address that is frequently transacted with, the user will be manually verifying it over and over again.

For example when a call is received on a person's mobile

[2018-08-10 14:50] estebanmino commented on #5028
Hi @Desposyniunchained, since #4884 now MetaMask has the ability to maintain tokens per network and account, so you should see all those tokens on main net and none on other networks.
If you want to add tokens again you have to remember, that token is going to be added to your current network and your current account, so if you change either network or account that new token is going to disappear.

[2018-08-10 15:16] bdresser commented on #5030
thanks @jeevan-shikaram ! this is a good one.

right now we rely on [this repo](https://github.com/MetaMask/eth-contract-metadata) to maintain a list of known addresses and icons. It's a pretty manual process, and it certainly doesn't include everything, especially personal addresses of friends.

Long term, it may be simpler to use ENS for communicable addresses, but it'd still be nice to map (an

[2018-08-10 15:25] bdresser commented on #5001
we've updated to 4.9.2, and this issue is resolved - let us know if you're still having trouble!

[2018-08-10 15:25] #5001 closed

[2018-08-10 15:25] #5008 closed

[2018-08-10 15:27] bdresser commented on #4979
@zmaglica this issue is fixed on 4.9.2 by https://github.com/MetaMask/metamask-extension/pull/5010. We'll try DNS first, and if it doesn't resolve, then try ENS.

[2018-08-10 15:27] #4979 closed

[2018-08-10 15:31] bdresser commented on #4958
@gala1956 try closing the extension from the Chrome Task Manager - `...` --> More Tools --> Task Manager.

Closing this original issue, please let us know if you're still having trouble.

[2018-08-10 15:31] #4958 closed

[2018-08-10 15:33] Desposyniunchained commented on #5028
Maybe I did not describe correctly. I will try again. After the new update, I added all the token I have in my account and all of them where visible. Two days later after logging into the MetaMask account again, all tokens which were shown before disappeared again and now only four are left. They do not show up. I have to add them by hand again. I guess that's not supposed to happen. Thank you.

[2018-08-10 15:36] bdresser opened #5031 "Check if known nonce is higher than pending tx"
If users submit tx outside MetaMask it can cause us to lose track of which tx are actually pending, which can affect which transaction we ask the user to reprice / speed up.

As described in https://github.com/MetaMask/metamask-extension/issues/4974#issuecomment-411531728, we can check on pending tx if the account's known nonce has exceeded the pending transaction in metamask and if so transition

[2018-08-10 15:37] bdresser commented on #4974
@devenoges yeah, an updated state log would be helpful.

we merged the UI fix mentioned above, but if you're submitting tx outside MetaMask it's still possible our nonce will get out of sync and we'll ask to retry the wrong transaction - we'll address that in https://github.com/MetaMask/metamask-extension/issues/5031

[2018-08-10 15:40] estebanmino commented on #3776
Hi @iamonuwa, please try this

1. Make sure that you have node.js version 8.11.3 and npm version 6.1.0

2. `nvm use` (If you don't have nvm please install [here](https://github.com/creationix/nvm#installation))

3. `npm install`

4. `npm start`

Feel free to ping me when you've done that.

[2018-08-10 15:46] estebanmino commented on #5028
I see, thanks for describing this, I'll see what could have happened. Just to confirm, do you have any issue now that you added those tokens manually?

[2018-08-10 16:05] SamueleA opened #5032 "Metamask version with EIP-1102 for testing purposes (the November 2nd update)?"
Hi,
I've just read this news:
https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8

I was wondering if it was possible to have access to a development version of metamask that will include   the change that will happen on November 2nd. I'd like to test my Dapp to make sure everything will be OK pre-November 2nd and post-November 2nd,and see if I want to

[2018-08-10 16:42] pankrats opened #5035 ""View account on Etherscan" string is overlapping in different language mutations"
**Describe the bug**
When I click on Details under account name the text in the first button "View account on Etherscan" is overlapping in some language mutations (e.g. in Czech).

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the Menu on the top left
2. Click on Details under the account name
3. In the new frame, you will see the QR code with two buttons. The text in the "View acc

[2018-08-10 16:58] Desposyniunchained commented on #5028
I did not add any token again.

[2018-08-10 16:58] CruzMolina opened #5036 "FF v4.9.2 Update"
I see that v4.9.2 has been released for FF (https://github.com/MetaMask/metamask-extension/releases), but it hasn't been pushed out to FF's Add-ons Collection (i.e. cannot update MM automatically or follow the Metamask.io flow to download/install v4.9.2).

Thank you for the work you do! 🥇

[2018-08-10 16:58] qcdll commented on #5001
confirmed, thanks!

[2018-08-10 17:09] bdresser commented on #5035
@cjeria cool if we shrink the font size here? (cc @danjm )

[2018-08-10 17:35] cjeria commented on #5035
Our buttons follow the same consistent styling rules, so if we shrink this button's font, it will change all buttons styles. We should follow strict styling rules for the design system. How about we reduce left and right padding of the button to allow room for long button names? @alextsg

[2018-08-10 17:36] bdresser commented on #5035
Ok. Also recalling https://github.com/MetaMask/metamask-extension/issues/3461, maybe this link needs to live elsewhere entirely

[2018-08-10 17:40] #686 closed

[2018-08-10 18:08] yvesholenstein commented on #5028
I have exactly the same issue as well. Also using Chrome browser (Version 68.0.3440.106), but on Windows 7 Ultimate. Whenever I have to re-login to MetaMask, only 1 token is shown. The others have to be added manually.

I only have 5 tokens, so I can live with the bug. But it's tedious and I cannot imagine that this is by design.

[2018-08-10 18:11] SamueleA commented on #5032
Awesome! Thanks for the info!
Also, I'm curious to see those components. :P

[2018-08-10 18:11] iamonuwa commented on #3776
@estebanmino, I have my npm, nvm to match with the one you listed.

[2018-08-10 18:27] #5032 closed

[2018-08-10 18:37] bdresser commented on #5005
hey @cryprohippo, sorry to hear you're still experiencing this issue.

this duplicates #4782 so I'm going to close to consolidate the conversation there.

[2018-08-10 18:37] #5005 closed

[2018-08-10 18:38] CruzMolina commented on #5036
I see this has been resolved.

Thank you! 🙏

[2018-08-10 18:38] #5036 closed

[2018-08-10 18:39] bdresser commented on #4959
for blank screen on chrome, we're tracking the issue on https://github.com/MetaMask/metamask-extension/issues/4894

for blank screen on brave, we're tracking the issue on https://github.com/MetaMask/metamask-extension/issues/4782

the issues may be related, but steps to debug are often different so tracking them separately for now.

[2018-08-10 18:39] #4959 closed

[2018-08-10 18:57] danfinlay commented on #4739
I think that's fine, I believe that's what we used previously. I would want @kumavis to chime in on whether this is going to trigger a preflight.

[2018-08-10 19:43] estebanmino commented on #5028
@yvesholenstein @Desposyniunchained  I'm trying to reproduce this and I can't get the same behavior than you. I started with version 4.8 earlier this week and now I have the updated 4.9.2 on Chrome. But this shouldn't be happening.
One thing that may fix this is restoring your account from the seed phrase. Is this something that you can do?

[2018-08-10 20:04] lhen09 opened #5038 "Were is my token"

[2018-08-10 20:12] bdresser commented on #4022
This should probably have a custom confirmation screen
* may want to show each tx hash that's getting cancelled (and links to etherscan) - this could replace the primary value up top?
* we should suggest a gas high enough to beat out everything pending, but still allow the gas "edit" link
* what should we show as the recipient address?
* "gas fee" and "total" will be the same, maybe we can remove

[2018-08-10 20:14] bdresser commented on #5038
@lhen09 please fill out the bug form as included in the template - otherwise we can't help your issue.

closing as a probable duplicate of #5028

[2018-08-10 20:14] #5038 closed

[2018-08-10 22:40] estebanmino commented on #3776
perfect, seems to be a node interference, maybe with a local package? In which OS are you working on?

[2018-08-11 00:42] kumavis opened #5039 "bug: eth_sign does not validate input"
i was seeing the metamask approval window and approving it but not seeing the callback called from the dapp

invocation method:
[code]

[2018-08-11 03:35] w7788129 commented on #5039
Go

[2018-08-11 03:39] gala1956 commented on #4958
Thank you, I did so, but I have a NEW account for the Metamask and it's blocked: writes for security reasons ??10.08.2018, 21:31, "bobby dresser" <notifications@github.com>:@gala1956 try closing the extension from the Chrome Task Manager - ... --> More Tools --> Task Manager.
Closing this original issue, please let us know if you're still having trouble.

—You are receiving this because you were m

[2018-08-11 03:40] tmashuang commented on #5029
@SvenMeyer try going to chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/home.html

[2018-08-11 06:59] funyug opened #5041 "Blank screen after logging in"
I am getting a blank screen after clicking on login. This happened while i was doing the solution on https://ethernaut.zeppelin.solutions/level/0x68756ad5e1039e4f3b895cfaa16a3a79a5a73c59 and accidentally passed a hex instead of a string in the transaction data field. The metamask popup opened but was only white screen. Since then i have not been able to use metamask past the login screen. Everytim

[2018-08-11 07:00] iamonuwa commented on #3776
Ubuntu 16.04 LTS

[2018-08-11 15:43] ajnauleau opened #5042 "Same Wallet Account Shows Up Twice"
The same account (Cryptokitties) shows up twice in my list of accounts, once at the beginning, and once at the end.

I've tried recreating the issue by adding a new account, as well as reproducing it on a fresh MetaMask install, and have been unsuccessful so far.

This isn't a major issue, and one that I can work on myself. I'm documenting it before creating a PR so that we can track.

<img width=

[2018-08-11 20:47] dpazdan commented on #4915
Did some additional testing.  Currently MM does not work in Private browser mode at all on Brave browser.  With or without Tor option.

It does work in Private Browser mode in Chrome and Firefox.

[2018-08-12 02:25] brandysue opened #5043 "Chrome disabled Metamask and some tokens now missing"
FOR USER QUESTIONS, PLEASE DO NOT OPEN A GITHUB ISSUE - IT WILL NOT BE HANDLED HERE.

INSTEAD, PLEASE EMAIL SUPPORT@METAMASK.IO WITH A DESCRIPTION OF YOUR PROBLEM.

[2018-08-12 03:24] kingjacob opened #5044 "UI improvements around pending transactions"
**Problem**
1)Dropping the pending transaction "---" and replacing it with greyed text (the same color as the confirmed state) makes it more difficult to see from a quick glance if you have pending transactions.

2)"Pending" is also the more accurate phrasing and it's how etherscan describes the state if you click through. Could cause confusion describing the same thing differently.

***Recommenda

[2018-08-12 03:32] kingjacob opened #5045 "Adding an indication that one has to click in order to raise gas prices."
There is no indication that one is able to click through in order to raise gas. As seen below.
<img width="297" alt="screen shot 2018-08-11 at 8 28 01 pm" src="https://user-images.githubusercontent.com/806312/43998210-175fef6c-9da5-11e8-83d8-a42f16beaacb.png">

Previous UI did this with an underline. So probably simplest fix.

More broadly, theres ALOT of similiarly _hidden_ links.

[2018-08-12 03:32] dpazdan commented on #4771
This might be a decent workaround until issues is addressed:

I was able to get v.3.13.8 to work in Tor.  All newer versions have the blank screen issue.
Link to 3.13.8:
https://addons.mozilla.org/en-US/firefox/addon/ether-metamask/versions/?page=1#version-3.13.8

I was able to send/receive and interact with a dapp.

[2018-08-12 04:05] kingjacob opened #5046 "The new UX & UI around changing gas is more difficult to navigate"
**Problem**
It's now two step to change gas fees. The expectation on clicking the notice to adjust gas prices is that the next screen will allow one to change gas fees. In the newUI, you have to click once more to edit gas. And you can't see the price in usd when adjusting the price per unit, only after. Making it more difficult to determine if the transaction is expensive because the networks clo

[2018-08-12 13:27] iamonuwa commented on #3776
@estebanmino are you there?

[2018-08-12 15:09] shad-k commented on #4894
@bdresser can you send me any logs that you might have received regarding this. I have been trying to recreate this issue but have failed to do so thus far.

[2018-08-13 05:05] ricardosardenberg opened #5048 "Error: gas required exceeds allowance or always failing transaction at chrome-extension"
Gas estimation errored with the following message (see below). The transaction execution will likely fail. Do you want to force sending?
Error: gas required exceeds allowance or always failing transaction at chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/background.js:1:1723632 at chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/background.js:1:1273654 at chrome-extension://nkbihfbeogaeaoe

[2018-08-13 13:55] greenkeeper[bot] opened #5049 "An in-range update of geckodriver is breaking the build 🚨"
## Version **1.12.2** of **geckodriver** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fgeckodriver-1.12.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/

[2018-08-13 15:00] pointtoken opened #5051 "Uncaught Error: new BigNumber() number type has more than 15 significant digits"
Metamask  is stuck on a confirmation screen and I can neither cancel or accept:

[code]
 - OS:linux
 - Browser chrome
 - MetaMask Version latest with new ui

**Additional context**
Happened when using https://dai.makerdao.com/ dapp

[2018-08-13 15:11] rudolfix opened #5052 "eth_signTypedData on Trezor account fails without callback"
When sending `eth_signTypedData` to web3 provider injected by metamask when Trezor account is active, callback (after clicking SIGN in ui) is not called and the console logs `Not supported on this device`.

to reproduce
1. add and select Trezor account
2. send properly formatted eth_signTypedData to the web3.currentProvider
3. Click SIGN in the signature ui

expected behavior
1. callback is being

[2018-08-13 15:41] estebanmino commented on #3776
Hi @iamonuwa did you try to remove `/node_modules` and try everything again? Or trying to find any solution with you node configuration? To me it seems like an error of that type.
I'm reading that people with these error solved their issues doing that or finding some conflicting package  or versions.

[2018-08-13 16:32] bdresser commented on #5044
Thanks for the feedback @kingjacob. We have designs for a re-work of this transaction detail screen - feel free to leave feedback on [the issue](https://github.com/MetaMask/Design/issues/25) if you have any. Should enter development early next week. (@cjeria)

[2018-08-13 16:32] #5044 closed

[2018-08-13 16:44] bdresser commented on #5045
Thanks for the feedback @kingjacob - I'll refer you again to our redesign of the tx detail view #4786. @cjeria

[2018-08-13 16:44] #5045 closed

[2018-08-13 16:45] bdresser commented on #5046
@kingjacob check out our designs for a more robust set of gas tools #4789

these are actively in development, but any additional feedback is welcome

@cjeria

[2018-08-13 16:45] #5046 closed

[2018-08-13 16:51] bdresser commented on #5048
@ricardosardenberg what browser are you using? and if you have a moment, could you send your state logs to support@metamask.io and reference this issue number? Instructions [here](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-Old-Ui)

@danjm could you take a look?

[2018-08-13 16:52] bdresser commented on #5052
@rudolfix Trezor doesn't currently support `eth_signTypedData`: https://github.com/trezor/trezor-core/issues/122

Since EIP 712 has been finalized, hopefully they'll begin to support it soon.

[2018-08-13 16:53] bdresser commented on #5043
@brandysue please email support@metamask.io!

[2018-08-13 16:53] #5043 closed

[2018-08-13 17:11] rudolfix commented on #5052
@bdresser thanks! what about eth_sign? I think that it is deprecated in Metamask so there is no way to use it, correct? do you known if any signature scheme works for Metamask + Trezor combination?

On the other note, calling a callback in case of error would be really helpful.

[2018-08-13 17:35] DRYuval opened #5054 "Link contract address to a Dapp"
**What problem are you trying to solve?**
Maybe I'm paranoid, but I've always had the fear that my favorite Dapp's server will be hacked, and the hacker will change the frontend code and change the Dapp's contract address.
Such malicous act can make me think I'm invoking some Dapp function, but instead, It'll invoke some other function in an unknown, evil smart contract.

**Describe the solution y

[2018-08-13 18:09] bdresser commented on #5029
@SvenMeyer but only full screen, still not working in the extension view on 4.9.2 ?

[2018-08-13 18:11] bdresser commented on #4894
@shad-k haven't received any reliable state logs on this.

above in this thread, most folks either see `error: write after end` or `Error: PortDuplexStream -disconnected`.

@estebanmino any detail to add?

[2018-08-13 18:18] bdresser opened #5055 "Hidden tokens re-appear"
To repro:
* Hide a token that was auto-detected
* Switch accounts
* Switch back to original account, token is visible again.
Would expect token to remain hidden.

Might need a UX for "clearing" the list of hidden tokens? Would resetting the account do the trick?

[2018-08-13 18:19] estebanmino commented on #4894
@shad-k the `PortDuplexStream` error is generated here https://github.com/MetaMask/metamask-extension/blob/e2be22a4b722df608cb764042cc8ade6664414d8/app/scripts/lib/port-stream.js#L67 and it seems to be a disconnection between background and UI.
The `write after end` error is originated here https://github.com/MetaMask/metamask-extension/blob/e2be22a4b722df608cb764042cc8ade6664414d8/app/scripts/met

[2018-08-13 18:27] bdresser commented on #5051
@pointtoken could you send your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI-) to support@metamask.io and reference this issue number?

(@danjm @tmashuang might be related to the BN issue with Gitcoin the other day?)

[2018-08-13 18:38] bdresser commented on #5052
Try `personal_sign`!

[2018-08-13 18:40] danfinlay opened #5056 "Export private key screen always shows account 1 icon"
When exporting private key, it shows avatar of account 1 regardless of which account is selected for export.

[2018-08-13 18:40] danfinlay commented on #5056
Reported by Mokhtar Bacha.

[2018-08-13 18:56] estebanmino commented on #4991
@bdresser @danjm should we close this?

[2018-08-13 18:56] bdresser commented on #5056
duplicates https://github.com/MetaMask/metamask-extension/issues/4957

[2018-08-13 18:56] #5056 closed

[2018-08-13 18:57] #4991 closed

[2018-08-13 18:58] #4998 closed

[2018-08-13 18:59] #4949 closed

[2018-08-13 18:59] #4939 closed

[2018-08-13 19:02] bdresser commented on #4867
@Markfaber after chatting with the team, it may make sense to build this as a standalone page outside the extension. If you provide a simple onboard/checkout flow that can route back to MetaMask, it may make it easier for you to develop and easier for us to fold in. We could pass the recipient address via query params, and simply add another button on the deposit page. You can develop the standalo

[2018-08-13 19:08] bdresser commented on #4980
@jtakalai wow I had no idea the difference was that huge. We went with Partiy since it's nice to rely on decentralized infrastructure, but the 4byte registry makes a lot of sense as a fallback for more coverage.

[2018-08-13 19:15] bdresser opened #5057 "Look up function signatures in 4byte registry"
Right now we look up funcation signatures using Parity on-chain function registry. If found, we fill the function name on our Confirm screen.

The [4byte registry](https://www.4byte.directory/) is much larger, so we could search it as a fallback option if the function isn't found in Parity's registry.

Major drawback here is privacy (we'd be querying a centralized API with much of a user's transac

[2018-08-13 19:32] coinsandsteeldev commented on #5027
This is a MUST. Today new to crypto guys lost money just because of this stupid idea to override previous account. Like really guys, wallets in mobile already do it LONG time ago.

[2018-08-13 19:59] rudolfix commented on #5052
is there a way to detect we have trezor attached? I do not want to drop eth_signTypedData for regular accounts. anyway, thanks! we'll surely try `personal_sign` just to see if it works

[2018-08-13 20:12] whymarrh commented on #5049
Unfortunately our e2e tests are currently flaky—I'm closing this for now.

[2018-08-13 20:12] #5049 closed

[2018-08-13 20:13] whymarrh commented on #5012
Unfortunately our e2e tests are currently flaky—I'm closing this for now.

[2018-08-13 20:13] #5012 closed

[2018-08-13 20:13] whymarrh commented on #4872
Unfortunately our e2e tests are currently flaky—I'm closing this for now.

[2018-08-13 20:13] #4872 closed

[2018-08-13 20:14] whymarrh commented on #4854
Unfortunately our e2e tests are currently flaky—I'm closing this for now.

[2018-08-13 20:14] #4854 closed

[2018-08-13 20:15] whymarrh commented on #4728
Unfortunately our e2e tests are currently flaky—I'm closing this for now.

[2018-08-13 20:15] #4728 closed

[2018-08-13 20:16] whymarrh commented on #4657
Unfortunately our e2e tests are currently flaky—I'm closing this for now.

[2018-08-13 20:16] #4657 closed

[2018-08-13 21:30] pipermerriam commented on #4968
I'm experiencing the same issue and have been unable to get metamask to launch.  Has anyone come up with a way to fix the issue?

[2018-08-13 21:55] bdresser commented on #5052
no, we don't expose whether the user is signing with a Trezor or a standard MetaMask account.

Since EIP 712 is merged, Trezor may hopefully support signTypedData shortly. Try commenting on the issue referenced above to let them know you're looking forward to this feature!

[2018-08-13 23:56] jennypollack commented on #5048
Hey @ricardosardenberg can you share a [gist](https://gist.github.com/) of your HelloWorld.sol?

[2018-08-14 03:00] ricardosardenberg commented on #5048
contract Mortal {
    /* Define variable owner of the type address */
    address owner;

    /* This function is executed at initialization and sets the owner of the contract */
    function Mortal() { owner = msg.sender; }

    /* Function to recover the funds on the contract */
    function kill() { if (msg.sender == owner) selfdestruct(owner); }
}

contract Greeter is Mortal {
    /* Define va

[2018-08-14 04:17] cjeria commented on #4752
Here's the suggested new design for this screen

<img width="1130" alt="signature request" src="https://user-images.githubusercontent.com/597770/44071382-9880299c-9f3d-11e8-9f17-d02154a2d1d2.png">

It's consistent with the old UI version accept for the balance which doesn't seem necessary to display for this use case. If the balance is an important piece of data, we can implement a tool tip upon h

[2018-08-14 08:58] joeytwiddle opened #5062 "USD conversion not always accurate (e.g. OMG token)"
**Describe the bug**
I have a few OmiseGO tokens in my wallet. But the USD value displayed below them is inaccurate!

It is displaying 6.14 USD per OMG today, but the real exchange rate today is around 3.39 USD per OMG.

The 6.14 exchange rate _was accurate_ around 31st July, so possibly the exchange which MetaMask uses to grab exchange rates dropped OMG at that time.

**Expected behavior**
With 2

[2018-08-14 09:01] jtakalai commented on #4980
Yea granted, it's a random service; although its return value would be simple to double-check:
1) ask eth-method-registry
2a) if no luck, ask 4byte.registry
2b) check that the hash of the returned value is same as given signature

That way 4byte.registry at least shouldn't be able to form much of an attack vector.

[2018-08-14 09:53] #4883 closed

[2018-08-14 10:17] weijiekoh opened #5063 "Strange "not found / Powered by Portal Network" error page when I run `google-chrome test.`"
**To Reproduce**
Steps to reproduce the behavior:
1. In the command line, run `google-chrome test.`
2. The following screen will appear:

<img src="https://i.imgur.com/0j41846.png" width=600 />

**Expected behavior**

The regular Google Chrome "This site can’t be reached" page.

**Browser details (please complete the following information):**
 - OS: Ubuntu
 - Browser: Chrome 68
 - MetaMask Version

[2018-08-14 10:41] kingjacob commented on #4789
Since it's  ETH being sent/spent and the USD is just an estimated description, the primary really needs to be Eth (or the token being sent/spent)with any meta descriptions placed below at a smaller size. As is, it looks like you're spending USD to speed up transactions, and the eth amount is just an fyi.

[2018-08-14 11:39] iamonuwa commented on #3776
Alright, @estebanmino thank you. I'll do that

[2018-08-14 13:26] whymarrh commented on #3578
Specifically this popup is being reworked as part of #4803

[2018-08-14 13:43] leafcutterant commented on #4567
How about this: Don't allow sending to `0x0`, but when the users attempts to, display a message that:

* WARNING, tx's to `0x0` ("burning") result in irrecoverable loss!
* burning to a well-known address is indeed used in rare situations
* so if you really want to burn, modify the address to `0x1`, which is just as safe as `0x0`

The required manual modification gives a good chance that the user i

[2018-08-14 13:52] leafcutterant commented on #4869
Sure! Also make sure the warning is written in very plain English, so that everyone understands what this means (you can still send it, but the address lack a security check, make sure you entered the address correctly and it looks like it should, etc.).

I don't think this is a good idea. The confusion may be great because a lot of services still don't use checksummed addresses.

Depends on what

[2018-08-14 14:09] greenkeeper[bot] opened #5064 "An in-range update of debounce is breaking the build 🚨"
## Version **1.2.0** of **debounce** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fdebounce-1.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/componen

[2018-08-14 14:14] leafcutterant opened #5065 "Warn user: previous account funds + customizations will be lost if they restore a new mnemonic"
Whether previous accounts/account instances should be deleted when restoring from seed is a question which deserves its own thorough discussion. But to combat [restoration-related account loss](https://github.com/MetaMask/metamask-extension/issues/5027#issuecomment-412636715), other and more imminent solutions are needed.

When going to "Restore from seed", let's have a big warning that if the acc

[2018-08-14 14:18] danjm commented on #5051
fixed with #5060

[2018-08-14 15:58] weichain commented on #3475
I guess everyone needs this feature. We find it very hard to use Metamask while our DAPP needs to sign a transaction in order to keep track of the state of the contract in "real time".

[2018-08-14 17:41] shad-k commented on #4894
@estabanmino can you also point out from where does `PortDuplexStream.prototype._write` get called and where do we "end" the stream. May be the solution could be something like ending within a callback to the write operation.

[2018-08-14 17:53] bdresser commented on #4980
@jtakalai makes sense to me - opened https://github.com/MetaMask/metamask-extension/issues/5057

[2018-08-14 18:28] bdresser commented on #5062
Can confirm the GET to `balanc3.metamask.net` is hitting a 400

[code]

[2018-08-14 18:41] bdresser opened #5067 "Show "Reset Account" button on home screen when on Custom RPC"
**What problem are you trying to solve?**
When developing on a private network or custom RPC, devs frequently reset their accounts. This option requires a couple clicks and a scroll to actually find.

**Describe the solution you'd like**
When a user is on a custom RPC, we could surface the "Reset Account" button, perhaps even on the "home" screen of the extension.

[2018-08-14 19:00] bdresser commented on #4789
@kingjacob check out https://github.com/MetaMask/metamask-extension/issues/4510 and https://github.com/MetaMask/metamask-extension/issues/4804

[2018-08-14 19:03] bdresser commented on #3578
Closing in favor of #4803 & https://github.com/MetaMask/metamask-extension/issues/4752

@whymarrh, check the newest designs on https://github.com/MetaMask/metamask-extension/issues/4752

[2018-08-14 19:03] #3578 closed

[2018-08-14 19:46] #4832 closed

[2018-08-14 19:47] bdresser commented on #4857
closing as dupe of #4894

[2018-08-14 19:47] #4857 closed

[2018-08-14 20:34] leafcutterant commented on #5065
I'm glad you like it! I myself have been frustrated by having to spin up a separate browser for each mnemonic account, and this is a corollary. But the comment I linked to above claims to know some novice users who lost funds this way.

[2018-08-14 20:38] greenkeeper[bot] opened #5068 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## Version **7.11.1** of **eslint-plugin-react** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Feslint-plugin-react-7.11.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=htt

[2018-08-14 20:40] kingjacob commented on #4510
TY for the redirect @bdresser, To add some color to what I said in #25, the problem with the "Fiat first" UI is twofold.

1. It treats sending ETH or spending Gas differently than it treats other tokens, which creates some UX friction. Doing it as in some of the upcoming designs like #11 would also cause added confusion if someone picked ETH or DAI (or god forbid a government USD token) as the con

[2018-08-14 21:00] rsardenberg commented on #5048
exact same problem happening in a different machine, now using FIREFOX...

very likely to be related to how METAMASK is doing gas estimation

I suggest someone looks into **eth_estimateGas**

Gas estimation failed
Gas estimation errored with the following message (see below). The transaction execution will likely fail. Do you want to force sending?
[731]</o.prototype.handleRequest/<@moz-extension:

[2018-08-14 21:03] dmajumder4292 commented on #3245
Same issue. I am using the command testrpc -m 'metamask seed words', its still not working.
Testrpc is running on port 8545, what should I enter to solve it?

[2018-08-14 22:07] bdresser opened #5069 "Add animation after tx confirm"
After a user submits a tx, we could show a brief animation to give a bit of positive feedback. This is also helpful for stacked transactions so the user can distinguish between the series of nearly identical confirm screens.

[2018-08-14 22:10] bdresser commented on #4498
Turns out this is a regression - the old UI at least used to remember the past couple RPC urls used and keep them in the network drop-down. Going to bounty to restore the previous functionality (similar to option 2. above)

[2018-08-14 22:40] bdresser commented on #4510
@kingjacob as with many product choices, this comes down to the question of who we're optimizing for.

Much of the feedback we get comes from technical folks who understand how to get in touch. Predictably, many of these users are much more comfortable thinking in ETH values. But MetaMask is also an on-ramp for hundreds of thousands of non-technical users, for whom seeing a converted fiat value ma

[2018-08-14 22:44] bdresser commented on #4510
In settings, below "Current Conversion" we can add a small dropdown in the same style

label: "Primary Currency for Confirmation Screen"
options: [Converted, ETH] ("Converted" is default)

Default (Converted)
<img width="250" alt="screen shot 2018-08-14 at 3 38 04 pm" src="https://user-images.githubusercontent.com/1016190/44122367-6d4118a4-9fd8-11e8-87c0-a0b9027dee4a.png">

ETH
<img width="250" al

[2018-08-14 22:58] jooray commented on #3604
I would like to be able to specify coin name and decimals. For example [Rootstock](https://rsk.io/) uses SBTC tokens which are pegged to BTC. Showing transaction in "ETH" would be very confusing to users.

[2018-08-14 23:46] hackmod commented on #3604
Please see https://github.com/MetaMask/metamask-extension/pull/4932 this is currently working multi-chain support PR 😃

[2018-08-15 00:46] cjeria commented on #4789
Based on our twitter poll , option A is the preferred design with some minor tweaks to be made:
- Change the >>> icons to text  labels "Slow, Average, Fast", which makes sense for sending ETH, but not so much for speeding up a transaction.
- Increase price font size
- Put ETH above fiat value

https://twitter.com/cjeria/status/1027710558785613824
<img width="668" alt="image" src="https://user-imag

[2018-08-15 01:00] bdresser commented on #5062
This might be an issue with the Balanc3 API we use to pull current token conversions, we're investigating.

[2018-08-15 01:07] cjeria commented on #4789
Here's an updated design
<img width="417" alt="image" src="https://user-images.githubusercontent.com/597770/44126284-3a98baba-9fec-11e8-9ad2-9e1e93404170.png">

Bonus option to make it a bit more obvious that the fastest option costs more.
<img width="414" alt="image" src="https://user-images.githubusercontent.com/597770/44126387-d83b7604-9fec-11e8-910d-b4b2e6fc0448.png">

[2018-08-15 01:57] leafcutterant commented on #5027
@bdresser, glad to hear that! I agree that working the account hierarchies into one easily manageable system is a challenging task. Having to choose an address from the keychain and adding that as an account sounds like the logical step.

I like the sketches!

[2018-08-15 02:19] dwolfgram opened #5070 "Price discrepancies"
**Describe the bug**
OMG is currently priced at $3.69 at Tuesday Aug 14 10:17PM EST, but on metamask is priced at ~$7

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img w

[2018-08-15 02:49] bdresser commented on #5070
duplicates #5062

[2018-08-15 02:49] #5070 closed

[2018-08-15 06:27] mandrews72 opened #5071 "Password doesnt work and seed phrase wont reset wallet"
i went to open Meta Mask on my Dell lap top as normal and i've been told the password is invalid, which it isn't as i opened it a few days ago.

I have subsequently reset it with my seed phrase but the wallets are empty and when i go to load some of the coins the balance is zero. I have tried the "create account" and now have 3 accounts that are empty.

I can see my coins on etherscan but wont rel

[2018-08-15 10:14] MicahZoltu commented on #4510
I feel like above all else, the UI should be consistent.  Having the confirmation screen default to converted as primary while the rest of the UI has ETH as the primary definitely feels wrong to me.  I support an option in settings that lets the user decide Native vs Converted as the primary currency, but this should consistently effect the entire UI, not just one or two screens of the UI.

[2018-08-15 13:33] oapurcell opened #5073 "Can't access metamask"
The extension says it's  been added but thefox icon has disappeared, How else can i access metamask?

[2018-08-15 14:50] greenkeeper[bot] opened #5074 "An in-range update of enzyme is breaking the build 🚨"
## Version **3.4.1** of the **enzyme** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fmonorepo.enzyme-3.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=_blank hr

[2018-08-15 14:56] whymarrh commented on #5068
Unfortunately our e2e tests are currently flaky—I'm closing this for now.

[2018-08-15 14:56] #5068 closed

[2018-08-15 15:21] Cygnusfear opened #5075 "Resubmitting transaction should be worded clearer and better highlighted"
**What problem are you trying to solve?**
Currently transactions that are not processed hold up all future transactions, the offending transaction is marked by Metamask with a small blue subtext saying 'Taking too long? Retry with a higher gas price here'. However, as much as I'd not consider myself fully stupid, the wording of this subtext is vague enough that I had no idea this was how I could r

[2018-08-15 15:28] Cygnusfear commented on #5075
Additionally: Showing the offending transaction at the top of the transaction list might help make the user more aware of the transaction blocking all other transactions.

[2018-08-15 15:37] oapurcell commented on #5073
Thank you - now the icon is back but when I click on it I no longer get the login screen

[2018-08-15 15:37] oapurcell commented on #5073
Never mind - just figured out - thanks for your help!

[2018-08-15 16:06] Cygnusfear commented on #5073
Glad I could help!

[2018-08-15 16:51] #5073 closed

[2018-08-15 16:53] bdresser commented on #5071
Hi @mandrews72, sorry to hear about your trouble. You should reach out to support@metamask.io and they'll walk you through a couple steps that might help solve your problem. Best of luck~

[2018-08-15 16:53] #5071 closed

[2018-08-15 17:31] bdresser commented on #4789
Good feedback from the crowd, liking the input.

The word "slowest" feels like the odd man out. If we're just talking about the "speed up" component, I would think they should all be some form of fast -- like, "fast / faster / fastest" (which I think you were going for with the arrows.)

Also @alextsg or @danjm how are we going to estimate these? Will we suggest proportionally higher gas, or aim f

[2018-08-15 20:29] lazaridiscom commented on #4469
closing in favor of #4593

[2018-08-15 20:31] #4469 closed

[2018-08-15 23:53] bdresser commented on #4510
Consistency is good 😄

As discussed, this should be the subject of some intentional user research as soon as we have the bandwidth.

For now @cjeria are you comfortable switching to an ETH-primary view on the Confirm screen by default, and adding a toggle in settings to swap the "primary" currency across all screens?

(cc @danfinlay @alextsg @danjm)

[2018-08-16 00:34] bdresser commented on #3088
fixed in https://github.com/MetaMask/metamask-extension/pull/4279

[2018-08-16 00:34] #3088 closed

[2018-08-16 02:33] danjm commented on #4789
@bdresser Our intention was to follow the recommendation scheme of ethgasstation: https://ethgasstation.info/gasrecs.php

Unless @danfinlay has other thoughts on what sort of gas estimates will allow for the best UX

[2018-08-16 08:40] AisinGioroHanani commented on #2038
Reset account in Metamask would solve it.

[2018-08-16 12:58] ConnorMac commented on #3514
Not sure if this is relevant here or in it's own issue but the address copied to the clipboard from the extension widget is not complaint either but if you open the tab version it displays the correct checksum address.

[2018-08-16 15:16] estebanmino commented on #4894
I haven't seen that deeply, according to the comments there it says that the `_write` method is called internally somehow. That could be one way to go with the research and it's why this bug has been difficult to catch, also because there are not clear reproduction steps.

[2018-08-16 16:18] bdresser commented on #4789
@danjm what if `Safe low` is less than or equal to what the user paid in the first place? Since this is specifically the "Speed up" component, we should adjust to make sure our lowest suggestion is still an improvement above the user's original gas, and adjust the faster options accordingly.

Will we use the same API for the user's original gas options? (aka https://github.com/MetaMask/Design/issu

[2018-08-16 17:02] #3691 closed

[2018-08-16 17:04] bdresser commented on #3511
This issue doesn't affect the new UI, and we don't plan to patch issues on the old UI anymore

[2018-08-16 17:04] #3511 closed

[2018-08-16 17:05] #3422 closed

[2018-08-16 17:08] bdresser commented on #3420
this issue is resolved on the new UI

[2018-08-16 17:08] #3420 closed

[2018-08-16 17:10] #3328 closed

[2018-08-16 17:11] bdresser commented on #3280
This issue is resolved on the new UI

[2018-08-16 17:11] #3280 closed

[2018-08-16 17:12] bdresser commented on #3252
closing due to inactivity - if you're still experiencing this on the new UI please feel free to open a new issue.

[2018-08-16 17:12] #3252 closed

[2018-08-16 17:12] bdresser commented on #3219
closing - duplicates several other open popup/rendering issues on Brave (eg #4782 )

[2018-08-16 17:12] #3219 closed

[2018-08-16 17:13] #3186 closed

[2018-08-16 17:16] bdresser commented on #4440
@rdymac see https://github.com/MetaMask/metamask-extension/issues/3185

this is also a perfect example of straddling new users & developer/experienced users.

@haydenadams for context - we've had a couple reports of folks misinterpreting this address as their own address and trying to use it to receive tokens.

How would you feel if we hid this link by default and added a toggle in settings to ena

[2018-08-16 17:16] #3084 closed

[2018-08-16 17:17] bdresser commented on #3041
closing due to inactivity - if you're still having trouble on the new UI feel free to open another issue

[2018-08-16 17:17] #3041 closed

[2018-08-16 17:17] bdresser commented on #2971
@aktary have some ideas?

[2018-08-16 17:18] bdresser commented on #2850
closing, duplicates #4789

[2018-08-16 17:18] #2850 closed

[2018-08-16 17:20] bdresser commented on #2847
this is now a feature in the new UI's updated Confirm screens

[2018-08-16 17:20] #2847 closed

[2018-08-16 17:30] bdresser commented on #2795
fixed on the new UI

[2018-08-16 17:30] #2795 closed

[2018-08-16 17:35] bdresser commented on #4151
closing, dupes https://github.com/MetaMask/metamask-extension/issues/2784

[2018-08-16 17:35] #4151 closed

[2018-08-16 17:37] bdresser commented on #2652
fixed in the new UI

[2018-08-16 17:37] #2652 closed

[2018-08-16 17:37] #2469 closed

[2018-08-16 17:37] #2309 closed

[2018-08-16 17:38] #2265 closed

[2018-08-16 17:39] bdresser commented on #2245
closing due to inactivity - feel free to open a new issue if this is still relevant

[2018-08-16 17:39] #2245 closed

[2018-08-16 17:40] #2205 closed

[2018-08-16 17:40] #2142 closed

[2018-08-16 17:41] bdresser commented on #2131
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 17:41] #2131 closed

[2018-08-16 17:41] #2130 closed

[2018-08-16 17:41] #2096 closed

[2018-08-16 17:42] bdresser commented on #2055
this is a feature in the new UI! closing~

[2018-08-16 17:42] #2055 closed

[2018-08-16 17:42] #2044 closed

[2018-08-16 17:49] bdresser opened #5078 "Allow archiving HD accounts"
From https://github.com/MetaMask/metamask-extension/issues/2028

I'm not sure about the added utility this would add compared to the UI complexity it introduces, especially for new users. Possibly a good candidate for a "dev mode" feature flag. Leaving here to gauge interest.

Removing loose accounts is already a feature in the new UI.

[2018-08-16 17:50] bdresser commented on #2028
@leafcutterant closing this, took your last comment to https://github.com/MetaMask/metamask-extension/issues/5078

[2018-08-16 17:50] #2028 closed

[2018-08-16 17:51] bdresser commented on #2020
Closing due to inactivity - if you're still experiencing this on the new UI feel free to open another issue.

[2018-08-16 17:51] #2020 closed

[2018-08-16 17:52] bdresser commented on #2009
closing due to inactivity

relevant to https://github.com/MetaMask/Design/issues/36

[2018-08-16 17:52] #2009 closed

[2018-08-16 17:53] #1993 closed

[2018-08-16 17:53] #1976 closed

[2018-08-16 17:53] #1972 closed

[2018-08-16 17:54] #4335 closed

[2018-08-16 17:55] #1954 closed

[2018-08-16 17:55] bdresser commented on #1953
This is a feature in the new UI!

[2018-08-16 17:55] #1953 closed

[2018-08-16 17:55] #1952 closed

[2018-08-16 17:56] bdresser commented on #1950
Closing due to inactivity - if any of you experience something similar, please feel free to open a new issue.

[2018-08-16 17:56] #1950 closed

[2018-08-16 17:58] #1931 closed

[2018-08-16 17:58] #1929 closed

[2018-08-16 17:58] #1923 closed

[2018-08-16 17:58] #1909 closed

[2018-08-16 17:59] #1908 closed

[2018-08-16 17:59] #1902 closed

[2018-08-16 17:59] #1896 closed

[2018-08-16 17:59] #1891 closed

[2018-08-16 17:59] #1890 closed

[2018-08-16 18:00] #1872 closed

[2018-08-16 18:00] #1664 closed

[2018-08-16 18:01] bdresser commented on #1648
Closing due to inactivity - if this is still a feature you're looking for, feel free to open a new issue.

[2018-08-16 18:01] #1648 closed

[2018-08-16 18:01] #2030 closed

[2018-08-16 18:08] #1642 closed

[2018-08-16 18:08] #1595 closed

[2018-08-16 18:08] #1593 closed

[2018-08-16 18:10] #1579 closed

[2018-08-16 18:11] #1573 closed

[2018-08-16 18:12] bdresser commented on #1540
This is now a feature on the new UI confirmation screen!

[2018-08-16 18:12] #1540 closed

[2018-08-16 18:13] #1523 closed

[2018-08-16 18:13] #1513 closed

[2018-08-16 18:14] bdresser commented on #1508
Addressed by EIP 1102

[2018-08-16 18:14] #1508 closed

[2018-08-16 18:14] #1504 closed

[2018-08-16 18:14] #1495 closed

[2018-08-16 18:14] #1469 closed

[2018-08-16 18:15] #1462 closed

[2018-08-16 18:15] #1460 closed

[2018-08-16 18:15] #1426 closed

[2018-08-16 18:16] #1399 closed

[2018-08-16 18:16] #1325 closed

[2018-08-16 18:18] #1258 closed

[2018-08-16 18:18] #1255 closed

[2018-08-16 18:19] #1254 closed

[2018-08-16 18:19] #1240 closed

[2018-08-16 18:19] #1115 closed

[2018-08-16 18:19] #1102 closed

[2018-08-16 18:20] #1071 closed

[2018-08-16 18:20] #1059 closed

[2018-08-16 18:26] halgurdh commented on #2952
hey I noticed there is still this issue in the latest version of metamask (beta), anyone else having this problem?

[2018-08-16 18:40] bdresser commented on #1577
Closing due to inactivity - if this is still relevant, feel free to open a new issue. I believe this is also partially addressed by https://github.com/MetaMask/metamask-extension/pull/4703

[2018-08-16 18:40] #1577 closed

[2018-08-16 18:40] #1587 closed

[2018-08-16 18:41] bdresser commented on #1632
Changelly operates via Simplex, who've also reached out (#4867 )

Closing this due to inactivity.

[2018-08-16 18:41] #1910 closed

[2018-08-16 18:42] #1924 closed

[2018-08-16 18:42] bdresser commented on #1875
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 18:42] #1875 closed

[2018-08-16 18:42] #1939 closed

[2018-08-16 18:42] #1944 closed

[2018-08-16 18:42] #2032 closed

[2018-08-16 18:43] #2041 closed

[2018-08-16 20:15] #2031 closed

[2018-08-16 20:15] #2077 closed

[2018-08-16 20:15] #2082 closed

[2018-08-16 20:15] #2122 closed

[2018-08-16 20:16] #2105 closed

[2018-08-16 20:16] #2163 closed

[2018-08-16 20:16] bdresser commented on #2188
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 20:16] #2188 closed

[2018-08-16 20:16] #2211 closed

[2018-08-16 20:16] #2244 closed

[2018-08-16 20:16] #2197 closed

[2018-08-16 20:17] #1970 closed

[2018-08-16 20:17] #2083 closed

[2018-08-16 20:17] #2256 closed

[2018-08-16 20:17] bdresser commented on #2187
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 20:17] #2187 closed

[2018-08-16 20:18] #2341 closed

[2018-08-16 20:18] #2372 closed

[2018-08-16 20:25] #2701 closed

[2018-08-16 20:48] fulldecent commented on #2847
Confirmed working

![screen shot 2018-08-16 at 4 47 32 pm](https://user-images.githubusercontent.com/382183/44234239-1ecf9900-a174-11e8-96ff-a907a91aad47.png)

[2018-08-16 20:59] #2674 closed

[2018-08-16 20:59] bdresser commented on #2645
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 20:59] #2645 closed

[2018-08-16 20:59] bdresser commented on #2643
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 20:59] #2643 closed

[2018-08-16 21:00] #2595 closed

[2018-08-16 21:06] bdresser commented on #2614
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:06] #2614 closed

[2018-08-16 21:06] #2212 closed

[2018-08-16 21:06] #2880 closed

[2018-08-16 21:07] bdresser commented on #2523
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:07] #2523 closed

[2018-08-16 21:08] bdresser commented on #2137
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:08] #2137 closed

[2018-08-16 21:08] bdresser commented on #2813
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:08] #2813 closed

[2018-08-16 21:09] bdresser commented on #2823
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:09] #2823 closed

[2018-08-16 21:13] bdresser commented on #2814
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:13] #2814 closed

[2018-08-16 21:14] #2839 closed

[2018-08-16 21:15] bdresser commented on #2889
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:15] #2889 closed

[2018-08-16 21:15] bdresser commented on #2853
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:15] #2853 closed

[2018-08-16 21:16] bdresser commented on #2849
@rubenbleeker if you're still having trouble, please reach out to support@metamask.io.

[2018-08-16 21:16] #2849 closed

[2018-08-16 21:16] bdresser commented on #2933
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:16] #2933 closed

[2018-08-16 21:16] bdresser commented on #2940
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:16] #2940 closed

[2018-08-16 21:16] bdresser commented on #2920
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:16] #2920 closed

[2018-08-16 21:16] bdresser commented on #2552
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:16] #2552 closed

[2018-08-16 21:17] bdresser commented on #2961
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:17] #2961 closed

[2018-08-16 21:25] bdresser commented on #2608
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:25] #2608 closed

[2018-08-16 21:26] #2898 closed

[2018-08-16 21:26] #3003 closed

[2018-08-16 21:26] bdresser commented on #812
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:26] #812 closed

[2018-08-16 21:28] #1060 closed

[2018-08-16 21:29] #3036 closed

[2018-08-16 21:29] bdresser commented on #3037
moved to #4789

[2018-08-16 21:29] #3037 closed

[2018-08-16 21:30] bdresser commented on #2769
Sorry @rstormsf. Check out [this post](https://medium.com/metamask/metamasks-vision-for-multiple-network-support-4ffbee9ec64d) for our latest thinking on support for other networks. For now, closing this due to inactivity.

[2018-08-16 21:30] #2769 closed

[2018-08-16 21:30] #3057 closed

[2018-08-16 21:31] #1112 closed

[2018-08-16 21:31] #1937 closed

[2018-08-16 21:31] #1590 closed

[2018-08-16 21:31] baaa opened #5080 "unblock myetpwallet.com"
**Describe the bug**
metamask is blocking myetpwallet.com, which is a (the) web wallet for Metaverse (ETP) project, and has no relation to Ethereum or its forks, except the usage of dagger hashimoto algorithm

**To Reproduce**
Steps to reproduce the behavior:
1. https://www.myetpwallet.com/
2. See The website is blocked

**Expected behavior**
https://www.myetpwallet.com/ should not be blocked,

**

[2018-08-16 21:33] bdresser commented on #1497
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:33] #1497 closed

[2018-08-16 21:33] #1172 closed

[2018-08-16 21:34] #1164 closed

[2018-08-16 21:34] #1451 closed

[2018-08-16 21:39] bdresser commented on #5080
@baaa please open a PR or issue on our [eth-phishing-detect repo](https://github.com/MetaMask/eth-phishing-detect/)

[2018-08-16 21:39] #5080 closed

[2018-08-16 21:40] bdresser commented on #5075
@Cygnusfear check out our designs for a new transaction detail view - it's ordered with pending tx first, like you suggest, and changes the way we suggest users speed up pending tx: #4786

[2018-08-16 21:47] #1156 closed

[2018-08-16 21:47] #1499 closed

[2018-08-16 21:47] bdresser commented on #1216
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:47] #1261 closed

[2018-08-16 21:48] bdresser commented on #1322
Closing due to inactivity

[2018-08-16 21:48] #1322 closed

[2018-08-16 21:48] #1055 closed

[2018-08-16 21:48] bdresser commented on #3078
this is fixed in production on both old and new UIs

[2018-08-16 21:48] #3078 closed

[2018-08-16 21:49] bdresser commented on #3068
check out https://ethereum-magicians.org/t/eip-747-eth-watchtoken/1048

[2018-08-16 21:49] #3068 closed

[2018-08-16 21:49] #3086 closed

[2018-08-16 21:50] #2247 closed

[2018-08-16 21:50] #2213 closed

[2018-08-16 21:50] bdresser commented on #3116
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:50] #3116 closed

[2018-08-16 21:54] bdresser commented on #3113
Closing due to inactivity - if this is still relevant on the new UI, feel free to open a new issue

[2018-08-16 21:54] #3113 closed

[2018-08-16 21:55] bdresser commented on #3106
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:55] #3106 closed

[2018-08-16 21:55] bdresser commented on #3097
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:55] #3097 closed

[2018-08-16 21:56] bdresser commented on #3118
"Send Max" is in production on the new UI.

[2018-08-16 21:56] #3118 closed

[2018-08-16 21:58] #3167 closed

[2018-08-16 21:58] bdresser commented on #3159
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:58] #3159 closed

[2018-08-16 21:59] bdresser commented on #2616
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:59] #2616 closed

[2018-08-16 21:59] bdresser commented on #3180
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 21:59] #3180 closed

[2018-08-16 22:00] bdresser commented on #3053
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 22:00] #3053 closed

[2018-08-16 22:02] bdresser commented on #1361
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 22:02] #1361 closed

[2018-08-16 22:06] bdresser commented on #2113
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 22:06] #2113 closed

[2018-08-16 22:06] bdresser commented on #2204
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 22:06] #2204 closed

[2018-08-16 22:06] bdresser commented on #2158
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 22:06] #2158 closed

[2018-08-16 22:07] #2141 closed

[2018-08-16 22:08] #2240 closed

[2018-08-16 22:08] bdresser commented on #2266
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 22:08] #2266 closed

[2018-08-16 22:09] bdresser commented on #3188
Fixed in production - if you're still having trouble feel free to open a new issue.

[2018-08-16 22:09] #3188 closed

[2018-08-16 22:09] #3269 closed

[2018-08-16 22:10] bdresser commented on #3297
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 22:10] #3297 closed

[2018-08-16 22:30] bdresser commented on #12
Addressed in #714 and assorted issues

[2018-08-16 22:30] #12 closed

[2018-08-16 22:32] bdresser commented on #97
covered by #4739 and MetaMetrics (issues forthcoming)

[2018-08-16 22:32] #97 closed

[2018-08-16 22:35] bdresser commented on #4971
@CruzMolina We'll be on the new UI well before 11/2, hopefully in the next couple weeks

[2018-08-16 22:36] bdresser commented on #4917
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 22:36] #4917 closed

[2018-08-16 22:44] bdresser commented on #3897
fixed in https://github.com/MetaMask/metamask-extension/pull/4667

[2018-08-16 22:44] #3897 closed

[2018-08-16 22:51] bdresser commented on #3553
fixed in https://github.com/MetaMask/metamask-extension/pull/4844

[2018-08-16 22:51] #3553 closed

[2018-08-16 23:07] abitrolly commented on #2523
The story is still unclear. Why anybody needs a custom function to write log for a web extemsosn?

[2018-08-16 23:37] bdresser commented on #1260
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 23:37] #1260 closed

[2018-08-16 23:37] bdresser commented on #1304
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 23:37] #1304 closed

[2018-08-16 23:37] #1332 closed

[2018-08-16 23:40] bdresser commented on #1658
Removing loose accounts was added in https://github.com/MetaMask/metamask-extension/pull/4625

More specific feature story for removing / archiving HD accounts is filed here #5078

[2018-08-16 23:40] #1658 closed

[2018-08-16 23:41] bdresser commented on #2025
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 23:41] #2025 closed

[2018-08-16 23:43] bdresser commented on #2062
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

The OP is fixed on the new UI.

Check out #4789 for our plans for new gas UI, feedback welcome

[2018-08-16 23:43] #2062 closed

[2018-08-16 23:44] bdresser commented on #2238
Closing due to inactivity - if this is still relevant, feel free to open a new issue.

[2018-08-16 23:44] #2238 closed

[2018-08-16 23:47] jakicho opened #5082 "Metamask opens multiple popups for the same transaction request"
**Popup Issues**
Calling a simple transaction opens a 1rst metamask popup. Which is the behavior expected. But calling a second time and this time 2 popups for the same transaction appears. Calling, multiple times the function will create exponentially the number of popups. I already had for no understandable reason up to 30 popups for the same transaction. The only workaround so far for me is to

[2018-08-17 04:31] nickjuntilla commented on #1260
FYI to anyone curious, my work around for this was to use Remix and point it to my server and use smart contracts through that.

[2018-08-17 10:41] Cygnusfear commented on #5075
That looks great! Only suggestions I could think of is a warning if a transaction suddenly takes extremely long (pending label could be colored red) due to a spontaneous increase in network usage. I'll head over to the design corner and start rummaging around there!

[2018-08-17 14:16] iamonuwa commented on #3776
@bdresser am stopping work here because I can't seem to set up the task on my local environment. With the configurations provided.

[2018-08-17 15:10] bdresser commented on #5075
Sounds good. Closing this, thanks for the feedback.

[2018-08-17 15:10] #5075 closed

[2018-08-17 16:04] writeprovidence commented on #4577
hello@danfinlay, i have submitted the task on gitcoin as you instructed more than 7 days ago but have not heard from you since. is everything ok? pls reply thanks.

[2018-08-17 17:43] #654 closed

[2018-08-17 18:26] #717 closed

[2018-08-17 18:58] alextsg commented on #4955
This was probably due to a simulationFail, which as been fixed with #5000

[2018-08-17 18:58] #4955 closed

[2018-08-17 19:02] alextsg opened #5085 "Use eth_getCode to sort transactions"
"Unknown Function" is being shown for ETH transactions with `data`, since we assume a method call when `data` is present. We can use `eth_getCode` to know if the `to` address is a smart contract or not and show the ETH transfer confirm screen if not.

[2018-08-17 19:37] lazaridiscom commented on #4593
The "A.2) mm-ledger-u2f-gateway IFRAME" was implemented within #5050

[2018-08-17 19:37] #4593 closed

[2018-08-17 20:50] greenkeeper[bot] opened #5086 "An in-range update of semver is breaking the build 🚨"
## Version **5.5.1** of **semver** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fsemver-5.5.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/npm/node-sem

[2018-08-17 20:54] rsmylskibc opened #5087 "Include spender and contract address on Approve screen"
When using the new Metamask UI - when you make a token approve call, when Metamask pops up, the To Address is the spender address, not the ERC20 token contract address.

This is misleading because once the transaction has processed, and is in your transactions list, the To address of that transaction shows as the ERC20 token contract address (as expected, as that's where it was sent)

This has cau

[2018-08-17 20:57] rdymac commented on #4440
@bdresser, in response to that comment you've made to @haydenadams and also what was mentioned elsewhere: if a token's Contract Address has already been added manually and we have a 'View On Etherscan' button, why is a 'Copy Contract Address' button needed _right there_ if it is meant to be used only by advanced users which can obtain that info easily from Etherscan?

I think the 'Token Details' b

[2018-08-17 21:01] haydenadams commented on #4440
@bdresser I'm somewhat ambivalent on "copy contract address" vs "view on Etherscan" but imo at least one of them should exposed without having to go into settings to toggle something.

[2018-08-17 21:40] edmundedgar opened #5088 "Link to bump gas price of stuck transactions doesn't show up, no obvious way to do it"
I have several stuck transactions queued up behind one with a gas price of only 1 Gwei, which is clearly too low for the current conditions. There appears to be no way to change the gas price or otherwise unstick the transaction.

Think I got to this state by sending several transactions about 18 hours ago when network gas was very high (ethgasstation recommended 61 Gwei) but MetaMask hadn't got t

[2018-08-17 21:45] pesho commented on #4979
Seems that #5010 does not fix the issue completely (using Metamask 4.9.3 on Chrome/Linux).

I have a `.test` domain configured in `/etc/hosts` which is intercepted by Metamask. I have to disable Metamask in order to access it.

Requesting that the issue be reopened @bdresser

[2018-08-17 21:50] pesho commented on #4979
Update: Looks like this is actually a Chrome issue. Chrome seems to have stopped resolving domains via `/etc/hosts` after updating to v68.x. So Metamask attempts to handle it after the browser fails to resolve the domain.

You can disregard my previous comment.

[2018-08-17 23:51] alextsg commented on #4953
@cjeria The updated SVG looks good, but can we crop the the image to remove the extra outer space so that the BETA label doesn't look so detached from the logo? Or if you could create another SVG that includes the BETA label that would be great.

![image](https://user-images.githubusercontent.com/8051479/44293044-81d93280-a23d-11e8-8c57-2f9d0ef9b6c0.png)

[2018-08-18 03:13] whyrusleeping commented on #5063
I get that same error trying to load `phyrextsai.eth` sometimes. Sometimes it works though (seems to work on the first time after a while, then fails repeatedly afterwards, feels like a caching issue)

[2018-08-18 03:21] whyrusleeping opened #5092 "Issues resolving .eth domains"
**Describe the bug**
Loading .eth domains appears to only work sometimes

**To Reproduce**
Install foxy ether extension
go to phyrextsai.eth
say "oh cool, that worked"
do it again
say "aw, why didnt that work?"

**Expected behavior**
Expected page to load

**Screenshots**
sad browser
<img width="832" alt="screen shot 2018-08-17 at 8 18 42 pm" src="https://user-images.githubusercontent.com/1243164/

[2018-08-18 04:43] edmundedgar commented on #5088
OK, it turns out there was a replacement link, but I couldn't find it because it was attached to what I think was the original transaction, which was several pages of scrolling beneath the transactions I was seeing at the top

[2018-08-18 04:43] #5088 closed

[2018-08-18 04:51] edmundedgar opened #5093 "Link to increase gas price transactions gets buried beneath attempted resends"
**Describe the bug**
Link to increase gas price transactions gets buried beneath attempted resends

**To Reproduce**
Send a series of transactions with low gas price
Bump the transactions, but still to prices that are too low to immediately get mined
The link to resent the blocking transaction ends up buried several scrolls below the default view

**Expected behavior**
Expect a link on most recent

[2018-08-18 05:13] edmundedgar opened #5094 "Scrollbar doesn't show up on little metamask window or home page"
**Describe the bug**
When you have more than a page worth of transactions, there's no visible scrollbar to move down beyond the first page. However, you can scroll with the mouse wheel.

Same on both the little window you get by clicking the little fox in the top right-hand corner of the browser and in the "home" page you get by clicking "open in tab".

**To Reproduce**
Make more transactions than

[2018-08-18 10:09] saturnial commented on #3088
This issue is fixed apparently, but curious to know what the original caching strategy was -- and how exactly it has been addressed in #4279.

[2018-08-19 04:35] mastef commented on #3073
I still see this extension error in our system ( we are using gravity forms ). Since gf can be installed on other domains than gravityforms.com how better to disable metamask on such pages? Is there a flag we can set in the html?

[2018-08-19 19:10] ELREYDELKAOS commented on #3258
Hola, pudiste solucionarlo? a veces funciona el instalar una versión antigua de Metamask. Hay otras opciones que podemos hablar si quieres.

[2018-08-19 21:51] john-light opened #5098 "MetaMask not connecting to local Parity node"
**Describe the bug**
When I select Localhost 8545 in my network dropdown, MetaMask shows the message `Connecting to Unknown Private Network...` and never completes the connection to my fully-synced local Parity node. This is happening on both the old UI and the new UI, in both up-to-date Firefox and Chromium.

**To Reproduce**
Steps to reproduce the behavior:
1. Open MetaMask
2. Open Parity, let i

[2018-08-20 04:55] cloudonshore opened #5099 "Problem approving spender on DAI contract in the new/beta UI"
Approvals on the DAI token contract come through as `0` amount to `null` address when both are actually set. Cannot click submit on the transaction. Approving a spender on the DAI contract works in the older version of metamask.

**To Reproduce**
Attempt to approve DAI on
https://www.myetherwallet.com/#contracts, with the ABI from etherscan,  https://etherscan.io/address/0x89d24a6b4ccb1b6faa2625fe

[2018-08-20 09:54] etienneroudeix opened #5101 "API for dapp to request network change"
Hello,

I would like to connect a metamask user to a custom network directly from my dapp.
The idea is to avoid the user to have to copy the new custom RPC url and paste it in a second page metamask form.

## Context :
Today when a dapp running on a custom Ethereum blockchain wants a user to sign a transaction, the user needs to :
* Copy the custom url
* Open Metamask
* Click the dropdown menu
* C

[2018-08-20 10:50] Markfaber commented on #4867
Hi Bobby,
Sorry for the delayed response. Yes - that is far simpler for us and is
exactly how we deal with most of our integrations. You would add a button
on the deposit page which would redirect to a URL we could design and host.
It would be similar to this <https://partners.simplex.com/?partner=ledger>but
without the wallet address field which, as you suggest, you would send to
us via a very li

[2018-08-20 15:35] bdresser commented on #5093
@edmundedgar since transactions must be processed sequentially by nonce, only repricing the first slow transaction will help the others land faster.

In 4.9 we started showing the "reprice" option on the earliest transaction only, since that's the one actually blocking. We had a lot of users repricing later transactions and getting frustrated when they still wouldn't confirm.

All that said, I agr

[2018-08-20 15:35] #5093 closed

[2018-08-20 15:47] bdresser opened #5103 "Remove "Copy Contract Address" from token options"
In https://github.com/MetaMask/metamask-extension/issues/4440 we added `View on Etherscan` and a `Copy Contract Address` links to the `...` menu for each token.

Seems like the `Copy Contract Address` link is confusing some folks who think it's the address they should use to receive tokens. We added it to be helpful, but we should remove it - the Etherscan link is sufficient.

[2018-08-20 15:48] bdresser commented on #4440
@rdymac sounds good, let's remove. Opened https://github.com/MetaMask/metamask-extension/issues/5103

I think we were trying to be too helpful 😄

[2018-08-20 16:11] bdresser commented on #5087
Thanks for the feedback @rsmylskibc. We've started showing the spender since it's the address that will be able to actually spend the user's tokens - but you're right, this doesn't match what's shown in Etherscan and I get why your users are concerned.

We should probably show the contract address the `To` field, then include the spender address in a separate UI element (or as part of the warning

[2018-08-20 16:34] theomarshanti opened #5104 "Extension Not Rendering Responses to Text, Scroll"
**Describe the bug**
Certain user actions don't elicit the desired response, such as highlighting and updating text-fields. This isn't just a lag, and is not solved by waiting. A number of them are detailed below:

**To Reproduce**
Issue 1: My Accounts panel elements don't highlight when scrolling down past Create Account
1. Open MetaMask extension
2. Click on the Circle image in the top-right cor

[2018-08-20 16:36] XYOGeorge opened #5105 "Sorry, we are unable to locate this Transaction Hash"
**Describe the bug**
I am trying to deposit funds from my MetaMask to IDEX and although IDEX says the request mas been made AND MetaMask is showing the request, enough Gwei has been offered, and sufficiend funds are in the account, the transaction details cannot be found on Etherscan and the transaction never completes..  This has been for the past two days

**To Reproduce**
Steps to reproduce the

[2018-08-20 16:38] bdresser commented on #5104
@theomarshanti I'm on your same OS and browser and can't reproduce any of these. Could you check your Chrome Task Manager and see if MetaMask is taking up a high CPU % or has a large memory footprint? These could be symptoms of #4074

[2018-08-20 16:41] kumavis commented on #3088
@saturnial #4279 changes our handling of rpc methods from `provider-engine` to `json-rpc-engine`.

before with `provider-engine` we used this [default configuration](https://github.com/MetaMask/provider-engine/blob/master/zero.js) for all networks. Its cache logic can be found [here](https://github.com/MetaMask/provider-engine/blob/master/subproviders/cache.js).

now with `json-rpc-engine` and [so

[2018-08-20 16:52] danfinlay commented on #4577
Hi, sorry, I got behind on github notifications, I know this is really not ok, especially for a bounty. I'll be making bounty review one of my very regular daily activities now.

The bounty criteria had included minimizing code required, but it's ok, your example is good enough to allow me to [begin development of that module](https://github.com/danfinlay/metamask-extension-provider).

Paying out

[2018-08-20 16:52] #4577 closed

[2018-08-20 16:54] theomarshanti commented on #5104
It reaches 90% CPU usage when I open it, but the issues are reproducible with CPU usage under 10%. I just removed & reinstalled Metamask again and the issue persists. I am not using any other Chrome extensions either.

[2018-08-20 17:10] CruzMolina opened #5106 "FF v4.9.3 Update"
v4.9.3 hasn't been pushed out to FF.

Thank in advance! 😄

[2018-08-20 17:58] bdresser opened #5107 "Investigate removing "Read from Clipboard" permission"
If we can remove it, let's.

Will require significant QA

[2018-08-20 18:02] shad-k commented on #4894
Since I wasn't able to find the root cause of this I would like to stop work on Gitcoin and let someone else claim it if they have a solution for this. Will keep looking for the root cause in the meanwhile.

[2018-08-20 19:09] bdresser commented on #5105
@XYOGeorge it's possible your transactions are blocked by an earlier pending transaction.

If you scroll down in your transaction list, do you see a link that says "Taking too long? Retry your transaction with higher gas" ? Later transactions (with higher nonce) won't be able to process until the pending transaction with lowest nonce lands.

[2018-08-20 19:09] bdresser commented on #4867
@Markfaber sounds good!

[2018-08-20 19:28] cjeria commented on #4752
Here's an updated signature req. screen design illustrating the JSON data as per the spec.

The labels + icons in the old UI adds a lot more unnecessary noise to the screen which makes it harder to read IMO that's why I intentionally left them out. I think we can add tool tips to show the labels as well as making them clickable and link to the URL and etherscan.

I'm going to push back a little on

[2018-08-20 20:12] #4953 closed

[2018-08-20 20:56] danfinlay commented on #3073
Not currently. We are actively working on a feature where sites will opt-in to our API, and so then all sites will work as normal by default:
https://ethereum-magicians.org/t/eip-1102-opt-in-provider-access/414/10

It would probably be tricky to implement a tag like you suggest, because our `contentscript` that adds the API is run before the page loads, and so we can't reference elements of the pa

[2018-08-20 20:56] danfinlay commented on #3073
Reopening since you're seeing this still.

[2018-08-20 21:13] XYOGeorge commented on #5105
Yes..  I see it.. thank you..  However, I have tried to cancel the transaction by clicking the link that brings up the new transaction then clicking REJECT, but it keeps coming back.

Can you suggest anything?

[2018-08-20 21:19] danfinlay commented on #4752
@cjeria That looks nice! I almost didn't notice the `domain` section because it's formatted so nicely. I also like adding the site first letter to enrich the icon.

Unfortunately, I don't think this is an option for us here.

We don't have control over the shape of the Message data, and there are no "technical users who understand what some of these pieces of data actually mean", because every sig

[2018-08-20 21:20] danfinlay commented on #4752
Another way we could make it prettier: We could de-camelCase, so it would turn `drivingRatingStars` into `Driving Rating Stars:` I think this would be a pretty acceptable protocol, and I think devs would appreciate this.

[2018-08-20 21:22] bdresser commented on #4752
@cjeria I think we could probably drop colons and use color to make it a little friendlier (while still being technically accurate) like in the old UI.

<img width="200" alt="screen shot 2018-08-20 at 2 21 03 pm" src="https://user-images.githubusercontent.com/1016190/44367392-7297f600-a484-11e8-80c4-a56a1c094f33.png">

[2018-08-20 21:32] XYOGeorge commented on #5105
![2018-08-20](https://user-images.githubusercontent.com/42548267/44367844-d5ab7c00-a4c8-11e8-83a9-4acde82c8ba4.png)

[2018-08-20 22:04] oogetyboogety commented on #3776
Sorry I meant that does time out

[2018-08-20 22:13] oogetyboogety commented on #3776
Actually this may be easier to do in the ui/app.js. If anyone has any recommendations, I'll use them, otherwise I'll keep the network state as loading and just remove the loading overlay after a timeout.

[2018-08-21 00:42] writeprovidence commented on #4577
thanks@danfinlay

[2018-08-21 06:52] dekz commented on #5039
Any update on this? Also seeing the same behaviour in both Chrome and FF, reinstalled down to 4.7.4 and still see this issue.

[2018-08-21 07:52] ArsenKulikov commented on #2847
@bdresser
So, can you explain, how pass data in "FUNCTION TYPE" and in function name about transaction cost? Is it already possible?

[2018-08-21 08:24] MarkWieczorek opened #5113 "Metamask does not broadcast new transactions when there are several waiting to be confirmed."
I have encountered this problem several times:

* I submitted several (about 4) transactions with very low gas prices. They show up on etherscan as pending, and I don't care how long it takes for these low priority transactions to confirm.
* After submitting these transactions, I next submitted a high priority transaction with a high gas price that should ensure that it is confirmed immediately. H

[2018-08-21 08:58] MicahZoltu commented on #1216
@bdresser I just tested again and this bug is still present in the latest version of MetaMask on Chrome.

[2018-08-21 10:59] XYOGeorge commented on #5105
Thanks for your assistance..
I played tennis with a bit of funds, biting the bullet on the fees, until all the outstanding transactions had depleted ..  I then deleted and reinstalled the plugin.
All is working fine now.

THANKS AGAIN

[2018-08-21 10:59] #5105 closed

[2018-08-21 11:02] mastef commented on #3073
I posted in https://github.com/MetaMask/metamask-extension/pull/4477#issuecomment-414102978 that a solution could be checking for `typeof window.gform_gravityforms != 'undefined'`

However that also would depend on the time when your content script loads.

[2018-08-21 13:33] kyawhtet1996 opened #5114 "HitCoin"

[2018-08-21 17:15] epiqueras opened #5116 "Should Ignore Sandboxed iFrames"
**What problem are you trying to solve?**
Some dapps use sandboxed iframes to execute arbitrary code in a sandbox, (see https://www.w3schools.com/tags/att_iframe_sandbox.asp). MetaMask should not allow code in the sandbox to request transaction signing under any circumstances as users might believe the parent dapp is requesting it.

**Describe the solution you'd like**
MetaMask should block transa

[2018-08-21 17:26] bdresser commented on #5114
@kyawhtet1996 if you're looking to get a token name / image added, please open a PR on our [eth-contract-metadata repo](https://github.com/MetaMask/eth-contract-metadata)

[2018-08-21 17:26] #5114 closed

[2018-08-21 18:07] bdresser commented on #5113
@MarkWieczorek transactions from the same account must be processed in order of their nonce. So if you submit a series of transactions with low gas prices, then later submit a transaction with a high gas price, the later transaction will have a higher nonce and *cannot* be confirmed until the earlier tx are confirmed.

We've considered adding a warning to the confirm screen when a user tries to su

[2018-08-21 18:10] bdresser commented on #2847
@ArsenKulikov we pull function names from [parity's signature registry](https://github.com/parity-contracts/signature-registry), [here](https://etherscan.io/address/0x44691B39d1a75dC4E0A0346CBB15E310e6ED1E86#code) on Etherscan. If you add your function's signature it will appear when users call it via MetaMask.

[2018-08-21 18:13] bdresser commented on #5082
@jakicho I'm not able to reproduce this issue. Is it happening for you on production dapps on mainnet or testnets? Or is this just an issue with your local development?

[2018-08-21 18:29] MarkWieczorek commented on #5113
Does this mean that if this transaction is eventually dropped from the mempool, that none of the other transactions with higher nonces will ever confirm ?

[2018-08-21 20:05] tmashuang commented on #5098
What port is Parity open as?

[2018-08-21 20:14] john-light commented on #5098
@tmashuang not sure, I haven't changed any settings in the node. I am just following the instructions MetaMask published here: https://consensys.zendesk.com/hc/en-us/articles/360004060451-Using-a-Local-Node

[2018-08-21 20:17] tmashuang commented on #5098
The article described focuses on Geth, and could be outdated. From what I see, Parity uses a default port of http://localhost:8180. Try switching back to one of the default networks, select Custom RPC from the dropdown network menu, and enter http://localhost:8180 in the Custom RPC URL field.

[2018-08-21 20:39] john-light opened #5117 "Failed transaction is showing up as confirmed"
**Describe the bug**
A transaction that Etherscan shows failed is showing up as confirmed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a minime token send transaction with gas limit at 41245
2. Wait for confirmation
3. See that it confirmed
4. See error in Etherscan even though MetaMask shows it as confirmed

**Expected behavior**
Failed transactions should show up as failed in Me

[2018-08-21 21:43] danfinlay commented on #5113
No, because MetaMask remembers the transaction and re-broadcasts it on a gradually diminishing interval. It may be dropped from one client's mempool, but as long as your client remembers it, the transaction is still mineable.

[2018-08-21 22:09] john-light commented on #5098
Thank you for the suggestion @tmashuang. After trying with localhost:8180 MetaMask still shows the error: `Connecting to Unknown Network` until I change it back to mainnet or testnet.

[2018-08-21 22:36] cjeria commented on #4510
Yes, let's default to ETH and provide a way to swap the main currency in settings.

[2018-08-21 22:51] starmankiti opened #5120 "metamask is not displayed"
Commenting using machine translation
metamask is not displayed

Even after logging in, it will stop on the white screen

[2018-08-21 22:51] starmankiti commented on #5120
![2018-08-22 07 50 13](https://user-images.githubusercontent.com/42591311/44433191-3b3e5c00-a5e0-11e8-8534-4c0ba6871038.png)

[2018-08-21 23:03] bdresser commented on #5120
Closing as a duplicate of #4894. If there's anything useful in your [background logs](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue) please add to the issue there!

[2018-08-21 23:03] #5120 closed

[2018-08-21 23:29] bdresser commented on #4894
@starmankiti you can try killing the extension from your Chrome Task Manager - this shouldn't require you to re-enter your seed phrase, but no promises. For more questions like this please reach out to support@metamask.io.

And to anyone else experiencing this issue - any errors present in your [background logs](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-

[2018-08-22 00:50] brunobar79 opened #5123 "Sign Message popup layout is broken in Chrome"
**Describe the bug**
Sign and Cancel buttons don't fit on the sign message or send transaction popup.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://danfinlay.github.io/js-eth-personal-sign-examples/ using Google Chrome
2. Click any of the buttons and the signing message popup will show up
3. You'll see that half of the buttons are hidden,

**Expected behavior**
The buttons sh

[2018-08-22 01:49] brunobar79 commented on #5123
Not an issue. I was zoomed in at 110%  🤦‍♂️

[2018-08-22 01:49] #5123 closed

[2018-08-22 08:55] ArsenKulikov commented on #2847
@bdresser
Thank you for the responce!
Sorry, but i'm beginner in eth :)
I can't understand data flow of this process.
I have function in my contract (someFunc(string _string)), i call function registry('someFunc(string _string)'), and it will added to mapping. But when i should to do this? With my func call or only call function 'registry' of SignatureReg, or maybe in constructor in my smart contr

[2018-08-22 10:01] MarkWieczorek commented on #5113
Perhaps it would be useful to put a warning icon next the the first transaction when their are others that follow, like "Warning, transactions are processed sequentially. The following transactions will only be processed after this transaction is confirmed." If I thought I understood how Ethereum works, I presume that there are a lot of people who also didn't realize this...

[2018-08-22 15:28] Neurone opened #5125 "Support EIP-681"
**What problem are you trying to solve?**
At the moment MetaMask _blindly_ insert "ethereum:" prefix while creating QR code of addresses. This behaviour makes other softwares to think MetaMask is compliant with [EIP681](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-681.md) and so errors and misunderstandings may rise in the ecosystem (i.e. [here](https://github.com/status-im/status-react/i

[2018-08-22 17:06] aertmann commented on #5063
Why are you interfering with `*.test` in the first place? I use that for local development and it's a known pattern after Google bought the `.dev` TLD. Please find something more unique for your purpose.

[2018-08-22 17:11] leroldary commented on #4752
@danfinlay  de-camelCaseing would be great!
@cjeria The ``domain.url` parameter was removed, so www.cryptokitties.com shouldn't be shown in the domain section. The version (behind the name? E.g. CryptoKitties 2.0.1) and salt (just put it below the contract address?) should be somehow added to the domain section.

For the message, I would prefer something like this (But how to render arrays?):
 **M

[2018-08-22 17:33] danfinlay commented on #5113
You'll be glad to hear we're already planning to add UI to emphasize the sequential nature of tx processing.

https://github.com/MetaMask/Design/issues/25#issuecomment-404629221

[2018-08-22 17:36] bdresser opened #5126 "Warn users if submitting transaction when several tx already pending"
**What problem are you trying to solve?**
Users often submit multiple transactions in a row and are confused / frustrated when they don't confirm, especially if they submit a transaction with high gas while something else is already pending. Many folks don't realize tx need to be processed in nonce order. See https://github.com/MetaMask/metamask-extension/issues/5113 and https://github.com/MetaMas

[2018-08-22 17:37] bdresser commented on #5113
@MarkWieczorek The designs Dan and I linked above should help - but we've also [discussed this](https://github.com/MetaMask/Design/issues/25#issuecomment-411836556) particular warning before although haven't moved on it. Opened an issue here (https://github.com/MetaMask/metamask-extension/issues/5126) to discuss

Closing this for now, thanks again for the feedback.

[2018-08-22 17:37] #5113 closed

[2018-08-22 17:39] bdresser commented on #5104
@theomarshanti any errors in the [UI or background logs](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue)?

[2018-08-22 17:46] bdresser commented on #5125
looks like we need to use the proper prefix for testnet addresses, rather than using `ethereum:` always. (see https://github.com/MetaMask/metamask-extension/pull/1592)

@danfinlay @kumavis any concerns? otherwise I can get a small bounty up today.

[2018-08-22 18:58] #4957 closed

[2018-08-22 18:58] #4992 closed

[2018-08-22 19:00] danfinlay commented on #4752
It may not be part of the signed message, but the domain still informs the user the origin of the signature proposal, so I think it still has value to the UI here.

[2018-08-22 19:01] whymarrh commented on #4992
@codyborn thanks for the bug report, this should be fixed in an upcoming release

[2018-08-22 21:14] Legacytrx commented on #3453
Hi, any progress on this as we have the same problem with Atheios:
Network ID: 11235813
Chain ID: 1620
?

[2018-08-22 21:17] vs77bb commented on #3343
@ajnauleau @bdresser Just paid this one out 🙂

[2018-08-22 21:48] #5085 closed

[2018-08-23 02:42] hackmod commented on #3453
See also PR #4932

[2018-08-23 06:33] 2946697215 commented on #2015
@skozin it solved my problem!

[2018-08-23 11:06] leonprou commented on #4161
@danfinlay I also see that https://github.com/MetaMask/metamask-extension/pull/4279 is finally merged. Super cool, I'm excited about the stuff that could be built now 😊

[EIP-1193] (https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1193.md) Is the spec that should be implemented, right?

So yeah, the bounty is still relevant!

[2018-08-23 11:18] MikeCheng1208 commented on #5092
@whyrusleeping Do you use the "mainnet" or other network of Ethereum provider?
I think ENS resolve function now only support on "mainnet" or "ropsten"

[2018-08-23 11:43] #4498 closed

[2018-08-23 14:16] ZitRos opened #5131 "Strange Metamask Behavior When I Enter "test" in the Address Bar"
Check this screen recording out:

![2018-08-23_17-10-23](https://user-images.githubusercontent.com/4989256/44530672-a75fb380-a6f7-11e8-8f59-535b47c36db8.gif)

When I enter "test" in the address bar and press enter, I get a Google search and almost immediately this page is redirected to Metamask's **404 not found powered by [portal network](https://www.portal.network/)** page.

I suppose some testi

[2018-08-23 17:07] frankchen07 commented on #4771
@ajnauleau & @dpazdan, I've snoozed Gitcoin bot for you guys :). Was there any follow up on the exploration work?

[2018-08-23 17:09] steveireton opened #5132 "Metamask added but the fox does not appear on my chrome bar"
FOR USER QUESTIONS, PLEASE DO NOT OPEN A GITHUB ISSUE - IT WILL NOT BE HANDLED HERE.

INSTEAD, PLEASE EMAIL SUPPORT@METAMASK.IO WITH A DESCRIPTION OF YOUR PROBLEM.

[2018-08-23 17:14] whymarrh commented on #5131
This might be a duplicate of #5063

[2018-08-23 17:16] ZitRos commented on #5131
@whymarrh, it is. Thank you!

[2018-08-23 17:16] #5131 closed

[2018-08-23 17:36] tmashuang commented on #5098
Try using the IP instead of localhost, the one specifically in the url that Parity opens as. If the issue persists, provide background logs, and the network tab, to see what kinds of errors might be coming from the server.

[2018-08-23 17:43] danfinlay commented on #4161
While #4279 is merged, we're living on it in `development` for a while before pushing it to production. We want to catch any stray issues as early as possible. Will probably publish it the week after next.

[2018-08-23 18:16] bdresser commented on #5132
hey @steveireton - as the template says, you should email support@metamask.io :)

(that said - head to `chrome://extensions` and make sure MetaMask is enabled)

[2018-08-23 18:16] #5132 closed

[2018-08-23 19:50] bdresser commented on #5063
This was originally included by the contributor as a convenience feature for debugging, but it's not too challenging to test your site on ropsten by loading the IPFS hash directly via a gateway.

We'll remove matching on `.test` domains in the next release. Thanks for the feedback!

[2018-08-23 19:53] bdresser opened #5133 "MetaMask Wiki"
I'd like to start a org-level wiki page to consolidate the info we repeatedly disseminate to devs & users.

* We have some good but short documentation in markdown in the extension repo, we could consider moving that documentation to the wiki to surface it across repositories
* We have a good FAQ section via our support portal - this won't replace but will actively direct certain questions there

[2018-08-24 02:51] oogetyboogety commented on #3776
@bdresser If I insert

inside app/_locales/en/messages.json, will it automatically translate to all 16 other languages?
For now, I'll just stick to updating English.

[2018-08-24 15:28] ethanfrey commented on #4593
Curious about the solution using chrome apps, as they seem to be deprecated... https://9to5google.com/2017/12/06/google-chrome-apps-dead-web-store/

But I guess the iframe solution won in the end

[2018-08-24 15:41] bdresser commented on #3776
@oogetyboogety I believe there's already a translated error message for "Oops! Something went wrong" that you can use -- check `unknownCameraErrorTitle` in messages.json

[2018-08-24 16:06] bdresser opened #5135 "Update "after install" page"
Right now after a successful install we redirect users to metamask.io. The user then needs to find the foxy icon, click, start onboarding, etc.

Instead we should redirect to the first step of full-page onboarding, which begins with a nice foxy splash page.

<img width="999" alt="screen shot 2018-08-24 at 8 58 36 am" src="https://user-images.githubusercontent.com/1016190/44594783-fcdda400-a77b-11e

[2018-08-24 21:35] Schwartz10 opened #5137 "web3.eth.filter(options).get does not invoke callback - seems to timeout with large block ranges?"
Filing this issue after a conversation with @kumavis, see below for our conversation:

I’m having trouble using web3 filters when writing a nodejs script to get event data from a contract - the same code used in the script works great in our web application, the only differences (i see) are (1) the runtime environment and (2) in our web app we use the `window.web3` object (from metamask) and in no

[2018-08-24 22:07] john-light commented on #5098
I do not understand what you mean or know how to do this.

Where do I find the background logs and network tab?

[2018-08-24 22:43] lazaridiscom commented on #4593
@ethanfrey , I somewhere saw that the end-of-life for chrome-apps was extended. Additionally, A.1 and A.2 use essentially the same messaging-technique, thus code produced for A.1 could be reusable for a A.2 implementation.

Both A.1 and A.2 implementations are not the final ones. They are just kind of workarounds, until a direct-access-layer  (U2F or WebUSB) for browser-extensions is provided by t

[2018-08-25 00:46] cjeria commented on #3776
Apparently the word "Oops" translates to several other languages:

    German: hoppla, huch, ups
    Dutch: oeps
    Spanish: uy and ups
    French: zut and oups
    Japanese: おっとっと [ottotto]
    Mandarin Chinese: 哎呀 [āiyā]
    Russian: ой [oi] or опа [opa]
    Georgian: ვაიმე [vaime] or ვახ [vax]
    Armenian: Վայ քու [vay kou]
    Greek: ώπα [opa]
    Romanian: hopa
    Turkish: ay
    Arabic: ي

[2018-08-25 03:47] maxweng opened #5139 "Cannot Import Private Keys"
I failed to import the private keys from Ganache to the MetaMask extension, whether '0x' is prepended to the private key or not and no error message shows up. I've tried both Chrome and Firefox on Mac and got the same results. But it worked before I upgraded to the latest stable version.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the MetaMask extension
2. Click on the icon on t

[2018-08-25 15:02] rdymac opened #5140 "Add an All accounts button to accounts list"
**What problem are you trying to solve?**
List of accounts seems to be inaccessible for some users (e.g. case 6556) when there are more than 4 accounts due to issues with the scroll behaviour.

**Describe the solution you'd like**
Add an "All accounts" option/button at the top of the list which would open a list in the full-screen view so it is easier to manage wallets with many accounts.

**Addit

[2018-08-25 17:46] leafcutterant commented on #4984
Is this screen the result of the same bug? This happened when I was sending Dai.

![0](https://user-images.githubusercontent.com/7106231/44621035-82a64000-a89f-11e8-87b0-d714792a4d4d.png)

[2018-08-25 18:21] farahbrunache opened #5141 "Add Haitian Creole Language Translation"
**What problem are you trying to solve?**
Add Haitian Creole language translation

[2018-08-25 20:41] rstormsf commented on #4161
@danfinlay thx for the update....

[2018-08-26 08:40] RusVakhitov opened #5143 ""Connecting" spinner blocks onboarding"
Hello. I have a problem. The wallet does not start. The browser has ads blockers. When I turn them off and restart. The wallet does not work. I attach screenshot. Waiting for an answer. Thank you in advance
https://s20.postimg.cc/9wd2yjc9p/image.jpg

[2018-08-26 15:47] Rohithzr commented on #4510
@bdresser yes I am working on this issue, just a bit of festive weekend in my country, Ill be back tomorrow and hopefully a PR in a couple of days. I am figuring out a few things, currently the the settings that I am selecting from the dropdown are not getting persisted, if someone has any ideas about it, that would be helpful

[2018-08-26 19:55] sevriugin opened #5145 "Transfer ERC721 token"
**What problem are you trying to solve?**
We have ERC721 token than we are using in crowdsurance project. Before token activation it can be transfer to another user / account. The new version  of Metamask supports ERC20 token transfer but did not recognise the difference between two types of token. We can add ERC721 token to the address and we can try to send it to other address but the transactio

[2018-08-26 19:58] sevriugin commented on #5145
By the way if you try to enter in the amount field 1 the the transaction will be confirmed but will fail later.
<img width="364" alt="screen shot 2018-08-26 at 12 17 36" src="https://user-images.githubusercontent.com/5311893/44632461-1f89db80-a97b-11e8-8a32-166e1c06787c.png">
https://rinkeby.etherscan.io/tx/0xecd6f195d76161263ac8d9b2cea893f6b1ea91748fa87e82f43eb66ad3012d03

[2018-08-26 20:34] kwaazaar commented on #5143
Same here. It says "Connecting to main network", but fails to connect. I'm not aware of an outage at infura.

[2018-08-27 03:44] anonymoous opened #5146 "Transactions are not being submitted"
Win10
Chrome browser

Whenever i submit transactions through metamask, most of them don't get submitted.  When i click on the hash to find on blockchain, blockchain explorer doesn't find the hash, so its not getting submitted properly.  Very frustrating issue for me, can someone help?

[2018-08-27 04:57] dpdanpittman commented on #5143
I'm having the same issue. Please fix ASAP my dApp relies on it.  [www.qwoyn.io](https://www.qwoyn.io)

[2018-08-27 12:31] Mecooo commented on #1410
Hello,
is there any way to give a command in html/js which will insert a specific nonce?

Like:
......
  web3.eth.sendTransaction({
    to: user_address,
    from: user_address,
    value: web3.toWei('0.001', 'ether'),
    nonce: 274,
.......

Thank you!

[2018-08-27 12:43] elie222 commented on #1410
Yes. That will work.

On Mon, 27 Aug 2018, 15:31 Mecooo, <notifications@github.com> wrote:

[2018-08-27 13:59] jakicho commented on #5082
Hi @bdresser, it is happening locally on a simple function that changes the state of a variable and emit an event.

[2018-08-27 15:33] TimTinkers commented on #4957
@whymarrh happy to help, thanks for taking care of it.

[2018-08-27 16:26] Mecooo commented on #1410
Well, it doesn’t work and I don’t even have an idea why :/

[2018-08-27 16:49] elie222 commented on #1410
If you've sent the wrong nonce you should see that in the error message. I
don't think this is a metamask issue, but a web3 one. You should check
through their docs. Do things work when you don't add the nonce field?

Also, most of the time you don't want to be setting the nonce. If you need
to reset the metamask nonce, they have an option for that in the ui.

On Mon, 27 Aug 2018, 19:26 Mecooo, <n

[2018-08-27 18:11] hanroa opened #5148 "my keys"

[2018-08-27 18:32] Mecooo commented on #1410
The txn itself works.
The aim is to set the same nonce as in one of my pending txns to cause a failure which will abort both txns. As I know this is atm the only way to cancel a pending txn.

In trust wallet it is no problem. There I can set my wished nonce. But in MetaMask isn’t a possibility that I’ve found so far.

[2018-08-27 19:01] brunobar79 opened #5149 "Switching accounts on signing popup doesn't work"
**Describe the bug**
If you try to sign a message with account 1, and then switch to account 2 in the same signing popup,
the message gets signed with account 1 instead of 2

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have at least 2 accounts on metamask
2. Go to https://danfinlay.github.io/js-eth-personal-sign-examples/
3. Tap on any of the buttons
4. Switch accounts insid

[2018-08-27 19:05] kwaazaar commented on #5143
Reinstallation fixed it for me. I also choose not to install the new version.

[2018-08-27 20:25] dpazdan opened #5150 "Selecting Import using account seed phrase provides unexpected result / flow on Chrome"
**Describe the bug**
When clicking "Import using account seed phrase", the result is the same login/password prompt page loads in full tab.  The person then has to select the same "Import using account seed phrase" link again in order to get to the "Restore your Account with Seed Phrase" page.  This issue does not occur on firefox, it appears to be Chrome only, because Chrome opens a new tab, clos

[2018-08-27 20:43] danfinlay commented on #5149
I don’t think we meant to allow users to change the signing on this screen, since it breaks a Ðapp expectation. Maybe we can later by providing a mutable method like sendMutableTransaction:

https://github.com/MetaMask/metamask-extension/issues/4260

[2018-08-28 02:30] buhrmi commented on #3453
Hi guys, any update on this? I want to use the "old" ethereum network with chainid 61 because i dont like the main net.

[2018-08-28 02:38] buhrmi commented on #3453
https://github.com/MetaMask/metamask-extension/pull/5134 seems to do exactly what I need... Can I do something to help getting it merged?

[2018-08-28 07:09] mannutech commented on #5098
@john-light I have got it working at my end by starting the parity node as below :
`parity --chain=ropsten --jsonrpc-cors="all" --jsonrpc-apis="all" --jsonrpc-interface=all`
I am sure this won't be a recommended way of starting the node, but you can get started atleast

[2018-08-28 08:37] birdkingz commented on #3140
I'm having
`MetaMask - RPC Error: Internal JSON-RPC error. {code: -32603, message: "Internal JSON-RPC error."}`
while calling `estimateGas` on my contract.

The contract is working fine because if I don't use metamask then I'll be able to call the function.

[2018-08-28 10:16] guannay opened #5153 "metamask ha desaparecido de mi extension en crohme"
Si intento reinstalarlo me dice que ya esta añadido y que esta inhabilitado. Pulso la tecla para volver a habilitar y no se vuelve a habilitar. Mi navegador es crohme. Indiquenme como puedo recuperar la extension  o como puedo solucionar el problema y tener acceso a mis tokens. Gracias.

[2018-08-28 12:06] chrishobcroft commented on #4281
Same here.

[2018-08-28 13:44] Rohithzr commented on #4510
@bdresser
[ETH transfer screen](http://i64.tinypic.com/e1226h.jpg) - primary currency is eth
[Token transfer screen](http://i68.tinypic.com/rjfbzr.png) - untouched at the moment

This is still WIP but I wanted the UI to be looked at and confirmed as much as possible.
The diamond sign stays or goes?

[2018-08-28 16:50] CptanPanic commented on #5113
So what is the current work around for this issue?  I have it now with some stuck low-gas transactions?  Just wait?

[2018-08-28 17:38] danfinlay opened #5154 "When there is an error sending a tx, the confirm view never stops spinning."
Even though we call the `goHome()` action before rejecting:

https://github.com/MetaMask/metamask-extension/blob/develop/ui/app/actions.js#L1128-L1130

I have a state log file reproducing this situation, will share internally.

[2018-08-28 17:56] meghanasarikonda commented on #4894
yeah working to reproduce the problem!

[2018-08-28 18:09] mapmeld commented on #3535
Recommend marking this one as closed

[2018-08-28 19:15] Mecooo commented on #1410
I mean, do you understand what my aim is? Do you guys have an other idea?

[2018-08-28 19:50] cjeria commented on #4789
Posting updates to the advanced custom gas component here for feedback.

![advanced - customize gas modal dialog](https://user-images.githubusercontent.com/597770/44747023-e491c000-aac0-11e8-95eb-64259d007496.png)
![advanced - speed up](https://user-images.githubusercontent.com/597770/44747024-e491c000-aac0-11e8-9b75-f8cf039184e2.png)

[2018-08-28 20:52] Mecooo commented on #1410
![grafik](https://user-images.githubusercontent.com/42712711/44750081-bfc73800-ab14-11e8-85dd-83cb9410d8b5.png)

With that the txn is starting.. everything is working, but the nonce isn't. It is opening MetaMask with exactly the right txn like I set in the code.. But without the given nonce.

It is ignoring the line with the nonce.. And I have rly no idea why.

I would very appreciate your help! T

[2018-08-28 20:53] danfinlay commented on #1410
Hi @Mecooo:

No, MetaMask ignores dapp-provided nonces right now. Can you describe the reason you wanted to edit it?

Right now we manage nonces to account, to simplify a variety of possible problems.

[2018-08-28 21:00] Mecooo commented on #1410
Hi,
there were pending txns in one of my accounts. I sent the ETH to a smartcontract. After a huge gain in gasprices they stucked in the system. After a short while it was not longer worth it to send the ETH to the smart contract. Because of that I wanted to cancel the txn. But there is no way with MetaMask.

So it worked with trustwallet on my Smartphone. But I want to code something that makes i

[2018-08-28 21:15] danfinlay commented on #1410
MetaMask uses your currently pending transactions to calculate the correct nonce to give an additional transaction.

When submitting one in place of another pending transaction, the rest of your transactions are still in queue, and so letting users do that has resulted in some dangerous and confusing situations in the past:
https://consensys.zendesk.com/hc/en-us/articles/360004133232-Ghost-Account

[2018-08-28 21:26] Mecooo commented on #1410
You mean like TrustWallet, right? Would an other browser with MetaMask work as well?
For example:
I have these issues in firefox and can just install chrome and insert MetaMask there.. add my private key and launch a txn.. But how without chaning the nonce? Is it because the other client hasn't gotten the new (pending) txn number so far? And why is it possible in Trustwallet. I mean, there you can

[2018-08-29 00:37] #5154 closed

[2018-08-29 00:43] danjm commented on #4789
@cjeria These look great.

One comment: when opening the modal from the confirm screen, we need to give the user access to both the basic tab and the advanced tab. So, we need to give the user a way to switch between tabs.

[2018-08-29 02:14] grafx77 commented on #5146
Hey bud...did you ever find a solution to this? I'm having the same issue.

[2018-08-29 02:36] anonymoous commented on #5146
No, same still

[2018-08-29 06:49] Mecooo commented on #1410
Hello again @danfinlay :)
Is it possible to code a external button on my website that will reset MetaMask with its txn list? Probably not, but thought it is worth asking it.

Thank you,
greetings Meco

[2018-08-29 09:05] greenkeeper[bot] opened #5158 "An in-range update of etherscan-link is breaking the build 🚨"
## Version **1.0.3** of **etherscan-link** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fetherscan-link-1.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.

[2018-08-29 09:12] Tbaut commented on #5098
Hi guys, Thibaut from Parity.
@mannutech is opening a little bit too much the node so that it's not secure, but the idea goes in the right direction. Since Parity only allows local HTTP RPC per default, you need to specifically whitelist the domain used by Metamask using the flag `jsonrpc-cors`. The domain used can be figured out by opening Metamask in a new tab (top right icon in the beta version

[2018-08-29 15:53] danfinlay opened #5159 "New block tracker: Creates heavy spamming with eth-gas-price-visuals"
If you visit [my gas price graphing page](https://danfinlay.github.io/eth-gas-price-visuals/), what used to happen is it would back-fill the last 20 blocks, but now it seems to start from some very old block and then queries the provider rapidly for increasingly recent blocks.

This looks almost definitely to be new behavior with the new provider.

This happens when using the `block` event listene

[2018-08-29 16:30] greenkeeper[bot] opened #5160 "An in-range update of currency-formatter is breaking the build 🚨"
## Version **1.5.1** of **currency-formatter** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fcurrency-formatter-1.5.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https:/

[2018-08-29 16:52] aunyks commented on #3475
+1 on support for signature without broadcast

[2018-08-29 19:46] owocki opened #5161 "metamask DAI numbers are wrong (and null on the confirmation page)"
**Describe the bug**
A clear and concise description of what the bug is.
metamask DAI numbers are wrong (and null on the confirmation page)

![screencast](https://user-images.githubusercontent.com/513929/44811464-c0a6ab00-aba2-11e8-9b80-2d7dcf3535a4.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Metamask
2. Click on 'click on DAI
3. try to send some DAI
4. on confirmation page, t

[2018-08-29 19:50] owocki commented on #5161
looks like related to eth-contract registry call?

```curl 'https://mainnet.infura.io/eth-contract-registry' -H 'origin: chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn' -H 'accept-encoding: gzip, deflate, br' -H 'accept-language: en-US,en;q=0.9' -H 'user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36' -H 'conten

[2018-08-29 19:56] owocki commented on #5161
hmm it happens on my chrome canary also (totally independent metamask install, which also already had DAI installed)

[2018-08-29 20:12] danfinlay commented on #1410
Yes, any other client, including another browser with MetaMask would work in this scenario.

No.

We could very easily let you change the nonce, and we will probably add this under a flag in settings, but by default, we see far more users lose funds and get frustrated by editing their nonces without knowing what they're doing than we get people who want to edit their nonce.

[2018-08-29 20:15] danfinlay commented on #3140
@birdkingz This thread has become a catch-all for people receiving this generic error code. Please open a new issue, and include specific reproduction steps, such as a Dapp or your contract's address and the transaction whose estimation fails.

[2018-08-29 20:18] danfinlay commented on #5113
Your earliest stuck transaction should have a "retry with higher gas" button, and you should click that to resubmit it with a higher gas price.

[2018-08-29 20:18] #3535 closed

[2018-08-29 21:31] danfinlay opened #5162 "Clicking “Import seed” opens full screen but doesn’t transition to the import screen."

[2018-08-29 21:46] danfinlay opened #5163 "Gas price incrementing buttons are finnicky"
When clicking the gas editing button on the "send" screen, sometimes the first click or so `^` or `v` doesn't quite work. Not sure exactly how to reproduce, it's finnicky.

[2018-08-29 21:56] JSON-LEE13 opened #5164 "Unable to paste public address in recipient address field"
Users experience a issue pasting a public address in the address field. They will have to type a few characters in the field and the delete them in order to paste the address.

![image](https://user-images.githubusercontent.com/38339632/44817782-79c1b100-abb4-11e8-9061-2f5e66058092.png)

[2018-08-29 22:05] Mecooo commented on #1410
Well, that is absolutely true!

Of course there are more people using MetaMask who are not familiar with this option and would probably use it in a wrong way. Provided that it is obvious like changing gas and so on.

What would you say if you -for the time being- add the possibility to edit it only with some external "tools". So the function is limited to these tools and people have to search for

[2018-08-29 22:20] danfinlay opened #5165 "Token logos via watchAsset do not appear everywhere"
Also, logos added via the `watchToken` feature are only rendered in the token list, not in the token detail view nor the confirmation screen.

To demonstrate, go ahead and [add Danbucks](https://metamask.github.io/Add-Token/add?tokenAddress=0xdc1adf1d0bf59ec597e1b1b8e3dceb31aafd793f&tokenImage=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F723268858644037632%2Fu-kjO4___400x400.jpg&tokenName=Danbuc

[2018-08-29 22:35] Mecooo commented on #1410
To be honest.. I thought about this idea as well. But without the cancel feature the user would still have to know how it exactly works and how he has to set the nonce and where to find it on etherscan for example. Sometimes people just think they know it 😉

On my website is everything the have to know and it is very easy to understand.

Isn’t it easy just to let MetaMask take the dapp provided no

[2018-08-29 22:57] rstormsf opened #5166 "Metamask internally increments nonce even though MEW states it differently"
1. Have a pending tx in metamask
2. Go to MEW and sign in with metamask
3. Generate a tx, MEW would show you the `nonce field`:
![image](https://user-images.githubusercontent.com/9360827/44820053-1d569580-aba4-11e8-9265-4401e0608b58.png)

Because MEW relies on `getTransactionCount` method and correctly inserts it.

However, metamask disregards such information and increments it.

There has to be s

[2018-08-30 05:07] SvenMeyer opened #5168 "can not connect to truffle develop, ganache cli/GUI"
I have quite some problems to connect Chrome + MetaMask, with the default web3 0.20.3, as well as with other web3 versions (0.20.6, 1.0.0-beta.3x) to truffle, ganache cli or GUI. Sometimes it works, sometimes not. No idea what the problem could be.

For whatever reason, I always end up with  `web3.eth.net = undefined`

[code]

[2018-08-30 05:09] SvenMeyer opened #5169 "Connecting to Unknown Network - can't stop it"
Whenever MetaMask has a problem to connect to a (local) node, it just display the spinning circle and there is no way to stop it or choose another network, IP or port.

[2018-08-30 05:13] SvenMeyer opened #5170 "MetaMask forgets custom network setup"
I do quite some testing with truffle develop which is running on port 9545 by default. As this network is not in the standard list of networks, I have to add it everytime. Everytime, because even after just switching to another network, the entry is gone.

Also , it would be a good idea to have some visual feedback when setting up a new network and it worked. At the moment there is a [save] button

[2018-08-30 09:13] Weljo156 commented on #5146
same here.  I'm quite new to this so at first I thought it was something about ethereum network. now, after 3 unsumitted transactions in 9 days I'm crazy since I need to do token swap.

[2018-08-30 10:47] therightstuff commented on #4370
This helped: https://github.com/MetaMask/metamask-extension/issues/2038#issuecomment-413470293

[2018-08-30 14:38] kenshyx commented on #5137
Can confirm this happens sometimes when filtering contract events with a 5k block interval. Also I've noticed that metamask is much slower than before .

[2018-08-30 14:39] Schwartz10 commented on #5137
^^ I've also noticed this slowdown as of a couple days ago

[2018-08-30 14:52] Markfaber commented on #4867
Hi Boby and team,
Aplogies for the delay. Please see the integration doc attached. Please
review and let us know if you have any questions before we progress with
the hosted page.
Thanks
Mark

On Mon, Aug 20, 2018 at 10:09 PM bobby dresser <notifications@github.com>
wrote:

--
Mark Faber
VP Customer Success
Skype: fabermark

<https://www.simplex.com/>
www.simplex.com

<https://www.facebook.com/Sim

[2018-08-30 16:43] digitaldonkey opened #5171 "Bring popup to front when new transaction is added"
When I request a signature as a dapp dev normally a popup shows up asking th user for his signature.
In case the popup is all ready open, the counter at the extension will increment, but the popup hidden in the background want focus.

This creates a very inconsistent user experience, as sometimes there is a popup and sometimes there seem to be no popup (brcause it's hidden in the background).

**T

[2018-08-30 17:07] databaseindays opened #5172 "Blank menu area on chrome extension. cl"
I was able to signup and use it, but when I tried to log out it did nothing. now when I click fox head on extension icon it just opens a blank white menu. cant log out or in now.

**Expected behavior**
after using for like 2 minutes the extension is like unresponsive, only opens menu but cant see anything. just blank and white. so cant log out or in. I have not tried closing browser and reopening

[2018-08-30 18:22] markmark1 opened #5173 "wheres the safari metamask extension?"
wheres the safari metamask extension?

[2018-08-30 18:44] danfinlay opened #5174 "Pending txs can stop polling and won't update even after actually mined"
Bounty: identify detailed & reliable reproduction steps that will consistently generate a transaction in the state described below.

--

The tx controller should constantly check its pending tx list and re-check and re-submit. I have a transaction marked `pending/submitted` on `develop` and it's been confirmed on etherscan but in MetaMask it isn't confirming.

In the network tab MetaMask is not po

[2018-08-30 19:27] davecraige opened #5175 "Usability confusion : reset password when logging in on a new machine?"
![screen shot 2018-08-30 at 1 25 03 pm](https://user-images.githubusercontent.com/2782676/44874420-56e8d880-ac58-11e8-976d-ca955a65d033.png)

This is quite confusing.   When you try to login to a different machine with your seed phrase it requires you to re-enter a new password.

- I believe users will be confused as to why they have to set up a new password when they already have a password on th

[2018-08-30 20:04] davecraige commented on #5175
![screen shot 2018-08-30 at 2 04 20 pm](https://user-images.githubusercontent.com/2782676/44876215-a087f200-ac5d-11e8-95e1-21b9dfd44ee9.png)

(I appreciate the feedback from the Metamask social team)

[2018-08-30 22:27] oogetyboogety commented on #3776
Ah OK I see that but I don't know if it's in all of the other languages.

I'll post up the english version tonight once I get the RPC onclick handler call worked out. It's the only one that's messing up.

[2018-08-31 00:59] tarekskr opened #5178 "Nothing happens on posting ETHEREUM_PROVIDER_REQUEST message"
** **MetaMask Version: 4.9.3**
** **Browser: Chrome version 68.0.3440.106**

I am using the code provided in @bitpshr [article](https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8) to post an `ETHEREUM_PROVIDER_REQUEST` message, but absolutely nothing happens when I post it. MetaMask does not show any popups, nor does the listening event `data.type` is

[2018-08-31 05:41] pierreneter commented on #3479
<img width="646" alt="screen shot 2018-08-31 at 12 41 09 pm" src="https://user-images.githubusercontent.com/12815768/44894676-29b12e80-ad1b-11e8-9255-b389ff9139a8.png">

[2018-08-31 06:28] emn178 opened #5180 "Don't round values on confirm screen or fill max"
**Describe the bug**
When you send Token, you click "Max" to fill all available amount. MetaMask rounds the value to incorrect value.

**To Reproduce**
Steps to reproduce the behavior:

Only happen when your token has large decimal, eg.
3145497.473892746899907386

1. Choose a Token
2. Click on 'SEND'
3. Click on 'Max'
4. MetaMask fills to 3145497.473892747 and cause tx failed.

**Expected behavior

[2018-08-31 08:39] valnuro opened #5181 "Display issue with french translation"
**Describe the bug**
There is a display issue with the french translation on the link to ethersan.io

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Menu'
2. Click on 'Details', not sure about the english word used
3. Look at 'Show on etherscan', same don't know the english translation used, in french it's 'Afficher le compte sur etherscan'
4. So the translation 'Afficher le compte su

[2018-08-31 18:13] cjeria commented on #4789
@danfinlay @danjm Posting for feedback on the tabbed gas dialog

![customize gas modal dialog](https://user-images.githubusercontent.com/597770/44929153-d0430280-ad0e-11e8-9b0e-643a7723fe51.png)

[2018-08-31 18:26] bitpshr commented on #5178
Hi @tarekskr. As mentioned in the article, we don't plan to release these breaking changes until November 2nd, 2018. The exact API may change slightly before that time, and if it does, we'll be sure to update the community via a follow-up blog post.

If you have any additional questions, please let us know. Thanks!

[2018-08-31 18:26] #5178 closed

[2018-08-31 18:27] tarekskr commented on #5178
Oh I completely misunderstood, I thought the breaking change will happen on November 2nd. Thanks a lot for the clarification.

[2018-08-31 19:58] josephjomon commented on #3138
my metamask account stays in the loading state like forever with the message'ACCESSING UNKNOWN NETWORK' i am not able to view any of my accounts or networks.
It would be really great if someone would help me.

[2018-08-31 21:27] rstormsf opened #5183 "Cannot import JSON account - history.push is not a function"
**Describe the bug**
Use new metamask UI.
Try to import JSON keystore

**Expected behavior**
success

**Screenshots**
![image](https://user-images.githubusercontent.com/9360827/44936524-ea3e0e80-ad29-11e8-8d48-001cb184f7c2.png)

**Browser details (please complete the following information):**
 - OS: [e.g. iOS]
OSX
 - Browser [e.g. chrome, safari]
Chrome
 - MetaMask Version [e.g. 4.9.0] :
4.9.3
 -

[2018-09-01 04:02] SvenMeyer commented on #4510
I can't even think of why anyone working in this space comes up with the idea to display a (randon) FIAT currency in BIG LETTERS within a software which is meant to be used to transfer Ethereum. Is's all about ETH. There is ETH in the account, users want to send ETH, Gas is derived from ETH, ... it has nothing to do with any FIAT currency. This is the worst UI decision I have seen in this space so

[2018-09-01 23:49] beachncryps71 commented on #5146
I have the same problem.  I received some ETH without any problems 2 days ago, but I've tried to send 3 transactions since then and although Metamask says they have been submitted none of them have shown up on Etherscan.  Very frustrating.

[2018-09-02 01:47] ConnorChristie commented on #4074
After looking more in-depth into the memory usage of the extension, I see a new event listener is added for every tab opened and multiplexed into the publicConfigStore event emitter.

![image](https://user-images.githubusercontent.com/1206980/44951342-974a8100-ae27-11e8-99fb-d85d38d2bdda.png)

The method `setupUntrustedCommunication` gets called whenever a page is created and metamask connects to

[2018-09-02 02:52] ConnorChristie commented on #4074
Another memory leak was found around the main controller `on('update')` event emitter where opening the extension window would add a new handler but not remove it when the window was closed.

[2018-09-02 11:40] Leowal opened #5184 "another wallet"
hello....do is possible to install another new wallet MetaMask....?  how  ?      **What problem are you trying to solve?**
A short description of what you're trying to do. E.g., "My users need to wrap ETH, but they're intimidated by the confirm screen..." or "I'm trying to debug my application, and XYZ..."

**Describe the solution you'd like**
A clear and concise description of what you want to ha

[2018-09-02 14:45] roschler opened #5185 "Metamask getAccounts() not returning if user is not logged in"
In the past I was able to use the _getAccounts()_ method to "test" if the user was logged in to the Metamask extension for Chrome.  As of late, this doesn't work anymore.  In the past, the _getAccounts()_ method would return an empty list of accounts if the user was not logged in to Metamask.  Now, that method never returns (i.e. - the "then" block attached to the _getAccounts()_ method is never e

[2018-09-02 18:17] beachncryps71 commented on #5146
Just to add to my previous post about my problem sending transactions using Metamask... I am able to receive ETH when I send it to my Metamask address from another website without any long delays or problems.  I have also tried using the new and old versions of Metamask over the last two days to send transactions but even though Metamask says the transactions have been submitted when I check for t

[2018-09-03 02:13] roschler opened #5186 "Expose currency converter code via Web3 object?"
Metamask obviously does currency conversion, at least for ETH TO USD.  The amount specified by the developer via JS in the Web3 call that triggers the pop-up shows as USD.  Are there any plans to expose that currency conversion code via the Web3 object?  That would be a great help to those of us that are making games that have entry fees, so we could allow the user to enter the fee in their native

[2018-09-03 16:17] eugeneiiim opened #5190 "Connecting to Kovan shows Ropsten loading message"
**Describe the bug**
Connecting to Kovan shows Ropsten loading message

**To Reproduce**
Steps to reproduce the behavior:
1. Click extension icon.
2. Select "Main" network.
3. Select "Kovan" network.

Shows "Connecting to Ropsten Test Network"

**Expected behavior**
Shows "Connecting to Kovan test Network"

**Browser details (please complete the following information):**
- Browser: Chrome
- Metama

[2018-09-03 16:46] greenkeeper[bot] opened #5192 "An in-range update of bluebird is breaking the build 🚨"
## Version **3.5.2** of **bluebird** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fbluebird-3.5.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/petkaant

[2018-09-03 20:35] enolan opened #5193 "v4.9.3 not uploaded to addons.mozilla.org"
**The official Firefox addons site is still listing 4.9.2**
[Here's](https://addons.mozilla.org/en-US/firefox/addon/ether-metamask/) the Firefox page, with 4.9.2. The Chrome web store has 4.9.3.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the the a.m.o link above
2. Look at the version number under "More information"

**Expected behavior**
Should be 4.9.3

**Browser details (please

[2018-09-03 23:18] john-light commented on #5098
I have MetaMask connected to local Parity node following @Tbaut instructions. Thanks everyone for your help!

[2018-09-03 23:18] #5098 closed

[2018-09-04 10:16] shaharsol commented on #4752
When you complete the breaking changes, can you publish a post similar to this one: https://medium.com/metamask/scaling-web3-with-signtypeddata-91d6efc8b290 so we all know how to modify our dapps?

[2018-09-04 13:59] bitpshr commented on #4752
@shaharsol Definitely! see https://github.com/MetaMask/metamask-extension/pull/4803#issuecomment-418135053 for more information.

[2018-09-04 18:03] bdresser commented on #4510
hey @Rohithzr looks like there's still a ways to go and we're hoping to get this functionality out quite soon, so we're going to handle it internally. Thanks for your work!

[2018-09-04 18:32] danfinlay opened #5195 "Send screen should allow no recipient with hex data"
The hex data field can be used both for contract methods and for deploying a new contract.

Deploying a new contract is a normal transaction with:
- No recipient
- Transaction Data

Currently the new (beta) UI does not allow a tx with no recipient, making contract publication impossible from the new send screen.

For testing, a sample token hex data is:

[code]

[2018-09-04 18:33] bdresser commented on #5184
@Leowal I'm not sure I understand your question. You can add new accounts to your MetaMask extension in the top-right menu, and you can always uninstall and re-install your extension if you'd like to create an entirely new wallet.

For further questions, please reach out to support@metamask.io

[2018-09-04 18:33] #5184 closed

[2018-09-04 18:33] bdresser commented on #4074
fyi @kumavis @danfinlay

[2018-09-04 19:20] bdresser commented on #5146
@anonymoous do you have several pending transactions? if you have an older transaction that's waiting to confirm, it will prevent future transactions from confirming no matter how high you price the gas.

Transactions sent from the same account must be mined in the order they were submitted - this is enforced by each transaction's "nonce." So if I have a transaction that's still pending from yeste

[2018-09-04 19:20] bdresser commented on #5146
@beachncryps71 as long as you back up your seed phrase, you'll be able to uninstall and re-install with no problem.

[2018-09-04 19:22] Zanibas opened #5196 "Moving Certain Permissions to "Optional Permissions""
As described here:
https://developer.chrome.com/apps/permissions

There is an optional permissions field that can ask permissions from the user when they decide to use a feature. In the spirit of fostering trust with our users, I think that this should be an easy fix--literally just modifying the manifest to move permissions, such as notifications and copy/paste, into the `optional_permissions` fi

[2018-09-04 19:26] bdresser commented on #3479
proper article is [here](https://consensys.zendesk.com/hc/en-us/articles/360004177531-Resetting-an-Account-New-UI-), but it doesn't address the original question.

@elie222 are you still having this issue?

[2018-09-04 19:29] bdresser commented on #5175
the password is only used to encrypt your vault locally - it never leaves your machine, is never sent to a server, and therefore can't be automatically known across computers in our current implementation.

As mentioned on Twitter, we could certainly do a better job informing users of the relationship between password (local encryption) and seed phrase (your real account secret).

[2018-09-04 19:37] Zanibas opened #5197 "Performance Issues w/ NewUI (and old?)"
As evidenced by several of the one star reviews on the chrome store as seen here: https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn/reviews

There seems to be an uptick of users dealing with performance issues, mostly related to the new interface. However, it should be noted that slowdowns have been reported even before our rollout the new UI.

This is an open-end

[2018-09-04 19:38] beachncryps71 commented on #5146
Thanks for the help!

On Tue, Sep 4, 2018, 12:22 PM bobby dresser <notifications@github.com>
wrote:

[2018-09-04 19:40] danfinlay commented on #4771
To workaround this, you can detect the user's MetaMask version.

To get the current user's MetaMask version, you can use the method `web3.version.getNode(console.log)`, or directly from the provider object like this:

`web3.currentProvider.sendAsync({"jsonrpc":"2.0","method":"web3_clientVersion","params":[],"id":67}, console.log)`

[2018-09-04 19:45] bdresser commented on #5172
closing as a duplicate of #4894

[2018-09-04 19:45] #5172 closed

[2018-09-04 19:48] elie222 commented on #3479
No. Closing now

[2018-09-04 19:48] #3479 closed

[2018-09-04 19:53] bdresser opened #5198 "Can't right-click in recipient field on Send screen"
When you right-click in the Amount field, you get the standard options (that notably include copy and paste). But when you right click in the Address field, you get options as if you've clicked a non-interactable UI element.

Some folks in support are missing the standard right-click menu functionality because it includes the "paste" option. Keyboard shortcuts work fine, but if possible we should

[2018-09-04 19:55] bdresser commented on #5170
this was handled in https://github.com/MetaMask/metamask-extension/pull/5096 and will be out in our next release

[2018-09-04 19:55] #5170 closed

[2018-09-04 19:56] #5165 closed

[2018-09-04 19:57] bdresser commented on #5169
You can navigate away from the spinner screen by clicking the small spinner in the top-right and selecting a different network. This isn't ideal UX and we're working on a better solution in https://github.com/MetaMask/metamask-extension/issues/3776

[2018-09-04 19:57] #5169 closed

[2018-09-04 20:01] mobuxui opened #5199 "Seed phrase entered but I've issued new metamask address"
**Describe the bug**
I noticed in the browser that the metamask extension had been updated and when I went to log into my metamask account using my previous password, it wouldn't let me. So I entered my seed phrase from my original account.

I expected to see my original metamask account with I have been using since last year:
0x49373c9b31644bae4bb62c13e5fb8ba237b4256b

but instead, it has issued

[2018-09-04 20:04] danfinlay commented on #4510
We ultimately agree with you, will be changing it back, and this is one reason this is a beta UI, and not our default UI yet.

The thought was of course about minimizing onboarding friction. There is a *ton* to learn for new users in this space, so we are constantly exploring which protocol-specific information can be postponed for new users, but we mostly agree that ultimately postponing teaching

[2018-09-04 20:14] bdresser commented on #5199
@mobuxui thanks for reporting. if you could email support@metamask.io with a copy of your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-Old-Ui), we'll be able to walk you through a couple debugging steps.

[2018-09-04 20:16] bdresser commented on #5197
Probably relates to our open bounty here: https://github.com/MetaMask/metamask-extension/issues/4074

[2018-09-04 20:30] davecraige commented on #5175
Yea, one idea might be to add some of that text you mentioned so people understand that this is different from the traditional password entry box.

I do believe logging in to multiple machines is a big design challenge with crypto.

[2018-09-04 20:43] bdresser commented on #3512
@p-s-dev thanks for the feedback - this was partially handled in https://github.com/MetaMask/metamask-extension/pull/5096 by persisting the most recent three custom RPC URLs.

We will hopefully add more robust management features as we explore allowing users to add ETH-like networks or dapp-suggested custom RPCs.

Closing for this issue for now - I've flagged your feedback for our designer, and yo

[2018-09-04 20:43] #3512 closed

[2018-09-04 20:43] mdpienaar opened #5200 "Reading Private Keys in Metamask Wallet"
When private keys are viewed with Firefox 61.0.2 (64-bit), in
the add-on screen the bottoms of the letters of the last row, are
cut by the box's bottom line. Therefore it is not possible to clearly
distinguish between an E and an F.

![screen shot 2018-09-04 at 10 38 47 pm](https://user-images.githubusercontent.com/11485999/45056541-7be3ae00-b093-11e8-8d39-6603cfcde511.png)
 (the screen print atta

[2018-09-04 20:43] bdresser commented on #5101
@etienneroudeix I think this proposal makes a lot of sense. We've discussed this internally a couple times and would love to collaborate on a solution.

This could be a good candidate for an EIP, and will likely have some downstream effects on the Custom RPC UI we show in our settings menu.

See https://github.com/MetaMask/metamask-extension/issues/3604 https://github.com/MetaMask/metamask-extensi

[2018-09-04 20:45] bdresser commented on #5153
hey @guannay - please reach out to support@metamask.io and they'll be able to help you re-install and log in

[2018-09-04 20:45] #5153 closed

[2018-09-04 20:59] Leowal commented on #5184
Perfect....!    Thank you

Inviato da Yahoo Mail per iPad

Il martedì, settembre 4, 2018, 8:33 PM, bobby dresser <notifications@github.com> ha scritto:

@Leowal I'm not sure I understand your question. You can add new accounts to your MetaMask extension in the top-right menu, and you can always uninstall and re-install your extension if you'd like to create an entirely new wallet.

For further que

[2018-09-04 21:13] bdresser commented on #5148
hey @hanroa, please reach out to support@metamask.io and they'll be able to help you out.

[2018-09-04 21:13] #5148 closed

[2018-09-04 21:26] mobuxui commented on #5199
Will do. Thanks :)

[2018-09-04 22:57] danfinlay commented on #5101
This is very aligned with my general thinking of MetaMask going forward. For example, it is reminiscent of how we have begun addressing managing a list of tokens:
https://ethereum-magicians.org/t/eip-747-wallet-watchasset/1048/9

Once we merge support for custom chainIds, we could begin implementing this.

Two open questions from that PR:
- Where do we get prices for a custom chain?
- What block e

[2018-09-04 23:26] eosclassicteam commented on #5101
@danfinlay I would like to know the eta schedule for optional chain id support , it has been open from 12 days ago and still no sign of review or merge 😂

[2018-09-05 00:51] bijanshahrokhi opened #5201 "Enable mobile authentication by using multi-sig technology"
**What problem are you trying to solve?**
Many users are worried that they will lose their funds in their MetaMask wallet because of hacks and phishing attacks. As a result, they either avoid using MetaMask or transfer their large portion of their funds out of their MetaMask wallet after a transaction has been completed.

**Describe the solution you'd like**
Leverage multi sig technology to create

[2018-09-05 03:09] Kenmarts commented on #1444
Errrmmm... Hi... I'm not a tech guru like y'all, I just need help, I keep getting invalid user on my Android trust app, I'm using the latest version.
Justokez@gmail.com...
Please that's my mail...  Anyone with solutions can peep me there cos I don't know if I'll be able to get this thread again.
Thanks and sorry if I'm breaking any rules

[2018-09-05 04:54] rickygv99 commented on #3475
+1 We also need this feature. We're developing an online payment store with a few blockchain transactions per payment instance. The transactions must be sequential and consequently the client must wait until the transactions are mined as is. With this feature, we will be able to queue the transactions on a server - it would be immensely helpful to us.

[2018-09-05 07:02] relpmis opened #5202 "My Metamask extension cant connect to any networks on any browsers."
After I click on the extension app I see this infinite connection:

![image](https://user-images.githubusercontent.com/35630628/45075966-7452f200-b0f1-11e8-9d0b-1dc4aacd7730.png)

I tried to switch networks and back to main Ethereum one, but it doesnt help me.

I tried to kill the process of metamask but it doesnt help.

I tried to reinstall the extension and again nothing changed.

I tried to con

[2018-09-05 10:03] Nitishkumar3211 opened #5203 "MetaMask Login Problem"
**Describe the bug**
When i am working on RPC local network and then shut down my pc then i reopen it then he is asking for signin Password and after submit correct password it will go on search and never connect because last used was on Custom RPC network.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.Run Ganache/ testRPC.'
2. Click on '.Select Network in metamask via Custom RPC.'

[2018-09-05 10:15] letatcest commented on #3313
I'd like to add that the solution provided in https://github.com/MetaMask/metamask-extension/issues/3313#issuecomment-406687137 fixes the closing problem on Firefox 61.0.1 (64-bits) in Ubuntu 18.04, but makes gedit behave odd. When I use the XIM input method, my gedit becomes transparent and when reading text, the text is unreadable (see pic). So no other solution (in my case) than to revert to IB

[2018-09-05 11:07] illya13 commented on #1444
for private network ?

[2018-09-05 11:32] Kenmarts commented on #1444
Please explain private network, I was trying to send from one wallet to another on the TRUST WALLET app.
Sometimes it says " unknown transaction error " then it says " invalid user or sender ".
The solution might be helpful to others encountering this problem, so please help try solve it as o may not follow up this thread again...  Thanks for Your help, God bless.

[2018-09-05 11:33] Kenmarts commented on #1444
Mind you I was using the android version not pc

[2018-09-05 11:35] illya13 commented on #1444
I think your issue is not related to this one, so please stop it

[2018-09-05 11:39] Kenmarts commented on #1444
I should stop it?  Such insult...
You can as well direct me to get a solution rather than saying I should stop...
I thought this was a community of tech guys who were ready to help.

[2018-09-05 11:49] illya13 commented on #1444
... stop commenting this one, as it seems not related to your problem
and open a new one here

https://github.com/MetaMask/metamask-extension/issues/new/choose
if you really have issues with MetaMask

[2018-09-05 11:49] berkes commented on #3313
Thanks @letatcest. I've been bugged by this transparancy-issue for several weeks now. Without a clue what was causing it. See my Q on Stackoverflow (now answered) https://askubuntu.com/questions/1065953/where-can-i-find-more-information-on-a-bug-that-causes-rendering-issues-with-ubu/1072339#1072339. You gave me the information to fix a really annoying issue.

@estebanmino are you the author of tha

[2018-09-05 13:04] yousei-san opened #5204 "Strange file filled up my HD containing endless code that seems to be from MetaMask"
As the title says, I noticed my HD was getting filled and I couldn't figure out why until I found a file called .asd.swp that took over 200GB of space and contained lots of code, I took a picture:
![2018-08-29-182436_1366x768_scrot](https://user-images.githubusercontent.com/31820981/45094720-c19c8700-b124-11e8-971c-33e0d5625d7d.png)

Also there was another smaller file called .asd.swo that also co

[2018-09-05 13:38] SvenMeyer commented on #4510
If you want to on-board new "non-technical" user (= making them familiar with Ethereum) , the first thing they have to get familiar with and to learn is, that the currency here, within the Ethereum network, is called ETH and that is the currency of value we are working with here. That is not more "difficult" than to understand that if you leave the US behind and travel to Europe that within that s

[2018-09-05 14:13] SvenMeyer commented on #4510
From what I have read, Joe is putting 100+ million USD in per year to make the Ethereum ecosystem successful as an alternative to the current (FIAT based) financial system, and one of the first apps a new user will likely use shows "USD" in big letters ????
I would make this issue prio 1.

[2018-09-05 14:38] tritone11 commented on #4894
@starmankiti if you are still in trouble with the extension and you don't have the seed to recover your wallet, do not reinstall the extension or you will lose it. If restarting the extension didn't work, please refer to this solution to recover your seed phrase using offline metamask and a custom ethereum node https://github.com/MetaMask/metamask-extension/issues/4894#issuecomment-410664381

[2018-09-05 16:43] bdresser commented on #5201
thanks @bijanshahrokhi - we're working on supporting gnosis SAFE contracts, which would be the first step towards a multi-sig / multi-factor signing procedure like you describe. check out https://github.com/MetaMask/metamask-extension/issues/4859

[2018-09-05 16:47] bdresser commented on #5139
@maxweng importing ganache accounts is working fine for me on Chrome 4.9.3 following your repro steps.

Can you check your UI logs and background logs to see if there are any errors? Instructions [here](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue). Also, check to make sure the account wasn't added silently by clicki

[2018-09-05 16:51] bdresser opened #5205 "Stop attempting ENS resolution on `eth`"
Our TLD matching tries to match even if the user enters `eth` without the `.`

We should make it more specific to only attempt to resolve to an ENS domain if the user has actually entered `.eth`