[2022-10-06 03:19] BowserKingKoopa commented on #10276
This is still confusing my users. They assume the 'insufficient funds' error is because of the high gas fee, instead of the high gas fee being because of insufficient funds.

[2022-10-06 03:40] georgewrmarshall commented on #13176
Fixed https://github.com/MetaMask/metamask-extension/pull/15187

[2022-10-06 03:40] #13176 closed

[2022-10-06 03:41] georgewrmarshall commented on #13006
Closing as we now have a new Text input that will replace all Typography components

[2022-10-06 03:41] #13006 closed

[2022-10-06 03:42] georgewrmarshall commented on #13881
We have a new Button component that will be replacing this one

[2022-10-06 03:42] #13881 closed

[2022-10-06 04:51] #15090 closed

[2022-10-06 05:46] aozaki-kuro opened #16104 "[Bug]: High CPU usage on fanbox.cc"
### Describe the bug

The CPU usage bursted to approximately 100-110% when I opened fanbox.cc and left MetaMask extension on.
The CPU dropped to normal right after I disabled MetaMask extension.

### Steps to reproduce

1. Keep Metamask on
2. Open [fanbox.cc](https://fanbox.cc) (No login required)
3. Check the performance and see CPU bursted to 100%+, Edge Developer Tools indicated that there are

[2022-10-06 09:48] SayaGT commented on #16082
Ideally the badge would update based on the network. It would show respective icons and if the icons isn't available then it would display the first later of the network.
You can refer to the logic in this [Design System Figma file](https://www.figma.com/file/HKpPKij9V3TpsyMV1TpV7C/DS-Components?node-id=9409%3A33897).
CC: @georgewrmarshall

[2022-10-06 13:33] danjm commented on #15892
Looks like this is a problem on MV2 as well, but only on the goerli network

The API seems to be returning false for the `liveness` property for smart transactions on goerli.

Meanwhile, we shouldn't show the smart transactions pop up while waiting for the fetch for the liveness state to resolve

[2022-10-06 13:43] filipsekulic commented on #15211
Update from @bschorchit after today's meeting.

_Answering the question regarding the edit button on the custom spending cap screen:

If the user has clicked on “Use default” we can hide the “Edit” as long as the user can click on the input box and edit the value there. And once they edit the value we should show “Use default” as an option again._

[2022-10-06 14:48] #15702 closed

[2022-10-06 15:13] THOUSAND-SKY opened #16108 "[Bug]: token is added to inactive account"
### Describe the bug

`wallet_watchAsset` is adding tokens to the account that is active in metamask but not the one that is active on the page.

This leads to confusion when the balance is showing zero on the token adder page, and for a plethora of other reasons.

### Steps to reproduce

1. Activate some account on a website with an "add token" button
2. Change account
3. Now, on this account tha

[2022-10-06 19:10] adonesky1 opened #16112 "Replace direct dependency `ethers` with submodules in extension"
Open PR here: https://github.com/MetaMask/metamask-extension/pull/15461

[2022-10-06 19:41] #15099 closed

[2022-10-06 19:42] #12994 closed

[2022-10-06 21:25] Smithbull001 opened #16114 "Hello, i can be of help to this issue"
Hello,
I forgot to copy my private key when I changed computers.  The computer that had my metamask extension was restored to factory settings.  I do have my seed phrase and I also can see my account balance in etherscan.io.  I also was using a Ledger in connection with my metamask.  Please help.  Thank you

_Originally posted by @la719coaol in https://github.com/MetaMask/metamask-extension/discus

[2022-10-06 23:20] georgewrmarshall opened #16116 "Add 9999px border radius option to Box component"
### Description
There is a need to allow the Box component to have a full rounded border radius.

### Technical Details
TBC

### Acceptance criteria
TBC

[2022-10-06 23:53] Smithbull001 opened #16117 "[Bug]:"
### Describe the bug

I need my wallet as main and not patch and also need full access to it immediately

### Steps to reproduce

1.my wallet change
2.my wallet address changed

### Error messages or log output

_No response_

### Version

5.8.0

### Build type

Other (please specify exactly where you obtained this build in "Additional Context" section)

### Browser

Chrome

### Operating system

[2022-10-07 02:56] 95decode opened #16119 "[Bug]: portfolio page's exchange rate miscalculation"
### Describe the bug

![image](https://user-images.githubusercontent.com/102295278/194457761-c85b6d4f-f7db-407f-8c25-e20909530088.png)

When you change currencies, "my holdings" value is wrong, compared to "real value"

### Steps to reproduce

1. Move to https://portfolio.metamask.io/networks/1/tokens/ethereum/0x0000000000000000000000000000000000000000
2. Change currencies(my case, KRW)
3. Check "

[2022-10-07 08:27] jim4067 commented on #16088
This is happening to me too

[2022-10-07 09:35] seaona opened #16120 "[Bug]: TypeError: Cannot read properties of undefined (reading 'address')"
### Describe the bug

**Problem**: if I go to a token details URL from a token which I do not have imported, I land into MM error and see the error:
`TypeError: Cannot read properties of undefined (reading 'address')`

[cannot-read-properties-address.webm](https://user-images.githubusercontent.com/54408225/194522142-d1cb1639-736b-4906-9ee3-1076e6113fec.webm)

### Steps to reproduce

1. Unlock MM
2

[2022-10-07 10:52] seaona opened #16121 "[Bug]: Token aggregators are only shown when Token Detection is switch on"
### Describe the bug

**Problem**: I only see token aggregators when Token Detection is switch on. When it's switch off, I don't see the token aggregators for each token detected. I believe this is not expected (not 100% sure).

![image](https://user-images.githubusercontent.com/54408225/194536777-ccf22b7e-af1e-4c5e-9293-70d7d9cf43c9.png)

**Expected**:

![image](https://user-images.githubusercont

[2022-10-07 13:36] schiemon commented on #8220
In the last days, my colleagues and I repeatedly got this error
[code]
I am using GoQuorum@22.4.1 and web3.js@1.8.0.

[2022-10-07 14:03] danjm commented on #16088
thanks for reporting everyone. Is there any other information in the console?

[2022-10-07 14:24] danjm commented on #16088
also, does anyone experiencing this have another wallet extension installed? if so, do there error go away if you disable that extension?

[2022-10-07 15:14] arihantbansal commented on #16088
Yep, I had xNFT Backpack extension installed. On disabling it, the error went away and everything works smoothly now. Would love a fix so that I could use both extensions parallel.

[2022-10-07 15:18] jim4067 commented on #16088
@arihantbansal It also went away for me when I removed backpack.

[2022-10-07 15:24] #16052 closed

[2022-10-07 15:38] #16116 closed

[2022-10-07 15:53] #15084 closed

[2022-10-07 16:30] cheshirrrcat commented on #15686
Nope. I just start using another browser 😞

[2022-10-07 16:43] Agamatus commented on #15686
try to do as I said above

[2022-10-07 17:55] hilvmason opened #16126 "MV3 Documentation"
This epic represents all the technical documentation work needed to preserve information relating to work done on the MV3 (MVP) project.

[2022-10-07 20:11] bschorchit commented on #16121
Hmm nice catch. If token detection is off, we're using our own token list (from contract metadata repo?), so I don't think it's indeed a bug. But will add the feature request label so we consider how we could surface that information to the user.

[2022-10-07 20:14] bschorchit commented on #16117
Please reach out to support by clicking on MetaMask Support link within your MetaMask wallet.

[2022-10-07 20:14] #16117 closed

[2022-10-07 20:17] bschorchit commented on #16114
Please reach out to support by clicking on MetaMask Support link within your MetaMask wallet or by going to https://metamask.zendesk.com/ .

[2022-10-07 20:17] #16114 closed

[2022-10-08 09:01] isaack87 commented on #4011
Did you ever find a way to do this?

[2022-10-08 14:48] vicglarson commented on #10353
two years for trivial fix. good  job.

[2022-10-08 17:36] segun commented on #16099
There's a PR to fix this #15913, but as [this comment](https://github.com/MetaMask/metamask-extension/blob/330afadb824c4740d57126807bfbf9ecbe79dde3/app/scripts/metamask-controller.js#L1120) shows, we need a way to reset TokenListController state

[2022-10-09 09:02] seaona opened #16129 "[Bug]: Conversion on Custom Networks it's only shown when Conversion on Test Networks is activated"
### Describe the bug

**Problem:** at the moment, conversion on custom networks is deactivated and it's only displayed when we activate the conversion on test networks.

[conversion-custom-networks.webm](https://user-images.githubusercontent.com/54408225/194747724-a3850a83-650a-4ea5-85f5-f9878926f064.webm)

### Steps to reproduce

1. Unlock MM
2. Go to Networks // Settings
3. Add a Custom Network

[2022-10-09 09:06] seaona commented on #13546
This happens to all custom networks. The general problem is that they seem to be treated as test networks, not displaying the conversion unless the setting for conversion on test networks is enabled.
https://github.com/MetaMask/metamask-extension/issues/16129

For a temporary workaround until this is fixed, you can go to Advanced Settings and activate Conversion on Testnets. This should enable the

[2022-10-09 21:54] rekmarks opened #16130 "[Flask] The `snap_getBip32Entropy` permission is incomprehensible"
With our current permission copy, almost none of our users will be able to understand the authority encompassed by the `snap_getBip32Entropy` permission. We should, minimally:

- [ ] Map BIP-32 nodes to their names, as we do with `wallet_getBip44Entropy`
- [x] Reconsider from first principles how to communicate the authority of these permissions

### Exhibit A, permission list:
<img width="332" al

[2022-10-09 23:54] georgewrmarshall commented on #15073
Reopening because after further discussion I think it would be useful to have an avatar specifically for the Favicon where the fall back is the world icon

[2022-10-10 00:19] Smithbull001 commented on #15073
Close

[2022-10-10 02:18] ctrl-danny commented on #16088
I also had this problem with metamask connecting to dapps and had backpack as well, error went away when I set backpack site access to "click extension" only

[2022-10-10 09:43] marklepp opened #16134 "[Bug]: Cannot write unicode characters"
### Describe the bug

Cannot write unicode characters in the browser.

### Steps to reproduce

1. Select a keyboard with scandics or other keyboard with non-ascii characters
2. Go to the mobile app's browser, any page with a text input, for example duckduckgo
3. Try to enter unicode characters from the keyboard to the website's text input, for example åäö
4. No characters show up

### Error messag

[2022-10-10 09:46] marklepp commented on #16134
Wrong repo, sorry

[2022-10-10 09:58] Alisizer commented on #14519
![image](https://user-images.githubusercontent.com/58936472/194840909-369f296b-00ea-4768-88cf-d456de790bd1.png)
I can confirm this behavior

[2022-10-10 11:11] seaona opened #16136 "Gas API is down"
Handle fallback when Gas API is down

[2022-10-10 11:43] #14325 closed

[2022-10-10 14:34] seaona opened #16138 "[Bug]: Forgot Password does not work after seed phrase generation"
### Describe the bug

**Problem**: when I'm performing the onboarding flow, after introducing a password and generating a seed phrase, if I close MetaMask and re-open it again, I land into the login screen and if I click on Forgot password, nothing happens.
No error is shown on the console nor in the UI.

[forgot-password-first-time.webm](https://user-images.githubusercontent.com/54408225/19489018

[2022-10-10 15:45] pacmac0 commented on #14963
Unfortunately for me, it does not fix the issue of the unrecognized selector calls displayed in the console. Is there any progress with this issue? Or anyone has an alternative solution?
Could it maybe be due to a newer/incompatible version of moralis, hardhat or so?

[2022-10-10 17:21] seaona opened #16139 "[Bug]: Cannot introduce floating point values on `Priority Fee` and `Max base fee` inputs"
### Describe the bug

**Problem**: on the Advanced gas fee popup, I cannot introduce a floating point for decimal values on `Priority Fee` and `Max Fee` inputs.

[priority-fee-floating-point.webm](https://user-images.githubusercontent.com/54408225/194920678-deb123c6-f253-45ac-9215-9373a5eba763.webm)

Expected:

[priority-fee-expected.webm](https://user-images.githubusercontent.com/54408225/1949206

[2022-10-10 18:17] georgewrmarshall opened #16140 "Add docs and story for widths to Box component"
### Description
Add story with examples for responsive widths to the Box component

### Technical Details
- Add story
- Add docs to MDX

### Acceptance Criteria
- There is a story showing an example of responsive widths in the Box component

[2022-10-10 19:15] georgewrmarshall opened #16144 "Add direction support for Text component"
### Description
As we support many languages and locales it would make sense to allow for directional support for the Text component.

### More info
Search dir='rtl' in the code base to see how it is currently being used

### Technical Details
TBC

### Acceptance Criteria
TBC

[2022-10-10 19:24] georgewrmarshall opened #16145 "Add 50% border radius support to the Box component"
### Description
It would make sense to add 50% border radius support to the box component for circle UI

### Technical Details
- Add logic for 50% border radius support to Box component
- Update storybook
- Update docs in mdx file

### Acceptance Criteria
- If BORDER_RADIUS.FULL is passed to Box component show 50% border radius

[2022-10-10 20:44] brad-decker opened #16147 "Ignore .test files for CodeQL analysis."
Currently we run CodeQL analysis on the extension repository to spot potentially harmful patterns, and mistakes. This can lead to false positives on test cases where we might purposefully test a bad case. We should disable at least some, if not all, checks on test cases.

[2022-10-10 20:56] kevinghim opened #16149 "Create Beta-branded extension"
### Background
Create and run a beta program to test the viability of MV3 in production. In order to do so, we need to ensure that the user is aware that this is not a main build, and they might encounter instability. When encountering bugs, we will facilitate the reporting of bugs.

### User story
As a user, I want to
- [ ] make sure I'm on a different extension app, in order to know I shouldn't

[2022-10-10 21:03] georgewrmarshall opened #16150 "[Ext Nav] Create component: Label"
### Description
Create a reusable UI component for `Label`

### References
[Figma Link](https://www.figma.com/file/HKpPKij9V3TpsyMV1TpV7C/DS-Components?node-id=7294%3A25180)
[UI component guidelines](https://www.notion.so/UI-Components-5ccd2bf83eb8441892a0b72c0d8929e1)
[Styling guidelines](https://www.notion.so/Extension-Frontend-Engineering-Guide-b82ddb3e14004b5db3799a9b446294a9#49aa2ef7b7aa40178

[2022-10-10 21:06] georgewrmarshall opened #16151 "[Ext Nav] Create component: HelpText"
### Description
Create a reusable UI component for `Modal`

### References
[Figma Link](https://www.figma.com/file/HKpPKij9V3TpsyMV1TpV7C/DS-Components?node-id=7294%3A24987)
[UI component guidelines](https://www.notion.so/UI-Components-5ccd2bf83eb8441892a0b72c0d8929e1)
[Styling guidelines](https://www.notion.so/Extension-Frontend-Engineering-Guide-b82ddb3e14004b5db3799a9b446294a9#49aa2ef7b7aa40178

[2022-10-10 21:08] georgewrmarshall opened #16152 "[Ext Nav] Create component: FormTextField"
### Description
Create a reusable UI component for `FormTextField`

### References
[Figma Link](https://www.figma.com/file/HKpPKij9V3TpsyMV1TpV7C/DS-Components?node-id=7294%3A24987)
[UI component guidelines](https://www.notion.so/UI-Components-5ccd2bf83eb8441892a0b72c0d8929e1)
[Styling guidelines](https://www.notion.so/Extension-Frontend-Engineering-Guide-b82ddb3e14004b5db3799a9b446294a9#49aa2ef7b

[2022-10-10 21:59] #16136 closed

[2022-10-10 22:10] #15914 closed

[2022-10-10 22:10] #15918 closed

[2022-10-11 07:58] kennedybaird commented on #13773
I was encouraging a UI change, not documentation related.

But could do both

On Wed, Mar 9, 2022, 4:28 AM Kevin Ghim ***@***.***> wrote:

[2022-10-11 08:30] Nana12345678910 commented on #14620
I just want to be compensated for the time I wasted trying to fix this
issue and my lost of income, time, and hard work I put into being your test
Guinea pig
On Tue, 10 May 2565 BE at 6:22 pm, christina vongphit ***@***.***>
wrote:

--
Christina Vongphit iPhone

[2022-10-11 08:48] #15052 closed

[2022-10-11 09:23] ElvirCe commented on #13694
Moving this to "Pending ConsenSys" as Dan Miller advised that he needs to work on the technical solution in more detail with the team. Dan will organize calls to identify all technical requirements.

[2022-10-11 12:25] Smithbull001 commented on #15972
0x474d5eB41B6a55FDBFE1584f8fDAf9c034625505

[2022-10-11 12:26] Smithbull001 commented on #15972
0x1703366c726ee7C5Bdaf937Bd7946B8b0747b6f2

[2022-10-11 12:26] Smithbull001 commented on #15972
0x20Facd051A05AB0208C39F4eE99D8590a92911ad

[2022-10-11 13:26] seaona opened #16162 "[Bug]: MM is frozen and on re-load I see Service Worker log registered on non-MV3 build and `No keyring found for requested account` error appears"
### Describe the bug

**Problem**:  on an MV2 build, after interacting with a Dapp, MM icon stop responding and no pop up is open anymore. Extension is frozen and if I reload I see on the background console:
- service worker registered
- Error: no keyring found for the requested account

[sw-no-keyring.webm](https://user-images.githubusercontent.com/54408225/195102627-9cc25d73-2ed0-4aaf-85d2-3ee4f

[2022-10-11 13:31] seaona opened #16163 "[Bug]: Error in RPC Response: createLoggerMiddleware"
### Describe the bug

**Problem**: I am seeing the following error on the background console:
`Error in RPC Response: createLoggerMiddleware`

[rpc-middleware.webm](https://user-images.githubusercontent.com/54408225/195103900-7f73842f-83af-468c-a869-159f19c90a83.webm)

### Steps to reproduce

[needs further investigation on repro steps]

### Error messages or log output

_No response_

### Version

[2022-10-11 13:33] harshalmaniya commented on #13197
I'm getting this error when I close the metamask popup before the transaction details are loaded.

[2022-10-11 14:21] #16099 closed

[2022-10-11 14:47] #16134 closed

[2022-10-11 14:56] #16129 closed

[2022-10-11 14:56] #13546 closed

[2022-10-11 15:04] #15972 closed

[2022-10-11 15:05] #16138 closed

[2022-10-11 15:05] ryanml commented on #16059
Closed via: https://github.com/MetaMask/metamask-extension/pull/16154

[2022-10-11 15:05] #16059 closed

[2022-10-11 16:13] tariqthecoder commented on #14963
I am also facing the same issue, have anyone solved it, Error: Transaction reverted: function selector was not recognized and there's no fallback function

[2022-10-11 19:55] iamoracle opened #16164 "[Bug]: Injection of some Hexadecimal Characters when using personal_sign causing Obfuscation"
### Describe the bug

This bug allows users to inject some hexadecimal characters into MetaMask personal_sign method and obfuscate the message to be signed.

### Steps to reproduce

Connect to Metamask
Attempt to sign messages like "aaaa", "bbbb" etc*. using the personal_sign method.
Metamask prompts user with an obfuscated message.
*(It should be known that almost all hexadecimal characters will

[2022-10-11 20:18] IBaixauli opened #16165 "[Bug]: Metamask does not appear in the Connect Account popup"
### Describe the bug

MetaMask version 10.19.0
Chrome: 105.0.5195.127 (Build oficial) (64 bits)

When we enter in a Dapp and press the Connect Account button, Metamask does not appear among the wallets or options within the popup

Dapps proved: Aragon, Sushiswap, Uniswap, dappradar, Aave, etc.
![Captura de pantalla 2022-10-11 221357](https://user-images.githubusercontent.com/22479620/195190011-39b

[2022-10-11 22:40] kevinghim commented on #15155
@skgbafa please see below on implementation details:

For SIWE, re-use the same 3 events below and just modify/add properties to denote this is SIWE.  We have a new property called `ui_customizations` that takes an array of strings that's defined by ["sign_in_with_ethereum"]
- Signature Approved
- Signature Requested
- Signature Canceled

Example SIWE event for `Signature Requested`:

[code]

[2022-10-12 05:02] kropple commented on #14982
too bad, this URL schema is great. better than all the wonky web3.JS-stuff that breaks every few months.

would be really great to see support for the whole EIP-681. would sure boost web3-adoption, if one could e.g. link to a web3-action from a youtube-description

[2022-10-12 05:41] bschorchit commented on #15678
Could we display [permit signatures](https://twitter.com/korpi87/status/1560416694811578368?s=20&t=7GIfpgq12e7EKNIWADFkUw) with the same UI we have for token allowances?

[2022-10-12 05:46] bschorchit commented on #1286
Closing in favor of https://github.com/MetaMask/metamask-extension/issues/11178

[2022-10-12 05:46] #1286 closed

[2022-10-12 09:09] pacmac0 commented on #14963
As it was discussed in other  issues, this might be an interaction problem within  hardhat, metamask or so. I ignored the hardhat node console error for now and moved on. The frontend interaction seems to work anyway and the transactions seem to happen, since number players and so on are being updated. I also hope someone will come up with an explanation for the phenomenon thou.

[2022-10-12 09:33] ElvirCe commented on #15389
Summary of changes:
1. Change "Reject 2 transactions" to "Reject 2 requests"
2. When clicked on the Reject 2 requests" link, also update the title to "Reject 2 requests" and the message to "You are about to batch reject 2 requests."
3. For both screens, change the "Cancel" button to "Reject"

[2022-10-12 09:37] ElvirCe commented on #14647
@bschorchit regarding this screen and comment:

![Image](https://user-images.githubusercontent.com/98470173/195307437-c99c731d-41c9-4802-9699-80d99d5c7519.png)

Should we for now leave it as is to display 2 per default or should we increase the number to display more per default?

[2022-10-12 10:25] FrederikBolding commented on #16104
It looks to me like `fanbox.cc` doesn't expect an extension to use the window `postMessage` and due to faulty error handling they continuously post error messages to `postMessage`. This may be a problem that has to be solved on their end.

[2022-10-12 11:40] jpuri commented on #15891
I tested this in latest code from develop today and it seems to be fixed already. cc @seaona

[2022-10-12 11:42] jpuri commented on #14865
I think this is no more relevant

[2022-10-12 11:42] #14865 closed

[2022-10-12 11:42] jpuri commented on #14910
Again no more relevant

[2022-10-12 11:42] #14910 closed

[2022-10-12 11:42] jpuri commented on #14910
Again no more relevant

[2022-10-12 11:43] jpuri commented on #14934
No more relevant after latest changes for MV3

[2022-10-12 11:43] #14934 closed

[2022-10-12 11:45] jpuri commented on #15970
This should be fixed after the PR is merged https://github.com/MetaMask/metamask-extension/pull/16075

[2022-10-12 11:46] jpuri commented on #15922
This should be fixed after we merge the PR https://github.com/MetaMask/metamask-extension/pull/16075

[2022-10-12 11:48] jpuri commented on #15648
I see this as lower in priority.

[2022-10-12 11:48] jpuri commented on #15713
This is duplicate ticket

[2022-10-12 11:48] #15713 closed

[2022-10-12 11:49] jpuri commented on #14854
This is not more relevant for MV3 work

[2022-10-12 11:49] #14854 closed

[2022-10-12 13:30] PeterYinusa commented on #16164
@iamoracle Can you try signing a message with hexadecimal instead of text. E.g. `0x61616161` instead of `aaaa`. Does this work for you?

[2022-10-12 17:22] foufrix opened #16171 "[Bug]: Loading forever and froze interface when RPC is down"
### Describe the bug

![image](https://user-images.githubusercontent.com/16646581/195407219-679a4468-421d-47d6-8291-2a9823c6e0de.png)

When connecting to custom RPC (using gitpod) when RPC is not available, Metamask loads forever on this screen, and clicking on the cross is not working.

### Steps to reproduce

1. Add a custom RPC working (locally or remotely with a service like gitpod)
2. Connect

[2022-10-12 17:35] #15103 closed

[2022-10-12 17:47] NiranjanaBinoy commented on #15977
Closing this ticket after a conversation with the core team. Quoting the comment below and link to the chat [here](https://consensys.slack.com/archives/C01V1L10W2E/p1664226689035799?thread_ts=1664215606.626099&cid=C01V1L10W2E)

[2022-10-12 17:47] #15977 closed

[2022-10-12 18:19] #15076 closed

[2022-10-12 18:57] jpuri opened #16173 "Segment MV3 issue: fix segment events being lost due to service worker restart"
Segment events are cached in segment SDK and passed over to segment api call in batches. In case of service worker restart this cache will be lost and hence events will not be submitted to segment.

Fix this issue by saving these events in MetamatricsController store till they are passed over to to segment.

[2022-10-12 18:58] jpuri opened #16174 "MV3: Improve DAPP action replay"

[2022-10-12 19:00] jpuri commented on #16174
- there should be a retrycount for DAPP action replay
- currently if DAPP encounters response for an unknown request it throws exception, that can changed to warning may be
- put a size limit on action replay queue

[2022-10-12 20:28] BeroBurny opened #16176 "[Bug]: RPC method wallet_getSnaps return emty o"
### Describe the bug

rpc method [wallet_getSnaps](https://docs.metamask.io/guide/snaps-rpc-api.html#wallet-getsnaps) returns empty object

![image](https://user-images.githubusercontent.com/6376047/195440793-e15ad677-5c07-430b-af10-ed0db61e14f5.png)

### Steps to reproduce

1. have any snap installed
2. run the RPC method `wallet_getSnaps`

you can run RPC command from a console

[code]

### Erro

[2022-10-12 21:03] roninjin10 commented on #8990
@danfinlay I think there is a good reason for I as a user to want this disconnect functionality.  I completely agree it makes no sense to use the UI to disconnect if you don't trust the UI.   But if I connected, that means I DO trust the UI.   What I don't trust is the UI 1 month from now, or 1 year for now.

I have seen users use disconnect in the past thinking they were being prudent in this way

[2022-10-12 21:29] luca992 commented on #8990
@vincenzor [summed this up pretty well](https://github.com/MetaMask/metamask-extension/issues/10353#issuecomment-1108954996)

@pi0neerpat can you reopen this? What does it take to get an an actual @MetaMask dev to reply....

[2022-10-12 23:22] #15073 closed

[2022-10-12 23:55] georgewrmarshall opened #16177 "2022 Q4 Extension - UI House Keeping 🧹"
### Description
The issues in this epic scope our house keeping updates they include the following checks:

- All components have a `className` prop and the PropType descriptions are all the same
- All prop tables in MDX docs have the "Accepts all Box component props" description and link
- We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `

[2022-10-12 23:57] #16177 closed

[2022-10-13 00:03] georgewrmarshall opened #16178 "🧹 [UI House Keeping] AvatarFavicon"
### Description
Ensure that AvatarFavicon adheres to all of the following conventions and standards

AvatarFavicon specific
- [ ] Update alt tag to include logo so it doesn't clash with the name of the dapp e.g. `alt={`${faviconName} logo` || 'dapp logo'}`

General housekeeping

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accep

[2022-10-13 00:05] georgewrmarshall opened #16179 "🧹 [UI House Keeping] AvatarWithBadge"
### Description
Ensure that `AvatarWithBadge` adheres to all of the following conventions and standards

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-syste

[2022-10-13 00:07] georgewrmarshall opened #16180 "🧹 [UI House Keeping] Tag"
### Description
Ensure that `Tag` adheres to all of the following conventions and standards

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.js` consta

[2022-10-13 00:09] georgewrmarshall opened #16181 "🧹 [UI House Keeping] ButtonBase"
### Description
Ensure that`ButtonBase` adheres to all of the following conventions and standards

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.js`

[2022-10-13 00:10] georgewrmarshall opened #16182 "🧹 [UI House Keeping] AvatarAccount"
### Description
Ensure that `AvatarAccount` adheres to all of the following conventions and standards

AvatarAccount specific

- [ ] Add required prop for address
- [ ] Fix proptype issue in tests

![Screen Shot 2022-11-21 at 8 25 15 PM](https://user-images.githubusercontent.com/8112138/203221249-800f0b1a-22e0-4148-aed8-8d6ff6b5846a.png)

General housekeeping

- [ ] Has a `className` prop and the

[2022-10-13 00:11] georgewrmarshall opened #16183 "🧹 [UI House Keeping] ButtonSecondary"
### Description
Ensure that `ButtonSecondary` adheres to all of the following conventions and standards

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-syste

[2022-10-13 00:12] georgewrmarshall opened #16184 "🧹 [UI House Keeping] TextFieldBase"
### Description
Ensure that `TextFieldBase` adheres to all of the following conventions and standards

- [x] Has a `className` prop and the PropType descriptions are all the same
- [x] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [x] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.

[2022-10-13 00:13] georgewrmarshall opened #16185 "🧹 [UI House Keeping] ButtonPrimary"
### Description
Ensure that `ButtonPrimary` adheres to all of the following conventions and standards

- [ ] All Base components follow the suffix convention e.g. `ButtonBase`
- [ ] All Base component MDX documentation have the base component notification at the top
- [x] Has a `className` prop and the PropType descriptions are all the same
- [x] Standardize all similar prop names for images `imgS

[2022-10-13 00:14] georgewrmarshall opened #16186 "🧹 [UI House Keeping] Icon"
### Description
Ensure that `Icon` adheres to all of the following conventions and standards

- [x] Ensure that the url for icon is being rendered correctly in the html
- [x] Has a `className` prop and the PropType descriptions are all the same
- [x] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [x] We are consistent when using the same prop names like `s

[2022-10-13 00:15] georgewrmarshall opened #16187 "🧹 [UI House Keeping] Text"
### Description
Ensure that `Text` adheres to all of the following conventions and standards

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.js` const

[2022-10-13 00:17] georgewrmarshall opened #16188 "🧹 [UI House Keeping] AvatarNetwork"
### Description
Ensure that `AvatarNetwork` adheres to all of the following conventions and standards

AvatarNetwork specific
- [ ] Update alt tag to include logo so it doesn't clash with the name of the token e.g. `alt={`${networkName} logo` || 'network logo'}`
- [ ] Add `onError` fallback to show the letter

General housekeeping
- [ ] Has a `className` prop and the PropType descriptions are all

[2022-10-13 00:18] georgewrmarshall opened #16189 "🧹 [UI House Keeping] AvatarToken"
### Description
Ensure that `AvatarToken` adheres to all of the following conventions and standards

AvatarToken specific
- [ ] Update alt tag to include logo so it doesn't clash with the name of the token e.g. `alt={`${tokenName} logo` || 'token logo'}`
- [ ] Add `onError` fallback to show the letter

General housekeeping
- [ ] Has a `className` prop and the PropType descriptions are all the same

[2022-10-13 00:19] georgewrmarshall opened #16190 "🧹 [UI House Keeping] AvatarBase"
### Description
Ensure that `AvatarBase` adheres to all of the following conventions and standards

- [ ] Rename `BaseAvatar` => `AvatarBase` in all component instances and file names `base-avatar` => `avatar-base` etc
- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are

[2022-10-13 03:58] segun commented on #15923
In MetaMask, when we install two key rings are added to the store

1. HD Key Ring
2. Ledger Key Ring

Ledger Keyring uses iframe in MV2 so it works well.

When we launch MetaMask (and try to login), we try to decrypt and unlock ALL the keyrings. Again, In MV2 this is no issue.

Now when we upgrade to MV3, we try to unlock all the keyrings as usual, but since ledger uses document.iframe, we get the

[2022-10-13 03:58] #15923 closed

[2022-10-13 08:01] seaona opened #16192 "[e2e] Run all tests without terminating the script on a failure"
**Why**: currently when we run the script for executing all e2e tests, they are stopped and script is terminated if a failure is encountered. There are certain occasions that we want to continue them running. For example, on the MV3 job, we want to run all the tests to see all failing tests.

**What**: we'll include an option for running all e2e tests no matter if they fail.

**How**:
- we'll make

[2022-10-13 08:20] #16104 closed

[2022-10-13 08:35] sentry-io[bot] opened #16193 "[Sentry] Error: No keyring found for the requested account. Error info: There are no keyrings"
Sentry Issue: [METAMASK-RPJM](https://sentry.io/organizations/metamask/issues/3623415007/?referrer=github_integration)

[code]

[2022-10-13 08:35] seaona commented on #16193
Seems related to this https://github.com/MetaMask/metamask-extension/issues/16162

[2022-10-13 09:09] ElvirCe commented on #15367
@bschorchit two quick questions:

1. Should we place the toggle on top of the Experimental tab?
2. Should the toggle  be On or OFF by default?

[2022-10-13 09:23] ElvirCe commented on #15786
@bschorchit in order to do this ticket we will need to have some tokens on the Arbitrum Nova and Arbitrum One. Can you advise please on how to proceed and if there is a way to add some tokens.

[2022-10-13 09:30] seaona commented on #15923
Great investigation!! Ty @segun @danjm

[2022-10-13 09:41] mirjanaKukic commented on #16028
https://user-images.githubusercontent.com/94608179/195562454-b67bea10-3729-4004-a2d6-ec52df4bdb15.mov

[2022-10-13 11:55] seaona opened #16197 "[e2e] Update `errors.spec.js` by inspecting error report to ensure stack trace is included"
**Context**:

Example:
https://sentry.io/organizations/metamask/issues/2107679955/

**What**: update `error.spec.js` by catching the Sentry request and inspecting the error report to ensure it includes a stack trace (at least for errors with a stack trace). Maybe it's just a matter of updating the Sentry library.

Reported by @Gudahtt

[2022-10-13 14:25] bschorchit commented on #15367
1. Yes
2. It should be off by default

[2022-10-13 14:35] amerkadicE commented on #15855
We won't use the slide-up modal for now.

Reference:
https://github.com/MetaMask/metamask-extension/pull/16038#issuecomment-1277135801

[2022-10-13 14:35] #15855 closed

[2022-10-13 14:36] bschorchit commented on #15700
Update: this should be a center justified modal

[2022-10-13 15:07] bschorchit commented on #15932
I've updated the above description to refer to this PR https://github.com/MetaMask/metamask-extension/pull/16195 as the design  pattern to be used here. Saya has already reviewed the design in that PR and gave a ✅

[2022-10-13 17:08] bschorchit commented on #14647
We should leave it as is to display 2 per default.

[2022-10-13 17:31] php4fan commented on #14647
Why??

[2022-10-14 02:46] #16119 closed

[2022-10-14 07:52] georgewrmarshall opened #16200 "TextFieldBase updates"
### Description
After technical review the following updates need to be made to the `TextFieldBase` component
- update readonly to have not focus
- update truncate to be true by default
- update focus border width to be `2px`

### More info
[Slack thread](https://consensys.slack.com/archives/C02VD8QG0LT/p1665687834512159)

[2022-10-14 11:06] seaona opened #16206 "[Bug]: Secure Wallet video is overlapping lateral info box with smaller window"
### Describe the bug

**Problem**: when I am on the Onboarding flow for Create Wallet, if I have a small window I can see that the video for Secure your Wallet is overlapping the lateral box on the right.

![secure-wallet-overlapping](https://user-images.githubusercontent.com/54408225/195832244-e85b79ac-bec5-4513-b585-089d6e72632c.png)

### Steps to reproduce

1. Load MM for the first time
2. Clic

[2022-10-14 11:13] FrederikBolding commented on #16176
@BeroBurny This should be fixed in `develop` and will also be fixed in the next Flask release! As of https://github.com/MetaMask/metamask-extension/commit/4eb8e508003e90d7c8009a74957cb4a378662ef4

[2022-10-14 13:01] dragana8 commented on #15704
@bschorchit Do we have to change the title, because on Figma it says "Allow access to your NFTs"? Also, currently, on Mainnet there is a warning "You do not have enough ETH.." and on design there is "Insufficient funds" warning (if user doesn't have funds). Which one should we show?

[2022-10-14 14:01] georgewrmarshall opened #16207 "`Text` component docs page is broken in storybook"
### Description
The docs page for the `Text` component is broken in storybook

https://metamask.github.io/metamask-storybook/?path=/docs/ui-components-component-library-text-text-stories-js--default-story

## Screenshots

<img width="1440" alt="Screen Shot 2022-10-14 at 3 59 47 PM" src="https://user-images.githubusercontent.com/8112138/195865604-25b285ad-2222-4719-b0e1-b4378cea835d.png">

[2022-10-14 14:17] #16064 closed

[2022-10-14 14:46] #16065 closed

[2022-10-14 14:59] seaona opened #16209 "Mitigate Flaky Unit Tests"
**Context**: After including the metrics for Circle CI, we are now able to see the unit tests stats and identify most common intermitent failing tests.

https://app.circleci.com/insights/github/MetaMask/metamask-extension/workflows/test_and_release/tests?branch=develop

**What**: this epic will focus on mitigating the flaky unit tests.

- [ ] srp-input Show/hide SRP shown then hidden should preven

[2022-10-14 15:21] seaona opened #16210 "[Bug]: [MV3] e2e failure for Encrypt Decrypt spec"
### Describe the bug

**Problem**: the e2e test case `encrypt-decrypt.spec.js` is failing as it is expecting a plain text value but it get's a hex string.

![image](https://user-images.githubusercontent.com/54408225/195882308-472bdba5-1815-4be2-bae7-8189a57dc324.png)

See more here: https://app.circleci.com/pipelines/github/MetaMask/metamask-extension/29114/workflows/dc9db3da-099a-44a5-8896-dad6aa

[2022-10-14 15:26] seaona opened #16211 "[Bug]: [MV3] e2e failure for Errors spec"
### Describe the bug

**Problem**: the e2e test case errors.spec.js is failing with the following error

![image](https://user-images.githubusercontent.com/54408225/195883559-6f00027d-0d28-4f4e-b368-f4031aef5f02.png)

### Steps to reproduce

1. Build mv3 test yarn build:test:mv3
2. Run errors test yarn test:e2e:single test/e2e/tests/errors.spec.js --browser=chrome

### Error messages or log output

[2022-10-14 15:30] seaona opened #16212 "[Bug]: [MV3] e2e failure for Incremental Security spec"
### Describe the bug

**Problem**: the e2e test case incremental security is failing with this error:

![image](https://user-images.githubusercontent.com/54408225/195884320-a8dbf8f9-0b2a-4187-a335-3bfc689ee8c8.png)

See run here: https://app.circleci.com/pipelines/github/MetaMask/metamask-extension/29114/workflows/dc9db3da-099a-44a5-8896-dad6aa71b091/jobs/756717/steps

### Steps to reproduce

1. B

[2022-10-14 16:08] PeterYinusa commented on #16211
The following error is thrown before the BigNumber error the test expects `'new BigNumber() not a base 16 number: 0x-de0b6b3a7640000'`
[code]

[2022-10-14 20:33] #14501 closed

[2022-10-16 17:10] andrewpeters9 opened #16217 "[Bug]: [MV3] Hardware Wallet Support"
### Describe the bug

Current interactions with hardware wallets, namely Trezor and Ledger wallets, are not supported by Chrome MV3 changes.

### Steps to reproduce

Some of the ways the issue can be reproduced:

- Initial instantiation/unlock of the `KeyringController` if a Trezor or Ledger hardware wallet is stored in the `vault`
- Various background requests that lead to interactions with hardw

[2022-10-17 10:47] StefSerbia opened #16218 "XCAD logo issue"
### Describe the bug

XCAD logo should have white background,but it has black one.We  sent .svg without black background 2 months ago.I posted screenshots in "Steps to reproduce" so i think you will understand issue :)

### Steps to reproduce

1.
![Screenshot_2](https://user-images.githubusercontent.com/74459359/196157332-005d3dc1-846e-484a-bbd6-7ad67e236982.png)
![Screenshot_3](https://user-image

[2022-10-17 12:18] VitalR opened #16219 "[Bug]: Unable to send required amount of ERC20 tokens with decimal = 0 using extension"
### Describe the bug

When user is trying to send required amount of ERC20 tokens with decimal 0, there is no possibility to input and transfer any amount of token more than 1.
Before try to input any value "No conversion rate available" message appears below token amount, however the conversion on test networks set to on in settings.

In case click on max amount button the value is automatically

[2022-10-17 23:29] bschorchit commented on #15704
Nice questions!

We should keep the title that was introduced here https://github.com/MetaMask/metamask-extension/issues/15698 .

We should keep the one that we currently have :)

[2022-10-18 06:01] LordJayWu commented on #14187
Hello???

[2022-10-18 07:36] amerkadicE commented on #15932
Hi @bschorchit @SayaGT,
Can you confirm that the design is correct?
<img width="357" alt="image" src="https://user-images.githubusercontent.com/97883527/196366152-fc1ca7a5-ccb1-4783-b4aa-fbbe76942ee2.png">

[2022-10-18 11:43] FrederikBolding opened #16227 "[FLASK] SnapController state is not cleared correctly when restoring"
When a user goes through the restore flow, the PermissionController state is currently cleared. However, the SnapController state is still present. This can cause all sorts of undefined behaviour and crashes.

[2022-10-18 11:46] sgehrman commented on #15208
the popout window size is bad.  scroll bars within scrollbars is weird.

using chrome. nothing special about my setup.

![gnome-shell-screenshot-JKIXT1](https://user-images.githubusercontent.com/287137/196420935-247cedb8-037e-4e96-a205-19475a6b67e2.png)

[2022-10-18 12:39] nenadV91 commented on #16165
I have the same issue on Chrome and Ubuntu OS
I have Metamask extension installed but I don't see it as an option in Uniswap suddenly
![Screenshot from 2022-10-18 14-38-23](https://user-images.githubusercontent.com/34926005/196431551-6c9abe38-8cd3-4aff-94b5-cb90bee67c5e.png)

[2022-10-18 17:38] TiyoSheng opened #16230 "addEthereumChain 'May not specify default MetaMask chain' error"
### Describe the bug

I'm trying to make something like change network chain request. Everything works correctly, but only with new network IDs.I don't understand the reason why you did this check. If you could remove this, many developers will thank you.

### Steps to reproduce

`window.ethereum.request({
    id: 1,
    jsonrpc: "2.0",
    method: 'wallet_addEthereumChain',
    params: [{
      c

[2022-10-18 22:36] quarantaquatro commented on #3616
Has this error ever been solved? I get this still today with Addthis and MetaMask Extention.
(Uncaught TypeError: (e.data || "").search is not a function)

Is there some workaround to switch this off? thx in advance

[2022-10-19 13:52] danjm opened #16234 "Fix use of `setSpendingCap` locale string to properly use our i18n interpolation system"
Currently, in `token-allowance.js` we have this code:

[code]
`setSpendingCap` is defined in the locale file as follows:
[code]

This is a problem because this won't be able to be translated to a language that would place the contract token values somewhere other than the end of the string.

That is why we have a system of replacable symbols in the translation files. Take, for example, `spendLimit

[2022-10-19 16:23] #16088 closed

[2022-10-19 18:09] #16207 closed

[2022-10-20 01:59] gzliudan opened #16237 "[Bug]: Lockfile has incorrect entry for "ast-types@^0.13.2""
### Describe the bug

When I run yarn, it reported:
[code]

### Steps to reproduce

[code]

### Error messages or log output

[code]

### Version

10.18.3

### Build type

_No response_

### Browser

Microsoft Edge

### Operating system

Linux

### Hardware wallet

_No response_

### Additional context

_No response_

[2022-10-20 02:09] gzliudan commented on #15124
I will work on this problem from November.

[2022-10-20 02:09] gzliudan commented on #10809
I will work on this problem from November.

[2022-10-20 09:57] elias-garcia commented on #13375
Same problem here, we are experiencing this issue when switching from Goerli to another network... Is this planned to be fixed?

[2022-10-20 10:00] einaralex commented on #13375
@elias-garcia What other network? Ropsten just very recently got deprecated, could that be the issue?

[2022-10-20 11:08] elias-garcia commented on #13375
We are experiencing it when switching from `Goerli` to the `zkEVM Testnet`.

This happened live in Jordi's presentation at Devcon, you can see it here:

https://www.youtube.com/watch?v=3A-LotQjc2k&t=5873s

Details of the `zkEVM Testnet` network:

[code]

[2022-10-20 14:01] IBaixauli commented on #16165
I just discovered that the Google user you work with in Chrome may be related, but I haven't been able to definitively resolve the issue yet / Acabo de descubrir que el usuario de Google con el que trabajes en Chrome, puede tener alguna relación, pero todavía no he podido resolver el problema de forma definitiva

[2022-10-20 14:26] IBaixauli commented on #16165
I just uninstalled the Frame wallet and Metamask works correctly for me / Acabo de desinstalar el wallet Frame y Metamask ya me funciona correctamente

[2022-10-20 14:56] danjm commented on #16217
@andrewpeters9 I want to make sure I understand:

Is this proposing that the webhid and webusb connections would be done from inside a service worker that is created in the contentscript?

[2022-10-20 19:10] danjm commented on #16057
Removing this from the v10.21.0 milestone because we will need to figure out how to reproduce it before we can fix it, and we probably won't be able to figure that out until we get more reports, so we shouldn't block v10.21.0 on this

[2022-10-21 11:49] stole-dev opened #16251 "[Bug]: Pending transactions are never dropped"
### Describe the bug

Pending transactions are never dropped. When sending transaction to rollup service or uncompetitive transaction to congested network, transaction never becomes dropped. I saw logic behind it in app/scripts/controllers/transactions/pending-tx-tracker.js that should make transaction dropped if it's waiting for more than 3 blocks, but that does not happen.

### Steps to reproduc

[2022-10-21 12:43] danjm commented on #16162
@seaona can you reproduce this consistently?

[2022-10-21 13:50] stole-dev opened #16253 "[Bug]: UI Shows inccorect transaction data on nonce change"
### Describe the bug

1. If there exists a confirmed transaction with the same nonce as the new transaction being sent, the new transaction won't be displayed in Metamask but it will be sent
2. If the transaction was sent, and while is still pending in Metamask another transaction is sent with the same nonce, the pending transaction will be edited with new transaction data. Both transactions will

[2022-10-21 14:06] platschi commented on #13375
+1, we are experiencing the same issue when switching between Ethereum Mainnet and Optimism Mainnet.

[2022-10-21 15:34] hilvmason commented on #14867
@kevinghim can you please confirm that this is a blocker to releasing this work and closing the epic? thx

[2022-10-22 04:02] webdott commented on #13375
Experiencing the same issue switching from Polygon to Celo and vice versa

[2022-10-22 15:24] php4fan commented on #15315
This issue has existed forever. How long can it possibly take to fix it? Don't you realize it renders **Metamask completely ubusable** to anyone who uses more than four accounts?

[2022-10-22 17:29] andrewpeters9 commented on #16217
@danjm It's proposing that the connections (WebHid + WebUSB) would be done client-side, but their Keyrings would be called by the service worker. I'll DM you regarding a quick chat.

[2022-10-24 01:07] CieriCrypto opened #16256 "[Bug]: Delaeyed balance inside MM but DOES show while connected to Swaps (Sushi,Uni)"
### Describe the bug

During a transfer from ETH Layer 1....To.....Arbitrum Nova,   The balance shows in the Bridge Section as normal as well as the gas fees etc ALL NORMAL....The problem is that when you click SEND TO ARB NOVA- Metamask does not and will not open as usual for you to confirm....I have tried refreshing, reconnecting, rebooting, NO HELP....Also as a user of MM for over 2 years now I

[2022-10-24 02:21] turbowizardry commented on #13375
It seems like this bug is hit every time you switch to a custom network. When I switch between the default Ethereum network loaded in MM and testnets, no disconnect happens. I added a custom Ethereum node with Alchemy as the RPC and now the Dapp disconnects when I switch to it, as well as any other custom network I've added (Optimism, ZKSync etc).

[2022-10-24 08:05] chiragnahata commented on #16056
Help please

[2022-10-24 08:59] ElvirCe opened #16257 "Wallet Tx Security Provider: Turn On/OFF TX Security Provider Toggle"
## User Story
As a user, I want to be properly communicated the benefits, risks and any privacy or security concern before adding a tx security provider to my wallet.
[User story](https://www.notion.so/As-an-user-I-want-to-be-properly-communicated-of-the-benefits-risks-and-any-privacy-or-security-co-d9808afb8ce84a359a96f496ab266b21)

## Acceptance Criteria
1. Add new toggle under Settings > Experi

[2022-10-24 09:11] ElvirCe opened #16258 "TX Security Providers: Warning Message"

[2022-10-24 09:26] faizara487 commented on #13590
Hi, any update on the issue? Popup still not opening if closed without putting password. It just shows notification badge on the pinned extension. Doe anyone find a solution yet?

[2022-10-24 09:37] ElvirCe commented on #14647
@bschorchit Should we proceed with fixing the order for now and if you decide later to change the number of displayed recipients you can create a new UI enhancement ticket?

[2022-10-24 09:57] bschorchit commented on #14647
Yes, thanks @ElvirCe !

[2022-10-24 10:20] seaona commented on #16162
yes, but the issue was solved by removing `node_modules` and re-installing it again. I close the issue @danjm

[2022-10-24 10:20] #16162 closed

[2022-10-24 11:34] FrederikBolding commented on #14187
@LordJayWu This should be fixed in the latest version of the extension. Are you still having the issue?

cc @bschorchit

[2022-10-24 12:08] #16227 closed

[2022-10-24 12:12] ffernandomoraes opened #16259 "[Bug]: Legitimate site blocked sun.eduzz.com"
### Describe the bug

https://sun.eduzz.com/

This is a online sales platform. Any one can sell digital goods. It's not a phishing site. Please remove this site from the block list because is affecting many legitime customers.

### Steps to reproduce

1. Access https://sun.eduzz.com/1636312 with the extension installed.

### Error messages or log output

_No response_

### Version

10.20.0

### Bu

[2022-10-24 13:10] bschorchit opened #16262 "Wallet Tx Security Provider: add a new user property and a ui_customizations property"
## Background
[Epic on Notion](https://www.notion.so/Enable-MVP-support-for-tx-security-providers-954fef15373d4736b046566d20c93de1)
We want to update our metric scheme to capture the usage and efficacy of the new transactions security provider feature so we're able confidently iterate over and improve this feature.
As always, for anyone looking for more info on MetaMetrics, [here](https://medium.c

[2022-10-24 19:00] LordJayWu commented on #14187
Finally! Thank you, it worked. 👍

[2022-10-25 02:55] #16084 closed

[2022-10-25 09:07] rekmarks commented on #16163
I think this is the logger middleware working as intended: https://github.com/MetaMask/metamask-extension/blob/68642ee47af11b726c3f0849837c26ddb3d74885/app/scripts/lib/createLoggerMiddleware.js

[2022-10-25 09:35] bschorchit commented on #14187
Closing as this has now been fixed! If you are still having problems, please update your MetaMask to the latest version. If you find any other issue after updating it, let us know!
Thank you for all your reports and help!

[2022-10-25 09:35] #14187 closed

[2022-10-25 11:12] seaona opened #16266 "[Bug]: Backup Secret Recovery Phrase warning appears and disappears depening on the Network I am on"
### Describe the bug

**Problem**: the Backup Secret Recovery Phrase warning appears or disappears depending on the network I am on. This is due to the check if address has funds on that network only.

It looks like the intention might be to have a more holistic approach and in the case I got funds in one network, i.e. Polygon, the warning should now be displayed always, unless I deactivate it fro

[2022-10-25 11:16] seaona commented on #16266
Just saw it's the same as https://github.com/MetaMask/metamask-extension/issues/13277

[2022-10-25 11:16] #16266 closed

[2022-10-25 12:55] danjm opened #16269 "Investigate bundle size increased caused by #15878"
https://github.com/MetaMask/metamask-extension/pull/15878 aimed to decrease the bundle size, but ended up increasing it.

We need to investigate to understand why this happened, and then try to reverse the bundle size increase

[2022-10-25 12:56] danjm opened #16270 "Investigate bundle size increase caused by #15889"
https://github.com/MetaMask/metamask-extension/pull/15889 caused a bundle size increase

We need to investigate to understand why this happened, and then try to reverse the bundle size increase

[2022-10-25 13:34] w1g0 opened #16272 "[Bug]: Can't see or manipulate $ETC funds when using MetaMask to access the Ledger hardware wallet."
### Describe the bug

When I try to access my funds I see 0 $ETH, my rpc is set to several services but it still shows $ETH in stead of $ETC.
Also changing the derivation path does not solve this issue.

### Steps to reproduce

1. set RPC to Ethereum Classic
2. Connect Ledger hardware wallet to Metamask
3. Open Ledger Live and open Ethereum App
4. Open device bridge through websocket
5. select the

[2022-10-25 14:37] jinsley8 commented on #7286
I have the same issue did you figure it out?

[2022-10-25 15:03] #16082 closed

[2022-10-25 15:26] seaona opened #16274 "[Bug]: Warning Not enough ETH displayed to the wrong account"
### Describe the bug

**Problem**: when I am connected to a Dapp with Account 1 (with Balance) if I perform a Deploy Contract action, and before confirming the tx, I change the account to Account 2 (without Balance) on another MM window, I see that a warning for Not Enough Balance is displayed on the popup view of Deploy contract for Account 1, even though I have balance on Account 1 and I can pro

[2022-10-25 16:28] danjm opened #16275 "Ensure MV3 works on Opera and Edge"
@digiwand noticed buggy behaviour, in particular related to the service worker restart, on MV3 on Opera

We need to investigate and resolve

Also, we should check that this works on edge

---

Browser Support status for MV3 is being documented here: https://www.notion.so/Manifest-V3-5b35e49b12634c0b89563dea8a6afa33#5c17e481725741aa8c6898b92d157a36

[2022-10-25 16:29] seaona opened #16276 "[Bug]: "learn more" link from Connected account notification is broken"
### Describe the bug

**Problem**: "learn more" link from Connected account notification is broken

https://metamask.zendesk.com/hc/en-us/articles/360045129011-Intro-to-MetaMask-v8-extension

![image](https://user-images.githubusercontent.com/54408225/197830461-99da1419-94e6-4e71-a5a8-563a0f6cd285.png)

![image](https://user-images.githubusercontent.com/54408225/197830670-4d95893a-5d5f-4712-a697-4

[2022-10-25 20:52] seaona commented on #16057
I could sort of reproduce the issue (see video). Not sure if might be exactly the same case as you @bschorchit but maybe the underlying problem it is the same? @danjm

[token-detection.webm](https://user-images.githubusercontent.com/54408225/197879380-d4c2fcc4-a3ae-46b1-9073-7c3f19154c4c.webm)

[2022-10-26 09:39] FrederikBolding commented on #16270
My guess would be because we rely on `metamask/controllers` in the snaps repos and sometimes are ahead of the extension with versions, this can cause extra dependency versions to be added. For example, looking at this PR there are multiple versions of `ethersproject` packages as well as `metamask/controllers` itself.

[2022-10-26 09:44] nenadV91 commented on #16165
@IBaixauli Yes, uninstalling Frame wallet fixed the issue for me too.

[2022-10-26 09:53] FrederikBolding commented on #16270
We currently have several versions of `metamask/controllers` due to snaps packages and `smart-transactions-controller`. Will make sure these get up to date with latest controllers

[2022-10-26 11:37] phelix001 commented on #4006
ubuntu22, brave current, ublock origin, cookies auto delete, pihole dns, Whenever I interact with sonething, metamask does not open, I have to click on it to see what's going on.  I also have to constantly enter my password, not sure if that is normal behavior or not.  Sometimes this means I've clicked on a button 3x and I get 3 transactions in MM that I have to decline 2.  This also happens on po

[2022-10-26 11:41] dragana8 opened #16281 "Wallet Tx Security Provider: Send the transaction or signature request payload information to a service provider"
## **User story**

As a user, I want my unsigned transaction and signatures requests to be sent to my security provider so it can verify whether it’s malicious or not before I sign them. Any **eth_sendTransaction**, **eth_sign**, **personal_sign**, or **signTypedData_vXX** method request would be forwarded to SECURITY_PROVIDER_RPC_URL in the standard JSON RPC request format prior to rendering a tr

[2022-10-26 16:40] jonathancoach commented on #6207
On mobile, try force closing the app then restart, it worked for me.

[2022-10-26 18:23] Gudahtt commented on #15208
I have been unable to reproduce this as well; I've been using MetaMask on Linux for years and have never seen the depicted problem.

Please feel free to leave more details about the Chrome version, desktop envioronment, linux version, etc. and we can attempt to reproduce it again, but until then I will close this as cannot reproduce.

[2022-10-26 18:23] #15208 closed

[2022-10-26 18:53] #3452 closed

[2022-10-26 19:31] Gudahtt opened #16283 "Notify users that we are dropping support for their current browser"
We would like to notify users when we are planning to drop support for the browser they are currently using, so that users have at least once release to learn about this change and how it will impact them.

[2022-10-26 19:38] Gudahtt commented on #16283
The best way to do this is probably to utilize the home notification system, which you can see here: https://github.com/MetaMask/metamask-extension/blob/c519d3ef91ceb165498137f2c485c1696f43132b/ui/pages/home/home.component.js#L304-L551

We can add a new conditional notification that is only displayed for users of browsers that are planned to be deprecated soon. For now, we can use the range sugges

[2022-10-27 04:13] worldlyjohn commented on #2852
@brad-decker @danfinlay this is completed and deployed

[2022-10-27 09:52] hasjack commented on #11863
Hello - I work on the dev team at CryptoKitties (which I saw mentioned earlier on the thread!)

Is there any timeline for getting this rectified? We are very keen to reopen the siring market on CK.

[2022-10-27 10:25] #16016 closed

[2022-10-27 10:48] sgehrman commented on #15208
latest chrome, debian latest.

It's never worked on any of my linux machines.

[2022-10-27 10:50] pimterry commented on #15371
Hey metamask team - I'm the maintainer of Mockttp, I just found this issue :smile:.

I can't be sure from a quick skim what the cause is, but note that for https://github.com/httptoolkit/mockttp/issues/83 the reported problems are very HTTP/2 specific, and disabling that does fix everything there, with minimal downside (technically the tests are less representative of real traffic, which is normal

[2022-10-27 11:27] bschorchit commented on #16218
Hey @StefSerbia, the logo is being fetched using our token detection feature so you need to have the logo updated in the token lists for it to be reflected in MetaMask.
https://consensys.net/blog/metamask/how-to-use-metamasks-token-detection-feature/

[2022-10-27 11:27] #16218 closed

[2022-10-27 12:06] bschorchit commented on #16276
Is this a new copy that is being introduced in a coming release, @seaona ?

Currently in prod in v10.20 it looks like this for me:
<img width="363" alt="Screen Shot 2022-10-27 at 09 03 44" src="https://user-images.githubusercontent.com/34968356/198279456-33e7831d-d168-4034-82a1-446ad6b21795.png">

[2022-10-27 12:12] bschorchit commented on #16276
Oh wait, it seems I was doing a different thing. I've re-read and understood it's a notification that pops up.

This could be a better 'Learn more' link for here: https://metamask.zendesk.com/hc/en-us/articles/4405506066331-User-guide-Dapps

Tagging @kevinghim in case he has more context around this.

[2022-10-27 12:16] #16212 closed

[2022-10-27 12:28] georgewrmarshall opened #16288 "[Ext Nav] Create component: AvatarIcon"
### Description
Create a reusable UI component for `AvatarIcon`

### References
[Figma Link](https://www.figma.com/file/HKpPKij9V3TpsyMV1TpV7C/DS-Components?node-id=9970%3A39488)
[UI component guidelines](https://www.notion.so/UI-Components-5ccd2bf83eb8441892a0b72c0d8929e1)
[Styling guidelines](https://www.notion.so/Extension-Frontend-Engineering-Guide-b82ddb3e14004b5db3799a9b446294a9#49aa2ef7b7aa

[2022-10-27 12:29] Lissanro commented on #15208
For me MetaMask works perfectly on all my Linux computers (I tested in Firefox, Chrome, Brave), even on Jetson Nano (Chromium, ARM64 architecture).

[2022-10-27 12:36] georgewrmarshall opened #16289 "Create component: Avatar"
### Description
Create a reusable UI component for `Avatar` that unifies all avatar types/variants

### References
[Avatar Audit FigJam](https://www.figma.com/file/pQa2vI7r08pHiqsAPTWdQ8/Avatar-Audit?node-id=0%3A1&t=RkY22EW1bQ5XomCN-1)
[Figma Link](https://www.figma.com/file/HKpPKij9V3TpsyMV1TpV7C/DS-Components?node-id=9409%3A33908)
[UI component guidelines](https://www.notion.so/UI-Components-5cc

[2022-10-27 12:46] #16210 closed

[2022-10-27 12:49] bschorchit commented on #16283
When we were warning users about the deprecation of the test networks, we allowed the warning to be dismissible as it could get in the way of users doing important things, but the warning would re-appear once the user switched back to a test network that was going to be deprecated or closed and re-opened MM (annoying but hopefully effective). Maybe a similar approach could make sense here - for re

[2022-10-27 13:04] georgewrmarshall opened #16290 "[Ext Nav] Create component: Button"
### Description
Create a reusable UI component for `Button` that unifies `ButtonPrimary`, `ButtonSecondary` and `ButtonLink`

### References
[Figma Link](https://www.figma.com/file/HKpPKij9V3TpsyMV1TpV7C/DS-Components?node-id=9970%3A48436)
[UI component guidelines](https://www.notion.so/UI-Components-5ccd2bf83eb8441892a0b72c0d8929e1)
[Styling guidelines](https://www.notion.so/Extension-Frontend-En

[2022-10-27 16:13] holantonela opened #16295 "SIWE - Force match between origin domain and URI"
There is a concern about exposing users to a warning message when domain binding verification is not OK. This implementation has been done following [EIP-4361](https://eips.ethereum.org/EIPS/eip-4361).

The proposal is for us to force dapps to match origin request domains with the URI field in the transaction. The expected iteration rejects the transaction and exposes a warning to the dapp through

[2022-10-27 16:33] bschorchit commented on #16259
Please open an issue in https://github.com/MetaMask/eth-phishing-detect for this

[2022-10-27 16:33] #16259 closed

[2022-10-28 05:56] tiff0000 commented on #9174
is EIP-2831 already implemented ? When a user speeds up the transaction multiple times, how can i continually get the new transaction hash?

[2022-10-28 06:51] haoge0424 opened #16297 "[Bug]: After the web page connects to metamask, it can not jump to the next step"
### Describe the bug

After the web page connects to metamask, it can not jump to the next step

### Steps to reproduce

1. open url  https://carv.io/home
2. login with wallet
3. In the new pop-up window, select the available program, metamask
4. Metamask pop-up window, after selecting an account, the web page displays Connecting to MetaMask...
5. But it's stuck all the time, and you can't jump li

[2022-10-28 08:42] #14340 closed

[2022-10-28 14:07] bschorchit commented on #16297
Hey @haoge0424, after selecting the account, have you clicked on `Next` in the MetaMask popup and clicked on `Connect` on the following MetaMask screen (screenshot below)?
I was not able to reproduce this issue and connection flow seemed to work fine.
<img width="363" alt="Screen Shot 2022-10-28 at 11 06 19" src="https://user-images.githubusercontent.com/34968356/198632651-5cd62a6c-a1b9-44ae-b0cf-

[2022-10-28 14:57] Dinuz commented on #9407
This issue is still present and sucks!! When we do something?
The methodology that has less crappy impact on the user experience is the one suggested by @taochen2001
The experience is not stellar yet (you get an unnecessary refresh) but it's bearable, setting up an exact timeout is just insane and 99% of the cases degrades the whole experience (you can risk to get multiple refresh).

@metamaskbot

[2022-10-28 15:12] bschorchit commented on #16281
More details on data format to be forwarded available [here](https://www.notion.so/opensea/Wallet-Tx-Security-PoC-b6a926e1cb6448638d147696cd8f5937)

[2022-10-28 18:46] hilvmason commented on #10757
@brad-decker @danjm -- just flagging that this original beta issue has been pulled into the MV3 board to execute MV3 beta. I see the contributor experience label has also been added, so ensuring there is no duplication of work here! Perhaps we need to break this up to make ready for MV3 beta (specifically), and what work the contributor experience team may take on in the future?

[2022-10-28 18:52] bschorchit commented on #16257
Oh yes! 100%! I used the token detection just as an example, sorry for the confusion 😅. It would be a completely new setting not related with token detection. You can see Filip's implementation for the MVP on this recording [here](https://github.com/MetaMask/metamask-extension/pull/16271#issue-1422459674).

At first (v1 and v2), there will be only 1 possible provider so initially there only needs

[2022-10-29 05:11] chiragnahata commented on #16056
When will my promblem be fixed. Cannot use any and also all my nfts are lost becuase of this issue cannot log in back to my nft site. Please help

[2022-10-29 12:46] w1g0 commented on #16272
Cross referenced with https://github.com/LedgerHQ/ledger-live/issues/1718

[2022-10-29 12:52] fribas84 opened #16311 "[Bug]: Not able to create account in Ubuntu using V10.20.0"
### Describe the bug

When creating a new account, this is not being created and the an already created account is shown as duplicated:

![image](https://user-images.githubusercontent.com/36540317/198832313-29d8a382-1f5d-48ca-a728-82d845e22452.png)

Note: This wallet as imported

This also happens in Firefox

**Chrome version**: Version 107.0.5304.87 (Official Build)
**OS**:
Linux fribas-XPS-15-95

[2022-10-29 20:24] Dinuz opened #16312 "[Bug]: RPC ERRORS ALWAYS SHOW IN CONSOLE DESPITE CATCHING THEM IN TRY CATCH"
### Describe the bug

Despite using the right error handling system (try/catch), and catching the error, Metamask still throw a duplicate error that I cannot intercept for the life of me. This shows a red error in console.
Would be incredible to understand how prevent the duplicate error (always an RPC error) to appear, and instead handling it with a more soft user experience.

### Steps to reprod

[2022-10-29 20:31] Dinuz commented on #16163
@rekmarks what are you implying? That the log.error will appear no matter what? How we can disable that behavior?

[2022-10-30 12:32] seaona opened #16314 "[Bug]: [MV3] Cannot destructure balance after terminating service worker"
### Describe the bug

**Problem**: when I terminate the service worker after sending  a transaction, I land on the MM error page and see `Cannot destructure balance` error. This is an intermittent failure, but it appears quite commonly (+3 times for ~10 tries)

![cannot-destructure-balance](https://user-images.githubusercontent.com/54408225/198878355-57726127-43bb-4b7c-829b-d091be72e30f.png)

###

[2022-10-30 12:57] seaona opened #16315 "[Bug]: [MV3] Networks are mixed up after terminating service worker, resuting mixing tx and networks"
### Describe the bug

**Problem**: when I am in the middle of a Send process, if I terminate the service worker and change networks, the transaction and networks are mixed up.

https://user-images.githubusercontent.com/54408225/198879521-691a11be-391e-424a-91eb-1c4ac40c44ae.mp4

### Steps to reproduce

1. Change to Goerli network
2. Click Send
3. Add recipient
4. Add amount
5. Terminate Service Wo

[2022-10-30 16:22] seaona opened #16318 "[Bug]: [MV3] Cannot read properties of undefined (reading 'symbol'), after terminating service worker during a Swap"
### Describe the bug

**Problem**: if service worker is terminated when I am performing a Swap, I land into MM error page with the error `Cannot read properties of undefined (reading 'symbol')`.

![undefined-symbol](https://user-images.githubusercontent.com/54408225/198889492-cd833c7b-d311-40ba-95e6-0b3228cd1ce8.png)

### Steps to reproduce

1.Click Swap
2. Introduce amount
3. Introduce token
4. C

[2022-10-30 17:10] seaona commented on #16311
Thanks for the report @fribas84 . Is it possible by any chance, that on the Step 2, you are importing an account with a private key, which corresponds to the Account 2? So on step 3, when you create a new Account, the Account 2 is duplicated. See vid here:

https://user-images.githubusercontent.com/54408225/198891675-c9baf4ec-1f2c-43c3-815a-4fda4e67efe7.mp4

Could you reproduce this with previous

[2022-10-31 05:52] #15714 closed

[2022-10-31 14:36] seaona opened #16321 "[Bug]: [MV3] Error: `Attempting to use a Disconnected port object` and MM stays loading indefinetly"
### Describe the bug

**Problem**: when I terminate the service worker while using the MetaMask popup view, MetaMask enters on an indefinetly loading state and I get the following errors con the console:
- `Uncaught (in promise) Error: Attempting to use a disconnected port object`
- `Error: PortDuplexStream - disconnected   at PortDuplexStream._write`

![Screenshot from 2022-10-31 15-28-01](https:

[2022-10-31 15:00] seaona opened #16323 "[Bug]: [MV3] ENS resolution stopped working after terminating service worker"
### Describe the bug

**Problem**: when I terminate the service worker, after it re-starts, ENS resolution stopped working and when I introduce an ENS domain, no address is ever resolved anymore.

https://user-images.githubusercontent.com/54408225/199038834-7768a0ef-658d-4cef-aee3-cd43d09f6fce.mp4

### Steps to reproduce

1. Unlock MM
2. Go to Settings // Contacts
3. Click Add Contact
4. Enter a v

[2022-10-31 16:37] adonesky1 commented on #15898
Completed here: https://github.com/MetaMask/metamask-extension/pull/16033

[2022-10-31 16:37] #15898 closed

[2022-10-31 16:46] hilvmason commented on #10757
@danjm will revise this issue to cover MV3 Beta only, splitting other issues for future iteration as needed

[2022-10-31 16:47] digiwand commented on #16275
updated description to point to Browser Support notes I began documenting in Notion
https://www.notion.so/Manifest-V3-5b35e49b12634c0b89563dea8a6afa33#5c17e481725741aa8c6898b92d157a36

[2022-10-31 16:47] digiwand opened #16327 "[Bug]: MV3: Opening a popup after service worker terminates breaks the dapp"
Discovered by @seaona (https://github.com/MetaMask/metamask-extension/pull/16075#issuecomment-1295777617) and confirmed in a pair programming session with @jpuri

**Bug Repro Steps:**
- Run MV3 build `yarn start:mv3`
- Open dapp
- Terminate service worker
- Open popup
- Attempt to interact with dapp
- Observe `runtime.lastError` in console and observe the dapp does not work

[2022-10-31 19:33] hilvmason commented on #15884
@kevinghim -- are you able to give a hard deadline on when this needs to be in production? Or is this still considered highest non-MV3 priority?

[2022-10-31 20:07] shanejonas opened #16332 "Add a toggle in settings to never cache the nonce for development"
### Describe the bug

In development for MetaMask or Smart Contracts I am constantly restarting my local dev node which resets the nonce. And when I try to use MetaMask after, I am forced to go into settings and `Reset Account`.

### Steps to reproduce

1. Use ganache for local dev
2. Make a tx with metamask on localhost
3. restart ganache
4. try to make another tx with metamask on localhost

###

[2022-10-31 20:13] zcstarr commented on #16332
+1

[2022-10-31 20:43] shivjoshi1996 commented on #9407
I'm also hitting this issue. On our NextJS app we're also using the reload method and checking every 1 second  whether we need to refresh or not (I'm still testing to see if that is long enough,  but even 1 second feels too long). Like other people have mentioned, this is not a great user experience and may lead to multiple refreshes.

This bug needs to be addressed as it potentially breaks apps c

[2022-10-31 20:47] rekmarks opened #16333 "Individual snap settings page crashes if a snap has no permissions"
If you click "See Details" on a particular snap in the Snaps Settings page, the extension UI will crash if that snap has no permissions.

Error:
[code]

We should probably handle this case in the UI, but we could _conceivably_ ignore this problem if we instead enforce in the `SnapController` that every snap must have at least one permission.

[2022-10-31 20:54] deshvin opened #16334 "[Bug]: Unable to list or transfer ERC721 - Uncaught (in promise) BigNumber Error: new BigNumber() not a number: undefined"
### Describe the bug

When trying to list or transfer a specific NFT on OpenSea. The MetaMask transaction approval screen freezes with a spinning circle.

https://user-images.githubusercontent.com/2859402/199108453-7ca1a459-953c-452a-a4d2-1964e2aeb571.mov

### Steps to reproduce

1. Initiate the transaction to list or transfer the NFT
2. Error

### Error messages or log output

[code]

### Version

[2022-10-31 21:02] NiranjanaBinoy commented on #15937
On a closer look, we found that the `fetchTokenList` method, which is used to fetch the dynamic tokenList, is getting called every time the UI pop or window is opened as we are starting and stopping the polling based on the `controllerConnectionChanged`[here](https://github.com/MetaMask/metamask-extension/blob/08a4f93b5382eb9802d8164457084286b3bb3191/app/scripts/metamask-controller.js#L545). This

[2022-10-31 21:02] #15937 closed

[2022-10-31 21:35] segun commented on #14888
@danjm @hilvmason I think we can close this now.

[2022-11-01 00:42] kevinghim commented on #15884
@hilvmason there isn't a deadline per se, but needs to be implemented as soon as possible either when there's developer availability or as soon as MV3 is over.

[2022-11-01 06:27] aliawais0007 commented on #7286
Did anyone figure it out? I am facing the same issue due to gas fee estimation error.

[2022-11-01 09:04] jpuri commented on #16321
Hey @seaona : I am not able to replicate the issue with latest code.

[2022-11-01 10:57] Econymous commented on #13862
this worked for me too and I'm on testnet

[2022-11-01 14:48] GregTheGreek commented on #9174
hiiiii @rekmarks

[2022-11-01 14:56] digiwand opened #16342 "Add error / runtime.lastError checks in runtime API callbacks; Add error handlers for promise-based runtime API callbacks"
[According to docs](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/lastError), we're expected to check the `runtime.lastError` in the runtime API callbacks

regarding promise-based API calls:

ref: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/lastError

Ensure we are checking lastError for callbacks found in files:
- `script

[2022-11-01 15:43] #16276 closed

[2022-11-01 19:37] adonesky1 commented on #16318
So what’s happening when the service worker is terminated is that the `SwapsController` controlled `swapsState` is getting reset and so the quotes empty out along with other `fetchParams` causing a redirect:
https://github.com/MetaMask/metamask-extension/blob/develop/ui/pages/swaps/index.js#L505  . So if you don't quickly hit the `swap` button on the `view quotes page` you will see us redirected b

[2022-11-02 10:47] seaona opened #16349 "[Bug]: [MV3] Token detection is caching results between accounts when terminating service worker"
### Describe the bug

**Problem**: when I terminate the service worker and I change accounts, I see that the tokens detected are cached.

https://user-images.githubusercontent.com/54408225/199470301-596396d3-e524-4097-9a1e-faaa98421993.mp4

### Steps to reproduce

1. Unlock MM
2. Get some tokens on the first account, so they are detected
3. Create a fresh new account
4. Change back to the account

[2022-11-02 13:29] FrederikBolding commented on #16333
https://github.com/MetaMask/snaps-monorepo/issues/899

[2022-11-02 13:34] FrederikBolding commented on #16176
@BeroBurny Can you confirm that this is fixed on your end?

[2022-11-02 14:08] FrederikBolding commented on #15674
For clarity I'm posting reposting this from Slack.

It seems like decoding of the transaction fails and doesn't return the expected arguments :
[https://github.com/MetaMask/metamask-extension/blob/7dc6a5feaabc4754bf73d4abaeb10e[…]ents/app/transaction-decoding/transaction-decoding.component.js](https://github.com/MetaMask/metamask-extension/blob/7dc6a5feaabc4754bf73d4abaeb10ee55570924d/ui/component

[2022-11-02 14:28] #13500 closed

[2022-11-02 16:03] seaona commented on #14533
Fixed by https://github.com/MetaMask/metamask-extension/pull/16167

[2022-11-02 16:03] #14533 closed

[2022-11-02 16:09] digiwand commented on #16327
closing the PR. This case appears to be a non-issue with the keep-alive logic work. It is an issue found on PRs related to MV3 persisted login

[2022-11-02 16:09] #16327 closed

[2022-11-02 16:26] seaona opened #16356 "[Bug]: Custom Networks Aurora and Palm don't display fiat conversion"
### Describe the bug

**Problem**: custom networks Aurora and Palm don't display fiat conversion

![Screenshot from 2022-11-02 17-23-18](https://user-images.githubusercontent.com/54408225/199545007-b19171e8-d0be-4aa6-8ca6-1f7fd55ddb22.png)
![Screenshot from 2022-11-02 17-23-06](https://user-images.githubusercontent.com/54408225/199545014-f3e55329-9319-4166-bccc-cd6616152579.png)

### Steps to repr

[2022-11-02 16:37] #16333 closed

[2022-11-02 17:16] seaona opened #16357 "[Bug]: Cannot edit Amount for Approved Tokens"
### Describe the bug

**Problem**: I cannot edit the amount for the Approve Token screen. No error is displayed.

https://user-images.githubusercontent.com/54408225/199556355-3a17e2f4-a009-4407-950a-4327bb7412d8.mp4

### Steps to reproduce

BEFORE TESTING - in your .metamaskrc file, set `TOKEN_ALLOWANCE_IMPROVEMENTS=1` and then start the app
1. Unlock MM
2. Go to test dapp https://metamask.github.

[2022-11-02 18:33] seaona opened #16358 "[Bug]: MM got into a strange state: detected Goerli as not supporting EIP1559 and cannot reset account nor use it anymore"
### Describe the bug

**Problem**: MetaMask got into a strange state where first:
- I could not deploy a contract on Goerli as it was detecting it as a network which not supports EIP1559

![image](https://user-images.githubusercontent.com/54408225/199572062-35a2487a-0851-495c-9c59-b32968bff545.png)

https://user-images.githubusercontent.com/54408225/199571256-1b2210d5-6a11-4b71-b7e8-e5c3f77305e1.m

[2022-11-02 18:50] NiranjanaBinoy opened #16359 "Chrome alarm is not identifying which alarm is getting triggered correctly."
We have two locations where we are using chrome alarms at the moment; one goes off every 1 minute, and the other goes off based on a user-defined interval. Both the `addlisteners` catches an alarm when it is triggered, and currently, we are not correctly identifying which alarm is getting triggered at that time, resulting in both alarms getting executed every minute.

[2022-11-02 19:50] kevinghim commented on #16295
Based on a call with Spruce, we'll be implementing v1 with dapp request blocking when there's a mismatch of ABNF mismatch, signature validity, and domain binding. @holantonela thoughts on the below suggested revisions?

### Revisions

1. Block dapp request to sign when there is a domain mismatch based on ABNF mismatch, signature validity, and domain binding.
2. Display an alert to the user with th

[2022-11-02 20:12] #16206 closed

[2022-11-02 20:50] kevinghim opened #16362 "Dapp connection browser fox badge"
### Describe the bug

### Background
We want to make it easily identifiable when an account is connected to a dapp by indicating a green dot badge on the MM browser extension fox icon. We should provide a 128x128 icon with a connection on/off option to be used during installation and by Chrome and Firefox stores. Extensions should also provide a 48x48 icon, which is used in the extensions manageme

[2022-11-02 21:19] #16323 closed

[2022-11-03 00:48] georgewrmarshall commented on #16186
@garrettbear do you mean add the semi colon?

[2022-11-03 04:53] johnrjj opened #16363 "[Bug]: ArtGobblers.com incorrectly being flagged as phishing"
### Describe the bug

Hey,

Metamask's phishing guard is incorrect and is signaling a false positive for https://artgobblers.com. This is the real ArtGobblers site and does not contain any phishing.

### Steps to reproduce

1. Go to https://artgobblers.com and see the incorrect phishing warning

### Error messages or log output

_No response_

### Version

Current

### Build type

_No response_

#

[2022-11-03 12:19] jpuri commented on #16321
After the latest changes in PR this particular issue is not replicating in the PR https://github.com/MetaMask/metamask-extension/pull/15558

[2022-11-03 14:52] seaona opened #16366 "Add e2e test reports for getting circle ci insights"
Add e2e test reporter functionality and `store_test_results` on circle ci, so we are able to feed the Insights and get test data, such as slowest tests, flaky tests etc.

[2022-11-03 17:09] #16150 closed

[2022-11-03 17:25] #15536 closed

[2022-11-03 17:29] johnrjj commented on #16363
Resolving internally w/ Consensys team

[2022-11-03 17:29] #16363 closed

[2022-11-03 18:38] sentry-io[bot] opened #16368 "TypeError: Cannot read properties of undefined (reading 'txParams')"
Sentry Issue: [METAMASK-SYP7](https://sentry.io/organizations/metamask/issues/3713883984/?referrer=github_integration)

[code]

[2022-11-03 19:18] ckelechi commented on #15651
While trying to use Facebook's new account connect feature ...

![Untitled_WhileTrying](https://user-images.githubusercontent.com/10385334/199814135-a5a949ce-76a6-49f1-a6df-09b709724236.png)

[2022-11-03 19:33] danjm commented on #16368
This issue was introduced here https://github.com/MetaMask/metamask-extension/pull/15675/files#diff-675c437262d906486cf5436c0b64535347286cc4d1081dbd863fb45b8a01b81aR1808

[2022-11-03 19:52] adonesky1 commented on #16318
Currently waiting for smart-transaction service on Goerli to get back online so I can test/debug the equivalent changes in the smart-transaction swap flow

[2022-11-03 20:18] #16180 closed

[2022-11-03 20:55] Mouradif opened #16369 "[Bug]: Can't import a JSON wallet with "" as a password (empty string)"
### Describe the bug

When trying to import a JSON wallet (from `geth account new`), the button to confirm will be disabled as long as the password's length is 0.

### Steps to reproduce

1. With Geth, run `geth account new` then press ENTER twice (aka, no password)
2. Import the resulting JSON file on Metamask
3. Observe the "Import" button being disabled

### Version

10.20.0

### Build type

Ex

[2022-11-03 21:27] TimTinkers opened #16370 "[Bug]: there is a typo in the duplicate account import message"
### Describe the bug

![before](https://user-images.githubusercontent.com/2444641/199837420-80af577a-a9d7-4376-9f20-d98c95c1580b.png)

### Steps to reproduce

1. Import an account using a private key.
2. Attempt to import that same account again.
3. You will see this typo.

### Error messages or log output

_No response_

### Version

10.21.1

### Build type

_No response_

### Browser

Firefox

#

[2022-11-03 21:32] TimTinkers commented on #16370
This is a minor bug and I've submitted pull requests to fix it.

[2022-11-03 21:53] pommepommee opened #16372 "[Bug]: Memory leak while being on Netflix with Metamask extension activated"
### Describe the bug

my RAM usage kept increasing when I went on Firefox (v. 106.0.4 (64 bits) on Windows).

![image](https://user-images.githubusercontent.com/28791624/199840359-8212cc9a-69e0-458e-9b45-8c0ec5617058.png)

I have only 3 tabs opened, https://support-mozilla, about-addons and github.

I desactivated all the extensions I had and the memory usage dropped to a normal usage.

![image](h

[2022-11-04 07:52] segun commented on #16314
I tried to replicate this, but I couldn't, instead of this error, I'm getting another error that is similar

[code]

[2022-11-04 12:34] hilvmason opened #16375 "Evolve Changelog process"
https://consensys.slack.com/archives/C03H9K48U2E/p1667557046364469

each PR author/team writes their own changelog entries on their corresponding PRs, instead of being us who re-write all PRs entries at the end?
I noticed this PR already added its corresponding entry on the Changelog, and after asking about it Mark mentioned this:
It is OK to add entries early though. When updating the changelog f

[2022-11-04 12:42] hilvmason opened #16376 "e2e Best practices [documentation]"

[2022-11-04 12:44] hilvmason opened #16377 "Incremental unit test coverage improvement"

[2022-11-04 12:49] hilvmason opened #16378 "e2e Fixtures [documentation]"

[2022-11-04 12:51] hilvmason opened #16379 "Different PR Templates"
- how many?
- what will they have included?
- the work to create them

[2022-11-04 13:00] hilvmason opened #16380 "Update testing libraries [FireFox]"
We are doing this manually now.

https://docs.npmjs.com/cli/v7/commands/npm-outdated

We want to keep these updated and treat as if they are production code.

[2022-11-04 13:03] hilvmason opened #16381 "Update testing libraries [ALL - automation]"
We are doing this manually now.

https://docs.npmjs.com/cli/v7/commands/npm-outdated

We want to keep these updated and treat as if they are production code.

[2022-11-04 14:32] milanobrenovic commented on #8990
I'm unable to disconnect from metamask. Tried all the examples people commented here but the program opens the metamask to connect instead of disconnecting.

[2022-11-04 14:52] adonesky1 commented on #16349
@seaona I'm having trouble reproducing... 🤔

https://user-images.githubusercontent.com/34557516/200005217-0ea77747-83d0-477a-a5e4-c35fd6474e2e.mov

[2022-11-04 15:23] #16359 closed

[2022-11-04 15:51] newlife08 commented on #15780
![image](https://user

[2022-11-04 16:14] #16318 closed

[2022-11-04 16:29] #13690 closed

[2022-11-04 17:47] #16368 closed

[2022-11-04 19:57] bschorchit commented on #16357
This feature is not fully completed yet. This PR https://github.com/MetaMask/metamask-extension/issues/15211 has yet to be merged for it. Once it's merged, when you click on `Edit` it will take you back to the new screen.

[2022-11-04 20:16] bschorchit commented on #16334
I was able to reproduce it by going to https://etherscan.io/address/0x586dae24dd99ac8a240cc475b052a9f737808073#writeContract and calling the safeTransferFrom method.

[2022-11-04 20:59] addmorebass commented on #15267
@bschorchit This is not working anymore when a user scrolls down. The sign button does not enable.

This is on Google Chrome.

[2022-11-04 21:33] kevinghim opened #16387 "[Bug]: Portfolio view callout element on top of What's New modal"
### Describe the bug

When starting MetaMask with a fresh install or newly updated version, the "New!" callout element introducing the Portfolio View is position on top of the "Protect your funds" modal.
![image](https://user-images.githubusercontent.com/6951929/200077783-592d083d-82bc-47ae-94e1-4e2f211e87db.png)

Probably a z-index positioning bug.

### Steps to reproduce

1. Newly install or upd

[2022-11-04 21:46] kevinghim opened #16388 "Clicking on token "Refresh list" should provide feedback to user"
### Describe the bug

If you don't have new assets, and click on "Refresh list" for detection, we should provide feedback to the user indicating there are none. Currently, the UI doesn't provide this which could confuse the user in thinking that token detection isn't working.

https://user-images.githubusercontent.com/6951929/200079491-62e9c1f4-dfcc-44e2-849c-e42a8c4bc464.mov

### Steps to reprodu

[2022-11-04 22:11] kevinghim opened #16389 "[Bug]: Tenderly should be fetching gasPrices, and not suggestedGasFees from eth_gasPrice"
### Describe the bug

From the #metamask-tenderly Slack [thread](https://consensys.slack.com/archives/C03T3QM4UBY/p1666117261625869).

Some of our users are trying to connect MetaMask with our Fork RPC from Optimistic, but it seems that the connection with Metamask is hanging for about 20-30s before actually executing an action (click of whichever button). We’ve tried other networks and RPC provid

[2022-11-05 14:45] georgewrmarshall commented on #16288
Duplicate: https://github.com/MetaMask/metamask-extension/issues/15436

[2022-11-05 14:46] #16288 closed

[2022-11-05 14:57] georgewrmarshall commented on #16058
Duplicate: https://github.com/MetaMask/metamask-extension/issues/15432

[2022-11-05 14:57] #16058 closed

[2022-11-07 00:08] alexbakers commented on #10377
This error occurs if you have 2 versions of Metamask installed.

<img width="150" alt="image" src="https://user-images.githubusercontent.com/98721968/200203007-0df00a5a-21a8-4f2a-8df0-93830482dcbd.png">

[2022-11-07 11:03] seaona commented on #16357
I remove the RC label, as per @bschorchit and @filipsekulic information. This issue can be closed once the Token Allowance PR is QAd and merged to develop :ok_hand:

[2022-11-07 13:35] VSaric commented on #16334
I was able to reproduce this issue @bschorchit, so I will take action on this! 😄

[2022-11-07 15:17] seaona opened #16397 "[Bug]: Introducing an EOA when adding a Custom Token causes MM load indefinetly"
### Describe the bug

**Problem**: when I want to import a custom token and I introduce an EOA address instead of a token address, makes MM stay loading indefinitely when I then try to Send that token. I also see the error:
`Unable to determine contract standard`

https://user-images.githubusercontent.com/54408225/200345618-ee63431b-473c-415f-b1fa-1a3cd145d45f.mp4

**Expected**: in the same way th

[2022-11-07 16:40] AkshatSinghRajput opened #16398 "[Bug]: Text Overflow in the nft section of Portfolio"
### Describe the bug

The text in the description modal in the nft section of portfolio is overflowing.
<img width="960" alt="image" src="https://user-images.githubusercontent.com/66070841/200365113-522682c0-d5c0-469c-8b6f-30db60138b49.png">

### Steps to reproduce

1. By creating the text wrapping in the description modal.
2. By making the modal bigger and responsive.
3. Changing the layout of th

[2022-11-07 17:45] adonesky1 commented on #16349
I have discussed with @seaona and neither of us are able to reproduce currently atop https://github.com/MetaMask/metamask-extension/pull/15558 (user is currently logged out). Nor am I able to reproduce on develop (with password saved as env variable). Considering this paused/blocked until #15558 is fixed.

[2022-11-07 17:52] bschorchit opened #16400 "signTypedData_v4 message doesn't render"
[Report on  @slack](https://consensys.slack.com/archives/CN2H44RAM/p1667596319572549)

Some messages don't render on signTypedData_v4 confirmation screen (see screenshot).

![Screen Shot 2022-11-04 at 2 16 23 PM (1)](https://user-images.githubusercontent.com/34968356/200380081-6bac28e7-07c7-40de-8154-fc78b9deb352.png)

It might be a bug related with fixed-size and nested dynamic arrays. Here are t

[2022-11-07 18:21] #15211 closed

[2022-11-07 18:33] bschorchit commented on #16357
https://github.com/MetaMask/metamask-extension/pull/16157 has now been merged, @seaona 😊

[2022-11-07 20:15] segun commented on #15891
@seaona guess we can close this now.

[2022-11-07 21:14] adonesky1 commented on #16315
@seaona also having trouble reproducing this one on develop. Perhaps this is also blocked until #15558 is fixed/merged?

https://user-images.githubusercontent.com/34557516/200416629-08eddad4-59be-4dba-b8bf-5e3eb74be6e2.mov

[2022-11-07 22:09] bschorchit opened #16403 "chain_id value is being passed as decimal in the Custom Network Added event"
## Background
As we worked through the new popular network list feature, we updated the `Custom Network Added` event to better understand to usage of the different features that currently allow users to add networks to their wallet (PR https://github.com/MetaMask/metamask-extension/pull/15176).
One of the properties in this event is the `chain_id` and we noticed some of the values for this propert

[2022-11-07 22:26] bschorchit opened #16405 "Remove the extra space in the new signTypedData_v4 header"
## Background
https://github.com/MetaMask/metamask-extension/pull/16018#pullrequestreview-1170728506

## Screenshot
![image](https://user-images.githubusercontent.com/34968356/200428489-1dee1810-8155-4cec-8973-f194f3259f08.png)

[2022-11-07 22:55] adonesky1 commented on #16349
@NiranjanaBinoy can you link video of your reproduction? Are you able to reproduce on top of #15558 or on develop?

[2022-11-07 23:03] #16173 closed

[2022-11-08 00:22] kevinghim opened #16408 "Provide more information and call to action when user has insufficient funds for gas"
## Background
Currently, when the user doesn't have enough funds for gas to perform a transaction, we simply state `insufficient funds for gas`
![Screen Shot 2022-11-07 at 7 14 05 PM](https://user-images.githubusercontent.com/6951929/200442880-c2662565-7c02-4377-a357-6e50d51baca0.png)

We should provide more information to the user when showing an error message on the send screen related to gas an

[2022-11-08 00:41] NiranjanaBinoy commented on #16349
@adonesky1 I was able to reproduce the bug on top of #15558; I cannot exactly pinpoint the exact scenario when it is occurring. Every time it appeared only after multiple tries, as you can see on the recording, but I think it does happen after I got logged out of the app once or twice.

It could be an issue with `this.selectedAddress` not getting updated on time, as `selectedAddress` and `tokenLis

[2022-11-08 01:27] kevinghim opened #16409 "Differentiate between pending and queued transaction"
### Describe the bug

## Background
Currently, we don't clearly indicate the difference between pending and queued transactions. If the transaction takes longer than expected, it would benefit the user to distinguish between pending and queued transactions.

## User Story
As a user I want to differentiate between pending and queued transaction.

Details:
- Improve the UI by including icons to bett

[2022-11-08 07:40] Aloxaf commented on #16372
I had the same problem on many sites and it caused firefox to eat up all my system memory.

example:
[code]

How can I help debug this?

[2022-11-08 08:34] #15780 closed

[2022-11-08 08:44] sydneyspracklen opened #16412 "[Bug]: The extension is blurry/ pixelated."
### Describe the bug

The extension is blurry/ pixelated. This is different than the last time I opened my Metamask. viewing on iMac retina screen.

<img width="667" alt="Screenshot 2022-11-08 at 10 41 12" src="https://user-images.githubusercontent.com/88720078/200516452-9c0367b1-cf5f-4ace-aa6b-4b61a9491fb3.png">

<img width="503" alt="Screenshot 2022-11-08 at 10 42 07" src="https://user-images.gi

[2022-11-08 10:15] ElvirCe commented on #16405
@bschorchit the spacing issue was already addressed with this ticket https://github.com/MetaMask/metamask-extension/issues/15705 and this PR https://github.com/MetaMask/metamask-extension/pull/15776 so we can close this one.

[2022-11-08 10:25] seaona opened #16414 "[Bug]: GoerliETH is displayed as ETH on the first onboarding flow"
### Describe the bug

**Problem**: as @NiranjanaBinoy pointed out, when we do the first onboarding process and land to home page, we see that Goerli ETH is displayed as ETH. When we change to another network and then go back to Goerli, we see that GoerliETH is displayed normally again.

**Note**: this seems it's only affecting the dev build, as we have Goerli as pre-default network. Even though, i

[2022-11-08 10:46] anxolin opened #16415 "[Bug]: Disabled "Sign" button when signing with EIP-712"
### Describe the bug

More than a bug, is a UX issue, but I believe affects to most users judging by the periodic feedback we get from our users.

Metamask support [EIP-712](https://eips.ethereum.org/EIPS/eip-712) that allows to users to sign structured data.

This is used by protocols that allow gass-less experiences, like [CoW Swap](https://swap.cow.fi), or to improve the UX when doing gas-less

[2022-11-08 11:42] bschorchit commented on #16405
Ooh awesome!! Thanks @ElvirCe ! ❤️🚀

[2022-11-08 11:42] #16405 closed

[2022-11-08 11:44] onsolution10 commented on #13590
if you have more than one wallet extension like( safpal ) remove them and test wih metamask
its work for me

[2022-11-08 13:23] PeterYinusa opened #16418 "[Bug]: mm extension crashes upon clicking the buy eth call to action on the transaction confirmation screen"
### Describe the bug

mm extension crashes upon clicking the buy eth call to action on the transaction confirmation screen

https://user-images.githubusercontent.com/53189696/200575926-4317341c-c8e7-4cd3-85cf-19675f7bf2f3.mov

### Steps to reproduce

1. login to mm
2. switch network to ethereum mainnet
3. switch accounts to an account with 0 eth
4. navigate to https://etherscan.io/address/0xbc4ca0

[2022-11-08 13:52] bschorchit commented on #16397
oh interesting! We have had some discussions around flagging EOAs in other flows and I believe we're not able to tell with 100% accuracy that an address belongs to an EOA.
But there're probably things we can do to avoid getting in this loading forever state either in the form itself or in the send flow (in case there're valid use cases for adding tokens that we cannot determine the contract standa

[2022-11-08 14:13] bschorchit commented on #16334
Hey @deshvin , it seems this is no longer an issue in version 10.21.1. Could you update your MetaMask and confirm it? Thank you!

[2022-11-08 15:18] dragana8 commented on #16418
@PeterYinusa This will be fixed with this PR: https://github.com/MetaMask/metamask-extension/pull/16220

[2022-11-08 16:19] seaona commented on #16400
**Repro steps:**
1. Clone the [test dapp](https://github.com/MetaMask/test-dapp/blob/main/src/index.js#L1150)
2. Change the following lines
    - line 1160  `primaryType: 'Test',`
    - underneath line 1161, add a new type with the params given in this ticket above
[code]

3. Start the project `npm run start`
4. Connect to MetaMask
5. Click Sign on Type 4

![image](https://user-images.githubuserco

[2022-11-08 17:49] hilvmason commented on #15884
we can proceed with this issue as is, update translations prior to releasing

[2022-11-08 17:56] adonesky1 commented on #15884
Pending [slack conversation](https://consensys.slack.com/archives/C03NT9YEWPN/p1667853154237939) that doesn't block this work but will block release of this feature.

[2022-11-08 17:59] hilvmason commented on #14867
this issue requires refinement to get dev ready @danjm @adonesky1 @kevinghim

[2022-11-08 18:08] #15738 closed

[2022-11-08 18:39] Gudahtt commented on #16283
Great question! MetaMask will continue working, but they won't be able to update MetaMask until updating the browser first.

Good example. I agree, a similar approach could work well here. It does make sense to allow the notice to be dismissed, but keep reminding the user about it.

I wonder what interval we could use here though, as it's not tied to any user action. Maybe once per day, or somethi

[2022-11-08 18:49] worldlyjohn commented on #16024
Based on the diff of our [implementation here](https://github.com/MetaMask/metamask-extension/blob/develop/app/scripts/lib/segment/analytics.js#L192) and [Segment's here](https://github.com/segmentio/analytics-next/blob/f7e427bb126dd1fff7623734527d17bbf2683075/packages/node/src/plugins/segmentio/publisher.ts#L144), it appears the API endpoints are the same, `https://api.segment.io/v1/batch` and wh

[2022-11-08 19:36] Nooknick7899 opened #16420 "เซอร์โค้ด"
https://github.com/trezor/trezord-go/blob/master/core/core.go

[2022-11-08 19:36] Nooknick7899 commented on #16420
STWD4426

[2022-11-08 20:12] httpJunkie commented on #16400
Thank you for the repro steps; very helpful!

[2022-11-08 20:13] PeterYinusa commented on #10759
Fixed in https://github.com/MetaMask/metamask-extension/pull/16417

[2022-11-08 20:13] #10759 closed

[2022-11-08 20:19] PeterYinusa commented on #14326
fixed in https://github.com/MetaMask/metamask-extension/pull/15991

[2022-11-08 20:19] #14326 closed

[2022-11-08 20:21] PeterYinusa commented on #9941
fixed in https://github.com/MetaMask/metamask-extension/pull/14393

[2022-11-08 20:21] #9941 closed

[2022-11-08 21:24] RV12R opened #16421 "[Bug]: Metamask keeps showing to restart in a loop."
### Describe the bug

Can't open the extension it's eating my RAM and CPU resulting the Firefox to a standstill. Its showing to restart Metamask but its not working i'm on a loop.

### Steps to reproduce

1. Just clicking on metamask icon is causing this. I can't even think of going near any wallet connected sites.

### Error messages or log output

_No response_

### Version

10.21.2

### Build t

[2022-11-08 21:55] kevinghim commented on #16295
An update from the team. We're going to bypass the user-facing alert described in #2 above. If the domain listed in the SIWE request does not match the domain the user is on, MetaMask will reject it via a dapp API method. There will be no user-facing alerts or recovery path.

@skgbafa would you be able to work on the changes on the UI end?

[2022-11-09 03:58] rekmarks commented on #13995
We may skip icons entirely, @eriknson is iterating.

[2022-11-09 08:43] BeroBurny commented on #16176
LGTM

[2022-11-09 08:43] #16176 closed

[2022-11-09 10:32] eriknson commented on #15162
Across MetaMask's authorship tags, I think we shouldn't include subdomains (_and https://_) to direct user focus towards what matters: the domain.

For the snaps specific authorship tags showing the npm source, I'm not 100% sure we can use the same component or if it alters enough to motivate introducing another one. TBD soon.

<img width="1920" alt="truncation" src="https://user-images.githubuser

[2022-11-09 10:56] seaona commented on #16163
I cannot repro the freezing behaviour, so I remove the RC milestone and leave it as an open issue until more info is discovered.
Middleware log error seems unrelated and expected.

@Dinuz the log error will appear every time there is an error response coming from the JSON-RPC response. It indicates a problem with your RPC provider. Could you describe the network details where you are connected?

[2022-11-09 13:08] SayaGT opened #16425 "Design review in Token allowance build 10.21.2"
I have found couple of instances where [the build](https://github.com/MetaMask/metamask-extension/pull/16291) is different to the designs. Please refer to [this Figma for the changes](https://www.figma.com/file/n0xMnZqQz4w9Sfa3ZdhWUi/Consentful-experience-for-token-allowances?node-id=4762%3A27765) required.

I have found inconsistencies on 3 screens:

1. When the user has entered a number higher t

[2022-11-09 13:17] danjm commented on #16356
This appears to be an issue with the api we use to get the fiat prices.

`curl 'https://min-api.cryptocompare.com/data/price?fsym=AVAX&tsyms=USD'` returns `{"USD":14.57}`

but

`curl 'https://min-api.cryptocompare.com/data/price?fsym=AURORA%20ETH&tsyms=USD'` returns `{"Response":"Error","Message":"cccagg_or_exchange market does not exist for this coin pair (AURORA ETH-USD)","HasWarning":false,"Typ

[2022-11-09 13:22] bschorchit commented on #16356
We should not block on this. Let's continue with 10.22 as is and work on a fix for a future release.

cc: @kevinghim as this might have some overlap with the work to not show fiat value/or warn users for custom networks that are test networks.

[2022-11-09 13:34] segun commented on #16275
Browser: Opera
Issue 2: If SW Restarts on Confirm Page, Confirm button is disabled and you get a continuous flashing of gas fees

https://user-images.githubusercontent.com/44811/200843715-af93f189-b985-4414-9cd0-a9ce421a27a7.mov

[2022-11-09 13:37] Montoya commented on #13416
Closing as there are no empty states left to resolve

[2022-11-09 13:37] #13416 closed

[2022-11-09 13:55] bschorchit opened #16427 "Display large and small numbers as decimals instead of scientific notation on token allowance confirmation screens"
## Background
The new token allowance flow is ready 🤩🚀 and to better inform users of the exact value the dapp is proposing to them, we should display larger and small numbers as decimals instead of scientific notation. This is important as during user testing, seeing the whole number had a significant impact on the users and we're also frequently told the scientific notation we currently show is n

[2022-11-09 14:08] bschorchit opened #16428 "Skip the first token allowance screen if a dapp is proposing a spending cap of 0"
## Background
When a dapp is proposing the spending cap to be 0, we want to go directly to the second token allowance screen and have the copy say `Revoke the spending cap for your` instead of `Review the spending cap for your` .

## Acceptance Criteria
1. When a dapp proposed value for the spending cap is zero, the user is sent directly to the second screen in the flow and the spending cap is kep

[2022-11-09 14:12] seaona commented on #16193
One way to reproduce this error is locking MM before a tx has been confirmed.

**Steps:**
1. Peform a Send tx
2. (before tx is confirmed on the blockchain) Log out -- wait until tx is confirm and check the background console

https://user-images.githubusercontent.com/54408225/200852309-700b0291-7bb6-49f5-98bd-cc7dd16086ab.mp4

[2022-11-09 14:18] bschorchit opened #16429 "Spending cap value inputed in a different token allowance request persist to others"
## Background
If multiple token allowance requests and the users inputs a number in the first request and then cancel the first request, the value inputted persists on the second token allowance screen. This shouldn't happen. Any new pending request should have an empty state in the custom spending cap field just like the first request originally had (before the user inputted a number).

## Accept

[2022-11-09 15:02] #16070 closed

[2022-11-09 15:34] seaona opened #16433 "TypeError: Cannot read properties of undefined (reading 'getNonceLock')"
https://sentry.io/organizations/metamask/issues/3726283100/?referrer=github_plugin

[code]

[2022-11-09 15:36] #16028 closed

[2022-11-09 16:38] #15925 closed

[2022-11-09 17:00] seaona opened #16434 "[Bug]: [MV3] Opening the popup throws `Could not establish connection. Receiving end does not exist`"
### Describe the bug

**Problem**: I am getting the console error `Could not establish connection. Receiving end does not exist. at wrappedSendMessageCallback` when I open the pop-up, after terminating service worker.

https://user-images.githubusercontent.com/54408225/200892821-e42ce619-4c95-4cf1-ada6-ed38ca486599.mp4

See more here: https://github.com/MetaMask/metamask-extension/pull/16075

###

[2022-11-09 17:05] jpuri commented on #16314
The PR fixes it: https://github.com/MetaMask/metamask-extension/pull/16393

[2022-11-09 17:14] jpuri commented on #16321
Fixed by merging: https://github.com/MetaMask/metamask-extension/pull/16393

[2022-11-09 17:14] #16321 closed

[2022-11-09 17:14] #15891 closed

[2022-11-09 17:15] #15021 closed

[2022-11-09 17:49] seaona commented on #16315
I think so, we should wait for https://github.com/MetaMask/metamask-extension/pull/15558 so we can try to repro again the complete flow there @adonesky1

[2022-11-09 20:29] Riphal commented on #16389
Hey @kevinghim, we discovered it was an error on our end and we deployed a fix.
So can you please check if everything is working now?

[2022-11-09 21:55] #16290 closed

[2022-11-09 22:02] kevinghim opened #16437 "Using Testnets warning"

[2022-11-09 22:12] kevinghim opened #16438 "Display warning when switching to a testnet"
## Background
CS has been reporting users getting tricked into paying cash for test network tokens. Currently, test networks are similar to the actual network, Binance Smart Chain, and there are fiat dollar amounts shown. For new users unfamiliar with testnets, this can be very confusing, who think that because there’s a cash value associated with their holdings.

Relevant Slack threads: [Nov 7 20

[2022-11-09 23:11] georgewrmarshall opened #16440 "🧹 [UI House Keeping] General"
- [x] export all components from root `index.js`
- [x] order stylesheet imports in atomic scale so styles can be overwritten by more complex atoms and molecules e.g. button should be able to overwrite text

[2022-11-10 00:27] bschorchit opened #16442 "Allow transactions with gas price or priority fee = 0"
## Background
[Slack thread](https://consensys.slack.com/archives/C021UN08FBJ/p1668023238318159)
Currently if the user edits the suggested gas, we block them in the UI from entering the value of 0 for the gas price (on networks that don't support EIP 1559) and for priority fee (on networks that support EIP 1559). We shouldn't block those anymore as for some networks these are indeed valid values.

[2022-11-10 00:33] coreyjanssen commented on #16283
Proposed copy:
Your browser is out of date
If you don't update your browser, you won't be able to get security patches and new features from MetaMask.
[Button] Got it

[2022-11-10 00:39] bschorchit opened #16443 "Add some guidance to users during signature requests"
## Background
We should provide some guidance on signature requests and tell users what we expect them to do (e.g. read the full message before signing).
Maybe something like `This site is requesting your signature on the message below. Make sure you read and understand the full message before signing. Signing something you don't understand could lead to loss of funds.`

This could be a simple tex

[2022-11-10 00:50] bschorchit opened #16444 "Update the What's New"
We should add a what's new content about the new Improved token allowance experience (and remove the other previous announcements)

The new content:

^ here is a link that take users to Settings > Experimental > Improved token allowance experience.

[2022-11-10 01:22] #16420 closed

[2022-11-10 01:23] bschorchit commented on #16440
I loved the emoji use here 👌

[2022-11-10 01:26] coreyjanssen commented on #16444
Improved token allowance
We redesigned our token allowance feature to help you make more informed decisions. Try it out _here._

[2022-11-10 01:38] NiranjanaBinoy commented on #16057
@seaona @danjm I was able to reproduce the bug just now, it seems to be happening when we are upgrading to v10.19.0, where token detection v2 is introduced, with token detection turned ON. This seems to be inline with what @bschorchit mentioned in [this comment](https://github.com/MetaMask/metamask-extension/issues/16057#issuecomment-1268569918)
I am attaching a screen recording of the bug while c

[2022-11-10 01:41] bschorchit commented on #16444
I love the magic you do with words ❤️

[2022-11-10 02:00] georgewrmarshall commented on #15284
Closing as I think we've decided against it for now

[2022-11-10 02:00] #15284 closed

[2022-11-10 03:45] #15104 closed

[2022-11-10 09:17] seaona opened #16447 "[e2e] Add testcase for capturing `onBootCleanup` related errors"
Add e2e testcases for capturing the recent bugs related to `onBootCleanup`. See:

- https://github.com/metamask/metamask-extension/issues/16433
- https://github.com/MetaMask/metamask-extension/issues/16368

[2022-11-10 09:40] ElvirCe commented on #16428
@bschorchit Please note that this functionality was covered with the ticket https://github.com/MetaMask/metamask-extension/issues/16234
I believe that we can close this ticket.

[2022-11-10 10:14] ElvirCe commented on #16444
Final decision:

**Improved token allowance experience**
We redesigned our token allowance feature to help you make more informed decisions. Try it out here.

Note: here is a link that take users to Settings > Experimental > Improved token allowance experience.

[2022-11-10 10:28] #15716 closed

[2022-11-10 10:35] seaona opened #16448 "[Bug]: [MV3] Phishing detection stops working after service worker re-start"
### Describe the bug

**Problem**: if I terminate the MM service worker, and I go to a phishing page, the phishing detection stops working and I land into the malicious page, instead of on the phishing warning page.

https://user-images.githubusercontent.com/54408225/201068403-4441aeb6-47d6-4df2-9174-ff434e6cf767.mp4

See comment here:
https://github.com/MetaMask/metamask-extension/pull/16075#issu

[2022-11-10 12:55] seaona commented on #16357
Ty @bschorchit if possible, I want to QA it before closing this issue

[2022-11-10 13:04] seaona commented on #16400
no problem @httpJunkie :)

[2022-11-10 13:11] amerkadicE commented on #14647
We will update the logic when a recent recipient address is added to the address book as part of this ticket.

Now the recent recipient will be added to the address book when we click the confirm button on the send flow.

[2022-11-10 13:11] bschorchit commented on #15786
Closing this in favor of https://github.com/MetaMask/metamask-extension/issues/16442 which will accomplish the same but for a wider range of networks

[2022-11-10 13:11] #15786 closed

[2022-11-10 13:11] seaona commented on #16057
great finding @NiranjanaBinoy !!

[2022-11-10 13:28] #16447 closed

[2022-11-10 13:28] #16433 closed

[2022-11-10 16:48] bschorchit commented on #16443
++ on having a pattern that can be dynamically re-used across confirmation screens and also cleans them up. I think we do need a new round of iteration and testing for the security advice one though as it didn't test so well with users last time. Maybe something that might get combined with the new component that Saya has been exploring too for the security provider?

I'll move forward with subtit

[2022-11-10 17:01] adonesky1 opened #16451 "Replace `ethereumjs-util` with `@ethereumjs/util` in `eth-json-rpc-infura`"
![Screen Shot 2022-11-10 at 11.01.10 AM.png](https://images.zenhubusercontent.com/612fcbe9f230e926789a2b4a/b222cf4f-eb8a-4218-913a-daba646349a5)

[2022-11-10 17:07] bschorchit commented on #16443
What about for copy "Sign this message if you fully understand and agree with its content and/or trust the requesting site." (of course still for Corey to do her magic here)?
I'm coming back to mentioning the message/content itself to nudge users to read it (I think most probably will think they do know what they are doing without reading it).

[2022-11-10 17:10] kevinghim commented on #16283
Had a discussion with @Gudahtt about alert intervals -- every other day would be appropriate as to not annoy users, but encourage them to update browser versions.

[2022-11-10 17:48] coreyjanssen commented on #16443
How about this?

Only sign this message if you fully understand the content and trust the requesting site.

[2022-11-10 18:00] deshvin commented on #16334
@bschorchit Confirmed resolved. Thank you all!

[2022-11-10 18:56] #16334 closed

[2022-11-10 19:06] #16434 closed

[2022-11-10 21:30] segun opened #16456 "Send and Confirm Screens errors on SW restarts"
### Describe the bug

When service worker restarts, the GasFeeController state is lost and the below behaviours are noticed on Extension

**If SW restarts on send page, you get error saying gas estimation failed.**
<img width="416" alt="Screenshot 2022-11-09 at 17 28 09" src="https://user-images.githubusercontent.com/44811/201209003-5fff56c1-9600-40d5-a076-54c3c7dac01c.png">

**If SW Restarts on C

[2022-11-10 23:06] NiranjanaBinoy commented on #16057
The issue with the object key seems to be because, before token detection v2, the `data` property in `tokensChainsCache` was a list, and after token detection v2, it is an object, so when we upgrade from 10.18.0 to any version with token detection v2 the list is destructured to an object, and the keys are auto-assigned as numbers starting from 0.

[2022-11-11 04:09] rekmarks opened #16460 "Establish clear distinction between data coming from MetaMask itself and snaps"
Establishing a clear distinction between data coming from MetaMask itself and from snaps is critical to ensure that snaps are safe to use, especially as snaps are more deeply integrated into to MetaMask UI.

This needs to be solved systemically via the design system, not on a case-by-case basis.

[2022-11-11 04:17] rekmarks opened #16461 "Add e2e tests for all major Snaps features"
All major Snaps features should be tested via e2e tests. Includes

- #15719

[2022-11-11 04:27] rekmarks commented on #16460
Relevant Figma at the time of writing: https://www.figma.com/file/kz987q7xsI9NzGvUZrc8LF/Snaps-UI?node-id=1209%3A29490

[2022-11-11 04:28] rekmarks opened #16462 "Align Snaps connect, install, and update screens"
The Snaps **connect**, **install**, and **update** screens should look great and be consistent.

[2022-11-11 04:29] rekmarks commented on #16462
Relevant Figma at the time of writing: https://www.figma.com/file/kz987q7xsI9NzGvUZrc8LF/Snaps-UI?node-id=1602%3A30966

[2022-11-11 04:36] rekmarks opened #16463 "Clean up Snaps settings page / screens"
We should clean up the Snaps settings page and align it with our latest design patterns.

Related: #16462

[2022-11-11 04:36] rekmarks commented on #16463
Currently relevant Figma: https://www.figma.com/file/kz987q7xsI9NzGvUZrc8LF/Snaps-UI?node-id=1880%3A32847

[2022-11-11 08:31] csokun commented on #14187
Hi, I'm encountered the same issue metamask version: `10.21.2` contract details https://etherscan.io/address/0x3a859b9ea4998d344547283c7ce8ebc4abb77656

[2022-11-11 09:36] seaona opened #16464 "[Bug]: Incoming transaction error `SyntaxError: Unexpected token '<', "<!DOCTYPE "... is not valid JSON`"
### Describe the bug

**Problem**: when I've loaded a MM wallet and landed into the Home page, I've got the following error message on the background console.

`SyntaxError: Unexpected token '<', "<!DOCTYPE "... is not valid JSON incoming-transactions.js:204`

![image](https://user-images.githubusercontent.com/54408225/201311345-f09ad0fe-9203-4a54-b29d-84868f9714c0.png)

### Steps to reproduce

[n

[2022-11-11 12:40] RV12R commented on #16421
Issue is solved now Thanks for the update

[2022-11-11 12:40] #16421 closed

[2022-11-11 12:59] seaona commented on #16357
@bschorchit I see this issue fixed. However, I have a question related to the new behaviour.

Previously, when we call the Approve function from the Dapp, we used to grab the values for sender and amount, as per:
`approve(spender, amount)`
I see that now it's not the case anymore, and we always fill the amount from MM (being the default value 0). Is this the expected behaviour? Thanks!!

See examp

[2022-11-11 14:31] bschorchit commented on #16444
Actually, small change on copy (just changing the word `feature` to `confirmation`):

cc: @adnansahovic

[2022-11-11 15:18] seaona commented on #16357
make sense, thank you @bschorchit I close this issue!

[2022-11-11 15:18] #16357 closed

[2022-11-11 16:25] seaona opened #16467 "[Bug]: Cannot Add a Network with same chainId programmatically from a Dapp"
### Describe the bug

**Problem**: when I add a network with the same ChainId (i.e. flashbots) from a Dapp, I cannot do it, whereas it is possible to do from the MetaMask UI.
I see the error `MetaMask - RPC Error: May not specify default MetaMask chain. appears.`

https://user-images.githubusercontent.com/54408225/201384748-1381abcd-f96f-42c4-a77d-78a01db3d94d.mp4

### Steps to reproduce

1. Clone

[2022-11-11 16:28] seaona commented on #16418
QAd, issue is fixed now

[2022-11-11 16:28] #16418 closed

[2022-11-11 17:07] sl1taz opened #16468 "[Bug]: Binance testnet can't load"
### Describe the bug

Since yesterday I can't use the binance testnet in metamask.
I've tested it on several different computers, several different internets and I get the same error.
I haven't found anything on the internet about it either.

<img width="362" alt="Screen Shot 2022-11-11 at 2 04 38 PM" src="https://user-images.githubusercontent.com/20157967/201392245-e36eb88d-50c1-4dd5-b81a-551bf71

[2022-11-11 18:00] bowensanders opened #16469 "[FLASK] Create snap and e2e test for cronjobs"
See also: https://github.com/MetaMask/test-snaps/issues/86

[2022-11-11 18:02] bowensanders opened #16470 "[FLASK] Create tx-insights snap and e2e test"
See also https://github.com/MetaMask/test-snaps/issues/85

[2022-11-11 18:03] bowensanders opened #16471 "[FLASK] Create e2e test for snap with `eth_accounts` and other permissions"
We should create an e2e test for a snap with `eth_accounts` and other permissions in its manifest.

[2022-11-11 20:30] amonsosanz commented on #12288
I'm experiencing this issue with the [ERC-20 contract of eXRD](https://etherscan.io/address/0x6468e79A80C0eaB0F9A2B574c8d5bC374Af59414) and apparently, the symbol method is working.

I can read it from Etherscan:

<img width="300px" src="https://user-images.githubusercontent.com/15896177/201426058-081f602d-848c-407e-9e73-083cd77910e3.png" />

[2022-11-11 22:28] rekmarks opened #16472 "Forbid unnamed derivation paths for snaps in stable"
Snaps can request arbitrary derivation paths via their key management permissions. We have human-readable names for some derivation paths via [`@metamask/slip44`](https://github.com/metamask/slip44), but since there are infinite derivation paths, we are going to lack names for most of them. If we don't have a legible name for a derivation path, the user cannot understand the authority granted by t

[2022-11-13 01:59] #2852 closed

[2022-11-13 02:02] brad-decker commented on #13052
I'm not sure I understand your question. If you have a question regarding MetaMetrics, I'd recommend opening up a support ticket to ask for details. We do not expose MetaMetrics for dapp developers, as its only for internal use.

[2022-11-13 02:03] #13052 closed

[2022-11-13 20:48] egvandell commented on #14963
Still seeing this issue as well

[2022-11-13 20:51] egvandell commented on #14963
Still seeing this issue as well.  I did some additional testing and noted that if you run a test with a view function instead of a payable function, the error is not generated.

[2022-11-13 20:53] egvandell commented on #14963
It may be obvious, but since I didn't see it mentioned in the thread I thought worth mentioning....that I did some additional testing and noted that if you run a test with a view function instead of a payable function, the error is not generated in the node output, and it operates as expected in this case.

[2022-11-14 08:34] VSaric commented on #16408
Maybe this is related with this ticket: https://github.com/MetaMask/metamask-extension/issues/13087. We have [open PR](https://github.com/MetaMask/metamask-extension/pull/14634) for this and it only needs one more approve for merging this into develop.

cc: @kevinghim @bschorchit

[2022-11-14 09:33] ElvirCe commented on #16428
@bschorchit Please ignore my previous comment as the ticket #16234 did not cover this flow. We will prepare the ticket and work on it based on the prioritization list.

[2022-11-14 10:44] seaona opened #16477 "[Bug]: Cannot perform a Swap with STX. TypeError: Cannot read properties of undefined (reading `findIndex`)"
### Describe the bug

**Problem**: I cannot perform a Swap with Smart Transaction on **Goerli**, and I get the console error `TypeError: Cannot read properties of undefined (reading 'findIndex')` when `signAndSendSwapsSmartTransaction` is called.

https://user-images.githubusercontent.com/54408225/201640112-728da1eb-bb9e-42c1-b651-b6e8e6aa97a4.mp4

This then causes [this behaviour.](https://github

[2022-11-14 10:55] seaona opened #16478 "[Bug]: SuggestedGasFees return a 500 response for Sepolia network"
### Describe the bug

**Problem**: gas api is returning a 500 error for `suggestedGasFees` for Sepolia network.

https://user-images.githubusercontent.com/54408225/201642715-4f58138f-9537-49b4-9a2f-aaaf804d2dfa.mp4

### Steps to reproduce

1. Unlock MM
2. Change network to Sepolia
3. Check background network requests

### Error messages or log output

_No response_

### Version

10.22.0

### Build

[2022-11-14 11:23] seaona opened #16479 "[Bug]: Cannot perform a Send on Sepolia network. MM stays loading indefinitely"
### Describe the bug

**Problem**: I cannot perform a Send on Sepolia network. MM stays loading. If I refresh the browser, I see that tx stays stuck on a  Pending state.

https://user-images.githubusercontent.com/54408225/201647673-fe2ae450-b191-4f70-ada0-2966c4e63023.mp4

### Steps to reproduce

1. Unlock MM
2. Change to Sepolia network
3. Click Send
4. Add recipient and input amounts
5. Confirm

[2022-11-14 12:48] bschorchit commented on #16429
@seaona for awareness, I caught this while testing

[2022-11-14 13:03] bschorchit commented on #14925
We might want to review and merge this PR https://github.com/MetaMask/metamask-extension/pull/14203 before removing the feature flag

[2022-11-14 14:21] seaona opened #16484 "[Bug]: Firefox seems broken when loaded in the browser. Importing a Wallet on Firefox causes error `this.state is null`"
### Describe the bug

**Problem**: loading MM on Firefox throws `TypeError: Network Error` on the console.

When I use the Import Wallet onboarding flow, and I introduce the seed-phrase I stay in the same seed-phrase page after clicking Submit several times. If I then refresh the browser, I land into the next screen, with the console error `Uncaught TypeError: this.state is null` on the `import-se

[2022-11-14 17:14] mcmire opened #16487 "Migrate to controller packages"
Now that `controllers` is a monorepo, all of the controllers therein have been split up into individual packages. We need to start using those packages going forward instead of `@metamask/controllers`.

[2022-11-14 17:18] #15986 closed

[2022-11-14 17:18] #15802 closed

[2022-11-14 17:41] adonesky1 commented on #16349
@seaona ok I am now able to reproduce this on top of https://github.com/MetaMask/metamask-extension/pull/15558

[2022-11-14 17:59] rekmarks commented on #15194
@bowensanders please reproduce.

[2022-11-14 18:33] seaona commented on #16479
Relates to https://github.com/MetaMask/metamask-extension/issues/16477

[2022-11-14 19:28] #15697 closed

[2022-11-14 20:25] bschorchit commented on #16468
Hey @sl1taz, this looks like an issue with the `rpc url` of the network you're trying to use. MetaMask is trying to connect to it, but it's not responding. You can go to `Settings` > `Network` > `Smart Chain Testnet` and change the `rpc url` for a new one.

[2022-11-14 20:29] bschorchit commented on #16467
We might one to address this https://github.com/MetaMask/metamask-extension/issues/15909 before.

[2022-11-14 21:06] bschorchit commented on #12154
Closing as this doesn't seem to apply anymore

[2022-11-14 21:06] #12154 closed

[2022-11-14 21:36] georgewrmarshall opened #16491 "Fix: Box component broken responsive props for border radius"
### Description
The responsive props for the `borderRadius` prop aren't working (and may have never worked mb! 🤦 ). The classNames are added correctly in the html but it seems the sass isn't properly generated. It might be worth adding border radius to `ui/css/design-system/attributes.scss` something like:

[code]

## Screencast

Story below has responsive props for borderRadius on all boxes. The

[2022-11-14 21:39] kevinghim commented on #15884
A question came up how to display the ToU during onboarding. We should use the modal to display the entire Terms of Use before we provide the user options to Import, Sync, or Create a new wallet.

If they accept the Terms, the user can proceed to choosing one of the three options. Then, during normal usage, we won't display the accepting the terms again.

[2022-11-14 21:40] #16145 closed

[2022-11-14 22:56] kevinghim opened #16494 "Update copy - NFT autodetection toggle"
![Screen Shot 2022-11-14 at 5 58 04 PM](https://user-images.githubusercontent.com/6951929/201785552-f260ccd4-c2f4-4fcf-b48a-38cab23bf30b.png)

Problem: the autodetection toggle doesn't mention anything about the NFT scams phishing risks if you opt into it.

Solution: Update copy to reflect the risk.

- Anyone can airdrop NFTs to your account including offensive content, and some of these may get a

[2022-11-14 23:19] kevinghim opened #16496 "Add support for Aurora Mainnet, Celo and Arbitrum in the token detection feature"
### **Description**
We need to add support for Aurora Mainnet in the token detection feature. These changes are required on the controller level. This ticket has been created on [mobile](https://github.com/MetaMask/metamask-mobile/issues/5037), but needs to be supported on extension as well, especially the Aurora one as we have a contract signed with them.

### **Technical Details**
- Update `util

[2022-11-15 01:10] 1c4m3by opened #16499 "[Bug]: warning of a deceptive site ahead inside MM window/iframe"
### Describe the bug

<img width="104" alt="image" src="https://user-images.githubusercontent.com/103007456/201801708-7ee8b599-cf60-476a-96f2-e4af7ed4f10f.png">

### Steps to reproduce

1.to reproduce
it will require to be connected to a site which is blocklisted by metamask and then try hit **connected sites**

browser: Brave

MetaMask Version
10.21.2

### Error messages or log output

_No respon

[2022-11-15 04:18] georgewrmarshall commented on #16185
Closed by https://github.com/MetaMask/metamask-extension/pull/16457

[2022-11-15 04:18] #16185 closed

[2022-11-15 08:30] VSaric commented on #16066
Maybe this bug is fixed with [this PR](https://github.com/MetaMask/metamask-extension/pull/16018)? I tested locally on popup and full view, scrolling to the bottom **does** enable the Sign button. Can you @bschorchit please try to reproduce this issue and let me know if it is working on `develop` now? Also I will appreciate if @seaona QAd this also. I also saw this comment here https://github.com/

[2022-11-15 10:28] sbuljac opened #16501 "[Bug]: No conneted/Not connected button when on IPFS"
### Describe the bug

When I load any dapp over IPFS, Metamask is not showing connected/not connected button, so user is not  able to switch accounts.

### Steps to reproduce

1. Use brave with IPFS companion plugin
2. Go to ipns://app.aave.com/
3. Connect the wallet on website
4. After you current account is connected try switching to another account
5. You can log out on Aave app but next time y

[2022-11-15 12:43] seaona commented on #16429
@bschorchit nice catch! I could repro following the steps.
I have another question related to that. Is it okay to assume that the Spender address is always a contract? See the text `Contract requesting spending cap`.
I.e. below I am approving permissions to one of my addresses `0x07Be9763a718C0539017E2Ab6fC42853b4aEeb6B`, which is not a contract address.

![image](https://user-images.githubusercon

[2022-11-15 15:43] Flores002 commented on #16501
Have you try to reauthentic your wallet first

[2022-11-15 15:44] Flores002 commented on #16479
Try to reauthentic your wallet by connecting to dapps

[2022-11-15 16:21] georgewrmarshall opened #16507 "🧹 [UI House Keeping] ButtonLink"
### Description
Ensure that `ButtonLink` adheres to all of the following conventions and standards

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.js`

[2022-11-15 16:25] adonesky1 commented on #16315
https://user-images.githubusercontent.com/34557516/201972584-6488a82f-57be-4cf6-be02-6554631e4e66.mov

[2022-11-15 16:42] adonesky1 commented on #15894
@danjm @kumavis why did we decide we want to do this? Ultimately we want to replace all of these with BigInt correct? Is this an intermediate step?

[2022-11-15 16:49] #15100 closed

[2022-11-15 17:48] kevinghim opened #16512 "Reposition beta lockup from top right to bottom right"
## Background
We have a request from the Marketing branding team to reposition the beta lockup from top right to bottom right to distinguish it from the Flask brand. For context, here's the [thread](https://consensys.slack.com/archives/GETEW1V4M/p1667917451481379) about this. After a conversation with the brand marketing team, the `beta` color will remain the same blue, but the positioning will ch

[2022-11-15 17:51] adonesky1 opened #16513 "Investigation: examine if we can remove/replace/update ethereumjs-wallet in `@metamask/eth-hd-keyring` and `@metamask/eth-simple-keyring`"
**Investigation**: examine if we can remove/replace/update ethereumjs-wallet in `@metamask/eth-hd-keyring` and `@metamask/eth-simple-keyring` `smart-transactions-controller` and `@metamask/controllers` `@metamask/snap-controller` and `@metamask/metamask-extension` (direct-dep)

Currently direct dep in the extension is v0.6.5 while the rest are 1.0.1 so at the very least lets de-dedupe it.

[2022-11-15 18:22] coreyjanssen commented on #16494
@kevinghim what do you think about this? it's a lot of info, so i think bullet points might help make it a bit more comprehensible to users!

We use third-party APIs to detect NFTs in your wallet, which means your IP address may be exposed to centralized servers. There are a few things to be cautious about when enabling this feature.
- Your account address will be viewable to third-party APIs.
- N

[2022-11-15 18:30] #13400 closed

[2022-11-15 19:17] #16444 closed

[2022-11-16 00:51] georgewrmarshall commented on #15093
No longer needed

[2022-11-16 00:51] #15093 closed

[2022-11-16 02:55] taokayan commented on #15560
Any updates on this bug? I am having the same issue when trying to set metamask to connect my local RPC node (written in C++). I got the error "Error: Unknown Infura provider type "http://192.168.56.101:8545/", But i'm sure my local node has nothing to do with Infura. From my local node's log, metamask sent a eth_chainId request but after that it shows this error.

[2022-11-16 03:21] rekmarks opened #16521 "Implement renderer for Snaps Custom UI"
See: https://github.com/MetaMask/snaps-monorepo/issues/934

The Snaps Custom UI feature needs a renderer. It will take some JSON representation of a "custom UI DSL" (see https://github.com/MetaMask/snaps-monorepo/issues/966) and render it according to a set of rules.

We should either use the existing template renderer or provide a good justification for not doing so here in this issue.

[2022-11-16 03:24] rekmarks opened #16522 "Use Snaps Custom UI renderer to render dialogs with custom UI"
Ref: #16521

`snap_dialog` confirmations submitted with custom UI should be rendered in the extension.

[2022-11-16 05:08] rekmarks commented on #16463
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Snaps-Platform-615b3a7c08d2b20015eb6c4e/issues/MetaMask/metamask-extension/16463?planning-poker) with Zenhub @eriknson

[2022-11-16 05:08] rekmarks commented on #16462
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Snaps-Platform-615b3a7c08d2b20015eb6c4e/issues/MetaMask/metamask-extension/16462?planning-poker) with Zenhub @eriknson

[2022-11-16 05:09] rekmarks commented on #16460
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Snaps-Platform-615b3a7c08d2b20015eb6c4e/issues/MetaMask/metamask-extension/16460?planning-poker) with Zenhub @eriknson

[2022-11-16 11:06] FrederikBolding opened #16523 "Use Snaps Custom UI renderer to render transaction insights with custom UI"
Ref: #16521

Transaction insights returning custom UI should be rendered in the extension.

[2022-11-16 11:48] web3-person opened #16524 "[Bug]: OSX Firefox Big Memory Leak"
### Describe the bug

Without the MetaMask extension enabled, Firefox uses a nominal amount of ram.
However as soon as I enable the MetaMask extension, Firefox starts slowly chewing up ram until it’s consumed all of it, and CPU usage goes towards 100% (see screenshots).
It takes about 15 minutes to claw up to use my full systems ram capacity (8gb).

I noticed about a month ago the Firefox far more

[2022-11-16 13:44] bschorchit commented on #16281
We should include language in [ISO 639-2 code](https://www.loc.gov/standards/iso639-2/php/code_list.php) in the data we share. [Slack thread](https://consensys.slack.com/archives/C045N7HFUUS/p1668032750232779?thread_ts=1668028651.101979&cid=C045N7HFUUS) cc: @filipsekulic

[2022-11-16 14:03] #16477 closed

[2022-11-16 14:44] bschorchit commented on #16524
Related to https://github.com/MetaMask/metamask-extension/issues/16421 and https://github.com/MetaMask/metamask-extension/issues/16372

[2022-11-16 14:57] #16315 closed

[2022-11-16 15:46] #16403 closed

[2022-11-16 15:50] sl1taz commented on #16468
@bschorchit Thank you for the advice. But somehow, after 3 days, it started working normally again.

[2022-11-16 15:50] #16468 closed

[2022-11-16 17:07] brad-decker commented on #11337
The issue was closed in #12034

[2022-11-16 17:08] brad-decker commented on #11337
The portion of this that includes updating test copy was done in #12034

[2022-11-16 18:28] danjm commented on #15303
This has been fixed on develop
![Screenshot from 2022-11-16 14-58-07](https://user-images.githubusercontent.com/7499938/202263066-8a405faa-ba15-4959-b7f4-acc823cfb87a.png)

[2022-11-16 18:36] bowensanders opened #16532 "[FLASK] Update e2e tests for new React version of test-snaps"
See PR #16324

[2022-11-16 19:20] adonesky1 opened #16533 "Investigation: `bn.js` vs `bignumber.js` vs `bigInt`"
Currently we have many versions of `bn.js` and a few of `bignumber.js`. We need to investigate the following:

1. Can these packages be used interchangeably?
2. If so, which one should we use?
3. Can we eventually migrate use to `bigInt`? Or do we rely on functionality not available with `bigInt`

[2022-11-16 19:23] adonesky1 opened #16534 "ethereumjs-util > @ethereumjs/util"
We have 3 different major versions of ethereumjs-util and many minor versions. We want to upgrade all of them to `@ethereumsj/util` across our dependency tree.

Spreadsheet: https://docs.google.com/spreadsheets/d/1gmq0CqNAwlSXRldSF7f7giheipYka_lVjEK6IaE9M8c/edit?pli=1#gid=1963232226

[2022-11-16 19:42] adonesky1 opened #16536 "Remove lodash Submodules"
Invesigate which (if any) of these submodules can be removed and replaced with the umbrella lodash package:

![Screen Shot 2022-11-16 at 1.39.46 PM.png](https://images.zenhubusercontent.com/612fcbe9f230e926789a2b4a/2c0c0d08-52e8-4ee4-9052-163f78fe2389)

[2022-11-16 19:49] adonesky1 opened #16537 "Investigate replace lodash with local implementations"

[2022-11-16 19:56] jpuri commented on #16484
The issue appears to be caused in FF while sending backend updated to UI:

<img width="1213" alt="Screenshot 2022-11-16 at 11 55 25 PM" src="https://user-images.githubusercontent.com/2182307/202281161-75fde71d-db6c-4545-b477-d22904d7846d.png">

Breaking behaviour seems to have started since this commit: https://github.com/MetaMask/metamask-extension/commit/f3efe5a0bd4ff1bfaf46cb3a82f521a9881d4f01

[2022-11-16 19:59] adonesky1 opened #16538 "Replace all remaining instances of Web3 with ethers submodules"
We directly control all remaining instances. Let knock them out:
![Screen Shot 2022-11-16 at 1.58.42 PM.png](https://images.zenhubusercontent.com/612fcbe9f230e926789a2b4a/165a8c43-0883-4259-b2f8-fb9b0fa8d1b7)

[2022-11-16 20:00] adonesky1 commented on #14930
replaced by https://github.com/MetaMask/metamask-extension/issues/16538

[2022-11-16 20:00] #14930 closed

[2022-11-16 20:08] adonesky1 commented on #15894
closing in favor of https://github.com/MetaMask/metamask-extension/issues/16533

[2022-11-16 20:08] #15894 closed

[2022-11-16 20:24] adonesky1 opened #16540 "Investigate whether we can remove `eth-lattice-keyring > gridplus-sdk > eth-eip712-util-browser`"

[2022-11-16 20:27] adonesky1 opened #16541 "Investigate whether we can remove `eth-lattice-keyring > gridplus-sdk > eth-eip712-util-browser`"
size: 84kb

[2022-11-16 20:33] adonesky1 opened #16542 "Get `eth-lattice-keyring` / Gridplus team to update `@ethereumjs/tx` & `@ethereumjs/common` to latest or atleast add `^` to enable dedupe"
Ultimately we want to make sure that the subdependency `@etherumjs/util` is updated to `v8.0.0` or higher.

[2022-11-16 21:17] clupss commented on #14463
Still not fixed.

[2022-11-16 21:48] bowensanders commented on #16532
This is closed by https://github.com/MetaMask/metamask-extension/pull/16324

[2022-11-16 21:48] #16532 closed

[2022-11-16 21:52] kevinghim opened #16544 "Create live-updating reactive theme for dark mode"
### Describe the bug

## Background
When looking into #15870 I noticed that on Chrome, for the system settings to take affect, I have to close the extension and reopen it. In other words, if the extension is on the open state, the system preference isn't set dynamically. View the video attached to that PR. For the theme change to take affect, the user needs to close and reopen the extension to cor

[2022-11-16 22:15] #16440 closed

[2022-11-16 23:21] bowensanders opened #16545 "[FLASK] Fix update e2e test to catch snaps with caveats"
This fix to the update snap E2E test changes the invoked snap from confirm to bip32 - this is to combat missing errors updating snaps with caveats.

[2022-11-17 04:12] HowardBraham commented on #13793
Duplicate of #13318

[2022-11-17 04:12] HowardBraham commented on #14984
Duplicate of https://github.com/MetaMask/metamask-extension/issues/13318

[2022-11-17 04:13] HowardBraham commented on #15237
Duplicate of https://github.com/MetaMask/metamask-extension/issues/13318

[2022-11-17 08:20] digiwand opened #16551 "[Bug]: [MV3] Loading a detected phishing page for the first time does not show the phishing page warning"
@seaona observed refreshing the extension from `chrome://extensions` and then opening a URL detected as a phishing page will not show the phishing warning page.

Looking into this, it appears that the blocklist may not finish loading when the user first lands on a detected phishing page.

Observe breakpoint hit when list has not finished loading (`eth-phishing-detect/src/detector`):
![Screen Shot

[2022-11-17 09:22] FrederikBolding opened #16553 "[FLASK] Crash on viewing notification from uninstalled snap"
If you try to view the notification screen while having a pending notification from an uninstalled snap the extension crashes.

[2022-11-17 09:25] seaona commented on #16444
Ty for tagging @bschorchit !! I cherry-picked this commit to the RC branch

[2022-11-17 09:51] seaona commented on #15922
I close this issue as it's fixed by the PR mentioned above

[2022-11-17 09:51] #15922 closed

[2022-11-17 09:54] seaona opened #16554 "[Bug]: [MV3] Terminating the service worker and opening the popup breaks MM"
### Describe the bug

**Problem**: after terminating the service worker, if I try to use the MM popup again, it stays loading indefinitely and I see the errors
- `Attempting to use a disconnected port object`
- `PortDuplexStream - disconnected`

https://user-images.githubusercontent.com/54408225/202414029-95d54694-e625-4a51-b8ff-015b729f8f93.mp4

### Steps to reproduce

1. Unlock MM
2. Open MM pop

[2022-11-17 10:20] SvenMeyer commented on #15876
An additional problem is, that a network can not be edited and saved if it has the same ChainID like an existing network.
- create network with a ChainID which already exists
- edit network (like add/update Blockexplorer URL)
- network can not be saved ("save" button is disabled)

[2022-11-17 10:55] mrcesc0 commented on #10671
Is there any news on "eth_requestAccounts"? Why should I install another library only to get the the correct address? :(

[2022-11-17 11:04] yairans-starkware commented on #11280
Hi, any update on this issue?

[2022-11-17 11:46] seaona commented on #16066
I confirm this behaviour is fixed now on develop @VSaric. I think we can close this issue @bschorchit

[2022-11-17 11:46] jpuri commented on #16484
I spent much time on this issue again, but it looks weird. I am wondering if its really an issue or just some browser cache issue in development mode as e2e are also passing.

[2022-11-17 13:03] bschorchit commented on #16429
Added a recording for this:

https://user-images.githubusercontent.com/34968356/202453560-cc832002-ed53-4137-8933-df808a655a54.mov

[2022-11-17 14:12] #16428 closed

[2022-11-17 14:13] #16257 closed

[2022-11-17 14:22] AndyOooh commented on #14963
Same issue here. Also, unable to debug. Resolved to the fallback/receive work around.

[2022-11-17 15:22] #15987 closed

[2022-11-17 15:22] #16448 closed

[2022-11-17 16:47] Akatori-Design commented on #15096
In design, this has been renamed to "Pop Over" to distinguish from selector dropdown menus.

[2022-11-17 16:50] Akatori-Design commented on #15097
Design is ready for this.
https://www.figma.com/file/HKpPKij9V3TpsyMV1TpV7C/DS-Components?node-id=9917%3A36917&t=KVGndWCDUbCoktKO-4

Name is "Header Menu" to be more specific.
cc: @georgewrmarshall

[2022-11-17 16:55] Akatori-Design commented on #15431
I updated the Figma link since the old one was just a link to the cover page.
In design, Sheet Header is not a stand-alone component but a supporting child component (aka _base component), so linked to related the section in the Sheet guideline

[2022-11-17 18:45] adonesky1 opened #16558 "Update `@ethereumjs/common` to `v3.0.1` or higher"
Update in the following packages:

- [ ] "@metamask/controllers/@ethereumjs/common"

- [ ] "@metamask/smart-transactions-controller/@metamask/controllers/@ethereumjs/common"
- [ ] "@ethereumjs/tx/@ethereumjs/common"
- [ ] "@metamask/rpc-methods/@metamask/controllers/@ethereumjs/common"

- [ ]  "@metamask/snap-controllers/@metamask/controllers/@ethereumjs/common"

This will remove 647kb of `genesis

[2022-11-17 18:50] adonesky1 opened #16560 "Remove `ethereumjs/common` genesisStates files"
647kb to remove

Make sure we don't use these or use anything from this package that relies on these JSON files:
https://github.com/ethereumjs/ethereumjs-monorepo/tree/master/packages/blockchain/src/genesisStates

Possibly wrap @ethereumjs/common and remove these files and force resolve to the wrapper

[2022-11-17 18:52] adonesky1 opened #16561 "Investigate potential removal of `@spruceid/siwe-parser` > `apg-js`"
127 kb

[2022-11-17 18:56] adonesky1 opened #16562 "Investigate whether `babel-runtime` should be a dep (and included in the bundle)"
Currently `babel-runtime` is a direct dep of several controllers in `@metamask/controllers`

lets figure out whether this is a mistake and it can be made a devDep and removed from the bundle.

[2022-11-17 18:57] adonesky1 commented on #16538
`web3` pulls in a package called `crypto-js` which we shouldn't need. This will be removed by removing `web3`

[2022-11-17 19:00] adonesky1 opened #16563 "Investigate whether `browserify` (and all the related packages) should be in the bundle"

[2022-11-17 19:05] adonesky1 opened #16565 "Replace `@eth-optimism/contracts` package with local instantiation of gas price oracle contract."
Previous discussion with optimism team led to this now closed PR: https://github.com/ethereum-optimism/optimism/pull/3514

Ask them to complete work on that.

Plus modify entry point to allow us to use package without the unneeded `contracts` (289 kb)

[2022-11-17 19:10] adonesky1 opened #16567 "Replace use of `@ethersproject/abi` (decode method) with internal version from `@metamask/abi-utils`"
This can be replaced:https://github.com/MetaMask/controllers/blob/main/packages/assets-controllers/src/Standards/ERC20Standard.ts#L64

with this:
https://github.com/MetaMask/abi-utils#decoding-values

[2022-11-17 19:11] adonesky1 opened #16568 "Investigate whether `ethjs` and subpackages can be replaced with `@ethereumjs/*` packages"
If so lets create an Epic to track the replacement process

[2022-11-17 19:15] adonesky1 opened #16569 "Investigate replacing `idna-uts46-hx` in `eth-ens-namehash`"
Can we get `toUnicode` without this bulky package (150kb)
https://github.com/Arachnid/eth-ens-namehash/blob/master/index.js#L26

[2022-11-17 20:42] georgewrmarshall commented on #15096
@Akatori-Design Have updated ticket to "Popover" as per Figma file

[2022-11-17 20:52] georgewrmarshall commented on #15097
Thanks @Akatori-Design I've updated to "HeaderMenu" and updated Figma file link 🙏

[2022-11-17 21:34] georgewrmarshall commented on #15430
Yes, I think these tickets were created before we decided to unify the components I'll create a ticket for the Cell component

[2022-11-17 22:46] Gudahtt opened #16572 "Migrate network configuration to network controller"
The network configuration is currently stored in the PreferencesController. We should migrate it to the NetworkController instead. The network controller is a more sensible place for managing network config, and this will make multi-network support easier to manage (it needs to know which networks exist in config to manage active network connections).

[2022-11-17 22:50] Gudahtt opened #16573 "Move subscription/filter middleware into network client"
Our middleware for handling subscription and filter-related methods (`eth-json-rpc-filters`) currently lives in our RPC pipeline _ahead_ of the network stack. This is network middleware, it belongs in the network client with the rest of the network middleware.

[2022-11-17 22:52] Gudahtt opened #16574 "Migrate signing middleware out of network client"
Currently our middleware responsible for signing is part of the network client. Yet it has nothing to do with the network. We route signing RPC methods into the network stack and then back out again.

We should instead move this middleware ahead in the RPC pipeline, out of the network stack.

[2022-11-17 22:55] sbuljac commented on #16501
Yes, I tried everything, I can connect with first account but I can switch to any other account.

[2022-11-17 23:18] kevinghim commented on #16408
@VSaric thanks. Closing this ticket in favor of https://github.com/MetaMask/metamask-extension/issues/13087

[2022-11-17 23:18] #16408 closed

[2022-11-18 01:35] georgewrmarshall commented on #16190
Link to the Box seems to be broken on github pages. Might need checking

<img width="1438" alt="Screen Shot 2022-11-17 at 7 34 26 PM" src="https://user-images.githubusercontent.com/8112138/202596380-ee50c14f-da23-4abc-97c9-39832f4f7211.png">

[2022-11-18 05:43] ibettokens commented on #3392
I had only used my seeds in ganache. and my funds got hacked. I feel ganache is being somehow exploited.

[2022-11-18 07:16] DrGreeny commented on #14963
For me this error was due to a wrong chainId in Metamask. I had some problems with Id: 1337 and used 31337. Metamask was on 1337 still, so after I changed this it worked (also did a reset). Maybe you could check your chainId settings in hardhat and Metamask.

[2022-11-18 09:29] mikesposito opened #16580 "Update `@metamask/controllers` > `eth-json-rpc-infura` to latest"
This is needed for the `ethereumjs-util` update effort

[2022-11-18 09:34] mikesposito commented on #16540
Duplicate of https://github.com/MetaMask/metamask-extension/issues/16541

[2022-11-18 09:34] #16540 closed

[2022-11-18 09:59] mikesposito opened #16581 "Investigate whether to remove `ethereumjs-abi` in favor of `@metamask/abi-utils`"
The `ethereumjs-abi` includes `ethereumjs-util` in dependencies. We should see if we can substitute it with our own package `@metamask/abi-utils` across the dep tree

![Schermata 2022-11-18 alle 10.58.44.png](https://images.zenhubusercontent.com/631efe4c85d95ad5cc38a75b/ed5a7657-2b2b-44bf-8103-1fe052926d73)

[2022-11-18 10:26] sonnh58 commented on #14187
Hi, same issue when decimal 0 in `10.21.2`

[2022-11-18 12:18] ElvirCe commented on #16443
Acceptance Criteria:

- Add new warning message: "Only sign this message if you fully understand the content and trust the requesting site."
- The message should be added right below the title "Signature Request"
- Use the Figma design like [this](https://www.figma.com/file/U2Ojf3cJP4PvIYRiRfUya0/Improve-Signatures-(v1)?node-id=2722%3A3508)

[2022-11-18 15:30] FrederikBolding commented on #16565
I don't have the complete context for this, but since we only require the address and the ABI, both of which I assume to be unlikely to change - do we even need a module?`

Proposed basic implementation with no dependencies:
[code]

[2022-11-18 15:32] bschorchit opened #16587 "Replace contract with a different word that applies for both EOAs and contracts"
## Background
Token allowances can be granted to any address (contracts and accounts (EOAs)) and we don't have an accurate method to identifying wether an address is a contract or EOA, so we should refer to those address using a more general world that applies to both cases. Right now we are always calling it contracts even if the spender is actually an EOA.
This applies for mobile as well.

## Br

[2022-11-18 16:07] bschorchit opened #16588 "Add Celo to the popular network feature"
### Background
Celo should be included in MetaMask's popular network list. [Slack thread](https://consensys.slack.com/archives/GV90KPED9/p1668610116178929)

### Resources
[Figma file for the add popular network feature](https://www.figma.com/file/wfOwLmE52OKY0bSrsQwHPL/Add-popular-custom-network?node-id=1697%3A17290)

Network info:
- chain ID: 42220
- rpc url: https://celo-mainnet.infura.io/v3/<AP

[2022-11-18 16:58] #16046 closed

[2022-11-18 18:39] NiranjanaBinoy commented on #16057
#16535 fixing the root cause of this issue, but for the users who already have SNX tokens without balance in their state as detectedTokens we will not be able to remove it. So this PR makes sure this issue does not happen to any future users, but for those who already have this 0 balance SNX token as their detected token, it stays.

[2022-11-18 21:43] #16491 closed

[2022-11-18 22:56] 0xhashmap commented on #13375
Has anyone found a solution/workaround for this issue?

[2022-11-19 00:25] FrederikBolding commented on #15674
After chatting with our friends at Truffle we have decided that this can be fixed by checking the `kind` of the decoder result. If the kind is not `function` we should show an error explaining that decoding has failed.

@bschorchit

[2022-11-19 09:51] Toni-d-e-v opened #16593 "[Bug]: Cant send coins on the ethereum fork?"
### Describe the bug

I have made ethereum fork and my custom wallet works, metamask mobile works, but ethereum extension does not.
When I try to send coins it wont let me!
![image](https://i.stack.imgur.com/IzHTL.png)
My custom rpc: https://rpc.avescoin.io
My network uses smaller minimum gas ( 11k instead of 21k ) but other wallets work!

### Steps to reproduce

1. Go to https://avescan.io
2. Add

[2022-11-19 09:59] Toni-d-e-v commented on #16593
Wired thing is that erc20 tokens work and smart contract transactions :)

[2022-11-19 12:21] Rahimjackass commented on #10290
Hi all

Is there a solution to this issue? I'm having the same problem with my script.

Have to mention that my **ABI** is reached correctly, My **contract** has been deployed successfully and its **address** is correctly entered in my script. The only assumption I can make is that the Metamask extension cannot connect properly to the network that I have deployed my project on by running **"npx ha

[2022-11-19 22:51] thorstenhirsch commented on #895
So 6 years later... any updates on this issue?

[2022-11-19 22:56] danfinlay commented on #895
The short answer is today whisper cannot run on a browser alone, because it uses tcp/udp. If someone made a bridge protocol, or if we eventually had say a desktop copilot app, those could provide access to the whisper network, but currently neither has been done by us, but we have been looking at the desktop platform as a possibility for some capabilities like that.

[2022-11-20 19:15] deshvin opened #16596 "[Bug]: Unable to send token, MetaMask hangs – "Uncaught (in promise) Error: Unable to determine contract standard""
### Describe the bug

Trying to send UBX token (0xF5B5eFc906513b4344EbAbCF47A04901f99F09f3), after pressing the Send button MetaMask hangs with a loading icon.

### Steps to reproduce

1. Select UBX token from asset list
2. Select Send
3. Error occurs

### Error messages or log output

[code]

### Version

10.22.1, 10.22.2

### Build type

_No response_

### Browser

Chrome, Brave

### Operating s

[2022-11-21 10:57] seaona opened #16598 "[e2e] Custom RPC tests failures on MV3 build"
### Describe the bug

**Problem**: Custom RPC test are failing intermittently for mv3 build with the error:
`     ElementClickInterceptedError: element click intercepted: Element <div data-testid="network-display" class="network-display network-display--clickable chip chip--with-left-icon chip--with-right-icon chip--border-color-border-default chip--background-color-undefined chip--max-content" ro

[2022-11-21 11:37] MaikVogt opened #16601 "[Bug]: ERC20 token with decimals=0 lead to infinite loading when clicking on send"
### Describe the bug

When clicking on send of an ERC20 token that has decimals=0 there will be an infinite loading spinner.

I double checked this behavior by deploying two minimal ERC20 tokens that only differ in decimals

Decimals=0 fails
[Contract Address 0x177d4311Afc0a58D4A7Cdb62aB8Ec4Be3dBF11B2 | PolygonScan](https://mumbai.polygonscan.com/address/0x177d4311Afc0a58D4A7Cdb62aB8Ec4Be3dBF11B2)

[2022-11-21 12:48] bschorchit opened #16602 "Improve our phishing warning page"
## Background
The phishing warning page is the page users are displayed when they try to visit a malicious site that is on our phishing list. A new [design](https://www.figma.com/file/MKJnCnI8Xi2EVcRCNAHwOu/Improve-Phishing-Warning-Page?node-id=2%3A9&t=P2jLXBxUvqxA3A7d-0) for this page was created and a PR to implement it was started in phishing-warning repo (https://github.com/MetaMask/phishing-w

[2022-11-21 13:32] seaona opened #16604 "[e2e] Add Account flaky test on MV3 build"
### Describe the bug

**Problem**: on MV3 build, we have a flaky test on Add Account, which throws the following error

![image](https://user-images.githubusercontent.com/54408225/203067995-eeb032fc-7b90-4039-8c11-ee90eaa5b042.png)

### Steps to reproduce

1. Build the mv3 test environment `yarn build:test:mv3`
2. Run e2e flaky test `yarn test:e2e:single test/e2e/tests/add-account.spec.js --browse

[2022-11-21 13:59] segun commented on #16551
I've been testing this using this branch #15913 and I can't replicate the issue. I always get the phising screen after a refresh.

@seaona can you please check to see if this branch fixes the issue?

[2022-11-21 16:40] georgewrmarshall opened #16607 "Border radius SM is missing from Box component"
### Description
Previous update to the `borderRadius` prop missed the size `sm` I think it needs to be updated to the below

[code]

## Screenshots
<img width="1440" alt="Screen Shot 2022-11-21 at 8 38 09 AM" src="https://user-images.githubusercontent.com/8112138/203110798-f2891e22-a1a8-4777-bafd-15714a1bcbed.png">

[2022-11-21 17:04] bowensanders commented on #16471
This is currently on hold as per @FrederikBolding.

[2022-11-21 17:06] bowensanders commented on #15719
work is currently complete, waiting on snaps-monorepo 0.24.1 to be merged to develop.

[2022-11-21 17:13] mikesposito opened #16608 "Update `eth-json-rpc-filters` > `eth-json-rpc-middleware` to `^9.0.0`"

[2022-11-21 17:16] bschorchit opened #16609 "Add unit test and story to new components"
## Background
https://github.com/MetaMask/metamask-extension/pull/16018#pullrequestreview-1174267059

[2022-11-21 17:19] #15912 closed

[2022-11-21 17:29] seaona opened #16610 "[e2e] Setup MV3 specific tests introducing Service Worker re-start"

[2022-11-21 18:49] mikesposito opened #16613 "Update `eth-json-rpc-filters` Node.js version to `>=14.0.0`"
The `eth-json-rpc-filters` package is still using Node.js v12.
This makes the update of dep`eth-json-rpc-middleware` to `^9` not possible, as it requires Node.js `>=14.0.0`

[2022-11-21 19:04] #16598 closed

[2022-11-21 19:22] brad-decker commented on #16524
The below is copy and pasted from #16372
---

### Describe the bug

my RAM usage kept increasing when I went on Firefox (v. 106.0.4 (64 bits) on Windows).

![image](https://user-images.githubusercontent.com/28791624/199840359-8212cc9a-69e0-458e-9b45-8c0ec5617058.png)

I have only 3 tabs opened, https://support-mozilla, about-addons and github.

I desactivated all the extensions I had and the memor

[2022-11-21 19:22] brad-decker commented on #16372
Thanks for the report @pommepommee , we are going to track this issue on the other thread at #16524 -- i've copied your report over to that one.

[2022-11-21 19:22] #16372 closed

[2022-11-21 19:33] bschorchit commented on #16499
How should we best handle this, @MetaEZ and @holantonela ? Besides fixing the bug, do we want to flag/censor the malicious url somehow in the connected sites?

[2022-11-21 19:58] kevinghim opened #16614 "Update Chrome Beta Store with updated logo and copy"
## Background
The [Beta store page](https://chrome.google.com/webstore/detail/metamask-beta/pbbkamfgmaedccnfkmjcofcecjhfgldn) was created about a year ago, but hasn't been made public. It doesn't have any content, and is currently using an old logo which could cause confusion to users.
![Screenshot 2022-11-21 at 2.46.42 PM.png](https://images.zenhubusercontent.com/6036e42864c943d3331c1f27/96409ac7

[2022-11-21 20:07] kevinghim commented on #16614
@coreyjanssen I used the same copy on the Chrome beta store page as the first screen on the [beta onboarding flow](https://www.figma.com/file/qn0DJn2Mfw036gdt2aYuZB/MV3-Beta?node-id=3735%3A7545&t=OhivTnuB7THBOa6w-0). Would that be ok?

[2022-11-21 20:19] deshvin commented on #16596
Seems like this may be affecting all tokens with 0 decimals.

[2022-11-21 20:20] seaona opened #16615 "Metamaskbot uploaded links for Beta and Flask builds are broken"
### Describe the bug

**Problem**: If I try to download the Flask or Beta builds for Chrome/FF/Opera published by `metamaskbot,` I land into a "Not found" page.

![image](https://user-images.githubusercontent.com/54408225/203150439-e2db7802-2dcb-4362-8e5a-8b582101d482.png)

### Steps to reproduce

1. Open a PR with a metamaskbot build: [this one](https://github.com/MetaMask/metamask-extension/pull

[2022-11-21 21:41] MetaEZ commented on #16499
@bschorchit Hey, I do not understand the "do we want to flag/censor the malicious url somehow in the connected sites? "

The site is correctly flagged, the bug needs to be fixed as you can not really enter "connected sites" as the red warning fills up the window ( there is a workaround ) but its not relevant right now.

The block of the pages that contains malicious url should still continue on th

[2022-11-21 21:46] MetaEZ commented on #16499
https://user-images.githubusercontent.com/103007456/203164333-5c3f1747-e8ac-4c38-b16a-64424dd687e9.mov

@bschorchit

[2022-11-21 21:52] bschorchit commented on #16499
oh sorry, yes, I should have expressed myself better. I meant, once the bug is fixed and the user is able to visualize the lists of sites again. Do we want to call out in the UI (screenshot) that that url that is listed there has been flagged as amalicious url (e.g. have a warning under the url, replace the logo for a red warning sign) or should we list it normally just like any other url?

<img w

[2022-11-21 22:24] bschorchit opened #16617 "Remove Confirm and Cancel events"
## Background
We should remove the `Confirm` and `Cancel` events mentioned [here](https://github.com/MetaMask/metamask-extension/pull/16225#discussion_r1019123767) as they are legacy events that are not used anymore.

## Acceptance Criteria
1. `Confirm` and `Cancel` events are not triggered anymore when signing eth_sign requests

[2022-11-22 04:22] georgewrmarshall opened #16618 "🧹 [UI House Keeping] TextFieldSearch"
### Description
Ensure that `TextFieldSearch` adheres to all of the following conventions and standards

- [x] Has a `className` prop and the PropType descriptions are all the same
- [x] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [x] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-syste

[2022-11-22 04:27] georgewrmarshall opened #16619 "Fix PropType error in Tag tests"
### Description
Fix tag propType issue in unit tests

![Screen Shot 2022-11-21 at 8 26 30 PM](https://user-images.githubusercontent.com/8112138/203221438-8458ff0b-1c4c-4c1a-b008-3eef19a6bce0.png)

[2022-11-22 04:41] #16607 closed

[2022-11-22 06:01] georgewrmarshall opened #16620 "ButtonLink doesn't add `href` attribute to link html"
### Description
`ButtonLink` doesn't add an `href` to the link tag. It's being used to change the root html element in ButtonBase but isn't passed to the Box component

## Screenshots

<img width="1440" alt="Screen Shot 2022-11-21 at 9 59 42 PM" src="https://user-images.githubusercontent.com/8112138/203236776-81740707-9bcf-4929-812a-0c4a408f533e.png">
![Screen Shot 2022-11-21 at 10 00 04 PM](https

[2022-11-22 09:52] umaresso commented on #14592
i have the same issue

[2022-11-22 10:15] mhusnainee opened #16622 "ERC1155 Tokens Balance"
### Describe the bug

MetaMask shows zero (incorrect) balance of ERC1155 tokens.
While ERC1155 smart contract's function "balanceOf" shows the exact (correct) amount of balance.

### Steps to reproduce

1.Mint ERC1155 Tokens with a specific token id
2. Import tokens into the MetaMask
3. MetaMask shows zero balance, which is incorrect

### Error messages or log output

[code]

### Version

10.22.1

[2022-11-22 10:26] aksdevac commented on #9407
It seems this error is now gone so reload workaround might not be needed, only confirmed on Chrome beta 108.0 & dev 109.0. but anyone can confirm on current stable chrome.  not sure if this was a browser issue or extension.

[2022-11-22 11:26] seaona commented on #16057
@NiranjanaBinoy great work!! I've checked it and looks good for me. I close the issue

[2022-11-22 11:26] #16057 closed

[2022-11-22 11:29] AntonWeel commented on #7234
We have such a problem, how to get around it by introducing a delay of 100 ms. delay, you can give a suitable option.

[2022-11-22 13:12] bschorchit opened #16623 "✨ Make the new Token Allowance flow default to all users"
## Background
We have released the new token allowance flow under Settings > Experimental first https://github.com/MetaMask/metamask-extension/issues/15367. Once we're comfortable with its performance, we should make it the default experience for all users.

## Acceptance Criterias
1. The new token allowance flow is default for all users.
2. The `Improved token allowance experience` toggle in Sett

[2022-11-22 13:14] seaona opened #16624 "Upload MV3 builds automatically on the Releases pages from github"
**What**: need to upload automatically MV3 builds on the Assets section from the [Releases page](https://github.com/MetaMask/metamask-extension/releases).

![image](https://user-images.githubusercontent.com/54408225/203322040-e39036af-5edb-409c-8675-ccb1bf935486.png)

**How**: from @danjm 's comment: for the build to appear here, we need to modify `metamask-extension/.circleci/scripts/release-crea

[2022-11-22 13:20] bschorchit opened #16625 "Wallet Tx Security Provider: Update UI for Transaction Security Check in Settings"
## Background
We have created a toggle for users to enable the transaction security check/transaction security provider under Settings > Experimental https://github.com/MetaMask/metamask-extension/issues/16257. New designs were created for it since and we should update the UI to reflect them.

## Resources
[Figma file](https://www.figma.com/file/QSel2zV8K3jMPTCYeskOQJ/External---Support-for-tx-sec

[2022-11-22 13:33] arcanisgk commented on #9407
pongo todo esto en una promesa... por cualquier motivo si se rompe es un problema de comunicación del navegador y la extensión...

[2022-11-22 13:50] seaona commented on #16551
I still can reproduce @digiwand 's behaviour mentioned above on the branch you pointed out @segun. The issue is that the phishing list does not load completely at the first time.

![image](https://user-images.githubusercontent.com/54408225/203330310-ee7b8e34-3821-42f4-b9aa-45f88fb4769d.png)

**Steps to repro:**
1. Load MV3 MM
2. Add a breakpoint on `/detector.js` file on line 182 `return list.some

[2022-11-22 14:20] imaxE-BISCUS opened #16626 "[Bug]: Impossible to get the image of my token"
### Describe the bug

Hi,

I have a problem that I can’t solve for a while now and I hope I can find some help from this great community.

I am working on a project that have create a token (FeelingMeta). In my application I use the wallet_watchAsset function to add my token with a well defined image but my image never appears in the token list. I only have the default image.

What is really surpr

[2022-11-22 14:41] bschorchit commented on #16625
Pinging @coreyjanssen to confirm whether the copy for this has been reviewed already or any tweak is needed.
We'll also need a knowledge base article for the `Learn more` link that I'll follow up on.

![Image](https://user-images.githubusercontent.com/34968356/203342106-98022d4d-8992-4b34-a191-54c19e21e5d1.png)

[2022-11-22 14:42] holantonela commented on #16499
Yes, we should implement our Tag URL component which must be reactive to the protocol and the blocklists. Some work in progress [here](https://www.figma.com/file/UrgBhtvoCEZiYzjptgXAsL/Security-indicators-in-confirmation-screen?node-id=1%3A5&t=ankTHVTMIRX0sG2q-1) .

[2022-11-22 16:56] #15954 closed

[2022-11-22 16:56] #16456 closed

[2022-11-22 17:06] bowensanders commented on #15719
#16113 replaced with #16228

[2022-11-22 17:09] #16349 closed

[2022-11-22 17:25] Nanimustshine commented on #16626
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 17:26] kevinghim opened #16630 "IA Nav Redesign v1"

[2022-11-22 17:28] hmalik88 commented on #16472
So in essence, we are rejecting anything non slip-44 for stable? We don't have any resolution service for non slip-44.

[2022-11-22 17:28] hmalik88 commented on #16472
So in essence, we are rejecting anything non slip-44 for stable? We don't have any resolution service for non slip-44.

[2022-11-22 17:30] Nanimustshine commented on #16630
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 17:52] Mrtenz opened #16631 "[FLASK] Expose transaction origin to Snaps with permission"
We added a permission caveat to expose the transaction origin to Snaps in MetaMask/snaps-monorepo#956. This is yet to be implemented in the extension.

[2022-11-22 17:59] seaona opened #16632 "[Sentry] Error: External transaction nonce should not be in confirmed txs"
https://sentry.io/organizations/metamask/issues/3756067538/?referrer=github_plugin

[code]

[2022-11-22 18:03] Nanimustshine commented on #16624
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:03] Nanimustshine commented on #16623
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:06] Nanimustshine commented on #16622
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:06] Nanimustshine commented on #16620
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:06] Nanimustshine commented on #16619
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:07] Nanimustshine commented on #16618
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:07] Nanimustshine commented on #16618
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:07] Nanimustshine commented on #16619
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:08] Nanimustshine commented on #16622
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:08] Nanimustshine commented on #16623
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:09] Nanimustshine commented on #16624
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:10] Nanimustshine commented on #16626
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:10] Nanimustshine commented on #16630
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:11] Nanimustshine commented on #16631
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:11] Nanimustshine commented on #16631
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:11] Nanimustshine commented on #16632
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:12] Nanimustshine commented on #16632
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:12] Nanimustshine commented on #16617
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:12] Nanimustshine commented on #16617
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:14] Nanimustshine commented on #16615
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:14] Nanimustshine commented on #16615
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:14] Nanimustshine commented on #16614
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:14] Nanimustshine commented on #16614
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:15] Nanimustshine commented on #16613
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:15] Nanimustshine commented on #16610
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:15] Nanimustshine commented on #16610
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:15] Nanimustshine commented on #16609
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:16] Nanimustshine commented on #16608
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:16] Nanimustshine commented on #16608
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:16] Nanimustshine commented on #16607
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:16] Nanimustshine commented on #16607
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:17] Nanimustshine commented on #16604
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:17] Nanimustshine commented on #16602
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:17] Nanimustshine commented on #16602
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:18] Nanimustshine commented on #16601
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:18] Nanimustshine commented on #16601
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:19] Nanimustshine commented on #16598
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:19] Nanimustshine commented on #16598
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:20] Nanimustshine commented on #16596
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:20] Nanimustshine commented on #16593
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:20] Nanimustshine commented on #16593
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:21] Nanimustshine commented on #16588
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:21] Nanimustshine commented on #16588
We'd be happy to look into this for you. kindly file a support ticket below
https://forms.gle/Wmpm6NLzYm9uXYuU9

[2022-11-22 18:29] seaona commented on #16632
**Repro steps:**
1. Select Mainnet
2. Perform a Swap with Smart Transaction enabled
3. Wait
4. Change networks to Goerli -- see error on the background console. This triggers the Sentry event

https://user-images.githubusercontent.com/54408225/203393062-093cd487-fd6f-49b6-befa-51711130e964.mp4

[2022-11-22 18:41] digiwand commented on #16554
I am unable to reproduce this issue. @seaona are you still able to produce this issue on #15558?

[2022-11-22 18:51] georgewrmarshall opened #16634 "🧹 [UI House Keeping] `ButtonIcon`"
### Description
Ensure that `ButtonIcon` adheres to all of the following conventions and standards

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.js`

[2022-11-22 18:51] bschorchit commented on #15674
We won't necessarily know the reason of the failure (asked it in DMs to Frederik) so what about displaying a generic and broad message such as: `The decoding of this transaction has failed.` for such cases? Any suggestions, @coreyjanssen ?

[2022-11-22 19:01] bschorchit opened #16636 "What's New for the transaction security provider"
## Background
We want to announce the new security provider feature to users. We should follow a similar design that was used for the Smart Transactions (screenshot).

## Acceptance Criterias
1. Clicking on `Enable security provider` should turn the feature on.
2. There should have an `X` on top as the other What's new modals have so users are able to close it.

## Reference
[Design on figma](http

[2022-11-22 19:06] georgewrmarshall opened #16637 "🧹 [UI House Keeping] `Button`"
### Description
Ensure that `Button` adheres to all of the following conventions and standards

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.js` con

[2022-11-22 19:59] georgewrmarshall opened #16638 "🧹 [UI House Keeping] `HelpText`"
### Description
Ensure that `HelpText` adheres to all of the following conventions and standards

- [x] Has a `className` prop and the PropType descriptions are all the same
- [x] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [x] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.js` c

[2022-11-22 20:00] georgewrmarshall opened #16639 "🧹 [UI House Keeping] `Label`"
### Description
Ensure that `Label` adheres to all of the following conventions and standards

- [x] Has a `className` prop and the PropType descriptions are all the same
- [x] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [x] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.js` cons

[2022-11-22 20:01] georgewrmarshall opened #16640 "🧹 [UI House Keeping] `PickerNetwork`"
### Description
Ensure that `PickerNetwork` adheres to all of the following conventions and standards

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.

[2022-11-22 20:02] georgewrmarshall opened #16641 "🧹 [UI House Keeping] `TagUrl`"
### Description
Ensure that `TagUrl` adheres to all of the following conventions and standards

- [ ] Has a `className` prop and the PropType descriptions are all the same
- [ ] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [ ] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.js` con

[2022-11-22 20:04] georgewrmarshall opened #16642 "🧹 [UI House Keeping] `TextField`"
### Description
Ensure that `TextField` adheres to all of the following conventions and standards

- [x] Has a `className` prop and the PropType descriptions are all the same
- [x] Prop table in MDX docs have the "Accepts all Box component props" description and link
- [x] We are consistent when using the same prop names like `size` and are suggesting the use of the generalized `design-system.js`

[2022-11-22 21:04] #16152 closed

[2022-11-22 21:04] #16619 closed

[2022-11-22 22:02] segun commented on #16551
@seaona Thanks. I'm now able to reproduce the bug and have a fix.

[2022-11-22 22:54] kevinghim opened #16644 "Enable ENS support for L2 networks"
## Background
Currently, MetaMask doesn’t support ENS resolution while a user is connected to an L2 network (Optimism, Arbitrum, etc.) Enabling ENS on L2s would prevent user error and decrease time needed to them  to go to ens.domains, translate the hex, copy, and paste it into the MetaMask recipient and then transfer.

## Acceptance criteria
- [ ] Use the ENS [library](https://docs.ens.domains/da

[2022-11-22 23:41] tommasini opened #16645 "[Bug]: Buy ETH feature breaking"
### Describe the bug

While trying to perform a transaction, don't had enough ETH to finish it, clicked Buy eth on non funds warning message

Record:
http://recordit.co/5z8qR2oDGj

SS of the error:
<img width="348" alt="image" src="https://user-images.githubusercontent.com/46944231/203442364-52376ed7-a4a8-4230-86bf-982311d2fc07.png">

### Steps to reproduce

1. Go to ENS name service with an accou

[2022-11-23 00:00] kevinghim opened #16646 "Warn canceling pending confirmations when switching networks"
## **User story**

As a user I want only to be warned about canceling pending confirmations when asked to switch networks if I do have any pending confirmations at the moment.

## User insights

[https://github.com/MetaMask/metamask-extension/issues/11544#issuecomment-1088232307](https://github.com/MetaMask/metamask-extension/issues/11544#issuecomment-1088232307)

## **Steps to reproduce**

1. Go

[2022-11-23 00:10] Gudahtt commented on #16614
The text we used on the placeholder Beta store description is:

Then we continued with the main extension store description from there.

Should we still include a link to the main extension? I was unsure about replacing that, otherwise the suggested copy looks good to me.

[2022-11-23 00:25] #16613 closed

[2022-11-23 01:03] georgewrmarshall opened #16647 "Update all network logos in Settings > Networks (WIP)"
Dependency: https://github.com/MetaMask/design-tokens/issues/263

### Description
Update all network logo image assets and use the [AvatarNetwork](https://metamask.github.io/metamask-storybook/?path=/docs/ui-components-component-library-avatar-network-avatar-network-stories-js--default-story#avatarnetwork)  component

- Replace all token and network images with consistently named and formatted svg

[2022-11-23 01:17] kevinghim commented on #16614
@Gudahtt I like the link to the production version. I've combined the place holder description with the version used on onboarding. Let me know what you think.

[2022-11-23 01:21] kevinghim commented on #16614
@mapachurro would you be able to do a quick review with the MetaMask beta store page copy above in Corey's absence?

[2022-11-23 01:45] platocrat commented on #16524
i experienced this bug today

very annoying bc i thought it was an issue with Mac OS Ventura
I even reinstalled Ventura.

Luckily, i found out what the issue was afterwards bc reinstalling Ventura somehow broke MM in Firefox, which led me to MM support, which led to this GitHub issue

[2022-11-23 06:22] HashHaran commented on #14963
I wouldn't be very sure if this is a metamask issue. When I faced this issue, no solution I found online seemed to work. I tried to use [anvil](https://book.getfoundry.sh/anvil/), a local Ethereum development node by [foundry](https://www.paradigm.xyz/2021/12/introducing-the-foundry-ethereum-development-toolbox), in place of hardhat node. This seems to solved the issue for me. I am able to continu

[2022-11-23 08:26] jfdelgad opened #16649 "[Bug]: Error: Unable to determine contract standard"
### Describe the bug

For some tokens that are in fact ERC20 this error shows up which prevent any transfers of such tokens using metamask.
This was not a problem in the past with such tokens and appears that in May of 2022 [the same issue was reported](https://github.com/MetaMask/metamask-extension/issues/14187) and then [fixed](https://github.com/MetaMask/controllers/pull/830) but it is again an

[2022-11-23 10:56] tommasini commented on #16645
Solved [here](https://github.com/MetaMask/metamask-extension/issues/16418)

[2022-11-23 10:56] #16645 closed

[2022-11-23 13:17] Gudahtt commented on #16614
It looks like we can't embed links in this description. Would something like this work instead?

[2022-11-23 13:29] bschorchit commented on #16429
Just for visibility, I've created a new ticket to work on this here https://github.com/MetaMask/metamask-extension/issues/16587

[2022-11-23 14:08] bschorchit commented on #16596
Does it only affects tokens with 0 decimals, @deshvin ?

[2022-11-23 14:12] seaona opened #16654 "[Bug]: [MV3] Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'createElement')"
### Describe the bug

Problem: when I unlock MM and land at Home page, I see the following error
Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'createElement')

![image](https://user-images.githubusercontent.com/54408225/203567717-3ae8dec2-2b59-4645-ae83-d3febc56ab92.png)

This issue makes our [e2e test fail](https://github.com/MetaMask/metamask-extension/issues/162

[2022-11-23 14:34] bschorchit commented on #16649
Related to https://github.com/MetaMask/metamask-extension/issues/16596

[2022-11-23 15:08] MetaEZ commented on #16499
I got a question that its not related to this topic, is it fine if i drop it here?

[2022-11-23 15:25] deshvin commented on #16596
@bschorchit
Yes it seems to only affect tokens with 0 decimals as far as I can tell. Have seen multiple reports in ZD tickets, all tokens have 0 decimals.

[2022-11-23 15:52] seaona opened #16656 "[Bug]: Send slice initialized as collectible send with a collectible not currently owned by the select account"
### Describe the bug

**Problem**: if I import an ERC1155 Token contract and click Send, I stay on the Home page and get the following error on the console `Send slice initialized as collectible send with a collectible not currently owned by the select account`

https://user-images.githubusercontent.com/54408225/203590011-ed0b6604-cf80-47ba-b760-681e59183bcd.mp4

### Steps to reproduce

1. Change

[2022-11-23 16:03] seaona opened #16657 "[Bug]: MM popup keeps auto-scrolling to the top every some seconds"
### Describe the bug

**Problem**: if I try to connect to a Dapp and I open MM popup, if I scroll down to the list of address, MM auto-scrolls to the top every some seconds, worsening user experience.

https://user-images.githubusercontent.com/54408225/203592769-605cda87-80c3-4b8c-a5e1-94c99398c458.mp4

### Steps to reproduce

1. Go to a dapp https://spruceid.github.io/test-dapp/
2. Click Connect

[2022-11-23 16:17] #16015 closed

[2022-11-23 16:19] seaona opened #16658 "[Bug]: Some addresses are displayed as `New Contract` on the recipient for a simple Send"
### Describe the bug

**Problem**: sometimes some addresses are displayed as `New Contract` on the recipient for a simple Send.

- **Case 1**: try to perform a simple Send to this address 0x0000000000000000000000000000000000000001 and you'll see that the recipient is displayed as "New Contract"

https://user-images.githubusercontent.com/54408225/204510802-3a6c3818-bc49-4d66-8d69-b61b05e35f73.mp4

[2022-11-23 16:42] #16190 closed

[2022-11-23 16:48] seaona opened #16660 "[Bug]: Pending tx is changed to Queued when a new tx approval notification comes"
### Describe the bug

**Problem**: when I have an already Pending tx, if I get another tx notification for approval from a Dapp, I see that the Pending tx changes its state to `Queued` and the Speed Up button disappears, while the Approval from the other tx is not Accepted/Rejected.
It's strange as the 1st tx is already visible on Goerli, while this is happening

https://user-images.githubusercont

[2022-11-23 17:10] georgewrmarshall opened #16661 "Migrate Box component to use TypeScript"
### Description
Currently the `Box` and `Typography` components are written in JS. This makes writing TS components difficult because some types are misunderstood. We should look at migrating these atomic components over to use TS it will allow for us to create all future components in TS

### Technical Details
- migrate `Box` component to use TS
- migrate `Typography` component to use TS

[2022-11-23 17:41] kenhkan commented on #16460
Erik to split this ticket into smaller tickets.

[2022-11-23 17:46] kenhkan commented on #16462
Next step: To finish this ticket (the design part), share the design with wider team, and then split up https://app.zenhub.com/workspaces/snaps-platform-615b3a7c08d2b20015eb6c4e/issues/metamask/snaps-monorepo/892 after the agreement.

[2022-11-23 17:56] digiwand commented on #15970
I believe we have merged in the fixes for this issue

[2022-11-23 17:57] #15970 closed

[2022-11-23 17:58] #16186 closed

[2022-11-23 18:00] #16484 closed

[2022-11-23 21:45] Gudahtt commented on #16614
^ I've used that description for now. We can adjusted it prior to the public beta if we still want to make changes. I'll leave this issue open for now, in case we get more feedback.

[2022-11-24 00:49] #15050 closed

[2022-11-24 01:11] yucob commented on #5676
How to auto-fix this error?

[2022-11-24 10:38] LefterisJP commented on #15169
Let me add a proverbial +1 here

[2022-11-24 10:41] marsrobertson opened #16672 "[Enhancement]: cross chain address book"
### Describe the bug

![address book](https://user-images.githubusercontent.com/44369284/203762968-a5645346-af40-40ac-b7f2-9d1a5cc0cf47.gif)

### Steps to reproduce

1. Paste address that is in the address book on Ethereum - Binance deposit address
2. Change the chain
3. Paste the same address on Fantom - not found

### Cross chain address book would be nice

* I have the same address cross chain

[2022-11-24 11:43] jpuri opened #16674 "[Bug]: login fails when moving from mv2 to mv3"
### Describe the bug

The changes to keep user loggedin in MV3 are merged now [PR](https://github.com/MetaMask/metamask-extension/pull/15558).

An issue now noticed is that if user is moving from mv2 to mv3 extension they are not able to login into extension but need to use seed phrase to recover their account once. Login gives following error:

![Error Image](https://user-images.githubusercontent

[2022-11-24 12:25] seaona opened #16675 "[Bug]: Error updating pending transactions"
### Describe the bug

**Problem**: I performed a Send on Mumbai network, and the following error appeared on the background console `pending-tx-tracker.js:65 PendingTransactionTracker - Error updating pending transactions`

1st occurrence

https://user-images.githubusercontent.com/54408225/203780385-922fd819-f7e7-41c3-9798-25d308fc0538.mp4

2nd occurrence

https://user-images.githubusercontent.com

[2022-11-24 12:30] rfikki commented on #15169
I also want to add a +1 here

[2022-11-24 13:30] Deepcryptodive commented on #13249
The underlying problem wasn't solved though....

[2022-11-24 14:33] darkwing commented on #16674
Adding some important details here.

The problematic code comes form `eth-ledger-bridge-keyring`:  https://github.com/MetaMask/eth-ledger-bridge-keyring/blob/main/index.js#L40

MV2 allowed us to use a persistent background with the DOM API so that we could inject an `iframe` to talk to a Ledger via `webhid`.  Since MV3 service workers don't get DOM access, we're seeing this error.

While another t

[2022-11-24 14:48] darkwing commented on #16674
The second solution proposed above (`Longish term`) is probably as simple as this:

https://gist.github.com/darkwing/1181c19c4d1ed1f296a71c3acc4bed1c

At present, when calling `getKeyringForDevice`, we create the keyring if not present.  The usage inside `attemptLedgerTransportCreation` doesn't make sense if there is no Ledger keyring.

My gist requires two types of testing:

1.  Just test that it

[2022-11-24 14:52] darkwing commented on #16674
This could be even simpler, but skips some stuff in `getKeyringForDevice` that _could_ be necessary(?):

https://gist.github.com/darkwing/d2b1fb2b5ed7c2803ccf0b955fd44c17

[2022-11-24 15:01] darkwing commented on #16674
The two gists above are for a long term fix; in the short term, we'll likely need to do the `try/catch` for MV3.

[2022-11-24 15:03] danjm opened #16677 "Put hardware wallet code and features in MV3 behind a feature flag"
Add a `HARDWARE_WALLETS_MV3` flag to .metamaskrc, and then ensure that hardware wallet code only runs if either `isManifestV3` is false OR if `HARDWARE_WALLETS_MV3` is true. Only apply this to ledger, trezor and gridplus (but not to keystone.

[2022-11-24 15:23] Gudahtt commented on #16675
The "header not found" error indicates that this is likely an intermittent network failure. A network failure during an attempted update to pending transactions is expected to result in this error. Maybe this is a case where we should be logging the event as a warning rather than an error.

[2022-11-24 16:00] bschorchit commented on #16601
This will be fixed by https://github.com/MetaMask/metamask-extension/pull/16547

[2022-11-24 18:09] #16604 closed

[2022-11-24 18:14] seaona commented on #16675
thank you for the clarification @Gudahtt!  Do you think we can close the issue then? Or prefer to keep it open?