[2018-02-14 19:01] danfinlay commented on #717
Right now my apprehension about the bounty is that GitCoin lets people "lock" an issue that they have "checked out". This one would absolutely be posted on a basis of "you can race us if you want", because I don't plan on waiting for anyone to do this, I just happen to be way busier than I want to be.

In any case, I wrote up a pretty decent doc on my current thinking for this issue here:
https://

[2018-02-14 19:03] danfinlay commented on #3249
## Sandboxed execution

Especially if we were making a signer store, or trying to accept signing strategies more casually, isolating new signers, either through their UI in an iframe, or through their background process in a web-worker, would be an important set of considerations.

[2018-02-14 19:16] lazaridiscom commented on #717
@danfinlay , sounds rational. "wild-west" style bounty, I guess.

Wow! You wrote this beast (#3249)  just now?

I'm preparing to "dive" into code-level for another issue (dive = isolation for 78 hours). Hopefully I succeed and will be then mentally free to take a look on all your stuff here.

.

[2018-02-14 19:18] danfinlay commented on #717
I've been thinking about it for a while. ;)

Happy to chat about it any time, as you'll see there, it's a legitimately hard problem, with a lot of important considerations (to get it very right).

[2018-02-14 19:20] benjamincburns commented on #1999
@danfinlay it's my intention to make that the default behavior in the next major release.

[2018-02-14 19:21] danfinlay commented on #3249
We're considering posting a bounty on this, as a challenge to the very rambunctious and sometimes impatient crowd waiting for these valuable features.

If you pursue a bounty on this issue, to be clear: While you pursue it, the issue is not reserved for you. We will pursue this issue as soon as possible, and the only way you will earn a bounty for this issue is if you both deliver this feature bef

[2018-02-14 22:14] amirsohail01 commented on #3151
Spot on! It's my work PC and it appears that MM has been blocked on my work PC/network. Please feel free to close the ticket.
Thanks for your help again :)

[2018-02-14 23:15] vs77bb commented on #437
Hi @mapmeld how is this one going? cc @owocki

[2018-02-14 23:51] mattotodd commented on #602
@evgeniuz - Not sure what is needed, but you need to "submit work"  for me to release the funds

https://gitcoin.co/funding/details?url=https://github.com/MetaMask/metamask-extension/issues/602

[2018-02-15 00:15] vs77bb commented on #1459
@owocki @danfinlay Agree with us removing this from Gitcoin's bounty list? Seems like this issue snowballed into something else, which is a good thing 🙂

[2018-02-15 00:29] danfinlay commented on #1459
@vs77bb Sounds reasonable to me.

[2018-02-15 00:31] mapmeld commented on #437
@vs77bb I've taken on a new job where I cannot work on this anymore. You can see my pull request and work on closing the remaining failing tests if you like

[2018-02-15 00:36] #3151 closed

[2018-02-15 01:10] evgeniuz commented on #602
@mattotodd Sorry, first time using gitcoin, wasn't sure when to submit work (wondered if I should wait till change gets into release or something like that).

[2018-02-15 02:17] entropy3 opened #3251 "transactions dont work"
none of my transactions will go through all of them just remain pending regardless of gas price or which wallet i try to send it too (after one transaction that worked) all my ETH is just stuck on my account and cant be move using latest version of chrome on a mac  .

[2018-02-15 02:58] marcusmolchany commented on #3133
I've added funding to this issue. I'd love for my site to work on FireFox with MetaMask without having to change my CSP. Thanks!

[2018-02-15 04:17] seth-anderson opened #3252 "Custom font settings hide "Send" button"
My chrome extension is a small box that can't be expanded in size and it only shows half the buy button and no send button. It renders my metamask virtually unusable.

[2018-02-15 09:41] cjeria opened #3253 "Infinite Spinner before Confirm TX screen"
I'm getting an infinite spinner after first TX screen and before the confirm screen.

See gif
![infinite spinner after sending eth](https://user-images.githubusercontent.com/597770/36249768-06238d16-123c-11e8-82c2-3863b4f994a5.gif)

[2018-02-15 09:49] cjeria commented on #3253
I'm forced to refresh the page. We should be timing out infinite spinners like this throughout the app, even if it's a bug that should be fixed, just leaving the user guessing is never good UX. We should contextualize and provide appropriate messaging in these cases and redirect users to try again. In this case, we should add a message after time out and give users the option the "Try Again" and l

[2018-02-15 09:59] cjeria commented on #3253
Suggested error message

![image](https://user-images.githubusercontent.com/597770/36250848-4fcd22f8-123f-11e8-80b5-9b1a435d6629.png)

[2018-02-15 10:46] Santosh3298 opened #3255 "Can't connect to my account, it says Connecting to main Ethereum Network... and nothing happens"

[2018-02-15 11:16] cryptogaz opened #3256 "Hi there just transfered 0.1 ETC to metamask as a test but it doesnt show in metamask."

[2018-02-15 15:18] evgeniuz commented on #3133
I think I can fix this issue, but want to verify that my approach would be correct one.

So the problem is that CSP won't allow inline script that is used here https://github.com/MetaMask/metamask-extension/blob/master/app/scripts/contentscript.js#L30. There's `manifest.json` property `web_accessible_resources` that seems to allow injecting scripts that are specified there, but it's only applied i

[2018-02-15 15:42] evgeniuz commented on #3133
Ok, this might be trickier than I expected. I see that loading with `src` caused race condition in the past, going to look more closely into this.

[2018-02-15 16:31] BGzetro opened #3258 "Original ethereum address attached to account 1 is different after carrying out account recovery by seedphrase? Lost access to my original address and token balances now showing 0 as wallet is controlling new empty address :("
This problem occured about 8 days ago, afew days after creating my first metamask wallet (using the firefox extension). I installed the extension on both firefox and google chrome. I used it mainly on google chrome and on my second attempt of using it on google chrome it would not let me log in with my correct password. I tried on firefox and same problem. I decided to go through the recovery proc

[2018-02-15 17:28] developerhub0 commented on #3258
same with me.....

[2018-02-15 17:28] BGzetro commented on #3258
This problem occured about 8 days ago, afew days after creating my first metamask wallet (using the firefox extension). I installed the extension on both firefox and google chrome. I used it mainly on google chrome and on my second attempt of using it on google chrome it would not let me log in with my correct password. I tried on firefox and same problem. I decided to go through the recovery proc

[2018-02-15 17:29] BGzetro commented on #3258
developerhub0 when did the problem happen to you?

[2018-02-15 17:44] Douglasacost commented on #2043
in my case the issue is caused by the date configuration

[2018-02-15 17:45] Douglasacost commented on #2548
in my case the issue is caused by the date configuration

[2018-02-15 17:47] developerhub0 commented on #3258
yes. I deleted my browser cache and my account got deleted. I tried to restore my account with my recovery seeds. My account got restored but with different address with 0 balance....

[2018-02-15 17:51] BGzetro commented on #3258
I deleted my browser history in between those days but don't think i did with my cache.
Also how long ago was it when this problem happened to you? Did you manage to re-gain access to your account in the end?

[2018-02-15 17:59] marcusmolchany commented on #3133
thank you for starting @evgeniuz! I can set up an example application that uses my current CSP if that would help.

[2018-02-15 18:41] entropy3 commented on #3251
https://github.com/MetaMask/metamask-extension/issues/2655

this solved the solution
-using the brave browser

[2018-02-15 18:41] #3251 closed

[2018-02-15 21:13] BGzetro commented on #3258
Same here I wrote to them last week and have had to replies trying to help out but no success yet.
They sent me a link to an issue they had about a year ago which sounds the same but still no solution to it yet:

https://medium.com/metamask/metamask-security-advisory-and-bug-bounty-for-seed-phrase-concern-bbd95ab63210

[2018-02-15 21:14] danfinlay opened #3262 "Network controller crashing on start up and provider change"
On `uat`, on starting up or switching networks, my background console shows this error from the `RpcBlockTracker.AsyncEventEmitter` class, in its `emit` function:

[code]

[2018-02-15 21:23] danfinlay opened #3263 "NewUI - confirming final tx does not return to main account view"
Seems related to #3262.

While that one regards the app-initiated popup, this one is also reproducible within the extension "action view", by clicking the fox, and sending a tx. After clicking "confirm", a spinner is shown indefinitely.

A warning is visible in the UI:

[code]

[2018-02-15 21:34] danfinlay commented on #3263
Seems this is a UI crash caused by [this line](https://github.com/MetaMask/metamask-extension/blob/uat/old-ui/app/app.js#L200), which is receiving a number for "context", because on `confTx`, the `context` refers to the current message/tx index, and on the account detail view, it refers to the current selected account.

This is basically caused by overloading this `currentView.context` key, we cou

[2018-02-15 21:35] danfinlay commented on #3263
Oh, also `props.selected` already keys to the current selected account here...

[2018-02-15 21:44] danfinlay opened #3264 "NewUI - Old UI tx list does not fill up view"
The UAT branch makes the action view taller. This is ok as long as we keep other views working decently. The TX list doesn't yet:

<img width="358" alt="screen shot 2018-02-15 at 1 43 03 pm" src="https://user-images.githubusercontent.com/542863/36282523-44675854-1256-11e8-8ede-8dbe69b760c6.png">

[2018-02-15 21:52] danfinlay commented on #3263
Formerly, processing the reducer with 0 pending txs or msgs would return a `currentView.name` of `accountDetail`, but it seems like it doesn't anymore.

[2018-02-15 22:00] danfinlay commented on #3263
I guess in some ways that is an abuse of the `reducer` pattern. Is it an antipattern to use a reducer to "clean up" or "correct" state? I figure if it's part of the "update_state" action, it's ok (new metamask/background state used to derive new app/UI state.

[2018-02-15 22:50] danfinlay commented on #3262
This error is actually happening in `master`, too. I think it may be causing the block gas limit to stop updating.

[2018-02-15 22:57] pointtoken commented on #3135
Thanks for this -- helped me fix my bug which was a result of
"Error: intrinsic gas too low" gasLimitSpecified: False contract data
bug: gas calc failed because dest is non-contract account but data is not empty"

For anyone else out there, if you are just sending eth and using ethjs, you have to have a data value, but you set it to null. If you set it to 0x00 it will fail with the above error.

[2018-02-15 23:10] danfinlay opened #3266 "Fix block gas limit validation"
Sometimes `state.metamask.blockGasLimit === ""`.

When this happens, it enforces an impossible gas limit:

<img width="367" alt="screen shot 2018-02-15 at 3 06 37 pm" src="https://user-images.githubusercontent.com/542863/36285911-4a59a85a-1262-11e8-832e-be45a4882e02.png">

We need to either/both:
- Ensure `blockGasLimit` gets set correctly
- When it does not get set correctly, do not enforce its v

[2018-02-15 23:38] danfinlay opened #3268 "Tx status "approved" should appear pending in list"
Currently `approved` state looks like successfully mined, but this can be very deceptive. I'm currently seeing this on `master` where I'm experiencing a non-broadcasting tx bug, and it was very confusing b/c txs looked successfully transmitted, but were not transmitted at all.

[2018-02-15 23:43] danfinlay opened #3269 "Fresh testrpc triggers spamming for block 0x-1"
I started experiencing all sorts of issues after upgrading my provider-engine to 13.6.0, I think this may be related.

This is after starting a fresh `testrpc`, so the correct block is `0`, so the block-tracker must be trying to crawl backwards? @kumavis

[2018-02-15 23:46] Jabher opened #3270 "Api feature request: popup management"
Metamask is creating actions which require confirmation by user.
However, some of them (e.g. eth.personal.sign) are meaningless without page context (no callback to recieve data), and sometimes - as long as developer do not always know about already spawned popups - duplicate popups (for some contract call or transfer e.g.) can be spawned accidentially.

So, I'd like to request for following api i

[2018-02-16 00:13] JohnAllen commented on #3256
Are you sure you have the right account selected in MetaMask?  I didn't even know MetaMask supported ETC.

[2018-02-16 00:13] JohnAllen commented on #3255
try refreshing and reload the page, selecting a different account then back to mainnet.

[2018-02-16 00:15] JohnAllen commented on #3202
Isn't it already editable?  One can click up and down and adjust the `price` and `gas limit`

[2018-02-16 00:20] JohnAllen commented on #3270
I actually have had some related thoughts but simply about duplicate popups and how they always popup in the far top-left of the window (High Sierra 10.13.3  Chrome: 64.0.3282).  Would be nice to popup center of screen and not on top of one another.

Would be willing to work on this if someone knows if popup positioning is possible (probably center issue is simpler)

[2018-02-16 00:29] Jabher commented on #3270
@JohnAllen arent "left" and "top" properties not working? https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/windows/create

About popups, I'm personally stuck with simple problem - I have ethereum-based auth via personal_sign, and user can accidentially close tab, but popup with "sign this to authorize" is still there. It is confusing and makes thing more complicated. If possible, I wo

[2018-02-16 02:00] chris69nl commented on #3252
same problem here, any solution?

[2018-02-16 02:04] lazaridiscom commented on #3252
@seth-anderson @chris69nl , me just a visitor here, but usually this info helps:

- Operating System, Version of Browser
- Screenshot

[2018-02-16 02:09] tmashuang commented on #3252
By any chance is the text resolution of the OS not 100%?

[2018-02-16 02:23] danfinlay commented on #3202
The NewUI tag refers to the uat branch.

[2018-02-16 02:41] danfinlay commented on #3252
Post a screen shot to help us understand? I agree the text size could affect this.

[2018-02-16 02:47] Column1 opened #3271 "Metamask requiring new password"
Love the product however why is Metamask asking me for a new password? The current password is fine. Am I being targeted? Im using Google Chrome with the latest updates.This happens with both computers I use even though I'm logged out.

[2018-02-16 02:47] danfinlay commented on #3248
Keeping open until @kumavis does a fresh deploy to the page.

[2018-02-16 02:53] danfinlay commented on #3247
Link to referenced issue for the lazy: #2393

[2018-02-16 03:08] andrewbrey opened #3272 "MetaMask interferes with Google Voice and/or Google Hangouts"
Chrome Version: Version 64.0.3282.167 (Official Build) (64-bit)
MetaMask Version: 3.14.1

Issue: Answering and making voice calls with Google Voice/Google Hangouts is not possible if the MetaMask extension is installed (and enabled). The Google Voice call dialog has a button to answer incoming calls that is somehow being rendered inert by MetaMask. Clicking the hangup button works, but answering c

[2018-02-16 03:10] danfinlay commented on #3247
The nature of the bug:

In the metamask-controller constructor, we initialize a provider, and then use that blocktracker to initialize the filter subprovider that is provided to every page:

https://github.com/lazaridiscom/metamask-extension/blob/58a554b1684fd78775b449b8f2b5d9635d30b69b/app/scripts/metamask-controller.js#L93-L94

The problem seems to be that the network controller allows this prov

[2018-02-16 05:23] shahjee81 commented on #3255
Hi dear my metamask account removed from chrome please tell me how it recover

[2018-02-16 07:04] seth-anderson commented on #3252
I installed the firefox browser, opened my account on it with my seed keywords and it worked fine. Don't know why it wasn't working on chrome

________________________________
From: chris69nl <notifications@github.com>
Sent: Thursday, February 15, 2018 6:00 PM
To: MetaMask/metamask-extension
Cc: seth-anderson; Author
Subject: Re: [MetaMask/metamask-extension] No "Send" button. (#3252)

same proble

[2018-02-16 09:39] aalamrangi opened #3273 "Metamask does not show Account 2 (Chrome crashed maybe)"
Created a new account in Metamask extension (default name Account 2) a couple of days ago. Received and sent coins from this account successfully. Renamed Account 1 and 2 with friendly names. Opened Chrome the next day. There was a crash message and an option to reopen the tabs. Logged into Metamask normally with the password. Only Account 1 is visible. Account 2 is gone. The friendly name is also

[2018-02-16 10:10] glaksmono commented on #2910
Looking forward for this! 👍

[2018-02-16 15:50] LK1097 opened #3274 "Meta Mask is not connecting to the main eth network"
![image](https://user-images.githubusercontent.com/36542745/36316074-4b088ae6-1307-11e8-9963-56c1d3848622.png)
my meta mask has been like this for a day or so now. What can i do to fix it?

[2018-02-16 15:59] #3136 closed

[2018-02-16 17:29] Obie-Wan opened #3280 "walltet menu (three dots) is hidden upder scrollbar"
It's difficult to copy wallet address by clicking Copy in the wallet menu, because scrollbar is drawn on top of menu. Sometimes it's impossible to open it at all.

[2018-02-16 17:34] tmashuang commented on #3280
Could this be caused by a different OS text-size other than 100%. Possibly related to #2767.

[2018-02-16 20:04] Zanibas commented on #3273
Did you try to "Create Account" again?

[2018-02-16 21:15] chebykin commented on #3140
In my case, it was my mistake with chain state which lead to the response I described above. I tried to invoke gas estimation request against the brand new chain with no blocks mined yet. The error response disappeared after the first block was mined.

As I see here https://github.com/kumavis/json-rpc-engine/blob/b5185e5d6e75717745269f5f4be65af42bf6bb40/src/index.js#L107 the -32602 error is a defa

[2018-02-16 21:16] lazaridiscom commented on #3249
I have somehow the impression that just the necessary pre-work (Requirements Analysis, Isolating Subsystems and Tasks etc.) would eat up this bounty. It feels like an whole "sub-project" within the MetaMask project. But can be wrong.

The problem I (and most possibly others) have, is that I do not understand the problem, thus I'm unable to estimate the effort.

## I know this:

* MetaMask cannot u

[2018-02-16 21:51] Kail68 opened #3284 "Stuck on infinite Estimating Transaction Cost loop"
As the title says, tried to purchase 2 smart contracts. Stuck on the loop and can't continue.
Galaxy s7
Android 7.0
Latest version of Firefox and Metamask plugin

Worked the previous 25 transactions

[2018-02-16 22:26] callmenick opened #3285 "etimateGas failing 9/10 times when it should succeed"
In MM, we're frequently seeing the error:

I know for sure that the tx should succeed, because I have sufficient funds, and the tx is a legal one. I'm seeing the message spawning from here:

https://github.com/MetaMask/metamask-extension/blob/b046378e335f23b7c2447c2ad40fe4d8ab2da67a/ui/app/components/pending-tx.js#L285

The option `simulationFails` gets added to `txMeta.simulationFails` when the s

[2018-02-16 23:14] aalamrangi commented on #3273
Thanks! I tried Create Account and the Account 2 is back! Etherscan.io transaction matches. But funny that it does not show the transaction history in Metamask.

[2018-02-16 23:14] #3273 closed

[2018-02-16 23:22] Zanibas commented on #3273
We're hoping to have these transaction histories "persist" across sessions. Another feature on a long list of "things we need to do"!

[2018-02-17 00:38] daevski commented on #2243
You originally asked about Seed words, which is why I'm here. Restore with seed (and the same password as my other den) appears to create me a *new* den with only one (new) account. I was expecting it to import the 3 accounts I had in the other browser (just on another PC).

What am I doing wrong? What is "restore from seed" supposed to do!?

[2018-02-17 01:02] bwheeler96 commented on #2243
@daevski the seed word generates accounts in order, deterministically.

Click "new account" twice and you'll have your three accounts back.

[2018-02-17 01:42] daevski commented on #2243
@bwheeler96 First of all, that sounds like a horrible way to implement that, secondly, are you talking about this "Create Account" link? That doesn't help, it just creates empty accounts, and ones with different addresses from the ones I wanted to restore...

![image](https://user-images.githubusercontent.com/1388502/36336855-d4d01fda-1359-11e8-826e-a20ebbc4d906.png)

[2018-02-17 01:49] bwheeler96 commented on #2243
@daevski this wasn't implemented by MetaMask, and it sure wasn't implemented by me (I don't work for MM). This was the design of the BIP 39 standard.

Were your other accounts created from that same seed phrase? If so, this would be how you get them. If not, you will have to import those private keys manually

Does the first account get imported correctly?

[2018-02-17 01:51] daevski commented on #2243
@bwheeler96  Okay, good questions - only the first account was part of that seed, the other 2 accounts were 'loose,' so with that in mind, I can see how they might not be generated with that same seed. I think I will need to import them again. I expected them to appear when using the same seed, but they were not generated with that seed originally. Thanks for the assistance.

[2018-02-17 02:43] kumavis commented on #3285
@callmenick thanks for the great write up -- now we need reproduction steps

can you capture one of the `eth_estimateGas` requests from the [metamask background](https://github.com/MetaMask/faq/blob/master/LOGS.md#background-logs-chrome) network tab?

find the relevant request, right click and select "copy as curl"

[2018-02-17 03:25] callmenick commented on #3285
@kumavis no prob. I'll draft up reproduction steps soon.

[2018-02-17 12:30] vsdigitall commented on #3053
Any comments on this?

[2018-02-17 15:47] slayworm commented on #1950
I guess I'm having the same issue. My Chrome browser crashed and when opened chrome again, had to create either new wallet or restore from seed phrase. So I paniced as I didn't remember if I had saved my seed phrase. I vaguely remembered that I did save it somewhere so I looked at my google keep where I usually save things. But it wasn't there so I just accepted that I lost that money (didn't both

[2018-02-17 16:49] slayworm commented on #1950
I'm actually not sure about if that seed phrase I found is tied with that address I had my ether on. Is it possible to check, which addresses are tied to certain seed phrases?

[2018-02-17 16:55] slayworm commented on #1950
Also I discovered another thing - not sure if this is a bug or not - but when creating a new address on existing vault from "Create Account", the newly created address won't save (only the original address is there) when restoring that same vault from seed phrase.

[2018-02-18 06:10] callmenick commented on #3285
Ok, using the CryptoKitties app. I'm going through the steps of purchasing a kitty that's on sale. I have enough eth in my wallet as captured by screenshot, and kitties are listed for sale.

<img width="928" alt="screen shot 2018-02-17 at 9 56 11 pm" src="https://user-images.githubusercontent.com/2130125/36348898-98e4be74-142e-11e8-909e-ed19b1938a09.png">

I'm attempting the purchase on Kitty #524

[2018-02-18 08:25] ethan-deng commented on #3125
Yes, each account need to be selected and select "Reset Account".

[2018-02-18 11:22] dottedmag opened #3289 "Breaks Norwegian BankID authentication system"
This is the most curious issue I have reported for a long time. Enabling Metamask Chrome extension breaks OTP authentication across all the Norwegian banks using BankID authentication system.

Expected behaviour: enabling/disabling Metamask should not affect logging into banks.

Actual behaviour: enabling Metamask breaks BankID authentication after OTP password step with a "BID-2033" error message

[2018-02-18 12:10] mimoo commented on #3232
Same issue here

[2018-02-18 13:33] elie222 opened #3290 "How to track clicking of "Submit" button in MetaMask?"
We run code like this to do the transaction:
[code]
It takes a while till the `await` returns and for me to know that the Submit button has been clicked by the user since I don't control the MetaMask plugin. Is there a way to know as soon as the user sticks is transaction through by using a callback?

This would help with tracking events too as a user will often refresh a page after submitting a t

[2018-02-18 15:04] halgurdh commented on #2952
I have the same issue, when i try it in incognito mode it works, but when i try normal, it doesn't

[2018-02-18 16:21] tmashuang commented on #3274
Some of the quick solutions would be to switch networks in the top-left network indicator and switch back to Mainnet. Other issues could that some networks could block the network calls for MetaMask to work properly.

[2018-02-18 16:25] tmashuang commented on #3256
ETH and ETC have the same format of private keys and addresses. MetaMask does not support ETC. If can use MEW or MyCrypto with MetaMask and change the network to ETC.

[2018-02-18 16:27] pointtoken commented on #1724
If you are wanting to ShapeShift ERC20 tokens that are in your MetaMask wallet, check out [https://www.efolio.info/shapeshift](https://www.efolio.info/shapeshift) which has a safe and simple implementation.

[2018-02-18 16:39] derekchiang commented on #2426
To restate the significance of this issue: the second callback provides an instance of the contract that has its methods mapped to contract functions.  Without it, it's impossible to actually call any functions on the contract, rendering the deployed contract useless.

[2018-02-18 17:12] derekchiang commented on #2426
In case it helps: the same issue occurs in both Chrome and Firefox.

[2018-02-18 20:25] danfinlay opened #3291 "NewUI: Creating new account does not update account list"
Creating a new account selects the new account, and shows it, but on `uat` the account list does not reflect this new selection.

<img width="372" alt="screen shot 2018-02-18 at 12 23 10 pm" src="https://user-images.githubusercontent.com/542863/36356411-a29df7d2-14a6-11e8-94fe-1c4eaaf4e7ab.png">

[2018-02-18 20:32] danfinlay opened #3292 "NewUI- Creating new send should not trigger popup"
When in full screen mode, initiating a send both:
- Shows confirmation in screen
- Triggers confirmation popup

If the user is in the UI (either full tab or extension action view), a popup should not appear.

<img width="1229" alt="screen shot 2018-02-18 at 12 31 01 pm" src="https://user-images.githubusercontent.com/542863/36356495-a9e1b140-14a7-11e8-8990-9624451584d4.png">

[2018-02-19 00:36] Slyke commented on #2838
I too am having this issue. It took me a while to figure out why my Hangouts suddenly stopped working. I ended up disabling my extensions one by one until it started working, and MetaMask is the culprit. Let me know if you need any details on the versions I'm running.

[2018-02-19 01:29] danfinlay commented on #3285
To understand this problem, it's important to understand the difference between `gasPrice` and `gasLimit`.

Gas price is your bid (in ether) per unit of gas, which ticks up with each operation of a smart contract call.

Gas limit is the maximum number of gas ticks you're willing to pay before automatically failing a transaction (to create a maximum transaction fee).

The two transactions you've po

[2018-02-19 02:40] kevincruelz opened #3293 "Error when try to deposit Token"
Everytime i want to try to deposit my Token to idex.market it's always shows this error but when i try send my ETH it works , i already use Chrome and Firefox and the results are same , can anyone help me with this?
Thanks in advance

Screenshot :
https://imgur.com/LZRjgSM
https://imgur.com/usY1JqV

[2018-02-19 07:44] lazaridiscom commented on #437
@icaroharry , still interested in this? Not sure if its open for bounty, but you could ask.

(@vs77bb , to be fair, @mapmeld announced it within the PR: https://github.com/MetaMask/metamask-extension/pull/3090#issuecomment-364190661)

[2018-02-19 11:14] bjornharvold commented on #3125
I get this error as well. Ganache v1.0.beta.0 Reset all my accounts in MetaMask. Still cannot make a transaction.

[code]

[2018-02-19 12:18] scsaba commented on #2562
I think this is related: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/9259365/

[2018-02-19 15:22] aribo opened #3294 "Local node geth 1.8.1"
I'm having an issue with executing transactions through metamask connected with my geth 1.8.1 local node.

When I send a transactions it indicates "failed" and as reason: undefined is not a promise. Then after I connect again to node Main Network and it can't send transactions anymore either.

![screen shot 2018-02-19 at 16 21 35](https://user-images.githubusercontent.com/92448/36384860-07a2c9ce-1

[2018-02-19 17:34] JOINGROWTH opened #3295 "metamask is sittitng trying to load so i can sign in but wont get there"

[2018-02-19 17:35] joingrowth commented on #3295
is says trying to connect to main eth network but isn't connecting

[2018-02-19 18:56] armaneker commented on #3232
Same issue!

[2018-02-19 19:23] dete commented on #3285
Really comprehensive answer, @danfinlay. Life on the frontier can be rough! 😆

[2018-02-19 19:32] callmenick commented on #3285
Yup, thanks @danfinlay! We're going to dig in hard today and tomorrow as well. So many moving parts, the root of it can be anywhere at this point. I'm looking into some things we changed a couple weeks ago, which actually coincides with these errors. Could be a weird chain reaction happening...I'll keep you posted.

[2018-02-19 20:01] danfinlay commented on #3249
@lazaridiscom You're completely right, both about this feature being sub-project sized, and our team being very busy 😬.

I definitely think this bounty is currently insufficient, and I think we will gradually add more to it (and encourage others to add to it), but we also are budgeted to complete this internally (and we are hiring to help on it), so it's a weird issue for us to add bounties on.

I

[2018-02-19 21:16] lazaridiscom commented on #3249
Send you and email.

[2018-02-20 07:16] gnidan commented on #3285
Hello! @danfinlay alerted me to this issue since I've been doing some maintenance on trufflesuite/truffle-debugger.

Not sure if this applies, but wanted to give you a heads up that if you **are able** to get a failing transaction (ie, get past the `estimateGas` part), then the truffle-debugger in its current state should be able to give some indication what's going wrong.

Note that this is predi

[2018-02-20 08:11] Z6543 opened #3297 "Metamask interferes with website login"
*  Expected Behavior: The metamask extension does not block me from logging in into my internet banking site
  *  Actual Behavior: The metamask extension blocks me from logging in into my internet banking site. If I disable the metamask extension, I can login. Attached is a screenshot about the error from my netbanking app.
<img width="414" alt="screenshot" src="https://user-images.githubuserconte

[2018-02-20 15:18] evgeniuz commented on #3133
Sorry, but it seems that those two issues are inherently conflicting: when using `scriptTag.src` there seems to be no way to ensure that script will load before all other scripts and using `scriptTag.textContent` is disallowed by CSP.

I've noticed that you've tried to use hash to whitelist the script for inline, the file to hash is `scripts/inpage.js`, but the problem is that `sourceURL` comment

[2018-02-20 17:39] JacobAfriat commented on #2915
Was this ever resolved? I am having the same issue. Did Coinbase return your eth?

[2018-02-20 18:22] marcusmolchany commented on #3133
@evgeniuz thank you very much for all the help here.

[2018-02-20 18:46] flockonus commented on #3285
Hey guys, thank you very much for the support.

We gave thought for the problem being in the contract, but i believe from the video and curls pasted below it will be easy to see it's not the case, on my point of view, can be either in the integration with Metamask (either our side or the plugin), or Infura req/response.

Following @kumavis we followed the debug directions and have the results atta

[2018-02-20 19:52] danfinlay commented on #3285
@flockonus unfortunately I'm failing to reproduce errors for any of those requests:

[code]

[2018-02-20 21:32] danfinlay commented on #3297
What's the bank URL?

[2018-02-20 23:37] danfinlay opened #3299 "NewUI - Old UI terms scroll bar cut off on right"
![screen shot 2018-02-20 at 3 37 00 pm](https://user-images.githubusercontent.com/542863/36455198-f42f68e8-1653-11e8-8609-50df6e2cbbb7.png)

[2018-02-21 00:18] danfinlay commented on #3262
I see this error happening specifically when changing the provider in the provider menu. It is being thrown from the `AsyncEventEmitter` class, in its `emit` function.

Ah, in fact, it's `at RpcBlockTracker.AsyncEventEmitter.emit`.

Fuller trace:

[code]

[2018-02-21 07:44] Z6543 commented on #3297
It is https://netbank.erstebank.hu

[2018-02-21 10:38] myhndl opened #3300 "Interrupted MetaMask "Send" Session Replaces Recipient Address with the Empty String"
Browser:
Chrome + MetaMask extension

OS:
Linux

Expected behavior:
1. user clicks MetaMask icon
1. user clicks Send
1. user populates `Recipient Address`, `Amount`, and / or `Transaction Data`
1. user clicks away from MetaMask, e.g. onto the webpage they're interacting with, dismissing the popup
1. user clicks MetaMask icon again
1. user clicks Send
1. previously completed `Recipient Address`, `A

[2018-02-21 10:43] suenot opened #3301 "Inject metamask interface into page"
I want to inject metamask into html (not popup) of my dapp project. What is the correct way to do this?

[2018-02-21 11:51] lazaridiscom opened #3302 "[PROJECT] Provide a Graphical Subsystem Overview"
(affects #3249)

I was trying to get a bird-view on the MetaMask Architecture & Source-Code-Base. Ideally, this would be a graphical overview which shows the relevant subsystem and their major functional relation.

What would help alternatively in a quick-n-dirty way: a tiny textual overview, like this:

[code]

## Architecture

This one is good for an overview, but does not mention all the code-m

[2018-02-21 11:55] cjeria opened #3303 "Onboarding Screen (New UI) Design Feedback"
Let's make this screen responsive. I would also argue that the fox and message on this screen is redundant. The user at this point has already installed MetaMask so we don't need to continue selling it this far into the experience. I would push for a welcome screen (See #3045 )before this screen if we want to showcase the moving head fox and description.

<img width="399" alt="screen shot 2018-02-

[2018-02-21 12:15] lazaridiscom commented on #3303
(Stumbled on this by accident... now I have the chance to shoot him for good)

A bit "new user" "newcomer" feedback:

* I shot the fox (first with AdBlock, and then by code as he insisted). Cute, but **highly** annoying when you work with MM. There should be an **option to disable the Fox**, at least to disable the animation.
* Main Network... there is only **one** network for a simple end-user: E

[2018-02-21 12:44] mili2110 commented on #2562
any progress on this? want to fully move to Microsoft Edge but need MetaMask to fully move from Chrome :/

[2018-02-21 14:20] jaypersanchez opened #3304 "Meta Mask in Chrome using Ganache"
I don't see any post similar to this so I apologize in advance if this has been solved already or if there is already a similar post.  Using Ganache to test my smart contract along with Metamask in current version of Chrome.  It took a bit for me to notice that when I have metamask enabled, I am not able to connect to the localhost:7545 and I don't see any of my accounts.  But when I have Metamask

[2018-02-21 15:32] alextsg commented on #3303
Thanks @cjeria. Adding this to our sprint.

[2018-02-21 15:37] pablasso commented on #2350
I don't think we should delete comments as they give you a good sense of where the conversation was heading and why decisions where taken. Update the top comment with the latest info is fine, although I'm not sure if this is a good use of time for the maintainers while we can just invest more time reading the threads — big threads like these are the exception not the rule.

I'm not drinking margar

[2018-02-21 16:14] logicethos commented on #3303
I don't like the fox watching my mouse all the time.  It's a distraction, and gimmicky IMO.  I wonder if he is going to steal my private keys.

[2018-02-21 17:01] cjeria opened #3305 "User feedback regarding network selection UX"
User commented in issue #3303

(Stumbled on this by accident... now I have the chance to shoot him for good)

A bit "new user" "newcomer" feedback:

* I shot the fox (first with AdBlock, and then by code as he insisted). Cute, but highly annoying when you work with MM. There should be an option to disable the Fox, at least to disable the animation.
* Main Network... there is only one network for a

[2018-02-21 18:29] danfinlay commented on #2562
It will be visible when progress is being made on this, because it will be assigned to a developer, and marked with the `in progress` badge.

[2018-02-21 18:35] danjm commented on #3292
I created a PR to resolve this: https://github.com/MetaMask/metamask-extension/pull/3306

[2018-02-21 18:42] domharrington commented on #2426
@derekchiang the workaround here works, and you can get the contract instance: https://github.com/trufflesuite/truffle-contract/issues/70#issuecomment-355376332

[2018-02-21 20:38] olzhas1987 opened #3307 "lost my key to myetherwallet, but can connecting via metamask, is it safe?"

[2018-02-21 21:01] vs77bb commented on #3249
@lazaridiscom Glad to see you taking this on! This is definitely an experiment so we'll be excited to hear feedback from both you and @danfinlay as things progress 🙂

[2018-02-21 21:56] callmenick commented on #3285
@danfinlay @kumavis @gnidan I think we found the solution, and it seems to be an issue that bubbled from geth all the way up through to the app. I'll be writing a detailed synopsis here soon, but just want to give you three a ton of thanks for the in depth details and discoveries. They all helped a lot.

[2018-02-21 23:46] #2598 closed

[2018-02-21 23:48] lazaridiscom commented on #2350
@pablasso, all fine then. We all continue to go fishing for relevant info (sometimes missing this way even a bug-fix which was posted within a critical issue).

I do not want to take this over (for now). I just wanted that @danfinlay & @kumavis realize that this issue should possibly be labled "highest priority", and not "good first issue".

But most importantly I just wanted an answer to this que

[2018-02-21 23:53] danfinlay commented on #2350
I don't think this is the case anymore. Web3 is now basically a convenience layer on top of the `provider` API. Eventually, the Provider API will be injected probably without web3 at all ([Mist has already deprecated the web3 global](https://github.com/ethereum/mist/releases/tag/v0.8.10)).

For example, the Ethereum provider can be used to initialize other convenience libraries, like my favorite,

[2018-02-22 01:18] lazaridiscom commented on #2350
@danfinlay , ok then, taking in account what you wrote, and this here:

I looks like the task should be:

* remove internal dependency to web3 (as in: get rid of web3)

(what we discuss here should be visible/documented immediately, thus interested contributors can contribute faster. This relates to #3302)

[2018-02-22 02:00] lazaridiscom commented on #3249
@vs77bb - Really? You (the gitcoin staff) should really not comment on issues subjecting the bounties. Stay neutral, please(!). So, lets try this "deleted comment" now. (you may want to file a "provide issue comment guidelines for gitcoin stuff", with the main rule "stay out of issues talk")

[2018-02-22 02:16] danfinlay commented on #3249
@lazaridiscom Whoah, what's wrong here? The Gitcoin staff posted this bounty, not us, so this is very much their experiment as much as it is ours. What could possibly be wrong with him chiming in with support here?

I'll add here that @lazaridiscom and I have talked a bit via email, and I agreed that since this issue is underpriced, it may be fair to award it for sufficient documenting/planning wi

[2018-02-22 02:36] lazaridiscom commented on #3249
@danfinlay , I "fight" with gitcoin and its staff since days, mainly to reduce the side-noise within issues. I do this in the role of a "user" or "customer", so I possibly sound sometimes a bit itchy (as usual users and customers do).

Oh...!

Well, I'm human, and thus I've the right to make an error, right?

Boss! Sorry! (@vs77bb )

[2018-02-22 02:38] danfinlay commented on #3249
As long as you're just trying to improve the product, and they understand the spirit, that's fine with me. It looked explosive without that context.

[2018-02-22 02:48] lazaridiscom commented on #3249
Of course. I like the product (even placed a bounty myself), and want it to become better.

"explosions" happened a few times within the gitcoin project (with parentheses explaining things calmly). They understand (and usually react to the feedback).

You're totally right (just went through). I may add that this "delete messages" thing is "under discussion" currently, too (e.g. deleting old messag

[2018-02-22 04:26] owocki commented on #3127
just put in a fix for the gitcoinbot craziness.  gonna monitor for the next few hours to make sure we're all good.

[2018-02-22 05:19] inter23 commented on #3280
Hi, facing the same issue, changing of chrome text size doesn't help. Win7 Chrome

[2018-02-22 08:19] homeleon1 opened #3308 "how can I send tokens from Metamask, in tools I do not see this possibility"

[2018-02-22 16:59] cmditch commented on #2350
Hey @pablasso and @owocki thanks for working/funding this issue! This will finally make [elm-web3 ](https://github.com/cmditch/elm-web3) compatible with metamask.

[2018-02-22 18:36] danfinlay commented on #602
I think it's alright, we have it in master, and it will be published *soon*!!!

[2018-02-22 19:27] trigun0x2 commented on #1666
Any updates on this? I'm still getting one popup per batch transaction added.

[2018-02-22 21:16] danfinlay commented on #1666
Sorry, this hasn't made top priority in a while, we've been a bit over-busy. I'm marking as bounty worthy so we might add a bounty to encourage an external contribution.

[2018-02-22 21:20] trigun0x2 commented on #1666
Thanks for the response @danfinlay I will take a look at the code.

[2018-02-22 23:13] violalbi91 commented on #1361
Same issue, any update?

[2018-02-23 00:40] lazaridiscom commented on #602
@mattotodd , sorry, oversaw this ping in the "jungle" of notifications. But it seems all went fine!

[2018-02-23 03:47] lazaridiscom commented on #952
@danfinlay

(may I simply ping in such outdated issues? )

[2018-02-23 07:43] lazaridiscom commented on #2350
I understand that it is one thing what MetaMask uses internally, and another thing what the developers of applications use/need.

So it could have low priority for the MetaMask team (e.g. could be removed, to alight efforts with Ethereum main projects), but it could have high priority for users (although I feel that they should adjust to what the Ethereum mother projects use, too).

I would really

[2018-02-23 12:28] scsaba commented on #2562
I finished working on this issue, please review my pull request.

[2018-02-23 13:24] kn1g opened #3311 "What is the best way to watch events?"
I always get in trouble with things like `var filter = web3.eth.filter({fromBlock: '5139365', toBlock: 'latest'}); filter.watch(function(_err, _resp){ ... `

What is the recommended way to watch for new blocks when using the MetaMask provider?

[2018-02-23 16:15] SteffenLanger commented on #1653
If anyone finds this through Google, here is how MetaMask solves the issue today: https://metamask.helpscoutdocs.com/article/36-resetting-an-account

In essence, there is a [Reset Account] button in the settings.

[2018-02-23 19:04] cmditch commented on #2350
@lazaridiscom

MetaMask is understandably very busy. web3-1.0.js is also still in beta. Luckily the repo is open source, and anyone can make a PR to help add the needed features. Better still, there's a GitCoin bounty attached to helped incentivize such work. Ultimately nothing but ourselves is stopping this from getting done.

Also, forgive me, having a bit of trouble understanding what you're tr

[2018-02-23 19:37] scbrownell commented on #2838
I'm having this problem as well. If I disable the MetaMask extension, Hangouts works normally.

[2018-02-23 23:37] cjeria opened #3312 "**Design for multiple pending TX cancellation**"
We need to design for better "Cancel pending transaction" UX

Users submit multiple tx because their tx don't get processed quick enough and they get impatient. This is very common UX problem we're seeing.

User issue from support
https://secure.helpscout.net/conversation/529439026/8558/

[2018-02-23 23:58] cjeria commented on #3312
Here's the user story:

"As an ICO investor, I want to cancel multiple transactions so that I can get my ETH returned to me after I submitted multiple transactions to the same address."

[2018-02-24 00:15] cjeria commented on #3312
I drew a scenario to more visually represent the (theoretical) UX of cancelling pending transactions.
![image](https://user-images.githubusercontent.com/597770/36622833-9d01979a-18b4-11e8-968c-289bf0d77b25.png)

[2018-02-24 00:23] lazaridiscom commented on #2350
@cmditch , nothing to forgive, I have to apologize for not expressing this clearly. I try to rephrase this:

## MetaMask Requirements

MetaMask AddOn:

* **must** stay compatible to major libraries (Ethereum main projects)
* **should** reduce internal reliance on web3

and now the question:

* **should** ( ? ) or **must** ( ? ) provide/expose web3 functionality to Application Developers?

If this

[2018-02-24 01:36] quantumproducer opened #3313 "Firefox Broken UI: Popup closes immediately"
1) Using Firefox, importing JSON File: When I click browse to find a file, the prompt closes.
Therefore it's impossible to import via JSON file on Firefox.
On Brave this works fine.

2) Seen similar inconsistent behavior with transaction prompts on Firefox. Sometimes a new window pops up, othertimes I have to click the fox to see it.

3) When signing for a transaction, this could mean I can't scro

[2018-02-24 05:04] FreeMako opened #3314 "Bug Bounty: Spontaneous Storage Loss"
=========MODERATOR EDIT =========

This issue now represents a bug bounty for finding any bug where MetaMask would spontaneously wipe all of its storage, suddenly asking a user to create a new vault, as if they had never set up an account.

========= USER ORIGINAL POST: ========

When clicking on the extension icon in Chrome instead of receiving the usual login screen I see a screen saying "Encryp

[2018-02-24 05:06] MOKAKI opened #3315 "the metamask in private network can not send the coin"
hi pls help me..

i wish send the coin on  private network in metamask(chrome)
i don't know how can do this
i am beginner

i already use "geth" build my private network in my windows 7

start up code is:

geth --identity "DAPP0222" --rpc --rpccorsdomain="chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/popup.html" --datadir data  --port "30303" --rpcapi "db,eth,net,web3" --networkid 9394 consol

[2018-02-24 09:36] GrandSchtroumpf commented on #2350
Hey guys, I'm following this thread since the beginning and I don't see the end of it ...
The aim was to get compatible with web3 1.0 than relies on websocket for events and some subsciptions.

The facts are :

- Many project relies on, and work with, web3: this is a library with many features, well documented, it's quoted in the ethereum wiki, there are videos, blog posts, trainings about it...
-

[2018-02-24 14:19] lazaridiscom commented on #3249
@danfinlay , can you please try to split this document into two major sections: core-library, ui-library. Those should be separated strictly (at least its the theoretical goal). If I reach implementation phase, then I will provide only the core.

@vs77bb, It looks like I'm throwing rocks here. Please confirm that you know its just pop-corn.

[2018-02-24 22:01] dangell7 commented on #1706
Where are we at with this? Seems like using a dapp browser or using an in-app wallet is the biggest question right now...

[2018-02-25 02:06] indescrypto commented on #3314
PLEASE HELP. I had the same exact error. Where is login info store? Is it a local cookie or the metamask browser itself, cause I have never had this issue before. But now I cant login to my metamask and use any DAPPS :(

[2018-02-25 03:28] mjbrienza19 opened #3316 "Unable to send tokens"

[2018-02-25 08:36] DanielMReed commented on #3127
I have recreated the steps above and found the same, only the first account is restored, will look at the codebase to try and pin down why but @DavidFnck has it correct.

[2018-02-25 08:59] DanielMReed commented on #3220
Should either company be preferred? Should both not be included?

[2018-02-25 09:11] BinaryQuasar commented on #3127
@DavidFnck The accounts should be restored one-by-one when you perform "create account" in the fresh MetaMask.

[2018-02-25 16:30] prekop opened #3317 "Zg"

[2018-02-25 17:03] lazaridiscom commented on #3317
totally agree...

[2018-02-26 04:57] owocki commented on #3249
hey @lazaridiscom hit me up on slack when you get a sec tomorrow

[2018-02-26 05:47] woniesong92 opened #3318 "Uncaught Error: Provided address "" is invalid,"
All of sudden, I am getting the error `Uncaught Error: Provided address "MY_ADDRESS" is invalid, the capitalization checksum test failed, or its an indrect IBAN address which can't be converted.`

Using the latest metamask with a valid account address.

[2018-02-26 08:37] abbasabba commented on #3307
The eth is "safe" for a lack of better words yes... However it is either non accessible or on the verge of not being accessible if u do not either move it or take the steps to protect it with a password in a hot wallet environment im assuming its currently stored in.  I would suggest storing it on a trezor to keep it out of hands of "The Lost Boys of Bitcoin" to make truly safe as well as in your

[2018-02-26 08:41] costa595 commented on #3311
I've faced with the same problem, watching events is a headache

[2018-02-26 08:47] avinashvattikutti commented on #2720
hello everyone
I am not able to create contract address! when environoment is web3
could anyone please help me out

[2018-02-26 08:49] lazaridiscom commented on #3249
@owocki , tomorrow? Sheduling is a totally creativity killer, especially during harder code-dives. I tried just now, only for Slack telling me you're on "Do Not Disturb" (instead of simply indication this by a nice glowing red dot). Now I have again enough of Slack for the next month or so.

Sent you and invite @ Hangouts. Telegram is nice for focused chat, too. Although you could simply send me a

[2018-02-26 09:14] bluebirdly opened #3319 "Changing metamask rpc provider programmatically"
Is there a way to use MetaMask's currentProvider, and simply point it to a third party rpc-json provider programmatically (i.e. not through the extension gui)? Or do I have to go down the provider-engine -> RpcSubprovider route?

[2018-02-26 10:06] lazaridiscom opened #3320 "[SEVERE] Incoming Transactions are not Displayed."
## Issue

This morning I told someone that I did not received his payment. Then suddenly it hit me

 * SENT | TOKENS

I realized that MM does not show incoming transactions, which is **totally confusing** to me.

## Expected

As its natural to any account, MM should show me the 3 relevant things of my Eth Accounts:

* Balance
* Received
* Sent

[2018-02-26 13:10] vitaliy-kuzmich opened #3321 "does not accept value"
Hello, I am trying to send transaction, but unfortunately metamask does not see value from parameters.

[code]

[2018-02-26 13:38] Kralunar commented on #2043
Same issue, switch internet Main-Secondary doesn't work :'( help

[2018-02-26 16:07] mecampbellsoup commented on #2837
What does it actually stand for? Very curious; came here wondering the same thing.

[2018-02-26 16:16] nsoia opened #3322 "rejected transaction but not refund my ETH"
hello.

rejected transaction but not refund mt ETH

txid : 0x101f990516e210718361037442908f0227e836255b0740c6368302b6fbad05c1

please refund my ETH.

thanks.

[2018-02-26 18:35] tmashuang commented on #3322
If a transaction was sent and tried to retry a transaction with a higher gas price, but you selected reject instead of changing the gas price, this is not a feature to reject a transactions. Once a transaction was sent on the network, it can either fail or succeed. This transaction was successful and was sent to the recipient address.

[2018-02-26 18:35] #3322 closed

[2018-02-26 18:36] tmashuang commented on #3320
Duplicate issue. Closing in favor of #133.

[2018-02-26 18:36] #3320 closed

[2018-02-26 19:07] #3292 closed

[2018-02-26 19:09] #2332 closed

[2018-02-26 19:11] #3173 closed

[2018-02-26 19:12] danfinlay commented on #3174
This is a duplicate, we should find the other and use its well reasoned opinions if they exist.

[2018-02-26 19:18] tmashuang commented on #2477
This should have been fixed in #3146. Please comment if this is still an issue.

[2018-02-26 19:18] #2477 closed

[2018-02-26 19:21] danfinlay commented on #3178
I suspect this is a local dev issue, so please ask the question publicly on Stack exchange:
https://ethereum.stackexchange.com/

We'll look at it when we can, but it's unlikely this is a bug on our end, and our github is reserved for bugs and issues, not usage questions.

[2018-02-26 19:21] #3178 closed

[2018-02-26 19:32] #3199 closed

[2018-02-26 19:32] #3164 closed

[2018-02-26 19:33] Zanibas commented on #3218
If you're still having this issue, can you try re-adding accounts from "add account" and see if that shows your other accounts?

[2018-02-26 19:34] #3264 closed

[2018-02-26 19:34] #3299 closed

[2018-02-26 19:35] kumavis commented on #3228
filling up the sentry logs

[2018-02-26 19:35] #3291 closed

[2018-02-26 19:36] #3317 closed

[2018-02-26 19:36] danfinlay commented on #537
Closing as duplicate #714.

[2018-02-26 19:36] #537 closed

[2018-02-26 19:36] danjm commented on #3262
@danfinlay can you confirm whether this was an issue with your local build? And if so, it can be closed, correct?

[2018-02-26 19:36] #3171 closed

[2018-02-26 19:38] danjm commented on #3263
@danfinlay was this also an issue with your local build?

[2018-02-26 19:38] jbpin opened #3325 "Error with metamask when adding watch in an Event"
Sorry for the format.

I try to add a watch on an event sent by my contract and I got this error

[code]

Here is the call
[code]

[2018-02-26 19:39] Zanibas commented on #3226
Apologies, can you clarify if there is an additional ask here in terms of fixing something within MetaMask

[2018-02-26 19:39] #3058 closed

[2018-02-26 19:39] danfinlay commented on #976
Having a time limit on a tx's validity makes plenty of sense, but since this would affect multiple clients, this belongs as an EIP, not a MetaMask issue. I would recommend people wanting this feature to open an EIP specifying exactly how they imagine this feature would work.

[2018-02-26 19:39] Zanibas commented on #3238
Are extensions enabled by default in private windows?

[2018-02-26 19:39] #2945 closed

[2018-02-26 19:39] kumavis commented on #3307
yes its safe, it does not give access to your private keys to myetherwallet

[2018-02-26 19:39] #3307 closed

[2018-02-26 19:40] #3001 closed

[2018-02-26 19:40] tmashuang commented on #3183
The seed phrase for accounts is the primary way to back up multiple accounts, keystores are for individual accounts. Secondly, MetaMask allows the feature to download a file for MetaMask's seed phrase if users prefer not to hand write it down when first creating a seed phrase. If individual accounts are preferred to manage, we also allow exporting individual private keys under the three horizontal

[2018-02-26 19:40] #3183 closed

[2018-02-26 19:41] alextsg commented on #3045
Try Beta links have been added.

[2018-02-26 19:41] #3045 closed

[2018-02-26 19:41] #2386 closed

[2018-02-26 19:42] #3256 closed

[2018-02-26 19:42] frankiebee commented on #3313
@quantumproducer issue 1 that you have writen about is a known bug for firefox+linux
can you provide your firefox version?

[2018-02-26 19:43] kumavis commented on #3248
done

[2018-02-26 19:43] #3248 closed

[2018-02-26 19:43] #3158 closed

[2018-02-26 19:44] #3247 closed

[2018-02-26 19:45] alextsg commented on #3168
@cjeria Can you add a link to the design for this? Thanks.

[2018-02-26 19:45] danfinlay commented on #2571
Closing until we have better reproduction steps.

[2018-02-26 19:45] #2571 closed

[2018-02-26 19:46] #602 closed

[2018-02-26 19:47] frankiebee commented on #3301
This would create an attack vector for metamask in which dapps could pose to be mketamask ask for private key's, clickjack etc. so we do not currently provide a way to do this.

[2018-02-26 19:47] #3301 closed

[2018-02-26 19:47] alextsg commented on #2575
Will triage to verify

[2018-02-26 19:48] tmashuang commented on #3190
There could be a couple nuances here and their deductions. If the transaction hash that was generated on MetaMask is different than the transaction that it was successful it will show the Etherscan message 'Sorry, we are unable to locate this Transaction Hash'. The only way I see this message is if the transaction was retried with a higher gas price, but the first transaction was successful. The r

[2018-02-26 19:48] #3190 closed

[2018-02-26 19:48] #2439 closed

[2018-02-26 19:49] Zanibas commented on #3271
If you're being asked for a new password, then it may mean that Chrome has cleared out your extension data. You are not being targeted most likely. Also, each chrome extension installation requires its own separate password per computer, since there is no central storage for these passwords (all local).

[2018-02-26 19:50] danfinlay commented on #3096
Hi Eugene, sorry for the long wait.

MetaMask worked with RSK early on to ensure that MetaMask is compatible with RSK, as is, out of the box, users simply need to add a custom URL.

Since this is not an ideal UX, it's worth considering what is a better UX. Do you really expect users to install a custom extension for every blockchain in the future? That sounds pretty unpleasant for the user to me.

[2018-02-26 19:50] #3096 closed

[2018-02-26 19:50] frankiebee commented on #3293
hey @kevincruelz the application is trying to send a transaction with to high of a nonce so we dont allow that. This sounds more like an issue with index.market

[2018-02-26 19:51] Zanibas commented on #3272
This requires us to implement the per-login architecture. Thank you for bringing this up--this definitely ups our priority on this.

[2018-02-26 19:51] #2473 closed

[2018-02-26 19:52] Zanibas commented on #3284
Sorry, how are you able to do these transactions on your phone? Are you using MetaMask or another app?

[2018-02-26 19:52] cjeria commented on #3168
@celinepark94 can you add your designs for this screen here for review?

[2018-02-26 19:54] #2496 closed

[2018-02-26 19:54] danfinlay commented on #3140
This bug sounds possibly related to the one described in #3285. For some reason many people are getting out of gas errors when estimating gas, both on geth and parity.

Closing this issue in favor of that one, because this issue dealt with a different problem that was fixed, and that one includes much more specific investigation into that issue.

[2018-02-26 19:55] Zanibas commented on #3294
Sorry, could you submit this as a ticket to our helpdesk with reproduction steps and your state logs, and mention my username on it? @Zanibas. We'll be able to help you more there with more privacy.

[2018-02-26 19:56] Kail68 commented on #3284
Hey, using my s7. Have Firefox with metamask extension on it.

Working fine now, there is a tiny X that you can press to manually enter
gas.

On Feb 26, 2018 2:52 PM, "Kevin Serrano" <notifications@github.com> wrote:

[2018-02-26 19:57] tmashuang commented on #3219
Unfortunately, we have no control over how Brave implements MetaMask. Will post an issue with the Brave project, here https://github.com/brave/browser-laptop/issues/13315.

[2018-02-26 19:58] danfinlay commented on #3187
Hi doc, sorry for the slow reply.

There is no console.log that will show either the password or seed phrase, from either a visited Dapp or the metamask UI.

The seed phrase is stored in memory when MetaMask is unlocked, and this allows additional account key pairs to be generated when the UI requests this, but the secret key is never passed to the user interface, except for the "reveal seed phras

[2018-02-26 19:58] #3187 closed

[2018-02-26 19:59] #2472 closed

[2018-02-26 19:59] cjeria commented on #3219
Thanks @tmashuang !

[2018-02-26 20:01] #2977 closed

[2018-02-26 20:01] danfinlay commented on #3191
Hi, very sorry for the unsuccessful help you got so far.

To restore an account from seed phrase, you don't have to uninstall/reinstall. You can simply lock metamask (top right menu) and click "Restore from seed phrase".

When you restore from the seed phrase, we only re-generate your first account at first, but you can click "Create account" in the top right account menu extra times to re-generat

[2018-02-26 20:01] #3191 closed

[2018-02-26 20:02] danfinlay commented on #3220
I think it's OK for us to prefer the interface that we have the best personal relationships with, which includes doing the best user support (keeping users from coming to us frustrated).

That said, we're adding our own token sending functionality soon, so this is not a high priority link overhaul.

[2018-02-26 20:03] #2543 closed

[2018-02-26 20:04] #2535 closed

[2018-02-26 20:05] danfinlay commented on #3227
To restore your old account on a new installation of MetaMask, you just click "Restore from seed phrase" during the setup process, after agreeing to terms on the fresh installation.

The process is basically described here:
https://metamask.helpscoutdocs.com/article/28-using-metamask-on-multiple-computers

As long as you saved your 12 word seed phrase when first setting up, you can always restore

[2018-02-26 20:05] #3227 closed

[2018-02-26 20:06] #1222 closed

[2018-02-26 20:07] danfinlay commented on #3246
Hi Elie, sorry for the wait.

7.6 mil may be too high a gas limit right now, but how do you know that? You went to a web site to learn it. MetaMask similarly has to rely on the network to learn of its state. My guess is that a bug caused MetaMask to conclude incorrectly that the gas limit should be this high.

What would really help us track this bug down would be state logs from a MetaMask instan

[2018-02-26 20:07] kumavis commented on #1222
we're now using a mix of provider-engine and json-rpc-engine middleware
individual middleware that needs to be converted can have its own issue opened

[2018-02-26 20:08] danjm commented on #2468
Marking as a duplicate of other tickets meant to handle this functionality. In particular, https://github.com/MetaMask/metamask-extension/issues/3037

[2018-02-26 20:08] #2468 closed

[2018-02-26 20:11] danfinlay commented on #3255
On your first question:
Sometimes if you get an infinite "Connecting" spinner, you can fix this by switching the network in the top left menu to a different network and back again.

If your account was removed from Chrome, you can use your 12-word seed phrase to restore your account when first setting MetaMask up. If you already created a different vault, you can lock MetaMask (top right menu) and

[2018-02-26 20:11] #3255 closed

[2018-02-26 20:11] danfinlay commented on #3266
No easy way of doing the first one, but we've merged the second.

[2018-02-26 20:11] #3266 closed

[2018-02-26 20:12] danfinlay commented on #3285
Looking forward to that synopsis, @callmenick! Can we mark this as closed?

[2018-02-26 20:12] danfinlay commented on #3295
We're working on fixing this when it happens, but glad you found the workaround.

[2018-02-26 20:12] #3295 closed

[2018-02-26 20:15] danfinlay commented on #3304
Is it possible that ganache is on a different port? This might be a question for the ganache team, they have lots of docs and tutorials here: http://truffleframework.com/ganache/

As for MetaMask, pointing at a local address should work if you have a server running on that port.

The reason you see that account when not connected to MetaMask, is probably because your app is checking for MetaMask's

[2018-02-26 20:15] #3304 closed

[2018-02-26 20:16] tmashuang commented on #3127
https://gitcoin.co/funding/details?url=https://github.com/MetaMask/metamask-extension/issues/3127

[2018-02-26 20:17] danjm opened #3326 "Implement new designs for 'Add Token' screen in NewUI"
@cjeria has some very nice new designs for the 'Add Token' screen. These need to be implemented.

Should resolve #2495

[2018-02-26 20:17] tmashuang commented on #3258
A couple insights about seed phrases are, they are very precise and adding an extra prefix/suffix to a word can still be a valid seed phrase to generate an list of accounts. Initially, if the original seed phrase was written incorrectly it may generate a new list of accounts. This issue has been an ongoing investigation to better improve first account creation. We have the bounty out for any exter

[2018-02-26 20:17] #3258 closed

[2018-02-26 20:19] danfinlay commented on #3305
- Removing the fox? No thanks. Esp. since he eventually regrets removing it himself.
- Main network, correct. Not a question.
- What kind of fancy stuff? This isn't specific enough to be actionable.
- This is the same reason that Kirk refuses to use MetaMask. He's permanently terrified that he'll think he's on a test network, and send real ether. I think this is a developer problem, and for that r

[2018-02-26 20:21] danfinlay commented on #3316
Currently we recommend using a web UI like MEW to send tokens:
https://metamask.helpscoutdocs.com/article/32-sending-tokens-with-metamask-and-myetherwallet

We are rolling out a token sending feature very soon, in our new UI. You can try it early by looking out for "Try Beta!" in your top-right MetaMask menu.

[2018-02-26 20:21] #3316 closed

[2018-02-26 20:21] tmashuang commented on #3232
This bug sounds possibly related to the one described in #3285. For some reason many people are getting out of gas errors when estimating gas, both on geth and parity.

Closing this issue in favor of that one, because this issue dealt with a different problem that was fixed, and that one includes much more specific investigation into that issue.

[2018-02-26 20:21] #3232 closed

[2018-02-26 20:22] tmashuang commented on #3212
This bug sounds possibly related to the one described in #3285. For some reason many people are getting out of gas errors when estimating gas, both on geth and parity.

Closing this issue in favor of that one, because this issue dealt with a different problem that was fixed, and that one includes much more specific investigation into that issue.

[2018-02-26 20:22] #3212 closed

[2018-02-26 20:22] danjm commented on #2495
This should be resolved with the implementation of https://github.com/MetaMask/metamask-extension/issues/3326

[2018-02-26 20:23] #2495 closed

[2018-02-26 20:25] tmashuang commented on #3274
Closing issue as duplicate for #2043, #2529, and potentially #3151.

[2018-02-26 20:26] #3274 closed

[2018-02-26 20:31] frankiebee commented on #3280
@Obie-Wan @inter23 can you provide your browser types that you are using and what would be most useful is a screen shot.

[2018-02-26 20:31] tmashuang commented on #3290
This issue seems to be a implementation decision for a contract. I believe it would be better to gain insight through https://ethereum.stackexchange.com/

[2018-02-26 20:31] #3290 closed

[2018-02-26 20:33] alextsg commented on #2333
Will verify it's been fixed

[2018-02-26 20:34] alextsg commented on #2324
Will verify it's been fixed.

[2018-02-26 20:36] tmashuang commented on #3300
Closing duplicate issue #2509. The issue has a work around, and a incoming solution.

[2018-02-26 20:36] #3300 closed

[2018-02-26 20:38] frankiebee commented on #3237
@danfinlay can this be closed or is their some more plan of action for this issue?

[2018-02-26 20:40] tmashuang commented on #3318
Is this error message coming from a Dapp? Any more context to this error message would be greatly appreciated.

[2018-02-26 20:41] tmashuang commented on #3314
To restore your old account on a new installation of MetaMask, you just click "Restore from seed phrase" during the setup process, after agreeing to terms on the fresh installation.

The process is basically described here:
https://metamask.helpscoutdocs.com/article/28-using-metamask-on-multiple-computers

As long as you saved your 12 word seed phrase when first setting up, you can always restore

[2018-02-26 20:43] tmashuang commented on #3308
Please refer to our knowledge base with sending tokens to MEW/MyCrypto https://metamask.helpscoutdocs.com/article/32-sending-tokens-with-metamask-and-myetherwallet. This feature will be added shortly into MetaMask.

[2018-02-26 20:43] #3308 closed

[2018-02-26 20:44] frankiebee commented on #3319
currently their is no way for a application to set the provider. So for now you'd have to check the network id and then prompt the user to switch networks

[2018-02-26 20:44] #3319 closed

[2018-02-26 20:55] cjeria commented on #3305
@danfinlay I think the user was basically suggesting something we've already been discussing, which is to add more UI customization controls from within settings. In this specific case, he's suggesting hiding the network switcher for non-devs but giving devs the ability to turn it back on (in settings). We should always default to main-net. I agree with this.

Re: the fox - Just to clarify, I was

[2018-02-26 21:05] JOINGROWTH commented on #3295
Dan nmy computer crashed and had to reset everything I have my jgc tokens
in metamask so i reinstalled meta mask and put send word frase in but its
not showing my tokens at all the person that sent them to me is my business
partner he is here with me any way opf helping

On Mon, Feb 26, 2018 at 2:13 PM, Dan Finlay <notifications@github.com>
wrote:

[2018-02-26 21:08] cjeria commented on #3326
![image](https://user-images.githubusercontent.com/597770/36695388-080fc618-1af6-11e8-86ee-67f64f5bee3e.png)

[2018-02-26 21:08] cjeria commented on #3326
@danjm See above

[2018-02-26 21:13] cjeria commented on #3326
These are not updated on invision yet, but will do today.

[2018-02-26 21:25] vs77bb commented on #2562
@danfinlay This one looks to be in your queue! Hope you're having a good MetaMask Monday 🙂

[2018-02-26 21:26] tmashuang commented on #2716
I apologize for losing focus on this issue. I have testing the reproduction steps on Ubuntu 14.04 and still am able to click Custom RPC. Alternatively, you can navigate to the Settings screen to input a Custom RPC, since it is the screen that will navigate to it when clicking Custom RPC, in the three vertical lines icon in the top-right. Closing this issue.

[2018-02-26 21:26] #2716 closed

[2018-02-26 21:27] elie222 commented on #3246
Ok. I'll try and get them the next time this happens to a user. In general
we tell users to reject an extremely high gas limit and try again. I know
CryptoKitties had the same issue and some of our users were aware of the
problem before they even started playing our game.

Elie

On 26 Feb 2018 22:08, "Dan Finlay" <notifications@github.com> wrote:

[2018-02-26 21:29] vs77bb commented on #2562
@scsaba Did you happen to click 'Submit Work' here on Gitcoin? If not, please do so + let us know if you have any issues! CC @owocki

[2018-02-26 21:29] elie222 commented on #3290
How is this the contracts decision?

I mean from the time the user clicks submit to the time there's a callback
from metamask / web3, there's a significant break. This doesn't happen
instantaneously. Is the wait time the amount of time it takes to send the
tx, because it feels unnecessarily long in that case.

On 26 Feb 2018 22:31, "Thomas Huang" <notifications@github.com> wrote:

[2018-02-26 21:31] tmashuang commented on #3290
Seems like this is possible related? https://ethereum.stackexchange.com/questions/36779/get-transaction-hash-and-mined-receipt

[2018-02-26 21:36] owocki commented on #1459
fibnally got around to killing the bounty.  @heyellieday i paid out a smaller amount via a tip as a thank you for your time :)

[2018-02-26 21:43] elie222 commented on #3290
That looks like it may solve my problem! Thanks

On 26 Feb 2018 23:31, "Thomas Huang" <notifications@github.com> wrote:

[2018-02-26 21:44] danfinlay commented on #3076
Fixes #3071

[2018-02-26 22:05] tmashuang commented on #3137
Closing a duplicate issue, #3219 and opened on https://github.com/brave/browser-laptop/issues/13315.

[2018-02-26 22:05] #3137 closed

[2018-02-26 22:26] tmashuang commented on #1706
Related to https://github.com/MetaMask/metamask-extension/issues/714.

[2018-02-26 22:29] Obie-Wan commented on #3280
![mm](https://user-images.githubusercontent.com/669667/36699315-4fe01f1c-1b5d-11e8-933b-34e284c4b8b2.jpg)

OS: windows 7 64
browser: chrome 64.0
resolution: 1600x1200
display: dell u2414M

[2018-02-26 22:29] tmashuang commented on #576
Closing old issue.

[2018-02-26 22:29] #576 closed

[2018-02-26 22:34] tmashuang commented on #3280
It is not chrome's text size that needs to be changed, but the actual windows display text size.

https://productforums.google.com/forum/#!topic/chrome/tyzywUJfkQI

Found a workaround for a monitor with a different text size other than 100%.

[2018-02-26 22:41] Obie-Wan commented on #3280
Unfortunately it did not help. My chrome font size is BIG, temporarily set it to medium - looks fine.

[2018-02-26 22:42] cjeria opened #3327 "Make button red!"
Cool let's do it.

[2018-02-26 22:50] tmashuang commented on #3280
Oh I see now, seems chrome extensions honor the browser settings for text size. We will investigate and apply a fix soon.

[2018-02-26 23:23] #3327 closed

[2018-02-27 00:13] alextsg opened #3328 "Change New Account tab link animation"
Keep the color but remove size transitions. @cjeria

![link animations](https://user-images.githubusercontent.com/8051479/36703268-b7de6130-1b0f-11e8-816b-c3df9e880b93.gif)

[2018-02-27 00:18] tmashuang commented on #992
I believe this has been fixed with #1739.

[2018-02-27 00:18] #992 closed

[2018-02-27 00:29] tmashuang commented on #480
Closing old issue since I could find no indication of `three.js` in the project anymore.

[2018-02-27 00:29] #480 closed

[2018-02-27 00:30] tmashuang commented on #175
Closing this issue for tokens. Users will need to manually add the tokens to their token list.

[2018-02-27 00:30] #175 closed

[2018-02-27 00:31] tmashuang commented on #634
Closing, fixed-in-master.

[2018-02-27 00:31] #634 closed

[2018-02-27 00:35] tmashuang commented on #1136
Closing, workaround is in master to popup MetaMask on browser tab.

[2018-02-27 00:35] #1136 closed

[2018-02-27 00:37] tmashuang commented on #1302
Closing old issues, issue seems to be fixed.

[2018-02-27 00:37] #1302 closed

[2018-02-27 00:39] tmashuang commented on #1383
Closing in favor of #2767. A workaround has been added by changing a chrome setting in the thread.

[2018-02-27 00:39] #1383 closed

[2018-02-27 00:39] cjeria commented on #3168
@celinepark94  I found your designs and iterated on them.

Posting here for feedback.

![image](https://user-images.githubusercontent.com/597770/36704099-a3f96440-1b13-11e8-9f18-f146a591deb5.png)

[2018-02-27 00:45] #1506 closed

[2018-02-27 00:46] bluebirdly commented on #3319
So there's no way to check the json uri endpoint metamask is using correct?

On 26 February 2018 at 20:44, Frankie <notifications@github.com> wrote:

[2018-02-27 00:47] tmashuang commented on #1466
Closing old issues. If displaying tokens is still an issue, please email support@metamask.io with your state logs to better understand your particular issue.

[2018-02-27 00:47] #1466 closed

[2018-02-27 00:47] #1452 closed

[2018-02-27 00:50] tmashuang commented on #1420
Closing, https://github.com/MetaMask/metamask-extension/pull/2250/files.

[2018-02-27 00:50] #1420 closed

[2018-02-27 00:56] tmashuang commented on #1686
Closing since there is a workaround by navigating to the extension url in a browser tab to import a file.
There is no progress on the discussion thread above.
Other related threads:
https://bugzilla.mozilla.org/show_bug.cgi?id=1292701
https://bugzilla.mozilla.org/show_bug.cgi?id=1411000

[2018-02-27 00:56] #1686 closed

[2018-02-27 00:58] alextsg commented on #3168
Will the dual button Copy to clipboard/Save as CSV File component be used elsewhere in the app?

[2018-02-27 01:01] tmashuang commented on #1586
We implemented this https://github.com/MetaMask/metamask-extension/pull/2094. But reverted the change https://github.com/MetaMask/metamask-extension/pull/2181. Another intensive to keep this issue open is to prevent ghost transactions. https://metamask.helpscoutdocs.com/article/37-ghost-accounts-ether-sending-away-whenever-funding-an-account. Closing for now.

[2018-02-27 01:01] #1586 closed

[2018-02-27 01:03] tmashuang commented on #1581
Closing old issues.

[2018-02-27 01:03] #1581 closed

[2018-02-27 01:05] tmashuang commented on #1568
@Sthom33 if there is still an issue with your MetaMask please email support@metamask.io with your issue. Closing for now.

[2018-02-27 01:05] #1568 closed

[2018-02-27 01:07] tmashuang commented on #1548
Closing this seems to have been solved with https://github.com/MetaMask/metamask-extension/pull/2879.

[2018-02-27 01:07] #1548 closed

[2018-02-27 01:08] tmashuang commented on #1532
Closing old issue.

[2018-02-27 01:08] #1532 closed

[2018-02-27 01:10] tmashuang commented on #1846
Closing old issue.

[2018-02-27 01:10] #1846 closed

[2018-02-27 01:10] tmashuang commented on #1602
Closing old issue.

[2018-02-27 01:10] #1602 closed

[2018-02-27 01:11] tmashuang commented on #1832
Closing old issue, will reopen if this is still an issue.

[2018-02-27 01:11] #1832 closed

[2018-02-27 01:13] tmashuang commented on #1744
Fixed in https://github.com/MetaMask/landing/pull/58.

[2018-02-27 01:13] #1744 closed

[2018-02-27 01:15] tmashuang commented on #1725
Fixed in https://github.com/MetaMask/metamask-extension/pull/1690.

[2018-02-27 01:15] #1725 closed

[2018-02-27 01:17] tmashuang commented on #1689
Closing old issue. Seems that it no longer injects into  https://coin.fyi/

[2018-02-27 01:17] #1689 closed

[2018-02-27 01:20] tmashuang commented on #1959
Closing old issue.

[2018-02-27 01:20] #1959 closed

[2018-02-27 01:25] tmashuang commented on #1920
Seems to have been fixed in master, unable to reference the PR.

[2018-02-27 01:25] #1920 closed

[2018-02-27 01:28] tmashuang commented on #2011
Closing https://github.com/MetaMask/metamask-extension/pull/2064.

[2018-02-27 01:28] #2011 closed

[2018-02-27 01:30] tmashuang commented on #1984
Fixed, https://github.com/MetaMask/metamask-extension/pull/2048

[2018-02-27 01:30] #1984 closed

[2018-02-27 01:31] tmashuang commented on #1968
Closing old issue, https://metamask.helpscoutdocs.com/article/8-etherdelta-account-management-tips.

[2018-02-27 01:31] #1968 closed

[2018-02-27 01:33] tmashuang commented on #2059
Closing old issue.

[2018-02-27 01:33] #2059 closed

[2018-02-27 01:35] tmashuang commented on #2246
Closing, fixed.

[2018-02-27 01:35] #2246 closed

[2018-02-27 01:36] tmashuang commented on #2229
Closing, will reopen if other users are experiencing this issue.

[2018-02-27 01:36] #2229 closed

[2018-02-27 01:38] tmashuang commented on #2300
Closing, should have been fixed in master. Will reopen if the issue persists.

[2018-02-27 01:38] #2300 closed

[2018-02-27 01:38] tmashuang commented on #2253
Closing, should have been fixed in master. Will reopen if the issue persists.

[2018-02-27 01:38] #2253 closed

[2018-02-27 01:39] tmashuang commented on #2268
Closing old issue, will reopen if the problem persists.

[2018-02-27 01:39] #2268 closed

[2018-02-27 01:40] #2058 closed

[2018-02-27 01:40] #2125 closed

[2018-02-27 01:40] #2151 closed

[2018-02-27 01:40] #2154 closed

[2018-02-27 01:40] #2192 closed

[2018-02-27 01:40] #2269 closed

[2018-02-27 01:40] #2273 closed

[2018-02-27 01:40] #2277 closed

[2018-02-27 01:40] #2283 closed

[2018-02-27 01:40] #2307 closed

[2018-02-27 01:40] #2310 closed

[2018-02-27 01:40] #2397 closed

[2018-02-27 01:40] #2398 closed

[2018-02-27 01:40] #2415 closed

[2018-02-27 01:40] #2416 closed

[2018-02-27 01:41] tmashuang commented on #3000
Fixed https://github.com/MetaMask/metamask-extension/pull/3176.

[2018-02-27 01:41] #3000 closed

[2018-02-27 01:42] tmashuang commented on #3008
Closing issue, will reopen when OP provides information and will investigate.

[2018-02-27 01:42] #3008 closed

[2018-02-27 01:45] tmashuang commented on #2974
This token was deployed on the Ropsten, I was able to add the token address which is 0x8398fE8944e63d94d90E99397a8b4De004E98895, OLIVER, 18. Closing unless there is further issue with the token address.

[2018-02-27 01:45] #2974 closed

[2018-02-27 01:45] tmashuang commented on #2958
Thanks @nickoneill fort the insight.

[2018-02-27 01:45] #2958 closed

[2018-02-27 01:53] bvand commented on #3191
@danfinlay unfortunately that doesn't solve the problem. I logged out and restored from the seed phrase, no change. The first account that gets generated is https://etherscan.io/address/0xd6b948c516ff25b6d7067f8d7de147dc1ed2672b when I expect it to be https://etherscan.io/address/0xaba1c2fd42df0af1ffed00833da1e71536a37fd4 (the account specified in the file that also has my seed phrase).

None of t

[2018-02-27 02:25] danfinlay opened #3329 "MetaMask sometimes closes all tabs unexpectedly"
Reported by @simondlr.

We *do* reload “some” tabs when the network is changed. I think that would be a suspicious feature to investigate.

[2018-02-27 02:27] Ruby398 opened #3330 "My accounts MetaMask disappeared"
Good Evening guys,

I logged in to MetaMask like any other day.
Used my password.
Can't see my accounts.
Logged out.
Logged in using the 12 words.
Asked me to create a new password.
Created.
Still can't see my accounts.
I am new to this forum so I applogize if there's rules here that I missed.

[2018-02-27 03:16] danfinlay commented on #3191
Sorry @bvand, what you've provided is basically inexplainable by the current software unless either:

- There was user error
- There was a bug in our code

We regularly audit our code to prevent this possibility, and [keep a bug bounty open](https://github.com/MetaMask/metamask-extension/issues/3127) for anyone who can reproduce an issue where the seed phrase that is first given to a person does n

[2018-02-27 04:17] bvand commented on #3191
@danfinlay thanks for the response, I understand. I'll definitely make sure to confirm first next time - big miss there.

The frustrating thing is that the account address in my exported seed file matches the one that I (previously) had access to... so I have no reason to think I did anything wrong here.

Separately, I don't understand why MetaMask would suddenly require that I restore from the se

[2018-02-27 04:19] danfinlay commented on #3191
We've recently been made aware that browsers sometimes wipe the type of storage we were using. We have a pending fix for this issue that will make browsers lose data less often, but even if they lose it less often, an incorrectly backed up seed phrase would eventually result in the same result (worse, maybe, because you'd trust it longer), so I'm not sure that will be a big improvement for users w

[2018-02-27 04:25] bvand commented on #3191
Yeah I certainly did trust it for a while - I think I first started using MetaMask around August.

Well, I appreciate your responses here. Let this be a cautionary tale... always test your seed phrase immediately.

[2018-02-27 04:27] danfinlay opened #3331 "Add "always test your seed phrase" tip somewhere"
If you're going to use an account for value, make sure that seed phrase works.

Inspired by https://github.com/MetaMask/metamask-extension/issues/3191#issuecomment-368743316

Add to Terms? Its own notice? The seed page?

[2018-02-27 05:02] danfinlay commented on #3131
This may be a good idea, but it will take a while before it can get to production since it touches pretty much every part of our architecture, from UI, down to undefined behavior for existing users who may need a migration path, so there would be a lot of work involved in moving to this.

[2018-02-27 07:36] simondlr commented on #3329
So, I tested some more, and realised it forces a page refresh of every tab upon changing networks. BUT, here's the caveat. I was using the UAT beta of MetaMask, not the official version. Not sure if it's still useful to know for the UAT branch.

[2018-02-27 07:55] danfinlay commented on #3329
We recently merged this into master, so this is very relevant.

[2018-02-27 07:56] tmashuang commented on #3330
Could you clarify on not being able to see your accounts? Is MetaMask blank before/after inputting a seed phrase? Possibly related to #3191.

[2018-02-27 09:10] psyantyst commented on #3311
TL;DR: use testrpc instead.

I can also confirm that watching events using MetaMask doesn't work. Events are fired correctly, but are not intercepted by MetaMask, even when using correct filters, fromBlock, toBlock, etc.

I spent a whole day figuring out where the problem lies. Then I disabled MetaMask, tried with testrpc instead and everything worked perfectly.

[2018-02-27 10:34] costa595 commented on #3311
@psyantyst thank you for your reply, but for example: once I load my contract to the main network will events work fine MetaMask?

[2018-02-27 12:40] psyantyst commented on #3311
@costa595 just as I posted my reply, I realized that my solution doesn't apply if you are interested in listening on a non-dev network. But since OP did not specify the type of network, my reply is still a valid solution/workaround for those who are still developing.

I just tested MetaMask on my privately deployed Ethereum network (a few nodes using geth) and it seems that MetaMask does not inter

[2018-02-27 13:12] jtakalai commented on #3117
Getting that error when trying to open debugger. In Remix, open debugger tab, enter block number and tx, press Play. Get `Invalid JSON RPC response: {"id":1763,"jsonrpc":"2.0","error":{"code":-32603}}`

[2018-02-27 13:13] jtakalai commented on #3140
Getting that error when trying to open debugger. In Remix, open debugger tab, enter block number and tx, press Play. Get ```Invalid JSON RPC response: {"id":1763,"jsonrpc":"2.0","error":{"code":-32603}}```

[2018-02-27 15:40] scsaba commented on #2562
@vs77bb Thanks for asking! I submitted my work. CC @owocki

[2018-02-27 15:55] jamboj commented on #3285
@dafinlay, I ALWAYS get "gas required exceeds allowance or always failing transaction".

I've tried your both "eth_estimateGas" curls and they fail.

I've also tried these two web3.js and they also always fail:
[code]
and

[code]
though the tx is perfectly fine if sent.

Could it be the diff in our setup somewhere? Any other debugging hints?
I use web3.js 1.0.0-beta.30 but it seems the issue is de

[2018-02-27 17:51] kumavis commented on #3154
we're addressing this--
in the mean time, you can just not specify the nonce and metamask will select a correct one for you

[2018-02-27 18:15] BGzetro commented on #3258
I understand that about the seed phrase which is why I copied and pasted it it twice to 2 different encrypted files before saving. They are both the same so no error with the seed phrase on my side it seems.

[2018-02-27 18:25] cjeria commented on #3168
@alextsg possibly. Right now, this is an ongoing discussion/critique of this design. Would like to get us providing feedback and get some iterations before committing.

To address your question, we may consider using a similar component when accessing account private keys.

Please feel free to share any thoughts/concerns.

![image](https://user-images.githubusercontent.com/597770/36746926-66f23d52

[2018-02-27 18:30] BGzetro commented on #3127
I'm offering up to 20% of my account balance as a bounty if I can gain access to my original address again after being effected by this bug. The bounty I'm offering  is worth than the bounty of this issue no (#3127) alone. The issue I created is no #3258 it has been closed but not solved and is the same issue as this one.

[2018-02-27 18:34] cjeria commented on #3168
Or how about a component like this and use tooltips

![image](https://user-images.githubusercontent.com/597770/36747349-b0c41c7e-1ba9-11e8-8ba0-b42f47def8f7.png)

[2018-02-27 18:37] BGzetro commented on #3127
My original address balance can be seen here and is where I'll pay the bounty out from on regaining access:

https://etherscan.io/address/0xbc70688f0394d98c6016f670d2e2515d0ef63533

[2018-02-27 18:39] BGzetro commented on #3127
If the balance increases in value so does the bounty I'm offering i.e 20% of whatever my address is worth at the time of gaining access.

[2018-02-27 19:15] #531 closed

[2018-02-27 19:17] #1295 closed

[2018-02-27 19:23] callmenick commented on #3285
@jamboj is the value of your tx changing (like in a CryptoKitty ascending / descending auction), or is it a fixed value? I'm still to do my write up, but in summary, blockchain time is different to absolute time, and the geth implementation of estimateGas had changed under the hood. This meant that calculating the **current** auction value for a kitty in relation to absolute time was in conflict w

[2018-02-27 19:53] tomhschmidt commented on #2101
Hi Metamask Team! We at 0x are big fans and want to offer inline Metamask installation as part of our onboarding flow on 0xproject.com. Would it be possible to get our site whitelisted on the Metamask Chrome Extensions Store listing?

[2018-02-27 20:29] jamboj commented on #3285
@callmenick, I'm actually testing with a different contract but I've double-checked and I'm pretty sure the px is not the issue. I have enough ETH on my account and the item px is well below tx value. Contract allows overbidding. Also transaction does go through if I send it.

[2018-02-27 20:30] jamboj commented on #3285
BTW this is probably not the greatest error message. It should be more explicit on what check actually fails.

[2018-02-27 20:54] kumavis opened #3336 "UI - "Cancel" button on the "Buy Eth" screen not navigating home."
https://sentry.io/metamask/metamask/issues/474888634/

[code]

[2018-02-27 20:56] kumavis commented on #3336
Set P1 because its a very common error to see in Sentry

[2018-02-27 21:10] Zanibas opened #3337 "[NewUI] Shapeshift integration deposit dropdown is broken."
Bug Reports:

  Briefly describe the issue you've encountered
  *  Expected Behavior
Dropdown for the shapeshift integration deposit dropdown should select whatever I click.
  *  Actual Behavior
Stays on BTC no matter what is selected
  *  Browser Used
Chrome
  *  Operating System Used
Ubuntu

[2018-02-27 21:50] kumavis opened #3338 "UI (old and new) - unapproved tx in tx history shows "contract published""
"contract published" sounds like its already confirmed, hasnt even been approved yet

appears like this in both UIs

[2018-02-27 22:54] danjm commented on #3338
@kumavis is this for all types of transactions? Or did you just see it for sending eth, or tokens, or attempting to publish a contract?

And I am guessing you saw this in the deployed version and on mainnet?

[2018-02-27 22:59] danjm commented on #3338
Ah, I think I found it. To confirm, this issue refers to the user seeing below after attempting to publish a contract but before confirming, correct?

<img width="389" alt="screen shot 2018-02-27 at 7 27 54 pm" src="https://user-images.githubusercontent.com/7499938/36760213-7c7c0184-1bf4-11e8-83a0-f53bec497d93.png">
----
<img width="441" alt="screen shot 2018-02-27 at 7 27 41 pm" src="https://user

[2018-02-27 23:01] kumavis commented on #3338
confirming, correct?

@danjm  Thats correct

[2018-02-27 23:21] danfinlay commented on #2101
Hi @tomhschmidt, we tried to get inline install working on our own site, but didn't quite crack it, and now are usually buried in higher priority issues. If you could show us how to give you inline install access, I almost think we would be willing to give wildcard install access (what would the fear be? That someone tricks a user into installing the official extension?)

I'm open to people who ca

[2018-02-27 23:26] danfinlay commented on #3285
@jamboj wrote:

What's the px? Sounds like your problem is distinct, and deserves its own issue. Please provide a reproduction site for the bug, to help debugging it.

I'm always in favor of better error messages, if you can find a way of providing them, please do. That is worth another issue, it sounds like the CryptoKitties bug has been found.

Great job, @callmenick, looking forward to that wri

[2018-02-27 23:26] #3285 closed

[2018-02-27 23:54] tomhschmidt commented on #2101
@danfinlay thanks for the fast response! Sadly, getting inline installs approved w Chrome extensions is a bit tedious. You (as the Metamask Google Developer account) have to claim that you own 0xproject.com and I (as 0x) have to host a hash that you receive from Google on a 0xproject.com endpoint to verify your ownership, so there's no "wildcard" option, per se.

I think we're going to continue to

[2018-02-27 23:56] Zanibas opened #3341 "Migrate Circle CI Config Files To 2.0"
"We’re Sunsetting CircleCI 1.0: August 31, 2018 is the Final Day for 1.0 Builds"
https://circleci.com/blog/sunsetting-1-0/

Requires us to upgrade the config files to CircleCI 2.0 syntax.

[2018-02-28 00:04] aledida97 opened #3342 "problema con collegamento estensione"

[2018-02-28 01:44] danfinlay opened #3343 "Document minimum supported browser versions"
As requested by [quantstamp](https://twitter.com/yes_mica_is/status/968285325104635904), minimum browser versions could help inform users with minimum specs how to get MetaMask compatible.

[2018-02-28 02:08] jamboj commented on #3285
Thanks @danfinlay. It is obv not a MetaMask issue but a web3/geth level (and same for error message). I was just hoping to get some insight in the process of you looking into the OP's issue. I've opened a separate post on stackexchange (not sure if external links allowed here)

[2018-02-28 02:09] danfinlay commented on #3285
They are. Btw this is probably a great candidate for trying out the new truffle debugger they released today:

https://github.com/trufflesuite/truffle-debugger

[2018-02-28 02:10] jamboj commented on #3285
cool thanks for the hint!

[2018-02-28 02:11] jamboj commented on #3285
Here's my stackexchange post for reference:
https://ethereum.stackexchange.com/questions/39655/web3-1-0-0-estimategas-always-throws-gas-required-exceeds-allowance-or-always-f

[2018-02-28 03:25] tsunamitreats commented on #3258
This just happened to me.  I think firefox updated itself and Metamask disappeared on me.  I can't recover my account and the couple accounts I can recover, aren't the address I expect.  I'm restoring from JSON file.

I can see that my tokens are in tact in the address I expect, but I now don't have access to this account via metamask...

[2018-02-28 03:58] tmashuang commented on #3258
@tsunamitreats If you created an account and exported a JSON/UTC file from MEW/MyCrypto/Mist, and imported it in MetaMask, they do not associate to the MetaMask seed phrase. https://metamask.helpscoutdocs.com/article/17-what-are-loose-accounts

[2018-02-28 07:11] danfinlay opened #3344 "NewUI: Value input still a little strange"
### What happens:

- The `value` starts as `0`
- if I click to the left of that 0 the cursor is placed to the left of it
- if I type `1`, I then see `1`.

### What I expect to happen:

When I click anywhere near the default auto-filled `0`, the cursor should be placed, and the `0` should disappear, implying the clean slate there is.

[2018-02-28 12:29] BGzetro commented on #3191
I had the exact same problem and have lost alot of money as a result :(

Seems like this has occurred to quite a few people lately.

https://github.com/MetaMask/metamask-extension/issues/3258

[2018-02-28 12:53] lazaridiscom commented on #3331
Ok, @danfinlay, I would suggest here to go a few steps further:

* Implement a **Seed Phrase Check** (SPC)
* This SPC  is applied to any new account

* with the Next Update: existent accounts are verified by the SPC (without log-out, if technically applicable)

* The check can then detect those rare cases where something is wrong.

if you hit on this:

=> Your seedphrase does not belong to this ac

[2018-02-28 12:55] lazaridiscom commented on #3331
And **if** I understood right, this issue is a highest severity one (loosing funds is highest severity)

[2018-02-28 13:46] lazaridiscom commented on #2350
@GrandSchtroumpf , all fine, the high-priority label is there, yet one question remains for me:

If web3 is so super as you describe, then why has Mist dropped it?

[2018-02-28 16:05] samid737 commented on #2393
I am still experiencing this issue on 4.1.0, using testrpc. It used to work consistently yesterday (4.1.0), but  completely stopped working just now (firefox and chrome). I restarted testrpc once and since then eth_getLogs are not returned inside the console (restarted pc too). Network switching does not help anymore for me.  I suspect this is not browser specific, because another client on the sa

[2018-02-28 16:44] owocki commented on #2562
@danfinlay let me know when ok to pay out?

[2018-02-28 17:02] danjm commented on #3268
@danfinlay Just so I can understand this issue better: was this just a design issue whereby the "approved but not confirmed" state just needs to look a bit more like a pending state? Or (if you remember) did it seem that the rendered state was incorrect and did not match the actual state?

[2018-02-28 17:15] danfinlay commented on #3268
No sorry, this is only a problem with old UI, and is specifically mostly a problem with that build bug I was having. Not worth fixing.

[2018-02-28 17:15] #3268 closed

[2018-02-28 17:16] danfinlay commented on #2562
Hi, sorry, been a busy start to the week. I'll be reviewing this today!

[2018-02-28 17:19] davewc opened #3347 "Browser doesn't know when a transaction is replaced (retried)"
There doesn't seem to be a way to know when a user retries with higher gas..?

The tx is replaced with a new tx. Is there any way to get notified about this? Or poll / query it..?

[2018-02-28 17:34] GrandSchtroumpf commented on #2350
Thanks for the label.
@lazaridiscom I cannot speak for Mist. But I guess some people like ethjs better so there is no reason to use web3 then...

[2018-02-28 17:44] danfinlay commented on #3331
I think this SPC concept is unlikely to help the problem:

The issue involves situations where a user is shown one seed phrase, and then a different one is saved and used for generating accounts.

If that's the case, every account *is successfully generated from the persisted seed phrase*, and so MetaMask is unable to detect that the user backed up the wrong phrase.

That said, it wouldn't hurt to

[2018-02-28 17:50] kumavis opened #3348 "BigNumber Error: minus() not a number: null"
https://sentry.io/metamask/metamask/issues/475369423/

[code]

[2018-02-28 17:51] kumavis opened #3349 "Transaction Failed: TypeError: Cannot read property 'toString' of undefined"
https://sentry.io/metamask/metamask/issues/475375150/

[code]

[2018-02-28 17:52] #3228 closed

[2018-02-28 18:01] lazaridiscom commented on #3331
I've read several of the issues, and it seems that there are different cases. But the thing is: If an account is active, and the user has the wrong seed (for any reasons, be it MM fault or users fault), then a post-creation SPC could save him the trouble to loose funds.

For new accounts, a mandatory SPC would help to reduce problems.

Still not 100% clear, but I feel the SPC is a **must** functio

[2018-02-28 18:17] danfinlay opened #3351 "Add "submit support" page within app"
- Item in menu "Help"
- Should open full tab
- Should submit to our support system via API
- Should have default-clicked "Include logs to help debug" feature, which includes state logs.
- Include `?` next to that checkbox, that explains that no account secrets are included, but accounts and transactions are.

[2018-02-28 18:23] frankiebee opened #3352 "ui is not being watched fo rebuild"
if you update ui code it does not rebuild

[2018-02-28 19:16] #3338 closed

[2018-02-28 19:19] Ruby398 commented on #3330
Without going into too many details, I solved it just by doing one thing:
I was able to search and find my Private Keys - and reopen the accounts.
That solves the issue for the ETH accounts.
As for the Tokens - they are gone from the MetaMask extension, but I can always add them later if I chose to do so.

Basically the recent terms of service agreement or whatever that was - messed up the account

[2018-02-28 19:41] kumavis opened #3354 "UI - Add Token screen causes corrupted extension"
previously this would because of a case mismatch in the fonts or asset files for the tokens

[2018-02-28 19:42] kumavis commented on #3354
https://consensys.slack.com/archives/G0SCK68Q5/p1519842892000067

[2018-02-28 19:52] lazaridiscom commented on #3330
@Ruby398 , I'm really glad you solved finally the problem. If you want, can you please explain how you think this "service agreement" thing could have caused this?

[2018-02-28 20:56] danfinlay opened #3355 "Add seed phrase verification script into background process"
As described [here](https://github.com/MetaMask/metamask-extension/issues/3331#issuecomment-369230321), might help identify a case where accounts do not match the seed phrase, and allow reporting this to the user or at least to sentry.

Would be an attempt to solve #3127.

If a user implemented this, and it caught a case where the seed phrases didn't match, I would consider that a valid claim for

[2018-02-28 21:07] danfinlay commented on #3331
@lazaridiscom I've opened that as its own issue, so it can be explored there, and maybe get its own bounty.

[2018-02-28 21:09] danfinlay commented on #3354
I've failed to reproduce by adding storj. Does anyone have reliable reproduction steps?

[2018-02-28 21:09] Zanibas commented on #3087
This is actually an issue I think with the newUI. The source token textbox is not responsive to selecting any other currency besides BTC.

[2018-02-28 21:16] lazaridiscom commented on #3355
Very nice idea!

[2018-02-28 21:17] danfinlay commented on #3355
In case the link wasn't enough, this was @lazaridiscom's idea :)

I'm personally skeptical that this will find anything, but we should try what we can.

[2018-02-28 21:22] kumavis commented on #3354
@danfinlay needs to be on prod, not dev, bc it fails some chrome file validations that only happen on prod

[2018-02-28 21:34] kiwisanchez opened #3357 "Metamask no longer working with iDex - the exchange will not connect with the wallet and says that there is no plugin extension."

[2018-02-28 21:42] tmashuang commented on #3357
Have you contacted IDEX with their issue? Will leave this open for others to chime in on the issue with IDEX and MetaMask.

[2018-02-28 21:45] kumavis opened #3358 "[new-ui] seed phrase validation clears form"
should:
- give live feedback on validity
- validation should tolerate newlines

[2018-02-28 21:47] kiwisanchez commented on #3357
Hi Thomas - yes have raised it with them, will see what they come back
with.  See if other people chime in with other probs.

Thanks

On Thu, Mar 1, 2018 at 10:42 AM, Thomas Huang <notifications@github.com>
wrote:

[2018-02-28 21:49] lazaridiscom commented on #3355
I had a more a manual process in mind, so that "verification script into background" was your idea (and it looks like the preferred way to go).

[2018-02-28 21:52] tmashuang commented on #3357
Related reddit post on Auroradao by one of its moderators:
https://www.reddit.com/r/auroradao/comments/80t5ok/idex_metamask_announcement/

[2018-02-28 21:53] kiwisanchez commented on #3357
Legend, thanks for the info.

On Thu, Mar 1, 2018 at 10:52 AM, Thomas Huang <notifications@github.com>
wrote:

[2018-02-28 22:12] danfinlay commented on #3355
Lol when creativity comes out of misunderstanding.

[2018-02-28 22:45] rajrocker opened #3360 "Keys getting retype of text if any key i am pressing"
Keys getting retype if any key i am pressing, this is not happening at any other place only at metamask
Bug Reports:

  Briefly describe the issue you've encountered
  *  Multiple text retyping automaticly
  *  notable to login
Please solve my problem.

below are the screen shot
![screen shot 2018-03-01 at 4 09 22 am](https://user-images.githubusercontent.com/36937527/36817335-c9962d4c-1d06-11e8-9

[2018-02-28 23:44] kumavis commented on #3336
still getting this in `4.1.1`

[2018-03-01 00:03] cjeria opened #3362 "Update all Buttons Styles"
@alextsg I went through the entire app and compiled all screens that use old buttons styles. Let's update those to these styles

**Style guide w/specs**
![buttons styles](https://user-images.githubusercontent.com/597770/36819999-a583fe86-1ca0-11e8-8ba9-0c6b549cdc20.png)

**I created a codepen with active styles in CSS:**
https://codepen.io/cjeria/pen/RQvKqq?q=flat%20button&order=popularity&depth=e

[2018-03-01 00:30] kumavis commented on #3354
Verified as fixed by #3359 and published as 4.1.1

[2018-03-01 00:30] #3354 closed

[2018-03-01 00:34] kumavis commented on #3354
@vs77bb thanks for the gitcoin bounty, but i took care of this one 😸

[2018-03-01 01:16] danjm commented on #3084
This should have been fixed by https://github.com/MetaMask/metamask-extension/pull/3350

[2018-03-01 01:47] danfinlay opened #3365 "Idex exchange no longer working"
Reported in tweet:
https://twitter.com/AndyrooMac/status/969017105457692672

Web3 seems to suddenly be not detected by this site for this user, need to try reproducing.

[2018-03-01 01:51] mesqueeb commented on #3226
@Zanibas I’m fine with just resetting the way I described. I’m not sure about the others.

[2018-03-01 02:06] kumavis commented on #3336
still getting this in `4.1.2`

[2018-03-01 02:17] lambi9891 opened #3367 "New UI: Missing transaction data"
Cannot add custom transaction data in the new UI

Is the feature missing or am I missing a step ?

[2018-03-01 02:39] alextsg opened #3368 "[NewUI] ReferenceError: event is not defined"
https://sentry.io/metamask/metamask/issues/476320339/

[2018-03-01 02:41] alextsg opened #3369 "[NewUI] ReferenceError: _this.props.onClick is not a function"
https://sentry.io/metamask/metamask/issues/476336941/

[2018-03-01 02:48] alextsg opened #3370 "[NewUI] Cannot read property 'address' of undefined"
https://sentry.io/metamask/metamask/issues/474888634/

[2018-03-01 04:11] ThreePhper commented on #3365
Dose idex detect metamask by web3.currentProvider.constructor.name?
I found it has been changed from MetamaskInpageProvider to f today.
Maybe that's the reason.

[2018-03-01 04:13] ThreePhper commented on #3357
Dose idex detect MetakMask by web3.currentProvider.constructor.name.
I found it has been changed from "MetamaskInpageProvider" to "f" today.

[2018-03-01 04:23] danjm commented on #3336
I don't think this error is present in `4.1.2`.
- I am unable to reproduce it locally. The cancel button behaves as expected.
- It does not appear in this search (4.1.2 events only): https://sentry.io/metamask/metamask/issues/474888634/events/?query=release%3A%224.1.2%22
- Meanwhile, it appears many times in 4.1.1 and 4.1.0 only searches: https://sentry.io/metamask/metamask/issues/474888634/events

[2018-03-01 04:26] danjm commented on #3370
Linking my comment on another issue which also applies to this: https://github.com/MetaMask/metamask-extension/issues/3336#issuecomment-369470067

[2018-03-01 04:27] danjm commented on #3369
Closing as this issue is from 3.14.1

[2018-03-01 04:27] #3369 closed

[2018-03-01 04:33] danjm commented on #3368
Closing as this issue is tagged as `3.14.1`

[2018-03-01 04:33] #3368 closed

[2018-03-01 05:02] schdave opened #3371 "Cant add tokens to any of my accounts in chrome ext."

[2018-03-01 05:07] danfinlay commented on #3365
That's a dangerous sounding regression, probably worth fixing for its own reasons.

I've been unable to reproduce this bug, so I'm inclined to say that isn't the problem.

[2018-03-01 05:10] danfinlay opened #3372 "Regression: InpageProvider constructor name is now "f""
This is a regression for dapps that checked the constructor name to identify MetaMask.

This could come from build minification.

Identified in https://github.com/MetaMask/metamask-extension/issues/3365#issuecomment-369468520

[2018-03-01 05:11] danfinlay commented on #3372
Btw, I wasn't able to reproduce, so really this is just to check with @kumavis if he built the last version with some minification.

[2018-03-01 05:15] danfinlay commented on #3371
Please open a support ticket by emailing support@metamask.io

[2018-03-01 05:15] #3371 closed

[2018-03-01 05:17] danfinlay commented on #3367
This was a proposed change from some design research that suggested most people do not use that field. Clearly someone does! Can you describe what you use it for, so we can make sure you're accounted for?

We're currently thinking of adding this as an "advanced mode" feature that you can enable in settings, but is hidden from most users, who tend to be confused by it.

[2018-03-01 05:24] lambi9891 commented on #3367
Agree with you.

IMO it still could be a good feature for the user to be able to double check the hex data as it could be an easy malicious attack angle.

[2018-03-01 05:25] danfinlay commented on #3367
I agree, the data should be reviewable on the final confirmation screen, and we have open issues for that already.

[2018-03-01 07:42] lazaridiscom commented on #3365
related: #3357

[2018-03-01 07:48] lazaridiscom commented on #3355
Yep. - I'll wait a few days to see if someone gets this, then possibly claim myself. You could possibly provide pointers to the relevant code-subsystems (for anyone picking this up).

[2018-03-01 08:17] lazaridiscom commented on #3226
@mesqueeb , please feel free to close this issue by yourself.

@Zanibas , the described workaround is the one used to work around issue #2393, which was solved. So this issue can be closed.

[2018-03-01 10:46] noahbreal commented on #3191
Same thing today , Meta mask had me accept some terms of use then it was like I never had a wallet, it asked me to create or import. So I imported with seed phrase and got a new set of addresses that do not correspond to mine. Luckily I have second installation on FIrefox but kind of scary.

[2018-03-01 10:52] samid737 commented on #2978
I am still experiencing this issue on 4.1.0, using testrpc. It used to work consistently yesterday (4.1.0), but completely stopped working just now (firefox and chrome). I restarted testrpc once and since then eth_getLogs are not returned inside the console (restarted pc too). Network switching does not help anymore for me. I suspect this is not browser specific, because another client on the same

[2018-03-01 11:16] davesumter opened #3373 "Retry with higher gas no longer showing"
The retry with higher gas option is no longer showing for pending tx's.

Stopped about 15 hours ago. No change to the extension..

[2018-03-01 11:19] Swift42 opened #3374 "Resending a transaction does not work anymore"
It seems that the update from yesterday broke my MetaMask:

I tried to send some transactions with a low gas. Normally MetaMask displays a text/link like "Taking too long? Resend the transaction here" after a few seconds. But this link isn't displayed anymore.
To be sure I waited some hours and restarted Chrome/Metamask several times, but the link does not show up.

This means: Currently my transa

[2018-03-01 11:20] Swift42 commented on #3374
Oops, davesumter was 3 minutes faster :-)
So this is a duplicate of #3373 ...

[2018-03-01 11:41] davesumter commented on #3374
Swift42, I had to replace a TX using MEW as a workaround, but it's messy..

This is probably one of the most important features for me. I send hundreds of TX's a day and many get stuck. I pretty much can't use MM in chrome now..

[2018-03-01 12:23] Swift42 commented on #3374
Yes, I thought about MEW, too, but as you said: it's messy.
So I likely wait for a MetaMask fix, which comes hopefully today or tomorrow.
I think this is severe bug (T0-bug / P1-asap).

[2018-03-01 12:38] davesumter commented on #3374
yeah, I run a dapp with a few hundred users and everyone has stuck tx's..

very very severe..

[2018-03-01 14:04] jeff70 commented on #3357
Yep mine don't connect to it either.

[2018-03-01 14:43] Icebergx opened #3376 "Cant send transations since "warning" appeared, yesterday"
Hi,

Yesterday, I mistakenly sent Eth to an old contract address. Luckily this was rejected, and I then managed to send Eth to the correct Eth address straight after. In the MM window, a "warning" message appeared, but I didn't think anything of it, and all my Eth was still in my wallet, as expected.

Today, I tried to send Eth to an ICO twice, with 40gwei, and neither transation went through. In

[2018-03-01 15:35] scsaba commented on #3355
Could you please clarify what is the scope of this task? The [referenced](https://github.com/MetaMask/metamask-extension/issues/3331#issuecomment-369230321) comment contains additional steps also. I possibly claim it if @lazaridiscom is busy with something else :)

[2018-03-01 15:42] cedric971 opened #3377 "missing token pcl"
hello
I had a problem with google chrome so I had to redo instalation of google chrome. I then add the metamask plugin and connect to my account the ether are still there but I lost all my token? how to find them?
![capture](https://user-images.githubusercontent.com/36962673/36854049-51d503ea-1d70-11e8-90ce-f84c581543ae.PNG)
![capture3](https://user-images.githubusercontent.com/36962673/36854186-a

[2018-03-01 16:01] cedric971 commented on #3377
problem good

[2018-03-01 16:01] #3377 closed

[2018-03-01 16:05] lazaridiscom commented on #3355
@scsaba , nah, not busy that much (winter-season, working double-shifts). Just stepping back thus folks joins "the game" (gitcoin). More players, more fun for all (where "fun" = efficient problem solving).

Here the summary:

* Errors happen now and then with the seed-phrase, which fails to recover an account.
* Sometimes(!) its surely the fault of the user (saved wrong seed etc.)
* Sometimes(!) i

[2018-03-01 18:01] danfinlay opened #3378 "Problem entering custom token data"
A user entered a token that failed to auto-fill, and was unable to edit the fields after that. Was this a crash? Need reproduction steps.

[2018-03-01 18:14] DeltaBalances opened #3379 "[NewUI] SignTypedData horizontal text overflow"
On the New UI, the data displayed for signTypedData does not properly overflow horizontally.
The old UI shows scrollbars on long strings (a contract address), the new UI starts to overlap itself as it does not overflow.

![metamask-signtypeddata](https://user-images.githubusercontent.com/30391324/36861586-8fff3aa0-1d84-11e8-911d-5d31ba3bc49c.png)

The short messages available at https://danfinlay.

[2018-03-01 18:43] lazaridiscom opened #3380 "Rename "Seed Phrase" to "Account Phrase" or "Vault Phrase""
Finally!

It could be that #3127 is caused by confusion.

I just understood this https://github.com/MetaMask/metamask-extension/issues/3331#issuecomment-369321618, and was writing a reply, when it hit me!

Finally I have overcome my confusion.

The reason I did not understood all this "Seed Phrase" stuff is something simple and not very uncommon:

miss-leading naming.

See here:

* With the Seed P

[2018-03-01 19:08] jonasman commented on #1966
"Specified nonce may not be larger than account's next valid nonce. at t.<anonymous>"

Is this related? i see this all the time in IDEX exchange

[2018-03-01 19:14] danfinlay commented on #3372
A new check that is working for others in the meanwhile:
`window.web3.currentProvider.constructor.name === 'MetamaskInpageProvider' || window.web3.currentProvider.isMetaMask`

[2018-03-01 19:15] lazaridiscom commented on #3302
@Zanibas , what are those cryptic labels? This project produces money-moving software. And it has no subsystem-overview. This is really really bad!

[2018-03-01 20:15] fabiohild commented on #3374
Same issue here, I'm willing to help if anyone provides the guidance on what has to be done, I have a client stuck at the moment and they would not be able to use the MEW method.

[2018-03-01 20:19] lazaridiscom commented on #3374
May I ask: wasn't there a beta-test phase?

[2018-03-01 20:30] #2966 closed

[2018-03-01 20:43] davesumter commented on #3374
I'm kind of annoyed these extension's seem to have auto updated to a buggy version. I would prefer to stay on one version when it's working..

[2018-03-01 20:49] fabiohild commented on #3374
Chrome automatically updates all extensions, and curiously does not allow to force updates (we'll probably go through this once the issue is solved, we'll have to wait until chrome decides to update). I'm not sure about the other Browsers though, might be possible.

[2018-03-01 21:02] davesumter commented on #3374
I'm using firefox now
slow as hell, but at least I can resend

[2018-03-01 21:59] kyriediculous commented on #3125
Resetting the account works for me.

[2018-03-01 22:02] mryellow commented on #3380
Just passing by... It's "Seed" all across the cryptocurreny space. Changing this to "account" would make metamask the odd one out and cause confusion.

Perhaps "Mnemonic phrase" is better but "seed" is very common.

https://en.bitcoin.it/wiki/Deterministic_wallet
https://en.bitcoin.it/wiki/Mnemonic_phrase

[2018-03-01 22:14] mryellow commented on #3185
This is an issue with the contract standard.

`transfer()` applies token balance to whichever address it is given. This address should be able to be any kind of user or smart contract without customised case-by-case interference from clients.

ERC223 https://github.com/ethereum/EIPs/issues/223 approaches this by adding a `tokenFallback()` method which gives the target an opportunity to reject the

[2018-03-01 22:22] lawrensp commented on #3378
I'm unable to add a token. I enter the contract address, the Token Symbol field auto-fills the correct symbol and same for decimals, but when I click add, nothing happens. Tried refreshing and logging in and out. Contract address is 0xBE11eEb186e624b8f26A5045575a1340E4054552 and symbol is CCC. Please help

[2018-03-01 22:42] mlissner opened #3382 "Add whitelist of domains to not inject Web3 on"
I maintain [an extension][recap] that parses U.S. government court websites for metadata. Apparently, today, somebody started using both of our extensions, with these results:

1. We do server-side parsing of webpages that our extension uploads to our server. As of today, our parser (lxml's HTML parser) is failing because the HTML we're receiving is too...broken? Funky? Not sure. But instead of ge

[2018-03-01 23:14] mlissner commented on #3382
I did some further research on this and found a few other examples of this problem with other pairs of extensions:

 - http://support.streak.com/troubleshooting-faqs/qa-does-streak-work-with-my-other-extensions
 - https://sortd.freshdesk.com/support/solutions/articles/6000013119-does-sortd-work-with-other-chrome-extensions-update-5-september-2015-

It seems like the best solution is to work togeth

[2018-03-01 23:37] Zanibas opened #3383 "Design for Login Per Site"
Related to #714

[2018-03-01 23:40] danfinlay opened #3384 "Create Feature to Suggest Users Try New UI Within the App"
We now have the beta UI bundled in MetaMask as published. The next step is to suggest users move over to the new UI, gently.

This is a ZenHub epic, and so issues added as dependencies of this epic will be considered blockers to rolling out this feature.

This feature should be kept on its own branch until those blockers are completed.

[2018-03-01 23:42] danfinlay opened #3385 "Begin displaying the new UI by default for Users, Gradually"
Need to determine a gradual rollout strategy (highest usage most likely first?) to switch users over to the new UI.

This is a ZenHub epic, and so issues added as dependencies of this epic will be considered blockers to rolling out this feature.

This feature should be kept on its own branch until those blockers are completed.

[2018-03-01 23:43] danfinlay opened #3386 "New UI Full Feature Parity"
This is a ZenHub epic, and so issues added as dependencies of this epic will be considered blockers to rolling out this feature.

This feature should be kept on its own branch until those blockers are completed.

[2018-03-01 23:53] danfinlay commented on #1511
Closing as a duplicate of #654

[2018-03-01 23:53] #1511 closed

[2018-03-01 23:55] Zanibas commented on #1467
This is deprecated now that we're on the new UI

[2018-03-01 23:55] #1467 closed

[2018-03-01 23:55] danfinlay commented on #1467
(Fixed in new UI):
![screen shot 2018-03-01 at 3 55 37 pm](https://user-images.githubusercontent.com/542863/36876271-073dea92-1d69-11e8-800b-02ec2c1fced6.png)

[2018-03-01 23:56] danfinlay commented on #1464
New UI doesn't use that, it's much easier to tell!

[2018-03-01 23:56] #1464 closed

[2018-03-02 00:04] danfinlay commented on #1344
Closing as duplicate of #714

[2018-03-02 00:04] #1344 closed

[2018-03-02 00:05] danfinlay commented on #1328
We do this via forgot password, like you said.

[2018-03-02 00:05] #1328 closed

[2018-03-02 00:06] danfinlay commented on #1326
Closing in favor of #1459.

[2018-03-02 00:06] #1326 closed

[2018-03-02 00:11] danfinlay commented on #1236
Closing in favor of #2693

[2018-03-02 00:11] #1236 closed

[2018-03-02 00:14] #567 closed

[2018-03-02 00:14] #569 closed

[2018-03-02 00:14] danfinlay commented on #1232
This should actually be a fairly easy feature to add, the hard part being that this will touch a lot of files, from the backend to the front-end, but it could be easy because you could copy how we currently export private keys. We made that system very modular,

I'm adding `bounty worthy` for that reason, although this would also be a good feature to make a tutorial out of, because it would teach

[2018-03-02 00:17] danfinlay commented on #780
Closing in favor of #1232.

[2018-03-02 00:17] #780 closed

[2018-03-02 00:20] danfinlay commented on #1190
Some thoughts on using Parity's implementation as described by @christianlundkvist:

1. Eth accounts are currently identified by hash(pubkey)
2. This allows us to use address to sign stuff using recoverable signatures which works pretty well (“verify that this address signed this hash”)
3. For encryption you need public keys, you can’t say “encrypt this to hash(pubkey)“, so we need to expose pubke

[2018-03-02 00:23] #886 closed

[2018-03-02 00:23] danfinlay commented on #699
I'm going to stop pushing this now.

[2018-03-02 00:23] #699 closed

[2018-03-02 00:24] danfinlay commented on #750
I believe this has been addressed.

[2018-03-02 00:24] #750 closed

[2018-03-02 00:25] RobertoC27 commented on #2390
This is happening to me as well, I'm on Ubuntu 16.04 virtual machine. When using ganache as network it works fine but switching to my private network just reproduces this behavior.

[2018-03-02 00:25] danfinlay commented on #848
Long since deprecated!

[2018-03-02 00:25] #848 closed

[2018-03-02 00:29] #852 closed

[2018-03-02 00:32] danfinlay commented on #925
I'd say this is better replaced by the `signTypedData` proposal EIP.
https://github.com/ethereum/EIPs/pull/712

[2018-03-02 00:32] #925 closed

[2018-03-02 00:34] danfinlay opened #3387 "self host"

[2018-03-02 00:34] danfinlay opened #3388 "chrome"

[2018-03-02 00:34] #3388 closed

[2018-03-02 00:34] #3387 closed

[2018-03-02 00:35] danfinlay opened #3389 "Automate deploy process"
This issue represents the dream that someday we might be able to automatically deploy to all our build targets & platforms without visiting a bunch of websites.

I'll be marking this as an epic in ZenHub, blocked by various strategies.

[2018-03-02 02:09] danjm commented on #3378
@lawrensp To confirm that we understand your issue, are you stuck here, and "Add Tokens" but just does nothing?

<img width="354" alt="screen shot 2018-03-01 at 10 32 52 pm" src="https://user-images.githubusercontent.com/7499938/36879933-a8d4f076-1da0-11e8-90e5-d3f7c5743c64.png">

(or, if you are using the popup view):

<img width="354" alt="screen shot 2018-03-01 at 10 32 52 pm" src="https://user

[2018-03-02 02:10] danjm commented on #3370
Closing as a duplicate of #3336

[2018-03-02 02:10] #3370 closed

[2018-03-02 02:15] danjm opened #3390 "'Add Tokens' button: "Cannot read property 'address' of null""
https://sentry.io/metamask/metamask/issues/476949788/events/

~~It is likely that this bug was hit by this user: https://github.com/MetaMask/metamask-extension/issues/3378#issuecomment-369751693

I am not able to reproduce using the steps the user provided in the above linked comment, but their description of what happened matches what we would expect to happen if a user hit what is describe in th

[2018-03-02 02:24] danjm commented on #3378
@danfinlay I believe the bug you have described is distinct from the bug reported above by @lawrensp. As I explained to @jrmoreau in slack where he reported another user issue that seems to match this:

I've bumped up the priority of this ticket and am working on it now.

I suspect, but cannot confirm, that the problem experienced by @lawrensp will be fixed when #3390 is resolved.

[2018-03-02 03:07] kangarang opened #3391 "(New UI) gas fee calculator prevents transfer on private network"
i'm so happy with the new UI so far. and i especially appreciate the separate tab feature. thank you.

Expected Behavior: i would like to send ether and tokens from MM acct 1 -> MM acct 2 over localhost

Actual Behavior: when i'm working on a local dev network, I experience a minor bug where (i think) the gas fee calculator doesn't complete in returning a valid value, thus the next button remains

[2018-03-02 03:43] apotheon commented on #886
I'm glad to see this has been resolved.  I'm a little disappointed that a pull request that essentially did the exact same work was discarded, leaving the person who initially did this work without any credit in the project's commit history.

[2018-03-02 03:46] webcaetano commented on #3357
Bancor also start experiencing multiple tx Failed. On this new major version

Related:
https://github.com/bancorprotocol/contracts/issues/195

[2018-03-02 04:26] alextsg commented on #3241
Fixed here https://github.com/MetaMask/metamask-extension/pull/3366

[2018-03-02 04:26] #3241 closed

[2018-03-02 04:48] MicahZoltu commented on #2693
Step 2.1 in that flow is too complicated for end-users IMO.  In particular, end-users don't understand nonces.

Also, "duplicate" I think gives users the wrong idea about what is happening.  Only one of the two transactions will succeed but to a naïve user there is a possibility of both succeeding based on the wording "duplicate".  Perhaps label it as "Modify Transaction" instead?   I think "modif

[2018-03-02 05:16] dmihal commented on #3133
@marcusmolchany would you mind setting up a sample application? I'd like to play with setting up a workaround...

[2018-03-02 05:38] mlissner commented on #3382
You'll see that I just posted a fix for this in our parsing code, so the issue is "resolved", sort of, on our end, but we don't have a way of detecting your extension client side, so we can't tell our users what the problem is and that they need to either not use our extension or not use yours.

I remain concerned about what's in that JS that we are now receiving, if there are any security issues

[2018-03-02 06:19] Gektorian commented on #3357
not working on my end as well

[2018-03-02 07:48] marcusmolchany commented on #3133
Hey @dmihal [here is a sample application](https://mm-csp-example.herokuapp.com/). If you open it in chrome, you should see that web3 is injected into window.web3. If you open it using firefox, you should see that the CSP blocks web3 from being injected.

[Here is the repo](https://github.com/marcusmolchany/mm-csp-example) for the sample application. And [this specifically](https://github.com/marc

[2018-03-02 08:01] lazaridiscom commented on #3389
"epic in ZenHub" - "blocked by various strategies", what does this mean (standard technical English please) ?

[2018-03-02 08:28] scsaba commented on #3355
There is always room for improvement :) I'm more into backend development.

Actually I gave a thought it overnight (living in EU), so I have an idea how to implement.. will have a deeper look into the code if it is feasible, when my time allows.

[2018-03-02 09:37] SlavKay opened #3392 "Was MetaMask got hacked?"
Yesterday all tokens from mine MetaMask wallet address were gone. I´m still shocked and confused by that, not only because I lost pretty much I had but also because I was always very careful with my wallet and personal information. I have never believed in scam giveaways, clicked some strange links or opened my Meta on non-safe sites. Only one time yesterday I opened and typed my password into Met

[2018-03-02 10:00] relpmis commented on #3357
not working for me, confirm

[2018-03-02 12:37] robroyman commented on #3040
Just lost a wallet too due to remove and reinstall Chrome extension. It should be mandatory to backup your DEN when adding or removing the extension!

[2018-03-02 16:16] lawrensp commented on #3378
@danjm This is as far as I get. Once I click "Add," the refresh icon appears for a split second, and then nothing happens.

![screen shot 2018-03-02 at 11 11 07 am](https://user-images.githubusercontent.com/36972488/36908971-d041fe3c-1e0a-11e8-801a-48c110bcac98.png)

[2018-03-02 18:19] kumavis commented on #3357
devs: please use `web3.currentProvider.isMetaMask`

[2018-03-02 18:20] danfinlay commented on #3376
Closing as duplicate of #3357. Idex should fix this on their end, but we'll also try to fix it on ours.

[2018-03-02 18:20] #3376 closed

[2018-03-02 18:21] danfinlay commented on #3365
Caused by #3372. Sites here broke because they used an undocumented method of identifying MetaMask, which we broke because we didn't know anyone was doing it:
[code]

The correct way to identify MetaMask from in a page is:
[code]

Closing as a duplicate of #3372

[2018-03-02 18:21] #3365 closed

[2018-03-02 18:22] danfinlay commented on #3357
With a little more detail:

Caused by #3372. Sites here broke because they used an undocumented method of identifying MetaMask, which we broke because we didn't know anyone was doing it:
[code]

The correct way to identify MetaMask from in a page is:
[code]

Closing as a duplicate of #3372

[2018-03-02 18:22] #3357 closed

[2018-03-02 18:56] #3372 closed

[2018-03-02 19:35] kjbbb commented on #1190
I understand that's the major gotcha to the 'public key infrastructure' that I mentioned - it's missing the public key. BUT! considering the fact that the PK is leaked with every transaction, there is a wide distribution of keys. Moreover, just because a key isn't published, or a transaction hasn't appeared on the blockchain, doesn't mean such encryption isn't useful - infrastructure outside of Et

[2018-03-02 20:08] #3374 closed

[2018-03-02 20:34] iamjaime commented on #3132
I'm encountering the same exact issue! My account was completely emptied out! I got robbed for almost 1ETH.

It's happening ONLY to the non-loose accounts on meta mask!

[2018-03-02 20:36] tmashuang commented on #3132
@iamjaime  Does this scenario seem to depict your issue https://metamask.helpscoutdocs.com/article/37-ghost-accounts-ether-sending-away-whenever-funding-an-account.

[2018-03-02 20:57] tmashuang opened #3397 "NewUI Proposal: Display Network on Confirm Transaction Screen."
@adam.yala on slack:

Proposal: Add network on confirmation screen as we do in classic UI.

[2018-03-02 21:04] cjeria commented on #3397
Let's include the top bar that shows the network in the TX popup.

Screenshot from invision:
![image](https://user-images.githubusercontent.com/597770/36921655-012fd47e-1e1a-11e8-9a15-83e3e65ab930.png)

Prototype
https://consensys.invisionapp.com/share/BEF3JZ126#/252407561_confirm_Tx

[2018-03-02 21:06] cjeria commented on #3397
@alextsg @danjm Actually, here's the latest design for the TX screen. I've reduced the size of the emoticons to reduce the overall height, which makes more vertical space for the top bar. Not sure why this was not implemented as spec'd?

![confirm tx copy](https://user-images.githubusercontent.com/597770/36921755-544eb472-1e1a-11e8-9b1d-442869705aa2.png)

[2018-03-02 21:15] cjeria commented on #3397
On second thought, I like how clean it looks without the top bar. We can mode the edit button to above the header label and add the network floated to the right. see mockup.

![confirm tx copy 2](https://user-images.githubusercontent.com/597770/36922073-8bcfb1c0-1e1b-11e8-8f76-374ea4d48521.png)

[2018-03-02 21:28] iamjaime commented on #3115
You are not the only one encountering issues with this!
I got robbed for 0.25 Ether ($214.03) Today and 0.217597433 Ether ($186.37) last night!

I think i'm going through the same exact thing!

I sent money to myself from a different ethereum address to my Meta Mask and it automatically was forwarded to a different address!

I think Meta Mask got hacked and we are paying the consequences for it!

[2018-03-02 22:12] iamjaime opened #3399 "Transaction sent to unintended recipient"
I sent 0.25 ETH from one "Loose" account on meta mask to a regular meta mask account and about 30 seconds later the funds were forwarded to a completely different address!

[2018-03-02 22:16] danfinlay commented on #3399
Please email [your logs](https://metamask.helpscoutdocs.com/article/9-how-to-download-state-logs to support@metamask.io so we can investigate what might have happened here.

If this is as bad as you say it is, it sounds a lot like you may have caught a malware like this:
https://ethereumworldnews.com/careful-copying-pasting-ethereum-wallet-address/

You should be able to test this by copying an et

[2018-03-02 22:21] kumavis commented on #3389
@lazaridiscom  https://app.zenhub.com

[2018-03-02 22:25] danfinlay opened #3400 "Create automated Chrome deploy script"

[2018-03-02 22:25] danfinlay opened #3401 "Create automated Opera deploy script"

[2018-03-02 22:26] danfinlay opened #3402 "Create automated Mascara deploy script"

[2018-03-02 22:26] danfinlay opened #3403 "Create automated Github Releases deploy script"

[2018-03-02 22:26] danfinlay opened #3404 "Create automated new version tweeting script"
We should automatically schedule tweets for the https://twitter.com/metamask_bot Twitter account whenever a new version or release candidate has been published.

[2018-03-02 22:27] danfinlay opened #3405 "Create automated new version Facebook posting script"

[2018-03-02 22:27] danfinlay opened #3406 "Create automated Slack new version announcing script"

[2018-03-02 22:27] danfinlay commented on #2081
Opened issues in place of all these bullet points, Related to this epic: https://github.com/MetaMask/metamask-extension/issues/3389

[2018-03-02 22:27] #2081 closed

[2018-03-02 22:37] #3378 closed

[2018-03-02 22:40] danfinlay commented on #3389
Yeah, I was thinking "deploy strategies", but yeah was bad wording. Updated top post.

[2018-03-02 22:53] adamyala opened #3408 "Beta UI request: .eth name resolving"
In the old UI entering a .eth name resolved it to the appropriate address. In the new UI it's considered an invalid address.

<img width="337" alt="screen shot 2018-03-02 at 2 50 27 pm" src="https://user-images.githubusercontent.com/3434677/36925797-77076644-1e29-11e8-91ee-9593e7d24622.png">
<img width="340" alt="screen shot 2018-03-02 at 2 50 49 pm" src="https://user-images.githubusercontent.com/

[2018-03-02 23:37] Swift42 commented on #3374
I forced my chrome to update to MetaMask 4.1.3 (Addons -> Dev Mode -> Update all addons) and it is now working again. I was able to resend all stuck transactions with a higher fee.
Thank you for the fix.

[2018-03-03 00:05] bvand commented on #3191
@danfinlay can you reopen this issue? seems like I didn't make a mistake after all, if @BGzetro and @noahbreal are having the same issue.

[2018-03-03 00:06] scsaba commented on #3355
Hi @danfinlay,

Please review my pull request. Right now the seed phrase verification script is called every time when the user gets the seed phrase, both on first account creation and on Settings - Reveal seed words. Of course it can be easily extracted into a separate method also and can be called anytime.

Please see if it fits your needs.

[2018-03-03 00:17] danfinlay commented on #3383
Our Mural for this issue is here:
https://app.mural.ly/t/consensys3989/m/consensys3989/1519847531533/ee821a7d9d623377f2d4b455c4fb50276130ef45

[2018-03-03 01:03] danjm commented on #3408
@adamyala Good suggestion. In fact, the work for this is planned. This feature should be added by end of next week.

[2018-03-03 01:05] danfinlay commented on #3115
@iamjaime Your issue is different from this one. Please don't go around our issues trying to claim common bugs, it isn't productive. I hope you've sent your state logs into support, that's the only place we can look into what actually happened.

[2018-03-03 01:09] danfinlay commented on #3191
This issue is a duplicate of #3127, so there's no reason to reopen it. We will continuously raise bug bounties as long as bugs are claimed to exist, but currently no one has been able to find a way that this could have happened to you with the current version of MetaMask.

[2018-03-03 01:12] danjm commented on #3379
Thank-you for reporting this issue.

[2018-03-03 01:13] danjm commented on #3391
Thank-you for reporting this issue. It will be addressed soon.

[2018-03-03 01:15] danjm commented on #3373
Thanks @davesumter for reporting this. This was fixed in version 4.1.3, which was deployed earlier today and is now available on chrome.

[2018-03-03 01:15] kumavis opened #3412 "[new-ui] reveal seed phrase does not show in full screen"
from Michael Wuehler on slack

[2018-03-03 01:16] danjm commented on #3374
Thanks @Swift42 for reporting this. Much appreciated.

[2018-03-03 01:16] #3373 closed

[2018-03-03 01:34] danfinlay opened #3413 "Digest UI Feedback"
We got a whole feedback doc on the UI in [a tweet](https://twitter.com/eamunoz_me/status/969746836184444929). Need to go through it, and create new issues for anything new it brings up:

https://docs.google.com/document/d/1MUEz2Ioif31zzELBTfmNyCTG7_W--QWoIkr7mU0cQ7k/edit

[2018-03-03 01:43] danfinlay opened #3414 "NewUI: Make pop-up tall enough to view Confirm/Cancel buttons"
Suggested in #3413.

May be difficult if we add more complexity to the confirmation window.

Maybe we make the mid-section scrollable, so the buttons are fixed at the footer?

[2018-03-03 01:44] danfinlay opened #3415 "Allow currency selection on "Send" screen"
I know we've talked about this again, but I think it's worth revisiting.

Also suggested again by a user in #3413, proposed with mockups in [this google doc](https://docs.google.com/document/d/1MUEz2Ioif31zzELBTfmNyCTG7_W--QWoIkr7mU0cQ7k/edit).

[2018-03-03 01:45] danfinlay commented on #3413
Digested into #3414 and #3415.

[2018-03-03 01:45] #3413 closed

[2018-03-03 02:33] jacktang commented on #2268
@tmashuang what's the final solution if I want to get accouts[0] with metamask switch account? `web3.eth.getAccounts(console.log)` ? If yes, could you pls give some example?

[2018-03-03 04:57] danfinlay commented on #2268
@jacktang Yes, the `web3.eth.getAccounts()` method is very reliable. You might check in an occasional loop:

[code]

[2018-03-03 06:32] dhaileytaha opened #3418 "Metamask sometimes not injected, or failing to compile"
Hi,
Niether my remix is compiling to any network in metamask (mainnet, ropsten, rinkbey, kovan) nor the metamask is getting injected to the browser (as we can see "metamask - injected web3" in console when we add metamask to chrome/mozilla ). when i check the
settings - > manage extensions -> developer mode : ON -> metamask extension -> background, i get this error check link or image.

[http://pr

[2018-03-03 07:49] lazaridiscom commented on #3380
Mr Yellow, thanks for the notes.

# Priorities

* A) Comply to CryptoCurrency Domain Terminology
* B) Security of Funds

I assume that 100% of people will agree here:

=> the "Security of Funds" has top-priority, above all.

# Security of Funds

## Confused Users - A Major Security Hazard

New users of MetaMask do not always have the full Crypto Knowledge. It is important to not confuse them, beca

[2018-03-03 08:03] davesumter commented on #3373
Thanks for the quick fix!

[2018-03-03 08:11] lazaridiscom commented on #3389
... ... ... ^%*&%*^@#% - RUUUN!!!

(My experience says: "Whenever you see "Agile" within a creative project.... RUN!!!")

[2018-03-03 08:53] lazaridiscom commented on #3372
@danfinlay , shouldn't there be a test-case added, which catches this regression in future?

[2018-03-03 10:14] hayeah opened #3419 "cache net_version call"
If a DApp needs to detect account switching or locking, it needs to poll accounts and net_version.

Right now account is cached, so the poll does not create an additional network call.

net_version isn't cached.

[2018-03-03 10:26] lazaridiscom commented on #3191
(notes for myself, just ignore)

=> Verify Conceptual Constructs

=> Terminology, Process

=> SEVERE, CRITICAL

=> Assess who has priority in the public issue-tracker: the users or the developers (personal assessment: users)

[2018-03-03 12:18] davesumter opened #3420 "Rejecting a pending tx prevents further action on it"
If you click to "retry with higher gas" you can then Reject the repricing tx.

When you do this you can no longer reprice the original pending tx which is obviously still at play and has not been replaced.

MetaMask now shows 'rejected' next to the tx even though it is still active in the pending pool..

[2018-03-03 18:20] hanton001 opened #3422 "My Accounts - cannot see beyond the first 4 accounts"

[2018-03-03 23:57] trakout opened #3423 "[Beta] ERC20 approve() -- UI makes it look like tokens are being sent"
When using `approve()` the full amount being approved is displayed (makes sense probably), but there is no indicator showing the fact that tokens are not yet being transferred (as opposed to approved for transfer).

Also in use-cases where an 'unlimited' approve is used (eg. RadarRelay), the max uint is displayed as an amount that runs off the edge of the viewport. This, coupled with the fact that

[2018-03-04 04:46] lazaridiscom commented on #3389
@danfinlay , some comments:

If "ZenHub" is now required to follow this project, then you should announce it (and provide some instructions, e.g. a link to the relevant resources).

If not, then you should not mention it (to not confuse anyone who tries to follow the project).

A worthy dream!

But even more: this is a **must** requirement, see below:

# Deployment

## Requirements

### Must

The

[2018-03-04 05:28] lazaridiscom commented on #3249
@danfinlay , as usual, i delete my off-topic messages after some days, so don't wonder if it looks like you talk to yourself.

I have additionally "Stopped Work" on this Bounty (https://gitcoin.co/funding/details?url=https://github.com/MetaMask/metamask-extension/issues/3249).

I am still on this task, and I have the first estimation for you:

* 30 to 60 days.

The main problem is: the involved su

[2018-03-04 06:16] danfinlay commented on #3389
We're just experimenting with it, to try to organize our enormous backlog. Not ready for formal "requirement" announcements. We'll add any formal process documentation to our main READMEs as those processes solidify.

[2018-03-04 09:42] lazaridiscom opened #3424 "Document Vault Restoration Procedure"
from https://github.com/MetaMask/metamask-extension/pull/3409/files/92453f8715b78c0e6e2cdb9b2e1cfe48c0b013ad#r172029019

Is this so?

Is there any documentation available about this?

[2018-03-04 10:39] or2008 opened #3425 "Better support for batch transactions"
Bounty: improve MetaMask's support for transactions sent with the `batch` web3 method, and improve support for standard transactions proposed in quick sequence. Specifically, MetaMask should:
* Stack transactions in a single popup in the order they're proposed
* Support batch transactions: stack transactions in a single popup in the order they're added to the batch
* Display N of M UI element in n

[2018-03-04 12:34] askucher commented on #3408
So, are you going to add @names?

[2018-03-04 14:32] lazaridiscom opened #3426 "[DEV] - Enable and Document Development on Windows Native"
affects #3427

## Tasks

- [x] enable `METAMASK_ENV=test`
- [x] enable 'METAMASK_DEBUG=true'
- [x] enable mkdirp
- [x] ~enable or remove~ `[ $COVERALLS_REPO_TOKEN ]` - follow-up #3650

[2018-03-04 15:00] lazaridiscom commented on #3389
This will not work-out, as you have to hit the root-causes.

Your project, your free to try, of course.

But please be aware that you make it very difficult for others to follow this project.

[2018-03-04 16:57] lazaridiscom commented on #2978
@danfinlay , this one can be most possibly closed (events/logs related stuff was fixed with #2393)

[2018-03-04 18:08] lazaridiscom opened #3427 "[TASK] MetaMask Multi-Keyring (Phase One)"
# MetaMask Multi-Keyring

(Based on #3249, stripped down to a realistic 1st Phase)

MetaMask only accepts two types of signers (both key pairs), the 12-word mnemonic, and the imported private key.

## The Keyring Class

https://github.com/MetaMask/eth-simple-keyring#the-keyring-class-protocol

* Keyring Class is a JavaScript protocol that objects can adhere to, and be added to MetaMask as new sign

[2018-03-04 19:49] Robynpmartin opened #3428 "i tried to login to metamask, it said my acct was expired and to contact the administrator"
i signed up for metamask last month but even though my tablet said to look on the desk top there was no icon. it took me weeks of searching to find the file (json). i never received my 12 words, or the app, even though it said it was installed on my desktop. well, my son went out of town and I have taken over his computer. i managed to redownload the app. this morning, but I had to delete the copy

[2018-03-04 23:19] andersonmmi opened #3429 "Cross Network Use of Accounts Should Return Warning Message"
*  I expected that MetaMask would warn me against using Truffle TestRPC accounts on the Main Net, or at least silo accounts between networks. I also expect metamask would return an error if I tried to purchase ETH for a TestRPC account.
  *  MetaMask allowed me to import the private keys from Truffle TestRPC and interact with the Main Net.  I was able to link through the buy button and fund this a

[2018-03-05 01:04] rrubo commented on #3125
Set the Custom RPC "http://127.0.0.1:7545", and it'll work.

[2018-03-05 04:28] askucher opened #3430 "Data field is missing in Send screen"
Where is data field?

![screen shot 2018-03-05 at 06 27 08](https://user-images.githubusercontent.com/4496793/36957636-60ac528a-203e-11e8-9e3f-0f52d066706e.png)

[2018-03-05 05:27] vs77bb commented on #3354
Kumavis: 1
Crowd: 0

Until next time ☺

On Thu, Mar 1, 2018 at 12:03 AM, Gitcoin.co Bot <notifications@github.com>
wrote:

--
Vivek Singh
(832)-528-4800
LinkedIn <https://www.linkedin.com/in/vivek-singh-b5a4b675> | AngelList
<https://angel.co/vivek-singh-9>

[2018-03-05 06:43] BlueT commented on #2838
I'm having the same issue.

Was wondering why I suddenly can't answer to my work concalls (hangout) anymore on all of Firefox (58.0.2 Quantum, 64bit, Ubuntu Linux 16.04), Google Chrome, and Chromiun.
After lots of checks and try disabling extensions one by one, found out that was due to MetaMask extension.

[2018-03-05 06:44] BlueT commented on #3272
The same issue happens on Firefox too.
https://github.com/MetaMask/metamask-extension/issues/2838

[2018-03-05 07:27] scsaba commented on #3127
Hi @BGzetro, you can check if your seed phrase is in correct format?
- 12 words, only one space between words
- no extra spaces/characters at the beginning of the seed phrase or at the end
- no capital letters

You can use notepad++ to check. Copy-paste your seed phrase into a new file. Open the View menu, open "Show Symbols", and select "Show all characters". You should not see CR, LF, array, two

[2018-03-05 07:42] ganozin13 opened #3431 "Good day for all. I have Metamask with 20 Eth wallets. Can I transfer all this data in new browser with my seed phrase? Or only main wallet transfered? Any algorithm for my situation...Thanks for all!"

[2018-03-05 07:49] scsaba commented on #3331
I think the 'confirm seed phrase' page used on the new UI is a good step into the right direction, but probably it should not show the seed words for the user and ask the user to select them in the right order. It can hide some possible user errors, e.g. backing up the seed phrase in a wrong format. In my opinion, the confirmation process should be exactly the same as the restoration. Just an empt

[2018-03-05 10:53] flo-pereira opened #3432 "Seems to have a wrong signature with Personal sign."
Hi, I want a user be able to sign a transaction and then send it to a private ethereum network.
I have a problem recovering my signer public key using "web3.personal_sign".

[code]

I can't find the proper way to sign my transaction without sending.
If any one can help ..

thanks.

[2018-03-05 13:06] lazaridiscom commented on #3168
@cjeria , what about placing the warning right before(!) the buttons, adding a running thief, somehow  like this:

![image](https://user-images.githubusercontent.com/35095758/36976530-a440ed88-2086-11e8-88d7-d3720ebafdbc.png)

[2018-03-05 13:08] lazaridiscom commented on #3168
(actually, this being an animated one, and the fox running behind him would be even cooler. User complaint are then handled like this: "No, you can't have missed the warning we gave you within MetaMask!!!" )

[2018-03-05 13:40] rectsuly commented on #1698
Uncaught (in promise) Error: Error: Error: [ethjs-rpc] rpc error with payload {"id":5119868008698,"jsonrpc":"2.0","params":["0xf8eb04843b9aca008301f75b94345ca3e014aaf5dca488057592ee47305d9b3e1080b8844ed3885e0000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000002e516d536e34466670426d6a7169336a3544515254354566756a734562654e6e343

[2018-03-05 16:11] lazaridiscom commented on #3432
Hi @flo-pereira , please use the web3.js related channel, e.g. https://gitter.im/ethereum/web3.js. Alternatively, there should be a "stack-overflow" resource, too.

[2018-03-05 16:13] lazaridiscom commented on #3432
Hi again @flo-pereira , you should first verify if its web3 related, e.g. here: https://gitter.im/ethereum/web3.js

[2018-03-05 17:03] #3337 closed

[2018-03-05 18:21] lazaridiscom commented on #3427
Unexpected Surprise: till now, the relevant code is cleanly written and good documented!

@danfinlay , I just need a "go" from you, and we can workout the other formalities later. (You have possibly noticed the "~~Bounty~~ Task" thingy, which is just a hint to my wishes, not requirements.)

[2018-03-05 18:31] danfinlay commented on #3174
Let's go with Lock/Unlock for now.

[2018-03-05 18:43] danfinlay opened #3434 "Remove unused files from ui folder"
While in dev mode (`npm start`), Frankie noticed when she edited `ui/app/components/transaction-list-item.js` that the project didn't auto-rebuild.

This is because that file is not actually used in the new UI.

This task represents the cleanup task, to remove files from the `ui` folder that are not included in the `ui/index.js` file tree.

[2018-03-05 18:44] danfinlay commented on #3434
Frankie had edited `ui/app/components/transaction-list-item.js`

[2018-03-05 18:45] danfinlay commented on #3434
Since both old-ui and ui are in the current build, both should be watched and trigger rebuilds.

[2018-03-05 18:54] danfinlay opened #3435 "Design TX Retry For New UI"
Related to #3011, but for New UI.

[2018-03-05 18:56] danfinlay opened #3436 "Add Retry button to New UI"
Finishes the retry button feature

#3011 #3435

[2018-03-05 19:01] alexvandesande commented on #2350
@lazaridiscom what are you talking about? Mist *did not drop* web3 or has any plans of doing so.

[2018-03-05 19:20] abhijeetashok opened #3437 "How to add extension on Android Phone"
How to add extension on Android Phone

[2018-03-05 19:21] txtechs commented on #3437
I believe I may have added a myetherwallet to my metamask and then had to rebuild  rebuild

[2018-03-05 19:23] danfinlay opened #3438 "Measure New UI Usage Rate"
Right now we have no sense of what % of MetaMask users are using the New UI, and this will be critical insight for rolling it out cleanly.

Maybe by using a different Infura endpoint for the New UI.

[2018-03-05 19:35] danfinlay commented on #2373
A starting point PR for this fix is:
https://github.com/MetaMask/metamask-extension/pull/2623

[2018-03-05 19:43] danjm commented on #3438
@danfinlay this was done by @alextsg in https://github.com/MetaMask/metamask-extension/pull/2794/files

[2018-03-05 20:28] wbt opened #3439 "Metamask caches data across account & network resets instead of reading current data from chain, even for private testnets."
Metamask caches blockchain data and displays old data even after an account reset.

If the network is reset, Metamask will continue to display cached data from the previous state of the blockchain, and display all transactions as permanently pending, until the new blockchain is longer than the old one was.  Transactions sent at/after that moment will be marked successful (if appropriate) and Metam

[2018-03-05 20:44] cjeria commented on #3303
@alextsg just noticing the Beta label implemented is floating way above the wordmark. Let's make it so that it is vertically flush with the wordmark.

Implementation:
![image](https://user-images.githubusercontent.com/597770/36998627-6ada3388-2072-11e8-8787-0cf18c8541e1.png)

As designed:
![image](https://user-images.githubusercontent.com/597770/36998726-c3afd29c-2072-11e8-81c8-d17417a3b52e.png)

[2018-03-05 21:33] txtechs commented on #3303
Okay this issue is with beta is not showing certain erc20 s

[2018-03-05 21:38] alextsg commented on #3303
@cjeria the floating BETA should be fixed with https://github.com/MetaMask/metamask-extension/pull/3417

[2018-03-05 21:42] txtechs commented on #3303
For chrome not showing erc20 skrp

[2018-03-05 21:57] danfinlay commented on #3438
Oh great!

[2018-03-05 22:05] txtechs commented on #3438
Using Okay I'm using the meta mask  March 3rd Edition March 3rd addition
for meta mask 4.1.3 chrome

[2018-03-05 22:19] danfinlay commented on #3424
Yes, this is accurate. We follow the [bip39 standard, an extension of bip44](https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki).

It doesn't look like we have this explicitly documented, so I'm renaming this issue to do that.

[2018-03-05 22:23] #2178 closed

[2018-03-05 22:24] danfinlay commented on #2178
Closing as duplicate of #3034 or #2560

[2018-03-05 22:25] danfinlay commented on #2560
Fixes #2560.

[2018-03-05 22:27] danfinlay commented on #1658
Raising priority on this because a lot of developers want it.

[2018-03-05 22:27] danfinlay commented on #3424
Is related to #654, which would automatically detect & restore accounts with balances.

[2018-03-05 22:46] danfinlay opened #3440 "Have seed phrase restore trim invalid characters"
As summarized in [this comment](https://github.com/MetaMask/metamask-extension/issues/3127#issuecomment-370331744):

We should automatically trim all of this, in case this is what causes some people to not restore their vaults.

[2018-03-05 22:47] danfinlay commented on #3127
@scsaba Thanks for that summary, I've opened a new issue to automate what you suggested here, we may add a bounty to it:
#3440

[2018-03-05 22:48] jrmoreau commented on #3431
Hi there - thanks for the question - and in short the answer is "yes." Would you mind submitting a ticket so we can better serve you? support@metamask.io

[2018-03-05 22:48] #3431 closed

[2018-03-05 23:09] johndangerstorey commented on #3397
➕

[2018-03-06 00:28] danfinlay opened #3441 "Allow users to opt out of error reporting"
We added #3066 urgently to track down some bugs in production, but since this is crypto, we have some very privacy-centric users, and they would certainly like the option to opt-out of this error reporting.

Shouldn't need more design than a toggle switch in settings, maybe adding an opt-out opportunity during setup.

[2018-03-06 00:37] danfinlay commented on #3168
I really like the idea of the animated 8-bit robber + fox. Definitely would grab the eye, help make the point. We should make a bounty for that animation and post it on some 8-bit art forum.

[2018-03-06 00:45] danfinlay commented on #3438
Actually we moved off that endpoint @danjm to use the new RESTful endpoints that Infura gave us. We need them to provide some new RESTful endpoints to enable this again.

[2018-03-06 00:45] danfinlay commented on #3438
@txtechs I think you may have replied to the wrong message.

[2018-03-06 00:54] danfinlay commented on #2350
Sorry @alexvandesande, I think he was going off my earlier citation where [the Mist changelog announced web3's deprecation](https://github.com/ethereum/mist/releases/tag/v0.8.10).

We have continued injecting it ourselves, but weren't sure if you had deprecated yet or not.

[2018-03-06 01:27] cjeria commented on #3168
@danfinlay I don’t know. This almost seems too playful. The illustration/animation would need to be very well executed and cohesive with the message we’re trying to convey. I’m Also concerned about the layout that @lazaridiscom is suggesting. The horizontal area under the seedphrase field is very narrow. Not sure that’s the best placement for an animation + message to be placed side by side. I bel

[2018-03-06 01:35] Zanibas commented on #3439
Thank you for this hugely detailed response!

[2018-03-06 01:38] Zanibas commented on #3437
We do not currently support MetaMask on Android yet, unfortunately. Therefore, there is no way to use MetaMask on Android without importing your private keys or seed words into another app.

[2018-03-06 01:38] #3437 closed

[2018-03-06 01:40] Zanibas commented on #3430
We do not currently support the data field in the new UI, since we anticipate most transactions requiring data are sent from the dapp rather than user-initiated.

What are you attempting to do that requires use of the data field?

[2018-03-06 01:48] Zanibas commented on #3429
Although I understand your concerns, would you have any ideas by which we could even detect this kind of behavior? If it were as simple as detecting if a user has used a non-mainnet testnet within a single session, then we could set some booleans in the background to trigger a warning message.

However, it seems in this case that you've imported a private key from Truffle. There isn't a very good

[2018-03-06 01:53] Zanibas commented on #3428
I believe that emailing our support desk at support@metamask.io will give you better answers, but to quickly address this, it sounds like you have been the target of a scam/phishing incident. We do not ever say that "your MetaMask is expired" or that there is a process to reset your password through an email.

If you are willing, we'd like more details on where these emails are coming from, as wel

[2018-03-06 01:53] andersonmmi commented on #3429
You know how imported addresses are labelled as loose?  We could just label these testRPC/ganache addresses with "test".  Seems like a logic test against the array of known test addresses could check this on the front end and it would be very light.  I can code it up an PR it if that would help?

[2018-03-06 01:55] Zanibas commented on #3429
Yes please, go ahead and start up the PR and we can continue discussions there--thank you for such due diligence on writing up that blog post!

[2018-03-06 01:58] Zanibas commented on #3422
Can you please submit a screenshot? Are you unable to scroll?

[2018-03-06 02:00] Zanibas commented on #3425
I believe if I'm remembering correctly, this is actually an anti-phishing measure to prevent a dapp from "surprising" their users by asking for another tx last second and causing the user to submit that one instead of the original one.

We are open to discussion on this topic though, if you feel that isn't the correct design decision.

[2018-03-06 02:03] Zanibas commented on #3423
@danjm @alextsg

[2018-03-06 02:04] tradedbytony opened #3442 "Nonce issues"
I have been using MetaMask to trade on different exchanges and all's been fine until tonight. Starting tonight I'm getting these and I can't send tokens/eth anywhere.

I even tried switching to the Beta version, but still getting error messages. I tried switching to the Test networks and back to the main Network and still didn't work.

Any idea what may be causing this all of a sudden? This is the

[2018-03-06 02:07] Zanibas commented on #3392
1) How did you find out that you lost all your tokens?
2) Can you confirm for sure that you actually visited forkdelta (confirmation in your browser history). We want to hope that you didn't get phished or anything of the sort.
3) Any other reproduction steps would be helpful.

[2018-03-06 02:08] Zanibas commented on #3392
For the record, MetaMask as a whole has not been hacked. There are numerous phishing scams and malware instances though that are attempting to socially engineer people though.

[2018-03-06 02:09] Zanibas commented on #3442
@danfinlay @kumavis

[2018-03-06 02:14] Zanibas commented on #3418
Is this on an upgraded extension or a fresh install?

[2018-03-06 02:43] keife commented on #3357
IDEX sucks! Never working with MetaMask, worst exchange I have come across.

[2018-03-06 02:50] Afectr opened #3443 "Empty balance after restore account and new password reset"
I have a Chrome browser that I use my Metamask App on.

There have been a few transactions lately on it, and suddenly I thought I might want to give it a new password.

So I  hit restore using my seedphrase, pop in a new password with a confirm password, and bam it created a new account. However this time all my balance is gone.

I must have missed something here, but is there anyway to restore my

[2018-03-06 03:54] hanton001 commented on #3422
Hi, scrolling works now...thanks

On Mon, Mar 5, 2018 at 8:58 PM, Kevin Serrano <notifications@github.com>
wrote:

[2018-03-06 04:01] Robynpmartin commented on #3428
after mew told me that my acct. had no balance, i went to etherscan (i had it bookmarked) to check my balance. i was unable to login, so i requested a new password. etherscan sent a password reset to the email on file (the same one i get updates from on two accts. i'm watching). with the new password i was able to login and my balance is still their, and i'm still receiving my updates. i accessed

[2018-03-06 04:17] danjm commented on #3423
@trakout Some questions and responses (mostly for me to ensure I understand you correctly):
(1) I assume you are calling `approve()` from some other dapp, correct?
(2) You are proposing that we alter the words and visual indicators when a token contract `approve()` method is called? (For example, perhaps "Authorize" would be a better header than "Confirm" and "Please review your approval" a better

[2018-03-06 04:46] trakout commented on #3423
Hey @danjm! Sure:
1) Correct, calling `approve()` directly from a dapp.
2) Yes, this is a good example -- I think it's pretty much in line with the idea behind `approve()`.
3) 👍
4) Yes, this is the edit screen you can get to off the Confirmation screen that pops up after attempting `approve()`.
5) I think that's correct -- overall I think it's a good idea to suppress the `amount` field validation

[2018-03-06 06:33] m4nc3-r4yd3r opened #3447 "Cannot change Gas Limit to a valid level trying to send ETC. It toggles between 21000 and 0 but I am unable to submit"
I get this:
<img width="358" alt="screen shot 2018-03-06 at 12 31 26 am" src="https://user-images.githubusercontent.com/36798703/37017306-cf50caee-20d5-11e8-89c1-c016354acbb1.png">
I reset and then try to change the gas limit again and the submit button grays out.

[2018-03-06 06:59] elsurudo commented on #3418
Not the OP, but I am having the same issue and it is on a fresh install of MetaMask.

[2018-03-06 07:03] dhaileytaha commented on #3418
Its on the latest version 4.1.3

[2018-03-06 08:50] athlona64 opened #3448 "Using Azure blockchain metamask is not connect when geth --rpcapi ="eth,admin,personal""
Using Azure blockchain metamask is not connect when geth --rpcapi ="eth,admin,personal"

when i remove --rpcapi="eth,admin,personal" it work ?

[2018-03-06 08:53] etienneroudeix opened #3449 "Few questions about getting signed data"
Hi there,

I have some questions for which I could not find a clear answer.

When asking MetaMask to sign a transaction, is it possible to force a chain id ?
If yes, any documentation link ?
If no, is it for security reason or would you consider a PR doing it ?

Is it possible to sign a transaction through MetaMask and not send it but get the signed data back ?
If yes, any documentation link ?
If

[2018-03-06 09:24] lazaridiscom commented on #2350
@alexvandesande

from: https://github.com/ethereum/mist/releases/tag/v0.9.0

from: https://github.com/ethereum/mist/releases/tag/v0.8.10

[2018-03-06 10:29] BGzetro commented on #3127
@scsaba

Thanks for the help. I followed your procedure and I can confirm there are no capital letters or double spaces, only a single dot was showing between words.

[2018-03-06 11:23] elie222 commented on #2601
Any idea when this will be supported?

[2018-03-06 11:25] lazaridiscom commented on #3127
@danfinlay , why would there be a dot? Could this be the cause of the issue here? (if so @BGzetro and @scsaba should possibly get the bounty)

[2018-03-06 11:30] BGzetro commented on #3127
@lazaridiscom As far as i'm aware on note pad++, when you go to "show symbols" spaces are shown as a single dot, as a single dot is shown it indicates a single space between words as it should be so nothing is wrong with my seed. The issue is something else.

[2018-03-06 11:31] lazaridiscom commented on #3127
I see. Thanks for the explanations.

[2018-03-06 11:56] BGzetro commented on #3127
@danfinlay Could this bug be related to https://github.com/MetaMask/metamask-extension/issues/2577

- When an account was first created a user would click on 'create vault'  but it was selected multiple times.
-
- Multiple vaults are then created but only the seed for the first vault is shown immediately and generation of the other vaults are stalled for some reason.
-
- The seed phase continues t

[2018-03-06 12:09] BGzetro commented on #3258
Hi,

I did not import a JSON/UTC file from MEW/MyCrypto/Mist to Metamask to restore my account.

I was thinking it might be more of an issue relating to this:

https://github.com/MetaMask/metamask-extension/issues/2577

It was original classed as fixed at the end of November last year but i've got a feeling it is still at fault.

Something along what i write below occurred in the past and it seems

[2018-03-06 12:39] lazaridiscom commented on #3426
@Zanibas , note that a fresh installation on a supported system (windows 10) has test-problems, which is quite severe.

removing "METAMASK_ENV" in package.json works around the problem, then the next comes up:

[code]

Possibly windows support was not tested yet on from-scratch dev-environments.

[2018-03-06 12:54] lazaridiscom commented on #3127
@BGzetro , the only thing that possibly could help is this:

* One Seed can recreate Multiple Accounts
* If for any reason your account was not the 1st but e.g. the 2nd or 3rd, then a recreation would not show the account with the funds, but a 0-fund one.
* Thus, try this: restore your account with your seed, and then "create new Account" (which should created the 2nd, then then the 3rd exactly as

[2018-03-06 13:15] yudilevi commented on #3425
Hey guys,

Many times it's required because the ERC20 allowance mechanism so we need users to also sign an `approve` transaction before executing the actual transaction.

So how do you suggest we handle multiple transactions in this case?

Thanks

[2018-03-06 13:17] lazaridiscom commented on #3427
## Even More Important

The above (the plan) is already a work-result (as I was breeding about this since around two weeks - not full-time of course, more in background). One of the most important parts of this overall task is to add this functionality "chirurgical" (as in "without breaking the underlying code").

So, ideally, the implementation would be done by:

* Non-Breaking Code-Additions
* N

[2018-03-06 13:32] BGzetro commented on #3127
I tried what you said with metamask and generated 15 additional accounts and non matched my original address. I also tried doing the same through myetherwallet so could view multiple addresses at the time and their balances related to my seed and checked over 200 address and none showed any balance as none of the addresses matched my original. I feel like I was given an incorrect Seed phase by met

[2018-03-06 13:54] BGzetro commented on #3127
I'm not sure what the correct term is but what I feel has happened on account creation is 2 different accounts were created sort of in parallel somehow at the same time (this should not happen), I was shown a seed phase for one account related to a string of Ethereum addresses but only one account could link to my password upon account creation, the one that linked was for a different seed phase w

[2018-03-06 14:06] lazaridiscom commented on #3127
@BGzetro , your case could be related to #2577, but this does not mean that your account can be recovered. If you feel that this could help you, then you can open a new issue describing your case, and mention all related issues you detect.

[2018-03-06 15:04] lazaridiscom commented on #2252
@Zanibas , this one was fixed with PR #3224

[2018-03-06 15:07] lazaridiscom commented on #952
@Zanibas , this issue could be close, as its superseded by #3249

[2018-03-06 15:30] BGzetro commented on #3127
I managed to get back into my account again and transfer all my tokens and Ethereum out of my account into another address I own which i don't use with Metamask :D

Basically last year I installed metamask on mozilla firefox, created an account and recorded that seed. I never used that account and uninistalled metamask.

Then this year I decided to Metamask and completely forgot I created an accou

[2018-03-06 16:01] lazaridiscom commented on #3127
Well @BGzetro , your luck is back, I guess. If the steps you've give can lead to a reproduction, then your luck is even more back!

[2018-03-06 16:36] danjm commented on #3423
@trakout Thanks for your replies. Fixing the display of large amounts will likely be resolved this week. Better support for `approve()` (to address the other issues raised here) will be done in our next sprint, which starts next week.

Thanks again for reporting this.

[2018-03-06 17:14] #3358 closed

[2018-03-06 17:32] danfinlay commented on #3442
To investigate possible causes, we would need [state logs](https://metamask.helpscoutdocs.com/article/9-how-to-download-state-logs). Since those include some information like your address and transactions, you might want to submit them in privacy, maybe to us at support@metamask.io

I am closing this because there is nothing we can do without these logs. If you submit the logs to our support email

[2018-03-06 17:32] #3442 closed

[2018-03-06 17:41] danfinlay commented on #2601
No, but we know it's very desired. Just balancing important issues, sorry. Follow issue #2350, not this one, please.

[2018-03-06 17:44] danfinlay commented on #952
Closing as duplicate of #3249.

[2018-03-06 17:44] #952 closed

[2018-03-06 19:08] helloMike commented on #2219
I've came up the same problem ,maybe i setted the gas price too low ,what should i do now?
![2018-03-07 2 46 31](https://user-images.githubusercontent.com/6396282/37052633-d81acf14-21b4-11e8-8137-cf00363f6e72.png)

[2018-03-06 19:17] kumavis commented on #3443
when did you first create your account?

[2018-03-06 19:22] kumavis commented on #3447
Looks like you're using [ClassicMask](https://github.com/EthereumCommonwealth/ClassicMask/issues/new).
We don't run that project and can't provide support for it. Please open an issue over there.

[2018-03-06 19:22] #3447 closed

[2018-03-06 19:24] kumavis commented on #3448
hmmm weird -- any errors from the network tab?
https://github.com/MetaMask/faq/blob/master/LOGS.md#background-logs-chrome

[2018-03-06 19:25] danfinlay opened #3452 "Investigate: Removing Extension & Reinstalling Keeps Old Seed Phrase?"
Based on this comment:
https://github.com/MetaMask/metamask-extension/issues/3127#issuecomment-370819730

Is there any way for an extension to persist seed data, while appearing that a new vault is being created? I'm not aware of such a thing, but we should ensure it.

It turns out the new accounts address for account 1 does not releate to the new seed I was given but actually relates to the seed

[2018-03-06 19:28] danfinlay commented on #3127
@BGzetro the current bug bounty is on issue #3127.

## Could this be a multiple vault creation issue?

This is what the previous seed phrase bounty was awarded for. We [a few extra locks](https://github.com/MetaMask/metamask-extension/pull/2605/files) to ensure that only a single vault is created when the "Create vault" button is clicked.

## Could this be a string formatting issue?

The only way

[2018-03-06 19:36] kumavis commented on #3449
we use the response of `net_version` https://github.com/ethereum/wiki/wiki/JSON-RPC#net_version for the EIP155 chain id. this creates a problem for ETC as the `net_version` and `chainId` don't match. AFAIK there is no way to directly query the `chainId`.

As a work around, someone could add an override in the network config menu.

no we don't allow this because it makes nonce calculation difficult

[2018-03-06 19:36] #3449 closed

[2018-03-06 19:39] Zanibas commented on #3425
This is a legitimate concern and I will relay this at our next sprint. Apologies if we get a bit slow--keep pinging us and we'll get to it!

[2018-03-06 19:40] kumavis commented on #3428
you never log in to metamask with an email, you only unlock your metamask with a password. maybe you're confused what service you're using?

we dont have an "expired" error message. can you take a screen shot of this error?

good luck/
you'll figure it out

[2018-03-06 19:48] danfinlay commented on #2219
I'd say try again with a higher gas price, but it looks like this succeeded, based on your link, so it looks like another type of bug.

[2018-03-06 19:49] danfinlay commented on #2219
@helloMike Would you mind sending your [state logs](https://metamask.helpscoutdocs.com/article/9-how-to-download-state-logs) to support@metamask.io so we can try to debug this?  Tell them I asked for the logs here, and to assign me.

[2018-03-06 19:52] kumavis opened #3453 "Feature: Override chain id in network config"
Currently we use the rpc response of `net_version` for the EIP155 `chainId` value when signing all txs.

For some chains (e.g. ETC) `net_version` !== `chainId` which causes an invalid tx sig for the network.

The **correct** thing to do is introduce an rpc method for querying the chainId.

A workaround is to allow the user to override the chainId in the network settings.

This feature includes:
-

[2018-03-06 19:54] kumavis commented on #3449
for chainId woes, feel free to +1
https://github.com/MetaMask/metamask-extension/issues/3453

[2018-03-06 19:54] kumavis commented on #3453
If you want this feature, please let us know what network you are wanting to use

[2018-03-06 21:09] hurradieweltgehtunter commented on #3129
I can approve that. Just wondered why my Tokens are also in a different account but switching to "Sent" and back reloads the tokens page.

[2018-03-06 21:15] m4nc3-r4yd3r commented on #3447
Thanks for the response.  I noticed that after i posted but i could not
find the classic mask github.  Thanks for pointing me in the right
direction. I also use metamask but i was trying tgis out as well.  Thanks
again.

On Mar 6, 2018 1:23 PM, "kumavis" <notifications@github.com> wrote:

[2018-03-06 21:51] Afectr commented on #3443
I will check this when I get home tonight to my home computer, Thanks

[2018-03-06 22:29] danfinlay opened #3454 "Build Coinbase widget into our UI"
We currently link over to Coinbase for the ether buy widget, but their buy widget API also supports buying within our own UI.

We should build the buy widget right into the app, to minimize context switching for the user.

https://developers.coinbase.com/docs/buy-widget

[2018-03-06 23:07] #3087 closed

[2018-03-07 01:06] athlona64 commented on #3448
loop connecting it work when i remove --rpcapi on geth but not work on add --rpcapi

![s](https://user-images.githubusercontent.com/3031787/37067875-75e0d526-21de-11e8-9d38-9919fdaf7cb7.png)

[2018-03-07 01:12] #3174 closed

[2018-03-07 01:28] cjeria opened #3457 "Update all font weights to normal (400)"
Let's use font weight normal (400) for all fonts. It renders on the screen a lot better than 300 and reads better overall.

I took screenshots of how it would look with 400 weight font. 400 is also what I use in the invision.

![image](https://user-images.githubusercontent.com/597770/37052165-58f41a9c-212d-11e8-8e81-b0899a96836d.png)

![image](https://user-images.githubusercontent.com/597770/37052

[2018-03-07 01:34] cjeria opened #3459 "Account Names are being Cropped"
The lowercase font tails are being cropped. A simple bottom padding of 5 pixels on the <span> container would fix this.

![image](https://user-images.githubusercontent.com/597770/37068570-3ffce62c-2164-11e8-9431-e1c8e0ce42f8.png)

[2018-03-07 01:43] athlona64 commented on #3448
network show

{"jsonrpc":"2.0","id":1622289956636666,"error":{"code":-32601,"message":"The method net_version does not exist/is not available"}}

[2018-03-07 01:57] athlona64 commented on #3448
OK it work when i add --rpcapi="net"

[2018-03-07 04:56] celinepark94 commented on #3435
@cjeria, took a quick first pass at the UI in the browser and extension. Changed some wording for the message, and included it in the header rather than as a pop-up. Also changed the "cancel" button to read "cancel overwrite" to make it more clear. Please give feedback if you have some time, otherwise, I'll keep working on it.

Maybe, since the only thing they can overwrite is the gas, we can dire

[2018-03-07 04:57] celinepark94 commented on #3435
Also, please advise if I am using outdated/unused screens

[2018-03-07 05:55] trigun0x2 commented on #1666
Sorry, I've been busy for the paste few weeks, but I'm making some good progress on this issue.

Seems like `NotificationManager._getPopupIn()` checks the width/height to confirm that a popup window is already open. This fails in some Linux window managers (which opens all windows in max height) and possibly when some extensions affect the window size.

Is there any particular reason the height/wi

[2018-03-07 06:20] Afectr commented on #3443
36 days ago

[2018-03-07 06:56] haydenadams commented on #3414
Please do this! For me, I can't see the buttons, even when I scroll. I have to make the pop window larger and then scroll down for every single transaction.

![metamaskui](https://user-images.githubusercontent.com/9343483/37077841-bbad2908-21aa-11e8-83b1-8214da83627e.png)

[2018-03-07 07:02] haydenadams commented on #3414
Please do this! For me, I can't see the buttons, even when I scroll. I have to make the pop window larger and then scroll down for every single transaction.

![metamaskui](https://user-images.githubusercontent.com/9343483/37078055-a160fe5c-21ab-11e8-9f70-e41ec85c8069.png)

[2018-03-07 07:03] haydenadams commented on #3414
Please do this! For me, I can't see the buttons, even when I scroll. I have to make the pop window larger and then scroll down for every single transaction.
![metamaskui](https://user-images.githubusercontent.com/9343483/37078072-b6ccdcc0-21ab-11e8-9b0e-2281853c24ad.png)

[2018-03-07 07:04] haydenadams commented on #3414
Please do this! For me, I can't see the buttons, even when I scroll. I have to make the pop window larger and then scroll down for every single transaction.

![metamaskui](https://user-images.githubusercontent.com/9343483/37078101-df4b7c56-21ab-11e8-8546-51f71765325c.jpg)

[2018-03-07 07:10] haydenadams commented on #3414
Fixing to header or footer both sound good to me

[2018-03-07 07:15] danfinlay opened #3461 "Update Account Options on Home Screen"
Bounty: update the home screen to include a new drop down menu with options for account navigation

![image](https://user-images.githubusercontent.com/1016190/46102121-71906d80-c182-11e8-8684-705d280ad8d0.png)

More details in the comments below

---

Should receive usual design consideration, but we received a tweet complaining that viewing etherscan requires more clicks on the new UI:

https://t

[2018-03-07 07:17] danfinlay opened #3462 "Gas inputs should be number type"
Since gas inputs are not number type, using arrow keys doesn't work to increment/decrement. Reported via tweet:

https://twitter.com/mattgcondon/status/971106044016340993

[2018-03-07 07:22] danfinlay opened #3463 "Indicate the current selected account on the popup account view"
Reported via tweet:
https://twitter.com/mattgcondon/status/971133042654822400

Mostly about showing name/address in the main account view.

Requires some design consideration. Currently the account nickname is on the left-hand drawer, which is very visible in full-screen, but on the corner pop-up, it can leave a person unsure what account they're using without a click.

[2018-03-07 08:22] metalmonkey01 opened #3464 "keyphrase not recognized when updated?"

[2018-03-07 08:52] JoshuaAiYimi opened #3465 "The Chrome Metamask cannot connect to networks"
Hi All,
Sorry, if this has been answered before.
My MetaMask could not connect to the main ethereum network. And all of the other networks (i.e. ropsten, kovan, rinkeby) couldn't be connected either. I wonder if anyone know something about this.
I am using Chrome, Windows7
Thanks!

[2018-03-07 09:45] bensonkb commented on #2746
![screenshot from 2018-03-07 15-10-19](https://user-images.githubusercontent.com/4044180/37085118-3e9a626c-221a-11e8-871c-ea96b61f16bf.png)
i too had the same issue on Firefox 58.0.2

[2018-03-07 09:54] eladleb commented on #2271
I had the same issue today, using Ropsten testnet.
I tried different gas prices, but none of my transactions were picked up by https://ropsten.etherscan.io

When I changed a metamask account user within the same browser, I successfully sent a transaction and it immediately appeared on etherscan.

When I switched the user in the browser and imported the same metamask account, I was able to send the

[2018-03-07 10:03] koalalorenzo commented on #717
Anybody still working on this?

[2018-03-07 13:09] marceljay commented on #717
I'm interested to. I'd like to securely invest in ERC-Token Projects and I'm usually doing that through IDEX or Forkdelta(Ed) using metamask.

[2018-03-07 14:10] Robynpmartin commented on #3428
i was unable to duplicate the transaction, therefore unable to take a screenshot. can i transfer all my eth to my new wallet without losing it/ and what wallet would that be/ mew or metemask???

?

[2018-03-07 14:50] BGzetro commented on #3127
@lazaridiscom
Thank you, it is :). I'll give it a go :+1:

@danfinlay

I was using 2 metamask installations for 1 account, both on the same computer but on different browsers. I'm quite confident I used the same password but what you explain makes sense.

I don't quite have enough knowledge to create a seed phrase tool that fixes other formatting errors or or could PR against seed-phrase-guesser b

[2018-03-07 15:33] MichaelRazum opened #3467 "Metamask Chrome all settings acounts gone"
Hello,
I'm using the newest Chrome Version, Windows 10 and MetaMask installed.

Without any warning or even restart of the browser. After clicking on MetaMask all the data seems to be gone. I had to accept the terms of agreement and so on. Is this bug known?

Also is there a way to restore the "old" data MetaMask was using without the secret phase. Since I would be very surprised if that data is j

[2018-03-07 15:57] lazaridiscom commented on #3467
@MichaelRazum , really sorry for your problems. I suggest you don't touch your MetaMask installation for now, until someone of the team responds.

There was a similar report here #3191. You can try account restoration on a 2nd pc (or at least on a 2nd browser, e.g. use Firefox to reinstall MetaMask and try out your seeds).

As to my knowledge, no.

[2018-03-07 16:09] jessicagmarshall commented on #3140
@kumavis I managed to fix this by updating truffle to the most recent beta version (Truffle v4.1.0 (core: 4.1.0)). I take back what I said about thinking this was a MetaMask issue.

[2018-03-07 16:15] MichaelRazum commented on #3467
@lazaridiscom Thanks a lot for your response. Maybe chrome wiped out the memory somehow. Actually I don't have the seed. It's not that bad since I have saved most of my private passwords. But unfortunately not for all of the accounts. So was hopping that there is a way to restore. Will wait for a response or a resolution of this bug.

[2018-03-07 18:50] danjm opened #3471 "Check for sufficient balance on new-ui confirm screen"
We currently check whether balance is sufficient on the send screen, but not the confirm screen. We need to check on confirm as well to handled transactions coming from dApps.

[2018-03-07 18:52] #3056 closed

[2018-03-07 19:14] danfinlay commented on #3435
I would replace the word `Overwrite` with the word `Retry`.

Also maybe revise the "Taking too long" wording, because you aren't really increasing the gas on that transaction. I like the current wording:

[2018-03-07 19:16] danfinlay commented on #1666
This height check was added by @kumavis, and if it isn't working well, I think we're definitely open to a better check. I suspect it was just a cheap way of checking if a popup was open.

[2018-03-07 19:28] danfinlay commented on #2210
This should be a reasonably easy task to add, the API exists for this, adding to the next sprint.

[2018-03-07 19:30] trigun0x2 commented on #1666
@danfinlay thanks for the heads up. I've tried the extension without the width/height check and it works fine on Linux. Seems like if you guys are planning on adding different types of popup windows, it might be valuable. Though in that situation it might be worth assign the windows some sort of id.

@kumavis please let me know the purpose and I'll brainstorm an alternative.

[2018-03-07 19:31] danfinlay commented on #2271
@eladleb Please submit your debugging help request to support@metamask.io

We will probably want your logs to debug:
https://metamask.helpscoutdocs.com/article/9-how-to-download-state-logs

[2018-03-07 19:41] danfinlay commented on #717
Yes. Currently lazaridiscom is doing research towards a standard architecture that will allow us to add new signers much more flexibly in the future.

We also some other devs gearing up to start working on this soon, and they will hopefully be able to benefit from his research.

We are not rushing out this feature, we are trying to do it right. Please [read above](https://github.com/MetaMask/metam

[2018-03-07 19:52] chuckishungry commented on #717
Thanks @danfinlay

To be clear, there is still no timeline for release of Ledger support. Is that correct?

[2018-03-07 20:01] tmashuang commented on #3465
Some of the quick solutions would be to switch networks in the top-left network indicator and switch back to Mainnet. Other issues could that some networks could block the network calls for MetaMask to work properly.
#2043, #2529, and potentially #3151.

[2018-03-07 20:04] cjeria commented on #3423
@danjm I think we should create a new issue for the design of the 'approve()' screen. This should be part of a more strategic move towards designing call specific transaction screens.

[2018-03-07 20:10] danfinlay commented on #717
@chuckishungry I'm not completely clear what you want here. How's this?:

- Research phase estimated at 30-60 days.
- Development phase estimated at 30-60 days.

Estimated time range: 60-120 days.

[2018-03-07 20:20] kumavis commented on #1666
@trigun0x2 feel free to remove it, sounds like some code i haevn't touched in more than a year

[2018-03-07 20:25] kumavis commented on #1666
here's the commit where it was added, its very ancient (Sep 13, 2016)
https://github.com/MetaMask/metamask-extension/commit/11363b4f2a3191806995dbb3d1c01fe9ab403f0d

feel free to remove if it fixes the issue

[2018-03-07 21:06] trigun0x2 commented on #1666
I'm going to package the build without the width/height check and test it on a few browsers before making the PR. If you recall why you added the checks @kumavis that'd be helpful (I don't want to break anything I don't know).

[2018-03-07 21:40] Shrugs opened #3472 "When sending txs via MyCrypto, changing the gas price in MM seems to invalidate the tx"
### Steps to Reproduce:

- go to mycrypto
- create any transaction (sending 0 ether to yourself, for example)
- note the gas price selected
- generate tx and click the send tx button
- metamask pops up
- change the gas price in metamask from the gas price selected by MC
- press confirm
- tx send fails

![thing](https://user-images.githubusercontent.com/1535001/37119721-20477960-220d-11e8-89d0-c195

[2018-03-07 21:44] danfinlay opened #3473 "Corner fox looks a little cruddy"
I think the seams of the SVG are visible. We should maybe bake a bitmap for this, it looks a little dirty:

![screen shot 2018-03-07 at 1 43 23 pm](https://user-images.githubusercontent.com/542863/37119845-94545ef4-220d-11e8-808c-17b4f7c742e5.png)

[2018-03-07 21:54] vs77bb commented on #3355
@danfinlay Have you gotten a chance to review here?

[2018-03-07 21:54] tr4vis commented on #2271
This was a long time ago, but as best I recall this problem was solved for me by completely uninstalling the Metamask Chrome Extension and then reinstalling it (as always make sure you know your seed before during and after).

[2018-03-07 22:17] vs77bb commented on #1666
@trigun0x2 Mind clicking 'Start Work' on Gitcoin to claim the issue? Instructions above^ 🙂

[2018-03-07 22:22] trigun0x2 commented on #1666
Thanks @vs77bb appreciate the bounty! Are you also on Linux? I'm in the process of testing right now but won't be able to do Microsoft Edge.

[2018-03-07 22:27] danfinlay commented on #3355
@vs77bb Yes, [as updated in the PR](https://github.com/MetaMask/metamask-extension/pull/3409#issuecomment-371261810), we're just pending a final QA pass, but this otherwise looks good to go. I think you could pay it out, the major work is done, it's just the fine details now.

[2018-03-07 22:33] danfinlay commented on #2271
That may help work around the issue, but if you submit your logs, we may be able to prevent whatever you ran into from happening to others.

[2018-03-07 22:35] danfinlay commented on #3467
Sorry this hit you @MichaelRazum, we actually are aware of this, it turns out browsers will sometimes wipe local storage, and we need to use a new storage strategy. We have a fix that we're finishing up today:
https://github.com/MetaMask/metamask-extension/pull/3083

Closing as a duplicate of #3076.

[2018-03-07 22:35] #3467 closed

[2018-03-08 00:47] #3355 closed

[2018-03-08 01:13] danfinlay opened #3474 "Put an ® for registered trademark where we use our name"
We keep having to shut down clones that re-use our branding & name, so we can help clarify this by adding a little ® next to where we use our name.
https://en.wikipedia.org/wiki/Registered_trademark_symbol

Apparently ™ is for non-registered trademarks, and ® is for registered trademarks like ours.

Task includes adding the ® in the most prominent places:

- [ ] Our extension
- [ ] Our landing pag

[2018-03-08 04:39] yuhengzhou commented on #3117
I got error "Invalid JSON RPC response: {"id":3,"jsonrpc":"2.0","error":{"code":-32603}}"  when I call following function.

           web3.personal.unlockAccount('0x4DbA61ebb5892778F6C31Af8948C9C73930b093F', 'xxxxx', 30, function (err, rt) {
                console.log(err);
               .....
            });

[2018-03-08 07:33] scsaba commented on #2562
@vs77bb My work has been [accepted and merged](https://github.com/MetaMask/metamask-extension/pull/3309). Is anything required from my side? CC @owocki

[2018-03-08 10:49] eladleb commented on #2271
@danfinlay Sent the logs as requested, hope it helps.

[2018-03-08 11:21] santiagorp opened #3475 "Sign transaction without broadcast"
How can we sign a transaction without broadcasting it to the network?

I could not find it in the docs and passing an EthereumTx object from [ethereumjs-tx]( https://github.com/ethereumjs/ethereumjs-tx) to the `web3.eth.signTransaction` method does not seem to work either.

We need to sign a transaction with metamask, send the signed transacion to our server and then broadcast it to the network.

[2018-03-08 13:11] MudWar opened #3476 "Remove zero value tokens already! Was promised over 2 weeks ago"

[2018-03-08 14:54] abiljan commented on #1966
3 tx going from metamask to idex have this error.

[2018-03-08 15:29] #3172 closed

[2018-03-08 17:03] AngusMacbagpipe opened #3477 "New Accounts not remaining"
I have created several new accounts as well as renamed 1 and they show up when created. After logging out of Metamask, the renamed account has reverted to the previous name and the new accounts are gone. I will create a new account again using the same name as before and that address is the same as the 1st time I created it, but again everrytime I log out, all those changes and new accounts are go

[2018-03-08 17:38] danjm commented on #3476
@MudWar You can do this in the new-ui:

![hidezerotoken](https://user-images.githubusercontent.com/7499938/37166592-061f17d2-22da-11e8-9d56-83d4d18b01ab.gif)

Does that meet your requirements?

[2018-03-08 17:45] cjeria opened #3478 "Fix Token Name Overflow"
User found a UI bug that doesn't allow him to hide token. The problem is that long token name push the 'hide token' button off the container view. https://secure.helpscout.net/conversation/537188567/10993/

Quick solution:
Ellipsis long token names

Long term solution:
Find a better place for token hiding button. Possibly within the token detail view. This may require the repositioning of other UI

[2018-03-08 17:46] danjm commented on #3478
@cjeria I guess we should implement the quick fix now, and then the long term solution whenever the designs are complete?

[2018-03-08 17:48] cjeria commented on #3478
@danjm Sure! It seems like a quick enough fix to squeeze into our current sprint.

[2018-03-08 18:04] elie222 commented on #1668
This doesn't work properly. It clears the past transactions or me, but still sets the next tx at nonce 141 each time. Even though nonce should be 0

[2018-03-08 18:05] elie222 opened #3479 "Nonce Reset not working"
I'm developing with Truffle and attempting to do a nonce reset with MetaMask. When I do that, all the txs get wiped, but MetaMask still attempts to do the next tx at nonce 141, when it should be doing it with nonce 0.

[2018-03-08 18:27] elie222 opened #3480 "Private Network TXs forever pending"
I'm using Truffle and MetaMask and the transactions are forever pending. I see in Ganache that they've gone through and the blockchain state has been updated, but MetaMask and my client are not getting these updates and display old state.

In MetaMask the TX shows as forever pending.

[2018-03-08 18:31] elie222 commented on #3480
If I then retry do the tx with higher gas, it says failed because the account has a nonce of 1 and not 0. But the client still doesn't show the most up to date data when querying the blockchain although Ganache and `truffle develop` console do.

[2018-03-08 18:54] danfinlay commented on #2219
Like I said before,

[2018-03-08 18:56] PhABC commented on #1668
The nonce can't be set to 0 if you already made transaction with your account. It needs to be set to the nonce of your most recent transaction accepted on the blockchain + 1.

[2018-03-08 18:56] danfinlay commented on #3117
This error code can be thrown for a variety of reasons, so if you're getting this error, please open a fresh issue with specific reproduction steps, including the system you're on, and the browser you're using, and we'll try to debug this when we're able to.

[2018-03-08 18:57] danfinlay commented on #2562
It's ok to pay out @owocki / @vs77bb!

Should be soon, @scsaba, but they're at a conference right now, so it might take a little while.

[2018-03-08 19:00] danfinlay commented on #1966
No, this bug was fixed, it is not affecting IDEX.

[2018-03-08 19:01] scsaba commented on #2562
@danfinlay no problem, it can definitely wait. Thanks for letting me know!

[2018-03-08 19:02] danfinlay commented on #1668
@elie222 could you submit some state logs for the problem you're describing? You can send them to support@metamask.io

https://metamask.helpscoutdocs.com/article/9-how-to-download-state-logs

[2018-03-08 19:36] owocki commented on #2562
paid out! tx => https://etherscan.io/tx/0x42f6f78e2d53a1827b3ab8ca5c229aea613b37e1cb4eea295221f36123f6579e

[2018-03-08 19:55] scsaba commented on #2562
Thank you, Sir! :)

[2018-03-08 19:59] cjeria commented on #3435
@danfinlay here's the final version of the retry tx button with specs. This one's ready for dev.

![metamascara - flat accounts 1 copy 4](https://user-images.githubusercontent.com/597770/37173217-d43101f2-22c7-11e8-88e5-ba4937eab5a9.png)

[2018-03-08 20:38] diegodoval opened #3481 "Wallet contract (created in Mist or Ethereum wallet) not appearing/can't be imported"
I've been looking for an issue filed or documentation in this matter but haven't been able to find it. Apologies if this is duplicate/well known. I have a wallet contract that was created by an account, call it "Main". When I import "Main" via keystore or via private key (I've tried both, on both chrome and brave) the wallet contract can't be imported afterwards (mist/ethwallet wallet contracts do