[2018-07-02 18:59] #4646 closed

[2018-07-02 19:08] bdresser commented on #4706
@SCXXX1234 looks like they were both successful: https://etherscan.io/token/0x4092678e4e78230f46a1534c0fbc8fa39780892b?a=0xed7738fd852c0a05aeb085ab06c6140a0d76d16d

exchange wallets sometimes take a while. if it never shows up, this is likely a problem with your exchange.

if you need more help, please reach out to support@metamask.io

[2018-07-02 19:08] #4706 closed

[2018-07-02 19:09] bdresser commented on #4704
@k06a can we get a screenshot or some more detail on how you got into this state?

[2018-07-02 19:10] bdresser commented on #4700
@danielhtht try checking etherscan for your tx status and what address they ended up at. if you need more help, please reach out to support@metamask.io.

[2018-07-02 19:10] #4700 closed

[2018-07-02 19:14] bdresser commented on #4698
just to clarify @Qqwy – it looks like you're calling `eth_getBlockByNumber` not `web3_sha3` ?

[2018-07-02 19:20] bdresser commented on #4689
@pakaplace could you send your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-Old-Ui) to support@metamask.io and mention this issue number? That'll help us debug.

Are you on the new or old UI? Can you replicate this reliably? Does it happen with other tokens?

[2018-07-02 19:21] lazaridiscom commented on #4060
This sounds good! I've updated #4205 and moved it here in the list to the top

[2018-07-02 19:22] bdresser commented on #4684
@larrym3235 as lazaridiscom mentioned, you should reach out to support@metamask.io 👍

[2018-07-02 19:22] #4684 closed

[2018-07-02 19:22] #4676 closed

[2018-07-02 19:23] bdresser commented on #4659
@Kiilakas if you're still having trouble, please reach out to support@metmask.io

[2018-07-02 19:23] #4659 closed

[2018-07-02 19:25] #4658 closed

[2018-07-02 19:28] SCXXX1234 commented on #4706
Thank you, its been like 3 hours so I hope it gets there soon

[2018-07-02 19:28] bdresser commented on #4644
@louisdeck good to know - i'll pass along to other folks who have experienced this issue and see it helps. thanks!

are you still experiencing the issue found in the title? if so, can you provide a little more detail?

[2018-07-02 19:34] bdresser commented on #3245
We had a user report that adding a trailing slash `/` to the end of the custom RPC URL solved this for them.

Still not sure of the root cause - works fine for me without the slash - but @heavymossman @ilbhaicnl give that a try at let us know

[2018-07-02 19:43] bdresser commented on #4653
@takeufoni could you please send a copy of your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133392-How-To-Download-State-Logs-Old-UI-) to support@metamask.io and reference this issue? that'll help us debug

[2018-07-02 19:55] k06a commented on #4704
<img width="320" alt="image" src="https://user-images.githubusercontent.com/702124/42183416-6fa61a72-7e4a-11e8-8839-fec229454197.png"><img width="320" alt="image" src="https://user-images.githubusercontent.com/702124/42183430-7a806a4c-7e4a-11e8-8bdd-62b224df6091.png"><img width="320" src="https://user-images.githubusercontent.com/702124/42183456-8ad3ba48-7e4a-11e8-8290-016ad8e47216.png"><img width

[2018-07-02 20:00] k06a commented on #4704
@bdresser nothing special activity, only imported a few private keys and generated 20 or more for the last several months. Now I can't discover all accounts and reimport hidden ones. Account list logic should be fixed, I can't even imagine how it became infinite looped O_o

[2018-07-02 20:15] bdresser commented on #4704
oh interesting @k06a, so it's in a loop? the "Account 1" you see at the bottom is the same as the first, then it keeps cycling through in the same order? can you confirm that the keys match (i.e., the first "Account 1" is really the same as the second "Account 1") ?

Also please make sure you have your seed phrase backed up in case you need to re-install the extension.

[2018-07-02 20:36] k06a commented on #4704
Yep, it is infinitely looped. Sure, I have seed phrase backup. This is exactly the same account? Are there any files I can check for you, or some command to perform in JS console for additional info?

[2018-07-02 20:40] bdresser commented on #4704
could you send me your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-new-Ui-)? bobby.dresser@consensys.net.

[2018-07-02 20:42] bdresser commented on #4707
@tomhschmidt definitely due for an update - we'll make sure we're on the most recent version of eth-contract-metadata in our next release, either later this week or early next.

[2018-07-02 20:50] bdresser commented on #4169
This is a known issue - we have an open bounty for identifying & addressing the root cause of storage loss like this #3314. Any debugging help you can provide is useful!

[2018-07-02 20:54] k06a commented on #4704
Sure, but sorry I’ll do it only in 9 hours.

[2018-07-02 21:33] CruiseMan commented on #3803
@micahalcorn any update ?

[2018-07-02 22:38] rjotwani opened #4710 "Unable to switch accounts"
I'm creating a dApp with a React.js frontend (on Windows if that matters) and I'm trying to test the dApp from multiple accounts. One account sets permissions for other accounts so I need to see things from each account's POV. I have been trying to switch accounts and call smart contract functions from different addresses, but when I switch accounts on MetaMask, transactions still send from the or

[2018-07-02 22:41] rjotwani commented on #4710
I'm using the latest version of MetaMask and I have the same issue on both the standard and beta UI.

[2018-07-03 02:22] wjmelements opened #4714 "web3.version.getNetwork returns 'loading'"
If I set Firefox to open new Firefox windows to a dapp that calls `web3.version.getNetwork` on event `'load'`, I get no error but instead the result `'loading'`, which is a case that is undocumented. ~I believe the origin of this string is `ui/app/send-v2.js`, so~ this might be a metamask-only behavior.

[2018-07-03 06:29] shobhittyagi commented on #4534
I am facing the same issue with our private network having the same network ID and chain ID. But it was working fine with the test networks.

[2018-07-03 08:04] tonygustafsson commented on #4688
I think Google were talking about apps that you install from their store
when they said that they were to be removed. This is more of a Progressive
Web App (PWA) kind of thing. Save to desktop works fine on mobile and can
give reative web pages app like capabilities.

Google just talked about supporting this for desktop. It kind of works all
ready, but they are going to be more native looking. But

[2018-07-03 10:32] louisdeck commented on #4644
Hello, no not experiencing this one anymore, this error was an easy one covering a bigger fish.
I've never figured out a pattern for this error but what I can say is that since I use the web front end instead of the window, I don't experience metamask chrome application issues anymore.

I've sent a support @ metamask  about the new error, a metamask rpc error popping up during a transaction event

[2018-07-03 13:47] bdresser commented on #4714
@wjmelements firefox only, not on chrome?

[2018-07-03 13:51] bdresser commented on #4704
@alextsg @danjm ever seen something like this? I have the logs if you want to take a look

[2018-07-03 13:52] k06a commented on #4704
@bdresser is there any config I can edit to remove one of accounts to re-add it manually?

[2018-07-03 13:53] bdresser commented on #4644
Got it. Closing this for now, please feel free to start a new issue for the RPC error if it doesn't match anything that's already been opened.

[2018-07-03 13:53] #4644 closed

[2018-07-03 13:54] bdresser commented on #4704
@k06a you can try un-installing and re-installing the extension, although please make sure you have your seed phrase safe (and keys for any loose accounts)

[2018-07-03 13:55] k06a commented on #4704
Ok, I'll reinstall it

[2018-07-03 14:43] #4596 closed

[2018-07-03 14:47] wjmelements commented on #4714
I don’t think chrome lets you set a homepage

On Tue, Jul 3, 2018 at 6:47 AM bobby dresser <notifications@github.com>
wrote:

[2018-07-03 15:39] leonprou commented on #4161
@iamonuwa hey, thanks for starting to work on this issue 👍 . As you can see below, I suggested some implementation ideas bellow. Will be glad to hear your thoughts.

Also, I'm not part of core metamask core developers so I cannot approve your work. I opened the bounty to raise attention to this issue, and I've see that it's already working 😏 . With some support from a metamask team I think we can

[2018-07-03 16:29] iamonuwa commented on #4161
@leonprou LGTM

[2018-07-03 16:29] #4622 closed

[2018-07-03 17:22] bdresser commented on #4653
might relate to #4704

[2018-07-03 17:31] #4665 closed

[2018-07-03 17:43] #4580 closed

[2018-07-03 17:48] #4307 closed

[2018-07-03 18:04] vittominacori commented on #4635
Very useful to have.
Any DApp user is forced to keep your suggested gas price and limit.
Also they can't view details on how much it is set.
In these days, when gas price has gone to the moon, they are only burning ETH.

[2018-07-03 18:30] danfinlay commented on #3249
My opinion on this issue has returned to its original state: This is too large an issue to entrust to an external contributor or bounty hunter, and so the MetaMask team will be focusing on it internally, and removing the bounty from this issue.

The problem is mostly that tightly integrated refactors benefit from rapid communication, and we tend to have dramatically stronger/faster communication w

[2018-07-03 18:34] #4663 closed

[2018-07-03 19:46] greenkeeper[bot] opened #4720 "An in-range update of metamask-logo is breaking the build 🚨"
## Version **2.2.0** of **metamask-logo** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fmetamask-logo-2.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.co

[2018-07-03 20:29] wjmelements commented on #4714
Okay I found how to set a startup page in Chrome. That gives `null` instead of `'loading'`.

[2018-07-03 21:04] wjmelements commented on #4714
I think loading and null are different states. My firefox extension is actually stuck in the loading state:

<img width="356" alt="screen shot 2018-07-03 at 2 02 33 pm" src="https://user-images.githubusercontent.com/799573/42244433-ddea20e4-7ec9-11e8-9d62-9660e864b51f.png">

[2018-07-03 23:36] estebanmino commented on #3963
I'm in 18.04 as well and I can log in using the Disable popup auto hide button in Firefox Developer Tools. While I'm logged in I have no problems at all with the app, it works fine, the problem comes when I log out and the extension goes to blank and it closes itself, that's why it cannot be open at first, the is no user logged in. So when I'm logged in there is no problem. Any thoughts on this? M

[2018-07-04 01:50] filtr0w commented on #3645
helloo stuart

i am not sure what happened.

basically i havent used metamask in a while, and i was travelling. i opened it again and it didnt ask me for a password as usual, but to create a new wallet.

i used my seed phrase to restore my den but

i cannot access this wallet now

https://etherscan.io/address/0xe9b20242a31b9058bf7a1855ac176a61e1637b2e

what did i do wrong here?

thank you

n.
____

[2018-07-04 11:39] thjnhcolag commented on #3885
#4724

[2018-07-04 12:15] lazaridiscom commented on #717
Bounty for #4205 makes now even more sense (WebUSB path, chrome devs).

[2018-07-04 12:16] lazaridiscom commented on #717
Answering myself: its a standard-option in the ledger-device menu.

[2018-07-04 17:19] EduardoCortesL commented on #3245
Hey guys, I have the same issue. It was working 2 days ago. I'm entering `http://127.0.0.1:7545` on the `Coustom RPC` option in MetaMask and is still not showing any balances. @bdresser I try adding the trailing slash and it did not work.

[2018-07-04 17:21] EduardoCortesL commented on #4705
Hey @snreynolds  I'm having the exact same issue, It shows is connected to the private network but does not show the balances.

[2018-07-04 18:44] danjm opened #4726 "Update key names for props that are meant to receive translation keys"
As per a discussion with @alextsg and @whymarrh:

If a ui component has a property that is a string which will be translated, then the name of the prop should always end with 'Key'. This is to make clear to the user of the component that the property is meant to receive a string that will be translated, and not a string that will be rendered exactly as passed.

We need to update all components in

[2018-07-04 19:31] jheinnic commented on #4161
I've got a few ideas about approaching this one.  It looks like I missed the bounty opportunity here, but I still want to share my reaction to the problem statement all the same.

I've noticed that the CyptoKitties web site has an error page when you access their 'My Account' links while using MetaMask on a non-Ehtereum network.  Further more, the page responds very quickly to any change of the ac

[2018-07-04 19:45] jheinnic commented on #4161
Hmm, stepping back on that last thought a little.  That line of reasoning was perhaps a little bit putting the cart before the horse.

The current thought process here is oriented around creating an event emitter inside MetaMask, routing those events into Web3, and then firing triggered events to the developer from Web3.

MetaMask has existing behaviors that show it can detect changes in the netwo

[2018-07-04 19:52] #4666 closed

[2018-07-04 20:07] estebanmino commented on #3963
I detected that the components InitializeMenuScreen and AccountDetailScreen of both OldUI and UI are failing due to a strange reason, for example to open the extension and have the menu screen I deleted the password-word  element and it worked (of course I cannot do login) I guess that something similar happens in the other component.

Deleting this from old-ui/app/ first-time/int-menu.js
[code]
I

[2018-07-04 20:45] estebanmino commented on #3963
I was able to run the app deleting all type password of inputs (~~type: 'password',~~), therefore working without hide the password in the inputs.

[code]
Maybe an issue related to react-hyperscript?

[2018-07-04 21:45] estebanmino commented on #3963
@Emiller88 @nicejoe2121 @rzelnik  could you check your version of Firefox? I had the version 60.2 on Ubuntu 18.04 and I had the same issue than you, now I've updated it to version 61 running `sudo snap install firefox` and the extension is working fine.

[2018-07-04 23:13] lazaridiscom commented on #3631
follow-up: #4060

[2018-07-05 00:50] abitrolly opened #4727 "Transaction memo's in new UI"
There is no way to set memo for transactions in new UI in version 4.8.0.

Memo could add automated hints to items (preferable) to help understand transaction, and also allow manual commenting (less useful, spends time). First could be implemented as tooltips or graphics.

[2018-07-05 02:01] greenkeeper[bot] opened #4728 "An in-range update of percentile is breaking the build 🚨"
## Version **1.2.1** of **percentile** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fpercentile-1.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/d4rk

[2018-07-05 03:29] shisoft commented on #4534
Hi, we also have this problem when gasLimit is very large on our private chain. Can you please resolve this PR #4552? Thanks.

[2018-07-05 05:03] lazaridiscom commented on #3249
Larger issues can be broken down, making them manageable, as it was done here:

#3427, #3631, #4060 and https://github.com/lazaridiscom/mm-vault

As for "trust": sometimes you have to trust other contributors, and let them do their stuff.

Refactoring/Redesign does not depend on direct/synchronous communication.

Larger Scale Refactoring/Redesign must be processed within mainly one brain anyway (

[2018-07-05 05:39] rzelnik commented on #3963
@estebanmino I can confirm that Metamask with snap-based Firefox version 61 works well for me.

[2018-07-05 09:11] TrejGun commented on #4726
i can work on this

[2018-07-05 10:31] #4615 closed

[2018-07-05 10:51] nicejoe2121 commented on #3963
Hello, i have firefox version 52.9.0. 32 bit.
I'm working on windows vista SP2 32 bit.
Firefox says he's up to date.

[2018-07-05 11:18] piyars opened #4732 "my meta mask crased"

[2018-07-05 13:00] leonprou commented on #4161
@jheinnic wow :astonished:, thanks for so detailed explanation!

Two points:
1. The solution you suggested (`checkForUpdate` event) is working though no ideal. I checked it and noticed that the callback function is called multiple times even if no address or network really changed. You know why? Maybe it's updated multiple times with the same values. But it's do getting called when the change occu

[2018-07-05 15:09] #4536 closed

[2018-07-05 16:13] whymarrh opened #4736 "Inline simple selectors used in mapStateToProps"
As per a discussion with @alextsg and @danjm:

Selectors should be used to abstract "complex" state queries. "Simple" selectors, selectors that simply pull a property from state without any logic, should be inlined into the `mapStateToProps` function. This is the case for new components (e.g. #4691) and we will need to adjust recently refactored components to fit this style.

Going forward we can

[2018-07-05 16:29] #4415 closed

[2018-07-05 16:34] bdresser commented on #4635
@vittominacori as mentioned above, you're able to edit the suggested gas price when deploying a contract on the old UI. If this is a blocker for you, I'd recommend you switch back.

We're working on refactoring our confirm screens, and this will be fixed in the new UI as soon as the refactor is ready!

[2018-07-05 16:40] bdresser commented on #4727
thanks @abitrolly - this is duped by #2335

[2018-07-05 16:40] #4727 closed

[2018-07-05 16:55] abitrolly commented on #4727
@bdresser set no see.

[2018-07-05 17:34] bdresser commented on #4732
sorry to hear that @piyars. if you can reproduce reliably, feel free to re-open with more details about what led to the crash 👍

[2018-07-05 17:34] #4732 closed

[2018-07-05 17:54] danfinlay commented on #3249
Closing as it has been replaced by more specific issues.

[2018-07-05 17:54] #3249 closed

[2018-07-05 18:42] brunobar79 opened #4737 "Check box to agree to terms"
It would be cool to add some kind of warning explaining that you must "read" or scroll down  all the notices (TOS / Phishing alerts, etc)  in order to continue, rather than just disabling the button.

This might cause some users to be confused and abort the onboarding process cause they don't know how to proceed.

![screen shot 2018-07-05 at 2 09 38 pm](https://user-images.githubusercontent.com/12

[2018-07-05 18:56] #4660 closed

[2018-07-05 19:14] EduardoCortesL commented on #3245
I figure out a workaround, you re-install metamask. Click on import DEN and wirte the 12 words given by Ganache/TestRPC. After you register with a new password, you go to `Coustom RPC` and write the `RPC URL` you have from Ganace/TestRPC, after it connects you should be able to see the balance of those accounts.

[2018-07-05 19:15] EduardoCortesL commented on #4705
So I figure out a workaround, you re-install metamask. Click on import DEN and write the 12 words given by Ganache/TestRPC. After you register with a new password, you go to `Coustom RPC` and write the `RPC URL` you have from Ganace/TestRPC, after it connects you should be able to see the balance of those accounts.

[2018-07-05 21:56] bdresser opened #4739 "Pass `origin` HTTP header on requests to Infura"
Adding a MetaMask-specific header to Infura requests will let us segment our traffic and understand more about daily usage.

This header used to exist but was pulled because it caused issues with custom RPC options. We should only include the header when we're certain the request is headed to Infura. See #2250 and maybe #2138.

Prior implementation used `x-metamask-origin` – we should check with I

[2018-07-05 23:27] danjm opened #4740 "Update to react 16.x"
Currently we are still on react 15. We should update. The task to update should include:

- checking the react 16 breaking changes against our code, updating/fixing if necessary
- checking that all dependencies are compatible, replacing when not
- replacing lifecycle methods that are deprecated in react 16
- thorough QA

Maybe we should do it after deleting old-ui, to reduce the amount of possible

[2018-07-06 00:21] TrejGun commented on #4740
i'd like to work on this, i have already started refactoring and can do this after I finish all components

[2018-07-06 01:42] onehates opened #4741 "Brave and metamask"
I am running brave 0.23.19 and metamask 4.3. When I try to open metamask in brave, metamask just loads and empty screen and kind of "shakes" nonstop. Clicking the icon again will just load the same behavior...

![image](https://user-images.githubusercontent.com/29721161/42355675-518e2d46-809c-11e8-9db3-7c05f78f4191.png)

![image](https://user-images.githubusercontent.com/29721161/42355641-1be26d24

[2018-07-06 02:21] lazaridiscom opened #4744 "void"

[2018-07-06 03:48] 1blockologist opened #4745 "Metamask Beta has no transaction data field"
Bug Reports:

  Briefly describe the issue you've encountered
  *  Expected Behavior
When forming a transaction, amount, gas settings and transaction data should be present.
  *  Actual Behavior
When forming a transaction, amount, gas settings are present, but transaction data is absent.
  *  Browser Used
Chrome
  *  Operating System Used
OSX

  Screenshots are very helpful and will expedite your

[2018-07-06 03:50] 1blockologist commented on #4745
#3367

[2018-07-06 06:57] vs77bb commented on #3343
Hi @realphi how are you doing here? Please let us know if you have any questions 🙂

[2018-07-06 09:34] rzelnik commented on #3963
Now the Firefox in Ubuntu (I mean classic APT repository) is also updated on version 61. So I updated my Firefox to 61 and reinstalled Metamask. And... it still does not work. So the issue is not related to a version of the Firefox. Probably there is some difference between the APT version and the snap version. Maybe there is some conflict.

[2018-07-06 10:42] tim-hub commented on #4559
I got same issue

[2018-07-06 11:01] greenkeeper[bot] opened #4747 "An in-range update of eslint-plugin-mocha is breaking the build 🚨"
## Version **5.1.0** of **eslint-plugin-mocha** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Feslint-plugin-mocha-5.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https

[2018-07-06 14:08] JackTyler4444 opened #4748 "No metamask signature request pop-op for android-firefox"
I made an app that has an eth rinkby testnet paywall. You send eth to the address and then get a signature request that the server matches to the tx sender address. When you hit "get challenge" a signature request should pop up in metamask. It works for the pc browsers (chrome/firefox) but not for firefox android. No metamask popup.

I'll post code but I am just making sure its possible to do firs

[2018-07-06 17:12] vbresan opened #4750 "If webpage javascript code contains function called setTimeout - it get's called by Metamask plugin"
Just as the title says.

If any web page that you open with a browser contains the definition of function called setTimeout - this function will be invoked by Metamask plugin instead of it's own setTimeout function.

I am sending the javascript console output which logs received function parameter as well:
"ƒ (t){if(t)return i(t);o=!0,i()}"

![clipboard01](https://user-images.githubusercontent.com

[2018-07-06 17:53] danjm commented on #4661
To replicate:

- switch to ropsten network
- go to https://faucet.metamask.io/ and request 1 ether from faucet
- go to https://tokenfactory.surge.sh/#/ and create token contract (e.g. Enter: 100, ABC, 0, ABC to keep things simple)
- once the token is created, copy the contract address
- back in metamask, click "Add Token"
- click the "Custom Token" tab and copy the address of the token you just cr

[2018-07-06 17:53] bdresser commented on #4741
@onehates i'm on the same MM & Brave versions but am not seeing this issue. Sometimes on first open I get a blank or empty box, but on second open it always loads fine.

What OS are you running? And do you remember if you're on the new/beta UI or the old UI?

[2018-07-06 17:55] bdresser commented on #4745
closing in favor of #3367

[2018-07-06 17:55] #4745 closed

[2018-07-06 17:57] bdresser commented on #4707
taken care of in #4709

[2018-07-06 17:57] #4707 closed

[2018-07-06 18:17] 1blockologist commented on #3367
Is there anything I can help with here? In such a way I could submit a PR with this fixed

[2018-07-06 18:18] bdresser commented on #3367
@alextsg would a PR be helpful, or is this handled in the confirm screen refactor?

[2018-07-06 18:20] alextsg commented on #3367
@bdresser This will be handled with the confirm screen refactor/redesign and will be merged shortly. We're currently working on adding tests.

[2018-07-06 18:38] bdresser commented on #3367
cool - thanks for the offer @1blockologist but this will be released shortly! appreciate your patience.

[2018-07-06 18:50] leafcutterant commented on #2638
This functionality would help me. Would resetting account (in Metamask settings) achieve the same?

[2018-07-06 18:53] brunobar79 commented on #2638
The reset account under settings will remove all the transactions from your
account history but won’t forget the account.

We will add this specific feature soon.

On Fri, Jul 6, 2018 at 14:50 leafcutterant <notifications@github.com> wrote:

--
*Bruno Barbieri* // Senior Javascript Engineer @ Metamask
49 Bogart St, Suite 22, Brooklyn NY 11206
Web <https://consensys.net/> | Twitter <https://twitter

[2018-07-06 20:08] owocki commented on #3127
cancelling this bounty now

[2018-07-07 00:08] brunobar79 opened #4751 "Migrate test deps job to npm audit"
NSP is shutting down in 3 months so the build will break at that time.

https://blog.npmjs.org/post/175511531085/the-node-security-platform-service-is-shutting

Also, there's no way to ignore vulnerabilities (via .nsprc) that we can't fix so we might need to disable this job temporarily until npm takes care of this. More info: https://github.com/npm/npm/issues/20565#issuecomment-391706973

[2018-07-07 00:53] onehates commented on #4741
Right actually the first time I open it, it does

![image](https://user-images.githubusercontent.com/29721161/42405074-77ba266a-815e-11e8-970f-8db9db342395.png)

Like you said, this happens the second time I open it.. It is basically those two screenshots redrawing on top of each other over and over....

[2018-07-07 01:21] 23leo23 commented on #1649
buenas como se soluciona lo de metamask las transacciones quedan en el limbo  y etherscam no las reconoce y el saldo no sale   de metamask

[2018-07-07 08:55] Qqwy commented on #4698
Yes, you are right.
(The fact that `eth_getBlockByNumber` returns a completely unusable error message in the case you send a parameter of an unexpected type is a different, probably less important, issue)

These are the actual request and response in the case of `web3_sha3`:

[code]
Response:
[code]

[2018-07-07 09:43] leroldary opened #4752 "Support current merged EIP-712 specification"
ethereum/EIPs#712 is merged. When/How do you plan to update from your current implementation of
eth_signTypedData to the new one specified in EIP-712?

[2018-07-07 13:51] realphi commented on #3343
Hi @vs77bb, I thought this issue is ignored. Actually I've found a js version checker and checked your extensions with it. It says it is es7 compatible.

I need more details for clarification. You're using Firefox web extensions so the minimum version for running the extension is 57 already. What else is needed in addition of minimum browser versions?
Because currently I can check for es7 compatib

[2018-07-07 17:33] 34r7h opened #4753 "Status request on including ETC mainnet"
Hi, saw https://ambcrypto.com/ethereum-classic-etc-support-with-metamask-coming-soon-says-ecc-director/ and hoping to learn where we are in the pipeline and if there's anything to help with.

Thanks!

[2018-07-08 02:35] tim-hub commented on #4559
I fixed this issue in my project. The issue is from contract.

[2018-07-08 02:47] lazaridiscom commented on #717
superseded by #4060

(similar/related: #4625, Trezor)

( @danfinlay , not 100% sure here, but this should be possibly close, too)

[2018-07-08 09:18] yudilevi commented on #3425
guys, should we assume this issue is low priority and thus we shouldn't expect a fix soon?

[2018-07-08 12:55] lkiversonlk opened #4754 "Metamask Crash when too many un submitted tx"
If we send about 10 or more transactions before we went to metamask and submit/cancel the transaction, Metamask will stuck, keep spinning and can't do anything.

some of my friends didn't back up the account, now he lost all his eth in this account.

I guess it's because metamask will retrieve some info about tx waiting to submitted and errored?

please help how to cancel the stuck?

[2018-07-08 13:09] lkiversonlk commented on #4754
I've tried chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/home.html

[2018-07-08 16:11] passthestixxx opened #4755 "metamask shows pending transactions but nothing on etherscan"

[2018-07-08 17:50] CrypticAutistic opened #4756 "Installed metamask extension yesterday. Closed firefox, when reopened password didn't work. Restored from seed, different account."
Installed the metamask extension yesterday. Set up my password, copied down my seed phrase, and proceeded to fund it with some ether. Today, after reopening firefox, i click on the extension and my password doesn't work. Luckily, i screenshotted the seed phrase yesterday. I put the seed phrase in. The account that it restored is a totally different address with no ether in it. W......t.....f.

[2018-07-08 19:08] rdymac commented on #4748
Hello there, the Firefox mobile extension of MetaMask is not officially supported, it might be very limited in most of the functions as you've noticed. Firefox mobile doesn't have the same capabilities as the desktop version. Sorry for the inconvenience.

[2018-07-08 19:13] rdymac commented on #4756
Hello there,

​If you are seeing at least the first account correctly (Account 1), you will need to re-CREATE the other accounts using the top-right icon until you get all the ones you want.  As the wallet is deterministic you only need the seed phrase you've backed up, as it will always recreate the same Accounts in the same order.

If you had other specific addresses manually imported, take into

[2018-07-08 19:33] CrypticAutistic commented on #4756
I tried that. I had never created any other accounts, so no, that didn't work. I have seen in other threads going back to last year that there is a bug where metamask will create two completely separate accounts when someone first installs it, and gives the seed for the first, but shows the second. Then when the browser is closed, it erases any record of the first one which is what was being used.

[2018-07-08 20:31] KojimaGeniy commented on #3963
I have only appearing license screens, after accepting which it gets blank, but if during this I'll choose beta version, it works fine for one session, after restarting it stops working again.

[2018-07-08 20:43] nickjuntilla commented on #3881
I also have a private blockchain and I am trying to send transactions. I was able to use it one day and then another day it stopped working and never worked again.

I installed 4.8.0 and it will update transactions, but it will not send transactions. Also when you click send or anything involved in creating a transaction the metamask screen will freeze. If you click away and the window closes then

[2018-07-09 01:30] 7nicoale commented on #4537
hi . good I finally get to you guys just the same situation happened with me
hire is the address my eth. went to :https://etherscan.io/address/0x79675145ff147e3e21ac99fb3aa9969633d4f3ff
what I supose to do and it is safe for me to use metamasc?

[2018-07-09 01:52] 7nicoale opened #4757 "hacked , phished ?"

[2018-07-09 02:13] 7nicoale commented on #4757
3 times  eth. was missing from my metamask account.
hire is where it went : https://etherscan.io/address/0x79675145ff147e3e21ac99fb3aa9969633d4f3ff
In realised that on 3rd time when I send eth. to wallet log out, and when log in after 2-3 hours there was nothing. coinbase showed the transaction complete, and I followed this transaction.
What are my actions now? How I can get back my eth?
and the m

[2018-07-09 05:31] RobertoC27 commented on #4559
I'm aware that this issue is caused by the contract, in my case when an unauthorized account tries to perform an action with the smart contract's data (which is expected to cause a `revert()`), but a way to catch or interact with this kind of 'expected' errors would be nice

[2018-07-09 05:51] alin101 opened #4758 "White screen when trying to open metamask on firefox ubuntu 18"

[2018-07-09 07:40] nolash commented on #3881
@bdresser to me it seems that it's metamask that got it the wrong way. If I put the data from [your example](https://github.com/danfinlay/js-eth-personal-sign-examples/blob/master/index.js) as the _second param_, I get the following error:

[code]

However if I do _this_:

[code]

it works.

So the metamask implementation seems not to accept arbitrary data to sign; it needs to be `sha3`'d. And the

[2018-07-09 11:00] johcam12 commented on #4753
+1

[2018-07-09 13:22] JesseBusman commented on #4758
I might have the same problem (also Firefox, Ubuntu 18.04). When I click the Metamask icon I get a white screen. It closes on its own after about a quarter of a second.

[2018-07-09 14:44] bdresser commented on #4758
this is duplicated by #3963 and #4502

Some users have had success updating to Firefox 61. If that doesn't solve the issue for you, any extra info you can provide on #3963 would be helpful.

[2018-07-09 14:44] #4758 closed

[2018-07-09 15:03] bdresser commented on #4757
@7nicoale, sorry to hear about your issue. We've heard reports of phishing strategies becoming more and more common, so be careful out there – never enter your seed phrase unless you're certain it's MetaMask that's asking for it.

Read our medium post for more info: https://medium.com/metamask/new-phishing-strategy-becoming-common-1b1123837168

And for more help, please reach out to support@metama

[2018-07-09 15:03] #4757 closed

[2018-07-09 15:07] bdresser commented on #4756
@CrypticAutistic are you on 4.8.0? what browser & OS? and are you able to reproduce this reliably if you uninstall & re-install the extension?

it'd also be helpful if you could email your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI-) to support@metamask.io and mention this issue number (cc @rdymac)

[2018-07-09 15:32] bdresser commented on #4754
Always always back up your seed phrase. If the extension is stuck, you can try closing your browser, or un-installing and re-installing the extension. In the second case, you will need your seed phrase.

@lkiversonlk I can't reproduce this issue though - when I send 10+ transactions, they stack up in the extension and then I can go through and accept/reject them individually. What browser and MM v

[2018-07-09 16:18] bdresser commented on #2638
@cjeria what do you think? how bout something super simple for the base case, like:

<img width="536" alt="screen shot 2018-07-09 at 12 17 06 pm" src="https://user-images.githubusercontent.com/1016190/42462732-171978c2-8372-11e8-9e54-d2744dcfef50.png">

[2018-07-09 16:22] brunobar79 commented on #2638
@bdresser  +100!

The only consideration is that we might need to ask for confirmation to avoid "accidents".

Something like this with the right copy might do the trick:

<img width="507" alt="screen shot 2018-07-09 at 12 21 07 pm" src="https://user-images.githubusercontent.com/1247834/42462908-9e047e40-8372-11e8-9650-8a28095796aa.png">

[2018-07-09 16:24] bdresser commented on #2638
For sure, definitely should show the confirm modal to make sure

[2018-07-09 16:31] bdresser commented on #4261
fixed in #4648 and #4735

[2018-07-09 16:31] #4261 closed

[2018-07-09 16:42] cjeria commented on #2638
@bdresser That works. The only concern though is that long account names won't be as readable especially when the "import" label is present.

![image](https://user-images.githubusercontent.com/597770/42463494-2083ae94-835b-11e8-83a4-40c823919f5d.png)

Another option would be to add the remove button within the account balance view.
![image](https://user-images.githubusercontent.com/597770/42463790

[2018-07-09 16:56] bdresser commented on #2638
I prefer in the top-right menu because (1) that seems like the home for overall management features and (2) because it'll be much quicker for someone to clean up their accounts (rather than clicking in to each account, then removing, then getting dumped on another account screen, etc)

I hear you on the long names. We could leave the `IMPORTED` tag as-is and put the `X` just below, or just to the

[2018-07-09 18:34] bdresser commented on #2638
sounds good!

let's also include a reminder to make sure the user has the seed for the imported account, can't be too safe

"Learn more" can link to this helpdesk article: https://consensys.zendesk.com/hc/en-us/articles/360004180111-What-are-imported-accounts-New-UI-

[2018-07-09 19:22] cjeria commented on #2638
Let's also make the "x" visible on hovering over the account row. This'll make the dropdown less busy.

[2018-07-09 19:58] bdresser opened #4759 "Allow user to force-inject web3"
Once #4703 is merged, web3 will not be exposed by default and dapps will be expected to request user consent to access an Ethereum provider API as per [EIP 1102](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1102.md)

It's possible that some dapps will not update immediately, and users on the newest MetaMask who visit these dapps will be left in limbo: the site will expect web3 by default,

[2018-07-09 20:39] nickjuntilla opened #4760 "Using a Remote POA network send transactions hang forever and remix transactions are pending forever."
I am using Chrome with Metamask 4.8.0. When connected to a remote POA network via http I can see account balances, but cannot create new transactions. New transactions just hang on the loading screen. Here is an example of a call made through remix from the console that just hangs forever:

`{"jsonrpc":"2.0","id":3644419801,"result":{"difficulty":"0x2","extraData":"0xd88301080b846765746888676f312e

[2018-07-09 20:41] nickjuntilla commented on #3881
I created a new issue for this since it is still happening: https://github.com/MetaMask/metamask-extension/issues/4760

[2018-07-09 20:42] cjeria commented on #4759
@bdresser To make this feature easy to understand, I suggest we go with a simple "login" request from within the extension. Early on in discussing this feature, I had put together this ux flow that displays an "action sheet" in MetaMask if there's a dapp requesting user consent to expose web3 (in effect loging the user into the dapp).

![artboard](https://user-images.githubusercontent.com/597770/4

[2018-07-09 21:04] bdresser opened #4761 "Design for web3 opt-in dialog"
#4703 implements the first step towards log-in per site, where a dapp requests access to web3 all at once. Current implementation looks like this:

<img width="370" alt="screen shot 2018-07-09 at 4 51 08 pm" src="https://user-images.githubusercontent.com/1016190/42475334-55275e74-8398-11e8-96ac-7adc63238ee2.png">

Note that we're not yet at the point of requesting access to a specific account, jus

[2018-07-09 21:06] bdresser commented on #4759
@cjeria for sure - this issue is for an edge case to help with backward compatibility, where a user is trying to interact with a dapp that hasn't updated to match this new standard. So the dapp doesn't know it's supposed to request access to web3, and instead is just waiting for the web3 object as dapps do now. Creates a sort of dead-end for the user that it'd be nice to solve for.

Chatted with @

[2018-07-09 21:18] wjmelements commented on #4714
Multiple people reporting the loading issue on reddit: https://www.reddit.com/r/Metamask/comments/8x3bxh/loop_connecting_to_main_ethereum_network_anyone/

[2018-07-09 21:59] joejoker77 commented on #3519
I confirm. The problem is present in the new UI. I think it's necessary to leave the possibility to set the gas limit manually in the new UI. This is critical in my opinion

[2018-07-09 22:02] #3436 closed

[2018-07-10 01:35] rookieofC commented on #4604
I have successfully connected to the server private chain in a format like this: geth --identity "xxx" --rpc --rpcaddr "0.0.0.0" --rpccorsdomain "*" --datadir /home/xxx --port "30303" --rpcapi "db,eth,personal,net,web3" --networkid xxx --targetgaslimit xxx

[2018-07-10 13:09] Febin56 commented on #2762
@bpate Could you please explain how you resolved the issue, We are on the same boat

[2018-07-10 13:58] d-yokoi opened #4762 "The link to Internal documentation is broken."
The link to `Internal documentation` on the README is broken.
It unexpectedly causes 404 error.

[2018-07-10 15:06] santos177 opened #4763 "Is it a bug?"
I sent 0.005 ETH to my friend, but 1 minute later his metamask sent the money to another address without his permission. Is it an bug? or  maybe metamask was hacked?

This is my transaction:
https://etherscan.io/tx/0x7e40468fa27c386398f2a00305153ed15e77d30f0b650cda88e1c395faa242a6

This is this the transaction without permission:

https://etherscan.io/tx/0xe357c5e176bc297b9cf1e4aa7a302726ec9d8056b

[2018-07-10 16:29] bdresser commented on #3951
article published here: https://medium.com/metamask/breaking-change-no-longer-reloading-pages-on-network-change-4a3e1fd2f5e7

[2018-07-10 16:29] #3951 closed

[2018-07-10 16:38] #4762 closed

[2018-07-10 17:36] bdresser commented on #3088
being handled in #4279

[2018-07-10 17:36] bdresser commented on #3143
addressed in #4279

[2018-07-10 17:41] bdresser commented on #2978
possibly handled in #4279

[2018-07-10 17:42] bdresser commented on #2636
handled in #4279 :)

[2018-07-10 17:46] bdresser commented on #2373
blocked by #4279

[2018-07-10 17:48] bdresser commented on #4752
latest version of spec might support some features that require a tad bit of design @cjeria, we'll follow up

[2018-07-10 17:49] bdresser commented on #1645
relates to #4279

[2018-07-10 17:52] bdresser commented on #605
@brunobar79 @cjeria when you can, report back on the results of your design convo!

[2018-07-10 18:05] danfinlay commented on #3519
We're adding those manual controls back to new UI very soon.

Are you also experiencing this issue in old UI, or only new UI?

[2018-07-10 18:11] bdresser commented on #4739
relates to #4279

[2018-07-10 19:13] estebanmino commented on #3963
@KojimaGeniy which version of Firefox and OS are you using?

[2018-07-10 19:42] KojimaGeniy commented on #3963
@estebanmino Ubuntu 18.04, Firefox 61, Metamask 4.8.0 from official firefox hub.
And I had no luck inspecting metamask with browsers dev tools opening it as a separate tab, it goes into infinite loading.

[2018-07-10 20:07] bdresser commented on #4761
@cjeria pulling in to this sprint if you have time - should be a small one yeah?

[2018-07-10 20:15] bdresser opened #4767 "Host metamask.io with IPFS + ENS"
Since #4405 merged, let's get our website on IPFS!

Paul wrote a stellar guide [here](https://gist.github.com/bitpshr/205b691082a26f70dc09f896cf972343)

[2018-07-10 20:25] TrejGun opened #4768 "development tools are broken"
`npm run ui` is completely broken because  `modifyBackgroundConnection`, `backGroundConnectionModifiers` are not passed to Select

`npm run mock` throws thousand of errors related to incomplete state from `./development/states.js`

[2018-07-10 21:00] jennypollack commented on #4741
Hey @onehates, the Brave MM extension version has just been bumped to 4.8.0
Closing this as we believe it should be fixed, but please reopen if you still experience the issue after update.

[2018-07-10 21:00] #4741 closed

[2018-07-10 22:56] #3896 closed

[2018-07-10 23:04] techieanant commented on #4604
@rookieofC You've set the rpcaddr as 0.0.0.0, how did you connect to this RPC endpoint from a different machine on the network?

[2018-07-11 00:11] cjeria commented on #4761
@bdresser this may need to go through a few iterations and some light user testing, but should be a fairly quick one.

Question for @bitpshr. How will this window be triggered? User action or automatically upon user visiting a dapp with MetaMask unlocked (no user action)?

Also, I know this is MVP and the main copy/language here is placeholder for this feature which most technical users will under

[2018-07-11 00:53] rookieofC commented on #4604
0.0.0.0 is for the external network to access your ip address，you can use http://IP:8545 in the new rpc url

[2018-07-11 03:15] joejoker77 commented on #3519
@danfinlay In the old version, too, the price of gas is always 0 for deploy new contract, but there are controls that could be assigned manually. I use Remix as an IDE and a ropsten network

[2018-07-11 04:38] lazaridiscom commented on #2978
@bdresser , as this one is quite complex, a few comments:

This "collector"-issue lists issues which have different root-causes. Its a bit outdated.

From the list, you can remove (or group, and clarify as "fixed") the issues which were fixed by patch #3224 (see #3236 for some more info)

- #2393 (fixed, this was a bounty I claimed by providing the patch #3224)
- #2252 (issue can be closed, it's f

[2018-07-11 07:52] CryptoBeginner opened #4770 "ethjs-rpc : error from payload : invalid sender ( ChaidID and Networkid same but not working?)"
`{
  enode: "enode://13c7dc3f40f4e24cf3a877bfba1de7e7ead99b614d09d3f97457c4de163f6776783674e1a6e3be2807c4aadc62798b355ceadc442c1f037887ae26453769fb1a@0.0.0.0:30303",
  id: "13c7dc3f40f4e24cf3a877bfba1de7e7ead99b614d09d3f97457c4de163f6776783674e1a6e3be2807c4aadc62798b355ceadc442c1f037887ae26453769fb1a",
  ip: "0.0.0.0",
  listenAddr: "[::]:30303",
  name: "Geth/v1.8.4-stable/darwin-amd64/go1.10.1",

[2018-07-11 07:55] #4770 closed

[2018-07-11 07:55] CryptoBeginner commented on #4770
fixed
it works!

[2018-07-11 08:18] mallapurbharat commented on #3124
I am still seeing no error "User denied transaction" when I close the transaction window. Is it possible to detect when user **closes** metamask transaction window instead of cancelling transaction (which is catchable as error)?

[2018-07-11 09:31] mallapurbharat commented on #4643
I too have seen this kind of issue. In my case, this blank window kept popping up no matter how many deployments I did. Normally, the fix is to switch from one network to another, and then try again. Then I find that the window pops up properly.

[2018-07-11 13:01] adibas03 commented on #3963
@KojimaGeniy I am on the same environment as you,
an this helped:
https://github.com/MetaMask/metamask-extension/issues/3313#issuecomment-400013621

[2018-07-11 13:42] KojimaGeniy commented on #3963
@adibas03 Thank you, really works! I was trying it like this, but without popup.html had no luck, now it's good.

[2018-07-11 14:10] vbresan commented on #1512
Tor 7.5.6, after clicking on the MM icon, small window that comes up is gray. Metamask 4.8.0

[2018-07-11 14:11] #2252 closed

[2018-07-11 14:23] bdresser commented on #2742
@tmashuang I can't reproduce this anymore. Could you try, and if not let's close.

[2018-07-11 14:25] vbresan opened #4771 "MetaMask does not work with Tor browser"
Bounty: currently MetaMask is throwing errors in the Tor browser that prevent the extension from loading. To fill the bounty, get MetaMask's most recent version (4.8 at time of writing) to work in Tor.

---
MM is successfully installed, but when I click on the MM icon, the small window shown is completely empty.

Tor 7.5.6, Metamask 4.8.0.

Screenshots are bellow:
![clipboard01](https://user-image

[2018-07-11 14:29] bdresser commented on #2978
Thanks for the detail @lazaridiscom. I've updated the original post accordingly and followed up on some of the remaining open issues.

I'll check back in here after the provider rewrite (#4279) is merged to see if it has affected anything else.

[2018-07-11 15:17] halgurdh commented on #2952
@bdresser not anymore, I think it was something else that wasn't working which didn't fire the events. Its works now.

[2018-07-11 15:38] #2952 closed

[2018-07-11 16:23] bitpshr commented on #4761
@cjeria, unfortunately, we can't always know how this window is triggered. Dapps programmatically trigger the window itself, but there's no mandate as to _when_ they trigger it. For example, some dapps may ask for approval after a user clicks some sort of a sign in button, whereas other dapps may trigger it on page load with no action at all. Dapps can implement any UX they desire around requestin

[2018-07-11 16:39] paymog commented on #687
It seems that ganache requires private keys to have the 0x prefix otherwise a RangeError happens saying that the private key length is invalid.

[2018-07-11 16:43] danfinlay commented on #4161
In [EIP 2020](https://ethereum-magicians.org/t/eip-2020-ethereum-provider-api/640), which defines an updated provider API, there is a definition for an event emitter which includes `accountChanged` and `networkChanged`. We are currently refactoring our provider (pending #4279) which will allow us to easily support subscriptions including these, and so I don't recommend any bounty hunters attempt t

[2018-07-11 16:49] tayvano commented on #687
You should open an issue with ganache then. It's pretty standard at this point not to prefix private keys with 0x.

One good reason is private keys and transactions hashes are the same length. Prefixing transaction hashes with 0x and not private keys reduces the likelihood that you'll ever switch one out for another.

e.g. which of the below is a transaction hash and which is a private key?

`0xaf

[2018-07-11 16:56] danfinlay opened #4772 "New UI: Send Token Screen Improvements"
@cjeria

We got a user in our support system who was frustrated with our send token screen. In their case, they had an account with many UTK tokens, but no ether, resulting in this experience:

![screen shot 2018-07-11 at 9 52 50 am](https://user-images.githubusercontent.com/542863/42587685-57d3d40a-84f0-11e8-8853-14565e3cea73.png)

They were frustrated because they knew they had tokens, and this

[2018-07-11 17:55] brunobar79 commented on #2638
Just discussed this with @danfinlay  and he brought up a good point:
- Loose accounts don't have a seed phrase (just a private key)
- For trezor accounts  you only need your device PIN  to unlock it
- We are not allowing to remove accounts from the HD keyring so there's no need to mention "seed phrase"

With that said we should rethink the copy to something more generic and probably change the "Le

[2018-07-11 18:18] bdresser commented on #4151
Came up again in a recent security report we got. Allowing users to proceed through the phishing warning could make them less likely to disable the entire extension.

[2018-07-11 18:20] bdresser opened #4773 "Move phishing warning to the extension"
Rather than redirect users to our website to show the phishing warning, we should bundle a page with the extension that shows full-page when the user hits a flagged site.

[2018-07-11 18:28] bdresser opened #4774 "Link to EtherscamDB in phishing warning"
Once MrLuit/EtherScamDB#1120 is merged, we should link to the domain's page on EtherScamDB in our phishing warning so users can learn why the domain was blocked.

This will help reduce support overhead and is generally good for user education.

[2018-07-11 18:35] fubuloubu opened #4775 "Remove Prices from UI for Testnets"
This isn't really useful information on testnets, and it would create an additional UX feedback if the monetary value only appeared on networks where the tokens had value.

A naive suggestion would just be to hide it using the network selector. Something better would be to change the positions of the amount of ETH you have to fill in the negative space left by removing the price.

[2018-07-11 18:36] #4517 closed

[2018-07-11 18:56] bdresser opened #4776 "Improve phishing security"
This epic captures several issues that relate to improving our use of [eth-phishing-detect](https://github.com/MetaMask/eth-phishing-detect) and general user protections against phishing.

[2018-07-11 19:52] bdresser commented on #2638
Good call on the copy @brunobar79 @danfinlay . How about just saying "access to the account's private key"? Also on re-read, the last sentence seems unnecessary since the user is already on the accounts menu...

How about:

Would it be insane to make users double-confirm?

If you're cool with it, let's leave the "Learn More" link as-is and I can edit the support article to include a mention of har

[2018-07-11 20:52] brunobar79 commented on #2638
@bdresser  I think "private key" doesn't apply for the trezor (or maybe it does? 😕 )

About double confirm I think it's not necessary since:
- User needs to click twice already (first on the X, then confirm their action on the modal
- In my opinion private keys are less likely to be lost since the user already had it when it imported the account to metamask. It's different when they generate the s

[2018-07-11 21:50] cjeria commented on #4761
I think in the article announcing this new change, we can suggest the ideal ux design pattern which would be for dapps to add include a ``LOGIN`` button. This could also be used to set a new and dapp interaction standard across the space.

[2018-07-11 21:54] cjeria commented on #2638
I agree with @brunobar79 no need for a double confirm given that there are already two clicks to remove the account.

I'd suggest adding a tooltip on the "X" with "Remove" copy on hover as well. Everything else sounds good to me.

[2018-07-11 21:55] cjeria commented on #2638
And hopefully with the simplification of the copy, the modal will fit within the bounds of the extension?

[2018-07-11 21:59] brunobar79 commented on #2638
@cjeria Sounds good!  About the popup layout + modal, it fits just fine:

![screen shot 2018-07-11 at 5 57 58 pm](https://user-images.githubusercontent.com/1247834/42601579-15e8f5ea-8534-11e8-9836-5723b7607020.png)

About the tooltip, is there any specific place in the new UI where we a similar tooltip?

[2018-07-11 22:44] #4710 closed

[2018-07-11 22:45] cjeria commented on #2638
@brunobar79 @alextsg has implemented a tooltip in various places such as the top bar with address to copy/paste and it's in a few other places too. Not sure how modular it is, but you can reference this one for now to make it look consistent with other tooltips.

![image](https://user-images.githubusercontent.com/597770/42603071-278d768a-8521-11e8-8dcd-1b272ee27f46.png)

[2018-07-11 22:50] cjeria commented on #2638
Also, looking at the remove confirm modal, do you guys think it would be helpful to add more context about where this account was imported from? (E.I Trezor, Ledger etc.)? Could help if a user has a few different brands of hardware wallets and they forgot which one they used.

![artboard copy 2](https://user-images.githubusercontent.com/597770/42603291-0b0fb1b6-8522-11e8-9564-b5c23eb8b030.png)

[2018-07-11 23:30] jennypollack opened #4778 "Infinite spinner on "Back" from Confirm Contract page"
When I press back on the Confirm Contract I get an infinite spinner.
I guess the expected would be that back would take me into my account overview and from there allow me to re-enter contract deployment in the pending transactions list..
When I press Cancel the Contract Deployment is Rejected (which is expected)

![back_confirm_contract](https://user-images.githubusercontent.com/3885055/42604376-

[2018-07-11 23:44] brunobar79 commented on #2638
I like the idea of adding more context! I think it would be more relevant to show the account label (which in the TREZOR case it's called TREZOR 1, 2, 3, etc. ) but also works for accounts that were imported with the private key. WDYT?

[2018-07-12 00:11] jennypollack commented on #3519
thanks @tmashuang for the repro steps:

1) OldUI, Start Ganache Server
2) Connect Metamask ganache
3) Send Tx with Ether Amount: 1
4) Tx Data : some random string.
5) gas Limit will be set to 0

its a combination of issues with Ganache since there is no current block, and we are estimating a default of 0 gas limit

- we think that the old ui should still be setting a gas limit and i have observed

[2018-07-12 01:04] cjeria commented on #2638
@brunobar79 Here's an option with a little more ui design polish. The little arrow icon is button to view the account on etherscan, much like you had in the connect to hardware flow. thoughts?>

![remove account](https://user-images.githubusercontent.com/597770/42606806-5d98aa8e-8534-11e8-97e8-c74d469300cd.png)

[2018-07-12 01:06] brunobar79 commented on #2638
@cjeria  beatiful! I'll do that

[2018-07-12 03:04] jerryhorak commented on #3475
+1

Waiting for this as well. I have a need to send transactions from the backend after being signed client side. Currently, the solution for my use case is less than ideal right now.. optimally, I'd like my app to generate a raw transaction on the server, deliver to the user to sign client side, and then send signed transaction to the node from my backend services (nonce is without concern and ta

[2018-07-12 04:31] Maayu2415 commented on #4778
Help me! I was not found google metamask ethereum in one page.

[2018-07-12 09:20] mesqueeb commented on #686
Not just webcam! We need:

- Select/drag a QR image right in the browser extension to be able to pay!

I'm developing an app where I would use a phone to scan and pay, but I have no phone wallets on Ropsten, so I'm not sure how. I'd like to be able to drag the QR code to my metamask extension and pay like that! : )

[2018-07-12 14:04] jchittoda opened #4780 "New MetaMask UI, wrong token amount displayed"
Wrong ERC20 token amount is displayed and sent different amount of ERC20 tokens.
I actually entered 2791 COSS in MetaMask, and when I clicked "Confirmed" it showed as below screen shot.
Bug Reports:

  Briefly describe the issue you've encountered
  *  Expected Behavior : Token amount must be exactly same.
  *  Actual Behavior : New MetaMask UI shows different amount and sent different amount
  *

[2018-07-12 14:28] leafcutterant opened #4781 "Add option to change password without having to restore from seed"
This was supposed to go to #2168, but that was closed due to off-topic posts, so I'm continuing here.

Essentially, there is no "change password" function, you need to restore from seed to define a new password.

This is bad because:
* regular user who can't/doesn't read Github issues won't know how to do this;
* discouraging the regular user is even worse because if they realize that they used a

[2018-07-12 15:59] Strernd opened #4782 "Blank Popup on Brave"
**Expected Behavior**
The MetaMask extension popup opens as usually
 **Actual Behavior**
The popup is empty. [Screenshot Brave](https://imgur.com/a/KdACsCW)
I am experiencing this behavior since half an hour. Reinstall and restarts haven't solved the problem.
**Browser Used**
Brave 0.23.31
and Chrome 67.0.3396.99
**Operating System Used**
Mac 10.13.4

[2018-07-12 16:20] rdymac commented on #4782
Hello @Strernd , on my I've just fixed it by going to Mac tools bar > Brave > Quit Brave (or CMD+Q).

I had to do it twice for the 4.8.0 version that have just been added to Brave to work correctly and load the UI, both in the extension icon and in tab: chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/home.html

[2018-07-12 16:40] #4298 closed

[2018-07-12 16:52] #4635 closed

[2018-07-12 16:52] #3414 closed

[2018-07-12 16:52] #4404 closed

[2018-07-12 16:53] #4481 closed

[2018-07-12 16:53] #4429 closed

[2018-07-12 16:53] #3824 closed

[2018-07-12 16:53] #4430 closed

[2018-07-12 17:07] bdresser commented on #4782
@seb0zz as @rdymac mentioned, try closing brave and re-opening, maybe a few times. Does that help?

[2018-07-12 17:09] seb0zz commented on #4782
Tried a few times and it didn't work. Now I just came back from dinner and it worked ¯\_(ツ)_/¯

[2018-07-12 17:17] bdresser commented on #3343
@realphi i believe we're using Babel to compile es7 into backwards compatible javascript in older browsers.

this issue probably requires some manual testing to identify the minimum supported browser versions for chrome, opera, brave, and firefox.

@danfinlay anything to add?

[2018-07-12 17:22] bdresser commented on #4782
Ok thanks for the report. Glad it's working.

We'll leave this open for a little bit to see if others experience the same.

[2018-07-12 18:06] alextsg opened #4783 "Increase clickable area + padding of the Retry Transaction bar"

[2018-07-12 18:13] bdresser opened #4784 "Show first four characters of account after 0x"
Right now on the top of the extension, we show the first four & last four of the user's account like this:

<img width="352" alt="screen shot 2018-07-12 at 2 06 32 pm" src="https://user-images.githubusercontent.com/1016190/42651247-dd2b12c0-85dc-11e8-952c-298dc6fd6f0b.png">

Might make sense to show the first four characters after `0x` (rather than first four including `0x`)

[2018-07-12 18:13] #4453 closed

[2018-07-12 18:21] snreynolds commented on #3415
If we could allow token selection on the send screen, it could give us room to add the token balances on that screen as well as mentioned in #4772

[2018-07-12 18:29] whymarrh commented on #4740
@TrejGun this is something we may want to discuss and schedule internally, so I think it'll be easier if we take this on (I may very well end up tackling this myself). That said, we appreciate your enthusiasm and you've made a number of strong contributions so we're happy to work on identifying some larger issues that you can take.

[2018-07-12 19:48] bdresser opened #4785 "New confirm screen: add fallback when no function is found"
From our conversation this afternoon: if a contract isn't found and we can't look up the function call, the confirm screen shows a blank in the `Parameters` field and defaults to the `CONFIRM` header. Probably makes sense to have a fallback screen for when we don't actually know what type of function it is.

@alextsg @danjm

[2018-07-12 19:49] bdresser commented on #4785
<img width="371" alt="screen shot 2018-07-12 at 3 46 44 pm" src="https://user-images.githubusercontent.com/1016190/42655777-1bec329c-85eb-11e8-9f99-b1e1e6379b25.png">

[2018-07-12 20:19] cjeria opened #4786 "Transaction Detail View"
"Right now users are able to see transaction details like to, from, gas price, gas limit, etc... by clicking on the transaction in their history and being redirected to etherscan. It would be nice for users to view basic transaction details inside MetaMask (like to, from, and total transaction fee)."

Designs for this feature here:
https://github.com/MetaMask/Design/issues/25

[2018-07-12 21:03] danfinlay commented on #3343
Besides the JS version we compile to, the browser APIs we use are also relevant. I'm not sure the easiest way to do this or verify it. Solid verification would probably need to be part of the output.

[2018-07-12 21:05] bdresser commented on #4785
@cjeria after talking through with @alextsg, when we can't find the function we'll update the header to say `UNKNOWN FUNCTION` and then down below on the data tab, we'll have `FUNCTION TYPE: Not Found`

sound good?

[2018-07-12 21:16] danfinlay commented on #687
That's horrifying.

[2018-07-12 21:41] danfinlay opened #4788 "Warn user when connecting to misconfigured custom network"
If
- a user gets a transaction error in response to `sendRawTransaction` with `Invalid sender` in the message body
- They are on a custom network

Then
- They probably have not set their `--networkId` and `--chainId` values to the same number, a requirement for our current EIP 155 compliance.

We could easily warn users in this situation of the nature of that error, and alleviate one type of suppo

[2018-07-12 22:18] danfinlay commented on #3425
Yes, sorry. Will post a bounty soon.

[2018-07-12 23:37] cjeria commented on #4785
sounds good! @bdresser

[2018-07-12 23:38] cjeria commented on #4785
a bit off topic, but what's up with the bright aqua blue bg color of the network?

[2018-07-12 23:39] alextsg commented on #4785
@cjeria That's my bad. Will fix it soon.

[2018-07-12 23:41] cjeria opened #4789 "New Gas Controls"
It's currently difficult to make an informed decision on what gas to set your transactions to. So we've designed better gas controls that can be used in two areas of the app.

1 - Speeding up a "slow" transaction
2 - Sending ETH

## Speed up a slow transaction

![image](https://user-images.githubusercontent.com/597770/42657507-43199e4a-85d7-11e8-9a31-4ccfee47082d.png)

![image](https://user-images

[2018-07-13 00:37] paymog commented on #687
@tayvano you're right! Turns out I wasn't using the latest version of Ganache.

[2018-07-13 03:56] mallapurbharat commented on #4361
I'd like to reopen this issue, as I'm still seeing this issue (both on Chrome and Firefox) with the latest version (Metamask 4.8.0) on Ubuntu 16.04 . Ganache version is 1.2.0.

I've tried the following steps, but to no use.
1. Resetting the account
2. Switching networks and back again
3. Reinstallation of Metamask multiple times.

Though related, the unique problem is that my nonce in my local Gan

[2018-07-13 04:01] mallapurbharat commented on #4501
Yes, I too am facing this same issue with Firefox 61.0.1 (64-bit) on Ubuntu. The metamask window opens up with a white blank window. However, if I resize the window even slightly, the controls are then displayed properly. Seems like a window sizing event is not firing, or not being captured properly.

[2018-07-13 04:11] brunobar79 commented on #4789
@cjeria  I just wanted to say that I love this.

[2018-07-13 04:13] mallapurbharat commented on #4502
Yes, I too am facing this same issue with Metamask 4.8.0 on Firefox 61.0.1 (64-bit) on Ubuntu. The metamask window opens up with a white blank window. However, if I resize the window even slightly, the controls are then displayed properly. Seems like a window sizing event is not firing, or not being captured properly.
Initial state of window:

white_window

After resizing the window using resize h

[2018-07-13 05:03] jeffs3 opened #4790 "What can you do if the correct amount of tokens are not reflecting in your public key within MetaMask in Chrome?"

[2018-07-13 05:19] brunobar79 commented on #686
@bdresser  I've done some progress on this one last weekend.
I'm able to access the camera from the extension (by injecting it inPage) and scan a QR code correctly. I still need to wire things up with the UI and it should be ready to go.

@danfinlay maybe we can pair next Friday and finish it.

[2018-07-13 08:55] hhakala commented on #4502
@mallapurbharat Nice, it works.
Logic seems to be that if if Metamask is fresh and TOS need to shown, windows behaves correctly. After that only empty window flash. I'm not able to try resizing because that flash is too fast. However, after "Pin to overflow menu"-action I was able to open it with wrong width as pictured.
![image](https://user-images.githubusercontent.com/33389377/42682491-67493426

[2018-07-13 14:15] bdresser commented on #4790
@jeffs3 you have to add tokens manually for their balance to appear - check out our [support article](https://consensys.zendesk.com/hc/en-us/articles/360004135092-Managing-ERC20-Tokens) on the topic if you haven't already.

beyond that, I recommend you reach out to support@metamask.io with your question and they'll be able to assist.

[2018-07-13 14:15] #4790 closed

[2018-07-13 14:33] bdresser commented on #4789
I second @brunobar79 😸

- might make sense to split this in two - first, the new "basic" controls, then add "advanced" afterwards? @MetaMask/kyokan what do y'all think?
- moving to "transaction fee" from "gas fee" is bold but I think makes a lot of sense
- in the "Send ETH" flow, do you think we need ETH values for gas as well as fiat? right now in prod we have both & ETH is primary
- how do the a

[2018-07-13 15:49] bdresser commented on #3312
relates to #4225, 4022, maybe MetaMask/Design#25

[2018-07-13 16:08] Strernd commented on #4782
Issue is still open for me

[2018-07-13 16:20] estebanmino commented on #3963
I reproduced this but the extension itself still doesn't work so I was able to interact with it through the browser as web page. The problem is still related to the type password on inputs.

[2018-07-13 17:23] danfinlay commented on #4698
Ideally that latter error would return "Method not available" or something useful.

The former could have a cleaner message (not including the stack), but it is basically returning the correct error.

[2018-07-13 17:42] danfinlay opened #4791 "Workaround firefox ubuntu bug"
Firefox on ubuntu can't show password boxes. We should:

- Detect this system on popup, and open full screen mode.
- In old UI, add `align-items: center;` to `#app-content`.

[2018-07-13 17:49] bdresser commented on #4791
relates to (and might fix) #4502 #3963

[2018-07-13 19:07] estebanmino commented on #3963
Have the same issue with other add-ons, workaround should be a solution for APT version of firefox

[2018-07-13 23:22] estebanmino commented on #4502
@mallapurbharat @mallapurbharat were you able to type in password inputs ? I'm trying to reproduce what you said, I have changed the popup size as you and I still get the same wrong behavior

[2018-07-14 00:24] estebanmino opened #4796 "Notifications not showing on Firefox Ubuntu"
When a transaction has to be confirmed MetaMask triggers a notification popup, but isn't showing the content.

![image](https://user-images.githubusercontent.com/12115171/42718748-0a7b0156-86da-11e8-88bb-cf193e86137c.png)

After a manual resize of the popup, the content is displayed.

![image](https://user-images.githubusercontent.com/12115171/42718771-5e4715e0-86da-11e8-9f6a-8fcd4dcfb5a7.png)

In

[2018-07-14 03:51] vijayantjain opened #4798 "metamask error"
Dear admin,
   I tried sending PLR from my metamask wallet to another wallet. After a few minutes, the transaction appears like this.

<img width="1110" alt="screen shot 2018-07-14 at 8 55 35 am" src="https://user-images.githubusercontent.com/9728661/42720582-fd317e0e-8746-11e8-9c0e-af58c4965c7f.png">

when I click on the transaction, etherscan.io gives the following message.
"Sorry, we are unable

[2018-07-14 07:45] hhakala commented on #4502
@estebanmino I'm able to input seed in text area, but touching text inputs makes it disappear again.  Firefox 61.0.1

[2018-07-14 12:16] #4664 closed

[2018-07-14 16:10] axzxc1236 opened #4799 "Metamask breaks website, stops ani.gamer.com.tw video player."
preface: ani.gamer.com.tw is a online anime video platform, and it's regional service (Taiwan only), so you probably need some help to debug this issue (and I can if you need more information).
This website doesn't have anything to do with cryptocurrencies, so I have no clue what happened and why.

What happened:
If I enable Metamask, video players breaks so it's not possible to play anime.

Expec

[2018-07-14 17:55] mallapurbharat commented on #4502
@estebanmino  @hhakala I'm able to input all fields without issues.  Metamask 4.8.0 on Firefox 61.0.1 (64-bit) on Ubuntu.

Have you tried going to the settings menu, and then selecting "Try Beta!"? The UI is much better and you can pop the metamask into a new tab so that you don't have to keep facing the issue of disappearing window.

[2018-07-14 21:33] mallapurbharat commented on #4361
Ok... Did some troubleshooting. When I run Ganache 1.2.0 (and 1.2.1 which had some bug fixes), I faced this error of nonce mismatch.
**Using Ganache 1.1.0, everything works fine**. So I doubt this is a bug in Metamask, though it appears that way.

TLDR: Probably not a bug in Metamask. Resolved in my case by using older version of Ganache (1.1.0).

[2018-07-15 00:33] jheinnic commented on #4161
@danfinlay, thank you for clarifying the temporary nature of the existing implementation detail!  Allow me to attempt to restate what I think I've read in my own words to check my understanding for errors.

EIP 2020 will change the Ethereum Provider contract to provide semantics of `accountChanged` and `networkChanged` events and expose the new events via its own EventEmitter.  Instead of providin

[2018-07-15 01:16] geniusboy91 opened #4801 "Metamask Overrides Nonce"
In this example, I have a pending transaction with a nonce of 7. On mycrypto.com, I create a new transaction and set the nonce as 7 with a higher gas price, as shown in picture one. This transaction is completely unrelated to the current pending transaction at nonce 7. I am doing this intentionally because I no longer need the current transaction to go through. However, when mycrypto pushes the ne

[2018-07-15 01:36] jheinnic commented on #4161
That leaves two workarounds for the interim.

1)  Anyone can build their own EventEmitter for `accountChanged` and `networkChanged` by caching the last `update` event from `PublicConfigStore`, and then using that cached value to filter out updates that do not change the state, selectively re-emitting only those that indicate a change.  The upside here is that it does not require a redundant poll.

[2018-07-15 01:43] jheinnic commented on #4161
Responding to network changes requires a little more consideration, given that MetaMask implements a location reload on detecting network changes.  In this case, registering for `update` events from `PublicConfigStore` does have a noteworthy extra quality.  `PublicConfigStore` emits its `update` event synchronously, and so a handler listening for them will delay the page refresh until after it has

[2018-07-15 06:20] hhakala commented on #4502
@mallapurbharat Settings menu is actually missing from top right corner. New tab instead of popup UI sounds excellent update, only if I could enable it somehow.

[2018-07-15 12:19] radamosch opened #4804 "Allow users to specify the symbol other than ETH and hide currency conversion"
When connected to private or other networks than ETH, it's not currently possible to set the symbol or avoid default denomination in ETH for currency conversion.

While you guys contemplate the ecumenical & security & political matters around network selection in other issues this simple and flexible proposal will mean MM is usable on other networks with a little edit by users.

1. Allow user to s

[2018-07-15 12:30] SoberKush commented on #4804
Please take this guy in consideration. This is useful for a huge portion of MetaMask users and I wonder why it hasn't been implemented yet!

Thanks for posting this @radamosch

[2018-07-15 12:51] davidzki commented on #4804
^^^ This!

[2018-07-15 13:28] owocki opened #4805 "Metamask very slow to respond"
Expected Behaviour
* Metamask pop up immediately when I call a web3 interaction
* Confirmation button responds immediately (at the very least with a loading indicator)

Actual Behaviour
* Metamask pop up 6 seconds after I call a web3 interaction.
* Confirmation button doesnt respond (even 60 seconds later).

Video: http://bits.owocki.com/3y2d0X0G173W/Screen%20Recording%202018-07-15%20at%2007.27%20

[2018-07-15 13:32] owocki commented on #4805
edit: for the confrimation button interaction, i was using 0xddf369c3bf18b1b12ea295d597b943b955ef4671, which didnt have enough ETH to pay the gas fee.  metamask should have told me this instead of just not-responding

[2018-07-15 14:03] ajnauleau commented on #3505
Looking to be a bit more difficult than I expected, getting errors building gulp at mascara with babel "env"-- will keep posted.

[2018-07-15 14:11] Catley94 commented on #4502
I'm also having this issue, I'm on FireFox developer edition (V62.0B8(64Bit)).
I've attached a screenshot. Please advise :)
![metamask](https://user-images.githubusercontent.com/36040041/42734751-3f51af5c-8841-11e8-8566-2095a3801d9b.PNG)

[2018-07-15 19:28] craigvh opened #4806 "metamask chrome extension crashes when trying to open"

[2018-07-15 19:31] craigvh commented on #4806
Pops up with a blank window and then after about 10 seconds closes and shows: Metamask has crashed. Click this baloon to reload the extension.

[2018-07-15 20:35] roschler opened #4807 "(developer) Getting 'undefined' as the result of calling methods on the web3 object created by Metamask?"
I'm trying to get the network ID from the Web3 object injected into web pages by the Metamask extension in Chrome on the client side (i.e. - while running Javascript code in the browser).  I have code that confirms that the object exists and it does.  I definitely have the Metamask extension installed and configured in Chrome.  I have clicked on the extension and I am definitely connected to the G

[2018-07-15 22:24] MoonMissionControl opened #4808 "Allow MetaMask to overwrite nonces"
When I use `web3.eth.sendTransaction` I can supply a nonce. I would like that this can also be used to overwrite pending txns. Currently, MetaMask ignores this request and simply creates a new transaction.

Suggestion: allow MetaMask to overwrite txns (or even add a "cancel" button to send a 0 eth self transaction) and add a warning to this overwrite: "You are overwriting transaction <NONCE>".

[2018-07-16 02:41] lazaridiscom commented on #717
@ all

you can help by starring a relevant issue:

https://bugs.chromium.org/p/chromium/issues/detail?id=770896

[2018-07-16 04:10] James-Sangalli opened #4809 "Cannot attach value to transactions"
Would be great if this was allowed for payable transactions

[2018-07-16 11:22] leonprou commented on #4161
`Sorry for the apparently slow progress, I assure you things are actually moving, and encourage you to be patient.`

No problem, thanks for the clarifying some stuff. The EIP2020 is indeed got the functionality I'm looking for, I'll try to follow it.

For now it's best to wait until the web3 refactor to be complete (waiting for it some time actually to use the subscriptions API 😄 )

[2018-07-16 13:59] bdresser commented on #4798
@vijayantjain looks like you submitted several transactions trying to send your PLR token.

Note that transactions can only process in the sequence you submit them, keeping the transaction nonce in order, so later transactions you submit won't succeed until the first transaction is confirmed.

When you're submitting a transaction, make sure you're sending with a high enough gas price, or the trans

[2018-07-16 13:59] #4798 closed

[2018-07-16 14:07] bdresser commented on #605
design fixes: https://github.com/MetaMask/Design/issues/33

generally tracking progress in the PR (https://github.com/MetaMask/metamask-extension/pull/4625) for those following along

[2018-07-16 14:10] bdresser commented on #4806
@craigvh what OS and version of Chrome are you running?

[2018-07-16 15:54] #3181 closed

[2018-07-16 16:54] alextsg commented on #4679
Resolved by #4691

[2018-07-16 16:54] #4679 closed

[2018-07-16 16:55] alextsg commented on #4320
Resolved by #4648

[2018-07-16 16:55] #4320 closed

[2018-07-16 16:57] alextsg commented on #4503
Resolved by #4634

[2018-07-16 16:57] #4503 closed

[2018-07-16 17:29] danfinlay commented on #3963
User also affected on Firefox Developer edition.

We're going to add a feature to automatically transition ubuntu/firefox users into full-screen mode, since the popup is so buggy.

It does seem the good workaround for now is to open in full screen mode, using the `popup.html` URL.

[2018-07-16 17:30] danfinlay commented on #3519
On a chain with no blocks, I guess we should just assume some baseline high limit?

[2018-07-16 19:45] kumavis commented on #4225
this would be a change to the standard ethereum JSON-RPC spec, goes a bit beyond a feature request in metamask

what is your primary usecase and what sort of calls are you interested in canceling?

[2018-07-16 19:47] #4361 closed

[2018-07-16 20:05] bdresser commented on #4804
Makes sense - this will also require logic that swaps ETH to the primary currency on the confirm screens (i.e. swap the `1` and the `478.30` below)

We should probably allow users to swap ETH to the primary currency without having to hide the conversion (as described in #4510) and add a toggle in the settings.

<img width="351" alt="screen shot 2018-07-16 at 4 01 32 pm" src="https://user-images.gi

[2018-07-16 20:07] bdresser commented on #4739
@danfinlay @kumavis any concerns with using `x-metamask-origin` and passing through the dapp that initiated the transaction? This should let us see total numbers from MetaMask as well as generate a list of dapps folks are using (beyond what Infura is able to look up by contract)

[2018-07-16 20:09] cjeria opened #4810 "Error Messages within Speed Up Component"
If a user wants to speed up a slow transaction but doesn't have enough gas to pay for a higher gas fee, we need to show error messages. The place that makes the most sense is within the Speed Up transaction panel view.

![image](https://user-images.githubusercontent.com/597770/42780864-52208f64-88f9-11e8-88f6-7f61ebe40897.png)

[2018-07-16 20:30] bdresser commented on #4801
@geniusboy91 we plan on adding a "cancel" button for specific transactions, as well as a "cancel all" to clear out all pending tx.

Check out #3312 & #4022, as well as https://github.com/MetaMask/Design/issues/25

Closing for now, but feel free to re-open if you feel like the above don't cover what you're looking for.

[2018-07-16 20:30] #4801 closed

[2018-07-16 20:31] bdresser commented on #4799
@axzxc1236 any errors in the console?

[2018-07-16 20:39] bdresser opened #4811 "Old UI component to suggest Beta UI"
To finish up #3384, we need a UI component that asks users to upgrade to the new UI. Maybe a persistent banner or something.

@cjeria @whymarrh

[2018-07-16 20:43] estebanmino commented on #4502
@Catley94  @hhakala  @mallapurbharat Thanks for the feedback, we're working on that update!

[2018-07-16 21:03] cjeria commented on #4811
The message should probably say that support for the old UI has been discontinued. No action is required, but that they should be aware that If they don't switch to the New UI, we will automatically be switching everyone over on XX date.

Maybe to encourage users to switch, we use both a modal and banner. The modal will provide us with plenty of room to make the announcement and a button the "Swit

[2018-07-16 22:05] ajnauleau commented on #3505
*Fixed, updated to babel-preset-env, just had to change the order of presets to "env", "react", "stage-0"-- now builds.

[2018-07-17 00:10] axzxc1236 commented on #4799
@bdresser
Yes, in the screenshot.

[2018-07-17 07:54] Qqwy commented on #4698
@danfinlay Why would the latter return a "Method not available"? It is a method that is part of the Web3 spec, so MetaMask should be able to respond successfully, right?

[2018-07-17 08:05] safareli commented on #4225
If you are referring to [ethereum/wiki/JSON-RPC](https://github.com/ethereum/wiki/wiki/JSON-RPC) by "standard ethereum JSON-RPC spec" then I don't see how this request would result in change of that spec, can you clarify?

`sencAsync` at this moment is not returning any value. and I was proposing to to return underling XMLHttpRequest so one can `.abort()` that, if client is not interested in resul

[2018-07-17 13:14] ajnauleau commented on #3343
#4812 Waiting for PR to be merge, then will tackle.

[2018-07-17 17:04] cjeria commented on #4772
Here's a suggested solution. How about we add an extra dropdown for accounts that hold tokens?

![send screen](https://user-images.githubusercontent.com/597770/42833317-9e173bb6-89a8-11e8-9cd5-a724c523950b.png)

[2018-07-17 17:41] #4783 closed

[2018-07-17 17:42] cjeria commented on #4772
Here's the flow
![image](https://user-images.githubusercontent.com/597770/42835574-f1ff0484-89ad-11e8-8798-40e91e2f6445.png)
![image](https://user-images.githubusercontent.com/597770/42835512-d8ce8d86-89ad-11e8-8a5a-e336b816f365.png)
![image](https://user-images.githubusercontent.com/597770/42835521-dcca90e2-89ad-11e8-8e95-50cd7f243162.png)

[2018-07-17 17:51] snreynolds commented on #4661
Closed with #4777

[2018-07-17 17:51] #4661 closed

[2018-07-17 18:15] snreynolds commented on #4789
love this +  some thoughts:
• the transaction fee descriptions range from cheap >> average >> fast but describing a transaction as cheap vs. fast may not be super intuitive to new users. For example, it might be good to have descriptions based on _either_ the speed of the transaction _or_ the cost but not a mix of both... so you could label it cheap >> normal >> expensive  or  slow >> average >> f

[2018-07-17 18:58] bdresser commented on #4772
Looks good @cjeria! Makes sense to show the new row only if the account has tokens. In general I think this will solve a lot of headaches.
- Will users miss the account switcher in the top-right? I often click "Send," then switch to my relevant account. Could perhaps reduce some padding to help it all fit? Maybe worth some informal interviews.
- If I am sending ETH from an account with tokens, I m

[2018-07-17 20:05] jlubeck commented on #3330
Weird behavior I saw today.
1) I opened the plugin and was greeted with a message saying I shouldn't trust certain websites asking for my seed words. (can't remember the exact words of the message)
2) I signed in
3) Non of my accounts showed up when I clicked on the switch account icon.
4) I went to settings and clicked on "Reveal Seed Words"
5) I entered my password again and then clicked on "I'v

[2018-07-17 20:06] merkabot opened #4817 "Blank screen in Windows Chrome"
edit: various users are reporting a blank popup in Windows 7, 8 and Vista. Mostly on Chrome 67, which should be supported.

[2018-07-17 21:00] bdresser commented on #4817
@merkabot what browser & OS?

[2018-07-17 21:15] bdresser commented on #4253
Connecting to `HTTP://127.0.0.1:7454` also displays my mainnet balance even though I'm on a custom RPC option.

[2018-07-17 21:19] bdresser commented on #4253
Seems like the UI updates to "Custom RPC" while actually staying on Mainnet

[2018-07-17 21:20] bdresser commented on #4817
@merkabot what operating system?

[2018-07-18 01:15] christian561 commented on #1649
not fixed!

[2018-07-18 02:15] dmdque commented on #1410
+1 that this is really necessary asap

[2018-07-18 04:53] jreginsson commented on #4771
This is probably duplicate for #4502.

[2018-07-18 04:56] onehates commented on #4741
Sorry I was out of town the past week. When Iook at extensions in brave, it shows Metamask as on, and the version as 4.3. When I disable this it shows this as the latest version.  Isnt this supposed to auto update in brave?

[2018-07-18 07:59] uivlis commented on #4771
Interestingly enough, errors only appear on first opening after installation. Then, nothing.

![tor_mm_blank](https://user-images.githubusercontent.com/7414543/42867920-947aeebe-8a79-11e8-8097-dff5c96a3c88.png)

[2018-07-18 09:39] sulliwane commented on #3599
I believe this issue is still not resolved. I have latest version of MM plugin, but still always reloading.

[2018-07-18 11:45] eswak commented on #3475
+1

We also need this feature, signing a transaction from metamask & getting the raw transaction hex string as a callback would allow for better tracking of the operation on our side.

Also, if you want to provide different signing mechanisms for a tx in a web page (think: metamask, ledger hardware wallet, ...), it is a pain to not have control on the broadcasting because some signing mechanisms w

[2018-07-18 12:23] alex-ppg opened #4821 "MetaMask does not show signature request if open when 'eth_signTypedData' request is sent"
This is quite a crucial issue with user interaction as we cannot reasonably expect a user, after unlocking his account, to close and re-open the MetaMask plugin screen.

- **Expected Behavior**: Whilst the MetaMask plugin screen is open, either the page itself transitions to the signature request or the signature request pop-up shows.
- **Actual Behavior**: If MetaMask is open when the request is

[2018-07-18 12:35] whymarrh commented on #4809
@James-Sangalli could you elaborate a bit on what you're looking for here?

[2018-07-18 12:36] whymarrh commented on #4805
Could be related to #4195

[2018-07-18 14:09] th-ink commented on #1190
I would love to see this encrypt / decrypt function implemeneted in MetaMask as this would make life for DApp developers so much easier. I am currently developing a privacy document sharing DApp where the sharing is done by encrypting document's file key with other user's public key. But handling the key generation and enc / dec in the app and blockchain is not ideal.

[2018-07-18 15:40] bdresser commented on #4821
@alex-ppg a simple workaround might be to have the user click a UI element to prompt the signing request, rather than trying to fire it automatically on login.

curious what your usecase is – if you're trying to create a sort of log-in behavior, make sure you've checked out this [web3 opt-in feature](https://github.com/MetaMask/metamask-extension/pull/4703) that we'll be rolling out shortly.

@dan

[2018-07-18 16:05] hackmod commented on #4753
Please see https://github.com/MetaMask/metamask-extension/pull/4516

*work in progress.*

[2018-07-18 16:08] bdresser commented on #3599
@sulliwane you're correct, this is not in production yet. We want to make sure dapp developers have plenty of time to prepare for this breaking change. Read more [here](https://medium.com/metamask/breaking-change-no-longer-reloading-pages-on-network-change-4a3e1fd2f5e7).

We'll roll this out sometime in the next month and will share a specific timeline here when it's solidified. Thanks for being p

[2018-07-18 16:09] bdresser commented on #4771
@vbresan do you see this error consistently, or just after installation?

[2018-07-18 16:39] owocki commented on #4805
What RPC node are you using on MEW @bdresser ?

I've noticed it intermittently on Gitcoin; but GC is really the only dapp i use day over day so I can't say if it happens on other sites or not.

I'm assuming its either Metamask or infura related, because I've traced through the code and the delay happens after we enter the `web3.eth.sendTransaction` method

[2018-07-18 17:41] horca17 commented on #3908
I have the same problem!

[2018-07-18 18:13] #3430 closed

[2018-07-18 18:14] #4784 closed

[2018-07-18 18:44] owocki commented on #4805
entered this ticket on infura https://github.com/INFURA/infura/issues/128

[2018-07-18 18:44] #4805 closed

[2018-07-18 19:11] estebanmino commented on #4791
I tried another strategy to solve this and I came to a Ubuntu 18.04 specific issue related to Ibus (https://github.com/ibus/ibus/). The default keyboard input method on Ubuntu 18.04 is Ibus and it seems that this version of Ubuntu has a bug with Gnome (here is the proposed patch https://gitlab.gnome.org/GNOME/gnome-shell/merge_requests/140/diffs?commit_id=94cca97ad599f1da9bc52d8ff5cb28df681a3538).

[2018-07-18 19:24] estebanmino commented on #3963
@KojimaGeniy @adibas03 I found an interesting fix for this related to the new Xorg Gnome version in Ubuntu 18.04. The default keyboard input method system is Ibus which has issues with password types (https://github.com/ibus/ibus/issues/2002#issuecomment-386537208), can you try changing keyboard input method system to XIM? I did it and the extension is working fine now.

[2018-07-18 22:11] danfinlay opened #4824 "Automatically trim pasted addresses in send screen"
Currently newly pasted addresses with a leading zero (like ones copied from etherscan) can show a "invalid address" error. We should just automatically trim that.

[2018-07-18 22:12] alex-ppg commented on #4821
@bdresser While what I am trying to do is create a sort of log-in behavior, it doesn't exactly work in the same way most DApps do.

We are creating a multi-currency front-end wallet that derives the various keys from a seed and in order to support MetaMask, we want the user to sign a randomly generated (once) and server-side stored string, using the resulting signature as the seed for the various

[2018-07-18 22:35] danfinlay opened #4826 "Transactions: Only show "Retry" button on the earliest pending tx"
To prevent users from increasing gas prices on transactions that aren't clogging their queue.

[2018-07-18 22:41] danfinlay opened #4827 "Auto-detect plausible tx retry attempts and warn users"
When sending a new tx whose parameters are identical to a pending transaction, warn users:

[2018-07-18 22:55] cowpig opened #4828 "Support multiple vaults"
I installed metamask a while ago on brave. I want to use it now, but have no idea what the vault password or seed phrase were. There's no option to reset the vault or create a new one.

After some googling the only option seems to be to remove/reinstall the extension. Brave doesn't support this: you can only disable extensions, not delete them. So I have no way to use metamask without removing and

[2018-07-18 23:11] danfinlay commented on #4828
Interesting point, we should probably have a "create new vault" option on the lock screen. A downside is this means that anyone with access to your browser (even without your MetaMask password, while locked) would have the ability to wipe your MetaMask instance.

[2018-07-19 00:20] danfinlay commented on #1410
@dmdque Could you describe your use case that makes this an asap feature for you?

[2018-07-19 00:26] danfinlay opened #4829 "In develop branch, Confirmation window not closing after confirm"
For example, signing into Cryptokitties (with NewUI), the popup is not closing after I confirm the signature.

I've heard someone else report experiencing this. If someone can reproduce this and then fix it, I'd consider that worthy of a bounty.

[2018-07-19 00:36] brunobar79 commented on #4829
@danfinlay  This happened to me in the Trezor Demo (v2)

[2018-07-19 05:00] James-Sangalli commented on #4809
When you make a payable transaction on remix for example, you cannot attach ether to the payable function call. You really should be able to do this.

[2018-07-19 05:08] aidatorajiro opened #4831 "Cannot change gas price on deploying contracts"
I tried to increase gas price of a contract deployment transaction, but I couldn't. There was no sliders or anything to change gas price.

First, I pressed "Increase gas price on your transaction" button.
![scrchot1](https://user-images.githubusercontent.com/7290197/42922665-97a9b8e8-8b5c-11e8-9885-9797388da559.png)

But no sliders shows up.
![scrchot2](https://user-images.githubusercontent.com/72

[2018-07-19 05:32] karthikcyadav98 opened #4832 "Gas Estimation failed"
i developed a smart contract and its working fine in javascript VM and in web3 provider, but while i deployed the same contract on ropsten i got an error saying "gas estimanation failed" and the transaction reverted

[2018-07-19 07:21] vbresan commented on #4771
Consistently.
![clipboard01](https://user-images.githubusercontent.com/288855/42927513-089d5834-8b35-11e8-9301-eb1cca3c6c1d.png)

[2018-07-19 09:34] ekreda commented on #540
This issue is happening also on the current "old" UI too!
Once I add more the one RPC url - can't find them anymore...

[2018-07-19 09:35] ekreda commented on #4498
This issue is happening also on the current "old" UI too!
Once I add more the one RPC url - can't find them anymore...

[2018-07-19 13:09] hems commented on #1530
The problem for me that web3.eth.sign doesn't ask for password and personal.eth.personal.sign does!

I might be missing a point, but the only option for me now is to use personal.eth.personal.sign when on the browser ( i.e. metamask ) and web3.eth.sign when not on the browser ( node.js )

Having to provide the password as a 3rd argument is definitely *undesirable* when developing a node.js applica

[2018-07-19 13:56] cowpig commented on #4828
Could the existing vault be archived instead of deleted?

[2018-07-19 14:33] bdresser commented on #4826
relates to https://github.com/MetaMask/Design/issues/25

[2018-07-19 14:44] bdresser commented on #4831
@aidatorajiro this is due to the same issue mentioned in #4635, fixed by #4691 and out shortly in our next release

[2018-07-19 14:44] #4831 closed

[2018-07-19 17:05] danfinlay commented on #4832
Could you send your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133392-How-To-Download-State-Logs-Old-UI-) to support@metamask.io so we can inspect what may have gone wrong? It's possible this was an error at the RPC layer, but we'd have to see the logs to be sure.

[2018-07-19 17:59] danfinlay commented on #1530
@hems In MetaMask, neither requires password from the user. This was originally a mis-implementation in MetaMask of `personal.sign` that has now become widespread. It does not make sense to trust Dapps with a user's password in either context, and the original method was intended for private JS contexts, like a console.

Going forward, it will be best for developers to build on EIP 1102 instead (n

[2018-07-19 18:00] danfinlay commented on #4828
Sure, but then we'd have to build the UX around recovering it, etc, too.

[2018-07-19 18:06] danjm opened #4835 "Write unit tests for the confirm-detail-row.component.js"
`metamask-extension/ui/app/components/confirm-page-container/confirm-detail-row/confirm-detail-row.component.js` needs unit tests.

Use `metamask-extension/ui/app/components/send/send-content/send-row-wrapper/send-row-wrapper.component.js` and `metamask-extension/ui/app/components/send/send-content/send-row-wrapper/tests/send-row-wrapper-component.test.js` as an example to follow.

Tests to includ

[2018-07-19 18:10] danfinlay opened #4836 "NewUI: Contract method calls showing "New Contract" incorrectly"
Posting a bounty on GitCoin is resulting in this view:

<img width="361" alt="screen shot 2018-07-18 at 6 41 37 pm" src="https://user-images.githubusercontent.com/542863/42961666-3d6f8e56-8b44-11e8-8f96-20b11879a2ab.png">

We should only show "New Contract" if there is no recipient for that tx, and there is data.

[2018-07-19 18:35] hems commented on #1530
@danfinlay indeed

MetaMask:

 - Doesn't require a password for personal.sign and that's what we're using
 - Was getting stuck when signing with eth.sign

On the other hand, node.js ( without MetaMask, using get on ropsten ):

 - Was not working without providing password as 3rd argument
 - Was working with eth.sign

In the end, we had to implement a quick workaround and switch the sign function b

[2018-07-19 18:39] craigvh commented on #4806
Hi,
I solved this issue by uninstalling and then adding the extension again.
Fortunately I had my Eth key to reinstall myetherwallet address.

[2018-07-19 18:39] #4806 closed

[2018-07-19 19:01] #605 closed

[2018-07-19 19:07] brunobar79 commented on #2638
Fixed by #4625

[2018-07-19 19:07] #2638 closed

[2018-07-19 20:10] wjmelements opened #4837 "Internationalize seed words"
BIP39 seed words are available in [7 different languages](https://github.com/bitcoin/bips/blob/master/bip-0039/bip-0039-wordlists.md#wordlists). Internationalization will help people on-ramp. Seed words are easier to remember if they are in your native language.

- [ ] I can show my seed words in English or in my preferred language
- [ ] I can import my den using seed words in my preferred languag

[2018-07-19 20:14] wjmelements commented on #4837
There are no duplicate words across all of the languages, so we can create a super wordlist and authenticate that all of the words came from the same language.

[2018-07-19 20:29] hermanjunge commented on #4837
I will give my two cents as a spanish speaker:

Not sure of this feature will simplify or make more complex the seed word business.

In spanish we already have special characters (ñ, plus the ones with tildes: á, é, í, ó, ú). I am already imagining some poor soul copying a word like `camión` (truck) and forgetting the tilde, and sending an email to support that their seed phrase is not working. A

[2018-07-19 20:37] wjmelements commented on #4837
We could process the words, mapping incorrect n to ñ, and/or autocorrect similar characters as you type.

[2018-07-19 20:47] owocki commented on #4771
I will match the bounty here to double it to 0.06 + 0.06 ETH = 0.12 ETH.

[2018-07-19 21:07] kumavis commented on #4837
@wjmelements are you aware of other wallets (eth/btc/any kind) that support non-english seed words ( i know the bip39 library does)

[2018-07-19 21:16] wjmelements commented on #4837
I am not

[2018-07-19 22:21] cjeria commented on #4811
@whymarrh Here are the suggested designs for the announcement in the old to ui.

![image](https://user-images.githubusercontent.com/597770/42973204-2bf27080-8b67-11e8-9971-447efc966507.png)

[2018-07-19 22:44] whymarrh commented on #4811
@cjeria thanks, this looks great! Where did you imagine the "Read more about our plans" and "learn more" links going?

[2018-07-19 22:49] danfinlay commented on #4811
What will our "Read more about our plans" link go to?

[2018-07-19 23:29] cjeria commented on #4811
Let's change that link to say "Learn more" and link to https://medium.com/metamask/metamasks-new-ui-has-begun-to-roll-out-74dba32cc7f7

thoughts? @whymarrh @danfinlay

[2018-07-19 23:36] danfinlay commented on #4811
Sounds good. Maybe we edit the post to add info about the gas editing + tx parameter viewing.

[2018-07-20 00:42] snreynolds commented on #4835
I think the file directory is actually `metamask-extension/ui/app/components/confirm-page-container/confirm-detail-row/confirm-detail-row.component.js`

[2018-07-20 01:29] bdresser commented on #4811
looks great @cjeria except weird to say "No action is required right now" and then also ask them to click a shiny blue button :) so maybe we remove that little line?

[2018-07-20 01:41] bdresser commented on #4752
@cjeria PR is ready above, as mentioned just need a little love in formatting the `domain` section as was done in the [old UI version](https://raw.githubusercontent.com/ethereum/EIPs/master/assets/eip-712/eth_signTypedData.png)

![68747470733a2f2f692e6779617a6f2e636f6d2f33646438643738303737616562343164666165366264623531626430313130632e676966](https://user-images.githubusercontent.com/1016190/42978

[2018-07-20 01:44] bdresser commented on #4767
MetaMask website is up on IPFS / ENS Ropsten testnet. To go run the `portal-metamask-ens-test` branch and go to metamask.test on Ropsten network!

[2018-07-20 01:44] #4767 closed

[2018-07-20 02:54] cjeria commented on #4811
good call @danfinlay

@bdresser @whymarrh See updated copy.

![image](https://user-images.githubusercontent.com/597770/42980717-79f12b52-8b8d-11e8-8244-b2bd80cfdc31.png)

[2018-07-20 06:53] anonrose commented on #4771
I could be wrong but I believe this issue is coming from Firefox 52(Tor browser's version) does not have the  listener [`onConnectExternal`](https://github.com/MetaMask/metamask-extension/blob/3784a7e2c852974315cfe17a68673938cf24a7fa/app/scripts/background.js#L324) [available](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/onConnectExternal). I'm still researching alternativ

[2018-07-20 07:14] vs77bb commented on #3343
Thanks for the update, @ajnauleau!

[2018-07-20 13:51] KojimaGeniy commented on #3963
@estebanmino I confirm, works now even without separate tab, just like it was on 16.04, thank you.

[2018-07-20 14:24] bdresser commented on #1658
@brunobar79's PR for Trezor support (#4625) also includes the ability to remove loose/imported accounts (as described in #2638) in the new UI.

Leaving this open to discuss more sophisticated management of HD accounts, but lowering priority. As Dan mentions above, there are some UX issues to sort out and thoughts are welcome.

[2018-07-20 14:37] bdresser commented on #4836
@alextsg

[2018-07-20 14:38] bdresser commented on #4829
@alextsg @whymarrh heads up if you haven't already taken a look

[2018-07-20 14:52] bdresser commented on #4771
@anonrose we've had some other recent issues with a blank screen Firefox - check #3963 or #4502

[2018-07-20 16:47] estebanmino commented on #3034
this feature was implemented in #4683

[2018-07-20 16:48] #3034 closed

[2018-07-20 16:48] estebanmino commented on #2560
this feature was implemented in #4683

[2018-07-20 16:48] #2560 closed

[2018-07-20 16:49] bdresser commented on #4811
looks great, thanks Christian.

@whymarrh @kumavis what do you think about using Sentry to understand how many clicks we get? Okay by me if we can't de-dupe, would just love any signal on whether people are moving over.

[2018-07-20 17:10] alextsg commented on #4836
@danfinlay "New Contract" is incorrectly being shown because we were looking up the recipient address within `state.metamask.identities`, so we can instead display the sliced address (`0xabcd...defg`) if the recipient address isn't found there. Will that be a good solution?

Regarding

In that case, we will show "Contract Deployment" as the action. Here we're showing the action "Confirm", which I

[2018-07-20 17:58] danfinlay commented on #4836
Showing the sliced address is a good fallback, but in this case, [the StandardBounties contract name is in our eth-contract-metadata repo](https://github.com/MetaMask/eth-contract-metadata/blob/master/contract-map.json#L527), so we should default to that `.name` property first.

[2018-07-20 18:02] chech0x commented on #2873
I have the same problem in Ropsten, the plugin assume 0 as gasprice by default . It must be 1 at least

[2018-07-20 18:02] alextsg commented on #4836
Sounds good. We'll check for the recipient address in the the contract map, then fall back to the sliced address.

[2018-07-20 18:23] estebanmino commented on #3313
Related to the blank screen issue on Firefox / Ubuntu 18.04, there is a way to fix it
https://consensys.zendesk.com/hc/en-us/articles/360007617432

[2018-07-20 18:33] estebanmino commented on #2746
I'm able to reproduce the same issue with other add-ons that trigger a notification popup on Firefox. #4796

[2018-07-20 18:42] estebanmino commented on #4791
Related to the blank screen issue on Firefox / Ubuntu 18.04, there is a way to fix it
https://consensys.zendesk.com/hc/en-us/articles/360007617432

[2018-07-20 18:42] #4791 closed

[2018-07-20 18:44] estebanmino commented on #4502
@hhakala @mallapurbharat the issue that you mentioned is related to notifications #4796

[2018-07-20 18:44] #4502 closed

[2018-07-20 18:45] #3963 closed

[2018-07-20 18:49] ajnauleau commented on #3343
@vs77bb There are currently two school of thoughts around this:

`"last 2 versions"` and browsers that are `>1%, not ie 11, not op_mini`

The issue with the former are browsers such as internet explorer which will seize to be updated, hence holding the codebase at es2015.

The consensus of popular opinion seems to prefer the latter option, i'm thinking of moving forward with this option.

Please l

[2018-07-20 19:01] nicejoe2121 commented on #3963
So if i understand correctly, the issue of the blank screen can be resolved on Ubuntu. But i run windows vista and still have the blank screen on Firefox and on Chrome. Any news on this ?

[2018-07-20 19:40] bdresser commented on #3963
@nicejoe2121 what version of Windows are you running?

[2018-07-20 19:47] tim92109 commented on #2918
still an issue

[2018-07-20 20:18] bdresser commented on #3343
@ajnauleau `>1%, not ie 11, not op_mini` sounds good.

Any reason to stick to >1% or could we go as far as >.25% as mentioned above?

[2018-07-20 22:43] #4836 closed

[2018-07-20 22:50] #4203 closed

[2018-07-20 23:40] bdresser opened #4843 "Banner flash on load"
There's a quick blue flash at the top of the extension each time I load it. On current develop.

![flash](https://user-images.githubusercontent.com/1016190/43029412-0e1b3d56-8c3b-11e8-9d1e-58f148fcc432.gif)

[2018-07-21 01:42] bdresser commented on #2918
@tim92109 are you using Firefox by chance? or are you seeing this on Chrome

[2018-07-21 01:56] tim92109 commented on #2918
It was on Chrome.  I didn't try re-installing it after reading that re-installing didn't fix the issue... but then I did re-install and it fixed the issue for me.

[2018-07-21 03:48] Professor-Curtis opened #4846 "MetaMask crashed, will not respond!"

[2018-07-21 03:50] Professor-Curtis commented on #4846
Nothing works.  Cannot trade on ForkDelta, have not been able to trade for over 1 week.  I have gone to the site to reinstall. pressed enable, nothing happens.

[2018-07-21 05:47] toffoo commented on #4760
I'm using Chrome with Metamask 4.8.0 on Mac to use Augur.

If I use the Infura standard Main connection, my transactions broadcast and confirm normally.

If I use my local geth -syncmode light node, my transactions stay "Approved" in Metamask, do not get broadcast, do not confirm, and I get:

"No trusted canonical hash trie" console error.

[2018-07-21 05:49] nicejoe2121 commented on #3963
I'm running Windows Vista Home Basic SP2 32 bit. thank you

[2018-07-21 14:00] Matthalp commented on #4828
@danfinlay I am also having this issue.

[2018-07-21 17:09] roseandcolumns commented on #4751
@brunobar79 Hi, I'm new to this project. I was looking into this issue and it looks like this setting might live in userland. I'm not entirely positive. [docs](https://docs.npmjs.com/getting-started/running-a-security-audit#installing-all-packages)

[2018-07-21 19:48] brunobar79 commented on #4751
@roseandcolumns  I think I might use that setting before running npm install since we have a separate build step "test deps" which takes care of that.  It won't fix this specific issue but it will help npm install to run faster (since it doesn't have to audit all the packages).

[2018-07-22 00:52] zgallagher08 commented on #4577
@danfinlay Referring to your comment above on June 14, will there be any documentation released on how to request transactions from MetaMask in other web extensions?

[2018-07-22 00:54] ajnauleau commented on #3343
@bdresser - I was actually going to follow `>0.25%` recommended on https://jamie.build/last-2-versions, good catch though.

My PR #4812 should be merged into `develop` soon and I'll be able to make a PR from there and integrate this change.

[2018-07-22 02:48] sydbarrett74 commented on #4074
@danfinlay I'm exhibiting high memory use, as well. Should I submit a separate ticket since I'm on Win10 1803?

[2018-07-22 06:41] yi-ji commented on #2754
same problem

chrome Ver67, macOS 10.13, metamask 4.8.0

The dapp that caused this is exitscam.me ...

[2018-07-22 10:57] kelvintyb commented on #4773
@bdresser can I clarify if the specification for showing the phishing.html full page refers to showing it within popup.html or as a separate window using either tabs.create() or windows.create()?

[2018-07-22 12:02] mediumjack1 commented on #789
has this issue been resolved? do I need to disable metamask in order for it to work properly? Will my ETH be safe doing this?

[2018-07-22 19:05] jaybejaybe commented on #4817
Metamask chrome extension crashes and all funds stuck. Please correct this.
Using window 7, resolution 1280 x 800.
Browser is Google Chrome, Version 67.0.3396.99 (Official Build) (64-bit)
Metamask Browser Extension
Version
4.8.0

[2018-07-22 20:35] black13trader opened #4849 "check failed authentication on sign ddex"
i have problem on ddex.io After sign i see red color message: Authentication check failed! please make sure you have authenticated already.
Brouser Chrome

[2018-07-23 01:50] Maayu2415 commented on #4778
Thank you. Please tell me about step to do it.
Now my computer is not confirm to accept matamask
How to do?Can not install seed phrase and privait key

[2018-07-23 01:51] Maayu2415 commented on #4778
I am working wrong step?

[2018-07-23 02:06] Maayu2415 commented on #4778
You are have knowledge." TELL ME PLEASE" I am so many  problems. I am very serious. Because  I am unknowledge about working. Bus it is interresting.

[2018-07-23 02:23] Maayu2415 commented on #4778
If you know can to tell step slowly by slowly .

[2018-07-23 02:37] Maayu2415 commented on #4778
It about 2 week that I can' crate my account wallet address.Howt  to I do!

[2018-07-23 03:04] bdresser commented on #4778
@Maayu2415 please email support@metamask.io and they'll help answer your questions!

[2018-07-23 03:18] bdresser commented on #3521
since https://github.com/MetaMask/metamask-extension/pull/4683 was merged, we could auto-detect per account & network. (Would resolve #4518 as well.)

[2018-07-23 04:09] bdresser opened #4850 "Add logging for signing methods"
As we update to the finalized EIP 712 spec (https://github.com/MetaMask/metamask-extension/pull/4803) and begin deprecating `eth_sign` (https://github.com/MetaMask/metamask-extension/issues/1930) it'd be good to warn developers. We could use Sentry to log dapps using these methods and reach out with a heads up.

Might also need an accompanying support article.

[2018-07-23 12:36] greenkeeper[bot] opened #4854 "An in-range update of react-select is breaking the build 🚨"
## Version **1.3.0** of **react-select** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Freact-select-1.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/

[2018-07-23 14:03] jaybejaybe opened #4856 "Metamask chrome extension crashes, only see blank screen, cannot do anything l"
Metamask chrome extension crashes, only see blank screen
Using window 7, resolution 1280 x 800.
Chrome browser, Version 67.0.3396.99 (64-bit)
Metamask Browser Extension, Version 4.8.0

[2018-07-23 15:06] bdresser commented on #4856
@jaybejaybe closing in favor of #4817

[2018-07-23 15:06] #4856 closed

[2018-07-23 15:10] bdresser commented on #4817
also reported on Vista

[2018-07-23 15:10] bdresser commented on #3963
@nicejoe2121 see https://github.com/MetaMask/metamask-extension/issues/4817 for the issue on Windows

[2018-07-23 15:11] bdresser commented on #4846
@Professor-Curtis what browser and OS are you using?

[2018-07-23 15:30] bdresser opened #4857 "Blank Screen on Chrome - `PortDuplexStream disconnected`"
Via support:

![image](https://user-images.githubusercontent.com/1016190/43086565-83195f16-8e52-11e8-9f3a-c8f0c602a3de.png)

![image](https://user-images.githubusercontent.com/1016190/43086516-616d3e28-8e52-11e8-88f3-5ec54ea2ac89.png)

[2018-07-23 15:32] bdresser commented on #4849
@black13trader could you share a screenshot? I don't think that error message originates from MetaMask, it could be an issue with ddex

[2018-07-23 16:40] jennypollack opened #4859 "Support Gnosis Safe Account Type"
- [ ] "multisig management class"
  - [ ] tx-prep transform, compose the tx for different gas estimating, should keep original txParams on the txMeta object for more comprehensible UI rendering.
  - [ ] "setup" checking ownership of contract, to avoid auto-fails.

[2018-07-23 16:44] danfinlay opened #4860 "Create passthrough-keyring for Brave"
When running in Brave, should auto-detect a Geth instance running on `localhost:8545` with unlocked accounts.

- Should show any unlocked accounts as accounts in this passthrough keyring.
- Should allow signing with these accounts.

Stretch goals:

- Initialize account nicknames using RPC: `db_getString`, params: `['braveEthWallet', 'wallets']`. Will return data of form: `[{name: "Account 1", addr

[2018-07-23 16:46] estebanmino commented on #3553
@bdresser  yes it does, as long is a ERC20 token is going to work.

[2018-07-23 16:47] danfinlay commented on #3553
It is not a normal ERC20 token, and so possibly no.

[2018-07-23 16:49] estebanmino commented on #3553
The functionality only interact with `balanceOf` that is implemented in this contract, isn't that enough? Then the name and symbol is extracted from `eth-contract-metadata`

[2018-07-23 16:49] bdresser commented on #4773
we want to redirect the blocked page to a full-screen version of the extension. no new tab.

basically exactly the same as current behavior, except instead of hitting metamask.io/phishing.html the user sees the same page loaded from the extension.

@alextsg anything to add?

[2018-07-23 16:56] estebanmino commented on #3553
I just tested it and works when user address has balance

[2018-07-23 17:01] alextsg commented on #4773
This task will look something like adding a component for the phishing warning page and its route to `ui/app/routes.js` (something like `PHISHING_WARNING_ROUTE = '/phishing-warning'`), and then in `app/scripts/contentscript.js`, the function `redirectToPhishingWarning` can use `extension.runtime.getURL(PHISHING_WARNING_ROUTE)` to redirect to the phishing warning component.

[2018-07-23 17:44] bdresser commented on #4821
@bitpshr might have to do with the logic around the popup ID https://github.com/MetaMask/metamask-extension/pull/4592

[2018-07-23 17:45] bdresser commented on #4145
probably best thing to do is tell the user to back up their seed phrase. might happen in background, so maybe a browser notif

[2018-07-23 18:14] danfinlay opened #4861 "Add support for Parity Signer"
Parity signer is a mobile app that lets you sign/submit QR-encoded transactions. Supporting it means supporting basically any QR-based signer, which is a nice, cheap key isolation strategy.

You can read about MyCrypto's integration here:
https://paritytech.io/send-transactions-with-mycrypto-beta-and-parity-signer/

[2018-07-23 18:32] #4843 closed

[2018-07-23 18:36] danfinlay commented on #4577
Yes, that's what this documentation would involve. Right now this issue is a little bit too low a priority for the core team to be working on it, but we're eager to document it soon. An intrepid developer could take the tips above and construct a new provider based on our `port-stream` and `stream-provider`. Will post a bounty in case someone wants to do this sooner.

[2018-07-23 18:54] greenkeeper[bot] opened #4862 "An in-range update of gulp-watch is breaking the build 🚨"
## Version **5.0.1** of **gulp-watch** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fgulp-watch-5.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/floa

[2018-07-23 19:05] danfinlay commented on #3553
That's kindof awesome. It must be because we don't need to fetch the symbol when we already have it in the local token list.

[2018-07-24 02:05] heaven668 opened #4863 "When I link to my private chain, my account balance is inexplicably much less, and there are no hints and no transaction records on the metamask. This is not my operation, but I can actually find the deal on the private chain."

[2018-07-24 05:06] mediumjack1 commented on #789
The issue was fixed by resetting mettamask in settings. some unfinished transactions were slowing down the process

[2018-07-24 07:48] AngeloETH opened #4864 "Is that any probability to be hacked of using metamaks"
I have some eth stored in metamask wallet

When i check my wallet today, I found that my eth and erc20 token was sent to the other wallet 1 days ago.

Here are the address.

 Here is the address:
0xdcaCc0Ee7c94C491E464526655ad19e9cD7532e8

0xdcaCc0Ee7c94C491E464526655ad19e9cD7532e8

[2018-07-24 11:23] FireZi commented on #4864
The history of your address is empty.
Maybe you changed browser and look at another address.

[2018-07-24 17:36] danjm opened #4866 "Improve handling of popup closing in actions.js"
https://github.com/MetaMask/metamask-extension/pull/4865 introduced popup closing to `actions.js`

We can probably make this implementation cleaner. Perhaps by moving the code responsible for closing popups to an action or just to a helper function.

We should also make changes that ensure that the current popup window id is retrieved on button click, no api resolution.

@alextsg @whymarrh

[2018-07-24 17:55] whymarrh commented on #4771
Just going off the error in the image this doesn't look related to #3505 but it wouldn't hurt to test this out with the latest changes on develop now that #4812 is merged.

[2018-07-24 18:03] whymarrh commented on #3343
+1 to [@danfinlay's comment above](https://github.com/MetaMask/metamask-extension/issues/3343#issuecomment-404649932)

While we can add more targets to the Babel config, I think there'll need to be some indication of what else a browser needs to support other than JS APIs. I'm thinking of #4771 and [the comment there](
https://github.com/MetaMask/metamask-extension/issues/4771#issuecomment-4065063

[2018-07-24 18:06] bdresser opened #4867 "Integrate Simplex"
Simplex is a retail exchange licensed in the EU. Providing more options to get users up & running with their first ETH can generally help with onboarding and usability.

The Simplex team will take the lead on integrating this into the extension.

The entry point should live on the "Deposit" page / popup, which shows after a new user completes onboarding.

Probably makes sense to build this in to t

[2018-07-24 18:35] JacobStewart64 commented on #4829
Is the current develop branch working at all? It is saying I need multiple versions of peer dependencies react, react-dom, etc.

I see you just made a commit. I will try again. Maybe make a branch just for Gitcoin bounties so we don't have to deal with the hustle and bustle in the develop branch (which might even obscure any problem we're looking for).

[2018-07-24 18:49] #4829 closed

[2018-07-24 20:02] bdresser commented on #3367
this is fixed in https://github.com/MetaMask/metamask-extension/pull/4691 and will be released shortly

[2018-07-24 20:02] #3367 closed

[2018-07-24 20:57] danfinlay opened #4869 "Enforce checksummed addresses in send screen"
People lose money by hand typing addresses, so we can reduce those losses by using address checksums.

This means we wouldn't be compatible with all addresses.

How do we want to deal with that?  A few options:

- Show a warning when sending to an un-checksummed address.
- Refuse to send to un-checksummed addresses.
- Allow user to force accept an un-checksummed address.
- Refuse to send to un-che

[2018-07-24 21:06] jennypollack opened #4870 "Error Message Improvements"
- [ ] Collect known errors
- [ ] Replace string comparison checks with checks against well known errors
- [ ] start pushing on https://github.com/ethereum/EIPs/issues/136
- [ ] also see https://github.com/ethereum/wiki/wiki/JSON-RPC-Error-Codes-Improvement-Proposal
- [ ] bubble up the errors to the UI

following issues would be helped/would have been helped by these improvements:
https://github.co

[2018-07-24 21:15] jennypollack commented on #3519
The no current block thing was a red herring, it's an issue with how we handle failures from estimateGas.
Another manifestation of the issue is https://github.com/MetaMask/metamask-extension/issues/2898

[2018-07-24 22:03] #4253 closed

[2018-07-24 22:12] greenkeeper[bot] opened #4872 "An in-range update of gulp-uglify is breaking the build 🚨"
## Version **3.0.1** of **gulp-uglify** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fgulp-uglify-3.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/te

[2018-07-25 02:48] #4799 closed

[2018-07-25 11:12] ajnauleau commented on #4771
The build in the PR I just requested built to support Firefox 52 which is what Tor uses #4873. Although this resolved the issue for Chrome, I think something else is going on with Tor.

[2018-07-25 14:59] creazy231 opened #4874 "MetaMask removed from google extension store?"
Just wonder why I cant access the MetaMask-Extension on google anymore.

https://chrome.google.com/webstore/detail/nkbihfbeogaeaoehlefnkodbefgpgknn

Anyone got some information about that?

[2018-07-25 15:02] bdresser commented on #4874
The extension has been temporarily removed from the Chrome store for reasons we're not sure of yet. The Chrome team has been banning applications that involve mining, and it's possible MetaMask was improperly classified.

Existing users and other browsers are unaffected, stay tuned to [our Twitter](https://twitter.com/metamask_io/status/1022125347259576320) for more information

[2018-07-25 15:08] bdresser commented on #4870
sounds like it relates to https://github.com/MetaMask/metamask-extension/issues/4559 as well

[2018-07-25 15:10] creazy231 commented on #4874
@bdresser thanks for the fast reply. Is there any other way to get the Chrome Extension without compiling the repo on my own?

[2018-07-25 15:16] bdresser commented on #4874
You could download a build from a closed pull request if you really need to get chrome up and running. You'll be using the develop branch, so we can't promise stability, but you'll also get access to some fun new features 😄

check out https://github.com/MetaMask/metamask-extension/pull/4865, download the metamaskbot's build for chrome, head to `chrome://extensions`, load the unzipped build with "L

[2018-07-25 15:29] creazy231 commented on #4874
Worked as it used to :)
Thanks for the help.

I'll let this issue open until MetaMask is back in chrome store so other users can easily follow the steps above.

[2018-07-25 15:43] kelvintyb commented on #4773
Thanks for the input guys :)

Is this the intended behaviour? I'm doing it slightly differently from Alex's approach since it's redirecting the current window to a html page bundled in the extension itself (see the URL). Not exactly a full screen version of the popup.html, but I'm unsure if that really works for blocking interaction with the window.

![screen recording 2018-07-25 at 11 38 pm](http

[2018-07-25 16:33] bdresser commented on #4773
@kelvintyb this looks good to me. @alextsg?

[2018-07-25 16:34] bdresser commented on #4874
actually, a better answer is to download our current production build from the [releases](https://github.com/MetaMask/metamask-extension/releases) page

[2018-07-25 17:39] brunobar79 commented on #686
@cjeria ^^

[2018-07-25 18:24] mimaraslan commented on #1932
https://truffleframework.com/docs/advanced/truffle-with-metamask

[2018-07-25 20:13] joelamouche commented on #3748
<img width="692" alt="capture d ecran 2018-07-25 a 16 12 16" src="https://user-images.githubusercontent.com/16758383/43224853-8a986848-9025-11e8-97b7-9a73f2bfb3d2.png">

I got this error after calling estimaGas like this:
`
    let estimate = await conceptInstance.methods.makeAssessment(cost, size, startTime, endTime).estimateGas({from: userAddress, gas: 3000000})`

[2018-07-25 20:30] cjeria opened #4878 "Upload Custom Identicon"
If you have many accounts, identicons can be difficult to distinguish between accounts. Would be useful if we enable a way for you to upload your own image to replace the generated identicons. This would increase trust and the customizability of the app which people tend to really like.

[2018-07-25 20:34] leafcutterant commented on #2369
@danfinlay the [presently available option](https://github.com/MetaMask/metamask-extension/blob/develop/docs/add-to-firefox.md) is insufficient for non-experimental use because extension either gets deleted or downgrades to the Add-on store version after restarting the browser, and in both cases it loses all settings and accounts.

Google recently removed the extension from their store without say

[2018-07-25 21:27] cjeria opened #4881 "Reset Account button"
The Reset button right now does these two things in one click:

- Wipes tx history
- Reset network connections

We should break out those functions in two seperate buttons for more granular control when a user only wants to cancel pending/stuck transactions (reset network does this).

[2018-07-25 21:43] danfinlay commented on #4826
Should make the change on both old AND new UI.

[2018-07-25 21:46] bdresser commented on #4874
back up!

[2018-07-25 21:46] #4874 closed

[2018-07-25 21:49] bdresser opened #4883 "Add option to download seed phrase"
During onboarding, we could add a button that lets the user download their seed phrase to their machine. Maybe with a warning that it's a less secure option that writing down and storing offline.

Could decrease the number of folks who have no backup at all..

[2018-07-25 21:51] bdresser commented on #4759
Not gonna happen - will instead implement 1102 as an optional protocol during the grace period before rollout

[2018-07-25 21:51] #4759 closed

[2018-07-25 21:56] estebanmino commented on #3521
@danjm with this PR this feature is working, all changes were made from `preferencesController`. I'm working in UI changes and the migration.

@cjeria any thoughts for this UI?

[2018-07-25 22:10] danfinlay commented on #654
Raising the priority on this because our support metrics show this is a pain for a significant number of people.

[2018-07-25 23:24] danfinlay commented on #813
I see that the `externally_connectable: "*"` from websites permission was merged into Firefox on June 20th! Looks like it's time to revisit this!

[2018-07-25 23:47] dmvt commented on #654
Glad to be working on this. It was a pain point for me early on as well.

[2018-07-26 00:12] bdresser opened #4886 "Wrong token balance on Approve screen"
<img width="444" alt="screen shot 2018-07-25 at 4 47 42 pm" src="https://user-images.githubusercontent.com/1016190/43233864-5ee79f72-902d-11e8-8bbb-ded2a3dc1648.png">

only seeing on `Approve` function calls so far, haven't seen it elsewhere. airswap or etherdelta both work for testing if you try to swap / deposit a token. @alextsg

[2018-07-26 01:33] #3519 closed

[2018-07-26 02:04] danjm commented on #4826
@danfinlay This will show the retry option on the transaction that is being labelled as "Pending" in the latest designs, correct? (MetaMask/Design#25)

Currently, the transaction history list is ordered from latest at top to earliest at bottom. So implementing this change now will result in the retry button appearing somewhere below the top item in the list. This will then switch once we implement

[2018-07-26 02:10] danjm commented on #4826
Actually, @danfinlay, I thought about it some more. The answer to question (1) above is definitely yes. And I will move question (2) to the design doc/issue.

[2018-07-26 02:40] #4835 closed

[2018-07-26 04:26] lekk16 opened #4887 "My metamask was stolen by hackers."

[2018-07-26 04:45] jaybejaybe commented on #4817
Any update on this?

[2018-07-26 09:13] NSR9 opened #4889 "Blank UI"
BLANK UI :
After the installation of metamask chrome extension, when i click on the icon to the top right corner there is nothing showing up. Everything is blank and empty. I am unable to proceed forward. please help me.

[2018-07-26 11:02] rookieofC commented on #4863
I mean, when I log in to the metamask, connect to my private chain and start mining, the eth on my account is turned away, and there is no prompt for me to sign the transaction on the metamask. “ no transaction records” means no record of successful or failed transactions

[2018-07-26 11:03] rookieofC commented on #4863
I mean, when I log in to the metamask, connect to my private chain and start mining, the eth on my account is turned away, and there is no prompt for me to sign the transaction on the metamask. “ no transaction records” means no record of successful or failed transactions on metamask。

[2018-07-26 11:22] maiiz opened #4890 "metemask-extension crash"
my metamaks always crash when open

![image](https://user-images.githubusercontent.com/6994201/43258748-62e91eaa-9106-11e8-8a32-fcf3d875a514.png)

[2018-07-26 11:33] Maayu2415 commented on #4890
Thank you my friend.where are you?

ในวันที่ พฤ. 26 ก.ค. 2018 18:23 maiiz <notifications@github.com> เขียนว่า:

[2018-07-26 11:37] Maayu2415 commented on #4863
Thank you for your service.

ในวันที่ พฤ. 26 ก.ค. 2018 18:03 rookieofC <notifications@github.com>
เขียนว่า:

[2018-07-26 12:41] sulliwane commented on #3599
@bdresser got it, thank you

[2018-07-26 13:26] sulliwane opened #4891 "RLC ERC20 token logo out of date"
Hello,
The logo displayed when adding RLC ERC20 token is not correct:

![download](https://user-images.githubusercontent.com/1733686/43265049-ff953a1e-90e7-11e8-8b5b-1993f8409046.png)

Correct logo can be downloaded from the official iExec RLC website: https://iex.ec/press-kit/press-kit-iExec.zip

Thank you for your help!

RLC CMC link: https://coinmarketcap.com/zh/currencies/rlc/

[2018-07-26 13:38] Sammonac opened #4892 "MetaMask"
My MetaMask is not connecting. Every time I try to open it there is only white.
When I try to go to myetherwallet and click connect to metamask it does not do anything.

[2018-07-26 13:56] estebanmino commented on #4891
Hi @sulliwane, please submit the updated logo here https://github.com/MetaMask/eth-contract-metadata in order to change it

[2018-07-26 13:59] Maayu2415 commented on #4891
Thank you.

ส่งจากสมาร์ทโฟน Samsung Galaxy ของฉัน
-------- ข้อความดั้งเดิม --------จาก: Esteban Miño <notifications@github.com> วัน​ที่: 26/7/18  20:56  (GMT+07:00) ถึง: MetaMask/metamask-extension <metamask-extension@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> เรื่อง: Re: [MetaMask/metamask-extension] RLC ERC20 token logo out of date (#4891)
Hi @sulliwane, please submit the

[2018-07-26 14:04] sulliwane commented on #4891
@estebanmino thanks, DONE => https://github.com/MetaMask/eth-contract-metadata/pull/116

[2018-07-26 14:04] #4891 closed

[2018-07-26 14:21] Maayu2415 commented on #4891
Close to be block.

ส่งจากสมาร์ทโฟน Samsung Galaxy ของฉัน
-------- ข้อความดั้งเดิม --------จาก: Victor <notifications@github.com> วัน​ที่: 26/7/18  21:04  (GMT+07:00) ถึง: MetaMask/metamask-extension <metamask-extension@noreply.github.com> Cc: mjaniam2415@gmail.com, Comment <comment@noreply.github.com> เรื่อง: Re: [MetaMask/metamask-extension] RLC ERC20 token logo out of date (#4891)
Closed #4891.

[2018-07-26 14:52] bdresser commented on #4892
@Sammonac what browser, browser version, and operating system are you using?

[2018-07-26 14:53] bdresser commented on #4890
@maiiz what browser, browser version, and operating system are you using?

[2018-07-26 14:53] bdresser commented on #4889
@NSR9 what browser, browser version, and operating system are you using?

[2018-07-26 14:54] bdresser commented on #4887
@lekk16 I'm sorry to hear that! Please email support@metamask.io and they'll be able to answer your questions.

[2018-07-26 14:54] #4887 closed

[2018-07-26 16:29] NSR9 commented on #4889
Hey, thank you for the reply. I got the problem solved.

On Thu, 26 Jul 2018, 20:25 bobby dresser, <notifications@github.com> wrote:

[2018-07-26 16:50] Maayu2415 commented on #4889
ใช้ ui (old) use seed 12 word

[2018-07-26 16:54] Maayu2415 commented on #4889
I am sorry

[2018-07-26 17:12] cjeria commented on #3521
@estebanmino no UI changes necessary for this feature. @danjm am I missing something here?

[2018-07-26 18:13] ERC1975 opened #4894 "Blank Extension Screen on Chrome/Firefox/Brave/etc."
Bounty: some users have reported experiencing a blank screen when the open the MetaMask extension in Chrome. This bounty is to identify a root cause of the issue that matches the symptoms and errors described below & to write a patch that fixes it.

---

I just downloaded and installed the Chrome Extension.  However, when I click the fox in the upper right it opens a box/window to the right that i

[2018-07-26 18:21] bdresser commented on #4761
https://github.com/MetaMask/Design/issues/36

[2018-07-26 19:46] bdresser commented on #4863
The extension is only going to show transactions from your most recent install or account reset, it won't show historical transactions.

Have you imported an account that has funds on your private chain?

[2018-07-26 19:51] bdresser commented on #4894
@ERC1975 sorry to hear that. Could you help us debug by sending your background logs? There are instructions about halfway down [this support article](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue).

[2018-07-26 21:06] bdresser opened #4896 "Clicking "Try Beta" on first step of onboarding goes to full screen Old UI"
To repro (on develop):
- load new extension
- open extension
- click "Try Beta UI" on first screen

Takes me to full-screen old UI, should take me to full-screen new UI

![oldui12](https://user-images.githubusercontent.com/1016190/43288545-0b07bfda-90dd-11e8-90fd-cf45c58fe0e3.gif)

[2018-07-26 21:08] bdresser commented on #4811
when will this display for brand-new users? right on startup?

[2018-07-26 21:33] Maayu2415 commented on #4811
ทำไงต่อล่ะ

[2018-07-26 21:38] whymarrh commented on #4811
@bdresser right on startup

[2018-07-26 21:42] bdresser commented on #4811
gotcha @whymarrh. can we link them to new UI's full-screen onboarding, rather than the extension? this might be what you're already planning, just want to double check.

[2018-07-26 21:49] whymarrh commented on #4811
We can, that's a good idea—you're thinking that the switch will turn on the new UI and then open up a new tab?

[2018-07-26 21:51] bdresser commented on #4811
Yeah. Full screen in the new UI is a little better formatted, fewer page breaks etc (vs. extension view).

i think that's how it used to work with the small "Try the Beta UI" link at the bottom of Old UI onboarding. But just found https://github.com/MetaMask/metamask-extension/issues/4896, not super urgent, and even less urgent as we push more people off the old.

[2018-07-26 23:08] danfinlay commented on #4826
Fixed by #4885

[2018-07-26 23:08] #4826 closed

[2018-07-26 23:45] Purple90 commented on #3245
Holy shit. Adding the / to the end of http://127.0.0.1:7545 works like a charm...

So to be clear, use this string 'http://127.0.0.1:7545/'

[2018-07-27 05:10] greenkeeper[bot] opened #4899 "An in-range update of jsdom is breaking the build 🚨"
## Version **11.12.0** of **jsdom** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fjsdom-11.12.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/jsdom/jsdo

[2018-07-27 08:17] Alaradia opened #4900 "Blank Screen on Windows 7 Chrome"
im using windows 7
chrome Version 68.0.3440.75 (Official Build) (64-bit)
metamask 4.8.0
it seems like the issue is its trying to connect to a incorrect network but the pop up is all white now and i cant click on anything to change it back is there a config file i can change to fix it????

Setting up Sentry Remote Error Reporting: PROD
background.js:1 Injecting MetaMask Mesh testing client
raven.js

[2018-07-27 16:30] writeprovidence commented on #4577
yes am still on it. work in progress

On Fri, Jul 27, 2018 at 4:15 PM, Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-07-27 16:38] ligi opened #4902 "Popup instantly closes on FireFox Quantum"
video of the problem: https://www.youtube.com/watch?v=8ZpDvevmLJk

using MetaMask on chromium for a while now. Had to install it on firefox now to test something. Unfortunately MetaMask on Firefox does not work for me after installation. The popup always instantly closes for me.

Happens with FireFox quantum 61.0.1 (64-bit) on Ubuntu 18.04 LTS

please let me know if I can be of assistance getting

[2018-07-27 16:38] Maayu2415 commented on #4577
Gidcoin  address etherium 2 Althonic

ในวันที่ ศ. 27 ก.ค. 2018 23:15 Gitcoin.co Bot <notifications@github.com>
เขียนว่า:

[2018-07-27 16:44] Maayu2415 commented on #4902
  Hi! You are change my password?You don't my mine.

ส่งจากสมาร์ทโฟน Samsung Galaxy ของฉัน
-------- ข้อความดั้งเดิม --------จาก: ligi <notifications@github.com> วัน​ที่: 27/7/18  23:38  (GMT+07:00) ถึง: MetaMask/metamask-extension <metamask-extension@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> เรื่อง: [MetaMask/metamask-extension] Popup instantly closes on FireFox Quantum (#

[2018-07-27 17:03] KennethAshley commented on #4829
This is still open on gitcoin. Was this issue ever completed?

[2018-07-27 17:03] Maayu2415 commented on #4902
Thank you. Please check code
I used password regist  in Bitbounce
Un
success

ในวันที่ ศ. 27 ก.ค. 2018 23:38 ligi <notifications@github.com> เขียนว่า:

[2018-07-27 17:05] tmashuang commented on #4902
@ligi https://consensys.zendesk.com/hc/en-us/articles/360007617432

[2018-07-27 17:10] ligi commented on #4902
@tmashuang thanks - that looks like it could fix the problem - will test after the next computer restart - which seems to be needed here but is really inconvenient right now ..-)

[2018-07-27 17:13] tmashuang commented on #4902
@ligi lets us know if this doesn't work. There is a known issue with ibus and Ubuntu 18.04 found here. https://github.com/ibus/ibus/issues/2002#issuecomment-386537208. We are monitor it to see a potential fix.

[2018-07-27 17:33] brunobar79 commented on #4829
@KennethAshley  it was closed via https://github.com/MetaMask/metamask-extension/pull/4865

[2018-07-27 17:49] danjm opened #4903 "Add token selection to the send screen"
This task is to add the "Token" row pictured in the screenshots in #4772

![image](https://user-images.githubusercontent.com/7499938/43335811-7a23bb26-91aa-11e8-838f-9c50d3a9eff4.png)

Requirements include:

- **(1) token row on the send screen:**
    - should display the users token balance for the selected token as shown above
    - should show the 'Select A Token' default shown in #4772 if no t

[2018-07-27 18:11] danjm commented on #3415
@danfinlay can this be closed in favour of #4772 / #4903? Or is this a suggestion that we should allow users to select on the send screen the fiat currency that their ETH / tokens are converted to?

[2018-07-27 19:04] brunobar79 opened #4904 "Migrate to Trezor Connect v5"
TREZOR  remade the whole library from scratch

https://github.com/trezor/connect/tree/v5

[2018-07-27 19:07] tmashuang commented on #4904
Page is 404.

[2018-07-27 19:10] Maayu2415 commented on #4904
Top intelligent.

ในวันที่ ส. 28 ก.ค. 2018 02:04 Bruno Barbieri <notifications@github.com>
เขียนว่า:

[2018-07-27 19:54] cjeria commented on #4772
@danjm the first option in the dropdown should be ETH. If the user starts the send flow from a token view, that token should be populated in the token field.

[2018-07-27 20:37] danfinlay commented on #3415
Nope, it's the asset being sent. Closing in favor of #4772/#4903.

[2018-07-27 20:37] #3415 closed

[2018-07-27 22:09] myn commented on #4894
Getting same issue on my Mac too.

[2018-07-27 22:09] myn commented on #4894
![screen shot 2018-07-27 at 6 09 27 pm](https://user-images.githubusercontent.com/222168/43348489-3bf548e2-91c8-11e8-9080-0794d29811da.png)

[2018-07-27 22:11] myn commented on #4894
![screen shot 2018-07-27 at 6 11 14 pm](https://user-images.githubusercontent.com/222168/43348532-79f3dc3a-91c8-11e8-80fc-42979f3b574b.png)
Background Page

[2018-07-28 00:57] himerope69 opened #4907 "Metamask is attaching scripts to my outgoing Outlook web mail messages"
My colleague notified me that my e-mail messages were being flagged by his employer's email virus scanner as having malicious scripts.  I sent some test e-mails and confirmed that metamask is attaching a script to all of my outgoing e-mails, sent via the Outlook webmail client.  The script is attached even when I'm not logged into metamask.  Uninstalling metamask resolves this issue.  I double che

[2018-07-28 01:02] #4886 closed

[2018-07-28 03:53] variousred commented on #1410
I think _any_ time you need to override a nonce is an ASAP issue ...

[2018-07-28 04:04] dmdque commented on #1410
If I accidentally sent a bad transaction, I'd be able to cancel it before it gets mined, potentially saving a lot of trouble (and money).

[2018-07-28 04:17] danfinlay commented on #1410
Ok, that’s fair. We are also going to just add a “cancel” button that sends a higher gas tx with the same nonce, but we could add a setting to show this field (still hiding it from new users).

[2018-07-28 07:35] adrianmcli opened #4909 "New UI does not show transaction data size"
In the old UI, when you were sending a transaction with something in the data field, you get an indicator showing the size of such data in the MetaMask prompt:

![screen shot 2018-07-28 at 3 33 10 am](https://user-images.githubusercontent.com/943555/43354279-274ba428-9217-11e8-8edb-dfe27b9dc4e9.png)

This is sometimes useful, because it gives the user an indication of why the default gas was set h

[2018-07-28 10:44] Maayu2415 commented on #4826
HOW TO LOGIN? Then how to install ip.?

ในวันที่ ส. 28 ก.ค. 2018 17:27 maayu2415 <mjaniam2415@gmail.com> เขียนว่า:

[2018-07-28 10:48] Maayu2415 commented on #4826
Domain nane = name email ?

ในวันที่ ส. 28 ก.ค. 2018 17:27 maayu2415 <mjaniam2415@gmail.com> เขียนว่า:

[2018-07-29 11:48] 0988655331 opened #4910 "screen box is white I can see outline, but cant do anything with it how do i fix"

[2018-07-29 16:20] ligi commented on #4902
Yes this worked - thanks. Should this one be kept open?

[2018-07-29 17:05] drejke opened #4911 "Can't send my ethereum from metamask to ledger nano S"
I tried sending 0.5 eth to my nano ledger s and it worked perfect. After this i tried sending the left over eth but I made an mistake and tried sending 0.5 eth to much, so the transaction failed. Then i tried to send 15.2 eth to my nano ledger s but this doesn't work. I tried higher gass prices but it never shows the transaction on etherscan.io.
If someone could help me, that would be very kind

!

[2018-07-29 18:34] marPunk opened #4912 "Cannot install the extension.."

[2018-07-29 18:53] nvonpentz commented on #4525
Could this be a problem with Infura?

When connected to any of the metamask provided networks, running `web3.eth.getCode(emptyAddress, (err, result) => console.log(result))` in my browser console returns `0x`.

When I switch to metamask to `localhost:8545` and use my local blockchain instance with ganache-cli, it returns `0x0`.

When I connect to Infura on my own by setting the provider to `https:

[2018-07-29 18:56] Maayu2415 commented on #4577
My transection yet. Leave alone.somewattet yet.

ในวันที่ ศ. 27 ก.ค. 2018 23:38 Maayu Janiam <mjaniam2415@gmail.com>
เขียนว่า:

[2018-07-29 20:17] Nathapon8899 commented on #4911
I tried to send 0.5 eth to my nano ledger and it worked perfectly after this I tried to send left over eth but i made a mistake and tried to send 0.5 eth to a lot so the transaction failed then i tried sending 15.2 eth to It's my nano ledger, but it does not work. I try to use higher gas prices. But it never listed about. etherscan.io
If someone helped me, it would be great.

[2018-07-29 22:10] 0988655331 commented on #4910
I can see the outline of the box but not by ether or other alt coins. How do i fix this so i can move them? Got thousands of dollars in here and not working and i dont deem to be the only one. thx much

[2018-07-30 06:39] Levino commented on #4525
So the issue is upstream at infura, which MetaMask is using. Metamask should check the result it gets from infura or any rpc server for the correct format anyhow. Does anyone want to report this to infura?

[2018-07-30 11:33] Strernd commented on #4894
Got this same issue on Chrome, Brave and Firefox.
https://github.com/MetaMask/metamask-extension/issues/4782

[2018-07-30 11:36] Strernd commented on #4894
Reinstalling Metamask fixed it for me on Chrome

[2018-07-30 11:40] gmjacob opened #4913 "Brave Extension: Unable to conduct 0 Eth transaction on a private POA"
We permit 0 Eth transaction on the POA of our DApp. Hence no Eth or any gas cost is required. On extensions on all browsers except for Brave this works fine. On brave, it does not allow 0 gas/eth transactions.

Link to DApp: https://beta.springrole.com/
PFA a screenshot of the issue:
![zeroethissue](https://user-images.githubusercontent.com/25900986/43395271-18e7eeb8-941b-11e8-8033-08708e540c1d.pn

[2018-07-30 13:54] dpazdan opened #4915 "In Brave Browser - MetaMask Extension not recognized in Apps when Browsing using in Private Mode both with or without Tor"
User submitted ticket reporting this.  Ticket #: 4276.  Confirmed MetaMask does interact with websites in "private tabs with Tor".

Tested on a couple dex and confirmed issue exists on v4.8.

[2018-07-30 14:30] ghthor opened #4916 "Could I use metamask to secure and use a GPG key?"
# Problem

I want to be able to store GPG encrypted files into IPFS and send someone an IPFS hash as the link. I want them to be able open the link in there browser and have the browser decrypt and display the file.

# Why Metamask?

I would like to reuse the engineering that has been going into metamask to store ethereum private keys by extending metamask to store and provide access to GPG privat

[2018-07-30 14:45] 0988655331 opened #4917 "file is super slow...takes 5 min to come up 2 min to put key in then 2 min to go to alt coins?"

[2018-07-30 16:04] rdymac commented on #4915
Ticket with more info, which could use some follow up once resolved: # 3519

[2018-07-30 17:04] writeprovidence commented on #4577
@danfinlay medium ID: https://medium.com@writeprovidence

[2018-07-30 17:56] lastmjs commented on #4074
I'll be starting to look into this today

On Mon, Jul 30, 2018, 11:28 AM Vivek Singh <notifications@github.com> wrote:

[2018-07-31 00:47] writeprovidence commented on #4577
@danfinla       pls notify me when am added you to the MetaMask publication. thanks waiting for response

[2018-07-31 06:28] xiaoxiaoleo commented on #4890
Same issue,
Chrome :  67.0.3396.99 32bit
OS Name:                   Microsoft Windows 10 Pro
OS Version:                10.0.17134 N/A Build 17134

[2018-07-31 08:57] KoenB9 opened #4920 "Lost my Seed Words for MetaMask"
Dear People,

I am very shocked. After a crash on my computer, I lost my Seed Words file to access my MetaMask account. However, I found a Keystore file (UTC or json file), but when I import it into MetaMask I can not find my Ethereum. I'll get another ETH adress and there is no ETH in my wallet.. How is this possible? And how do I get back into my old account without Seed Words, but with UTC keys

[2018-07-31 08:59] jaybejaybe commented on #4817
Going to 2 weeks metamask cannot connect to ethereum main network on chrome and all my funds lockup. Can dev please give update on this? When can we spect you to effectively fix this issue?

[2018-07-31 10:29] meherett commented on #4502
fix by: https://consensys.zendesk.com/hc/en-us/articles/360007617432

[2018-07-31 11:46] Nickrtje opened #4921 "White screen while loading plugin"
Dear support team,

When opening the MetaMask plugin in chrome it will not load. It only shows a white screen (see screenshot). Now that the MetaMask plugin isn't available in the Chrome Store anymore, how can I solve this error?

Kind Regards,
Nick

![schermafbeelding 2018-07-31 om 13 46 17](https://user-images.githubusercontent.com/41954649/43457760-23e2c5c4-94c8-11e8-8f4e-48e8c0b9ec01.png)

[2018-07-31 12:44] sukuroy commented on #3415
Do we have the token selection functionality now? Currently, only ETH shows up during the transfer option. This would mean that if I have other tokens and 0 ETH then I get a prompt saying 'insufficient funds'

[2018-07-31 13:20] N-McA opened #4922 "detecting_metamask.md does not describe how to detect metamask"
Hey!

I'm trying to understand the guidance provided by
https://github.com/MetaMask/faq/blob/master/detecting_metamask.md

This page does not tell the reader how to detect metamask. Instead, it tells them how to construct a web3 instance in two types of metamask installation; namely injected web3 (current) and provider-only (current beta).

How should one detect metamask? Previous methods have use

[2018-07-31 15:50] bdresser commented on #4922
@bitpshr

[2018-07-31 15:51] dpazdan opened #4924 "Better wording / description of MetaMask in Chrome Store and Google search"
MetaMask does not show up when searching crypto wallet or ethereum wallet in the Chrome store.  It only shows up when searching ethereum or metamask.

I recommend we revisit the wording of the extension in order to help make it more visible to the ethereum community and those new to it, in general.

[2018-07-31 15:53] bdresser commented on #3415
@sukuroy this functionality isn't in production yet. The error message you mention is fixed in https://github.com/MetaMask/metamask-extension/pull/4694, and #4772 tracks allowing the user to swap the token they're sending from the currency screen itself.

[2018-07-31 15:56] 0988655331 opened #4925 "metamaks freezes up before i can put pw in and sometimes after"

[2018-07-31 15:58] bdresser commented on #4921
@Nickrtje

- the MetaMask extension is available in the Chrome store. It was only missing for about 6 hours. If you have your seed phrase backed up, you might want to try uninstalling & re-installing the extension.
- to help us debug, could you inspect your background logs and see if there are any errors present? [Here's some detail](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How

[2018-07-31 15:58] #4921 closed

[2018-07-31 16:28] bdresser commented on #4925
@0988655331 what browser and operating system are you using? and if possible, could you open the [background logs](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue) and let us know if you see any errors?

[2018-07-31 16:34] bdresser commented on #4577
@writeprovidence thanks! could you drop a link to the draft so we can review?

[2018-07-31 16:36] bdresser commented on #4817
@jaybejaybe sorry for the delay. As our support team probably told you, the best way to deal with this right now is to *make sure you have your seed phrase backed up*, then un-install and re-install the extension and restore your wallet.

We've had trouble reproducing this issue and may post a bounty on it shortly.

[2018-07-31 16:37] bdresser commented on #4920
hey @KoenB9 - please reach out to support@metamask.io with your issue and they may be able to assist.

[2018-07-31 16:37] #4920 closed

[2018-07-31 16:48] 0988655331 commented on #4925
Using Chrome windows says win 7 , sir, I will do my best to get you the
logs. I am having back surgery this week and just cant sit in front of cpu
long enough to get you what you need right now. I'll get back to you soon
as I physically can do it.
Thx much
James mccammon
It's just like it got real slow for no reason. As soon as I get pain pump
put in I will get the logs or you are welcome to log i

[2018-07-31 16:48] writeprovidence commented on #4577
ok

[2018-07-31 16:52] 0988655331 commented on #4925
says win 7, using google chrome
this may help i dont know

This content moved to
https://chromium.googlesource.com/chromium/src/+/master/docs/user_data_dir.md
.

[2018-07-31 17:02] #4811 closed

[2018-07-31 17:02] #4896 closed

[2018-07-31 17:11] bdresser commented on #4817
from another user @Alaradia

chrome Version 68.0.3440.75 (Official Build) (64-bit)
metamask 4.8.0
it seems like the issue is its trying to connect to a incorrect network but the pop up is all white now and i cant click on anything to change it back is there a config file i can change to fix it????
[code]

[2018-07-31 17:11] bdresser commented on #4900
closing in favor of #4817

[2018-07-31 17:11] #4900 closed

[2018-07-31 17:39] 0988655331 commented on #4925
Thank you so much. You don't know the pain you saved me.....

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: bobby dresser <notifications@github.com>
Date: 7/31/18  1:23 PM  (GMT-05:00)
To: MetaMask/metamask-extension <metamask-extension@noreply.github.com>
Cc: 0988655331 <adizzy12know2@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [MetaMa

[2018-07-31 18:09] bdresser commented on #4912
@marPunk could you provide more detail? how are you trying to access the extension, and what trouble are you seeing?

[2018-07-31 18:09] bdresser commented on #4910
closing this in favor of #4894

[2018-07-31 18:09] #4910 closed

[2018-07-31 18:29] bdresser commented on #4911
Hey @drejke - transactions have to be confirmed in the same order as the nonce. So if you have transaction `4` pending, transactions `5` or `6` will not be able to confirm until `4` is mined successfully.

If you have multiple transactions still pending, you should increase the gas on the transaction with the lowest nonce. Only once that transaction is confirmed will the other transactions with hi

[2018-07-31 18:29] #4911 closed

[2018-07-31 18:32] bdresser commented on #4902
@ligi we have a couple open issues with various symptoms of the same, so I'm going to close this one for now.

[2018-07-31 18:32] #4902 closed

[2018-07-31 18:38] bdresser commented on #4909
good call @adrianmcli, thanks

heads up @cjeria @alextsg. this could probably get tucked away on the `Data` tab?

<img width="200" alt="screen shot 2018-07-31 at 11 37 20 am" src="https://user-images.githubusercontent.com/1016190/43479801-276af50c-94b6-11e8-8ca0-cddf2ebc2933.png">

[2018-07-31 18:54] adrianmcli commented on #4909
Note that sometimes I'm not calling a function. I might just be leaving a message while sending a friend some ETH; Kinda like "This is for last night's dinner". I think the UI is different for simple ETH transfers, but I think it's important to show that there's data included for that case as well.

[2018-07-31 19:08] bdresser commented on #4903
based on @cjeria's last comment (https://github.com/MetaMask/metamask-extension/issues/4772#issuecomment-408522740) I thought we were going to use `ETH` as the default option (unless the user begins the flow from a token view as you mention)

my comment was in reference to the label of the new row, not the title of the whole screen. If `ETH` is an option, we probably need a slightly more general l

[2018-07-31 20:06] bdresser opened #4927 "Integrate Coinmama for fiat onboarding"
Coinmama is a retail exchange based in Israel. Providing more options to get users up & running with their first ETH can generally help with onboarding and usability.

The Coinmama team will take the lead on integrating this into the extension.

The entry point should live on the "Deposit" page / popup, which shows after a new user completes onboarding.

Probably makes sense to build this in to th

[2018-07-31 21:54] lastmjs commented on #4074
I'm sorry, assessing my situation yesterday and today, I don't realistically have the bandwidth right now...good luck

[2018-07-31 22:11] 0988655331 commented on #4925
Sir,When you know what I should try, please let me know. I am not planning on selling these coins for a while anyway. Just knowing they are there and safe is the most important thing and since I have the number and word phrase, I should be fine til you all figure out why it is timing out. The kupi metamask works just fine on the same cpu and the brown fox metamask works fine on my laptop although

[2018-07-31 23:12] bitpshr commented on #4922
Hi @N-McA. The documentation you saw was prematurely merged to master and will only be relevant when we release [EIP-1102](https://eips.ethereum.org/EIPS/eip-1102) support. We fixed the issue so the documentation should once again be accurate. Thanks for letting us know about this issue!

https://github.com/MetaMask/faq/blob/master/detecting_metamask.md

[2018-07-31 23:12] #4922 closed

[2018-07-31 23:15] 0988655331 commented on #4925
Also Sir, I have meta mask on my laptop and it is on the same WiFi my main cpu is on, but I tried using the pass phrase to have the one on my laptop work since my main one is not, but there must me a different cpu address stopping me from doing so. Thought I would tell you I tried.James

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: bobby dresser <notifi

[2018-07-31 23:46] N-McA commented on #4922
Hey @bitpshr is there no future proof way to check? For now it seems like `(typeof Web3 !== "undefined")` (noting capitalisation) is strictly better than what is provided in the docs, because it will not get borked by EIP-1102 compatibility? But this can only be done if you haven't loaded in `Web3` yourself (In my app, we only load our `Web3` code if the user has MetaMask, because `Web3` is super-

[2018-08-01 00:57] 0988655331 commented on #4910
Don't mean to drive you crazy, but this may help. Of course on main
computer brown fox metamask comes up and I see fox makes a half turn with
wheel then times out. On my laptop, I thought I had been putting my 12 word
phrase in, but it was from kupi
net metamask
 I put correct 12 word phrase in and password now it just comes up as white
box only, but does not time out. Just white box. Not sure if

[2018-08-01 01:18] roschler opened #4928 "Developer question: 30 second delay before Tx hash received when using Rinkeby test network?"
When I call the  _<prepared method>.send();_ from Web3.js based browser Javascript code, there is a 30 second delay right after I submit payment via the Metamask extension before the call returns with the Tx hash.  Note, I am _not_ referring to the time it takes for the block to mine.  I'm saying it takes 30 seconds just to get the Tx hash back from the Rinkeby network, letting me know my transact

[2018-08-01 08:02] rookieofC commented on #4863
yes，I imported the account I set up on the private chain. but the eth in my private chain was transferred after I logged in to the metamask. I didn't have such a thing when I didn't log in to the metamask.
I am sorry that I have not been able to respond to you in time, and will not happen again in the future. Thank you for your kind reply.

[2018-08-01 12:07] joenhon opened #4929 "请问有没有正确的接口说明"

[2018-08-01 12:37] joenhon opened #4930 "我只想简单的调用，签名一个事务，为什么一直就找不到调用的接口方法"
<html>
	<head>
		<meta charset="utf-8">
		<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
		<script type="text/javascript" src="D:/AIRDROP_JS/node_modules/web3/dist/ethereumjs-accounts.js"></script>

		<script type="text/javascript">
			var Web3 = require("web3");
			// 连接到以太坊节点
			var localWeb3  = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infu

[2018-08-01 13:56] 0988655331 commented on #4925
Would you suggest I remove the program off my cpu then Re install it? I can put the 12 word phrase in, just don't want to lose my coins. No hurry,  the program will try to come up in the beginning then get stuck. I have no idea. Whatever is safest for my coins as I have quite a bit of money in them I will do.Thank youHave a great dayJames mccammon

Sent from my Verizon, Samsung Galaxy smartphone

[2018-08-01 15:54] bdresser opened #4931 "Incorrect seed phrase restarts onboarding"
In the new onboarding flow, while restoring from seed phrase: if I enter an existing seed & new password, but the seed is not recognized (say, a word is off) then click "Restore,"  the entire flow restarts. We should instead show an error message on the restore page.

Could probably use the same style as the Password error (shown below), maybe just below the seed field or above the button.

<img w

[2018-08-01 16:00] estebanmino commented on #4907
Hi @himerope69, I tried to reproduce this issue with the same specifications as you described and I couldn't get the same behavior. I did it with a personal account in the web app and also from a desktop app. So just to confirm, your account is provided by your company through outlook right?

[2018-08-01 16:02] bdresser commented on #4883
This exists in the old UI (cc @whymarrh @cjeria)

[2018-08-01 17:32] danjm opened #4933 "Gas price estimates of 0 are appearing on ropsten"
This affects the old and new ui.

Its coming from the `metamask-controller.js` `getGasPrice` method. The problem is basically:
- gas prices from recent blocks are in WEI and the `getGasPrice` divides them by 1000000000 to convert the prices to GWEI
- the metamask backend uses BN.js everywhere
- ropsten is successfully processing transactions with really low gas prices. I am seeing 50000 WEI as a c

[2018-08-01 19:47] bdresser commented on #4930
hey @joenhon I think this question would be better suited to Stack Exchange, we try to keep our issues focused on bug reports or feature requests. thanks!

[2018-08-01 19:47] #4930 closed

[2018-08-01 19:54] bdresser commented on #4925
if you have your seed phrase, your tokens are safe! Uninstalling & re-installing the extension may help resolve this problem.

We've had other issues reported like this, so I'm going to close this particular issue and ask you to reach out to support@metamask.io with further questions. Thanks for your time!

[2018-08-01 19:54] #4925 closed

[2018-08-01 19:55] bdresser commented on #4863
@rookieofC can I close this issue, or are you still experiencing the issue you described?

[2018-08-01 20:08] pcatana opened #4935 "Plugin flickers when opened on Brave Browser"
When trying to open MetaMask on Brave browser it starts to flicker.
Check video:
![ezgif com-optimize](https://user-images.githubusercontent.com/19393057/43545893-6a772736-95d7-11e8-8cd6-23a1d8ed6335.gif)

It's been an issue for some time now.
Brave Browser:  0.23.73 Version
Windows Latest Update

[2018-08-01 20:18] 0988655331 commented on #4925
That's wild you said that. I just reset my cpu earlier. I got rid of the kupi fake one and now metamask comes up quite fast. I have not put in the phrase, but have them on a thumb drive. Yea, think this is best way to go. I'll do the rest tomm. Only can sit for about 30 min now, sucks...thx so much and take care

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
F

[2018-08-01 20:47] bdresser commented on #4817
@jaybejaybe I'm sorry to disappoint - we try to design the extension so that it's very obvious how important the seed phrase is.

Another thing other folks have had success with is resetting the extension from the Chrome Task Manager. This will log you out, but should not wipe your vault. Click the `...` on the far right side of the Chrome extensions bar, then go down to `More Tools`, then `Task M

[2018-08-01 20:50] bdresser commented on #2754
Hey all, we've had intermittent reports of this issue for several weeks now and have just posted a bug bounty on another issue that describes the same problem (https://github.com/MetaMask/metamask-extension/issues/4074)

Closing this for now and we'll track on #4074. If you're interested in helping out, feel free to pick up the bounty on Gitcoin!

[2018-08-01 20:51] #2754 closed

[2018-08-01 22:32] greenkeeper[bot] opened #4936 "An in-range update of ganache-core is breaking the build 🚨"
## Version **2.1.6** of **ganache-core** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fganache-core-2.1.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/

[2018-08-01 22:49] himerope69 commented on #4907
Yes, this is through the university hosted Outlook mail web app, not
through an Outlook.com account.

On Thu, Aug 2, 2018, 12:01 AM Esteban Miño <notifications@github.com> wrote:

[2018-08-02 02:29] joenhon commented on #4821
Excuse me, how do you call MetaMask, is it convenient to call the code to give me a copy?

[2018-08-02 02:57] wooriapt79 opened #4937 "Token amounts are not formatted with commas"
Q. After creating a token, you need to mark the token in the meta mask wallet.
The comma (,) is not displayed (ex:100,000,000)
What is the solution to this problem?

Is there a problem with the token generation program?
Is there a separate feature to display currency units in my wallet ..?

I'm curious.
please answer about my question.

[2018-08-02 07:26] olaf89 opened #4938 "Filtering by multiple address does not work"
It works when using directly ganache-cli but does not work with metamask

From the spec
https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getlogs

address is of type DATA|Array, 20 Bytes - (optional) Contract address or a list of addresses from which logs should originate.

Metamask assumes address can be only string and tries to call toLowerCase on it which gives the error "this.params.address.t

[2018-08-02 08:10] rookieofC commented on #4863
Yes, I still have this problem, but it seems that it is very difficult for anyone to help me solve it.

[2018-08-02 13:02] writeprovidence commented on #4577
hi @bdresser @danfinlay this is a link  to the draft.  pls review.  thanks
https://medium.com/@writeprovidence/how-to-create-a-web3-provider-from-another-extension-6b5ea59ed4c9

[2018-08-02 14:44] Markfaber commented on #4867
Please can you let us know what technology stack you use in your web extension?

[2018-08-02 14:54] whymarrh commented on #4867
@Markfaber what information specifically are you looking for?

[2018-08-02 14:54] Markfaber commented on #4867
what technology are you using - react, redux etc??

[2018-08-02 15:10] Markfaber commented on #4867
ok - thanks.

On Thu, Aug 2, 2018 at 6:06 PM Whymarrh Whitby <notifications@github.com>
wrote:

--
Mark Faber
VP Customer Success
Skype: fabermark

<https://www.simplex.com/>
www.simplex.com

<https://www.facebook.com/Simplex.cc>    <https://twitter.com/SimplexCC>
<https://www.linkedin.com/company/simplexcc>
<https://www.glassdoor.com/Overview/Working-at-Simplex-Israel-EI_IE1366394.11,25.htm>

[2018-08-02 15:50] cablexman opened #4939 "withdrawal submitted - did not receive in my metamask wallet"

[2018-08-02 15:51] cablexman commented on #4939
-I submitted a withdrawal of eth approx 1 eth in the arbitraging.co website and the transaction went quickly - on the site and etherscan shows success but i don't see it in my wallet. It's been 3 days now. Arbitraging.co says it's metamask -  the transaction with tx hash.

ARBITRAGING

#	Tx Type	Credit/Debit	Value	Created At

4	User Request for ETH Withdraw (0xfb89775278fe54e6c99d1fb59db8b25616129

[2018-08-02 17:03] CruzMolina commented on #3756
@danfinlay this is definitely related to #4022.

I believe it is MM-specific, because as @Guestquiver mentioned, when you import the mnemonic for the "clogged" wallet into another browser or even the same browser on another system, all of a sudden the "localized mempool" clears and every single tx that was pending goes through.

This is a huge UX problem. I notice you guys are working on it, so go

[2018-08-02 17:07] CruzMolina commented on #4022
Related to #3756. Can also occur when a very low gas price (1 Gwei) tx is attempted. Importing the wallet's mnemonic into another browser on the same system or the same browser on a different system clears up the clog and sends out all the valid stuck pending tx's.

[2018-08-02 17:39] AugustoLara commented on #3392
Sama here, got all my tokens stolen in Metamask... thankfully it was only $50

Never shared my info or password with anyone. I'm guessing metamask was hacked and they just haven't notified anyone.

[2018-08-02 17:42] ajnauleau commented on #4771
Still looking over this, would like to have the weekend to work through it. @gitcoinbot

[2018-08-02 20:01] bdresser commented on #4577
thanks @writeprovidence, we'll get back to you early next week

[2018-08-02 21:10] estebanmino commented on #4894
somehow I was able to reproduce the last error showed in the picture. From development I got this

![bug3](https://user-images.githubusercontent.com/12115171/43611306-a4c2b7b2-9676-11e8-911e-f706ebe28a57.png)

It corresponds to the method `setupPublicConfig` of `metamaskController`. The app did crash but I tried to reopen it and it worked fine.

[2018-08-03 00:29] bdresser commented on #686
designs being tracked on the PR #4897

[2018-08-03 01:03] greenkeeper[bot] opened #4940 "An in-range update of browserify is breaking the build 🚨"
## Version **16.2.2** of **browserify** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fbrowserify-16.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/br

[2018-08-03 02:48] peterkwidjaja opened #4941 "Multiple click on confirm button trigger multiple transaction"
![image](https://user-images.githubusercontent.com/7549500/43621401-c8005f7a-9709-11e8-9404-04954a7cee15.png)

In the screen above, I can click the "confirm" button multiple times before it shows the loading spinner. Only 1 transaction is recorded in MetaMask, but there are actually multiple transactions recorded on etherscan.

[2018-08-03 03:12] thelostone-mc opened #4942 "firefox : forever in generating transaction state"
**Browser:** Firefox Quantum 61.0.1 (64-bit)
**OS:** MAC

Metamask-extension seems to be stuck in a forever waiting state ( stating generating transaction ) after I had tried signing a transaction over at Gitcoin thus making it unusable.
It's been stuck in this state for a few days now 😓

<img width="361" alt="screen shot 2018-08-03 at 8 36 57 am" src="https://user-images.githubusercontent.com/535

[2018-08-03 07:52] lazaridiscom opened #4943 "[ALL] Look at the Weaknesses of other Projects"
Hi there all!

My role within this project has ended a few weeks ago. The main results can be found within:

https://github.com/MetaMask/metamask-extension/issues/4060

and most importantly:

https://github.com/lazaridiscom/mm-vault - (see the linked issues within the readme)

**Applying the Project-Redesign** is still the most important thing.

To those who have blocked the Project-Redesign:

I s

[2018-08-03 11:02] Powersource commented on #4050
[We](https://github.com/SuperuserLabs/thankful) would also love a Submit All button! Right now we're giving users RSI if they donate to a lot of addresses :P

[2018-08-03 13:13] Strernd commented on #4928
Yes Metamask uses Infura.
If I'm not mistaken the issue is following: The transaction hast to be mined, so it is completed, when it is included in a new block. Resulting from this, the transaction takes until the next block is mined. On Ganache this is near instant, because it mines only when transactions come in and on the testsnets and main nets, this may take a while, because only around 6k blo

[2018-08-03 14:57] Strernd opened #4944 "MetaMask shows, that it is connected to custom RPC, but is still connected to prior selected RPC"
MetaMask Version 4.8.0
Chrome 68 on macOS (High Sierra)

Tried restarting and reinstallation a few times.

Steps to reproduce:

![image](https://user-images.githubusercontent.com/2428581/43649559-c00cf40c-973d-11e8-951e-5174d4f013a2.png)
Connected to Rinkeby. Account balances are correct.

![image](https://user-images.githubusercontent.com/2428581/43649601-d8638322-973d-11e8-8455-d9dc7e3cea59.png)

[2018-08-03 17:37] bdresser commented on #4942
@thelostone-mc thanks for reporting. Do you see anything in your popup log or background log? You can find instructions on how to view your logs [here](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue). (cc @tmashuang)

[2018-08-03 17:40] bdresser commented on #4532
I've been unable to reproduce this, but we just heard the same from another user (https://github.com/MetaMask/metamask-extension/issues/4941). @alextsg or @danjm could you take a look?

[2018-08-03 17:41] bdresser commented on #4941
@peterkwidjaja closing as a duplicate of https://github.com/MetaMask/metamask-extension/issues/4532. We'll continue to investigate, thanks for reporting.

[2018-08-03 17:41] #4941 closed

[2018-08-03 17:56] bdresser commented on #4939
hey @cablexman, looks like .997 ETH was transferred in an internal tx 4 days ago from `0x001fbf99b635bbce9181c6e5c3e2eee0efafc560` (arbitraging.co) to `0x20890f6f8954a13ad93972c2ac15412573f9fea1`, which is presumably your address.

Etherscan says the total balance for that address is 12.3 ETH. What are you seeing in MetaMask?

(cc @tmashuang)

[2018-08-03 18:12] thelostone-mc commented on #4942
@bdresser Ah so i just disabled and enabled the plugin and it worked 🤔
Guess my transaction got stalled over the rinkeby network / so

Closing this now ! PS: thanks for making metamask soo awesome ^_^

[2018-08-03 18:12] #4942 closed

[2018-08-03 19:53] bdresser commented on #4944
@Strernd I've encountered the same. I think what you're specifically seeing is related to https://github.com/MetaMask/metamask-extension/issues/4253 where our custom RPC field doesn't handle uppercase HTTP very well. It shows a connection, but actually remains connected to the previous network.

Trying changing `HTTP` to `http`, that should resolve your issue. This will be fixed in the next releas

[2018-08-03 19:53] #4944 closed

[2018-08-03 19:59] bdresser commented on #4937
@wooriapt79 no problem, we just aren't formatting numbers with commas! feel free to open a pull request if this is something you'd like to see urgently.

[2018-08-03 20:06] bdresser opened #4945 "Feature flag the Hex Data field"
Hex data takes up valuable vertical space and likely isn't used by average folks. Let's put it behind a feature flag that lives in settings.

Designs for the toggle in settings may want to accommodate the possibility that we'll add more feature flags in the future, but an MVP option for this specific toggle is welcome. Relates to https://github.com/MetaMask/Design/issues/2

[2018-08-03 20:06] bdresser commented on #4943
Thanks @lazaridiscom. Will leave this open for a couple days to make sure the team has time to see it. Best of luck!

[2018-08-03 20:09] bdresser commented on #4933
@danjm is this in production or on develop?

[2018-08-03 20:09] bdresser commented on #4931
@whymarrh could you take a look? not urgent, but worth fixing since more folks will be going through new UI onboarding after this release

[2018-08-03 20:32] bdresser commented on #4929
@joenhon start here: https://github.com/MetaMask/faq/blob/master/DEVELOPERS.md

We expose the standard [web3 API](https://github.com/ethereum/wiki/wiki/JavaScript-API).

And there's some more basic documentation [here](https://github.com/MetaMask/metamask-extension/tree/develop/docs#documentation).

[2018-08-03 20:32] #4929 closed

[2018-08-03 20:35] bdresser commented on #4917
@0988655331 was this related to https://github.com/MetaMask/metamask-extension/issues/4925 or the other issues you opened?

We'll need some more detail (browser, OS, etc.) and steps to reproduce the error

[2018-08-03 20:43] bdresser commented on #4916
@ghthor this is a great usecase, and something we've been discussing for a while. See https://github.com/MetaMask/metamask-extension/issues/1190.

This project is related to a pending EIP, https://github.com/ethereum/EIPs/pull/1098, and we're looking forward to it being finalized.

I'll let @danfinlay chime in on whether GPG keys pose any particular technical challenges that would make this a larg

[2018-08-03 20:43] bdresser commented on #4915
Might relate to https://github.com/MetaMask/metamask-extension/issues/4771

[2018-08-03 20:45] bdresser commented on #4912
closing due to inactivity - if you have more details or are still having trouble, please let us know!

[2018-08-03 20:45] #4912 closed

[2018-08-03 20:55] bdresser commented on #4909
@adrianmcli definitely - basic transactions with ETH do have a slightly simpler confirm screen. (this screen is from the new confirm screen being released early next week 😄)

Trouble is, when you include hex data on a transaction, the extension looks up the first four bytes to see if they correspond to a known function call. If we find something, the new confirm screen will display the name of tha

[2018-08-03 21:06] alextsg commented on #4909
@bdresser Yeah, at least that's how I understand the problem. @danfinlay Any suggestions for a workaround?

[2018-08-03 21:42] bdresser commented on #4892
@Sammonac closing this for now, if you are still having trouble or can get us some more info, feel free to re-open!

[2018-08-03 21:42] #4892 closed

[2018-08-03 21:44] bdresser commented on #4890
@xiaoxiaoleo "Crash" as in the extension closes entirely and you get a Chrome notification? or are you seeing a blank screen?

@maiiz what makes you think this might be caused by a large number of transactions?

and if either of you are able to open the popup or background logs, any errors you see would be super helpful. Read how [here](https://consensys.zendesk.com/hc/en-us/articles/360004134112-

[2018-08-03 21:52] bdresser commented on #4870
@jennypollack was this resolved by #4871?

[2018-08-03 21:53] bdresser commented on #4849
@black13trader closing this for now, if you're still having trouble or can share more details about what's happening, please feel free to reopen

[2018-08-03 21:53] #4849 closed

[2018-08-03 21:54] bdresser commented on #4846
@Professor-Curtis closing this for now - if you're still having trouble or can share more details about what's happening, please feel free to re-open.

[2018-08-03 21:54] #4846 closed

[2018-08-03 21:56] bdresser commented on #4832
@karthikcyadav98 were you able to send your state logs? don't see any open tickets that reference this issue. (cc @alacrity26)

[2018-08-03 21:58] bdresser commented on #4810
relates to #4789

[2018-08-03 22:03] bdresser commented on #4894
@Strernd next time you experience this, could you check the popup logs and [background logs](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue)? Curious if you're getting the same error Esteban found, or something different. Sorry for the trouble & thanks for your help!

[2018-08-03 22:04] bdresser commented on #4778
this is fixed on develop by hiding the `Edit` button.

[2018-08-03 22:04] #4778 closed

[2018-08-03 22:09] bdresser commented on #4763
@santos117 it's possible your friend had been the victim of a phishing attack, or he otherwise compromised his seed phrase. It's probably best to reach out to support@metamask.io with this one and they'll be able to help you off this public forum. Sorry to hear about the trouble!

[2018-08-03 22:09] #4763 closed

[2018-08-03 22:15] bdresser commented on #3127
this bounty is off Gitcoin but still stands - if you're able to identify an issue, please let the team know

[2018-08-03 22:16] bdresser commented on #4756
@CrypticAutistic I'm going to close this issue for now and point you towards the standing seed phrase bug bounty https://github.com/MetaMask/metamask-extension/issues/3127.

We take reports like this very seriously, and we're willing to pay a bounty to anyone who finds a reproducible issue with how this portion of our application works.

I'll reference this issue there, so anyone investigating can

[2018-08-03 22:16] #4756 closed

[2018-08-03 22:17] bdresser commented on #4755
@passthestixxx closing due to inactivity. if you're still having trouble or can provide more detail, feel free to re-open.

[2018-08-03 22:17] #4755 closed

[2018-08-03 22:19] bdresser commented on #4754
hey @lkiversonlk - closing this issue due to inactivity. If you're still having trouble or can provide more detail, please feel free to re-open.

[2018-08-03 22:19] #4754 closed

[2018-08-03 22:26] bdresser commented on #4737
Do we even need to require that the user scroll all the way to the bottom before the button is active?

Other apps just link to the terms and say "do you agree?" which is admittedly a little whack but certainly easier.

I would be satisfied if we displayed the whole text but allowed clicking through automatically.

[2018-08-03 22:30] bdresser commented on #4705
Closing this - I think partially mitigated by the fix to #4253, and the rest should be taken care of in a better format for the error message

[2018-08-03 22:30] #4705 closed

[2018-08-03 22:32] Professor-Curtis commented on #4846
Here's the problem.  Metamask stopped working on my computer.  I removed
and then re-installed Metamask on to my computer.  I have no idea as to how
to import my old accounts into my new account.  I have been dealing with
this problem for about 20 days now.  The last communication I received from
Metamask support stated that I needed to use my private keys to import my
older accounts.  I'm an inve

[2018-08-03 22:37] bdresser commented on #4697
@ludosone, sorry to hear about your issue.

As laxaridis mentioned, you should reach out to support@metamask.io for personal help recovering your funds/accounts, if possible.

Issues concerning seed generation and account recovery are taken seriously. We have a standing bounty for anyone who discovers a reproducible issue: https://github.com/MetaMask/metamask-extension/issues/3127.

If you encount

[2018-08-03 22:37] #4697 closed

[2018-08-03 22:53] bdresser commented on #4645
various issues mentioned here have been broken into separate tickets, outlined above. closing this one~

[2018-08-03 22:53] #4645 closed

[2018-08-03 22:54] bdresser commented on #4638
@alextsg bumping this tiny guy to satisfy @cjeria's eagle eye 😄

[2018-08-03 23:16] bdresser commented on #4846
@Professor-Curtis this does sound like a support issue – we try to keep this forum to feature requests or bug reports that have to do with our code.

As I'm sure support has mentioned, you need access to your seed phrase to restore your account. Read more [here](https://consensys.zendesk.com/hc/en-us/articles/360004179591-Restore-from-seed-phrase-New-UI-).

If you didn't write down your seed phras

[2018-08-03 23:31] bdresser commented on #4846
That's great news :)

Try this article: https://consensys.zendesk.com/hc/en-us/articles/360004179591-Restore-from-seed-phrase-New-UI-

If the screens look a little different, that's totally okay, you might be on an older version.  Look for the link at the bottom of the extension that says "Restore from seed phrase" and follow the steps.!

[2018-08-03 23:48] #4532 closed

[2018-08-04 00:58] Professor-Curtis commented on #4846
This looks good.  I will try it out in the morning.  Bobby, your response
is more like what I would have expected out of Metamask.  For almost 20
days all I got was delays and half-answers.  I don't understand it!  Why
did Metamask Support make a simple solution so hard?!

Thank you,
Curtis

On Fri, Aug 3, 2018 at 4:31 PM, bobby dresser <notifications@github.com>
wrote:

[2018-08-04 03:12] xiaoxiaoleo commented on #4890
@bdresser As you said, a Chrome notification pop up and I need to reload MetaMask extension.

[2018-08-04 12:35] xifengxx commented on #4909
I also think the transaction data(Optional) function is neccesary

[2018-08-04 16:48] bdresser commented on #4773
@kelvintyb done. sorry for the delay and thanks for your work!

[2018-08-04 20:56] briansoule commented on #4380
It seems to work properly in the old UI

[2018-08-04 21:01] Arachnid commented on #4380
Could you just leave it as the name? Replacing it with the address in the input field isn't ideal.

[2018-08-05 06:04] wooriapt79 commented on #4937
thank.
Again question.
Is there a problem with the token generation program?

[2018-08-05 10:13] alex-ppg commented on #4821
Hey @joenhon, sorry for the late response I've been abroad. I recreated the problem in the following Gist: https://gist.github.com/alex-ppg/86ddf1bd997e016aef95f46b8497d7b7

I am developing the application using Angular but the problem seems to be related to the MetaMask plugin API rather than any of the technology stacks.

I have also tried delaying the signature request for a while but the issue

[2018-08-05 12:17] marPunk commented on #4912
I cannot installing in my browser.. Androif phone..

[2018-08-06 01:12] gussulliman commented on #4890
im having same issue, and when reloading, crashes again with about 1 minute.
chrome: 67.0.3396.99 (64-bit)
os name: MacOS high sierra
os version: 10.13.5 (17F77)

shows this upon crashing:
![image](https://user-images.githubusercontent.com/32939482/43692258-cce38106-9958-11e8-9750-dfb91bdf6eb2.png)

If opened before crashing seems to have no issue, although have not tried to send a tx in that shor

[2018-08-06 05:45] jaybejaybe commented on #4817
Do we have any update on fixing metamask crash?

[2018-08-06 09:31] tritone11 commented on #4894
Same problems here, on Chrome on Windows 10, I managed to produce this error with the background logs
![error](https://user-images.githubusercontent.com/12704485/43709067-2f6ec03e-996c-11e8-9719-57391ac9dd64.PNG)
I hope this helps somehow, these crashes are haunting me since 2 weeks

[2018-08-06 09:35] tritone11 commented on #4894
Similar as above
![error](https://user-images.githubusercontent.com/12704485/43709325-c923b5d6-996c-11e8-951f-90522a0e78ba.PNG)

[2018-08-06 10:31] tritone11 commented on #4894
I managed to recover my seed phrase from the crashing, whitescreening Metamask, then reinstall Metamask to get everything fixed.

I set up a private ethereum network with geth and rpc enabled, then stop the internet connection of my computer. Launching metamask, it wasn't able to find infura, so it started without problems and I set up a custom RPC pointing to my ethereum node. Metamask connected

[2018-08-06 11:29] 26000 commented on #1000
Still opens multiple windows for me, i don't understand if it was fixed or not. Using `sendAsync`, it also complained about that a function cannot be cloned, so i do this:
[code]
Opens 1-5 windows for 5 txns, each showing "confirm transaction 5/5". In the beta interface i have to click cancel 11 times to reject them all.

Window manager is bspwm with compton if this matters. Chromium 68.0.3440.75,

[2018-08-06 12:07] SvenMeyer opened #4949 "separate wallets for each network (main/test/...)"
For development and testing, it would be great to have different wallets (for each network). You would switch to mainnet, you would have your wallet with your (real) mainnet accounts, you switch to a test networks, you would use a dedicated wallet for that network.

Instead you have one wallet, which contains real live ETH accounts as well as (worthless) Test-ETH in another account. If you send re

[2018-08-06 12:42] lunokhod opened #4950 "Add option to autmatically log out"
Metamask is very risky and insecure for me, because you remain logged in until you manually log out. Even if I close my computer and wake it up several days later, I will still be logged in. Thus, if your laptop is stolen while you are authenticated, you are screwed.

I propose to add a setting that will allow you to automatically log you out after a certain amount of time, and/or whenever your co

[2018-08-06 15:44] bdresser commented on #4912
@marPunk we don't support Android mobile yet. Some folks have had success installing on Firefox for Android, but it's not technically something we develop for.

We'll be starting work on a mobile application shortly, stay tuned...

[2018-08-06 15:50] bdresser commented on #4890
thanks for the detail @xiaoxiaoleo @gussulliman

Anything you're able to see in the UI console or background console will be would be helpful to debug on our side. Instructions on how to see the logs are [here](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue).

[2018-08-06 15:55] bdresser commented on #4817
@jaybejaybe we are unable to reproduce this crash. If you can provide us with any useful detail, we'd appreciate it.

Are there errors in your UI console or background console when the extension crashes? You can read how to see these logs [here](https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue). Feel free to attach scree

[2018-08-06 16:02] #3384 closed

[2018-08-06 16:02] bdresser commented on #2921
@Grsmto we actually have had several conversations as a team about this particular issue. I personally agree with @kumavis' comment above.

It's worth encouraging users to think about their relationship with the services and platforms they use. As an open-source project, trust and transparency are obviously very important to us. If the fox makes users consider _why_ they actually trust our project

[2018-08-06 16:26] xiaoxiaoleo commented on #4890
Hi, i got something from UI console:
`ui.js:1 Warning: It looks like you're using a minified copy of the development build of React. When deploying React apps to production, make sure to use the production build which skips development warnings and is faster. See https://fb.me/react-minification for more details.
(anonymous) @ ui.js:1
ui.js:1 You are currently using minified code outside of NODE_E

[2018-08-06 16:28] bdresser commented on #4859
Some outstanding questions from last week's meeting:

* Should we make a MetaMask deployer dApp to create the SAFE contracts, or keep it inside the extension?
  * Deployer dApp is already its own project for testing purposes.
  * Faster to develop outside MetaMask.
  * Larger attack surface if we host it outside the extension.

* The contract account can’t be derived from the user’s hd-keyring, so

[2018-08-06 17:19] Legitimate opened #4952 "Election Dapp doesn't work in Firefox (code: -32603 "Internal JSON-RPC error.")"
Hello,
I am following an election dapp tutorial. The dapp works as expected in chrome, but in Firefox I get an error in console and it is stuck at loading web3.
This is the error.
`MetaMask - RPC Error: Internal JSON-RPC error.
Object { code: -32603, message: "Internal JSON-RPC error." }`
I want to get this fixed as it isn't unlikely for a user to be browsing the dapp using Firefox.
Firefox Metama

[2018-08-06 17:32] bdresser commented on #4850
wont fix

[2018-08-06 17:32] #4850 closed

[2018-08-06 17:34] bdresser commented on #4894
from standup:
* often happens when a process (like the background process) ends unexpectedly, sometimes a stream from the UI to background
* worth cross-referencing with Sentry to see if there's anything insightful

[2018-08-06 17:46] bdresser commented on #4894
could be related to https://sentry.io/metamask/metamask/issues/562285240/?query=is:unresolved (cc @jennypollack)

[2018-08-06 17:49] bdresser commented on #4859
@cjeria @danfinlay

[2018-08-06 18:25] danfinlay commented on #4781
This is more important in Brave than ever, because uninstalling/reinstalling the extension isn't an option in Brave, so "Create new vault" probably _needs_ to be an option.

Creating a new vault should not destroy old vault data, so that a person using your computer neither can control your locked MetaMask, nor can wipe your vault without your consent.

[2018-08-06 18:30] bdresser commented on #4894
@tritone11 thanks for the detailed rundown. Could I ask you to also send along your state logs to support@metamask.io? They'll help us identify the latest version of a particular migration that might be causing issues.

Instructions on how to get your state logs are [here](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-Old-Ui), assuming you're still able to

[2018-08-06 18:30] cjeria opened #4953 "Update Logo Wordmark"
We have an updated wordmark, let's update in the app https://github.com/MetaMask/brand-resources

![image](https://user-images.githubusercontent.com/597770/43734272-3029ea8a-9985-11e8-9909-c7fd5c5b3198.png)

[2018-08-06 18:36] bdresser commented on #4781
relates to #4828

[2018-08-06 18:46] danjm commented on #4933
@bdresser Develop (but probably happening on production as well, the code causing this has not change since last release). This won't happen all the time as the estimation of gas price depends on averages over a set number of recent blocks. The issue seemed to be fairly frequent last week.

[2018-08-06 23:14] danfinlay opened #4955 "NewUI: Insufficient balance not clear"
The new Confirmation screen does not show the sender's balance, and when the balance is insufficient for the tx fee, I didn't notice an obvious message of why.

We should either:
- Add balance to the UI
- Make sure "insufficient balance" is highly visible when it appears.

[2018-08-06 23:26] alextsg commented on #4955
@danfinlay Can you screenshot what you're seeing? Is the red box showing the Insufficient Balance error not appearing?

[2018-08-06 23:31] bdresser commented on #4949
This is how the extension works. By switching the network in the top-right corner, you switch between wallets on different networks.

If you create a new MetaMask account (in the top-right menu), you're creating an Ethereum account on every network. Those Ethereum accounts have the same address across networks, which is nice: if I then send from MetaMask Account 1 to MetaMask Account 2, it's autom

[2018-08-06 23:34] #4943 closed

[2018-08-06 23:36] bdresser commented on #4924
@danfinlay or @kumavis could you take care of this when you have a sec? at the very least, adding the word "wallet" in the description should increase our visibility

[2018-08-06 23:42] bdresser commented on #1000
@26000 to be clear, you're seeing different behavior than what's described in https://github.com/MetaMask/metamask-extension/issues/3425: every window says "confirm transaction 5/5" and they don't count down? are the windows displaying sequentially or simultaneously?

[2018-08-07 00:17] danjm opened #4956 "Generic modal component should provide optional top right closing 'X'"
`metamask-extension/ui/app/components/modals/modal.js` is used to create most of the modals in the new ui.

In provides a fade in/out modal container that will close on a click of anything outside its border. It does not provide an 'X' in the top right corner of the modal that will close the modal when clicked. However, this top right x is a feature of multiple modals. We should make it possible t

[2018-08-07 01:01] TimTinkers opened #4957 "Private key export window displays wrong account for correct private key in beta UI."
To the best of my knowledge this hasn't been reported elsewhere.

When attempting to export private key from the full-tab web interface for an account in MetaMask using the beta interface, MetaMask automatically switches to the first account listed in the extension in the window which displays the private key. It displays the icon for that first account and the correct address for that first accou