[2018-06-01 17:32] chrispay commented on #2931
The hide option on the Beta interface doesn't seem to work.  It pops up 'Hide Token' but nothing happens when I click on it

[2018-06-01 18:05] bdresser commented on #2931
@chrispay thanks for pointing out - i'm noticing this too, only on the newest release. can you confirm you're on `4.7.0`?

[2018-06-01 18:10] tmashuang opened #4443 "Unable to hide tokens"
`Uncaught TypeError: Cannot read property 'symbol' of undefined` on Rinkeby tokens.
`Uncaught TypeError: Cannot read property 'show' of null` on Mainnet tokens.

[2018-06-01 18:16] #4431 closed

[2018-06-01 18:16] #4441 closed

[2018-06-01 18:42] stephenowl commented on #3614
also 'my accounts' list is completely mixed up, in a hopeless random order

all in all, my metamask is a total f...ing mess - almost unusable

On 1 June 2018 at 16:46, stephen topham <stephen.topham@gmail.com> wrote:

[2018-06-01 18:45] aremkay opened #4444 "Suddenly disabled from Chrome, and will not enable after clicking "enable"."
#

[2018-06-01 18:48] bdresser commented on #3614
@stephenowl the accounts issue you mentioned is tracked as #4442

for issues with pending tx or lost tokens please reach out to support@metamask.io with a description of your issue and a copy of your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI-)

[2018-06-01 20:51] AntonCorbijn commented on #4431
can you please let me know when and where can we use the fixed version? because I just installed from chrome store and still seeing the issue.
thanks for your updates!

[2018-06-01 21:14] wjmelements commented on #4431
Until the patch is released, you can install the build from file https://github.com/MetaMask/metamask-extension/pull/4433#issuecomment-393945838

[2018-06-01 21:40] jennypollack commented on #4160
@kumavis do we have another issue for tracking the root cause of this?

[2018-06-01 21:58] #4324 closed

[2018-06-01 22:28] bdresser commented on #4216
hey @CryptoLibertus, rollout for the new UI is being tracked in #3384 and #3385

[2018-06-01 22:28] #4216 closed

[2018-06-01 22:31] whymarrh commented on #4442
I could be wrong here but there wasn't ever an explicit order to the accounts and we were (unfortunately) relying on object key iteration order. This bug, a reversal of the account order essentially, would make sense as migration 26 reduced the old identities into a new identities: https://github.com/MetaMask/metamask-extension/blob/003172231a46ea4587dfdf55ec3ba0803597419b/app/scripts/migrations/0

[2018-06-01 23:12] #4413 closed

[2018-06-01 23:28] danfinlay opened #4452 "Old + New UI: Weird right padding"
We have some strange padding on the right of the extension "action view":

![screen shot 2018-06-01 at 4 27 47 pm](https://user-images.githubusercontent.com/542863/40867420-caf2a45e-65b8-11e8-893c-cbaa48941e8b.png)

[2018-06-02 00:01] cjeria opened #4453 "Add Tooltips to Balance View in Extension"
Add tooltips to the icons (on hover) on the extension balance view to provide more context.

![image](https://user-images.githubusercontent.com/597770/40867945-355486ba-65bd-11e8-9631-7f606ada71c2.png)

[2018-06-02 01:08] greenkeeper[bot] opened #4454 "An in-range update of nock is breaking the build 🚨"
## Version **9.3.0** of [nock](https://github.com/node-nock/nock) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fnock-9.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>nock</code>
    </

[2018-06-02 08:21] pranay0211 commented on #2303
I just restarted the chrome and it is working perfectly. By the time please also keep eye on etherscan as well.

[2018-06-02 09:52] greenkeeper[bot] opened #4455 "An in-range update of gh-pages is breaking the build 🚨"
## Version **1.2.0** of [gh-pages](https://github.com/tschaub/gh-pages) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fgh-pages-1.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>gh-pages

[2018-06-02 12:29] chapati23 commented on #4443
confirmed. i also can't hide tokens. after clicking the button nothing happens

[2018-06-02 15:52] greenkeeper[bot] opened #4456 "An in-range update of sass-loader is breaking the build 🚨"
## Version **7.0.2** of [sass-loader](https://github.com/webpack-contrib/sass-loader) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fsass-loader-7.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2018-06-02 16:55] p-s-dev commented on #4315
For me, the account list window scrolls down.  If you put the mouse over and scroll down.  The Import button is shown below the account list.

[2018-06-02 17:29] djaygit opened #4457 "Metatask account not showing balance and white screen"
I'm running windows 10 and using chrome and latest meta task
when i open metatask, it asks for login then shows the login screen again with weird/unorganized UI
so I tried myetherwallet and confirm transaction is white as well

other account balances are showing except the one created by metatask

![image](https://user-images.githubusercontent.com/1255841/40879079-70d901ec-66b8-11e8-9d7c-f0c0a492a

[2018-06-02 17:31] mukeshmali commented on #4457
same issue with my wallet to ......... please help me too

[2018-06-02 23:58] zgallagher08 commented on #2919
Is this still impossible? What about using background.js to fetch the web3 instance?

[2018-06-03 01:59] es335ab opened #4458 "my metamask got out of use"
Because metamask became unusable,
I am planning to restore the account of the new metamask.
However, I have lost the seed information of my current account.

Is it possible to restore metamask account from this state?

### When I click the icon

<img src="https://i.gyazo.com/d8cd2becbbab014bff0b57912d8b88e3.png">

### Browser console

<img src="https://i.gyazo.com/10408841f74a86d957404b3ad68fbe0d.

[2018-06-03 03:56] MicahZoltu opened #4459 "UI doesn't show ETH!"
Windows 10, Firefox

As a user, I expect to see the amount of ETH I'm sending in the UI, but instead I only see USD.  I would be OK with a subscript of my chosen currency.  If I go into the currency selector, I can choose just about every currency imaginable _except_ ETH.

![image](https://user-images.githubusercontent.com/886059/40882994-105ce6ae-6725-11e8-85a1-3b86e37cca1d.png)

As a user, I fin

[2018-06-03 04:15] mukeshmali commented on #4457
@kumavis don't have seed phrase And still want to recover. its a huge money for me ....... please help me dear

[2018-06-03 04:27] iamankush commented on #4457
Hi @kumavis - i am also facing the same issue. No seed phrase.but still i would want to recover. It was always working fine before update on 1 june. I suppose there is some bug introduced on 1 june version which is why we are getting this issue.

I have trust team should be able to help us and we will be able to recover these accounts. This is a major issue with lot of users as i know many friends

[2018-06-03 04:41] akusdgpt commented on #4457
@kumavis same issue on my PC, i was using metamask normally till 1st of June, but i see a blank page while doing transaction from yesterday.
I couldn't find my seed phrase, how to recover that account... please help us :)

[2018-06-03 04:57] Kings1314 opened #4460 "Account sequences distorted"
I have 40+ accounts on my Google Chrome Metamask. When I logged in this morning, the sequence of my accounts are all distorted. For example, the original sequence goes as Account 1->2->3->4->5, etc, now it goes Accounts 25->17->4->1, etc.

[2018-06-03 11:28] HrishikeshR03 commented on #4457
@kumavis and Metamask team, I did the reinstall if metamask many times, but  every time I re install, multiple accounts are not shown, for that I have to click on create new account to see my previously created accounts. And this issue of multiple ETH accounts is an existing bug. But after reinstalling yesterday, the above process of clikcing on Create new ETH address seems not working. And I can

[2018-06-03 11:33] aganurag58 commented on #4457
@kumavis  Me too facing same problem. No seed phrase. No private key. Could not transfer ether. And this problem came after update of metamask.pls help in this matter.

[2018-06-03 12:09] neocodes commented on #4457
Facing the same Issue, not having seed phase or Pvt key. metamask is stuck in a white screen. Please, devs help. :(

[2018-06-03 12:21] pavankat opened #4462 "Can't reset account with custom RPC selected"
When I get an rpc error, I reset my account and the error goes away

However, recently when I tried to reset my account, I get this and i'm not able to reset the account.

NetworkController - cannot call "setProviderType" with type 'rpc'. use "setRpcTarget"

![screen shot 2018-06-03 at 5 20 04 am](https://user-images.githubusercontent.com/1513415/40886506-ddadf536-66ed-11e8-89de-6efdc8cee868.png)

[2018-06-03 17:38] danfinlay commented on #4459
We're aware of this one, please just use the old UI for now. The New UI is catching up.

[2018-06-03 17:54] danfinlay opened #4464 "Use node_env PROD for build"
Error says:

[code]

[2018-06-03 18:10] danfinlay opened #4465 "Account menu order can be random, is non-deterministic"
This line:
https://github.com/MetaMask/metamask-extension/blob/develop/ui/app/components/account-menu/index.js#L138

Orders the account menu based on a call of `Object.keys(accounts)`, which does not return the list in a reliable order.

We need to list the accounts based on their creation date.

This affects both old and new UI.

[2018-06-03 18:14] cyabouky opened #4466 "METAMASK white screen"

[2018-06-03 18:34] kumavis commented on #4457
have a potential fix in the works

@djaygit @mukeshmali @iamankush @akusdgpt @HrishikeshR03 @aganurag58 @neocodes
make sure you have your seed phrase stored somewhere safe! without access to your seed phrase you are stuck and at risk of losing your accounts! I recommend writing it on a piece of paper and keeping somewhere safe.

[2018-06-03 18:42] iamankush commented on #4457
Thanks @kumavis for taking it on priority!

The situation is many of us dont have our seed phrase and please just save us this time from a situation of losing funds. Please help and recover this time. This is a learning for me and will always be keeping it.

[2018-06-03 19:13] danfinlay commented on #4460
Sorry, we recently moved some of our nickname code and apparently this was a possible result. We will fix this soon. Closing as a duplicate of #4465.

[2018-06-03 19:13] #4460 closed

[2018-06-03 19:18] lazaridiscom opened #4469 "[TASK] Implement Ledger hw-transport-cem"
#4060
<hr/>

(draft)

Provide a "hw-transport-cem" js module (uses Cross-Extension-Messaging, CEM), which replaces "hw-transport-u2f", and thus enables communication to the ledger from within extensions / apps.

Most possibly this would mean that the LedgerEthApp must be updated, too.

## Resources

* https://github.com/LedgerHQ/ledgerjs/tree/master/packages
   * use hw-transport-* as examples
* f

[2018-06-03 19:41] lazaridiscom commented on #4204
@jamespic , I've updated #4060 with the more concrete stuff, and changed this issue here to "Ledger Interfacing, Possible Solutions". To your suggestions:

Can you elaborate on this? Would this mean that devs would have to add the script to their apps? So it would not work out-of-the-box?

Launching an IFRAME from within an extension, wouldn't this still keep the "chrome:extension" origin?

A serv

[2018-06-03 20:16] kumavis commented on #4457
Published a potential fix 4.7.2, rolling out now (**may take a couple hours**)

As its difficult to determine the exact cause of the issue everyone is encountering, please let us know if this new version did not solve your problem.

[2018-06-03 20:52] mukeshmali commented on #4457
@kumavis tried the new 4.7.2 update, still the same issue. Whats worst is that i have the seed key and when i try on other chrome accounts, it doesn't show the account with ether ether balance

[2018-06-03 21:34] jamespic commented on #4204
I'll try and elaborate on these options.

The inpage script wouldn't need any changes for dapp developers. MetaMask injects a small amount of code into all web pages (pretty much just Web3, and a simple provider that forwards most requests to the background script). We could add Ledger support code to this, since it runs in the context of the page. This can definitely work - it's the approach I to

[2018-06-03 22:44] danjm opened #4472 "Refactor the wallet view eth/token list"
The organization of the code for the wallet view ETH/token list would be easier to navigate, maintain and update edit if:
- the same component was used for rendering the ETH list item and the token list items
- the ETH list item and token list items were part of the same list component

Refactoring in this was would require the component for rendering the item to be configurable (e.g. whether or n

[2018-06-03 22:45] cryptoarun opened #4473 "sent tokens to my metamask, the tokens were showing 5 days later I logged in , now they are gone , not on etherscan"

[2018-06-03 22:46] cryptoarun commented on #4473
https://etherscan.io/token/0xc16b542ff490e01fcc0dc58a60e1efdc3e357ca6?a=0x9533dbcf46e454169783aa47c2592e0f3df02370

[2018-06-03 22:55] Azier777 commented on #4473
I can't find ANY of my tokens and I don't know what's going on either.
Every token is missing

On Sun, Jun 3, 2018, 5:46 PM cryptoarun <notifications@github.com> wrote:

[2018-06-03 22:56] cryptoarun commented on #4473
https://ethplorer.io/address/0xbe0a2e4be0a0e7879f8b1da49a3c95a39b3c71dc
this is my last eth where it showed the tokens,, maybe im putting in wrong address in meta mask?

[2018-06-03 23:00] cryptoarun commented on #4473
just added the address from the second ethplorer.io post and it still shows 0 to the metamask, weird it showed the day I did it

[2018-06-03 23:03] cryptoarun commented on #4473
also what do i put in the decimal place?

[2018-06-03 23:56] danjm opened #4474 "Add the account address and name to the popup main screen"
The implemented feature should look like the below mockup

<img width="233" alt="screen shot 2018-06-03 at 7 58 28 pm" src="https://user-images.githubusercontent.com/597770/39145732-7cb42daa-46e9-11e8-8180-261c61e1ac0f.png">

This was originally added with comment https://github.com/MetaMask/metamask-extension/issues/3463#issuecomment-383676058

[2018-06-04 00:02] danjm commented on #4009
Created a ticket for the minimum viable solution: https://github.com/MetaMask/metamask-extension/issues/4474

[2018-06-04 00:40] greenkeeper[bot] opened #4475 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## Version **7.9.0** of [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Feslint-plugin-react-7.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency

[2018-06-04 01:11] valluminarias opened #4476 "Stucked at "Generating Transaction" Screen"
Hello
*  Expected Behavior
   - Access Metamask UI
* Actual Behavior
   - Stucked in "Generating Transaction" Loading screen
   - Screenshot
![metamask](https://user-images.githubusercontent.com/8232426/40893776-e373e964-67d6-11e8-9bc1-973682dafeaf.png)
* browser used
    - Mozilla Firefox 60.0.1 (64 bit)
* Operating System
    - Windows 10 version 1709

[2018-06-04 06:54] lazaridiscom commented on #4204
Very nice elaborations. I need a day or two to digest/verify.

It looks like most (if not all) of the relevant Ledger Code is in the open, so there's no dependency to the Ledger Teams availability (could be done in the usual OSS contribution way).

For now, my favorite path is the combination of #4469 and #4383.

[2018-06-04 07:07] djaygit commented on #4457
I confirm i still have the same issue, may be you could take a look over teamviewer?

[2018-06-04 07:26] alextsg commented on #4474
There's an open PR for this task already: https://github.com/MetaMask/metamask-extension/pull/4445

[2018-06-04 08:32] OrionStar25 opened #4478 "How to change Amount value for Dapps?"
Bug Reports: Every time I make a transaction using my Dapp, the Amount field is 0 ET. I want it to be the price of the good being purchased. How do I change that?

  Briefly describe the issue you've encountered
  *  Expected Behavior : Amount should be customizable
  *  Actual Behavior : Its not customizable
  *  Browser Used : Firefox
  *  Operating System Used : Ubuntu 16.04
![screenshot from 2

[2018-06-04 09:09] wjmelements commented on #4478
Dapps should set the `value:` field in the transaction before sending it to Metamask. Users should not modify it within Metamask.

[2018-06-04 09:09] #4478 closed

[2018-06-04 09:49] leonprou commented on #4161
Super important 👍

In the [FAQ](https://github.com/MetaMask/faq/blob/master/DEVELOPERS.md#ear-listening-for-selected-account-changes) it's suggested to open an EIP.  Maybe EIP is needed eventually but I think it's better to start the discussion here.

[2018-06-04 12:23] vs77bb commented on #3343
Hi @danfinlay - mind checking in with @iamonuwa with the details?

[2018-06-04 12:36] superwikime commented on #3343
Thanks for your agreement

[2018-06-04 16:13] danfinlay opened #4479 "Network spinner blocks custom RPC form"
Story:

- User wants to connect to a custom RPC
- They enter the RPC wrong
- The spinner appears
- They click the network menu again to select custom again
- They are taken back to settings, but cannot edit the form:

![screen shot 2018-06-04 at 9 11 19 am](https://user-images.githubusercontent.com/542863/40928789-62142eb4-67d7-11e8-94cc-92db3c986db4.png)

This enhancement needs design first:
http

[2018-06-04 16:33] #3463 closed

[2018-06-04 17:02] #4262 closed

[2018-06-04 17:05] Jonaethon commented on #2931
Yeah, I'm having the same problem as well. The 'Hide Token' appears, but clicking it does nothing. I'm on 4.7.2.

[2018-06-04 17:08] danjm commented on #3423
Design being handled in https://github.com/MetaMask/Design/issues/18

[2018-06-04 17:08] #4474 closed

[2018-06-04 17:15] chrispay commented on #2931
@bdresser I am on version 4.7.2

[2018-06-04 17:22] superwikime commented on #2931
Pleased 4your compliment

[2018-06-04 17:25] danjm opened #4481 "Requirements gathering, architecture and code design for Confirm Screen refactor"
This is a ticket for the architecture and code design for https://github.com/MetaMask/metamask-extension/issues/4404

@alextsg @whymarrh

[2018-06-04 17:29] #3478 closed

[2018-06-04 17:41] kumavis commented on #4457
@djaygit a screenshare would be very helpful

[2018-06-04 17:44] mukeshmali commented on #4457
@kumavis which app is better for screen share

[2018-06-04 17:44] kumavis commented on #4457
does google hangouts work? I'll create a link

[2018-06-04 17:46] mukeshmali commented on #4457
@kumavis  yes give link

[2018-06-04 17:47] kumavis commented on #4457
in a metamask meeting, lets do it in 15 minutes, ok?

[2018-06-04 17:49] danfinlay commented on #4457
Could someone still experiencing this on 4.7.2 email state logs to support@metamask.io and then post your issue number here?

https://consensys.zendesk.com/hc/en-us/articles/360004134112-How-To-Get-Logs-And-Help-MetaMask-Support-and-Diagnose-Your-Issue

[2018-06-04 17:51] mukeshmali commented on #4457
@kumavis   yes np

[2018-06-04 18:00] kumavis commented on #4457
@mukeshmali @djaygit before the video call, can you email the UI logs using dan's link above

[2018-06-04 18:04] kumavis commented on #4457
@mukeshmali @djaygit https://hangouts.google.com/call/Iu2oCydTutZ_w04TZuLMAAEE

[2018-06-04 18:16] cjeria commented on #4298
Solution to this was to remove the to and from rows in this screen:

![image](https://user-images.githubusercontent.com/597770/40934131-a6e12838-67e8-11e8-9bd8-c6d992bcdaee.png)

[2018-06-04 18:32] djaygit commented on #4457
@kumavis @danfinlay thanks for the quick support guys, we really appreciate it. Hope we get this issue resolved soon

[2018-06-04 18:35] kumavis commented on #4457
@djaygit @mukeshmali where did this "Account 1" come from? was this an imported account or did it come from a seed phrase? If it came from a seed phrase did it come from the current used seed phrase?

in the logs we see it doesn't have a private key associated with it

[2018-06-04 18:39] djaygit commented on #4457
@kumavis it was created on meta task on 2nd June

[2018-06-04 18:40] mukeshmali commented on #4457
@kumavis Account 1 created by using metamask

[2018-06-04 18:40] bdresser commented on #4466
tracking on #4457

[2018-06-04 18:40] #4466 closed

[2018-06-04 18:41] #4344 closed

[2018-06-04 18:41] #4342 closed

[2018-06-04 18:42] kumavis commented on #4457
@djaygit @mukeshmali ok can you rejoin the hangouts? same link as before

[2018-06-04 18:42] mukeshmali commented on #4457
yes sure

[2018-06-04 18:44] #4318 closed

[2018-06-04 18:44] danjm commented on #4443
@tmashuang @chapati23  Is that for all tokens in the mentioned networks? Or does it work for some and not for others?

[2018-06-04 18:46] bdresser commented on #4443
@danjm haven't been able to remove either suggested or custom tokens on mainnet or rinkeby

[2018-06-04 18:46] danjm commented on #4481
Requirements should include accomodatation of these designs: https://github.com/MetaMask/Design/issues/18, https://github.com/MetaMask/Design/issues/16

Another note on requirements: Metamask may eventually wish to support additional transaction types. For example, confirmation of multisig transactions. For different transaction types, validation of transaction data, and the method called when cli

[2018-06-04 18:50] #4315 closed

[2018-06-04 18:53] superwikime commented on #4481
Libido's œ

[2018-06-04 18:54] superwikime commented on #4315
https://app.mural.co/t/consensys3989/m/consensys3989/1527187224674/c1ede03935b891c510322112e456029556233e22

[2018-06-04 19:05] bdresser commented on #4306
@quantumproducer check out this [comment](https://github.com/MetaMask/metamask-extension/issues/2350#issuecomment-374717425) for some context.

first piece of this work being tracked on #3642 and [PR #4279](https://github.com/MetaMask/metamask-extension/pull/4279)

[2018-06-04 19:05] #4306 closed

[2018-06-04 19:07] bdresser commented on #4305
closing here - fyi @JSON-LEE13 @alacrity26

[2018-06-04 19:07] #4305 closed

[2018-06-04 19:07] #4304 closed

[2018-06-04 19:08] #4303 closed

[2018-06-04 19:08] #4301 closed

[2018-06-04 19:08] #4300 closed

[2018-06-04 19:13] bdresser commented on #4299
i don't see this on 4.7.2 with firefox 75 or 60. @danjm or @alextsg if you can't repro let's close

[2018-06-04 19:16] danjm commented on #4442
Closing in favour of #4465

[2018-06-04 19:16] #4442 closed

[2018-06-04 19:29] bdresser commented on #4298
looks good @cjeria

do you want the "total" row to stay gray or change to white? also what about the helper text up top?

<img width="300" alt="screen shot 2018-06-04 at 12 16 08 pm" src="https://user-images.githubusercontent.com/1016190/40936759-3c3143f2-67f1-11e8-95b2-6ece942c8b82.png">

[2018-06-04 19:37] bdresser commented on #4294
@kumavis looks like this has really died off in the last couple weeks - hasn't been seen since 4.6.1. good to close?

[2018-06-04 19:38] bdresser commented on #4291
@levyashin1 please reach out to support@metamask.io with a copy of your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI-)

[2018-06-04 19:38] #4291 closed

[2018-06-04 19:39] #4290 closed

[2018-06-04 19:39] #4289 closed

[2018-06-04 19:53] danjm opened #4483 "Add Hide Tokens to integration tests"
We should add a step to the 'Add Tokens' integration test that check that the tokens can be hidden. This would have prevented the bug reported in #4443

That bug is resolved in #4482, but we should now also add this integration test.

[2018-06-04 19:56] bdresser commented on #4195
i weirdly sometimes see a spinner and label that says "generating transaction." probably 1/10 times, can't reproduce reliably. maybe from [here](https://github.com/MetaMask/metamask-extension/blob/389346913bf076fde6190a61afc4e3e4cd210afc/ui/app/components/pending-tx/index.js#L131)?

might be the case that the loader exists just isn't showing properly

[2018-06-04 22:29] greenkeeper[bot] opened #4487 "An in-range update of testem is breaking the build 🚨"
## Version **2.7.0** of [testem](https://github.com/testem/testem) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Ftestem-2.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>testem</code>

[2018-06-04 23:04] greenkeeper[bot] opened #4488 "An in-range update of mocha-jsdom is breaking the build 🚨"
## Version **1.2.0** of [mocha-jsdom](https://github.com/rstacruz/mocha-jsdom) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fmocha-jsdom-1.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <cod

[2018-06-04 23:13] #4443 closed

[2018-06-04 23:33] bdresser commented on #4481
@danjm are you guys moving on this shortly? if so let's chat with @cjeria tomorrow to make sure we're on the same page for the UI updates

[2018-06-04 23:58] quantumproducer commented on #4306
Thank you @bdresser

[2018-06-05 00:13] danfinlay commented on #3343
Sorry there @iamonuwa, if we knew the minimum supported versions, we wouldn't have posted this task.

This task includes research, to figure out exactly what our minimum supported version numbers are!

This requires doing a survey of APIs that we are using, and comparing them to browser version compatibility tables, like this:
https://caniuse.com/

[2018-06-05 01:53] john-light opened #4492 "Error: Request timed out for web3 when using MyCrypto"
Bug Reports:

  Briefly describe the issue you've encountered
  *  Expected Behavior - after signing the transaction via MyCrypto it would be broadcast and confirmed
  *  Actual Behavior - received message: `Error: Request timed out for web3`
  *  Browser Used - Chromium Version 66.0.3359.181 (Official Build) Built on Ubuntu
  *  Operating System Used - LinuxMint 18.3 (64-bit)

![requestimedout](h

[2018-06-05 01:54] john-light opened #4493 "Account balance not loading"
**Edit: this may be related to #4457**

Bug Reports:

  Briefly describe the issue you've encountered
  *  Expected Behavior - I can see my balance in my wallet
  *  Actual Behavior - the app just shows `...` where the balance amount should be
  *  Browser Used - Chromium Version 66.0.3359.181 (Official Build) Built on Ubuntu
  *  Operating System Used - LinuxMint 18.3 (64-bit)

![metamask_error_1

[2018-06-05 01:57] john-light opened #4494 "Redundant accounts shown out of order"
**Edit: this may be related to #4457**

Bug Reports:

  Briefly describe the issue you've encountered
  *  Expected Behavior - I see all of my accounts in numeric order (Account 1, Account 2, etc...) and each account only once
  *  Actual Behavior - the app shows multiple "Account 4, Account 4..." etc and shows the accounts out of order (Account 4, Account 3, Account 1... etc)
  *  Browser Used -

[2018-06-05 02:27] bdresser commented on #4269
thanks @sullof - we're aware and taking steps towards a full solution tracked in #714

[2018-06-05 02:27] #4269 closed

[2018-06-05 02:27] #4268 closed

[2018-06-05 02:28] #4267 closed

[2018-06-05 02:52] hackmod commented on #1820
Please see https://github.com/ethereum/go-ethereum/pull/15002#issuecomment-394560172

currently, `lookupNetwork()` use `net_version` value and it is the networkID.
MetaMask use this networkID as the chainID.
(https://github.com/MetaMask/metamask-extension/blob/develop/app/scripts/controllers/network/network.js#L80)

@turbobit can manage this issue (chainID != networkID cases) by hack/workaround `n

[2018-06-05 03:26] #4243 closed

[2018-06-05 03:27] #4248 closed

[2018-06-05 03:34] bdresser commented on #4459
@MicahZoltu we're discussing next round of updates to the confirm screen in MetaMask/Design#11

[2018-06-05 03:34] #4459 closed

[2018-06-05 03:35] #4247 closed

[2018-06-05 03:35] #4223 closed

[2018-06-05 03:37] bdresser commented on #4473
@cryptoarun please email support@metamask.io with a copy of your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI-)

[2018-06-05 03:37] #4473 closed

[2018-06-05 03:52] hackmod commented on #1820
from https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md

(networkID column added)

NetworkID |CHAIN_ID | Chain(s)
-- | -- | --
1 | 1 | Ethereum mainnet
2 | 2 | Morden (disused)
3 | 3 | Ropsten
5 | 4 | Rinkeby
? | 30 | Rootstock mainnet
? | 31 | Rootstock testnet
? | 42 | Kovan
1 | 61 | Ethereum Classic mainnet
3 | 62 | Ethereum Classic testnet
1 | 2 | Expanse mainnet ([[1]])
1 | 8 | Ubiq

[2018-06-05 04:58] kinkykiwe opened #4495 "Can't send eth, invalid seed phrase as well."
Hi, I have just tried to send transactions and it just comes back with taking too long I have also tried sending to different wallets with the same result. I also tried to restore my account on a different computer but says the seed phrase is invalid. I can still log in and out fine, but just can't send transactions and don't want to reset my account because I may have written the seed phrase down

[2018-06-05 05:49] cheika03 commented on #1661
hi @danfinlay -

So I did the same thing as the people above (deleted MM account / no 12 phrase seed).

I am using firefox and while deleting MM (really doing a firefox refresh) firefox created a file called "Old firefox data." Is it possible to recover from these files (attached). Please put in simpliest terms possible.

**_Oh I'll give anybody $1,000 thats able to bring my account back._**

![sc

[2018-06-05 05:52] gustafla opened #4496 "Stuck at "Connecting to Main Ethereum Network" if Firefox is launched offline, but brought online later"
As the title says, MetaMask on Firefox 60.0.1 (Linux 4.16.12-gentoo x86_64 GNU/Linux) won't let me enter the password, only shows a connecting spinner. This happens when firefox is launched before machine has connected to a network.
![screenshot](https://user-images.githubusercontent.com/8680135/40957398-b04e120e-689d-11e8-9a00-7dcf38f7a7df.png)

[2018-06-05 06:37] kumavis commented on #4457
@mukeshmali we're still investigating the cause of the issue, will give you an update tomorrow

[2018-06-05 07:11] mukeshmali commented on #4457
@kumavis sure bro . i am waiting :P

[2018-06-05 07:27] TheKriptKeeper opened #4497 "transactions not going through"
Transactions have not been going through for a few days now. It's as though there is a backlog and a couple of transactions are not cancelling and not allowing any others to go through. Here is a screenshot attached. Address: 0xF89928aFC1b7214B2F95FEd9Eb82B0CcFe3C3C44
![error](https://user-images.githubusercontent.com/39943404/40961311-8d0e2656-68e5-11e8-8df2-f1b940b3693a.jpg)

[2018-06-05 08:31] leonprou commented on #4161
Looking into it I suggest to create an event emitter that will emit events on every account/network change.

In case of accounts, the event emitter should emit an `accountChanged` event in the [actions](https://github.com/MetaMask/metamask-extension/blob/develop/ui/app/actions.js#L1199) file.

Another question is how to subscribe to that event. Following the logic of web3 modulation I suggest that

[2018-06-05 09:57] Shippable-ls commented on #4168
The generating transaction screen persists for me after these steps. As soon as I re-join the main network I go back to the spinning "generating transaction" screen.

[2018-06-05 10:30] superwikime commented on #4168
0xD089e34694eB023d25AADD3DC8c18337534A10c0

[2018-06-05 10:44] MicahZoltu opened #4498 "Remember recent Custom RPC URLs"
Bounty: Fix a regression where we're no longer persisting the most recent couple custom RPC networks in the extension's network drop down. When I add a custom RPC, it should stay in the drop down even when I'm not connected. We should keep 3-5 around, then start to remove oldest first as the user adds more.

--

Using the new MetaMask UI, no matter how many Custom RPCs I add, it only remembers the

[2018-06-05 11:07] nageshvcommandgithub commented on #4219
Hi, I am facing the exact right problem mentioned above. I am trying to connect to a Ethernet RPC on Azure and when I connect to that RPC from Meta mask, 'Connecting to Unknown Private network' is spinning all day long. Can you please let me know how can I connect to the new RPC.

[2018-06-05 12:19] TheKriptKeeper commented on #4497
EthQuery - RPC Error - Error: Error: [ethjs-rpc] rpc error with payload {"id":8936747568256,"jsonrpc":"2.0","params":["0xf86e8184850ba43b740083030d409463ba132c8c0103c70f187dcb4bad8d39d63603478802c68af0bb1400008025a021504087b397581e5bfb678c5b2ef746f4a96030afb368609ec672d3167399afa05b5c91cb7112c9ccc8562d1fa6dc23ade764dfa1b42c605164906f0b42f4a88e"],"method":"eth_sendRawTransaction"} Error: replacemen

[2018-06-05 12:19] leonprou commented on #3488
I use Metamask with web3 1.0.0, to get the current account I call:
`web3.eth.getAccounts()`, this gives an array which has maximum one element, I mean it has the unlocked account or it is empty.

[2018-06-05 12:30] MicahZoltu opened #4499 "Reseting account with custom RPC selected doesn't work."
1. Setup Custom RPC pointing to a local node.
1. Go into settings and Reset Account.
1. Wait for a while before realizing that nothing is happening.
1. Click outside of the reset box to make it go away.
1. Scroll up.
1. --> Notice the following error:
![image](https://user-images.githubusercontent.com/886059/40975982-3e42cf62-68ff-11e8-91d9-e794a5ea6308.png)

[2018-06-05 12:33] TheKriptKeeper commented on #4497
SOLVED. Just went to settings/reset.

[2018-06-05 12:33] #4497 closed

[2018-06-05 12:46] anthony33lewis commented on #4497
So such simple fix was causing all that trouble... Should I reset also ?
Great ob by the way..

[2018-06-05 13:00] TheKriptKeeper commented on #4497
Are you having similar issues? Yes was a ridiculously simple fix. Didn't even see the reset button when looking around yesterday. Saw it in a blog just before!

________________________________
From: anthony33lewis <notifications@github.com>
Sent: Tuesday, 5 June 2018 10:46 PM
To: MetaMask/metamask-extension
Cc: TheKriptKeeper; State change
Subject: Re: [MetaMask/metamask-extension] transactions n

[2018-06-05 14:07] cheika03 commented on #2749
@danfinlay

Hi Dan - Somewhat of the same problem here. I am trying to restore my metamask account from JSON file from "Old firefox data" file. I "refreshed" firefox by mistake and lost everything.

I do not have 12 phrase seed either. What I do have is account name, password, and Old firefox data. There are a ton of JSON files here. Any idea what steps I can take to restore my account. See attach

[2018-06-05 14:10] prographo opened #4500 "Ropsten test faucet not working"
It doesn't work.

[2018-06-05 14:23] iamonuwa commented on #3343
@danfinlay thank you for responding, I can work with this at the moment. I'll ask questions if any.

Thank you

[2018-06-05 14:41] danfinlay commented on #1252
@rmerom:

I know this is over a year later, but is this account still floating around in your MetaMask?

If so, I'd appreciate you emailing in your state logs:
https://github.com/MetaMask/state-log-explorer

To support@metamask.io, then post that ticket number here. I'm sorry I hadn't considered this method of debugging then.

[2018-06-05 14:58] shtabnoy commented on #1546
Thank you folks. You are super cool!

[2018-06-05 15:09] danfinlay opened #4501 "Firefox has blank screen when opening"
Versions 4.7.2-4.7.3 both opening the 'action view' with a blank screen, reports firefox user `Underdoggie` on our slack.

[2018-06-05 16:13] danfinlay opened #4502 "Some users experiencing blank screen on Firefox"
When opening the action view, some users report they are seeing a blank screen, and are unable to use MetaMask on Firefox.

From our zendesk issue 654:

Here is my log from the debugging tool:
Setting up Sentry Remote Error Reporting: PROD  background.js:1:101140
Injecting MetaMask Mesh testing client  background.js:1:1061539
MaxListenersExceededWarning: Possible EventEmitter memory leak detected.

[2018-06-05 16:19] superwikime commented on #4502
Øœtubekicked

[2018-06-05 16:21] mukeshmali commented on #4457
@kumavis  After an auto update, the account which was not accessible earlier is now not even visible.

Guys please help me, this will make me lose all my funds . I cant afford this situation

 Please look at the screenshot for reference.
![metas](https://user-images.githubusercontent.com/3995918/40989127-82df6468-690a-11e8-8f69-e53b655e5b38.JPG)

here previous version metamask pic.

![28279014_179

[2018-06-05 16:27] danfinlay commented on #3414
@haydenadams Latest version is 4.7.3.

[2018-06-05 16:28] danfinlay commented on #3414
That said, I'm not sure this was fixed in it. @danjm may be able to answer/reopen.

[2018-06-05 16:28] iamankush commented on #4457
Hi @kumavis this is really critical for us as there is too much amount stuck for us, now that you have made updates, we are not even able to see the account. Could you please help us on how to fix that now and get the funds out of this account? Please please help this is really urgent.

[2018-06-05 16:33] bdresser commented on #4462
also reported by another user on the new UI with similar steps to repro:

Go into settings and Reset Account.
Wait for a while before realizing that nothing is happening.
Click outside of the reset box to make it go away.
Scroll up.
--> Notice the following error:
![image](https://user-images.githubusercontent.com/1016190/40989713-8b24544c-68a3-11e8-956f-707eb3d3b764.png)

[2018-06-05 16:35] bdresser commented on #4499
@MicahZoltu thanks for reporting. this is a dupe of #4462, closing this and added your comment there 👍

[2018-06-05 16:35] #4499 closed

[2018-06-05 16:54] danfinlay commented on #3599
This should be simple enough to implement, and our team is already stretched thin, so I'm marking this as `bounty-worthy`. We may post a bounty on it soon, and welcome community contributions.

[2018-06-05 16:54] danjm opened #4503 "Fix shapeshift deposit modal button styles"
There was a minor style regression.

[2018-06-05 16:55] danfinlay commented on #4330
Possibly related to #4281.

[2018-06-05 16:56] danfinlay commented on #4281
If you reinstalled you really may have overwritten your vault. Your recourse then would be "do you have backups from before you reinstalled?"

It's very important to back up your seed phrase.

[2018-06-05 16:59] kgh2927845 opened #4504 "Internal JSON-RPC error on Ropsten testnet."
Metamask doesn't work  at all on Ropsten testnet. I can't transfer any balance to anyone.
Even though some eth amounts are in my wallet, Metamask shows me 0 eth balance in it whenever trying to transfer some amount so that transactions are failed now.
![capture](https://user-images.githubusercontent.com/25010771/40990917-8fba1a7e-68f2-11e8-95d4-788b9b7b76eb.PNG)

[2018-06-05 17:17] haydenadams commented on #3414
@danjm @danfinlay  I just tested again in 4.7.3 and can confirm the issue remains

[2018-06-05 17:21] danjm opened #4505 "[New-UI] Handle token amount overflows"
We still need to handle token amounts with a large number of digits in the following places:
- account balance in main screen
- send fields in send screen
- confirm screen amounts

[2018-06-05 17:21] danjm commented on #3423
Closing in favour of https://github.com/MetaMask/Design/issues/18 and https://github.com/MetaMask/metamask-extension/issues/4505

[2018-06-05 17:21] #3423 closed

[2018-06-05 17:36] danjm commented on #3725
@kumavis @tmashuang This is ready to merge, but I want to make sure it goes out as part of the next full release. So let's wait to merge it until we resolve current P0 bugs.

[2018-06-05 17:36] evansjohnson commented on #4504
I have also seen this error today.  MetaMask seems to sometimes report the correct balance, sometimes report 0 for both ETH and a token, although this happens without this error appearing as well.  The balances show up as expected on Etherscan Ropsten.

[2018-06-05 17:39] evansjohnson commented on #4500
@prographo can you check if your metamask address shows a balance on Etherscan? (click the 3 dots and the top option "View account on Etherscan".  You may be having the same issue as #4504 where balances are not showing up correctly (even tho the faucet may have worked)

[2018-06-05 17:49] dinosworld commented on #4330
so I did the update last night still no view on metamask gui I'm using google chrome now.  Not really by choice.

[2018-06-05 18:09] superwikime commented on #3423
ivanaTRMPIn#discoord*noshowup

[2018-06-05 18:12] superwikime commented on #4505
#7205ETHRmob197155052

[2018-06-05 18:49] whymarrh commented on #4494
The disorder of the list is related to #4465 at the very least

[2018-06-05 18:50] superwikime commented on #4465
*2late,bugg Biggs

[2018-06-05 18:59] electronicdreamer commented on #2820
Have the same problem.

Windows 10 Pro
Chrome 66.0.3359.181
Metamask 4.7.3

No errors in the background console

My main account is always there but everytime I import an account, it disappears later.
I don't even think I close Chrome, I just put my computer in sleep mode.

[2018-06-05 18:59] passabilities opened #4508 "Editing gas limit on Confirm screen does not change transaction total"
*  Expected Behavior
Edit the gas limit to update the transaction total cost.

*  Actual Behavior
Transaction total cost does not change.

*  Browser Used
Chrome

*  Operating System Used
Linux

![image](https://user-images.githubusercontent.com/6958300/40996897-02ee61f2-68d1-11e8-81a6-69e0bb2987e9.png)

![image](https://user-images.githubusercontent.com/6958300/40996914-12b98e36-68d1-11e8-92c2-96

[2018-06-05 19:01] passabilities commented on #3942
I'm having a slightly different issue here #4508

When I change the gas limit, it updates the gas fee but the total transaction cost does not get update.

[2018-06-05 19:02] tcivil412 commented on #4281
Is there a time frame as to when it will work again on Brave?

[2018-06-05 19:11] govindk007 commented on #4457
Hi @kumavis u people stucked their eth nd that too large sum of money is stucked u should take some serious steps
As how to trust metamask anything can be happen with us also ,please help as soon as possible so that i myself can start using metamask again till then i stopped using it its him today may be i tomorrow

[2018-06-05 19:19] aganurag58 commented on #4457
It's been 3 days and problem is not solved 20 ether is a big amount. All this is happening coz of metamask update. Pls urgently help in this case.

[2018-06-05 19:21] amanbhag commented on #4457
this thing was not expected from metamask looks like metamask is not safe for our funds 20 eth is a huge amount. i am not gonna use metamask from now onwards

[2018-06-05 19:54] bdresser opened #4510 "Default to ETH as primary currency on Confirm screen and allow toggle"
Bounty: We want to update the Confirm screen to display ETH as the primary (large) value and the user's selected converted currency as the secondary (smaller) value. This feature also requires adding a toggle to the settings menu to allow users to swap the two.

--

Some users prefer to focus on their ETH balance rather than the equivalent fiat value. Right now our UI prioritizes fiat value and in

[2018-06-05 20:16] rmerom commented on #1252
@danfinlay I'm sorry but that machine has died and I no longer have access to that MM account.

[2018-06-05 20:29] cryprohippo commented on #4281
or is there a recommended procedure to return everything to default? I can't see any way to uninstall the extension in brave, as it  is built in.

[2018-06-05 20:43] bdresser commented on #4127
hey @brandysue – please email support@metamask.io with a copy of your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI-)

[2018-06-05 20:43] #4127 closed

[2018-06-05 20:43] #4055 closed

[2018-06-05 20:45] bdresser commented on #4101
@ganewo please email support@metamask.io with a copy of your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI)

[2018-06-05 20:45] #4101 closed

[2018-06-05 21:06] kumavis commented on #4457
@djaygit @mukeshmali thank you for your patience, we have an update from our research. are you available for another hangouts

[2018-06-05 21:08] #4265 closed

[2018-06-05 21:09] bdresser commented on #4258
@gopherpig please email support@metamask.io with a copy of your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI)

[2018-06-05 21:09] #4258 closed

[2018-06-05 21:09] kumavis commented on #4457
sorry i realize its 2am in mumbai so its no problem to do this tomorrow

[2018-06-05 21:09] #4246 closed

[2018-06-05 21:09] #4244 closed

[2018-06-05 21:09] #4237 closed

[2018-06-05 21:10] #4228 closed

[2018-06-05 21:11] #3818 closed

[2018-06-05 21:11] #3271 closed

[2018-06-05 21:12] #4217 closed

[2018-06-05 21:12] #4197 closed

[2018-06-05 21:14] mukeshmali commented on #4457
@kumavis  possible to next day ..........  for hangout i not perfect in english ... but understand little english ......  besy way to team viear or other think possible bro

[2018-06-05 21:17] mukeshmali commented on #4457
@kumavis  if you want team viewer info i will share you

[2018-06-05 21:21] bdresser commented on #4207
@mryellow the hd wallet will generate the same accounts in the same order every time.

the basic experience is this:
(1) User installs metamask, automatically starts with Account 1, gets seed phrase
(2) User creates more accounts (Account 2, Account 3, etc) from within Metamask
(3) User's local data gets wiped
(4) User restores their accounts from seed phrase. After doing so, they only see Account

[2018-06-05 21:31] bdresser commented on #4182
@vgorin could you try on ^4.7.0 with the new UI? (from the top-right menu, click "try beta!")

i'm not able to reproduce

[2018-06-05 21:31] #4179 closed

[2018-06-05 21:35] bdresser commented on #4175
@wilbur8 i'm not able to reproduce this bug – could you try on ^4.7.0 with the new UI? (from the top-right menu, click "try beta!")

[2018-06-05 21:40] bdresser commented on #4168
@Shippable-ls what OS, browser, and extension version are you running?

[2018-06-05 21:41] #4158 closed

[2018-06-05 21:43] kumavis commented on #4457
@mukeshmali we dont need any more info, want to present the results of our research

[2018-06-05 21:45] #3330 closed

[2018-06-05 21:45] #3318 closed

[2018-06-05 21:46] #3294 closed

[2018-06-05 21:47] #3284 closed

[2018-06-05 21:47] #3218 closed

[2018-06-05 21:48] #3152 closed

[2018-06-05 21:48] mukeshmali commented on #4457
sure ..... when i got my ETH back ....... please its very bad and critical condition for me .... please help buddy @kumavis

your help very good bro

[2018-06-05 21:48] mryellow commented on #4207
I had to delve deep into the code to approach understand this basic functionality.

It needs explaining somewhere, perhaps different wording in the UI. It's very hard to come to the realisation that these are *"Derived keys"*.

[2018-06-05 21:49] #3149 closed

[2018-06-05 21:49] kumavis commented on #4457
@mukeshmali here i can give a simple update https://hangouts.google.com/call/jU48_T_6VmLN_d_kbV2EAAEE?no_rd

[2018-06-05 21:49] #3141 closed

[2018-06-05 21:51] #3022 closed

[2018-06-05 21:52] #2960 closed

[2018-06-05 22:05] bdresser commented on #2804
@ZuFire if you're still looking for help I'd encourage you to reach out to support@metamask.io

[2018-06-05 22:05] #2804 closed

[2018-06-05 22:06] #2803 closed

[2018-06-05 22:07] bdresser commented on #2800
@cparkhi if you're still looking for help please reach out to support@metamask.io

[2018-06-05 22:07] #2800 closed

[2018-06-05 22:07] #2780 closed

[2018-06-05 22:08] #2774 closed

[2018-06-05 22:09] mryellow commented on #4207
*"Derived keys"* is so accurate but also so clunky and technical. Brain-storming some semantics which may or may not work.

* "derived"
* "from seed".
* "sub-"
* account vs address (this is a semantic issue more broadly which cross sometimes and is mentioned in another issue here I can't find)

Perhaps something like *"from seed"* is doable, though *"Create Account from Seed"* is long-winded and t

[2018-06-05 22:10] mukeshmali commented on #4457
@kumavis here my email address : **me@mukeshmali.com** and eth address : **0x608aAD43748BfEf790cC40B4dA4378591474cB09**

[2018-06-05 22:13] bdresser commented on #2573
this is now possible on the current version (4.7.3)

[2018-06-05 22:13] #2573 closed

[2018-06-05 22:15] #2520 closed

[2018-06-05 22:17] bdresser commented on #2288
@tobydaniel2 do you still encounter this issue?

[2018-06-05 22:17] #2288 closed

[2018-06-05 22:22] bdresser commented on #2140
@macbem @sandeep1116 closing this, as we're moving away from allowing access to the user's current account on load for a bit of added user privacy. read more on #714 or the more general [EIP](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1102.md)

[2018-06-05 22:22] #2140 closed

[2018-06-05 22:50] mukeshmali commented on #4457
when transfer please send asap  @kumavis thanks buddy for helping :P

[2018-06-05 23:00] bdresser commented on #4169
what's the verdict @Jonathonx – tokens & account names still there?

[2018-06-05 23:32] tobydaniel2 commented on #2288
No I don’t. Thanks

Sent from my iPhone

[2018-06-05 23:37] danjm opened #4517 "Only allow users to submit passwords once"
Users are currently able to to click the 'Unlock' button multiple times before the the initial unlock resolves. This can create duplicate keyrings. We should prevent this. The callback in reacts set state will be useful here.

cc @danfinlay

[2018-06-06 00:41] levity opened #4518 "Different token list for each network"
Since token contract addresses are different depending on the network you're on, if I'm testing a new version of a token that already has a mainnet deployment, then I have to add one address to my token list for mainnet and one for Kovan.

Then I'm always going to see two items in my list for the same token, with one balance or the other always equal to 0.

So it would be nice if I could add a tok

[2018-06-06 03:27] wjmelements commented on #4066
I’ve experienced this issue in the past two weeks. The transaction showed as pending in MetaMask but never propagated.

[2018-06-06 03:29] JohnAllen opened #4520 "Repeated "Sorry, we are unable to locate this Transaction Hash""
*  Expected Behavior when submitting a transaction the transaction is able to be found on etherscan
  *  Actual Behavior "Sorry, we are unable to locate this Transaction Hash"
  *  Browser Used `Chrome 66.0.3359.181`
  *  Operating System Used `MacOS 10.13.4`

[2018-06-06 03:30] JohnAllen commented on #4066
Yeah, major problem for me.  Wondering if it's Infura...

[2018-06-06 04:43] brandostrong commented on #2820
I have this issue as well. Account does not persist after any restarts. Has persisted through multiple chrome installs.

Metamask 4.7.4
Chrome Version 68.0.3440.15 (Official Build) dev (64-bit)
Windows 10 Pro

[2018-06-06 09:47] wadelee1986 commented on #4165
how  to resolve this problem ?

[2018-06-06 10:07] Vodokotlic commented on #3330
I have a big problem. I have main account and three sub accounts.  I made a one more. I sent SNC tokens and I received. After that I go for half a day out. After that the metamask logged out automatically (PC was online all time). I logged back in. The new sub account disappeared! I did not export private key yet? What now? :(

[2018-06-06 13:59] mukeshmali commented on #4457
@kumavis any update dear ..............

[2018-06-06 14:06] greenkeeper[bot] opened #4521 "An in-range update of fuse.js is breaking the build 🚨"
## Version **3.2.1** of [fuse.js](https://github.com/krisk/Fuse) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Ffuse.js-3.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>fuse.js</code>

[2018-06-06 15:56] greenkeeper[bot] opened #4522 "An in-range update of react-router-dom is breaking the build 🚨"
## Version **4.3.0** of [react-router-dom](https://github.com/ReactTraining/react-router) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Freact-router-dom-4.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>

[2018-06-06 16:07] Shippable-ls commented on #4168
Moving back to the old UI meant I was able to able the transaction in flux.

On Tue, Jun 5, 2018 at 10:40 PM, bobby dresser <notifications@github.com>
wrote:

--
/Regards/
 Luke Shipley
*  Co-Founder                       *
   R_Block

*Join Our Telegram Community >>> R_Block <https://t.me/r_block>*

This message contains confidential information.  It may be legally
privileged.  If you are not the

[2018-06-06 16:33] bdresser commented on #4518
relates to #3521

[2018-06-06 16:57] bdresser commented on #3996
@Adexbafo above post is correct, [Brave doesn't support](https://community.brave.com/t/brave-browser-on-android-and-accessing-meta-mask/15884/3) extensions on mobile yet.

[2018-06-06 16:57] #3996 closed

[2018-06-06 17:18] bdresser commented on #3330
@Vodokotlic if you click "add account" you will add back the same account you used to have. For further questions please email support@metamask.io

[2018-06-06 17:29] bdresser commented on #4048
if you click "create account" in the top right again, the extension will recreate your previously made accounts. see [this comment](https://github.com/MetaMask/metamask-extension/issues/4207#issuecomment-394864588) for details.

we'll work on making this clearer in the extension.

[2018-06-06 17:29] #4048 closed

[2018-06-06 17:32] bdresser commented on #3905
thanks for finding @gornov! did you find any other instances of this in the extension?

[2018-06-06 17:42] kumavis commented on #4457
@mukeshmali the bug bounty reward should be in by friday

[2018-06-06 17:43] danfinlay commented on #4270
From Brave:

Looks like we still have an issue with MetaMask in Brave, @kumavis. As it turns out, we do expose both the `chrome.i18n.` namespace, as well as the `getAcceptedLanguages` method. Unfortunately, this method isn't fully implemented. Calling it will throw an exception. The exception only appears to be thrown when you don't evaluate `chrome.runtime.lastError` in the callback. If you evalu

[2018-06-06 17:45] bdresser commented on #4493
@john-light we pushed a patch yesterday for #4457 – can you let us know if you're still experiencing this bug on `4.7.4`?

[2018-06-06 17:45] mukeshmali commented on #4457
@kumavis Thanks ! This help is appreciated

[2018-06-06 17:49] bdresser commented on #4520
@JohnAllen sounds like this is the same issue reported in #4066, yeah?

[2018-06-06 17:51] #4465 closed

[2018-06-06 17:54] danfinlay commented on #4270
May be the cause of #4281.

[2018-06-06 17:57] danfinlay commented on #4281
We currently have two different bugs that may be causing this with Brave: #4330 and #4270.

We will be working on both of them soon.

If you need to use MetaMask in the meanwhile, please use your seed phrase to restore your accounts on another browser for now.

If you do not have your seed phrase backed up, do not uninstall MetaMask from your Brave browser, it should fix itself with an auto update

[2018-06-06 17:57] #4281 closed

[2018-06-06 18:06] #364 closed

[2018-06-06 18:07] #4520 closed

[2018-06-06 18:11] bdresser commented on #731
is there a separate design story for this @danfinlay @cjeria ?

[2018-06-06 18:16] bdresser commented on #1930
Work done in [this PR](https://github.com/MetaMask/metamask-extension/pull/4117), waiting to merge until EIP 712 is finalized

[2018-06-06 18:20] cjeria commented on #731
@bdresser not yet! It's come up several times in conversation and I've even done a few wireframes for this (quite big) feature but obviously something that's been on the backlog for sometime now. I think this ticket is related https://github.com/MetaMask/metamask-extension/issues/605

Would be good to put this one on the (long term) road map? This will have a lot of design implications!

[2018-06-06 18:32] bdresser commented on #2636
closing in favor of #4064

[2018-06-06 18:34] #2691 closed

[2018-06-06 18:34] #2779 closed

[2018-06-06 18:36] bdresser commented on #2893
@danfinlay to add some spec detail 🚀

[2018-06-06 18:40] bdresser commented on #2972
closing in favor of #3127 – if you find anything, report it there!

[2018-06-06 18:40] #2972 closed

[2018-06-06 18:49] bdresser commented on #3048
Alrea

[2018-06-06 18:49] #3048 closed

[2018-06-06 18:51] bdresser commented on #3061
let's chat about this in support sync today @alacrity26 👍

[2018-06-06 18:52] #3062 closed

[2018-06-06 18:54] #4288 closed

[2018-06-06 18:55] bdresser commented on #3072
won't fix, since we're moving to the new UI

[2018-06-06 18:55] #3072 closed

[2018-06-06 18:55] kumavis commented on #4288
@vs77bb this is complete

[2018-06-06 18:55] #3075 closed

[2018-06-06 19:04] danfinlay commented on #3088
More caching observations by @MicahZoltu:

micah.zoltu [1:47 AM]
I'm trying to author a dapp against MetaMask.  When connected to a private network and I attempt to do `eth_call`, MetaMask returns a JSON-RPC _success_ response with `.result: '0x'`.  When I watch the network traffic coming out of MetaMask, I can see that no request is being made of the private node, which means MetaMask is generati

[2018-06-06 19:05] bdresser commented on #3140
@bitpshr was this fixed by #4433 ?

[2018-06-06 19:08] bdresser commented on #3243
relates to #3034

[2018-06-06 19:12] bdresser commented on #3519
@nhbrown or anyone else here - would love some reproduction steps to help us dig in!

[2018-06-06 19:15] kumavis commented on #3669
better sentry ticket https://sentry.io/metamask/metamask/issues/568094485/?query=is:unresolved%20known%20transaction

[2018-06-06 19:18] #3999 closed

[2018-06-06 19:22] bdresser commented on #4207
also related to #3034 – if we auto-detect tokens, we can auto-detect if the user has generated any accounts with value on them

[2018-06-06 19:32] jennypollack commented on #4270
Can repro in latest Brave mm (v4.3.0) by setting language preferences to language other than English (U.S)

[2018-06-06 19:49] bitpshr commented on #3140
@bdresser I don't think this is related to #4433. That PR fixed a specific issue where certain RPC errors were only being logged on the client, not actually thrown. This sounds like a different FireFox-specific issue and one that may be fixed already, it just needs investigation.

[2018-06-06 20:40] #1510 closed

[2018-06-06 20:46] bdresser commented on #3889
thanks @galladivya. do you have an app running on that port? if not, the extension won't be able to find anything.

worth noting that the small spinner in the top-right is still clickable, so you can switch away from the network when you need to.

tracking work to make this interaction more intuitive in #3776

[2018-06-06 20:46] #3889 closed

[2018-06-06 20:56] bdresser commented on #4479
@danfinlay @cjeria when I put in a custom RPC, it adds that new URL to the list of networks.

If I click "Custom RPC" again, it feels like the extension should stop trying to connect to the previously entered URL, cancel the spinner, and drop me on a fresh settings page. (Right now it just continues to try connecting to the URL I entered)

Potentially a design-free solution?

[2018-06-06 21:40] nhbrown commented on #3519
@bdresser @jennypollack I'll be able to put something together to reproduce the issue this upcoming weekend, earliest this Friday - hope that works for you.

[2018-06-06 22:20] bdresser commented on #4500
@prographo faucet at https://faucet.metamask.io/ works fine for me! what sort of error are you seeing?

[2018-06-06 22:26] bdresser commented on #4504
@kgh2927845 @evansjohnson transactions on Ropsten are working fine for me – I believe this may have been fixed by #4486.

could you try again and provide some more detail if you're still having trouble?

[2018-06-06 22:31] bdresser commented on #4495
@kinkykiwe this may have been fixed by #4486. if you're still experiencing this issue, please email support@metamask.io with a copy of your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI) and we can help you troubleshoot there.

[2018-06-06 22:31] #4495 closed

[2018-06-06 22:42] bdresser commented on #2931
@chrispay @Jonaethon this was fixed by #4482, you should be good to go!

[2018-06-06 22:43] EvilJordan commented on #3964
@danfinlay It's definitely not possible to determine an xPub from a singe sub pub/priv keypair. That would be a massive security leak and design flaw if that were the case.

You are correct there are methods to support export/display of the xPub key with ethereumjs (https://github.com/ethereumjs/ethereumjs-wallet/blob/cfe0f600880dc6df666f769e54c210ee05bcad47/README.md#hd-wallet-api) and this would

[2018-06-06 22:46] bdresser commented on #4462
heads up @danfinlay @kumavis

[2018-06-06 22:53] #4339 closed

[2018-06-06 22:54] bdresser commented on #4458
@es335ab @Kil0grm what browser & browser version are you on?

[2018-06-06 22:56] bdresser commented on #4501
closing for #4501

[2018-06-06 22:56] #4501 closed

[2018-06-06 22:56] bdresser commented on #4502
from #4501

[2018-06-06 22:57] #4125 closed

[2018-06-06 23:29] bdresser commented on #4508
@passabilities I'm having trouble reproducing - could you give some more detail about how you encountered this error? were you sending from the extension yourself, or being requested by a dapp? did you edit by clicking in the top-right, or on the adjustment icon by the gas fee?

[2018-06-06 23:52] danfinlay commented on #4462
I've fixed this issue, PR opened on #4523.

[2018-06-07 00:06] whymarrh commented on #4494
@john-light can you still reproduce this on 4.7.4?

[2018-06-07 01:04] johncrisostomo commented on #4219
Hello @nageshvcommandgithub , can you share your `geth` command that you ran on Azure? Also, can you connect to it through Mist?

[2018-06-07 01:42] needhelp122 commented on #3330
This happened to me as well. Account disappeared from MM for a few weeks, came back for 2 days and has now disappeared again. Wasn't able to download the private key because it's asking for a password.

[2018-06-07 03:21] #3725 closed

[2018-06-07 03:21] #3914 closed

[2018-06-07 03:21] #4077 closed

[2018-06-07 03:21] #3942 closed

[2018-06-07 09:13] Vodokotlic commented on #3330
@bdresser I add subaccount again and token (it has other an address the subaccount). Tokens showed again! I tried that yesterday.
But today there is no subaccount again and token too!  Why I need to add everyday manually?

[2018-06-07 09:33] Levino commented on #1789
related https://github.com/Neufund/TypeChain/issues/50

[2018-06-07 09:45] Levino commented on #1789
Can anyone tell me where I should have a look in order to fix this? Where is this string being composed?

[2018-06-07 10:01] Levino opened #4525 "eth.getCode returns incorrect values for empty addresses"
The injected `web3` instance retuns `0x` when one calls `web3.eth.getCode(address)` when `address` has no contract deployed to it. The normal `web3` however returns `0x0`. This inconsistency is not only annoying but very dangerous. See also https://github.com/Neufund/TypeChain/issues/50 and https://github.com/MetaMask/metamask-extension/issues/1789. I think this issue should be addressed quickly a

[2018-06-07 11:17] greenkeeper[bot] opened #4526 "An in-range update of raven-js is breaking the build 🚨"
## Version **3.26.0** of [raven-js](https://github.com/getsentry/raven-js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fraven-js-3.26.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>rave

[2018-06-07 16:31] bdresser commented on #4287
@danfinlay several user reports of adding tokens then having them disappear regularly. is that the same storage mechanism, or handled separately?

[2018-06-07 16:36] bdresser commented on #3367
relates to [Design#11](https://github.com/MetaMask/Design/issues/11)

[2018-06-07 16:37] scsaba commented on #1232
@danfinlay @vs77bb is it still on your radar? If so, is it still bounty worthy? I have a working prototype and I can invest some more time into this :)

[2018-06-07 16:38] john-light commented on #4494
@whymarrh fixed, closing

[2018-06-07 16:38] #4494 closed

[2018-06-07 16:39] john-light commented on #4493
@bdresser fixed, closing

[2018-06-07 16:39] #4493 closed

[2018-06-07 17:06] bdresser commented on #4440
@danjm @cjeria @danfinlay what do you guys think? maybe right on the on the `20 BCK` or by clicking an icon next to it?
<img width="250" alt="screen shot 2018-06-07 at 10 01 46 am" src="https://user-images.githubusercontent.com/1016190/41114650-e30edaaa-6a39-11e8-8efd-a9ffaa304181.png">

or, we could add in the `...` psuedo-menu below "Hide Token"
<img width="250" alt="screen shot 2018-06-07 at 10

[2018-06-07 17:09] passabilities commented on #4508
This was a tx that my dapp requested. It fills in a gas price and limit. When I go to change the price by clicking on the adjustment icon from the screen in the pics above, it updates, but changing the limit has no affect.

It appears, however, by clicking on the **edit** button in the top right, **adjustment icon**, **next** it then updates as expected.

[2018-06-07 17:34] bdresser commented on #4508
got it! thanks for the info, reproduced successfully. definitely worth fixing - heads up @danjm @danfinlay

[2018-06-07 17:43] danfinlay commented on #4440
I think that's a good looking proposal, we could easily add "Copy token address" to the menu there. Is probably simple enough to post a bounty for a community solution.

[2018-06-07 17:44] danfinlay commented on #4287
@bdresser Yes, this is almost definitely a storage failure of some kind.

[2018-06-07 17:47] #4462 closed

[2018-06-07 20:37] bdresser commented on #4492
@john-light are you still getting this error? might've been related to the same bug over the weekend that caused those other two issues.

[2018-06-07 21:15] bdresser commented on #4440
@danfinlay "Copy address" or just "View on Etherscan" ? Old UI does the latter which I kinda like

[2018-06-07 21:16] bdresser commented on #4444
@aremkay could you provide some more details? browser version, where you're seeing these "enable" / "disable" buttons, etc?

[2018-06-07 21:28] bdresser commented on #4444
Token balances and transactions aren't shown by default, you have to add them. Please read our [help article](https://consensys.zendesk.com/hc/en-us/articles/360004135092-Managing-ERC20-Tokens) on this topic and reach out to support@metamask.io with further questions.

[2018-06-07 21:28] #4444 closed

[2018-06-07 21:30] #28 closed

[2018-06-07 21:31] aremkay commented on #4444
The door slammed shut so fast that it hit my nose.
Apparently there is no response to my concern that assets in MetaMask are just not appearing, or being reported, by the app.
Fare thee well.

Sent from Mail for Windows 10

From: bobby dresser
Sent: Thursday, June 7, 2018 5:28 PM
To: MetaMask/metamask-extension
Cc: aremkay; Mention
Subject: Re: [MetaMask/metamask-extension] Suddenly disabled from

[2018-06-07 21:33] aremkay commented on #4444
Of course they have been added!

[2018-06-07 21:38] bdresser commented on #4444
didn't mean to bump you with the door @aremkay 😃 but we do deal with general user support in a different system. if this is a bug, we need a little more detail to be useful!

you're saying the extension is reporting a different token value than is actually on your account? could you provide a screenshot & address to help us debug (along with the basic info I requested above)?

[2018-06-07 21:39] #1702 closed

[2018-06-07 21:40] bdresser commented on #1705
@andytudhope closing this due to inactivity. if it's still an issue for you please feel free to reopen with an update!

[2018-06-07 21:40] #1705 closed

[2018-06-07 21:44] aremkay commented on #4444
Attached is a screenshot.
![meta mask](https://user-images.githubusercontent.com/39576626/41127804-0f649050-6a7a-11e8-956c-ec80220f0263.JPG)
As to the tech support address: I was being sent from there to there to here. I chirped where I landed. Like any bird.

[2018-06-07 21:47] bdresser commented on #4444
this doesn't help - is this the bug you're claiming to encounter?

if so, what do you see in the extension UI and how does this differ from the account balance on etherscan.

[2018-06-07 21:52] aremkay commented on #4444
Well I was lead to believe that XYO deposits into this wallet.
![meta mask 3](https://user-images.githubusercontent.com/39576626/41128248-7ec75300-6a7b-11e8-899d-c448e4f84df6.JPG)

[2018-06-07 21:55] bdresser commented on #4444
so if you follow the steps listed in this help article (https://consensys.zendesk.com/hc/en-us/articles/360004135092-Managing-ERC20-Tokens), and there's a balance of tokens on that address, you'll be able to see the tokens.

[2018-06-07 21:55] #1530 closed

[2018-06-07 22:10] bdresser commented on #253
@danfinlay this came up in the design call today -

[2018-06-07 22:10] #253 closed

[2018-06-07 22:18] aremkay commented on #4444
OK, so I follow the links and here is where it takes me. Another fork without a hint as to which turn is for me.

Sent from Mail for Windows 10

From: bobby dresser
Sent: Thursday, June 7, 2018 5:55 PM
To: MetaMask/metamask-extension
Cc: aremkay; Mention
Subject: Re: [MetaMask/metamask-extension] Suddenly disabled from Chrome, andwill not enable after clicking "enable". (#4444)

Well I haven’t a c

[2018-06-07 22:26] bdresser commented on #549
donezo https://consensys.zendesk.com/hc/en-us/articles/360004021332-Using-The-ShapeShift-Widget-with-MetaMask

[2018-06-07 22:26] #549 closed

[2018-06-07 22:28] bdresser commented on #577
@cjeria would you add your night mode designs to this ancient story? wonder if we could bounty or find a contributor to take this on, folks might dig it.

[2018-06-07 22:35] cjeria commented on #577
Yep! The UI here is a outdated and the colors might need to go through a more thorough accessibility test for colorblind @bdresser
![dark mode](https://user-images.githubusercontent.com/597770/41129679-0e7d5d3c-6a68-11e8-8f20-f523e02e1f11.png)

[2018-06-07 22:38] bdresser commented on #3162
if we're really shooting for a general population user base, it could make sense to start with the big picture and walk through the evolution of applications:

local programs where you're running the whole thing on your machine --> web apps w/ password-protected access to your data --> decentralized apps where you keep your own secret safe & prove ownership w basic crypography

[2018-06-07 22:39] tmashuang commented on #4444
I'll try to address the concerns in order from top to bottom:

Seems to render for you.

Both of these links shows you have tokens associated with the address you provided.
https://etherscan.io/token/0xaa19961b6b858d9f18a115f25aa1d98abc1fdba8?a=0xa56b17ac21a0460d33339a5ed2267f11faf8069d
https://etherscan.io/token/0x55296f69f40ea6d20e478533c15a6b08b654e758?a=0xa56b17ac21a0460d33339a5ed2267f11faf806

[2018-06-07 22:42] #658 closed

[2018-06-07 22:42] bdresser commented on #667
closing cuz greenkeeper has it covered 💪

[2018-06-07 22:42] #667 closed

[2018-06-07 22:51] aremkay commented on #4444
a) It just said at the top of ”the menu” – how was I to know to leave this site and go to another? I have now found it. But the confusion continues.
b) Token address, the token symbol – so I didn’t know the token address (where should I have acquired it?) I put in XYO. Nothing. That’s where I am at. It would have helped if there were a grey dimple of an address to make that clear.
c) So where do I

[2018-06-07 22:56] Obie-Wan opened #4529 "metamask js error on send button"
last Chrome on Windows 7
JS ERROR upon clicking NEXT button in send dialog:
Uncaught TypeError: Cannot read property 'negative' of null
    at i.cmp (ui.js:1)
    at i.gt (ui.js:1)
    at b.onSubmit (ui.js:1)
    at HTMLUnknownElement.r (ui.js:1)
    at HTMLUnknownElement.o (ui.js:1)
    at Object.o.invokeGuardedCallback (ui.js:1)
    at d (ui.js:1)
    at Object.executeDispatchesInOrder (ui.js:1)

[2018-06-07 23:04] greenkeeper[bot] opened #4530 "An in-range update of web3-provider-engine is breaking the build 🚨"
## Version **14.0.6** of [web3-provider-engine](https://github.com/MetaMask/provider-engine) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fweb3-provider-engine-14.0.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    <

[2018-06-07 23:12] aremkay commented on #4444
OK, so thank you.
(Suggestion: Long addresses [0xaa19961b6b858d9f18a115f25aa1d98abc1fdba8 for LCS] are best listed as follows: For LCS - 0xaa19961b6b858d9f18a115f25aa1d98abc1fdba8.
It took me a while to realize that I was pasting the last words as part of the token address.

But how do I find the address for next t ime?
I have not seen that MetaMask stores other tokens – am I mistaken?

Thank you

[2018-06-07 23:45] greenkeeper[bot] opened #4531 "An in-range update of tape is breaking the build 🚨"
## Version **4.9.1** of [tape](https://github.com/substack/tape) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Ftape-4.9.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>tape</code>
    </t

[2018-06-08 00:16] #4370 closed

[2018-06-08 00:16] bdresser commented on #4284
@2i101y1 if you're still having an issue, please email support@metamask.io!

[2018-06-08 00:16] #4284 closed

[2018-06-08 01:55] yuxulong00 opened #4532 "Multiple clicks on "Confirm" button sends multiple tx (New UI)"
Briefly describe the issue you've encountered
  *  Send transaction by new UI(Beta)
  *  Quickly click the confirm button
  *  Chrome 67
  *  MacOS 10.13.4

![image](https://user-images.githubusercontent.com/1438549/41134906-699ac72e-6b01-11e8-8cf9-5bef1a3a0e94.png)

I send only one transaction by metamask,in confirm page i quickly click the confirm button,then the ethscan show me 6 record(my addr

[2018-06-08 03:09] MicahZoltu commented on #4498
Remembering all is fine as long as there is a way to remove stale ones.  Alternatively, just remembering the last `n` used ones would work.  Personally, I would find value in it remembering the last 3-5 as during development I will test on Parity private node, Geth private node, Rinkeby, Kovan, Ropsten.  However, I would be "satisfied" with it just remembering the last one.

My preference (in orde

[2018-06-08 05:10] gre commented on #4204
@lazaridiscom yes

[2018-06-08 09:28] greenkeeper[bot] opened #4533 "An in-range update of classnames is breaking the build 🚨"
## Version **2.2.6** of [classnames](https://github.com/JedWatson/classnames) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fclassnames-2.2.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>

[2018-06-08 12:21] etienneroudeix opened #4534 "Whitescreen when validating a custom RPC transaction (firefox, chrome)"
Hi there,
I'am facing a problem sending a transaction on a custom RPC (a local ethereum blockchain running clique POA with a 1 block per second ratio). When I click the next button after setting the transaction amount in metamask, I either get an infinite loader or a white screen. I reproduce this on either firefox and chrome.

A metamask view (note there is a 1 notification for the transaction I

[2018-06-08 15:37] bdresser commented on #4230
consolidating to #4264

[2018-06-08 15:37] #4230 closed

[2018-06-08 15:38] bdresser commented on #4168
consolidating to #4264

[2018-06-08 15:38] #4168 closed

[2018-06-08 15:38] bdresser commented on #4476
consolidating to #4264

[2018-06-08 15:38] #4476 closed

[2018-06-08 16:22] JonnyBurger commented on #3505
Hi there,

sorry I have to give up this as well.
I figured out the memory issue at least.

The build step was bundle -> minify -> transpile, which gave one big file to Babel and that is why the memory issue occured.
Changing it to transpiling -> bundling -> minifying solved this issue.

However, it's true that is seems very hard to configure Babel to remove all `const`. Alternatively, I was also n

[2018-06-08 16:49] bdresser opened #4536 "Inconsistent token name spacing"
<img width="333" alt="screen shot 2018-06-08 at 9 45 56 am" src="https://user-images.githubusercontent.com/1016190/41170428-2893a58e-6b01-11e8-8242-7e3243bd5e88.png">

OMG's USD value needs a newline. Maybe related to recent fixes for super long token values.

[2018-06-08 17:51] tmashuang commented on #4264
What was the interaction that lead to this issue? Obviously it was a generating a transaction, but was it a tx from within MetaMask or a Dapp initiated one? If from a Dapp, which Dapp?

[2018-06-08 18:04] mukeshmali commented on #4457
@kumavis today is Friday ........ any update ... :P

[2018-06-08 18:08] vs77bb commented on #3505
Thanks for the honest update @JonnyBurger and appreciate you taking a look! Have a great weekend.

[2018-06-08 18:12] #1213 closed

[2018-06-08 19:34] #1818 closed

[2018-06-08 19:39] #1853 closed

[2018-06-08 19:50] #1901 closed

[2018-06-08 19:51] #1819 closed

[2018-06-08 20:09] #2014 closed

[2018-06-08 20:10] bdresser commented on #2012
this is done!

[2018-06-08 20:10] #2012 closed

[2018-06-08 20:15] bdresser commented on #2000
@oed or @christianlundkvist do you have any thoughts on this?

@danfinlay is this blocked (or at least helped) by MetaMask/eth-sig-util#18 ?

[2018-06-08 20:20] #2144 closed

[2018-06-08 20:22] bdresser commented on #2152
@macbem this is being tackled in MetaMask/Design#11 and MetaMask/Design#18 if you're still interested :)

[2018-06-08 20:27] #2333 closed

[2018-06-08 20:28] bdresser commented on #2316
hey folks - if you're still having trouble, please reach out to support@metamask.io

[2018-06-08 20:28] #2316 closed

[2018-06-08 20:33] bdresser commented on #2315
closing in favor of #2266. if you're still experiencing this, holler there.

[2018-06-08 20:33] #2315 closed

[2018-06-08 20:46] bdresser commented on #2215
blocked by [EIP 712](https://github.com/ethereum/EIPs/pull/712)

[2018-06-08 20:53] bdresser commented on #2287
@qjflores sorry for the long delay. is this still an issue for you on 4.7.4?

[2018-06-08 20:55] bdresser commented on #2463
also relates to #577

[2018-06-08 21:03] bdresser commented on #2447
request for click -> home screen here #2248

[2018-06-08 21:03] #2447 closed

[2018-06-08 21:04] bdresser commented on #2346
closing due to inactivity

[2018-06-08 21:04] #2346 closed

[2018-06-08 21:06] #2392 closed

[2018-06-08 21:07] bdresser commented on #2411
if you're still experiencing an issue, please reach out to support@metamask.io

[2018-06-08 21:07] #2411 closed

[2018-06-08 21:07] #2437 closed

[2018-06-08 21:08] #2585 closed

[2018-06-08 21:10] #2541 closed

[2018-06-08 21:10] #2534 closed

[2018-06-08 21:11] #2529 closed

[2018-06-08 21:12] bdresser commented on #2459
we believe this is fixed in the current version (4.7.4). if the problem persists, feel free to re-open this issue!

[2018-06-08 21:12] #2459 closed

[2018-06-08 21:13] #2513 closed

[2018-06-08 22:38] lazaridiscom commented on #4204
@gre, just to be sure:

I've identified this here as the relevant ledger software which has to be extended, is this correct?
* https://github.com/LedgerHQ/ledger-wallet-ethereum-chrome

What is this here about?
* https://github.com/LedgerHQ/blue-app-eth

And a final question: are you aware of any examples which interface to the LedgerEthApp, ideally in JS?

[2018-06-09 01:00] stefek99 commented on #3599
Another use case, happened to me 1 second ago:

* Remix.
* I want to deploy to Ropsten.
* Switch network...
* Hah!
* Back in a day, I was thinking Remix needs refreshing for some reason.
* Now I know it is Metamask behavior.
* No reload required...

[2018-06-09 04:49] phunsukwangdu commented on #4462
yes ,same error

[2018-06-09 07:59] RomanFro commented on #4264
@tmashuang I can't say for sure now, as it was 24 days ago, but most probably tx was generated in MEW. In old design it was just generating tx without blocking the interface, but when you have such tx and switch to beta interface everything get stuck like on the screenshot provided above.

[2018-06-09 09:14] gre commented on #4204
@lazaridiscom
- https://github.com/LedgerHQ/ledger-wallet-ethereum-chrome is the (soon legacy) chrome frontend app for Ethereum.
- https://github.com/LedgerHQ/blue-app-eth is the sourcecode of the ethereum app that runs on the hardware device

Not exactly sure about the LedgerEthApp question, you mean usages of @ledgerhq/hw-app-eth lib ?
maybe these can help:
- https://github.com/LedgerHQ/ledger-l

[2018-06-09 10:15] lazaridiscom commented on #4204
This will be replace by https://github.com/LedgerHQ/ledger-live-desktop ?

Yes, the links are fine.

[2018-06-09 10:43] lazaridiscom commented on #4204
@gre , the development branch of "leger-wallet-api" contains an ETH api, how stable is this and is it expected to be finalized (or will this become legacy, too) ?

https://github.com/LedgerHQ/ledger-wallet-api/tree/develop

[2018-06-09 14:01] gre commented on #4204
@lazaridiscom probably legacy (2 years old). yes, Ledger Wallet Ethereum Chrome will be replaced by https://github.com/LedgerHQ/ledger-live-desktop . I'm not yet sure what's our plan regarding opening or not our API to public usage, also we are likely to improve a lot our current api that have some issues with ethereum, so it's probably recommended to look at solution like Infura for now if you're

[2018-06-09 14:49] mukeshmali commented on #4457
Win Bug bounty reward from #Metamask  @kumavis

https://medium.com/metamask/metamask-bug-report-june-5-2018-428e91276142

[2018-06-09 15:28] Jeetsingh1944 opened #4537 "User Question: funds missing from account"

[2018-06-09 15:35] Jeetsingh1944 commented on #4537
My Ether has been stolen from my meta mask wallet, i transferred some Ether around 16:50 UK time on 06/06/2018. I disconnected my computer from internet and left i switched on my computer at 17:37 UK time to check status of transaction. It was still showing pending and no other transaction was visible. Next day i found someone else have stolen my all Ether from meta mask wallet at 17:05:25 UK time

[2018-06-09 15:45] lazaridiscom commented on #4204
I'm just looking to find the easiest path to access Ledger(Eth) from MetaMask, and want to ensure that I don't overlook something. What I'm missing most in the Ledger repos is a overview document, which lists all available software, clarifying their status.

You should provide at least the same api-functionality that the legacy apps provided. I mean, Ledger is an open system (I saw even the board-

[2018-06-09 16:52] HigyedArnold commented on #4504
Same issue here as well.
![error](https://user-images.githubusercontent.com/19395356/41194069-91b02e20-6c1e-11e8-889c-563b0729effc.PNG)

[2018-06-09 17:13] HigyedArnold commented on #4504
Issue solved! The problem is: I used a contract function with <contractInstance>.<function>.call(<parameters>) in order to get the object,string or boolean what that function was returning. The regular call, <contractInstance>.<function>(<parameters>) always returns the transaction receipt.

[2018-06-09 18:14] kumavis commented on #4537
@Jeetsingh1944 Just to clarify, metamask has never been hacked before.

That said, multiple users have fallen victim to phishing campaigns and malware. Did you ever enter your private key or seed phrase on a website claiming to be an airdrop? This is the most common way MetaMask users are victimized.

Here is another example of a recent phishing campaign against MetaMask:
https://www.reddit.com/r/

[2018-06-09 18:27] kumavis commented on #4464
this is blocked by
 - removing browserify transforms from package.json which is blocked by
   - removing test:flat
   - removing or rewriting mascara as an e2e test

[2018-06-09 18:28] kumavis commented on #4118
published

[2018-06-09 18:28] #4118 closed

[2018-06-09 18:29] kumavis opened #4538 "Build Sys: remove browserify transform from package.json"
we have a couple transforms in package.json which need to be moved to the build system

a couple pre-e2e integration tests rely on these being in package.json

[2018-06-09 18:31] kumavis opened #4539 "Test - Integration - Flat"
This test should be removed now that we have good `e2e` coverage

[2018-06-09 18:32] kumavis opened #4540 "Test - Integration - Mascara"
our mascara tests use a special build system which is blocking refactoring of our primary build system

mascara tests should be moved to an e2e style test, removed, or broken out into a separate repo

[2018-06-09 18:33] kumavis commented on #4464
added blockers to zenhub

[2018-06-09 19:12] kumavis commented on #4457
Bug Bounty award has been sent

[2018-06-09 19:12] #4457 closed

[2018-06-09 20:30] pdramorim commented on #2128
Hi guys, conscious that this is an old thread, but I am having the exact same concern here.

So, I too am trying to trade on ED with MM for the first time, I too am getting the exact same warning, and I too certainly do not feel like this is a site I can “fully trust with my entire account”. Especially after reading all the terrible user reviews and phishing reports that are out there.

That being

[2018-06-09 23:32] danfinlay commented on #4343
People getting frustrated over this bug:
https://www.reddit.com/r/Metamask/comments/8pn8dr/metamask_is_not_sending_transactions/?st=JI7O87RB&sh=abbb7290

[2018-06-10 04:44] greenkeeper[bot] opened #4541 "An in-range update of storybook is breaking the build 🚨"
## Version **3.4.7** of [storybook](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fmonorepo.storybook-3.4.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2018-06-10 14:05] Jeetsingh1944 commented on #4537
No i never entered my seed phrase and private key on any website. I have sent log files on the email address you gave. Please get back to me asap.

[2018-06-10 18:26] djaygit commented on #4457
@kumavis what about the lost ether? was it included in bounty? is it lost forever? am i supposed to get it from metamask team?
if its included in the bounty, then the bounty is not actually "25 ether" but 3.5eth?
if its not included in the bounty, Am i ever getting it back again?

[2018-06-10 19:41] williecorrea commented on #3314
I am having the same issue on opening Metamask on new computer. I do not want to change passwords or passphrases. When I click "import existing DEN it opens with the Wallet seed window and after I insert the seeds it still is asking to make a new password. WHY?

[2018-06-10 23:54] lazaridiscom commented on #4204
@jamespic wrote:

This suggestion gains validity, simply because the rest of the Ledger software (chrome apps) become/are legacy/unmaintained.

@gre, I understand that this is additional effort for you, but just in case, you need to allow extensions explicitly by name, which seems secure enough:

| allowed_origins | List of extensions that should have access to the native messaging host.     Wildc

[2018-06-11 06:10] scratchfive opened #4543 "Edge Extension doesn't load"
Expected Behavior:
MetaMask extension should load upon clicking.

Actual Behavior:
A blank box is loaded instead. Right clicking results in a browser crash and the extension being unloaded.

System specs:
Edge 42.17686.1003.0
Windows 10 Pro 17686.rs_prerelease.180603-1447

[2018-06-11 09:16] oed commented on #2000
Thanks for the ping @bdresser. I'll provide some insights that we have gathered from working with uPort on these kinds of issues below.

To me there are three major types of data that we would like to store.

#### Dapp specific data (cookies?)
Basically data that should only be accessed by the dapp that created it. An open question here is why should we be siloing data? What a dapp goes offline an

[2018-06-11 11:07] Jonathonx commented on #4169
I have two accounts created in metamask, up until recently when i logged in
it would remember the name of my primary account but my secondary account
would revert to its default state forcing me to re edit the name and add my
tokens back in again. The way metamask remembers account information
appears to be very temperamental in my experience.

On Wed, Jun 6, 2018 at 12:00 AM, bobby dresser <notif

[2018-06-11 13:07] Catley94 opened #4545 "Opening blank screen"
I have just installed Metamask on Firefox v60.0.1 on Ubuntu v 18.04
Everytime I open it, it has a blank screen and then closes a second later.
I was able to accept the terms and conditions but after it will not open.

Thanks,

Samuel Catley

[2018-06-11 13:09] #4508 closed

[2018-06-11 13:16] danjm opened #4547 "E2E test for transaction retry in new-ui"
This was originally requested as part of https://github.com/MetaMask/metamask-extension/issues/3949

However, this is blocked by https://github.com/MetaMask/metamask-extension/issues/1999

I am going to close #3949 with the merging of #4546, and am creating this ticket for the outstanding task.

[2018-06-11 14:50] scsaba commented on #4288
@vs77bb Could you please approve? /CC @owocki

[2018-06-11 16:44] kumavis commented on #4457
@djaygit we do not reimburse lost ether. backup of accounts is the responsibility of the user.

[2018-06-11 16:45] bdresser commented on #4545
thanks for reporting @Catley94.

I'm closing this as a duplicate of #4502, you can track progress on this issue there.

[2018-06-11 16:45] #4545 closed

[2018-06-11 16:46] #4504 closed

[2018-06-11 16:58] djaygit commented on #4457
@kumavis as you saw during the screenshare, we never got any private key for that account. you saw that right?

[2018-06-11 17:45] danfinlay commented on #4145
This error is for incorrect password, so it isn't a true error.

_However_, if this error is breaking our storage strategy, then _that_ is a serious issue.

We recently encountered a bug where an error thrown within an event-emitter handler would stop the emitter from emitting.

Is it possible that an error as simple as "incorrect password" could prevent MetaMask from writing to disk, breaking its

[2018-06-11 17:47] bdresser commented on #4145
let's file a separate issue for general error display - this doesn't need to be blocked on design

[2018-06-11 17:48] danfinlay opened #4548 "Create general purpose error display component"
Inspired by #4145.

Sometimes there are errors we haven't prepared for, and we should have a way to show them to the user.

[2018-06-11 17:52] danfinlay commented on #4261
We need to remove the form-persisting-id from the seed phrase box.

[2018-06-11 17:54] danfinlay commented on #4145
Possibly related to #4287

[2018-06-11 17:59] danfinlay commented on #4287
Reproduction steps:

- Add log to our disk writing logic.
- Remove the `debounce` from the storage stream in `background.js`, and go about using the application.
- Extension seems to silently fail writing to disk.

[2018-06-11 17:59] bdresser commented on #4296
is this possible without opening the inspector?

[2018-06-11 18:01] pdramorim opened #4549 "Signing a transaction - warning message"
Hello,

I've decided to try my hand at selling a few tokens on EtherDelta to see how it works. I'm using MetaMask, so whenever I try to place a sell order I get the following warning:

"Signing this message can have dangerous side effects. Only sign messages from sites you fully trust with your entire account. This dangerous method will be removed in a future version.”

Will signing this message g

[2018-06-11 18:03] bdresser commented on #4330
hoping this may be mitigated by #4524 – if the error persists once the patch is out, let us know

[2018-06-11 18:30] bdresser commented on #4549
hey @pdramorim - EtherDelta is using an older signing method called `eth_sign`. This presents data to you in an unreadable format, which prevents MetaMask from showing you the contents of what you're signing. A bad actor could present a transaction for some amount of ETH, ask you to sign it, then submit it to the network.

The action won't let the site access any of your other accounts. It doesn't

[2018-06-11 18:30] #4549 closed

[2018-06-11 18:32] bdresser commented on #2000
thanks @oed! lots of possibilities here – i think this could enable a lot of sophisticated dapps.

do you have any plans to work on an MVP?

[2018-06-11 21:36] pdramorim commented on #4549
Thanks for the quick reply @bdresser, much appreciated.

And apologies for the follow up, but just to be absolutely clear. Am I therefore right in understanding that even if I were to inadvertently sign an authorisation request presented by a bad actor, all I'd be risking would be the balance of whichever wallet I happen to be using with MetaMask in that particular moment? And that no private keys

[2018-06-11 21:36] danfinlay commented on #1661
@cheika03 It's almost definitely not `key3.db`, but it _might be_ in `browser-extension-data` somewhere. If you want to post a $1k bounty, you might want to post it somewhere like on [bounties network](https://bounties.network/), where bounty hunters are looking for jobs to do.

[2018-06-11 21:43] danfinlay commented on #4165
My guess is that your private network is not [EIP 155](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md) compliant. The way to make it compliant varies from client to client, but on geth the trick is to use the `--chainId` and `--networkId` flags set to the same value.

[2018-06-11 21:46] alkhwarizmi commented on #3314
Exact same problem here.

[2018-06-11 22:02] danfinlay commented on #4479
Right now this bug doesn't exist on old-UI because it just doesn't show the spinner on the settings page, which has the same ultimate effect: People can pick a new custom RPC even when they were just searching for one. I like this solution because it's easier to implement, but either would be good.

[2018-06-11 22:04] danfinlay commented on #3964
Thanks for clarifying, @EvilJordan.

Ethereum Magicians is meant to be a better EIP forum, where any cross-client standard (including new web3 methods) could be passed by the community.

It's especially useful when a method proposed would be cross-client, and so require buy-in from multiple clients (ideally), which is why this could be useful if you wanted Dapps to be able to request an xPub key.

[2018-06-11 22:06] bdresser commented on #3314
hey @williecorrea @alkhwarizmi @moresoon as the [article](https://metamask.helpscoutdocs.com/article/28-using-metamask-on-multiple-computers) mentions, this is completely expected behavior. Your password is only used on your own computer to encrypt your information locally. It's never sent to a server. If you're accessing the same MetaMask account on three different machines, you could have three

[2018-06-11 22:06] danfinlay commented on #4440
If it's just menu options, we could easily add both. I agree viewing on etherscan is nice.

[2018-06-11 22:08] danfinlay commented on #3162
Did a quick scan of my notes for possible scripts to mine.  Here's one:

You're going about your way, trying to use a web site, and it asked you to use MetaMask just to log in, so what gives?

When you sign into a website with MetaMask, you aren't signing into some central server and asking them to store your password, instead you're using modern cryptography to store your personal secrets locally

[2018-06-11 22:08] danfinlay commented on #3162
Here's the outline I used to write the original video's script:

Outline:
- Welcome to MetaMask!
    - In this video I’m going to talk about what MetaMask is, and why someone building a web app on the Ethereum blockchain might care.
- Ethereum is awesome.
    - It lets anyone issue their own currencies
    - create fair-trade supply chains
    - crowd fund projects for equity
    - let that equity

[2018-06-11 22:16] alkhwarizmi commented on #3314
Thank you for your kind reply.

I was scared because I didn't see my imported account but, as written in the document, they are not stored in your server which, in the end, I appreciate.

The point is that I am not accessing Metamask by another computer. I started using it yesterday on my PC via chrome extension and today I just tried to use it again.

This doesn't seem to be normal. Would you be

[2018-06-11 22:19] greenkeeper[bot] opened #4551 "An in-range update of ganache-core is breaking the build 🚨"
## Version **2.1.1** of [ganache-core](https://github.com/trufflesuite/ganache-core) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fganache-core-2.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2018-06-11 22:22] danfinlay commented on #2128
@pdramorim we've just added a new knowledge base article about this:
https://consensys.zendesk.com/hc/en-us/articles/360004427792#

In short: Signing a message only risks the account you are signing with. It gives no other powers to the site.

[2018-06-11 22:27] pdramorim commented on #2128
thanks for the clarification @danfinlay, much appreciated

[2018-06-11 22:33] bdresser commented on #3314
Not sure I understand your problem @alkhwarizmi

If you're trying to restore from seed ("import existing DEN") then it will indeed ask you to set a new password. After this process, you'll be able to use that password to unlock MM each time you want to use it.

If you have more questions, I'd encourage you to reach out to our support team at support@metamask.io

[2018-06-11 22:45] alkhwarizmi commented on #3314
Oh, apologies. Maybe I wasn't clear enough.

For the record, the point is that the chrome extension didn't ask me the old password at all.

The only thing I could do was creating a new account or regenerate it via DEN. So I HAD to regenerate, but that was not my intention.

Sincerely,

[2018-06-11 23:02] bdresser commented on #4102
@ravi27019 test faucet is working fine for me - you still seeing this error?

[2018-06-11 23:03] bdresser commented on #4089
closing this in favor of #4207

[2018-06-11 23:03] #4089 closed

[2018-06-11 23:03] #4078 closed

[2018-06-11 23:08] bdresser commented on #4075
@NextZeus that grey text displaying below the timestamp (`0x5e5...B3F7`) is the recipient address, not the transaction hash

[2018-06-11 23:08] #4075 closed

[2018-06-11 23:20] bdresser commented on #4074
@jchittoda are you still experiencing this issue?

[2018-06-11 23:21] bdresser commented on #4071
@Densi1 please email support@metamask.io with a copy of your [state logs ](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI)

[2018-06-11 23:21] #4071 closed

[2018-06-11 23:22] bdresser commented on #4064
@elie222 are you still experiencing this issue?

[2018-06-11 23:27] #4046 closed

[2018-06-11 23:27] #4045 closed

[2018-06-11 23:28] bdresser commented on #4038
@TheCryptoFan could you provide a little more detail, or close the issue if you're no longer experiencing this problem?

[2018-06-11 23:30] bdresser commented on #4035
hey @ARR552 sorry for the delay in response. Are you still experiencing this issue?

[2018-06-11 23:32] bdresser commented on #4006
hey @lsankar4033, we believe this was fixed in a recent release. can you confirm you're no longer experiencing this issue?

[2018-06-11 23:41] bdresser commented on #3963
hey all, Firefox is now up to the latest version (4.7.4) and I'm unable to reproduce this issue. could you update to the recent release and let us know if you're still having trouble?

[2018-06-11 23:43] #3928 closed

[2018-06-11 23:43] #3924 closed

[2018-06-11 23:55] #3890 closed

[2018-06-12 05:05] elie222 commented on #4064
I see this sort of thing happen occasionally. For others that run into this, I would recommend:

* restarting MetaMask (disable and reenable the Chrome extension for example)
* checking to see that you are running a node on the specified port (specific to local development networks)

[2018-06-12 07:20] rzelnik commented on #3963
I do have version 4.7.4 in my Firefox and the blank screen issue still appears. Maybe I should remove my old MetaMask user data?

[2018-06-12 09:01] oed commented on #2000
@bdresser we are already working on an mvp. Should have something to share soon :)

[2018-06-12 09:29] vittominacori commented on #4135
@frankiebee any update about this?

I'm developing an embeddable popup window that generates an address.
People should send payments to this address but when copy and try to paste on MetaMask, it closes my window and lost any progress.

[2018-06-12 11:22] Parz-val commented on #3430
I really do not agree that this is a 'developer feature'.  For some use cases, normal users have to use this data field.

[2018-06-12 12:47] gangachris commented on #3929
I'm on version 4.7.4, and this keeps happening.

[2018-06-12 13:07] jchittoda commented on #4074
Yes, recently I left Kovan network running in Chrome for some time and it started taking more memory. Ultimately I had to kill the MetaMask from Chrome.

[2018-06-12 14:28] mdranger commented on #4381
It seems the document is for the old ui. For the new UI, the following files need to be changed.
[code]

You need also add variables in these files
[code]

To display the message on the screen, the info needs to be added in this file
`app/_locales/en/messages.json`

After these steps, it seems to me that I need to modify the eth-keyring-controller package to add the URL, otherwise it won't work.
T

[2018-06-12 16:35] bdresser commented on #3929
@gangachris tracking this issue in #3314. any further detail you can provide would be helpful!

[2018-06-12 16:47] danfinlay opened #4553 "Extension bug: getPopup gets ANY popup, can close wrong popups"
On [this line](https://github.com/MetaMask/metamask-extension/blob/develop/app/scripts/lib/notification-manager.js#L96)

We should ensure that the popup we return is a MetaMask popup. This will ensure the other functions behave correctly.

[2018-06-12 16:55] bdresser commented on #4553
@danfinlay related to #4135 ?

[2018-06-12 17:23] danfinlay commented on #3963
@rzelnik That's very strange. If you were using Firefox Developer mode I'd ask you to look at the background console, but normal Firefox doesn't have this.

Do you have your seed phrase backed up? If so, remove & reinstall might work around your problem.

[2018-06-12 17:57] Ratnaram12 opened #4555 "Metamask wallet 0pan"

[2018-06-12 18:01] danfinlay commented on #2000
That's interesting stuff, @oed, looking forward to seeing what you're cooking up!

[2018-06-12 18:08] danfinlay commented on #4074
Soon we are replacing our entire provider stack, so it's possible that major change fixes this issue (or replaces it with a different one), so I think we should wait for this PR to be deployed before trying to address this:

https://github.com/MetaMask/metamask-extension/pull/4279

[2018-06-12 18:09] danfinlay commented on #4135
I believe we have identified the cause of this, and so I'm closing this issue in favor of #4553, where we can much more decisively fix this bug.

[2018-06-12 18:35] danfinlay commented on #4343
Does that fix work well cherry-picked on its own? Would be great to get it shipped sooner than we might want to ship the provider rewrite.

[2018-06-12 18:37] bdresser commented on #4555
@Ratnaram12 were you trying to say something? in the meantime, closing 😃

[2018-06-12 18:37] #4555 closed

[2018-06-12 19:14] kumavis commented on #4074
wow thats a lot of memory. thanks for the report!

[2018-06-12 19:16] kumavis commented on #4074
also TIL `chrome task manager`!

[2018-06-12 19:40] RobertoC27 opened #4559 "Internal JSON-RPC error is not specific enough"
Hello, i'm working with metamask and was testing a transaction that should trigger a revert statement inside my contract. When the error is thrown metamask gives the following output:
![image](https://user-images.githubusercontent.com/8262009/41312727-104e1850-6e45-11e8-96d2-2d61e06cab16.png)
this was while using Firefox with Metamask extension installed

the following is the result of using on Ch

[2018-06-12 19:54] bdresser commented on #3140
@psylinse @bitdom0 firefox is now up to date with Chrome & our most recent release (4.7.4) – are you still seeing this issue?

[2018-06-12 20:08] xenu256 commented on #3140
At least for me, all rpc 32603 errors are due to my own fault, like 3 reasons: 1) not having latest contract json in dApp, 2) migrations not reset, or 3) wrong network (json specifies one, you try to connect to another). Metamask works fine.

[2018-06-12 20:13] #4182 closed

[2018-06-12 20:15] #4175 closed

[2018-06-12 20:18] bdresser commented on #4136
@mallapurbharat @jevdiego Firefox is now up to date with our most recent release (4.7.4) and I'm no longer seeing this issue – could you confirm this is fixed?

(It's also fixed on the new UI, click in the top right and then "Try beta!")

[2018-06-12 20:18] #4135 closed

[2018-06-12 20:24] bdresser commented on #4129
As frankie mentioned, this is a warning that the global `web3` object will be deprecated in the future. You should begin to rely on `web3.currentProvider` instead. Read more [here](https://github.com/MetaMask/faq/blob/master/detecting_metamask.md#web3-deprecation)

[2018-06-12 20:24] #4129 closed

[2018-06-12 20:40] bdresser commented on #4054
hey @diondalton @dunnsa sorry for the delay. there have been a couple updates to the tx submit logic since this was filed - can you let us know if you're still experiencing this issue on 4.7.4?

[2018-06-12 20:46] bdresser commented on #4053
hey @jamesray1 @vlad-saling @RubenOlt thanks for reporting this & for your patience. we're aware of the issue but having trouble identifying the root cause.

we've created a bug bounty #3314 and i'll close this issue to consolidate the conversation there.

[2018-06-12 20:46] #4053 closed

[2018-06-12 20:46] bdresser commented on #3314
four reports of this issue from #4053 as well

[2018-06-12 20:52] #4049 closed

[2018-06-12 20:54] bdresser commented on #4012
@tplenge thanks for reporting and sorry for the delay. we're tracking this issue in #4047.

[2018-06-12 20:54] #4012 closed

[2018-06-12 21:11] bdresser commented on #4008
filed at MetaMask/eth-contract-metadata#100

[2018-06-12 21:11] #4008 closed

[2018-06-12 21:14] bdresser commented on #4003
hey @fuzzface, thanks for reporting. we've had several issues filed in this same category. for now, capturing all we can at #4287. any additional info you can provide is helpful!

[2018-06-12 21:14] #4003 closed

[2018-06-12 21:32] bdresser commented on #3920
sounds similar to #3253 or #4064.

@invent10n could you include more detailed steps to reproduce, or close if one of those two issues accurately describes what you're seeing?

[2018-06-12 21:39] bdresser commented on #3912
@cjeria what do you think?

[2018-06-12 21:41] bdresser commented on #3911
@jacktang sounds similar to #4064 and #2548.

next time you see this, could you pop open the console and let us know if the extension is throwing any errors?

[2018-06-12 21:41] #3911 closed

[2018-06-12 21:42] #3910 closed

[2018-06-12 21:45] bdresser commented on #3909
@andytudhope are you still encountering this issue? if you are, please send your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI-) to support@metamask.io and we can dig in there.

[2018-06-12 21:50] bdresser commented on #3898
hey folks - as @kumavis mentioned, we rolled back an update to how we handle txParams that may have caused this.

is anyone still experiencing this issue on 4.7.4?

[2018-06-12 21:52] bdresser commented on #3908
@rawadrifai are you still seeing this issue?

[2018-06-12 21:54] #3873 closed

[2018-06-12 21:54] #3871 closed

[2018-06-12 21:58] bdresser commented on #3822
@gkunthara closing this issue due to inactivity. if you're still having trouble and can provide some more detail, feel free to reopen!

(also sounds like it might relate to #4135 or #4553)

[2018-06-12 21:58] #3822 closed

[2018-06-12 21:58] #3821 closed

[2018-06-12 21:59] #3815 closed

[2018-06-12 21:59] #3813 closed

[2018-06-12 22:00] #3807 closed

[2018-06-12 22:17] bdresser commented on #3803
@micahalcorn is this still an issue / have you found a workaround?

[2018-06-12 22:19] bdresser commented on #3776
@danjm @alextsg spinner q's come up a lot, i think this small UI tweak to persist the network name while loading would make things a bit easier on folks. marking as P2, feel free to edit.

relates to #4479

[2018-06-12 22:23] bdresser commented on #3771
relates to #3896

[2018-06-12 22:33] bdresser commented on #3748
closing - haven't seen in three months

[2018-06-12 22:33] #3748 closed

[2018-06-12 22:58] bdresser commented on #4011
relates to #3703

[2018-06-13 00:48] HangYang commented on #4553
yeah, this is why the #4135 occurs.

[2018-06-13 03:11] jacktang commented on #3911
ok, I will test the latest version MM in two days. Thanks!

On Wed, Jun 13, 2018 at 5:42 AM bobby dresser <notifications@github.com>
wrote:

--
Jack Tang

http://www.linkedin.com/in/jacktang

[2018-06-13 03:35] john-light commented on #4492
@bdresser seems to work now, thanks!

[2018-06-13 03:35] #4492 closed

[2018-06-13 04:29] senpo commented on #3245
Same issue here. Saw the same 0 ETH balance issue when trying to import a ganache test account by its private key into MetaMask. Ganache is showing 100 ETH balance for that account.

Update #1: The issue still remains when switching to MetaMask beta.
<img width="303" alt="screen shot 2018-06-12 at 9 28 35 pm" src="https://user-images.githubusercontent.com/637605/41330324-a846e776-6e87-11e8-9687-b3

[2018-06-13 05:50] abitrolly commented on #3923
I think I reported the issue for 4.x already. Haven't used Metamask for a while. If there is a commit that touches these strings, then I guess it can be closed for now.

[2018-06-13 07:39] ARR552 commented on #4035
@bdresser Yes, i still have the same issue.
In beta ui i get a different error.
![imagen](https://user-images.githubusercontent.com/11256256/41336338-3f8c03f0-6eec-11e8-8f83-7a4906928d70.png)

[2018-06-13 08:41] rzelnik commented on #3963
Reinstalling of MetaMask doesn't solve the issue. I tried multiple new installations of several Linux distributions (Ubuntu, CentOS, Fedora). It's still the same - in Chrome/Chromium it works well, but in Firefox there's just an empty window, which hides immediately. In new installations, the Terms of Use are shown first, and then, after accepting, the empty window appears.

[2018-06-13 09:41] jevdiego commented on #4136
Yes, displays now. Thanks for the fix.

[2018-06-13 10:40] greenkeeper[bot] opened #4562 "An in-range update of image-size is breaking the build 🚨"
## Version **0.6.3** of [image-size](https://github.com/image-size/image-size) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fimage-size-0.6.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code

[2018-06-13 11:04] Polina97 opened #4563 "User Question: can I reject transaction in metamask from code?"
Hello. can anyone tell me if it is possible to reject transaction in metamask from code after few minutes, if user didn't submit or reject it by himself?

The problem is that the user of my site can submit transaction to my smart-contract within 2-3 minutes.  If the transaction is sent later, there is a possibility that the user will simply lose his/her ether

[2018-06-13 11:54] moresoon commented on #3314
I have chrome and firefox on the same computer, but they don't work with the same password. Normal ?

Sent from Yahoo Mail for iPad

On Wednesday, June 13, 2018, 3:46 AM, bobby dresser <notifications@github.com> wrote:

four reports of this issue from #4053 as well

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-13 12:27] danjm commented on #4213
This should be fixed on develop. @tmashuang can you confirm?

[2018-06-13 12:30] danjm commented on #3414
@haydenadams what browser (and browser version) are you using?

[2018-06-13 13:47] arashkiani opened #4564 "executing estimateGas() return meta mask error"
Executing the following code in both Chromium & Firefox returns error.

[code]
  *  Browser (Chromium (Meta Mask 4.7.4 ) & Firefox (Meta Mask 4.2.0 ))
  *  OS: Ubuntu
  *  Network : Rinkeby

**in Chromium:**

{code: -32603, message: "Error: gas required exceeds allowance or always fa…ogaeaoehlefnkodbefgpgknn/background.js:1:1070602)"}

Denying load of chrome-extension://.../background.js. Resource

[2018-06-13 17:02] bdresser commented on #3245
@senpo @souravray rather than connect to `localhost:8575` try clicking "Custom RPC" in the network drop-down, then entering `http://127.0.0.1:7545` in the "New RPC URL" - my Ganache account balances show up fine.

[2018-06-13 17:32] #4136 closed

[2018-06-13 17:37] bdresser commented on #3314
@moresoon Yes - the password is specific to the browser. It's used to encrypt your data locally, and never leaves the browser you set it up on. You could access the same wallet from two different web browsers and use two totally different passwords.

[2018-06-13 17:42] bdresser commented on #4213
@danjm yes i see it fixed on develop 👍

[2018-06-13 17:47] bdresser commented on #3414
@danjm i see this too, but only for token transfers - they use a different component that still shows the large round address avatars

**sending ETH**
<img width="200" alt="screen shot 2018-06-13 at 10 44 38 am" src="https://user-images.githubusercontent.com/1016190/41368502-f85196f2-6ef6-11e8-8b73-06cc15bbc6e1.png">

**token transfer**
<img width="200" alt="screen shot 2018-06-13 at 10 44 15 am"

[2018-06-13 18:07] haydenadams commented on #3414
@danjm Chrome  version 67.0.3396.87

@bdresser I get it when making trades on the automated market maker I'm building. Here's a link to the testnet (Rinkeby) demo if you want to try and reproduce the bug: https://uniswap.io/

[2018-06-13 18:15] williecorrea commented on #3314
Thanks

"There is no crisis in energy, the crisis is in *IMAGINATION*" ~
Buckminster Fuller

The Transition is ON!!!

On Wed, Jun 13, 2018 at 1:37 PM, bobby dresser <notifications@github.com>
wrote:

[2018-06-13 18:39] bdresser commented on #3414
interesting, I'm on Chrome 67.0 and MM 4.7.4 and can't reproduce. tried ETH to token, token to ETH, token to token. (nice site btw 😃)

could you upgrade to 4.7.4 and try again? (head to chrome://extensions and click "update" if is hasn't auto-updated to 4.7.4)

and if you still see the error, some more detail on how to reproduce will be helpful

[2018-06-13 18:50] haydenadams commented on #3414
I'm on MM 4.7.4 now. I just tried a different transaction in a different DAPP and I get the same error.

I'm using a 15.4-inch (2880 x 1800) MacBook pro (maybe a screen resolution thing?). Chrome zoom set to 100%. Not sure what other details are helpful here.

[2018-06-13 19:07] #3823 closed

[2018-06-13 21:29] jgiles opened #4567 "Permit sending to zero address for burn"
Currently, the Metamask UI (both the old and the new) does not accept `0x0000000000000000000000000000000000000000` as a valid destination address for ERC20 token transfers.

A user should be able to send a transfer to that address as an explicit "burn" operation. A warning in the UI would be nice, but there are scenarios where it is desirable to explicitly burn tokens, and transferring to the zero

[2018-06-13 22:21] GeeeCoin commented on #2515
Has there been any progress made on this issue? I have to restore from seed phrase every day, thanks!

[2018-06-13 23:02] bdresser commented on #2515
@GeeeCoin we think it's related to an issue with user storage that's been hard to track down. We've created a bug bounty for the issue at #3314 if you're interested in helping out.

next time this happens, could you pop open the chrome console and let us know if you see any errors?

[2018-06-13 23:17] greenkeeper[bot] opened #4569 "An in-range update of ganache-cli is breaking the build 🚨"
## Version **6.1.3** of [ganache-cli](https://github.com/trufflesuite/ganache-cli) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fganache-cli-6.1.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2018-06-13 23:30] GeeeCoin commented on #2515
@bdresser  I checked earlier today. Looked for Metamask output in the console and nothing was logged. It happens everyday though; I have to paste in my seed phrase. I don't mind doing it, but customers will when apps/dapps try to roll out MM implementations!

[2018-06-13 23:32] bdresser commented on #2515
thanks for checking @GeeeCoin.

Agree, super not ideal. We'll let you know when we track it down.

[2018-06-13 23:35] danfinlay commented on #3414
Chrome extension zoom level is per-extension. It's pretty weird. So if you click the "full screen" button in MetaMask, and you adjust the zoom while in full-screen mode, that adjusts the size of everything in the popup, too. Is it possible you adjusted your zoom, @haydenadams? (It doesn't really look like it to me, but worth checking)

[2018-06-13 23:49] GeeeCoin commented on #2515
I do have a uBlock JS blocker extension, but testing with it toggled on or off, I don't see a differential. Login seems to work for a while and then it doesn't. Also, I've noticed a higher priority vulnerability: seed phrases that are pasted into the restore text box don't clear the words if the extension is minimized. Once you click open the extension, you can access the word phrase after clickin

[2018-06-13 23:56] bdresser commented on #2515
@GeeeCoin tracking the seed phrase issue in #4261

[2018-06-14 02:57] qjpcpu commented on #3475
i need this feature too

[2018-06-14 05:17] davedjunaidi888 commented on #3330
could anyone please help....i could not see my newly added accounts....
i forgot to make note of private key, but i have initial password
would that help?

[2018-06-14 07:06] rzelnik commented on #3963
Ok, I have Firefox Developer Edition with MetaMask installed. The first thing that I noticed is an error message in Debug Addons list:

Reading manifest: Error processing background.persistent: Event pages are not currently supported. This will run as a persistent background page.
Reading manifest: Error processing externally_connectable: An unexpected property was found in the WebExtension manife

[2018-06-14 07:23] amexperts commented on #2999
Any update on this?

[2018-06-14 07:31] deniscoman opened #4572 "Bug in mozzila after last update (14.06)"
Yesterday it worked perfectly, but today it doesn't work at all in mozzila. For chrome it's ok except that custom RPC problem.
![screenshot from 2018-06-14 10-26-30](https://user-images.githubusercontent.com/29035132/41397839-1ec2c8c0-6fbe-11e8-8baf-23d298076110.png)

[2018-06-14 07:33] deniscoman commented on #4572
I tried to reinstall it, but nothing happend.

[2018-06-14 08:23] greenkeeper[bot] opened #4573 "An in-range update of react-markdown is breaking the build 🚨"
## Version **3.3.3** of [react-markdown](https://github.com/rexxars/react-markdown) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Freact-markdown-3.3.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2018-06-14 09:13] tschoffelen commented on #4178
I have the problem that after a day or two, when opening MetaMask again (in Chrome), my custom added tokens have disappeared out of the left drawer menu, and I have to add them again for them to show up.

[2018-06-14 10:59] jasperdg commented on #563
Even if I reinstall Brave my metamask data gets saved and asks for seed/password. What to do?

[2018-06-14 15:32] bdresser commented on #4178
@tschoffelen we're aware of a variety of storage-related issues like the one you mention. there's a bug bounty #3314 if you're able to help identify the root of the problem! we have a couple leads and will report there with updates.

[2018-06-14 15:34] bdresser commented on #4572
thanks @deniscoman - we're tracking this issue in #3963

[2018-06-14 15:34] #4572 closed

[2018-06-14 15:38] #4354 closed

[2018-06-14 15:38] #4355 closed

[2018-06-14 15:38] #4367 closed

[2018-06-14 15:38] #4376 closed

[2018-06-14 15:38] #4377 closed

[2018-06-14 15:38] #4378 closed

[2018-06-14 15:38] #4379 closed

[2018-06-14 15:38] #4387 closed

[2018-06-14 15:38] #4454 closed

[2018-06-14 15:38] #4455 closed

[2018-06-14 15:38] #4456 closed

[2018-06-14 15:38] #4475 closed

[2018-06-14 15:38] #4487 closed

[2018-06-14 15:38] #4488 closed

[2018-06-14 15:38] #4521 closed

[2018-06-14 15:38] #4522 closed

[2018-06-14 15:38] #4526 closed

[2018-06-14 15:38] #4530 closed

[2018-06-14 15:38] #4531 closed

[2018-06-14 15:38] #4533 closed

[2018-06-14 15:38] #4541 closed

[2018-06-14 15:38] #4551 closed

[2018-06-14 15:38] #4562 closed

[2018-06-14 15:38] #4569 closed

[2018-06-14 15:38] #4573 closed

[2018-06-14 15:40] bdresser commented on #3330
@davedjunaidi888 always back up your seed phrase! if you're logged in, you can click the menu in the top right, then "Settings," then "Reveal seed phrase." Keep it safe; if you don't have it we can't help you!

to see your newly added accounts, click "create account" again and it will recreate the same account you used to have.

[2018-06-14 16:28] #4213 closed

[2018-06-14 17:00] danfinlay commented on #1975
This was just fixed.

[2018-06-14 17:00] #1975 closed

[2018-06-14 17:01] danfinlay commented on #940
This is merged and live! We just need to publicize how to develop extensions for MetaMask compatibility now!

[2018-06-14 17:23] danfinlay opened #4577 "Document developing extensions to interact with MetaMask"
We added the ability to create other webextensions that request transactions from MetaMask in #3997, but we haven't yet documented this great new feature!

Since this will involve creating a port to the other extension, it's likely this will benefit from creating modules for our `port-stream.js` and `inpage-provider.js` modules, so consumers can just import those, but I'm not 100% sure they will f

[2018-06-14 17:37] #4270 closed

[2018-06-14 18:31] kumavis commented on #4287
Fixed by https://github.com/MetaMask/metamask-extension/pull/4570

[2018-06-14 18:31] #4287 closed

[2018-06-14 18:33] danfinlay commented on #2999
No, sorry, this hasn't received any attention at all.

I’ve taken the steps to reproduce, here is what I did, and what I found:

Solidity
[code]

Deployed to Ropsten at `0x64488483c613753cb33ef160cbb3ed8c7e866c08`

For account `0xc5b8dbac4c1d3f152cdeb400e2313f309c410acb`

When balance is fetched like this:

[code]

it returns:

`{“jsonrpc":"2.0","id":1,"result":"0x3a5511a089c2f180”}`

We call to i

[2018-06-14 19:06] bdresser opened #4579 ""Insufficient gas" error needs formatting"
small formatting nit with the red error message shown when my account doesn't have enough to cover the gas:

<img width="346" alt="screen shot 2018-06-14 at 12 04 13 pm" src="https://user-images.githubusercontent.com/1016190/41432491-2c0f973a-6fcb-11e8-8e62-2cd4cbcc4f35.png">

<img width="754" alt="screen shot 2018-06-14 at 12 04 29 pm" src="https://user-images.githubusercontent.com/1016190/414324

[2018-06-14 19:08] tmashuang opened #4580 "No Errors shown when Importing Account Error"
![screenshot from 2018-06-14 11-52-48](https://user-images.githubusercontent.com/13376180/41432668-917ba438-6fcb-11e8-8bd5-052f51b58a84.png)

[2018-06-14 19:18] tmashuang opened #4581 "E2E: Test sending tokens"
Test sending tokens

[2018-06-14 19:34] tmashuang commented on #4564
This might issue might have more traction on stack exchange/overflow.

Here's a link to [Ethereum Stack Exchange Error Gas Allowance](https://ethereum.stackexchange.com/search?q=gas+required+exceed+allowance) that others have asked and possible solved.

[2018-06-14 19:34] #4564 closed

[2018-06-14 19:55] bdresser commented on #4145
possibly fixed by #4570

[2018-06-14 20:02] bdresser commented on #3415
probably needs to come after #3824

[2018-06-14 20:03] #3399 closed

[2018-06-14 20:04] bdresser commented on #3392
In general please be vigilant about phishing scams! You can read [this recent blog post](https://medium.com/metamask/new-phishing-strategy-becoming-common-1b1123837168) for more info.

For help with a particular issue, please email support@metamask.io

[2018-06-14 20:04] #3392 closed

[2018-06-14 20:05] bdresser commented on #3360
closing due to inactivity. if this is still an issue, please feel free to re-open with details on how to reproduce.

[2018-06-14 20:05] #3360 closed

[2018-06-14 20:19] tmashuang opened #4583 "Issue with new notice not getting pushed in new version"
I have tried simulating the extension updating, loading release `4.7.4` then manually deleting the folder contents and replacing them with the develop branch. I was not able to view the new notice that was added. The `noActiveNotices` is still set to `true`.

[2018-06-14 21:17] danfinlay commented on #2973
I believe this is fixed by #4557, and will be fixed in our next release (should be very soon!)

[2018-06-14 21:17] #2973 closed

[2018-06-14 21:55] tmashuang commented on #4580
Left is current, right is development.

[2018-06-14 22:28] danfinlay commented on #4145
I don't think this is fixed by #4570. While that PR fixes one type of storage bug, this issue here is about showing when other errors happen.

[2018-06-15 08:36] vittominacori commented on #4553
Is anyone working on or are we waiting for PRs?

[2018-06-15 09:48] TrejGun commented on #4176
probaly chinese language is not your issue

<img width="363" alt="screen shot 2018-06-15 at 17 45 55" src="https://user-images.githubusercontent.com/185285/41462026-17adad5a-70c4-11e8-8933-323df59f0ea9.png">

[code]
works just fine

[2018-06-15 14:48] Douglasacost commented on #2548
@danfinlay in the server the datetime doesn't mismatch from network

[2018-06-15 16:02] danfinlay commented on #4553
It does not appear anyone is working on this (no assignee, no comments announcing intention to work on this). We may post a bounty on this soon, but we also might solve it ourselves soon.  If you'd like to take a pass, you're welcome to.

[2018-06-15 19:15] vittominacori commented on #4553
It breaks my DApp logic so I could try to work on next week, having time...

Bounties are welcome :)

[2018-06-15 19:52] greenkeeper[bot] opened #4587 "An in-range update of karma is breaking the build 🚨"
## Version **2.0.3** of **[karma](https://github.com/karma-runner/karma)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fkarma-2.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <code>[karma](

[2018-06-15 19:55] bdresser commented on #4553
a full solution should also address #4135, allowing the MetaMask popup to open even if another site's popup is already showing.

[2018-06-15 20:06] bdresser commented on #4553
full solution should also include a test for this behavior! 😺

[2018-06-15 20:13] bdresser commented on #4440
bounty should add two options below the "Hide Token" option on our Beta UI

(1) "Copy Contract Address"
(2) "View on Etherscan"

@alextsg or @danjm can help with specific questions

[2018-06-15 20:37] cjeria commented on #4440
Sounds like a good quick-n-dirty solution for adding new controls. Since this is a common functionality of all tokens, we should probably create a new design issue for a potentially better placement of these controls. I while ago we talked about possibly repositioning token-specific action controls somewhere within the token balance view.

[2018-06-15 20:48] bdresser commented on #4440
@cjeria that makes total sense. let's use this to get the new UI to parity with the old for rollout, and that sounds like an awesome evolution once new UI is out to 100%. sound good?

[2018-06-16 00:37] lazaridiscom commented on #4577
related: #4322

[2018-06-16 01:12] lazaridiscom commented on #4383
@danfinlay although this would work, it's (soon-to-be) legacy-software. I'm closing as "wontfix". There is another path which uses the latest ledger software (e.g. no legacy, no need to dig into Scala etc.).

[2018-06-16 01:12] #4383 closed

[2018-06-16 01:54] danfinlay commented on #4383
Looks like the same situation for Trezor. They now have a native app to connect to.

[2018-06-16 09:15] jerry-sl opened #4589 "[Metamask beta] send erc20 token failed with network disconnect, but etherscan shows two success token transfer."
Bug Reports:

  I use Metamask BETA sending erc20 token, it quickly show failed at transactions list.
But when I check etherscan.io it show two same token transfer success.
  *  Expected Behavior
I should fail with no transaction or only one token transfer success.
  *  Actual Behavior
Two same transfer token success.
  *  Browser Used
chrome
  *  Operating System Used
Mac OS High Sierra

Screensh

[2018-06-16 11:14] HaiNguyen14 opened #4590 "MetaMask is safe 100%?"
Metamask uses a (possibly centralized) repository to store information of wallet accounts. Is this a worrying issue? The worst thing that can happen is that the repository has problems such as being hacked.

[2018-06-16 12:07] DrShanti commented on #1544
yes, I agree, how to fix this problem on MetaMask?

[2018-06-16 14:07] skrishnan99 commented on #3383
Is the unlock pop up currently a released feature of metamask. If yes, then as a dapp developer, If you want to use this pop up window as part of your UX instead of having the users click the plugin and login in themselves, how would you do it? Thanks for the help.

[2018-06-16 16:40] bdresser commented on #4440
hey @scsaba, thanks for the fast turnaround and good work!

apologies for not including a visual mock - we'd like this to match the other dark menus throughout the extension. could you add a little more padding between each menu option? check out the "My Accounts" dropdown in the top right of the extension, and the `menu__item` and `menu__item--clickable` classes. let me know if you have questions

[2018-06-16 16:44] bdresser commented on #4590
@HaiNguyen14 accounts and passwords are stored only on your device, never on a central server.

[2018-06-16 16:44] #4590 closed

[2018-06-16 21:14] rumkin commented on #4257
Task that you provided is enhancement and still in progress since April till now. That's why I wrote "Please take this seriously".

This information should be published on your site and in extension. You ought to inform your users about vulnerabilities. Especially if you cannot fix it immediately.

[2018-06-16 21:42] lazaridiscom opened #4593 "[TASK] Implement mm-ledger-gateway"
affects #4060
<hr/>

(draft)

## Problem

USB access is not allowed for extensions, thus the Ledger hw-wallet cannot be accessed directly by MetaMask.

## Solution Summary

* Implement a "mini-metamask" within a chrome app, which accesses the ledger device directly
* Only the minimal functionality needed is implemented
* Allow the metamask-extension to connect to this "mini-metamask" chrome app

#

[2018-06-16 22:03] lazaridiscom commented on #4204
Closing, all relevant info moved over to #4060.

[2018-06-16 22:03] #4204 closed

[2018-06-17 00:53] lazaridiscom commented on #4383
With Ledger, we have still an option (or even two) to avoid the Native App (thus MetaMask can work with Ledger without having to open the Native App). See within #4060, should be the final path now.

[2018-06-17 03:58] danfinlay opened #4594 "Fix compatibility with LINE Browser Extension"
Apparently MetaMask is preventing usage of the LINE browser extension.

I was unable to reproduce on my mac.

Randy (support) was able to reproduce this issue.

We need detailed reproduction steps, including the operating system & browser.

[2018-06-17 04:08] danfinlay opened #4595 "IDEX exchange may be suffering some hacks"
Following up from [this MetaMask subreddit post](https://www.reddit.com/r/Metamask/comments/8r3nsu/help_me_please_somebody_stole_my_ethers/), where a user says after using IDEX, they had ether stolen.

If you trace where their transaction was stolen to, it goes through multiple accounts, especially being routed through this account, which has many transactions on it of people making similar claims

[2018-06-17 07:01] haydenadams commented on #3414
@danfinlay Sorry about the slow response. Wow you're right! I have chrome on 125% zoom by default since I have a large high res display and thats what was causing the issue. Opening MetaMask in fullscreen and zooming it out fixes the issue.

I still think this should be considered a bug though. Before fixing it was very annoying from a UX perspective, the fix was non-intuitive and the issue was a

[2018-06-17 09:33] nolash opened #4596 "Hello world"
I have 4 accounts on my chromium metamask plugin. I run this snippet via http on localhost

[code]
console outputs:

[code]

Why is account undefined? Is there any particular setup required first?

Running `Version 67.0.3396.87 (Official Build) Arch Linux (64-bit)`

[2018-06-17 14:16] HaiNguyen14 commented on #4590
okay, thank

[2018-06-17 17:11] cjeria opened #4598 "Token Specific Controls (dropdown)"
@bdresser Here's what I was thinking for consolidating token specific controls.

![image](https://user-images.githubusercontent.com/597770/41510237-d0777fb2-7215-11e8-9cea-6321acd024a8.png)

In full page mode, the "expand view" option is hidden since we're in full page mode. Thoughts?
![full page mode](https://user-images.githubusercontent.com/597770/41510269-5e91e1b6-7216-11e8-8066-1621e4a3aaf7.p

[2018-06-17 17:21] cjeria commented on #4598
@danfinlay @kumavis  ^^

[2018-06-17 17:45] rdymac commented on #4594
I was able to reproduce this issue on a Mac by installing the extension and login in to LINE on it. Then try clicking the MetaMask extension icon and the LINE app popups with the prompt message "to leave".

macOS High Sierra
version: 10.13.5 (17F77)

Google Chrome
67.0.3396.87 (Build oficial) (64 bits)

[LINE Chrome Extension](https://chrome.google.com/webstore/detail/line/ophjlpahpchlmihnnnihgmme

[2018-06-18 02:31] neocodes opened #4599 "Unable to send Ethereum from Metamask"
I'm running windows 8.1 and using chrome and latest MetaMask.

While sending ETH I am able to put all the details including adjusting gas price etc.
Now while submitting the transaction the screen is getting stuck, like below:
![image](https://user-images.githubusercontent.com/12828698/41510174-75b14cbc-727d-11e8-8e53-ad81791c5016.png)

But unable to locate the transaction hash. (not clickable)
![

[2018-06-18 04:45] kaydub99 opened #4600 "Seed words Invalid - Previous suggestions have not helped"
Hello,

I have had an issue with our MetaMask account for quite some time. I have tried to login with the seed words, however the error still says seed words are invalid.  I have read the other issue regarding invalid seed words and have tried the suggestions (copy/paste, ensure all words are spelled correctly, lower case only, only 1 space between words) made there, however I am still unable to g

[2018-06-18 06:04] jchittoda commented on #3127
Sometimes when I have some imported PKs in my MetaMask and also modified the names of the accounts, then after some browser restarts MetaMask re-arrange the accounts based on the name of the account. So if this sorting creating the problem then this might be the case also when importing new seed.
Sometimes also observed that the names are not stored in MetaMask even after doing multiple attempts.

[2018-06-18 06:05] jchittoda commented on #3979
I am also facing this problem. When I import multiple PKs and browser just restarts, this clears the imported PKs.

MacOS 10.13.5
Google Chrome Version 67.0.3396.87 (Official Build) (64-bit)

[2018-06-18 16:40] bdresser commented on #4598
@cjeria looks good to me, like the icons too. for now, i think it makes sense to get in #4591 to reach feature parity with the old UI in minimal dev time. once the new UI is default, we can neaten up & iterate. is that okay by you?

more generally, i have some questions about the logical distinctions between the top-right accounts menu, the tray on the left, and the different token views.

[2018-06-18 16:42] bdresser commented on #1930
[EIP 712](https://eips.ethereum.org/EIPS/eip-712) is merged! unblocked ~

[2018-06-18 16:45] bdresser commented on #2838
@Levino @rtheunissen is your Hangout running in a browser tab or as a popup?

[2018-06-18 17:29] #4440 closed

[2018-06-18 17:44] Levino commented on #2838
Popup

[2018-06-18 17:50] bdresser commented on #2838
gotcha, sounds like this is related to #4553 and should be fixed shortly.

[2018-06-18 17:58] bdresser commented on #4440
thanks @scsaba ! nice work

[2018-06-18 18:06] bdresser commented on #4567
@danfinlay @kumavis you cool with this? if so, would make a nice starter issue or small bounty

[2018-06-18 18:09] bdresser commented on #3034
@danfinlay why not just show auto-detected tokens in the side tray?

I think "Add tokens" can be a little confusing for a non-pro user. they don't want to necessarily "add" a token to a given account, but want to display the tokens they've already acquired. we could potentially just avoid that whole doublethink.

@cjeria any thoughts here?

[2018-06-18 18:10] bdresser commented on #4600
hi @kaydub99, sorry to hear about your trouble. For user issues like this, please reach out to support@metamask.io and include a copy of your [state logs](https://consensys.zendesk.com/hc/en-us/articles/360004133432-How-to-Download-State-Logs-New-UI) to help them debug.

[2018-06-18 18:10] #4600 closed

[2018-06-18 18:40] cjeria commented on #3034
@bdresser I totally agree. Auto-loading tokens means less friction for the user which == better ux. I think the add token feature is still useful for pro-users to add custom tokens, test, etc. But for the average user, this sounds like great ux!

[2018-06-18 18:42] greenkeeper[bot] opened #4601 "An in-range update of @material-ui/core is breaking the build 🚨"
## Version **1.2.2** of **[@material-ui/core](https://github.com/mui-org/material-ui)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2F%40material-ui%2Fcore-1.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>

[2018-06-18 18:44] cjeria commented on #3034
We also need the add token feature so that users who have chosen to hide their token(s) can re-add them later.

[2018-06-18 18:58] scsaba commented on #4440
Thank you guys!

[2018-06-18 19:31] #4583 closed

[2018-06-18 19:33] Powersource commented on #2919
There's recently been added a way to do this https://github.com/MetaMask/metamask-extension/issues/4577

[2018-06-18 19:40] cjeria commented on #4479
This sounds like a good opportunity to time-out with a message to "Try again" and link to the settings page per @bdresser suggestion. Easy enough to create a design for if this sounds like a desirable implementation.

[2018-06-18 19:42] cjeria commented on #3912
@Snoogins Is the desired feature that you're suggesting specific to GWEI or would you be happy with a selection much like the screenshot attached but for gas fee.

We've done a lot of thinking and designing around gas controls. Would like to understand you're use-case better.

[2018-06-18 19:51] cjeria commented on #3912
Here's one of our designs with the new segmented gas control

![image](https://user-images.githubusercontent.com/597770/41558630-3dd05cce-72f6-11e8-8a6e-7c5497eea5b3.png)

[2018-06-18 20:52] danfinlay commented on #4427
Fixed by #4513.

[2018-06-18 20:52] #4427 closed

[2018-06-18 22:11] techieanant opened #4604 "Stuck on "Connecting to Unknown Private Network" when connecting to HTTP endpoint on local network"
I have geth running on a raspberry pi with following settings:
--syncmode "light"
--rpc
--rpcaddr "10.0.0.145"
--rpcapi db,eth,web3
--rpcport 8545
--rpccorsdomain "*"

I'm able to connect to Geth Javascript Console from a different machine on the same network by typing "geth attach http://10.0.0.145:8545". I'm also able to send and receive transactions using MEW chrome plugin while connected to th

[2018-06-18 22:42] danfinlay commented on #3383
@skrishnan99 We haven't created this feature yet, but we are planning to implement the API as proposed here:
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1102.md

[2018-06-18 22:53] bdresser commented on #4599
@neocodes do you see any errors in the javascript console when this happens?

and to clarify - you see the spinner get stuck, then you close the extension, and when you re-open you're on the main screen showing two transactions? or are these two separate issues.

[2018-06-18 23:20] danfinlay commented on #4567
I would have strict criteria for when this was allowed. I am not very interested in enabling this, because so many users find such creative ways to send to the zero address when it's possible. For example, users accidentally resolving their ENS addresses to 0. Or a dapp being misconfigured to send to 0.

Burning ether and tokens seems really great and cool, until you didn't mean to do it. I'd rank

[2018-06-18 23:22] danfinlay commented on #1930
Blocked by us actually implementing EIP 712 per spec.

[2018-06-19 14:05] greenkeeper[bot] opened #4609 "An in-range update of react-markdown is breaking the build 🚨"
## Version **3.3.4** of **[react-markdown](https://github.com/rexxars/react-markdown)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Freact-markdown-3.3.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td

[2018-06-19 16:46] greenkeeper[bot] opened #4611 "An in-range update of prop-types is breaking the build 🚨"
## Version **15.6.2** of **[prop-types](https://github.com/facebook/prop-types)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fprop-types-15.6.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <

[2018-06-19 17:53] erchaves commented on #3505
I'm not 100% sure, but at a glance, I think Babel is not setup to transpile const and let, but [traceur](https://github.com/google/traceur-compiler/wiki/Getting-Started) could do this for you. It doesn't seem like it would make sense to introduce that into the actual codebase to solve this problem just for really old legacy browsers. But if some folks _really_ needed to find a work around, I suppo

[2018-06-19 19:15] aliparlar opened #4613 "Disabled/Enabled Extension > Accounts lost!"
Hello,

I had 3 accounts on Metamask, the extension became sluggish when trying to add a 4th account.

I have disabled/enabled it on chrome's extensions page.

Now the 2 accounts are vanished. Is there a way to restore these? I don't have the private keys to these accounts.

[2018-06-19 19:17] bdresser commented on #4613
@aliparlar if you created them via MetaMask - click "create account" again and you will recreate the same accounts. they're all generated from your seed phrase.

[2018-06-19 19:17] #4613 closed

[2018-06-19 20:43] bdresser commented on #3343
@rafaelboyero thanks for taking this & #3505 on! please let us know if you have any questions.

[2018-06-19 20:46] #3342 closed

[2018-06-19 20:47] bdresser commented on #3315
@MOKAKI this question may be better suited for Stack Exchange or a geth community forum.

[2018-06-19 20:47] #3315 closed

[2018-06-19 20:54] bdresser commented on #4598
also, the "hide account" option people keep asking about is relevant to this conversation (#1658)

[2018-06-19 20:58] bdresser commented on #3321
closing due to inactivity. @vitaliy-kuzmich if you're still having trouble, you might try stack exchange for questions like these.

[2018-06-19 20:58] #3321 closed

[2018-06-19 21:04] #3263 closed

[2018-06-19 21:04] #3262 closed

[2018-06-19 21:09] bdresser commented on #3252
@bitcoinmeetups could you send along a screenshot? and are your font settings more customized than a zoom level different from 100%?

[2018-06-19 21:10] #3223 closed

[2018-06-19 21:13] #3197 closed

[2018-06-19 21:28] nolash commented on #3881
Hangs in same manner on `web3.eth.sign()`. I'm trying the following code:

[code]

After I click "sign" in the metamask popup, the text "invalid message length" briefly shows on the screen before the spinner takes the screen.

... or am I merely wrong to assume that I can sign arbitrary data with metamask?

* web3.js 1.0 (dd55daa6) and 1.0.0-beta.34 (fcf6997d)
* Metamask 4.8.0 and 4.4.0
* Chromium

[2018-06-19 21:40] bdresser commented on #3881
@nolash looks like you might have your params mixed up. check the [API reference](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethsign) and this [example implementation](https://github.com/danfinlay/js-eth-personal-sign-examples/blob/master/index.js).

[2018-06-20 01:52] danfinlay opened #4615 "NewUI Estimating high gas price"
Using v4.8.0, MetaMask estimated 1gwei on old UI then 21 gwei on New UI.

We should make sure we're using the same estimation logic, since it saves users a lot of money.

This visual shows why:
https://danfinlay.github.io/eth-gas-price-visuals/

[2018-06-20 01:56] danfinlay opened #4616 "NewUI: ENS address resolution should not replace ENS name"
Story:

I have an ENS name I want to resolve. Let's say `dinodan.eth`.

In New UI, I click "Send"

In the "to" field, I enter `dinodan.eth`.

There is success! The green check mark appears! But then...

The name is replaced with an address!

I personally prefer if we keep the name, and show the address on hovering over the checkmark, but we might want a design pass of this.

[2018-06-20 02:04] bdresser commented on #4616
if someone takes a look at the address validation logic, check out #4380 as well

[2018-06-20 02:11] danfinlay commented on #4380
I agree, we could save the validation for either:

- on submit
- once the string ens with a tld (should have a period between two non-zero length strings)

[2018-06-20 02:57] mallapurbharat commented on #4136
Yes, the issue is fixed now.

[2018-06-20 05:12] greenkeeper[bot] opened #4618 "An in-range update of testem is breaking the build 🚨"
## Version **2.8.2** of **[testem](https://github.com/testem/testem)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Ftestem-2.8.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <code>[testem](ht

[2018-06-20 05:15] TrejGun commented on #4176
toHex was fixed by web3 team in this commit
https://github.com/ethereum/web3.js/commit/bd6a890bdf44879534f927813e0e84ed2ac44b96

[2018-06-20 09:25] or2008 opened #4619 "detect metamask version?"
I would like to detect if a user uses the Beta version or the old one, is it possible?

[2018-06-20 09:42] aifirst opened #4620 "Can I detect when resubmit in MetaMask?"
I am developing ethereum application with MetaMask.
After sending ethereum transaction to server, I should send hash of transaction to server for confirmation.
But, in MetaMask, there is "resubmit feature" when too long pending.
Then, new transaction(different hash from before) is made. but application cannot detect it nor cannot send hash of new transaction to server.
Is there solution which appl

[2018-06-20 14:22] ashachaf commented on #3425
batch transactions is a web3 standard for sending multiple transactions that design to get executed at a pre defined order https://github.com/ethereum/wiki/wiki/JavaScript-API#batch-requests.

this is the best practice way to send "approve" transaction ahead of another and make sure they are executed in the correct order.

few existing issues on metamast:
1. ignore nonce - we send transactions wit

[2018-06-20 15:39] estebanmino commented on #3034
I'm currently working in a MVP of this feature, so far is auto detecting tokens and adding it automatically to the token list.

@cjeria do you think that adding a "confirm detected token" confirmation to the UI would be useful?

[2018-06-20 15:52] danjm opened #4622 "Convert gas-fee-display-v2.js to follow pattern in the send/ directory"
`gas-fee-display-v2.js` is currently used by a couple confirm components and `send-gas-row`

Soon it will only be used by `send-gas-row`. It should be given its own directory within `send-gas-row/` and refactored to follow the pattern used for the other components in the `send/` directory.

In particular, the `gas-fee-display/` directory should have the following:
- `index.js`
- `gas-fee-display.c

[2018-06-20 15:52] danjm opened #4623 "Amalgamate ‘getCurrentCurrency’ and ‘getConvertedCurrency’"
In `metamask-extension/ui/app/components/send/send.selectors.js`, there are two functions that do the exact same thing: ‘getCurrentCurrency’ and ‘getConvertedCurrency’

One of these should be deleted. All cases where it is used should be updated to use the other.

[2018-06-20 17:17] bdresser commented on #4619
sorry @or2008, that's not currently possible. we don't even have analytics to know how many users are on the new UI vs the old.

out of curiosity, why would you like to detect which UI the user is on?

[2018-06-20 17:17] #4619 closed

[2018-06-20 18:09] bdresser commented on #4563
@Polina97 not currently possible. exposing this level of permission to a web app has some implications for security.

based on your brief description it sounds like this is best handled through your dapp's UI

[2018-06-20 18:09] #4563 closed

[2018-06-20 19:04] #4505 closed

[2018-06-20 19:44] Meshugah commented on #1537
Is this feature out yet?

[2018-06-20 19:45] tmashuang commented on #1537
@Meshugah this is out in the Beta Version of MetaMask.

[2018-06-20 19:56] bdresser commented on #3085
@kumavis looks like the issue you posted has calmed down a lot. is this the same error as https://sentry.io/metamask/metamask/issues/586043430/ ? is there anything we can do here besides #3086 ?

[2018-06-20 20:28] bdresser commented on #2989
since the reset account feature is live on both UIs and seems to clear transaction history, can I bump this down from P1?

[2018-06-20 20:49] bdresser commented on #4589
thanks for reporting @jerry-sl. was this a one-time thing, or are you able to reproduce reliably?

[2018-06-20 22:50] #4553 closed

[2018-06-20 22:57] cjeria commented on #3034
@estebanmino Possibly? Is there a technical reason you think adding a "confirm detected token" button is necessary?

If we do add such button I think the wording should be stated in question form like "Add detected token?". I also think it would be cool if we use a general-purpose card/banner style element that slides in from the bottom that shows this alert, like how the Jaxx wallet shows alert m

[2018-06-20 23:02] bdresser commented on #4553
hey @shad-k, we've accepted @vittominacori's solution and merged #4592. but since we had a bit of a race condition with you claiming the bounty and both of you opening PRs, happy to pay out the sum to each of you.

@vittominacori perhaps you didn't see the post, but please claim the bounty on gitcoin if you're able! it helps us keep track of what's being worked on. feel free to send me an address

[2018-06-20 23:38] fordarnold commented on #4502
I'm having this issue of Firefox... :angry: It seemsto be working in Chrome tho.

[2018-06-20 23:42] Platinumwrist commented on #4502
I'm having leading issue on metamask chrome and it could be network connection signal's are strong and 15 min of trying to connect little frustrating but all worth I believe and suggestions

[2018-06-21 01:51] shad-k commented on #4553
Hi @bdresser, really sorry for the confusion.
I had gone through @vittominacori 's solution, after I had started work, which seemed a little wrong and since he hadn't claimed the bounty I continued my work on it as I wasn't sure if he was still working on it. Seems even he has changed his solution since then and both of our implementations are pretty similar now. Thanks for paying out the bounty d

[2018-06-21 03:41] TrejGun commented on #4622
i'd like to take this issue

[2018-06-21 04:43] scratchfive commented on #4543
Version 4.6.1 of the MetaMask extension for Edge loads properly and works as expected. This is the latest version I can get to work.

[2018-06-21 04:57] berevoescu commented on #3330
It happened to me today. The last sub-account added disappeared.
I followed the tip from @bdresser and it came back. Is this a known bug?

[2018-06-21 06:19] vittominacori commented on #4553
@bdresser I've seen the post but it was "one at same time" bounty and it was useful for my DApp to work on also without bounty.

Thanks for merging my PR.

Sent my address via email. I can't on gitcoin, it is closed.

[2018-06-21 07:17] or2008 commented on #4619
because unfortunately batch requests doesn't work as excepted with the new UI, I wanted to show my users a warning

[2018-06-21 13:16] prographo opened #4631 "Bug - Does not refresh token balances when switching accounts"
Bug.

  *  Expected Behavior
I have the TOKEN tab open, I see a token balance, I switch to another account, the token balance should refresh to reflect the balance in the account I am switching to.
  *  Actual Behavior
It doesn't. Instead it still displays balance of previous account. (To make it refresh I switch to SENT tab then back to TOKEN tab.)
  *  Browser Used
Chrome
  *  Operating System U

[2018-06-21 13:21] greenkeeper[bot] opened #4632 "An in-range update of storybook is breaking the build 🚨"
## Version **3.4.8** of the **storybook** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fmonorepo.storybook-3.4.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <code>storybo

[2018-06-21 17:03] estebanmino commented on #3034
@cjeria for that confirmation I was thinking in an user that hided a token, it  that is done is going to update the tokens again and it's going to appear again. I haven't seen how the hide token option works yet but right now that would happen, I'll check it out, I agree that this would be the best option.

Would be a good option, but my first idea with that banner was, what happen if two or more

[2018-06-21 17:17] bdresser commented on #3034
My hunch is that the "hide token" feature is most often used by people who've added a token they don't have anymore. Or people who added a token by accident.

I'm in favor of just adding the tokens quietly without asking for user confirmation. Based on how people usually ask this question, I think most new users expect this to happen automatically and don't actually understand that token balances

[2018-06-21 17:38] bdresser commented on #4631
Thanks for reporting @prographo. We're in the process of moving our users to a new UI, so we likely won't fix this issue.

It doesn't exist on the beta version of the new UI, so if it bothers you try out the new version by clicking "Try Beta" in the top-right menu

[2018-06-21 17:55] bdresser commented on #3330
@berevoescu yes, we have an open bug bounty to help us track down the root cause of spontaneous storage loss like this (#3314)

[2018-06-21 17:58] berevoescu commented on #3314
It happened to me today. The last sub-account added disappeared.
I followed the tip from @bdresser (https://github.com/MetaMask/metamask-extension/issues/3330) and it came back. I guess one has to remember the exact name of the sub-account to do a restore like this.

[2018-06-21 20:00] rstormsf opened #4635 "Can't select gasPrice when deploying new contract"
Chrome Metamask version: 4.8.0

There are so many issues in this build:
1. Can't select gasPrice when deploying from https://remix.ethereum.org
2. I don't see current gasPrice
![image](https://user-images.githubusercontent.com/9360827/41742403-b0547042-7552-11e8-9a48-412300a06b18.png)
3. Back button is not clickable on the image above(Not CANCEL, **back** on the top)
4. I constantly lose my custom

[2018-06-21 20:14] bdresser commented on #3519
Looks like this happens with any contract deploy, e.g. through remix.ethereum.org.

The old UI still allows gas customization on contract deploy, so I'd recommend using it to deploy new contracts until we're able to get this in.

[2018-06-21 20:19] bdresser commented on #4635
thanks for reporting @rstormsf.

(1 / 2) is a known issue, not new to 4.8.0 (#3519). Gas controls when deploying a contract are still available on the old UI, so I'd recommend you use that for deploys for the time being.

<img width="357" alt="screen shot 2018-06-21 at 1 12 09 pm" src="https://user-images.githubusercontent.com/1016190/41743460-ac301f90-7555-11e8-8877-a64505e30591.png">

(3) thanks

[2018-06-21 20:21] bdresser commented on #4635
ah, sorry - looks slightly different from #3519 so will leave open

[2018-06-21 21:07] snreynolds commented on #3214
I also noticed that the first couple of screens are a bit messed up in the new UI as well. Here is potential fix/update for the screen when users are first connecting to shapeshift.
<img width="729" alt="screen shot 2018-06-21 at 2 01 49 pm" src="https://user-images.githubusercontent.com/30504811/41745609-5ca11220-755c-11e8-9b2a-49bd953c33c5.png">

[2018-06-21 21:20] #3139 closed

[2018-06-21 21:23] meronym commented on #1190
@danfinlay Does the decryption process pose a security risk that substantiates the need for a confirmation window (hence an additional step that potentially breaks the UX flow of the app)? I'm considering the following use case:

Buyer sends a payment tx to the Merchant. The Merchant confirms the payment and recovers Buyer's public key from the tx. The Merchant uses this key to encrypt a passcode

[2018-06-21 21:39] bdresser commented on #4631
actually, duped by #3041

[2018-06-21 21:39] #4631 closed

[2018-06-21 21:41] bdresser commented on #3043
check out [this support article](https://consensys.zendesk.com/hc/en-us/articles/360004135092-Managing-ERC20-Tokens)

[2018-06-21 21:41] #3043 closed

[2018-06-21 21:42] #3040 closed

[2018-06-21 21:43] snreynolds commented on #4623
@danjm Is anyone working on this? Seems easy enough.. so I can take a stab at it.

[2018-06-21 21:45] bdresser commented on #3009
@kalm1975 I recommend you reach out to support@metamask.io and they'll be able to help you with a bit more privacy.

[2018-06-21 21:45] #3009 closed

[2018-06-21 21:48] #2943 closed

[2018-06-21 21:49] bdresser commented on #2948
@AgKook1234 closing this issue due to inactivity. If you've encountered this issue again, or if you can provide more detailed steps to reproduce, please feel free to re-open.

[2018-06-21 21:49] #2948 closed

[2018-06-21 21:58] cjeria commented on #3214
Good catch @snreynolds . Here's a screenshot of how it looks right now. Looks like it can easily be fixed (centered on the screen, padding fixed etc). We have specific react components already in place for pop ups such as this screen, so for now, let's stick to our current defined styles.
![image](https://user-images.githubusercontent.com/597770/41747523-2496f19a-7563-11e8-93b0-17b6fe3b97e0.png)

[2018-06-21 22:00] #2932 closed

[2018-06-21 22:03] bdresser commented on #2911
fixed with #3155

[2018-06-21 22:03] #2911 closed

[2018-06-21 22:03] bdresser commented on #2918
@nipunmax closing this issue due to inactivity. if it's still an issue for you, please feel free to re-open.

[2018-06-21 22:03] #2918 closed

[2018-06-21 22:04] lazaridiscom commented on #4204
@jamespic, @gre, please ensure that you have a look at this (Trezor) solution: #4625

[2018-06-21 22:05] #2908 closed

[2018-06-21 22:07] bdresser commented on #2904
closing due to inactivity. for anyone still reading, it's best to email support@metamask.io for issues with your seed phrase & account recovery.

[2018-06-21 22:07] #2904 closed

[2018-06-21 22:11] cjeria opened #4637 "Shapeshift Modal UI Bug"
Fix shapeshift modal view on both full screen and extension

![image](https://user-images.githubusercontent.com/597770/41748117-54709db0-7565-11e8-978c-6eb364ce04bd.png)

![image](https://user-images.githubusercontent.com/597770/41748084-3395da4c-7565-11e8-973e-034def60d102.png)

[2018-06-21 22:12] cjeria commented on #3214
created a new issue for this UI bug https://github.com/MetaMask/metamask-extension/issues/4637

[2018-06-21 22:13] bdresser commented on #2888
Full discussion on this feature at #714

[2018-06-21 22:14] bdresser commented on #2881
@Onitcha closing this issue due to inactivity. if you are still having trouble, feel free to re-open with more detailed reproduction steps.

[2018-06-21 22:14] #2881 closed

[2018-06-21 22:14] #2866 closed

[2018-06-21 22:16] bdresser commented on #2838
fix was merged in #4592, will be out with the next release

[2018-06-21 22:16] #2838 closed

[2018-06-21 22:20] bdresser commented on #2837
the "DEN" metaphor will be phased out as we move users towards the new UI. thanks for the feedback all!

[2018-06-21 22:20] #2837 closed

[2018-06-21 22:20] #2836 closed

[2018-06-21 22:40] alextsg commented on #4637
@danjm has a fix for this here: https://github.com/MetaMask/metamask-extension/pull/4634

[2018-06-21 22:58] bdresser commented on #2821
@RakeshSainiRk closing this issue due to inactivity. if you're still having trouble, feel free to re-open with more detailed reproduction steps.

[2018-06-21 22:58] #2821 closed

[2018-06-21 22:59] bdresser commented on #2816
closing this issue due to inactivity. if someone is still having trouble, feel free to re-open with more detailed steps to reproduce.

[2018-06-21 22:59] #2816 closed

[2018-06-21 23:02] bdresser commented on #2777
hey @wjmelements closing this issue due to inactivity, but if you experience something similar again please feel free to re-open 😺

[2018-06-21 23:02] #2777 closed

[2018-06-21 23:03] bdresser commented on #2770
hey @beether, closing this issue due to inactivity - if you experience something similar again, please feel free to re-open with detailed steps to reproduce

[2018-06-21 23:03] #2770 closed

[2018-06-21 23:16] bdresser commented on #4620
hey @aifirst - there's no solution to detect a resubmitted transaction, but in general it's best practice to rely on contract events (rather than the tx hash) for this exact reason. [This piece](https://media.consensys.net/technical-introduction-to-events-and-logs-in-ethereum-a074d65dd61e) has a bit more detail.

[2018-06-22 01:39] cjeria opened #4638 "Update Font in Account Selector"
Update font to Roboto. I noticed it's 'DIN-OT'.
![image](https://user-images.githubusercontent.com/597770/41753441-5b295788-7582-11e8-8aa9-bf939c910024.png)

[2018-06-22 06:19] aifirst commented on #4620
Thank you @bdresser, I would use contract event.

[2018-06-22 07:28] weijiekoh opened #4639 "Should display values of EIP712 typed boolean fields in the signing prompt"
**Expected Behavior**
When MetaMask prompts the user to sign EIP-712 typed data, the preview of said data should display values of boolean fields if provided.

**Actual Behavior**
A blank space where one might expect to see "true" or "false". See the screenshot below.

Here is a demo of the bug in action: https://weijiekoh.github.io/js-eth-personal-sign-examples/index.html

This happens in the Bet

[2018-06-22 07:33] weijiekoh commented on #4639
The issue worsens in Firefox 60.0.2:

<img src="https://i.imgur.com/VLmCJPR.png" width=500 />

[2018-06-22 08:13] weijiekoh commented on #4639
The issue on Firefox 60 with the non-beta UI: <img src="https://i.imgur.com/sOUHPLE.png" width=500 />

[2018-06-22 08:47] weijiekoh commented on #4639
Fixed with this PR: https://github.com/MetaMask/metamask-extension/pull/4640

[2018-06-22 10:54] adiade75 opened #4641 "Added to Chrome link button not opening"

[2018-06-22 12:53] prographo commented on #4631
Thanks, I switched to beta, looks very good.

[2018-06-22 12:57] prographo opened #4643 "Empty window instead of Authorisation window"
On remix when deploying a contract to mainnet:

Bug
  *  Expected Behavior
Metamask should popup window to authorise transaction

  *  Actual Behavior
Metamask pops up empty window (I closed window and deployed again - worked - authorisation popup)

  *  Browser Used
Firefox / Metamask BETA.

  *  Operating System Used
Mac

[2018-06-22 13:23] louisdeck opened #4644 "Uncaught (in promise) Error: DappTokenSale has not been deployed to detected network (network/artifact mismatch)"
- Expected Behavior : Correct balance showing up (100 ~)
- Actual behavior : Metamask  shows invalid balance (0) on my private network and blocks loading of my app
- Browser : Google chrome
- Operating System : Windows 10
- Code: https://github.com/dappuniversity/token_sale/tree/95a493d88989a6d4f26d80a75148a4257deced6c

Custom RPC input on Metamask : HTTP://127.0.0.1:7545/ (added / and solved a pr

[2018-06-22 14:01] prographo opened #4645 "Send Token - Formatting and UI issues on Firefox / Apple Mac (BETA)"
I created a custom 'MART' token to test this. Go to the Send Token screen on Metamask BETA.

See attached screenshot #1.

a) It says "insufficient funds", I don't know why - if there is zero, it should say zero - infact there are 1000 MART tokens (which it determined correctly on the screen previous to this).

See attached screenshot #2. -- Once I click "up" arrow on amount field the "insufficient

[2018-06-22 14:07] greenkeeper[bot] opened #4646 "An in-range update of ethereumjs-tx is breaking the build 🚨"
## Version **1.3.5** of **[ethereumjs-tx](https://github.com/ethereumjs/ethereumjs-tx)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fethereumjs-tx-1.3.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td

[2018-06-22 16:35] bdresser commented on #4645
thanks @prographo. we're in the process of refactoring the confirm screen on the new UI so this may be addressed as part of that work (#4404). heads up @alextsg

[2018-06-22 16:56] bdresser commented on #4643
thanks @prographo

also seeing in the add-on console
[code]

just to make sure, you see the confirm screen after clicking the fox in the top-right, correct? and you see the popup display correctly if you close the blank popup and try again?

[2018-06-22 16:57] bdresser commented on #4641
@adiade75 can you provide some more detail about the problem you're experiencing?

[2018-06-22 16:57] #4620 closed

[2018-06-22 17:38] bdresser commented on #2943
@Ryuu92 try clicking "Create Account," which creates the same accounts you used to have in the same order. Lots of explainers in our [support site](https://consensys.zendesk.com/hc/en-us/categories/360000441452-Using-MetaMask) as well.

If you need more help from support@metamask.io, please ping again and mention this issue number. Closing this because we use this board for bugs or feature request

[2018-06-22 18:10] jamespic commented on #4204
Looks like they got around it by roundtripping requests through a HTTPS origin (https://connect.trezor.io). I hadn't given this much attention for Ledger, as it would mean someone would need to host and run that HTTPS site, and I wasn't in a position for it to be me.

It's also got the downside that it won't work offline (so airgapped or other paranoid use cases won't work), but if someone is in a

[2018-06-22 20:37] lazaridiscom commented on #4204
Agreeing here. I don't like the dependency to hosted code at all, so I still prefer the chrome-app-gateway or iframe-gateway as a 1st solution-path (chrome-apps will be disconued at some point).

In any case, I added the trezor-connect solution-path as an 2nd alternative (see #4060), as it seems to be  valid.

This should be something for the Ledger makers, e.g. to adopt the Trezor-Solution (possi

[2018-06-22 21:47] greenkeeper[bot] opened #4650 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **8.2.4** of **[babel-eslint](https://github.com/babel/babel-eslint)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fbabel-eslint-8.2.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>

[2018-06-22 22:08] cjeria commented on #2638
This is related to hardware support PR https://github.com/MetaMask/metamask-extension/pull/4625

[2018-06-23 00:05] greenkeeper[bot] opened #4652 "An in-range update of eth-contract-metadata is breaking the build 🚨"
## Version **1.8.0** of **[eth-contract-metadata](https://github.com/MetaMask/ethereum-contract-icons)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Feth-contract-metadata-1.8.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Depe

[2018-06-23 06:02] wighawag commented on #2000
By the way, swarm is coming with a solution for what I briefly mentioned above :  They call it [Mutable Resource Updates](http://swarm-guide.readthedocs.io/en/latest/usage.html#mutable-resource-updates)

release blog post : https://blog.ethereum.org/2018/06/21/announcing-swarm-proof-of-concept-release-3/

[2018-06-23 07:17] hkegittel commented on #4502
I can confirm blank screen in all versions of Metamask since 4.7. In my case, the browser is Firefox 52.4, running Slackware Linux 14.2 on 64 bit architecture. Reinstalling Metamask 3 eliminates the issue.

[2018-06-23 09:36] DrShanti commented on #1983
for mine; only blank screen appear, no network sign, no loading sign...
![00](https://user-images.githubusercontent.com/30644058/41808145-8bc184ba-7703-11e8-8831-6e198f0aef1b.png)

[2018-06-23 09:54] takeufoni opened #4653 "Account listed twice"
Windows 7 (64bit), Firefox 60.0.2 (64bit), Metamask 4.8.0

In dropdown list of accounts is one account listed twice. Second appeared without any my action. No matter which account is selected  (account 2/1 or account 2/2)  behaviour is same.

![image](https://user-images.githubusercontent.com/40516409/41808282-72b54fd8-76db-11e8-9d03-5fbe80b31e03.png)

[2018-06-23 10:56] mmustafaaslan commented on #3039
I am also looking forward that feature, thanks for creating the request...

[2018-06-23 23:16] danfinlay commented on #1190
We have not solidified the UX for this feature, but we’ll take this point into account when we next discuss it.

[2018-06-24 16:52] nicejoe2121 commented on #3963
Hello, i have the exact same problem with he metamask plugin turning blank when hitting the button in Firefox and in Chrome. I see the case was closed, but i can't seem to read the solution to this problem. Is there a solution ? Or is there another way of accessing the coins that are hosted by metamask ?
thanks

[2018-06-24 17:11] rzelnik commented on #3963
This issue is not closed. The "closed" label belongs to the related Bug in mozzila after last update (14.06).

[2018-06-24 18:47] danfinlay commented on #1983
@DrShanti Please open a new issue or email support at support [at] metamask.io, so we can debug your issue individually. This issue is closed/old, and was probably a different bug.

[2018-06-24 18:52] danfinlay commented on #3963
Hi All, sorry this issue is happening. Our team is on a retreat this week, we very rarely actually see each other in person, and so it is probably unlikely we have time to fix this until next week.

If you need to access your MetaMask wallet until then, you can easily using your seed words. Either set up MetaMask on a different browser (we also support Chrome, Brave, and Opera), or use your seed w

[2018-06-25 01:12] rstormsf commented on #3475
+1

The reason why I need this feature because metamask likes to fail if it didn't get a receipt within 50 blocks.
I'd like to send/broadcast
OR
allow metamask to provide my own broadcaster fn as a parameter.

OR
Lets provide some customizable parameters for:
1. Poll interval for receipt (5-10 sec)
2. Max interval count to poll for receipt (default 50, but allow devs to provide their own)
@kumavis

[2018-06-25 06:11] greenkeeper[bot] opened #4657 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## Version **7.10.0** of **[eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Feslint-plugin-react-7.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependenc

[2018-06-25 07:49] vincentlyy15 opened #4658 "Unable to find Hash Help."
Okay so i've recently gotten meta mask and the first couple of times were completely fine but after a day or so, i tried sending ether to my coinbase wallet, but no matter how many times i try to send it wouldn't work

![eth](https://user-images.githubusercontent.com/40560249/41837070-d198217c-789f-11e8-835a-06df4d074122.PNG)

And i would never get the Hash code
![eth scan](https://user-images.git

[2018-06-25 11:31] Kiilakas opened #4659 "Please confirm your metamask address- what is this? How to fix it?"

[2018-06-25 12:09] fordarnold commented on #4502
@hkegittel doesn't that mean you lose some important (security) features by downgrading to Metamask 3?

[2018-06-25 12:42] danjm opened #4660 "Improve 'Insufficient' error UI on token send screen"
Currently the token send screen displays an "Insufficient Funds" error if the user does not have enough ETH to pay the gas for the token send. This error appears below the label (the left most "column") of the amount row (see screenshot 1 here https://github.com/MetaMask/metamask-extension/issues/4645 )

We need the following improvements:
(1) When sending tokens, errors in the 'Amount' row should

[2018-06-25 12:45] danjm opened #4661 "Hide converted price of token if no conversion rate found"
Currently on the send screen, if we do not have currency conversion data for a token, we show represent the converted amount as 0 in whatever the users selected currency is. For example, see the '$0.00 USD' in the screenshots of https://github.com/MetaMask/metamask-extension/issues/4645

If we do not have currency conversion information, we simply should not show a converted currency.

[2018-06-25 13:10] danjm opened #4662 "Improve UX of gas estimation on send token screen"
Currently, the send token screen estimates gas based on info the user has entered. So, if no recipient address or amount has been entered, we provide the best estimate we can with that info.

If an absence of info provided to [estimateGas](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethestimategas) results in a failed simulation, we provide an estimate based on the `blockGasLimit`, wh

[2018-06-25 13:16] danjm commented on #4645
@prographo Thanks a lot for filing these issues. You are correct that there are a lot of improvements that can be made here:

(b) Is fixed by an already in review PR: https://github.com/MetaMask/metamask-extension/pull/4647

For the other issues you've addressed I have created tickets that outline solutions:

(a) https://github.com/MetaMask/metamask-extension/issues/4660
(c) https://github.com/Met

[2018-06-25 13:44] danjm commented on #4579
I think we can fix this with some minor tweaks to the css.

This modal will be getting a complete design overhaul when we implement the new designs referenced in https://github.com/MetaMask/metamask-extension/issues/3435

[2018-06-25 13:49] danjm commented on #4421
@tmashuang do you still see this issue?

[2018-06-25 13:51] danjm commented on #4380
We already do this. So perhaps we just need to increase the delay on the debounce.

[2018-06-25 13:56] tmashuang commented on #4421
Last time I saw, yes. But I haven't tried it on a different OS. I see it on Ubuntu 18.04.

[2018-06-25 13:58] danjm opened #4663 "When importing an account, we need to clear the error messages after a successful import"
`metamask-extension/ui/app/components/pages/create-account/import-account/json.js` and `metamask-extension/ui/app/components/pages/create-account/import-account/private-key.js` call `importNewAccount` methods and dispatch `displayWarning` actions if those calls throw an error.

However, we do not remove the warnings after a subsequent successful call. This will cause https://github.com/MetaMask/me

[2018-06-25 14:01] danjm commented on #4206
@mryellow Is this on the old-ui or new ui (beta)?

[2018-06-25 14:11] danjm opened #4664 "Refactor to-autocomplete component"
Refactor `to-autocomplete.component.js` to use jsx and es6 class syntax. For clarification, follow the examples of other `.component.js` files in `send/`

This ticket is blocked by https://github.com/MetaMask/metamask-extension/pull/4621/

[2018-06-25 14:15] danjm opened #4665 "Move `removeLeadingZeroes` to `send.utils.js` and add unit test"
Move the `removeLeadingZeroes` method from `metamask-extension/ui/app/components/send/currency-display.js` to `metamask-extension/ui/app/components/send_/send.utils.js` and add a unit test to `metamask-extension/ui/app/components/send_/tests/send-utils.test.js`

[2018-06-25 14:34] danjm opened #4666 "Remove `getGasPrice` and `getGasLimit` from `selectors.js`, replace with `send.selectors.js`"
Currently there are `getGasPrice` and `getGasLimit` methods in both `metamask-extension/ui/app/selectors.js` and `metamask-extension/ui/app/components/send_/send.selectors.js`

Let's delete the methods from `metamask-extension/ui/app/selectors.js` and replace their uses with those in `metamask-extension/ui/app/components/send_/send.selectors.js`

[2018-06-25 16:29] Jurkovic commented on #3313
I faced the same problem with broken UI (after clicking on icon nothing showed up)
Instructions from MetaMask FAQ's did help me:

    Open about:debugging in a new tab
    Scroll down and find the Metamask {Internal UUID} (e.g. 12324c61-abc2-4922-a325-012697643ff5)
    Open moz-extension://{Internal UUID}/popup.html in a new tab and import through the tab

After these steps I was able to open Meta

[2018-06-25 16:35] akumthek commented on #3207
[25th June 2018 Monday 10:04 pm IST] well... i want to transfer my ERC tokens from one acc to other typically web3.eth.accounts[0] to web3.eth.accounts[1] I had hard time finding what the safeTransferFrom call was not working (some BigNumber error) finally realized that I do not have the second account at all !
   I am using reactJs and truffle (development) and have tried with Ganache as well. I

[2018-06-25 18:09] frankiebee commented on #3771
issue was fixed in #2988

[2018-06-25 18:09] #3771 closed

[2018-06-25 19:35] ldub commented on #3475
+1 also need this feature

I've got a backend system updating its own metadata storage after the tx goes through, but in the case of a network partition or other failure after the metamask interaction but before the backend recieves the resulting txHash to watch, the metadata is never updated and the system ends up in a corrupt state. Fixing the metadata manually after such a failure is a huge pai

[2018-06-25 21:56] mryellow commented on #4206
Old-ui.

[2018-06-25 23:50] hkegittel commented on #4502
@fordarnold Sure it does.. but it beats not being able to access the wallet in the meantime, isn't it. Maybe the devs figure this out and fix the problem in future releases.

[2018-06-26 02:28] jayneveu opened #4670 "can't open meta mask !"
![image](https://user-images.githubusercontent.com/40586057/41885636-cf15682a-78c6-11e8-9b86-a6dc9f84a29c.png)

![image](https://user-images.githubusercontent.com/40586057/41885647-e239482c-78c6-11e8-9a2e-49695d8e232f.png)

![image](https://user-images.githubusercontent.com/40586057/41885659-f81a029e-78c6-11e8-86c1-343d506ce0b0.png)

![image](https://user-images.githubusercontent.com/40586057/4188

[2018-06-26 02:29] jayneveu commented on #4670
sorry my browser is in french but that  say  meta mask cant open  - so i refresh in extension then i try re open and do the same thing

[2018-06-26 02:40] jayneveu commented on #4670
I desinstal the app and re install it all work good now that was weird thanks

[2018-06-26 03:12] lazaridiscom commented on #4658
Had you increased the gas when retrying?

(Please try additionally support@metamask.io if you don't get a response here)

[2018-06-26 03:44] lazaridiscom commented on #4596
@nolash , if you still need help with this, you should try to contact support@metamask.io (please expect delays of up to one week).

[2018-06-26 04:25] cppfuns opened #4671 "The EOS chain has been launched. Does MetaMask plan to support it?"

[2018-06-26 04:55] #4670 closed

[2018-06-26 05:45] vincentlyy15 commented on #4658
How much should i increase it by?

[2018-06-26 08:12] nolash commented on #4596
@lazaridiscom ok so it's not a bug then?

[2018-06-26 11:06] codehard-achal commented on #2245
Hi @hamidiHamid , I've been trying to connect testrpc and ether party on the localhost in such a way that any transaction via web3.js with a smart contract on the remix browser is visible on the etherparty. But I'm unable to get both (testrpc and ether party on the same localhost port number for eg. 8545). Have you found a solution to such an approach or can you tell me how can I test out etherpar

[2018-06-26 16:08] safareli opened #4673 "Dapp is still reloaded when network is changed in metamask"
Even tho #4558 is in `4.8.0` changing network still causes reload. I'm using Google Chrome Version 67.0.3396.99 (Official Build) (64-bit) and MetaMask 4.8.0

[2018-06-26 16:37] rekmarks commented on #4673
Closing per #4558.

[2018-06-26 16:37] #4673 closed

[2018-06-26 16:47] louisdeck commented on #4644
I get rid of this error several days ago by adding a "/" at the end of the custom RPC address and this is working fine now (using website instead of the pop-up).

[2018-06-26 19:44] tmashuang commented on #1067
Done here:
https://github.com/MetaMask/metamask-extension/blob/develop/test/e2e/metamask.spec.js#L269-L275

[2018-06-26 19:44] #1067 closed

[2018-06-26 20:46] quantumproducer commented on #3313
@Jurkovic  I tried this, check this out -- the UI is bugged and won't show me the buttons under neath to cancel.

<img width="283" alt="screen shot 2018-06-26 at 16 45 08" src="https://user-images.githubusercontent.com/11827932/41938233-82a01b76-7960-11e8-8633-b6acf96020ee.png">

[2018-06-27 01:34] lazaridiscom commented on #4658
I remember a few times I was lazy, and simply doubled the amount when retrying.

[2018-06-27 04:58] lazaridiscom commented on #4596
Nah, its most possibly on your side.

Maybe you can find hints here: https://ethereum.stackexchange.com/questions/32551/web3-currentprovider-is-undefined-with-metamask

or place a separate question on stackexchange (but post the full code).

[2018-06-27 13:00] UsertJonPizza opened #4676 "Stuck on Generating transaction"

[2018-06-27 19:32] danjm opened #4679 "Tests for confirm screen refactor"

[2018-06-27 20:23] greenkeeper[bot] opened #4681 "An in-range update of ganache-cli is breaking the build 🚨"
## Version **6.1.4** of **ganache-cli** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fganache-cli-6.1.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/tr

[2018-06-27 21:25] greenkeeper[bot] opened #4682 "An in-range update of react-transition-group is breaking the build 🚨"
## Version **2.4.0** of **react-transition-group** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Freact-transition-group-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href

[2018-06-27 21:57] estebanmino commented on #3034
#4683

[2018-06-27 22:02] estebanmino commented on #3034
here is an implementation of this feature, comments are appreciated #4683

[2018-06-28 07:40] jerry-sl commented on #4589
@bdresser  It's not a one-time thing.   But it's hard to reproduce.

**I open two chrome tab each with metamask beta opened.**
￼
![image](https://user-images.githubusercontent.com/5476062/42020102-8bccf3a0-7a7c-11e8-9729-abf4bd2055d7.png)

![image](https://user-images.githubusercontent.com/5476062/42019994-3a73c61e-7a7c-11e8-8b0c-eb7f4c2780b8.png)

[2018-06-28 09:48] larrym3235 opened #4684 "hi all. i am totally new to crypto and meta mask, and in need of some help ."
unable to send funds from my wallet, i am unable to send any funds from my chrome extension meta mask wallet . no matter how much gas i use. it comes back as a failed transaction or still pending . i can receive funds straight away . any help would be greatfull.

[2018-06-28 15:20] lazaridiscom commented on #4659
please provide a little bit more context.

[2018-06-28 16:28] danjm commented on #4424
I can't recreate this, closing for now.

cc @whymarrh

[2018-06-28 16:28] #4424 closed

[2018-06-28 16:29] #4410 closed

[2018-06-28 16:29] #4409 closed

[2018-06-28 16:54] lazaridiscom commented on #4676
Please provide a little bit more info.

[2018-06-28 19:17] tonygustafsson opened #4688 "Chrome desktop apps crashes when signing transactions"
Excepted behavior:
When signing transactions for IDEX I open MetaMask (not opened by itself any longer) and press Sign. I except any other chrome windows to not crash :D

Actual Behavior:
Any chrome apps, like when you save a page to desktop and open it without the address bar and such. They all crash when MetaMask asks for a sign.

Browser used:
Chrome 67

Operating system used: Windows 3.1 (OK W

[2018-06-28 19:39] pakaplace opened #4689 "Trailing .9's when sending whole numbers of ERC-20 tokens"
*  Expected Behavior: Send 50 ERC tokens (e.g. AST) to another account
  *  Actual Behavior: Metamask modal upon send shows 49.9999999999 AST Tokens being sent. However on Etherscan, transaction shows up as 50 AST
  *  Browser Used: Chrome
  *  Operating System Used: Mac 10.12.6

[2018-06-28 20:02] Emiller88 commented on #3963
I have the same issue on 18.04.

[2018-06-28 22:31] lazaridiscom commented on #4671
I've not done my homework re EOS, so I cannot answer even theoretically.

Please have a little patience, you should get an answer from the the devs within a few days.

[2018-06-28 22:37] lazaridiscom commented on #4684
Are you sure you enter all relevant data correctly (possibly a screenshot could help).

Additionally: for this kind of user-level issues, you can contact support@metamask.io to get some help.

[2018-06-28 22:41] lazaridiscom commented on #4688
This sounds like a bug. Please have a few days patience until a core-dev can take a look.

(if possibly: can you name one concrete chrome app that crashes? )

[2018-06-28 22:42] lazaridiscom commented on #4689
@danjm , could this be a bug in the UI?

[2018-06-28 23:40] #3949 closed

[2018-06-28 23:40] #4483 closed

[2018-06-29 03:48] #4662 closed

[2018-06-29 06:11] tonygustafsson commented on #4688
Yes of course. If you make an app off https://www.messenger.com (In chrome More tools > Create shortcut (I think it was named Save to Desktop before). Then run the app and open MetaMask by clicking on the awesome fox - and your app will close.

[2018-06-29 13:59] redskate commented on #3151
Same issue ...

[2018-06-29 14:18] Qqwy opened #4693 "MetaMask does not seem to properly follow JSON-RPC specification"
## Expected Behaviour

The call
[code]

returns

[code]
_(obviously, the actual content string of the message field is not specified by the standard, but something akin to this would probably be the most understandable)_

## Actual Behaviour

This call returns

[code]

This means that MetaMask (or possibly one of its dependencies) does not properly follow the [JSON-RPC Spec](https://www.jsonrpc.or

[2018-06-29 19:33] #4623 closed

[2018-06-29 20:18] ceresstation commented on #3249
Hi @thjnhcolag unfortunately we'll need to give this issue back to the crowd as we haven't heard any updates from you. If you think we've made a mistake please let us know!

[2018-06-29 20:35] greenkeeper[bot] opened #4695 "An in-range update of nock is breaking the build 🚨"
## Version **9.4.0** of **nock** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/MetaMask/metamask-extension/compare/develop...MetaMask:greenkeeper%2Fnock-9.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/nock/nock>nock</

[2018-06-29 22:39] lazaridiscom commented on #4693
https://www.jsonrpc.org/specification#error_object

-|-|-
-- | -- | --
-32601 | Method not found | The method does not exist / is not available.
-32602 | Invalid params | Invalid method parameter(s).
-32603 | Internal error | Internal JSON-RPC error.

You are possibly right, the error code could be a bit more specific (although the standard document is a little bit fuzzy about requirements).

Plea

[2018-06-29 22:48] lazaridiscom commented on #3249
@ceresstation , this issue here is superseded by the (mostly architectural, Ledger focused, but of general validity) #4060 (and interlinked issues), and additionally by the (independent of #4060, Trezor focused, again general validity) practical work within #4625.

@danfinlay , should be possibly closed.

[2018-06-29 22:59] bitpshr commented on #4693
Hi @Qqwy, thanks for taking the time to file this issue. We use the following logic for handling errors in MetaMask:

[code]

Note that we do support the `-32601` error code, but the response coming from the RPC engine ([kumavis/json-rpc-engine](https://github.com/kumavis/json-rpc-engine)) in your example is returning `-32603`.

I've opened up an issue against the RPC engine that you can track her

[2018-06-29 23:20] bitpshr commented on #4693
In hindsight, we should probably leave this issue open as well as a means to verify that the upstream changes to json-rpc-engine are built and released as part of a future MetaMask release.

[2018-06-29 23:45] Qqwy commented on #4693
Thanks for your quick response! I will be tracking the process of this issue and the upstream one :-).

[2018-06-30 19:54] ludosone opened #4697 "Restored by seed words BUT get different set of accounts except for the main account."
I've met this white screen issue:
https://github.com/MetaMask/metamask-extension/issues/1372

and checked lots of solutions but failed to solve the problem, including switch to test nets and get back.

and occasionally I saw this video:
https://www.youtube.com/watch?v=cqz8-hOz_nk

I had the seed words(fortunately)

and I understand that I can restore the origin sets of accounts by the single set o

[2018-06-30 21:05] lazaridiscom commented on #4697
yes

no (at least not intentionally), it's the same standard.

## What you could try

MetaMask HD wallet is standards based, so you can use the seed-words to

* install MetaMask in another Browser, try the recreation there

* recreated your accounts in any other Eth HD wallet, see https://github.com/MetaMask/metamask-extension/issues/1372#issuecomment-334561203  for example wallets)

* If you know

[2018-07-01 15:12] heavymossman commented on #3245
I have the same problem on Windows 10? Please help??!

[2018-07-01 18:37] WillBeebe commented on #3505
Babel can transpile const and let for sure, you just need to set the right target. It will even add `"use strict"` to the top of the file.

[2018-07-01 20:29] MoMannn commented on #1658
+1

[2018-07-01 20:31] MoMannn commented on #2638
+1

[2018-07-01 23:30] ceresstation commented on #3249
@lazaridiscom thanks for clarifying that

@danfinlay I see you're marked as the funder, would you be willing to close this bounty and reopen it on #4060? Much appreciated!

[2018-07-02 00:16] Qqwy opened #4698 "MetaMask's currentProvider does not support `web3_sha3`"
Request:
[code]
(This is the [web3_sha3 example](https://github.com/ethereum/wiki/wiki/JSON-RPC#web3_sha3) taken from the JSON-RPC page)

## Expected Behaviour

Response:
[code]

## Actual Behaviour

Response:
[code]
----

Clearly, this is not supported.
`web3.sha3("hello world")` _does_ work, but obviously this is deprecated since everything except `web3.currentProvider` will stop to work at some

[2018-07-02 00:21] TrejGun commented on #4665
i'd like to work on this

[2018-07-02 01:45] danielhtht opened #4700 "CANT GET MY DEBITUM.Network tokens"
I HAVE CONNECTED MY METAMASK TO MY ETHER WALLET AND TRIED TO TRANSFER MY TOKENS TO AN EXCHANGE BUT THE TRANSFER NEVER GETS DONE, I HAVE TRIED WITH ALL THE GAS PRICES AND YES I DO HAVE ETH TO PROCESS THE TRANSFER

[2018-07-02 11:49] jamespic commented on #4060
It looks like the Chromium devs would be more open to making WebUSB available to extensions than U2F. Looking at the discussion on https://bugs.chromium.org/p/chromium/issues/detail?id=770896, the issue for adding WebUSB support, it looks like they'd like to add it, but there's some dev work to do.

I imagine they'd be more open to a pull request implementing it, that they would be for U2F.

[2018-07-02 12:53] k06a opened #4704 "Infinite list of account"
I can't discover account I imported earlier and see infinite list of accounts, also can't readd this account.

Version: 4.8.0

[2018-07-02 17:01] thjnhcolag commented on #3905
[Gridcoin Colours.pdf](https://github.com/MetaMask/metamask-extension/files/2156090/Gridcoin.Colours.pdf)

[2018-07-02 18:22] snreynolds opened #4705 "Entering RPC URL doesn't change network"

[2018-07-02 18:23] snreynolds commented on #4705
Clicking "save" doesn't do anything... about the 3rd time this has happened to me.

<img width="354" alt="screen shot 2018-07-02 at 11 21 57 am" src="https://user-images.githubusercontent.com/30504811/42179985-5ab43a6e-7dea-11e8-9568-13791680a1b9.png">

[2018-07-02 18:26] SCXXX1234 opened #4706 "METAMASK (FAILED), Etherscan (success), Funds gone, But where?"
Hi everyone,

Metamask says my transaction is failed, but my tokens are gone, and etherscan says success, but the tokens don't appear in the exchange wallet I deposited them into....I even did a test transaction before this that worked.

This is the TX i am talking about https://etherscan.io/tx/0xed83aef79c6c1fcad85b523a96b127c5b9c65bace2b4fb8e9049fac5949da65f

Sam

[2018-07-02 18:46] bdresser commented on #4705
@snreynolds check if you can scroll up? sometimes there are validation errors that only appear at the top of this screen, so it seems like nothing is happening.

[2018-07-02 18:47] tomhschmidt opened #4707 "Updating eth-contract-metadata"
How often does Metamask update which version of eth-contract-metadata it uses? https://github.com/MetaMask/eth-contract-metadata

I added ZRX to the eth-contract-metadata repo a few months ago, but it still isn't showing up in the latest version of Metamask.

[2018-07-02 18:48] snreynolds commented on #4705
@bdresser -- Scrolled up and nothing appears. Also, this happens in the OLD UI as well.. It will connect to the private network only when I click out of MetaMask and then open it up again. Even then, the accounts from ganache don't show up with the 100ETH.

[2018-07-02 18:59] brunobar79 commented on #4646
Closing this in favor of #4708

[2018-07-02 18:59] bdresser commented on #4705
hmm interesting @snreynolds. can you check if you already have `http://127.0.0.1:7545` in your network dropdown?

the ganache bug has been reported in #3245 but i've never been able to reproduce. could you send thomas and me your state logs via slack? not sure there'll be anything useful in there but can't hurt.